<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Full Features</h2>
 <section id="product-full_features" class="mobile-wrapper-content product-specs section-top product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper--full">
     <div class="clearfix">
        
       <div class="grid__item large--one-whole text-center">
         <!--<h4 class="alt dark-grey">HeadLamp Features BioLite's Proprietary 3D SlimFit Construction</h4>-->
         <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/3dslimfit_logo-01.svg?16175231919298999734" class="slimfit-features" alt="3d Slimfit Construction" title="3d Slimfit Construction">
       </div>
       
       <div class="grid__item large--one-third medium--one-whole small--one-whole text-center">
          <div class="headlamps-models-headlines text-center">
            <div class="headlamps-models-headlines">            
              <i class="icomoon icon-number-01 headlamps-models-headlines-ico primary"></i>
		<h4 class="headlamps-models-headlines-main bold gray-warm">Flush Front</h4> 
              <p class="headlamps-models-headlines-desc light dark-grey">No Bounce, Sits Flat</p>
            </div>
         <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/flushFront_model.png?9658767308881297953" class="headlamp-models" alt="Flush Front" title="Flush Front">
         </div>
       </div>
       
        <div class="grid__item large--one-third medium--one-whole small--one-wholee text-center">
          <div class="headlamps-models-headlines text-center">
          <div class="headlamps-models-headlines">            
              <i class="icomoon icon-number-02 headlamps-models-headlines-ico primary"></i>
		<h4 class="headlamps-models-headlines-main bold gray-warm">Better Balance</h4> 
              <p class="headlamps-models-headlines-desc light dark-grey">Grams Redistributed For Weightless Feel</p>
            </div>
         <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/betterBalance_model.png?7256019387164691633" class="headlamp-models" alt="Better Balance" title="Better Balance">
         </div>
       </div>
       
      <div class="grid__item large--one-third medium--one-whole small--one-whole text-center">
          <div class="headlamps-models-headlines text-center">
       <div class="headlamps-models-headlines">            
              <i class="icomoon icon-number-03 headlamps-models-headlines-ico primary"></i>
		<h4 class="headlamps-models-headlines-main bold gray-warm">Smart Fabrics</h4> 
              <p class="headlamps-models-headlines-desc light dark-grey">Moisture Wicking &amp; No Abrasion Points</p>
            </div>
         <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/smartFabrics_model.png?7256019387164691633" class="headlamp-models" alt="Smart Fabrics" title="Smart Fabrics">
         </div>
       </div>
       
       
     </div>
   </div>
 </section>
</div>
