<div class="mobile-wrapper closed">
 <h2 class="mobile-title">3D Slimfit</h2>
 <section id="product-full_features" class="mobile-wrapper-content product-specs section-top product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper--full">
     <div class="clearfix">
        
       <div class="grid__item large--one-whole text-center">
         <!--<h4 class="alt dark-grey">HeadLamp Features BioLite's Proprietary 3D SlimFit Construction</h4>-->
         <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/3dslimfit_logo-01.svg?16175231919298999734" class="slimfit-features" alt="3d Slimfit Construction" title="3d Slimfit Construction">
       </div>
       
       <div class="grid__item large--one-third medium--one-whole small--one-whole text-center">
          <div class="headlamps-models-headlines text-center">
            <div class="headlamps-models-headlines">            
              <i class="icomoon icon-number-01 headlamps-models-headlines-ico primary"></i>
		<h4 class="headlamps-models-headlines-main bold gray-warm">No Bounce</h4> 
              <p class="headlamps-models-headlines-desc light dark-grey">Housing integrates directly into the band for a flush front that sits flat and stays put. </p>
            </div>
         <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/3dSlimfit_template_1.png?v=1581022205" class="headlamp-models" alt="No Bounce" title="No Bounce">
         </div>
       </div>
       
        <div class="grid__item large--one-third medium--one-whole small--one-wholee text-center">
          <div class="headlamps-models-headlines text-center">
          <div class="headlamps-models-headlines">            
              <i class="icomoon icon-number-02 headlamps-models-headlines-ico primary"></i>
		<h4 class="headlamps-models-headlines-main bold gray-warm">Stay Cool &amp; Dry</h4> 
              <p class="headlamps-models-headlines-desc light dark-grey">Moisture-wicking technical fabric is ready to handle any activity.</p>
            </div>
         <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/3dSlimfit_template_2.png?v=1581022205" class="headlamp-models" alt="Stay Cool And Dry" title="Stay Cool And Dry">
         </div>
       </div>
       
      <div class="grid__item large--one-third medium--one-whole small--one-whole text-center">
          <div class="headlamps-models-headlines text-center">
       <div class="headlamps-models-headlines">            
              <i class="icomoon icon-number-03 headlamps-models-headlines-ico primary"></i>
		<h4 class="headlamps-models-headlines-main bold gray-warm">Near-Weightless Feel</h4> 
              <p class="headlamps-models-headlines-desc light dark-grey">50 grams distributed across the band keeps the pressure off.</p>
            </div>
         <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/3dSlimfit_template_3.png?v=1581022205" class="headlamp-models" alt="Near-Weightless Feel" title="Near-Weightless Feel">
         </div>
       </div>
       
       
     </div>
   </div>
 </section>
</div>
