<div class="mobile-wrapper closed">
 <h2 class="mobile-title">3D Slimfit</h2>
 <section id="product-full_features" class="mobile-wrapper-content product-specs section-top product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div class="product-specs__bottom clearfix">
          
       
       <div class="grid__item push--large--one-eighth large--six-eighths">
       <div class="grid__item large--one-half">
 <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/3DSlimfitLogo_2020-01.svg?v=1599504931" class="slimfit-logo-new" alt="3D Slimfit Logo" title="3D Slimfit Logo">
            <h6 class="">Fit As A Factor Of Performance</h6>
            <p class="light gray-warm">When you’re doing big things, your headlamp should light the way, not get in the way. 
              Our proprietary construction method solves for that.
<br><br>
              By <strong>integrating electronics</strong> directly into the band, we create a <strong>flush low-profile</strong> front with no bounce.
<br><br>
      The rear power unit <strong>distributes weight</strong> and keeps pressure off your forehead while <strong>moisture-wicking band</strong> keeps you cool and dry.

</p>
       
         
       </div>
       
       <div class="grid__item large--one-half">
         <img class="hl750-tech-img" src="https://cdn.shopify.com/s/files/1/0666/9741/files/HeadLamp750_exploded-01.png?v=1599505121" alt="HeadLamp 750 3D Slimfit Technology" title="HeadLamp 750 3D Slimfit Technology">
       </div>
       </div>
   
       
     </div>
   </div>
 </section>
</div>
