<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Accessories &amp; Bundles</h2>
 <section id="product-specs" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div id="product-specs-new" class="wrapper wrapper--large wrapper--max_height">
       <h4 class="text-center alt mb0">Complete Your Cooking Experience With FirePit Accessories</h4>
       <p class="text-center mb10"><strong>Get 10% off</strong> when you buy 4 or more FirePit products (FirePit included)</p>
<div class="related-products mb30">
 {% if product.metafields.recommendations.productHandles %}

   <div id="product-accessories" class="related-products">
   </div>

 {% endif %}
</div> 
       

       
       <div class="related-products mt30">
  
   <h4 class="text-center alt mb10 mt50">Can’t Decide? Choose One Of Our Pre-Built Bundles</h4>
       
          <div id="" class="grid__item push--large--two-eighths">
  

         
         
 <div class="grid__item large--one-quarter medium--one-half small--one-half large--mb40 upsell-image-third">
 <div class="upsell-cart-large">
  <a href="/products/firepit-cooking-kit">
<img src="https://cdn.shopify.com/s/files/1/0666/9741/files/CookingKit_ShopMain.png?v=1603293224" class="upsell-image" alt=""></a>
   <div class="you-save" style="border:0px !important;">
        <span class="left-side-long">SAVE 10%</span> 
      </div>
    <span class="upsell-product-title">FirePit Cooking Kit</span>
      

     <div id="" class="grid__item large--one-half upsell-button large--text-right">
  <button title="add FirePit Complete Kit to cart" tabIndex="0" type="submit" name="add" id="" class="btn-tiny btn-tiny-outline-primary cart-item--add" data-product-variant="33188055122019">
               <span>Add</span>
             </button>   
   </div>
      <div id="" class="grid__item large--one-half medium--one-whole small--one-whole upsell-price large--text-left">
    <span class="upsell-product-price">$373.28</span>
   <span class="upsell-product-price-compare">$414.75</span>
   </div>
  </div>
</div>      
         
          
            <div class="grid__item large--one-quarter medium--one-half small--one-half large--mb40 upsell-image-third">
 <div class="upsell-cart-large">
  <a href="/products/firepit-cook-accessory-set">
<img src="https://cdn.shopify.com/s/files/1/0666/9741/files/FirePitCookAccessorySet_ShopMain.png?v=1603289959" class="upsell-image" alt=""></a>
   <div class="you-save" style="border:0px !important;">
        <span class="left-side-long">SAVE 10%</span> 
      </div>
    <span class="upsell-product-title">FirePit Cook Accessory Set</span>
      

     <div id="" class="grid__item large--one-half upsell-button large--text-right">
  <button title="add FirePit Complete Kit to cart" tabIndex="0" type="submit" name="add" id="" class="btn-tiny btn-tiny-outline-primary cart-item--add" data-product-variant="33188064198755">
               <span>Add</span>
             </button>   
   </div>
      <div id="" class="grid__item large--one-half medium--one-whole small--one-whole upsell-price large--text-left">
    <span class="upsell-product-price">$142.04</span>
   <span class="upsell-product-price-compare">$157.80</span>
   </div>
  </div>
</div>             
            
            
   
         
     
         
       </div>
       
       </div>
     </div>
   </div>    
 </section>
</div>




