   <div class="doorbuster-wrapper">
             	<div class="grid__item large--two-fifths medium--one-quarter small--one-quarter">
                  <img class="doorbuster-img" src="https://cdn.shopify.com/s/files/1/0666/9741/files/SunLight_Hat.png?v=1574866959" alt="SunLight + Hat">
             </div>
             <div class="grid__item large--three-fifths medium--three-quarters small--three-quarters">
             <span class="doorbuster-title">DOORBUSTER DEAL SOLD OUT</span> 
               <p class="doorbuster-detail">Today's Doorbuster Offer is gone but you can still <strong>save 25%</strong> on all in-stock items. </p>
              <div class="doorbuster-add-to-cart">
             </div>
      </div>
          
          </div>