   <div class="upsell-section">
     <span class="upsell-title">Upgrade To A Bundle And Save</span>
       <div class="grid__item large--one-third" id="upsell-image-third">
         <img src="https://cdn.shopify.com/s/files/1/0666/9741/products/CampStove2Bundle_1_grande.jpg?v=1486678191" class="upsell-image" alt="">
     </div>
     
      <div class="grid__item large--two-thirds" id="upsell-details">
     <span class="upsell-product-title">CampStove 2 Bundle</span>
      <span class="upsell-product-desc">Includes KettlePot &amp; Portable Grill</span>
      <div class="upsell-cart">
        <a href="/products/solarpanel-5-plus" class="btn-tiny btn-tiny-primary"> <span>Add</span> </a>
      <span class="upsell-product-price">$199.95</span>
        </div>

     </div>

       </div>
