<div class="mobile-wrapper closed product-compare-bundle--{{ product.handle | remove: 'biolite-'  }}">
 <h2 class="mobile-title">Charge Times</h2>
 <section id="product-compare-bundle" class="product-compare-bundle product-compare-bundle--{{ product.handle | remove: 'biolite-'  }} mobile-wrapper-content">
	 <div class="product-compare-bundle wrapper wrapper--full_height wrapper--large">
           <h6 class="primary alt mt0 mb30 text-center">Time Needed To Charge Devices*</h6>

<table class="compare-table-bundle table-with-footer">
  <thead>
    <tr style="background-color:#fff;">
      <th class="border-bottom pb20">
             <span class="icomoon icon-gopro charge-table pt30"></span>
         <span class="mt20"><strong>GoPro Hero 5</strong></span>
      </th> 
      <th class="border-bottom pb20">
             <span class="icomoon icon-phone charge-table pt30"></span>
         <span class="mt20"><strong>Smartphone</strong></span>
      </th>
      
       
         <th class="border-bottom pb20">
             <span class="icomoon icon-battery charge-table pt30"></span>
         <span class="mt20"><strong>On-Board 3200mAh Battery</strong></span>
      </th>
       <th class="border-bottom pb20">
             <span class="icomoon icon-tablet-01 charge-table pt30"></span>
         <span class="mt20"><strong>iPad Mini</strong></span>
      </th>
        <th class="border-bottom pb20">
             <span class="icomoon icon-baselantern charge-table pt30"></span>
         <span class="mt20"><strong>BioLite BaseLantern</strong></span>
      </th>
       
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><strong>0.5 Hours </strong></td>
      <td><strong>1 Hour </strong></td>
      <td><strong>1.2 Hours </strong></td>
      <td><strong>2.3 Hours </strong></td>
      <td><strong>3.1 Hours </strong></td>

    </tr>
 
  </tbody>

</table>
       
<p class="gray-warm light mt30 text-center"><em>*Based on peak sun. Charge times may vary.</em></p>



<!-- Mobile Tables -->
      
              <table class="table-with-footer-bundle compare-table-bundle-mobile" style="border:0px solid #fff;margin-bottom:0px;">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
             <span class="icomoon icon-gopro charge-table pt30"></span>
        
         <span class=""><strong>GoPro Hero 5</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><span style="text-align:center">0.5 Hours</span></td>    
    </tr>
 
  </tbody>

</table> 
       
       <table class="table-with-footer-bundle compare-table-bundle-mobile" style="border:0px solid #fff;margin-bottom:0px;">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
             <span class="icomoon icon-phone charge-table pt30"></span>
        
         <span class=""><strong>Smartphone</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><span style="text-align:center">1 Hour</span></td>    
    </tr>
 
  </tbody>

</table>
       

       
       <table class="table-with-footer-bundle compare-table-bundle-mobile" style="border:0px solid #fff;margin-bottom:0px;">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
             <span class="icomoon icon-battery charge-table pt30"></span>
        
         <span class=""><strong>On-Board 3000mAh Battery</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><span style="text-align:center">1.2 Hours</span></td>    
    </tr>
 
  </tbody>

</table>   
       
                            <table class="table-with-footer-bundle compare-table-bundle-mobile" style="border:0px solid #fff;margin-bottom:0px;">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
             <span class="icomoon icon-tablet-01 charge-table pt30"></span>
        
         <span class=""><strong>iPad Mini</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><span style="text-align:center">2.3 Hours</span></td>    
    </tr>
 
  </tbody>

</table>  

              <table class="table-with-footer-bundle compare-table-bundle-mobile" style="border:0px solid #fff;margin-bottom:0px;">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
             <span class="icomoon icon-baselantern charge-table pt30"></span>
        
         <span class=""><strong>BioLite BaseLantern</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><span style="text-align:center">3.1 Hours</span></td>    
    </tr>
 
  </tbody>

</table>         

       

       


    
       



	 </div>
 </section>
</div>
