<div class="mobile-wrapper closed product-compare-bundle--{{ product.handle | remove: 'biolite-'  }}">
 <h2 class="mobile-title">Charge Times</h2>
 <section id="product-compare-bundle" class="product-compare-bundle product-compare-bundle--{{ product.handle | remove: 'biolite-'  }} mobile-wrapper-content">
	 <div class="product-compare-bundle wrapper wrapper--full_height wrapper--large">
<table class="compare-table-bundle table-with-footer">
  <thead>
    <tr style="background-color:#fff;">
       <th class="border-bottom pb20">
             <span class="icomoon icon-phone charge-table pt30"></span>
         <span class="mt20"><strong>Smartphone</strong></span>
      </th>
      
       <th class="border-bottom pb20">
             <span class="icomoon icon-gopro charge-table pt30"></span>
         <span class="mt20"><strong>Action Camera</strong></span>
      </th>
         <th class="border-bottom pb20">
             <span class="icomoon icon-tablet-01 charge-table pt30"></span>
         <span class="mt20"><strong>Tablet</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><strong>4x </strong>Charges</td>
      <td><strong>4-6x </strong>Charges</td>
      <td><strong>1x </strong> Charge</td>

    </tr>
 
  </tbody>

</table>


<!-- Mobile Tables -->
       
       <table class="table-with-footer-bundle compare-table-bundle-mobile" style="border:0px solid #fff;margin-bottom:0px;">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
             <span class="icomoon icon-phone charge-table pt30"></span>
        
         <span class=""><strong>Smartphone</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><span style="text-align:center">4x Charges</span></td>    
    </tr>
 
  </tbody>

</table>

       

       <table class="table-with-footer-bundle compare-table-bundle-mobile" style="border:0px solid #fff;margin-bottom:0px;">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
             <span class="icomoon icon-gopro charge-table pt30"></span>
        
         <span class=""><strong>Action Camera</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
 <td><strong>4-6x </strong>Charges</td>    
    </tr>
 
  </tbody>

</table>

       <table class="table-with-footer-bundle compare-table-bundle-mobile" style="border:0px solid #fff;margin-bottom:0px;">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
             <span class="icomoon icon-tablet-01 charge-table pt30"></span>
        
         <span class=""><strong>Tablet</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><strong>1x</strong> Charge</td>    
    </tr>
 
  </tbody>

</table>      
       



	 </div>
 </section>
</div>
