<div class="mobile-wrapper closed product-compare--{{ product.handle | remove: 'biolite-'  }}">
 <h2 class="mobile-title">Compare</h2>
 <section id="product-compare" class="product-compare product-compare--{{ product.handle | remove: 'biolite-'  }} mobile-wrapper-content">
	 <div class="product-compare wrapper wrapper--full_height wrapper--large">
     {% include "compare-table" %}
	 </div>
 </section>
</div>
