<table class="compare-table">
  <thead>
    <tr>
      <th>Product</th>
      <th class="active">Biolite PowerLight Mini</th>
      <th>Snow Peak Mini Hozuki</th>
      <th>Black Diamond Orbit Lantern</th>
      <th>Goal Zero Venture 30 Recharger</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Price</td>
      <td>$44.95</td>
      <td>$39.95</td>
      <td>$29.95</td>
      <td>$99.95</td>
    </tr>
    <tr>
      <td>Weight</td>
      <td>2.82 oz</td>
      <td>3.6 oz</td>
      <td>4.6 oz</td>
      <td>8.8 oz</td>
    </tr>
    <tr>
      <td>Lumens</td>
      <td>135 Lm</td>
      <td>60 Lm</td>
      <td>105 Lm</td>
      <td>110 Lm</td>
    </tr>
    <tr>
      <td>Battery</td>
      <td>Rechargeable Li-ion</td>
      <td>3 AAA</td>
      <td>4 AAA</td>
      <td>Rechargeable Li-ion</td>
    </tr>
    <tr>
      <td>USB Charge Out</td>
      <td>Yes</td>
      <td>No</td>
      <td>No</td>
      <td>No</td>
    </tr>
    <tr>
      <td>Lighting Modes</td>
      <td><span>4</span> <span> white lantern, red night vision, strobe, point light</span></td>
      <td><span>1</span> <span> flashlight</span></td>
      <td><span>2</span> <span> flashlight and lantern</span></td>
      <td><span>1</span> <span> flashlight</span></td>
    </tr>
    <tr>
      <td>Bike Mount</td>
      <td>Yes</td>
      <td>No</td>
      <td>No</td>
      <td>No</td>
    </tr>
    <tr>
      <td>Dimmable</td>
      <td>Yes</td>
      <td>Yes</td>
      <td>Yes</td>
      <td>No</td>
    </tr>
    <tr>
      <td>Burnt Time</td>
      <td>
        <span>52 hrs(LO)</span>
        <span>5 hrs(HI)</span>
      </td>
      <td>
        <span>70 hrs(LO)</span>
        <span>40 hrs(HI)</span>
      </td>
      <td>
        <span>12 hrs(lantern)</span>
        <span>15 hrs(flashlight)</span>
      </td>
      <td>n/a</td>
    </tr>
    <tr>
      <td></td>
      <td class="active"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>


<table class="compare-table-mobile">
  <thead>
    <tr>
      <th>Product</th>
      <th class="active">Biolite PowerLight Mini</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Price</td>
      <td><span>$44.95</span></td>
    </tr>
    <tr>
      <td>Weight</td>
      <td><span>2.82 oz</span><span class="fa fa-check fa-circular"></span></td>
    </tr>
    <tr>
      <td>Lumens</td>
      <td>135 Lm <span class="fa fa-check fa-circular"></span></td>
    </tr>
    <tr>
      <td>Battery</td>
      <td>Rechargeable Li-ion <span class="fa fa-check fa-circular"></span></td>
    </tr>
    <tr>
      <td>USB Charge Out</td>
      <td>Yes <span class="fa fa-check fa-circular"></span></td>
    </tr>
    <tr>
      <td>Lighting Modes</td>
      <td><span>4</span> <span> white lantern, red night vision, strobe, point light</span> <span class="fa fa-check fa-circular"></span></td>
    </tr>
    <tr>
      <td>Bike Mount</td>
      <td>Yes <span class="fa fa-check fa-circular"></span></td>
    </tr>
    <tr>
      <td>Dimmable</td>
      <td>Yes <span class="fa fa-check fa-circular"></span></td>
    </tr>
    <tr>
      <td>Burnt Time</td>
      <td>
        <span>52 hrs(LO)</span>
        <span>5 hrs(HI)</span>
        <span class="fa fa-check fa-circular"></span>
      </td>
    </tr>
  </tbody>
</table>

<table class="compare-table-mobile">
  <thead>
    <tr>
      <th>Product</th>
      <th>Snow Peak Mini Hozuki	</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Price</td>
      <td><span>$39.95</span></td>
    </tr>
    <tr>
      <td>Weight</td>
      <td><span>3.6 oz</span><span class="fa fa-check fa-circular"></span></td>
    </tr>
    <tr>
      <td>Lumens</td>
      <td>60 Lm <span class="fa fa-check fa-circular"></span></td>
    </tr>
    <tr>
      <td>Battery</td>
      <td>3 AAA <span class="fa fa-check fa-circular"></span></td>
    </tr>
    <tr>
      <td>USB Charge Out</td>
      <td>No <span class="fa fa-check fa-circular"></span></td>
    </tr>
    <tr>
      <td>Lighting Modes</td>
      <td>1 flashlight <span class="fa fa-check fa-circular"></span></td>
    </tr>
    <tr>
      <td>Bike Mount</td>
      <td>No <span class="fa fa-check fa-circular"></span></td>
    </tr>
    <tr>
      <td>Dimmable</td>
      <td>Yes <span class="fa fa-check fa-circular"></span></td>
    </tr>
    <tr>
      <td>Burnt Time</td>
      <td>
        <span>70 hrs(LO)</span>
        <span>40 hrs(HI)</span>
        <span class="fa fa-check fa-circular"></span>
      </td>
    </tr>
  </tbody>
</table>

<!-- Mobile Tables -->

<table class="compare-table-mobile">
  <thead>
    <tr>
      <th>Product</th>
      <th class="active">Black Diamond Orbit Lantern</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Price</td>
      <td><span>$29.95</span></td>
    </tr>
    <tr>
      <td>Weight</td>
      <td><span>4.6 oz</span><span class="fa fa-check fa-circular"></span></td>
    </tr>
    <tr>
      <td>Lumens</td>
      <td>105 Lm <span class="fa fa-check fa-circular"></span></td>
    </tr>
    <tr>
      <td>Battery</td>
      <td>4 AAA <span class="fa fa-check fa-circular"></span></td>
    </tr>
    <tr>
      <td>USB Charge Out</td>
      <td>No <span class="fa fa-check fa-circular"></span></td>
    </tr>
    <tr>
      <td>Lighting Modes</td>
      <td>2 flashlight and lantern <span class="fa fa-check fa-circular"></span></td>
    </tr>
    <tr>
      <td>Bike Mount</td>
      <td>No <span class="fa fa-check fa-circular"></span></td>
    </tr>
    <tr>
      <td>Dimmable</td>
      <td>Yes <span class="fa fa-check fa-circular"></span></td>
    </tr>
    <tr>
      <td>Burnt Time</td>
      <td>
        <span>12 hrs(lantern)</span>
        <span>15 hrs(flashlight)</span>
        <span class="fa fa-check fa-circular"></span>
      </td>
    </tr>
  </tbody>
</table>
