<div class="mobile-wrapper closed product-compare--{{ product.handle | remove: 'biolite-'  }}">
 <h2 class="mobile-title">Compare</h2>
 <section id="product-compare" class="product-compare product-compare--{{ product.handle | remove: 'biolite-'  }} mobile-wrapper-content">
	 <div class="product-compare wrapper wrapper--full_height wrapper--large">
<table class="compare-table table-with-footer">
  <thead>
    <tr>
      <th></th>
      <th class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/files/image_06.jpg?13024226827037342026" alt="BioLite CookStove" title="BioLite CookStove"/>
        <span>BioLite CookStove</span>
      </th>
      <th class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/files/image_03.jpg?13024226827037342026" alt="BioLite CampStove" title="BioLite CampStove"/>
        <span>BioLite CampStove</span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Price</td>
      <td>$99.95</td>
      <td>$129.95</td>
      
    </tr>
    <tr>
      <td>Weight</td>
      <td>1.6 lbs (25 oz)</td>
      <td>2.06 lbs (33 oz)</td>
      
    </tr>
    <tr>
      <td>Ideal For</td>
      <td>Cooking/Boiling, Portable Campfire</td>

      <td>Cooking/Boiling, Portable Campfire, Device Charging </td>
    </tr>
    <tr>
      <td>Power Source/ Run Time</td>
      <td>Battery powered - 30 hours per charge</td>

      <td>Thermoelectricity - unlimited run time</td>
    </tr>
    <tr>
      <td>Interface</td>
       <td>
        <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/cookstove_UI-01.svg?11183406611098504519" style="width:170px; padding-top:20px;" alt="cookstove" title="cookstove" />
        <ol style="display:block; margin-left: auto; margin-right:auto; width:70%; text-align: left;" class="li-number-bold">
          <li>Battery Life indicator</li>
          <li>Power Button</li>
          <li>Fan Speed indicator</li>
        </ol>
      </td>
      
      <td>
        <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/campstove_UI-01.svg?11183406611098504519" style="width:170px; padding-top:20px;" alt="campstove" title="campstove" />
        <ol style="display:block; margin-left: auto; margin-right:auto; width:70%; text-align: left;" class="li-number-bold">
          <li>Power Button</li>
          <li>Fan Speed indicator</li>
          <li>Charge Out indicator</li>
          <li>USB Charge Out Port</li>
        </ol>
      </td>
     
    </tr>
 
      <tr>
      <td>Fan Speeds</td>
      <td>(4) Campfire, Simmer, Boil, Turbo</td>
	  <td>(2) Lo, Hi</td>
    </tr>
  </tbody>
    
  <tfoot>
    <tr>
      <td>Fuel</td>
      <td colspan="2">Renewable biomass - (twigs,pinecones, wood pellets, etc.)</td>
    </tr>
    <tr>
      <td>Boil Time</td>
      <td colspan="2">4.5 mins to boil 1 liter of water</td>
    </tr>
    <tr>
      <td>Smokeless Flames</td>
      <td colspan="2">Yes</td>
    </tr>
    <tr>
      <td>Packed Size</td>
      <td colspan="2"><img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/files/image_19.jpg?5658755135103578074" alt="Packed Size" title="Packed Size" /></td>
    </tr>
    <tr>
      <td>Compatible Accessories</td>
      <td colspan="2">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/files/image_23.jpg?5658755135103578074" alt="Compatible Accessories" title="Compatible Accessories" />
        <ul style="display:block; margin-left: auto; margin-right:auto;" >
          <li><strong>KettlePot</strong> - Cook, pour, and store your stove</li>
          <li><strong>Portable Grill</strong> - Wood-fired flavors and easy refueling</li>
          <li><strong>Pellets + Sticksnapper</strong> - Fuel at the ready</li>
        </ul>
      </td>
    </tr>
  </tfoot>
</table>


<!-- Mobile Tables -->
       
       <table class="table-with-footer compare-table-mobile">
  <thead>
    <tr>
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/files/image_06.jpg?13024226827037342026" alt="BioLite CookStove" title="BioLite CookStove" />
        <span>BioLite CookStove</span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Price</td>
      <td>$99.95</td>
    </tr>
    <tr>
      <td>Weight</td>
      <td>1.6 lbs(25 oz)</td>
    </tr>
    <tr>
      <td>Ideal For</td>
      <td>Cooking/Boiling, Portable Campfire </td>
    </tr>
    <tr>
      <td>Power Source/ Run Time</td>
      <td>Battery Powered - 30 hours per charge</td>
    </tr>
    <tr>
      <td>Interface</td>
      <td>
        <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/cookstove_UI-01.svg?11183406611098504519" alt="cookstove" title="cookstove" />
        <ol style="display:block; margin-left: auto; margin-right:auto; width:70%; text-align: left;" class="li-number-bold">
          <li>Battery Life indicator</li>
          <li>Power Button</li>
          <li>Fan Speed indicator</li>
        </ol>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td>Fuel</td>
      <td>Renewable biomass - (twigs,pinecones, wood pellets, etc.)</td>
    </tr>
    <tr>
      <td>Boil Time</td>
      <td>4.5 mins to boil 1 liter of water</td>
    </tr>
    <tr>
      <td>Smokeless Flames</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>Packed Size</td>
      <td><img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/files/image_new_05.jpg?8069840297890795363" alt="Packed Size" title="Packed Size" /></td>
    </tr>
    <tr>
      <td>Compatible Accesories</td>
      <td>
        <img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/files/image_23.jpg?5658755135103578074" alt="Compatible Accesories" title="Compatible Accesories" />
        <ul style="display:block; margin-left: auto; margin-right:auto;" >
          <li><strong>KettlePot</strong> - Cook, pour, and store your stove</li>
          <li><strong>Portable Grill</strong> - Wood-fired flavors and easy refueling</li>
          <li><strong>Pellets + Sticksnapper</strong> - Fuel at the ready</li>
        </ul>
      </td>
    </tr>
  </tfoot>
</table>

<table class="table-with-footer compare-table-mobile">
  <thead>
    <tr>
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/files/image_03.jpg?13024226827037342026" alt="Biolite CampStove" title="Biolite CampStove" />
        <span>Biolite CampStove</span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Price</td>
      <td>$129.95</td>
    </tr>
    <tr>
      <td>Weight</td>
      <td>2.06 lbs(33 oz)</td>
    </tr>
    <tr>
    <tr>
      <td>Ideal For</td>
      <td>Cooking/Boiling, Portable Campfire, Device Charging </td>
    </tr>
    <tr>
      <td>Power Source/ Run Time</td>
      <td>Thermoelectricity - unlimited run time</td>
    </tr>
    <tr>
      <td>Interface</td>
      <td>
        <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/campstove_UI-01.svg?11183406611098504519" alt="campstove" title="campstove" />
        <ol style="display:block; margin-left: auto; margin-right:auto; width:70%; text-align: left;" class="li-number-bold">
          <li>Power Button</li>
          <li>Fan Speed indicator</li>
          <li>Charge Out indicator</li>
          <li>USB Charge Out Port</li>
        </ol>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td>Fuel</td>
      <td>Renewable biomass - (twigs,pinecones, wood pellets, etc.)</td>
    </tr>
    <tr>
      <td>Boil Time</td>
      <td>4.5 mins to boil 1 liter of water</td>
    </tr>
    <tr>
      <td>Smokeless Flames</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>Packed Size</td>
      <td><img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/files/image_new_03.jpg?8069840297890795363" alt="Packed Size" title="Packed Size"/></td>
    </tr>
    <tr>
      <td>Compatible Accesories</td>
      <td>
        <img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/files/image_23.jpg?5658755135103578074" alt="Compatible Accesories" title="Compatible Accesories" />
        <ul style="display:block; margin-left: auto; margin-right:auto;" >
          <li><strong>KettlePot</strong> - Cook, pour, and store your stove</li>
          <li><strong>Portable Grill</strong> - Wood-fired flavors and easy refueling</li>
          <li><strong>Pellets + Sticksnapper</strong> - Fuel at the ready</li>
        </ul>
      </td>
    </tr>
  </tfoot>
</table>

	 </div>
 </section>
</div>
