<table class="compare-table table-with-footer">
  <thead>
    <tr>
      <th></th>
      <th class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/files/image_03.jpg?13024226827037342026" alt="Biolite CampStove" title="Biolite CampStove" />
        <span>Biolite CampStove</span>
      </th>
      <th class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/files/image_06.jpg?13024226827037342026" alt="Biolite CookStove" title="Biolite CookStove"/>
        <span>Biolite CookStove</span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Price</td>
      <td>$129.95</td>
      <td>$99.95</td>
    </tr>
    <tr>
      <td>Weight</td>
      <td>2.06 lbs(33 oz)</td>
      <td>1.6 lbs(25 oz)</td>
    </tr>
    <tr>
      <td>Power Source/ Run Time</td>
      <td>Thermoelectricity - unlimited run time</td>
      <td>Battery powered - 30 hours per charge</td>
    </tr>
    <tr>
      <td>Interface</td>
      <td>
        <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/image_11.jpg?5658755135103578074" alt="" />
        <ol style="display:block; margin-left: auto; margin-right:auto; width:70%; text-align: center;" class="li-number-bold">
          <li>Power</li>
          <li>Fan speed indicator</li>
          <li>Charge indicator</li>
          <li>USB port</li>
        </ol>
      </td>
      <td>
        <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/image_14.jpg?5658755135103578074" alt="" />
        <ol style="display:block; margin-left: auto; margin-right:auto; width:70%; text-align: center;" class="li-number-bold">
          <li>Battery indicator</li>
          <li>Power</li>
          <li>Fan speed indicator</li>
        </ol>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td>Fuel</td>
      <td colspan="2">Renewable biomass - (twigs,pinecones, wood pellets, etc.)</td>
    </tr>
    <tr>
      <td>Boil Time</td>
      <td colspan="2">45 mins to boil 1 liter of water</td>
    </tr>
    <tr>
      <td>Smokeless Flames</td>
      <td colspan="2">Yes</td>
    </tr>
    <tr>
      <td>Packed Size</td>
      <td colspan="2"><img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/files/image_19.jpg?5658755135103578074" alt="" /></td>
    </tr>
    <tr>
      <td>Compatible Accesories</td>
      <td colspan="2">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/files/image_23.jpg?5658755135103578074" alt="KettlePot" title="KettlePot" />
        <ul style="display:block; margin-left: auto; margin-right:auto;" >
          <li><strong>KettlePot</strong> - Cook, pour and store your stove</li>
          <li><strong>KettlePot</strong> - Cook, pour and store your stove</li>
          <li><strong>KettlePot</strong> - Cook, pour and store your stove</li>
        </ul>
      </td>
    </tr>
  </tfoot>
</table>


<!-- Mobile Tables -->

<table class="table-with-footer compare-table-mobile">
  <thead>
    <tr>
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/files/image_03.jpg?13024226827037342026" alt="Biolite CampStove" title="Biolite CampStove" />
        <span>Biolite CampStove</span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Price</td>
      <td>$129.95</td>
    </tr>
    <tr>
      <td>Weight</td>
      <td>2.06 lbs(33 oz)</td>
    </tr>
    <tr>
      <td>Power Source/ Run Time</td>
      <td>Thermoelectricity - unlimited run time</td>
    </tr>
    <tr>
      <td>Interface</td>
      <td>
        <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/image_11.jpg?5658755135103578074" alt="" />
        <ol style="display:block; margin-left: auto; margin-right:auto; width:70%; text-align: center;" class="li-number-bold">
          <li>Power</li>
          <li>Fan speed indicator</li>
          <li>Charge indicator</li>
          <li>USB port</li>
        </ol>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td>Fuel</td>
      <td>Renewable biomass - (twigs,pinecones, wood pellets, etc.)</td>
    </tr>
    <tr>
      <td>Boil Time</td>
      <td>45 mins to boil 1 liter of water</td>
    </tr>
    <tr>
      <td>Smokeless Flames</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>Packed Size</td>
      <td><img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/files/image_new_03.jpg?8069840297890795363" alt="Compatible Accesories" title="Compatible Accesories" /></td>
    </tr>
    <tr>
      <td>Compatible Accesories</td>
      <td>
        <img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/files/image_23.jpg?5658755135103578074" alt="" />
        <ul style="display:block; margin-left: auto; margin-right:auto;" >
          <li><strong>KettlePot</strong> - Cook, pour and store your stove</li>
          <li><strong>KettlePot</strong> - Cook, pour and store your stove</li>
          <li><strong>KettlePot</strong> - Cook, pour and store your stove</li>
        </ul>
      </td>
    </tr>
  </tfoot>
</table>

<table class="table-with-footer compare-table-mobile">
  <thead>
    <tr>
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/files/image_06.jpg?13024226827037342026" alt="Biolite CookStove" title="Biolite CookStove" />
        <span>Biolite CookStove</span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Price</td>
      <td>$99.95</td>
    </tr>
    <tr>
      <td>Weight</td>
      <td>1.6 lbs(25 oz)</td>
    </tr>
    <tr>
      <td>Power Source/ Run Time</td>
      <td>Battery Powered - 30 hours per charge</td>
    </tr>
    <tr>
      <td>Interface</td>
      <td>
        <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/image_14.jpg?5658755135103578074" alt="" />
        <ol style="display:block; margin-left: auto; margin-right:auto; width:70%; text-align: center;" class="li-number-bold">
          <li>Battery indicator</li>
          <li>Power</li>
          <li>Fan speed indicator</li>
        </ol>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td>Fuel</td>
      <td>Renewable biomass - (twigs,pinecones, wood pellets, etc.)</td>
    </tr>
    <tr>
      <td>Boil Time</td>
      <td>45 mins to boil 1 liter of water</td>
    </tr>
    <tr>
      <td>Smokeless Flames</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>Packed Size</td>
      <td><img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/files/image_new_05.jpg?8069840297890795363" alt="Compatible Accesories" title="Compatible Accesories" /></td>
    </tr>
    <tr>
      <td>Compatible Accesories</td>
      <td>
        <img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/files/image_23.jpg?5658755135103578074" alt="KettlePot" title="KettlePot" />
        <ul style="display:block; margin-left: auto; margin-right:auto;" >
          <li><strong>KettlePot</strong> - Cook, pour and store your stove</li>
          <li><strong>KettlePot</strong> - Cook, pour and store your stove</li>
          <li><strong>KettlePot</strong> - Cook, pour and store your stove</li>
        </ul>
      </td>
    </tr>
  </tfoot>
</table>
