<div class="mobile-wrapper closed product-compare--{{ product.handle | remove: 'biolite-'  }}">
 <h2 class="mobile-title">Compare HeadLamps</h2>
 <section id="product-compare" class="product-compare product-compare--{{ product.handle | remove: 'biolite-'  }} mobile-wrapper-content">
	 <div class="product-compare-tight">
<table class="compare-table compare-tight">
  <thead>
    <tr>
      <th></th>
      <th class="text-left"><strong class="pb20 pt20"><a href="/products/headlamp-200"><img src="https://cdn.shopify.com/s/files/1/0666/9741/files/HeadLamp200_teal_shopMain.png?v=1580943303" class="headlamp-compare-img pb20" alt="HeadLamp 200">HeadLamp 200</a></strong></th>
      <th class="text-left"><strong class="pb20 pt20"><img src="https://cdn.shopify.com/s/files/1/0666/9741/files/HeadLamp_shop_teal.png?v=1580943336" class="headlamp-compare-img pb20" alt="HeadLamp 330">HeadLamp 330</strong></th>


    </tr>
  </thead>
  <tbody>
     <tr>
      <td>MSRP</td>
      <td class="text-left">$49.95</td>
      <td class="text-left">$59.95</td>
    </tr>
    
    <tr>
      <td>Lumens</td>
      <td class="text-left">200 Lm</td>
      <td class="text-left">330 Lm</td>

    </tr>
    
       <tr>
      <td>Total Weight</td>
      <td class="text-left">50 g</td>
      <td class="text-left">69 g</td>
    </tr>
    
       <tr>
      <td>Beam Distance (M)</td>
      <td class="text-left">50 m</td>
      <td class="text-left">75 m</td>
    </tr>
    
       <tr>
      <td>Burn Time (hours)</td>
      <td class="text-left">3 HIGH/40 LOW</td>
      <td class="text-left">3.5 HIGH/40 LOW</td>
    </tr>
    
      <tr>
      <td>Battery</td>
      <td class="text-left">USB Rechargeable Li-Ion</td>
      <td class="text-left">USB Rechargeable Li-Ion</td>
    </tr>
    
      <tr>
      <td>Weather Resistance</td>
      <td class="text-left">IPX4</td>
      <td class="text-left">IPX4</td>
    </tr>
    
      <tr>
      <td>Battery Indicator</td>
      <td class="text-left">Green/Red Flash From HeadLamp</td>
      <td class="text-left">4 LED Indicator</td>
    </tr>
    
      <tr>
      <td>Band Style</td>
        <td class="text-left"><strong>Front Only:</strong> Electronics and lighting are co-located in 18mm front housing.</td>
        <td class="text-left"><strong>Front/Back Design:</strong> 9mm front contains light unit, back houses the rechargeable power source.</td>
    </tr>
    
          <tr>
      <td>Lighting Modes</td>
        <td class="text-left">
White Spot + Dimming<br>
White Strobe<br>
Red Flood + Dimming<br>
Red Strobe<br>
        </td>
  <td class="text-left">
    White Flood + Dimming<br>
White Strobe<br>
 White Spot + Dimming<br>
Red Flood<br>
        </td>    
    </tr>
    
    
        <tr>
      <td>Usage Tip</td>
          <td class="text-left"><strong>Nighttime Reading:</strong> Streamlined profile makes it easy to lean back and read comfortably. Bonus: the red light mode includes dimming.<br><br>

            <strong>Ultralight:</strong> At only 50g, is a great option to pack for those just-in-case moments.
</td>
          <td class="text-left"><strong>Extended Run Times:</strong> Back battery enables pass thru charging. Connect to a powerbank and recharge <strong>while</strong> in use. <br><br>

            <strong>Ultrathin front:</strong> For those who prefer super minimal facing, the 9mm front feels more like a sweatband than a typical headlamp. 
</td>
    </tr>
 
  </tbody>

  
</table>

<table class="compare-table-mobile">
  <thead>
    <tr>
      <th>Product</th>
      <th class=""><strong class="pb20 pt20"><a href="/products/headlamp-330"><img src="https://cdn.shopify.com/s/files/1/0666/9741/files/HeadLamp200_teal_shopMain.png?v=1580943303" class="headlamp-compare-img pb20" alt="HeadLamp 200">HeadLamp 200</a></strong></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>MSRP</td>
      <td>$49.95</td>
    </tr>
    <tr>
      <td>Lumens</td>
      <td>200 Lm</td>
    </tr>
    <tr>
      <td>Total Weight</td>
      <td>50 g </td>
    </tr>
    <tr>
      <td>Beam Distance (M)</td>
      <td>50 M </td>
    </tr>
    <tr>
      <td>Burn Time (hours)</td>
      <td>3 HIGH/40 LOW </td>
    </tr>
    <tr>
      <td>Battery</td>
      <td>USB Rechargeable Li-Ion </td>
    </tr>
    <tr>
      <td>IPX Rating</td>
      <td>IPX 4</td>
    </tr>
    <tr>
      <td>Battery Indicator</td>
      <td>Green/Red Flash From HeadLamp</td>
    </tr>
    
     <tr>
      <td>Band Style</td>
      <td><strong>Front Only:</strong> Electronics and lighting are co-located in 16mm front housing.</td>
    </tr>
    
    
    <tr>
      <td>Lighting Modes</td>
      <td>White Spot + Dimming<br>
White Strobe<br>
Red Flood + Dimming<br>
Red Strobe<br></td>
    </tr>
    
    
     <tr>
      <td>Usage Tip</td>
      <td><strong>Nighttime Reading:</strong> Streamlined profile makes it easy to lean back and read comfortably. Bonus: the red light mode includes dimming.<br><br>

            <strong>Ultralight:</strong> At only 50g, is a great option to pack for those just-in-case moments.</td>
    </tr>
    
    
  </tbody>
</table>
       
       <table class="compare-table-mobile">
  <thead>
    <tr>
      <th>Product</th>
      <th class=""><strong class="pb20 pt20"><img src="https://cdn.shopify.com/s/files/1/0666/9741/files/HeadLamp_shop_teal.png?v=1580943336" class="headlamp-compare-img pb20" alt="HeadLamp 200">HeadLamp 330</strong></th>
    </tr>
  </thead>
  <tbody>

        <tr>
      <td>MSRP</td>
      <td>$59.95</td>
    </tr>
    <tr>
      <td>Lumens</td>
      <td>330 Lm</td>
    </tr>
    <tr>
      <td>Total Weight</td>
      <td>69 g </td>
    </tr>
    <tr>
      <td>Beam Distance (M)</td>
      <td>75 M </td>
    </tr>
    <tr>
      <td>Burn Time (hours)</td>
      <td>3.5 HIGH/40 LOW </td>
    </tr>
    <tr>
      <td>Battery</td>
      <td>USB Rechargeable Li-Ion </td>
    </tr>
    <tr>
      <td>IPX Rating</td>
      <td>IPX 4</td>
    </tr>
    <tr>
      <td>Battery Indicator</td>
      <td>4 LED Indicator</td>
    </tr>
    
     <tr>
      <td>Band Style</td>
      <td><strong>Front/Back Design:</strong> 9mm front contains light unit, back houses the rechargeable power source.</td>
    </tr>
    
    
    <tr>
      <td>Lighting Modes</td>
      <td>    White Flood + Dimming<br>
White Strobe<br>
 White Spot + Dimming<br>
Red Flood<br>
      </td>
    </tr>
    
    
     <tr>
      <td>Usage Tip</td>
      <td><strong>Extended Run Times:</strong> Back battery enables pass thru charging. Connect to a powerbank and recharge <strong>while</strong> in use. <br><br>

            <strong>Ultrathin front:</strong> For those who prefer super minimal facing, the 9mm front feels more like a sweatband than a typical headlamp. </td>
    </tr>
    
    
  </tbody>
</table>


       








	 </div>
 </section>
</div>
