<div class="mobile-wrapper closed product-compare-bundle--{{ product.handle | remove: 'biolite-'  }}">
 <h2 class="mobile-title">Included in Bundle</h2>
 <section id="product-compare-bundle" class="product-compare-bundle product-compare-bundle--{{ product.handle | remove: 'biolite-'  }} mobile-wrapper-content">
	 <div class="product-compare-bundle wrapper wrapper--full_height wrapper--large">
<table class="compare-table-bundle table-with-footer">
  <thead>
    <tr style="background-color:#fff;">
       <th class="border-bottom pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb30" src="//cdn.shopify.com/s/files/1/0666/9741/products/CookStove_1_withSticks_large.jpeg?v=1455122383" width="150" alt="CookStove 1 with Sticks" title="CookStove 1 with Sticks" />
<div class="bundle-number-primary mb10 ">
        <span class="inside-count">1</span>
      </div>         
         <a href="/products/cookstove" class="mt20" title="BioLite CookStove" title="BioLite CookStove"><strong>BioLite<br> CookStove</strong></a>
      </th>
      <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="//cdn.shopify.com/s/files/1/0666/9741/products/SolarPanel5_product1_large.jpeg?v=1455122397" width="150" alt="BioLite SolarPanel 5" title="BioLite SolarPanel 5"/>
<div class="bundle-number-primary mb10 ">
        <span class="inside-count">2</span>
      </div>  
        <a href="/products/solarpanel-5" class="mt20" title="BioLite SolarPanel 5" title="BioLite SolarPanel 5"><strong>BioLite<br> SolarPanel 5</strong></a>
      </th>
      <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="//cdn.shopify.com/s/files/1/0666/9741/products/BiofuelPellets_front-4pack_8d6de6da-6328-4fcd-9bdb-e5c8ed7efd68_large.jpg?v=1458662820" width="150" alt="BiofuelPellets" title="BiofuelPellets" />
<div class="bundle-number-primary mb10 ">
        <span class="inside-count">3</span>
      </div>  
        <a href="/products/biofuel-pellets-value-pack" class="mt20" title="BioLite Pellets 4-Pack"><strong>BioLite<br> Pellets 4-Pack</strong></a>
      </th>
  
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Up to 30 hours of clean wood cooking on a single charge</td>
      <td>5 watts per hour power output at peak sun</td>
      <td>4 bags of premium hardwood pellets</td>
      
    </tr>
    <tr>
      <td>Weighs 1.60 lbs</td>
      <td>2 hours of sun provides 20 hours of cooking with the CookStove</td>
      <td>1 bag provides 2 hours of cooking</td>
      
    </tr>
    <tr>
      <td>Boils 1 L of water in 4.5 minutes</td>
      <td>IPX4 rated</td>
	  <td>Weighs 2.2 lbs </td>

    </tr>
    <tr>
      <td>Packed dimensions: 7.75 x 4.5" </td>
      <td>Weighs 12 oz</td>
	  <td>Firestarter included</td>
    </tr>
  
  
 
  </tbody>

</table>


<!-- Mobile Tables -->
       
       <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="//cdn.shopify.com/s/files/1/0666/9741/products/CookStove_1_withSticks_large.jpeg?v=1455122383" alt="CookStove 1 with Sticks" title="CookStove 1 with Sticks" />
        <div class="bundle-number-primary mb10 ">
        <span class="inside-count">1</span>
      </div> 
         <span class=""><strong>BioLite<br>CookStove</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Up to 30 hours of clean wood cooking on a single charge</td>
    </tr>
    <tr>
      <td>Weighs 1.60 lbs</td>
    </tr>
    <tr>
      <td>Boils 1 L of water in 4.5 minutes</td>
    </tr>
    <tr>
      <td>Packed dimensions: 7.75 x 4.5" </td>
    </tr>
    
    
   
  </tbody>

</table>

       
       
<table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="//cdn.shopify.com/s/files/1/0666/9741/products/SolarPanel5_product1_large.jpeg?v=1455122397" alt="SolarPanel 5" title="SolarPanel 5" />
        <div class="bundle-number-primary mb10 ">
        <span class="inside-count">2</span>
      </div> 
         <span class=""><strong>BioLite<br>SolarPanel 5</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>5 watts per hour power output at peak sun</td>
    </tr>
    <tr>
      <td>2 hours of sun provides 20 hours of cooking with the CookStove</td>
    </tr>
    <tr>
      <td>IPX4 rated</td>
    </tr>
    <tr>
      <td>Weighs 12 oz</td>
    </tr>
    
    
   
  </tbody>

</table>
       

       
       <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="//cdn.shopify.com/s/files/1/0666/9741/products/BiofuelPellets_front-4pack_8d6de6da-6328-4fcd-9bdb-e5c8ed7efd68_large.jpg?v=1458662820" alt="Biofuel Pellets" title="Biofuel Pellets" />
        <div class="bundle-number-primary mb10 ">
        <span class="inside-count">3</span>
      </div> 
         <span class=""><strong>BioLite<br>Pellets 4-Pack</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>4 bags of premium hardwood pellets</td>
    </tr>
    <tr>
      <td>1 bag provides 2 hours of cooking</td>
    </tr>
    <tr>
	  <td>Weighs 2.2 lbs </td>
    </tr>
    <tr>
	  <td>Firestarter included</td>
    </tr>
    
    
   
  </tbody>

</table>
       
  



	 </div>
 </section>
</div>
