<div class="mobile-wrapper closed product-compare--{{ product.handle | remove: 'biolite-'  }}">
 <h2 class="mobile-title">Compare HeadLamps</h2>
 <section id="product-compare" class="product-compare product-compare--{{ product.handle | remove: 'biolite-'  }} mobile-wrapper-content">
	 <div class="product-compare-tight">
<table class="compare-table compare-tight">
  <thead>
    <tr>
      <th></th>
      <th class="text-left"><a href="/products/headlamp-200"><img src="https://cdn.shopify.com/s/files/1/0666/9741/files/HL200_Compare.png?v=1599169513" class="headlamp-compare-img pb20" alt="HeadLamp 200"></a>
        <span class="compare-product-title">HeadLamp 200</span>
        <span class="compare-product-desc">Streamlined, Light, Bright</span>
                
      </th>
      <th class="text-left"><a href="/products/headlamp-330"><img src="https://cdn.shopify.com/s/files/1/0666/9741/files/HL330Compare.png?v=1599169495" class="headlamp-compare-img pb20" alt="HeadLamp 330"></a>
       <span class="compare-product-title">HeadLamp 330</span>
        <span class="compare-product-desc">Balanced Fit &amp; Performance</span>
      </th>
      <th class="text-left"><a href="/products/headlamp-750"><img src="https://cdn.shopify.com/s/files/1/0666/9741/files/HL750_Compare.png?v=1599169496" class="headlamp-compare-img pb20" alt="HeadLamp 750"></a>
      <span class="compare-product-title">HeadLamp 750</span>
        <span class="compare-product-desc">Pro-Level &amp; Feature Packed</span>
      </th>



    </tr>
  </thead>
  <tbody>
     <tr>
      <td>MSRP</td>
      <td class="text-left">$44.95</td>
      <td class="text-left">$59.95</td>
       <td class="text-left">$99.95</td>
    </tr>
    
       <tr>
      <td>Lumens</td>
      <td class="text-left">200 Lm</td>
      <td class="text-left">330 Lm</td>
       <td class="text-left">750 Lm</td>
    </tr>
    
      <tr>
      <td>Total Weight</td>
      <td class="text-left">50 g</td>
      <td class="text-left">69 g</td>
       <td class="text-left">150 g</td>
    </tr>
    
     <tr>
      <td>Beam Distance</td>
      <td class="text-left">50 m</td>
      <td class="text-left">75 m</td>
       <td class="text-left">130 m</td>
    </tr>
    
    <tr>
      <td>Burn Time (Hours)</td>
      <td class="text-left"><span style="border-bottom: 1px dotted #262729">3 HIGH</span><br>40 LOW</td>
      <td class="text-left"><span style="border-bottom: 1px dotted #262729">3.5 HIGH</span><br>40 LOW</td>
       <td class="text-left"><span style="border-bottom: 1px dotted #262729">7 HIGH</span><br>150 LOW</td>
    </tr>
    
     <tr>
      <td>Weather Resistance</td>
      <td class="text-left">IPX4</td>
      <td class="text-left">IPX4</td>
      <td class="text-left">IPX4</td>
    </tr>
    
   
       <tr>
      <td>Battery Indicator</td>
      <td class="text-left">Green/Red Lens Flash</td>
      <td class="text-left">4 LED Indicator</td>
      <td class="text-left">4 LED Indicator</td>
    </tr>
    
    
       <tr>
      <td>Lighting Modes<br>
       <img class="HL-mode-icons mode-dim" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Mode_icons__dim.svg?v=1599150290" alt="Dimming">
        <span class="table-caption">Indicates mode is dimmable</span>
         
         </td>
         <td class="text-left ">
           <div class="HL-mode-wrapper">
           <img class="HL-mode-icons mode-dim" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Mode_icons__dim.svg?v=1599150290" alt="Dimming">
           <img class="HL-mode-icons" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Mode_icons__whiteSpot.svg?v=1599150290" alt="White Spot"> 
           <span class="HL-mode-label">White Spot</span>
           </div>
           
            <div class="HL-mode-wrapper">
           <img class="HL-mode-icons mode-dim" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Mode_icons_spacer.svg?v=1599155307" alt="">
           <img class="HL-mode-icons" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Mode_icons__whiteStrobe.svg?v=1599150290" alt="White Strobe"> 
           <span class="HL-mode-label">White Strobe</span>
           </div>
           
                 <div class="HL-mode-wrapper">
       
           </div>
           
            <div class="HL-mode-wrapper">
           <img class="HL-mode-icons mode-dim" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Mode_icons__dim.svg?v=1599150290" alt="Dimming">
           <img class="HL-mode-icons" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Mode_icons__redFlood.svg?v=1599150290" alt="Red Flood"> 
           <span class="HL-mode-label">Red Flood</span>
           </div>
           
           <div class="HL-mode-wrapper">
           <img class="HL-mode-icons mode-dim" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Mode_icons_spacer.svg?v=1599155307" alt="">
           <img class="HL-mode-icons" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Mode_icons_redStrobe.svg?v=1599155494" alt="Red Strobe"> 
           <span class="HL-mode-label">Red Strobe</span>
           </div>
         
         </td>
         
              <td class="text-left ">
           <div class="HL-mode-wrapper">
           <img class="HL-mode-icons mode-dim" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Mode_icons__dim.svg?v=1599150290" alt="Dimming">
           <img class="HL-mode-icons" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Mode_icons__whiteSpot.svg?v=1599150290" alt="White Spot"> 
           <span class="HL-mode-label">White Spot</span>
           </div>
           
            <div class="HL-mode-wrapper">
           <img class="HL-mode-icons mode-dim" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Mode_icons_spacer.svg?v=1599155307" alt="">
           <img class="HL-mode-icons" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Mode_icons__whiteStrobe.svg?v=1599150290" alt="White Strobe"> 
           <span class="HL-mode-label">White Strobe</span>
           </div>
                
                 <div class="HL-mode-wrapper">
           <img class="HL-mode-icons mode-dim" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Mode_icons__dim.svg?v=1599150290" alt="Dimming">
           <img class="HL-mode-icons" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Mode_icons__whiteStrobe.svg?v=1599150290" alt="White Flood"> 
           <span class="HL-mode-label">White Flood</span>
           </div>
           
            <div class="HL-mode-wrapper">
           <img class="HL-mode-icons mode-dim" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Mode_icons_spacer.svg?v=1599155307" alt="">
           <img class="HL-mode-icons" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Mode_icons__redFlood.svg?v=1599150290" alt="Red Flood"> 
           <span class="HL-mode-label">Red Flood</span>
           </div>
           
           <div class="HL-mode-wrapper">
         
           </div>
                 <div class="HL-mode-wrapper">
           <img class="HL-mode-icons mode-dim" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Mode_icons_spacer.svg?v=1599155307" alt="">
           <img class="HL-mode-icons" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Mode_icons__combo.svg?v=1599150290" alt="White Combo"> 
           <span class="HL-mode-label">Spot + Flood</span>
           </div>
         
         </td>
         
         
               <td class="text-left ">
           <div class="HL-mode-wrapper">
           <img class="HL-mode-icons mode-dim" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Mode_icons__dim.svg?v=1599150290" alt="Dimming">
           <img class="HL-mode-icons" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Mode_icons__whiteSpot.svg?v=1599150290" alt="White Spot"> 
           <span class="HL-mode-label">White Spot</span>
           </div>
           
            <div class="HL-mode-wrapper">
           <img class="HL-mode-icons mode-dim" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Mode_icons__dim.svg?v=1599150290" alt="Dimming">
           <img class="HL-mode-icons" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Mode_icons__whiteStrobe.svg?v=1599150290" alt="White Strobe"> 
           <span class="HL-mode-label">White Strobe</span>
           </div>
                
                 <div class="HL-mode-wrapper">
           <img class="HL-mode-icons mode-dim" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Mode_icons__dim.svg?v=1599150290" alt="Dimming">
           <img class="HL-mode-icons" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Mode_icons__whiteStrobe.svg?v=1599150290" alt="White Flood"> 
           <span class="HL-mode-label">White Flood</span>
           </div>
           
            <div class="HL-mode-wrapper">
           <img class="HL-mode-icons mode-dim" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Mode_icons__dim.svg?v=1599150290" alt="Dimming">
           <img class="HL-mode-icons" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Mode_icons__redFlood.svg?v=1599150290" alt="Red Flood"> 
           <span class="HL-mode-label">Red Flood</span>
           </div>
                 
                 <div class="HL-mode-wrapper">
         
           </div>
                 
            <div class="HL-mode-wrapper">
           <img class="HL-mode-icons mode-dim" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Mode_icons__dim.svg?v=1599150290" alt="Dimming">
           <img class="HL-mode-icons" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Mode_icons__combo.svg?v=1599150290" alt="White Combo"> 
           <span class="HL-mode-label">Spot + Flood</span>
           </div>
                 
                  <div class="HL-mode-wrapper">
           <img class="HL-mode-icons mode-dim" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Mode_icons_spacer.svg?v=1599155307" alt="">
           <img class="HL-mode-icons" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Mode_icons__burst.svg?v=1599150290" alt="Burst"> 
           <span class="HL-mode-label">30 Second Burst</span>
           </div>
                 
                       <div class="HL-mode-wrapper">
           <img class="HL-mode-icons mode-dim" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Mode_icons__dim.svg?v=1599150290" alt="Dimming">
           <img class="HL-mode-icons" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Mode_icons__redRear.svg?v=1599150290" alt="Red Rear Flood"> 
           <span class="HL-mode-label">Rear Red Flood</span>
           </div>
                 
                             <div class="HL-mode-wrapper">
           <img class="HL-mode-icons mode-dim" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Mode_icons__dim.svg?v=1599150290" alt="Dimming">
           <img class="HL-mode-icons" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Mode_icons__redRearStrobe.svg?v=1599150290" alt="Red Rear Strobe"> 
           <span class="HL-mode-label">Rear Red Strobe</span>
           </div>
           
          
         
         </td>
    </tr>
    
       <tr>
      <td>Usage Tip</td>
         <td class="text-left table-longform"><strong>Nighttime Reading:</strong> Streamlined profile makes it easy to lean back and read comfortably. Bonus: the red light mode includes dimming.
<br><br>
           <strong>Ultralight:</strong> At only 50g, is a great option to pack for those just-in-case moments.</td>
         <td class="text-left table-longform"><strong>Extended Run Times:</strong> Back battery enables pass thru charging. Connect to a powerbank and recharge while in use.
<br><br>
           <strong>Ultrathin front:</strong> For those who prefer super minimal facing, the 9mm front feels more like a sweatband than a typical headlamp.</td>
         <td class="text-left table-longform"><strong>Constant Mode:</strong> For extreme darkness or technical terrain maintain FULL brightness with this Pro Feature. No auto-dimming, no surprises.
<br><br>
           <strong>Rear Visibility:</strong> See and be seen with added red flood or strobe on the back of your head - great for biking and group hiking.
<br><br>
           <strong>Extended Run Times:</strong> Back battery enables pass thru charging. Connect to a powerbank and recharge while in use.</td>
    </tr>
    
    

    
    
  
    

 
  </tbody>

  
</table>

<table class="compare-table-mobile">
  <thead>
    <tr>
      <th>Product</th>
       <th class="text-left"><img src="https://cdn.shopify.com/s/files/1/0666/9741/files/HL200_Compare.png?v=1599169513" class="headlamp-compare-img pb20" alt="HeadLamp 200">
        <span class="compare-product-title">HeadLamp 200</span>
        <span class="compare-product-desc">Streamlined, Light, Bright</span>
                
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>MSRP</td>
      <td>$44.95</td>
    </tr>
    <tr>
      <td>Lumens</td>
      <td>200 Lm</td>
    </tr>
    <tr>
      <td>Total Weight</td>
      <td>50 g </td>
    </tr>
    <tr>
      <td>Beam Distance (M)</td>
      <td>50 M </td>
    </tr>
    <tr>
      <td>Burn Time (hours)</td>
      <td>3 HIGH/40 LOW </td>
    </tr>
    <tr>
      <td>Weather Resistance</td>
      <td>IPX4 </td>
    </tr>
  
    <tr>
      <td>Battery Indicator</td>
      <td>Green/Red Lens Flash	</td>
    </tr>
    
    
    <tr>
      <td>Lighting Modes</td>
      <td>White Spot + Dimming<br>
White Strobe<br>
Red Flood + Dimming<br>
Red Strobe<br></td>
    </tr>
    
    
     <tr>
      <td>Usage Tip</td>
      <td><strong>Nighttime Reading:</strong> Streamlined profile makes it easy to lean back and read comfortably. Bonus: the red light mode includes dimming.
<br><br>
           <strong>Ultralight:</strong> At only 50g, is a great option to pack for those just-in-case moments.</td>
    </tr>
    
    
  </tbody>
</table>

       
       <table class="compare-table-mobile">
  <thead>
    <tr>
      <th>Product</th>
       <th class="text-left"><img src="https://cdn.shopify.com/s/files/1/0666/9741/files/HL330Compare.png?v=1599169495" class="headlamp-compare-img pb20" alt="HeadLamp 330">
       <span class="compare-product-title">HeadLamp 330</span>
        <span class="compare-product-desc">Balanced Fit &amp; Performance</span>
                
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>MSRP</td>
      <td>$59.95</td>
    </tr>
    <tr>
      <td>Lumens</td>
      <td>330 Lm</td>
    </tr>
    <tr>
      <td>Total Weight</td>
      <td>69 g </td>
    </tr>
    <tr>
      <td>Beam Distance (M)</td>
      <td>75 M </td>
    </tr>
    <tr>
      <td>Burn Time (hours)</td>
      <td>3.5 HIGH/40 LOW </td>
    </tr>
    <tr>
      <td>Weather Resistance</td>
      <td>IPX4 </td>
    </tr>
  
    <tr>
      <td>Battery Indicator</td>
      <td>4 LED Indicator	</td>
    </tr>
    
    
    <tr>
      <td>Lighting Modes</td>
      <td>White Spot + Dimming<br>
White Strobe<br>
        White Flood + Dimming<br>
Red Flood <br>
Spot + Flood<br></td>
    </tr>
    
    
     <tr>
      <td>Usage Tip</td>
      <td><strong>Extended Run Times</strong> Back battery enables pass thru charging. Connect to a powerbank and recharge while in use.
<br><br>
           <strong>Ultra-thin Front:</strong> For those who prefer super minimal facing, the 9mm front feels more like a sweatband than a typical headlamp.</td>
    </tr>
    
    
  </tbody>
</table>
       
              <table class="compare-table-mobile">
  <thead>
    <tr>
      <th>Product</th>
       <th class="text-left"><img src="https://cdn.shopify.com/s/files/1/0666/9741/files/HL750_Compare.png?v=1599169496" class="headlamp-compare-img pb20" alt="HeadLamp 750">
      <span class="compare-product-title">HeadLamp 750</span>
        <span class="compare-product-desc">Pro-Level &amp; Feature Packed</span>
                
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>MSRP</td>
      <td>$99.95</td>
    </tr>
    <tr>
      <td>Lumens</td>
      <td>750 Lm</td>
    </tr>
    <tr>
      <td>Total Weight</td>
      <td>150 g </td>
    </tr>
    <tr>
      <td>Beam Distance (M)</td>
      <td>130 M </td>
    </tr>
    <tr>
      <td>Burn Time (hours)</td>
      <td>7 HIGH/150 LOW </td>
    </tr>
    <tr>
      <td>Weather Resistance</td>
      <td>IPX4 </td>
    </tr>
  
    <tr>
      <td>Battery Indicator</td>
      <td>4 LED Indicator	</td>
    </tr>
    
    
    <tr>
      <td>Lighting Modes</td>
      <td>White Spot + Dimming<br>
White Strobe + Dimming<br>
        White Flood + Dimming<br>
Red Flood + Dimming <br>
Spot + Flood + Dimming<br>
30 Second Burst<br>
Rear Red Flood + Dimming<br>
        Rear Red Strobe + Dimming<br>

      
      </td>
    </tr>
    
    
     <tr>
      <td>Usage Tip</td>
      <td><strong>Constant Mode:</strong>  For extreme darkness or technical terrain maintain FULL brightness with this Pro Feature. No auto-dimming, no surprises.
           <strong>Rear Visiblity:</strong> See and be seen with added red flood or strobe on the back of your head - great for biking and group hiking.
       
        <strong>Extended Run Times</strong>  Back battery enables pass thru charging. Connect to a powerbank and recharge while in use.
       </td>
    </tr>
    
    
  </tbody>
</table>

	 </div>
 </section>
</div>
