<div class="mobile-wrapper closed product-compare--{{ product.handle | remove: 'biolite-'  }}">
 <h2 class="mobile-title">Compare</h2>
 <section id="product-compare" class="product-compare product-compare--{{ product.handle | remove: 'biolite-'  }} mobile-wrapper-content">
	 <div class="product-compare wrapper wrapper--full_height wrapper--large">
<table class="compare-table">
  <thead>
    <tr>
      <th>Product</th>
      <th class="active">BioLite<br> PowerLight Mini</th>
      <th>Snow Peak<br> Mini Hozuki</th>
      <th>Black Diamond<br> Voyager Lantern</th>
      <th>Goal Zero <br>Mini Lighthouse</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Size (Volume)</td>
      <td>4.1 cu in</td>
      <td>5.0 cu in</td>
      <td>31.8 cu in</td>
      <td>27.4 cu in</td>
    </tr>
    <tr>
      <td>Weight</td>
      <td>2.8 oz</td>
      <td>3.6 oz</td>
      <td>4.7 oz</td>
      <td>8.0 oz</td>
    </tr>
    <tr>
      <td>Lumens</td>
      <td>135 Lm</td>
      <td>60 Lm</td>
      <td>140 Lm</td>
      <td>210 Lm</td>
    </tr>
    <tr>
      <td>Burn Time</td>
      <td>52 LO/5 HI</td>
      <td>70 LO/ 40 HI</td>
      <td>100 LO/13 HI</td>
      <td>400 LO/4 HI</td>
    </tr>
    <tr>
      <td>Lighting Modes</td>
      <td><span>(4)</span> <span> white lantern, red night vision, strobe, point light</span></td>
      <td><span>(2)</span> <span> lantern, flicker mode</span></td>
      <td><span>(2)</span> <span> lantern, flashlight</span></td>
      <td><span>(2)</span> <span> lantern, single panel lantern</span></td>
    </tr>
    <tr>
      <td>USB Rechargeable</td>
      <td>YES</td>
      <td>NO</td>
      <td>NO</td>
      <td>YES</td>
    </tr>
    <tr>
      <td>USB Charge Out</td>
      <td>YES</td>
      <td>NO</td>
      <td>NO</td>
      <td>YES</td>
    </tr>
    <tr>
      <td>Special Features</td>
      <td>Wearable, Dimmable, Edge-Lighting Technology, Clipstand, Bike Mount Included</td>
      <td>Wearable, Dimmable</td>
      <td>Dimmable, 50 lumen flashlight beam, Collapsible</td>
      <td>Dimmable, Folding Legs</td>
    </tr>
    <tr>
      <td>Ideal For</td>
      <td>Camping, Hiking, Biking, Travel</td>
      <td>Camping, Hiking</td>
      <td>Camping, Hiking</td>
      <td>Camping</td>
    </tr>
       <tr>
      <td>Price</td>
      <td>$39.95</td>
      <td>$39.95</td>
      <td>$39.95</td>
      <td>$59.95</td>
    </tr>
 
  </tbody>
</table>


<table class="compare-table-mobile">
  <thead>
    <tr>
      <th>Product</th>
      <th class="active">BioLite PowerLight Mini</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Size (Volume)</td>
      <td>4.1 cu in</td>
    </tr>
    <tr>
      <td>Weight</td>
      <td>2.8 oz</td>
    </tr>
    <tr>
      <td>Lumens</td>
      <td>135 Lm </td>
    </tr>
    <tr>
      <td>Burn Time</td>
      <td>52 LO/ 5 HI </td>
    </tr>
    <tr>
      <td>Lighting Modes</td>
      <td><span>4</span> <span> white lantern, red night vision, strobe, point light</span> </td>
    </tr>
    <tr>
      <td>USB Rechargeable</td>
      <td>YES </td>
    </tr>
    <tr>
      <td>USB Charge Out</td>
      <td>YES</td>
    </tr>
    <tr>
      <td>Special Features</td>
      <td>Wearable, Dimmable, Edge-Lighting Technology, Clipstand, Bike Mount Included</td>
    </tr>
    <tr>
      <td>Ideal For</td>
      <td>Camping, Hiking, Biking, Travel</td>
    </tr>
    <tr>
      <td>Price</td>
      <td>$44.95</td>
    </tr>
  </tbody>
</table>

<table class="compare-table-mobile">
  <thead>
    <tr>
      <th>Product</th>
      <th>Snow Peak Mini Hozuki	</th>
    </tr>
  </thead>
  <tbody>
     <tr>
      <td>Size (Volume)</td>
      <td>5.0 cu in</td>
    </tr>
    <tr>
      <td>Weight</td>
      <td>3.6 oz</td>
    </tr>
    <tr>
      <td>Lumens</td>
      <td>60 Lm </td>
    </tr>
    <tr>
      <td>Burn Time</td>
      <td>70 LO/ 40 HI </td>
    </tr>
    <tr>
      <td>Lighting Modes</td>
      <td><span>2</span> <span> lantern, flicker</span> </td>
    </tr>
    <tr>
      <td>USB Rechargeable</td>
      <td>NO </td>
    </tr>
    <tr>
      <td>USB Charge Out</td>
      <td>NO</td>
    </tr>
    <tr>
      <td>Special Features</td>
      <td>Wearable, dimmable</td>
    </tr>
    <tr>
      <td>Ideal For</td>
      <td>Camping, Hiking</td>
    </tr>
    <tr>
      <td>Price</td>
      <td>$39.95</td>
    </tr>
  </tbody>
</table>

<!-- Mobile Tables -->

<table class="compare-table-mobile">
  <thead>
    <tr>
      <th>Product</th>
      <th class="active">Black Diamond Voyager Lantern</th>
    </tr>
  </thead>
  <tbody>
     <tr>
      <td>Size (Volume)</td>
      <td>31.8 cu in</td>
    </tr>
    <tr>
      <td>Weight</td>
      <td>4.7 oz</td>
    </tr>
    <tr>
      <td>Lumens</td>
      <td>140 Lm </td>
    </tr>
    <tr>
      <td>Burn Time</td>
      <td>100 LO/ 13 HI </td>
    </tr>
    <tr>
      <td>Lighting Modes</td>
      <td><span>2</span> <span> Lantern, flashlight</span> </td>
    </tr>
    <tr>
      <td>USB Rechargeable</td>
      <td>NO </td>
    </tr>
    <tr>
      <td>USB Charge Out</td>
      <td>NO</td>
    </tr>
    <tr>
      <td>Special Features</td>
      <td>Dimmable, 50 lumen flashlight, collapsible</td>
    </tr>
    <tr>
      <td>Ideal For</td>
      <td>Camping, Hiking</td>
    </tr>
    <tr>
      <td>Price</td>
      <td>$39.95</td>
    </tr>
  </tbody>
</table>
<!-- Mobile Tables -->

<table class="compare-table-mobile">
  <thead>
    <tr>
      <th>Product</th>
      <th class="active">Goal Zero Mini Lighthouse</th>
    </tr>
  </thead>
  <tbody>
     <tr>
      <td>Size (Volume)</td>
      <td>27.4 cu in</td>
    </tr>
    <tr>
      <td>Weight</td>
      <td>8.0 oz</td>
    </tr>
    <tr>
      <td>Lumens</td>
      <td>210 Lm </td>
    </tr>
    <tr>
      <td>Burn Time</td>
      <td>400 LO/ 4 HI </td>
    </tr>
    <tr>
      <td>Lighting Modes</td>
      <td><span>2</span> <span> Lantern, single panel lantern</span> </td>
    </tr>
    <tr>
      <td>USB Rechargeable</td>
      <td>YES </td>
    </tr>
    <tr>
      <td>USB Charge Out</td>
      <td>YES</td>
    </tr>
    <tr>
      <td>Special Features</td>
      <td>Dimmable, folding legs</td>
    </tr>
    <tr>
      <td>Ideal For</td>
      <td>Camping</td>
    </tr>
    <tr>
      <td>Price</td>
      <td>$59.95</td>
    </tr>
  </tbody>
</table>
	 </div>
 </section>
</div>
