<div class="mobile-wrapper closed product-compare--{{ product.handle | remove: 'biolite-'  }}">
 <h2 class="mobile-title">Compare Charge PD</h2>
 <section id="product-compare" class="product-compare product-compare--{{ product.handle | remove: 'biolite-'  }} mobile-wrapper-content">
	 <div class="product-compare-tight">
<table class="compare-table compare-tight">
  <thead>
    <tr>
      <th></th>
      <th class="text-left"><a href="/products/charge-20-PD"><img src="https://cdn.shopify.com/s/files/1/0666/9741/files/Charge_20.png?v=1611585684" class="headlamp-compare-img pb20" alt="Charge 20 PD"></a>
        <span class="compare-product-title text-center">Charge 20 PD</span>
                
      </th>
    <th class="text-left"><a href="/products/charge-40-PD"><img src="https://cdn.shopify.com/s/files/1/0666/9741/files/Charge_40.png?v=1611585684" class="headlamp-compare-img pb20" alt="Charge 40 PD"></a>
        <span class="compare-product-title text-center">Charge 40 PD</span>
      </th>
    <th class="text-left"><a href="/products/charge-80-PD"><img src="https://cdn.shopify.com/s/files/1/0666/9741/files/Charge_80.png?v=1611585684" class="headlamp-compare-img pb20" alt="Charge 80 PD"></a>
        <span class="compare-product-title text-center">Charge 80 PD</span>
      </th>



    </tr>
  </thead>
  <tbody>
     <tr>
      <td>Battery</td>
      <td class="text-center">6,000 mAh, (22.2 Wh)</td>
      <td class="text-center">10,000 mAh, (37 Wh)</td>
       <td class="text-center">20,000 mAh, (74 Wh)</td>
    </tr>
    
       <tr>
      <td>Charge Time</td>
      <td class="text-center">2 hours by 18W USB C-PD</td>
      <td class="text-center">2.5 hours by 18W USB C-PD</td>
       <td class="text-center">5 hours by 18W USB C-PD</td>
    </tr>
    
      <tr>
      <td>	Weight</td>
      <td class="text-center">165 g</td>
      <td class="text-center">265 g</td>
       <td class="text-center">465 g</td>
    </tr>
    
     <tr>
      <td>Dimensions</td>
      <td class="text-center">5.0 x 3.0 x 0.6 in <br>(128 x 75 x 14 mm)</td>
      <td class="text-center">5.9 x 3.2 x 0.7 in <br>(150 x 81 x 17 mm)</td>
       <td class="text-center">6.7 x 3.2 x 1.0 in <br>(170 x 82 x 25 mm)</td>
    </tr>
    
      <!--<tr>
      <td>Outputs</td>
      <td colspan="3" class="text-center">18W total</td>
    </tr>
    
     <tr>
      <td>Output Power</td>
      <td colspan="3" class="text-center">USB C-PD, up to 18W</td>
    </tr>
    
      <tr>
      <td>Inputs</td>
      <td colspan="3" class="text-center">USB C-PD, up to 18W</td>
    </tr>-->
     <tr>
      <td></td>
       <td colspan="3" class="text-center bold pt20 pb20"><span class="bold">CHARGE CAPACITY</span><br>Number of device charges from full battery</td>
    </tr>
    
    
      <tr>
      <td>Smartphone</td>
      <td class="text-center">1.5</td>
      <td class="text-center">2.5</td>
       <td class="text-center">5</td>
    </tr>
    
      <tr>
      <td>BioLite HeadLamp 330</td>
      <td class="text-center">5</td>
      <td class="text-center">8</td>
       <td class="text-center">16</td>
    </tr>
    
       <tr>
      <td>Tablet</td>
      <td class="text-center">---</td>
      <td class="text-center">1</td>
       <td class="text-center">2</td>
    </tr>
    
      <tr>
      <td>13" Laptop</td>
      <td class="text-center">---</td>
      <td class="text-center">---</td>
       <td class="text-center">1</td>
    </tr>
    
    
    
  </tbody>

  
  
 
</table>

<table class="compare-table-mobile">
  <thead>
    <tr>
       <th class="text-left"><img src="https://cdn.shopify.com/s/files/1/0666/9741/files/Charge_20.png?v=1611585684" class="headlamp-compare-img pb20" alt="Charge 20">
        <span class="compare-product-title">Charge 20</span>
                
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Battery</td>
      <td>6,000 mAh, (22.2 Wh)</td>
    </tr>
    <tr>
      <td>Charge Up Time</td>
      <td>2 hours by 18W USB C-PD</td>
    </tr>
    <tr>
      <td>Dimensions</td>
      <td>5.0 x 3.0 x 0.6 in <br>(128 x 75 x 14 mm)</td>
    </tr>
    <tr>
      <td>Weight</td>
      <td>165 g </td>
    </tr>
    <tr>
      <td colspan="2" class="text-center bold pt20 pb20"><span class="bold">CHARGE CAPACITY</span><br><span class="light">Number of device charges from full battery</span></td>
    </tr>
    <tr>
      <td>Smartphone</td>
      <td>1.5 </td>
    </tr>
    <tr>
      <td>BioLite HeadLamp 330</td>
      <td>5 </td>
    </tr>
  
    <tr>
      <td>Tablet</td>
      <td>---</td>
    </tr>
    
    <tr>
      <td>13" Laptop</td>
      <td>---</td>
    </tr>
    

    
    
  </tbody>
</table>
       
       <table class="compare-table-mobile">
  <thead>
    <tr>
       <th class="text-left"><img src="https://cdn.shopify.com/s/files/1/0666/9741/files/Charge_40.png?v=1611585684" class="headlamp-compare-img pb20" alt="Charge 40">
        <span class="compare-product-title">Charge 40</span>
                
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Battery</td>
      <td>10,000 mAh, (37 Wh)</td>
    </tr>
    <tr>
      <td>Charge Time</td>
      <td>2.5 hours by 18W USB C-PD</td>
    </tr>
    <tr>
      <td>Dimensions</td>
      <td>5.9 x 3.2 x 0.7 in <br>(150 x 81 x 17 mm)</td>
    </tr>
    <tr>
      <td>Weight</td>
      <td>265 g </td>
    </tr>
    <tr>
      <td colspan="2" class="text-center bold pt20 pb20"><span class="bold">CHARGE CAPACITY</span><br><span class="light">Number of device charges from full battery</span></td>
    </tr>
    <tr>
      <td>Smartphone</td>
      <td>2.5 </td>
    </tr>
    <tr>
      <td>BioLite HeadLamp 330</td>
      <td>8 </td>
    </tr>
  
    <tr>
      <td>Tablet</td>
      <td>1</td>
    </tr>
    
    <tr>
      <td>13" Laptop</td>
      <td>---</td>
    </tr>
    

    
    
  </tbody>
</table>
       
              
       <table class="compare-table-mobile">
  <thead>
    <tr>
       <th class="text-left"><img src="https://cdn.shopify.com/s/files/1/0666/9741/files/Charge_80.png?v=1611585684" class="headlamp-compare-img pb20" alt="Charge 80">
        <span class="compare-product-title">Charge 80</span>
                
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Battery</td>
      <td>20,000 mAh, (74 Wh)</td>
    </tr>
    <tr>
      <td>Charge Time</td>
      <td>5 hours by 18W USB C-PD</td>
    </tr>
    <tr>
      <td>Dimensions</td>
      <td>6.7 x 3.2 x 1.0 in <br>(170 x 82 x 25 mm)</td>
    </tr>
    <tr>
      <td>Weight</td>
      <td>465 g </td>
    </tr>
    <tr>
      <td colspan="2" class="text-center bold pt20 pb20"><span class="bold">CHARGE CAPACITY</span><br><span class="light">Number of device charges from full battery</span></td>
    </tr>
    <tr>
      <td>Smartphone</td>
      <td>5 </td>
    </tr>
    <tr>
      <td>BioLite HeadLamp 330</td>
      <td>16 </td>
    </tr>
  
    <tr>
      <td>Tablet</td>
      <td>2</td>
    </tr>
    
    <tr>
      <td>13" Laptop</td>
      <td>1</td>
    </tr>
    

    
    
  </tbody>
</table>


 
 

	 </div>
 </section>
</div>
