<div class="mobile-wrapper closed product-compare--{{ product.handle | remove: 'biolite-'  }}">
 <h2 class="mobile-title">Compare Prep Packs</h2>
 <section id="product-compare" class="product-compare product-compare--{{ product.handle | remove: 'biolite-'  }} mobile-wrapper-content">
	 <div class="product-compare wrapper wrapper--full_height wrapper--large">
<table class="compare-table">
  <thead>
    <tr>
      <th></th>
      <th><a href="/products/home-pack"><img style="display:block; margin-left: auto; margin-right:auto;" class="mb10" src="https://s3-us-west-2.amazonaws.com/biolitewebsite/shop-product-images/HomePack__shop.png" width="150" alt="Home Pack" title="Home Pack" />
        <span style="color:#35a8a6;font-weight:600;line-height: 31px;">Home Pack</span></a></th>
<th><a href="/products/blxl-solar-kit"><img style="display:block; margin-left: auto; margin-right:auto;" class="mb10" src="https://s3-us-west-2.amazonaws.com/biolitewebsite/shop-product-images/BLXL_solarKit_shopMain.png" width="150" alt="BLXL Solar Kit" title="BLXL Solar Kit" />
        <span style="color:#35a8a6;font-weight:600;line-height: 31px;">BLXL Solar Kit</span></a></th>      
<th><a href="/products/energy-bundle"><img style="display:block; margin-left: auto; margin-right:auto;" class="mb10" src="https://s3-us-west-2.amazonaws.com/biolitewebsite/shop-product-images/EnergyBundle_Shop.png" width="150" alt="Energy Bundle" title="Energy Bundle" />
        <span style="color:#35a8a6;font-weight:600;line-height: 31px;">Energy Bundle</span></a></th> 
    </tr>
  </thead>
  <tbody>
    
    
     <tr>
      <td>Best used for</td>
      <td>1-2 days without power<br>Fits in a drawer and sets up quickly</td>
      <td>2-4 days without power<br>Large battery storage and flexible lighting setup</td>
      <td>5+ days without power<br>Create your own power in 2 ways + cooking</td>
    </tr>
 
    <tr>
      <td>Total Backup Power</td>
      <td>9,600 mAh</td>
      <td>14,200 mAh + unlimited through solar</td>
      <td>7,000 mAh + unlimited through solar and TEG power as you cook</td>
    </tr>
    <tr>
      <td>Total Lumens</td>
      <td>1,050 Lm</td>
      <td>650 Lm</td>
      <td>750 Lm</td>
    </tr>
    <tr>
      <td>Cooking Modes</td>
      <td>N/A</td>
      <td>N/A</td>
      <td>Grill, simmer and boil</td>
    </tr>

       <tr>
      <td>Price</td>
      <td>$139.95</td>
      <td>$199.95</td>
      <td>$299.95</td>
    </tr>
 
  </tbody>
</table>


<table class="compare-table-mobile">
  <thead>
    <tr>
      <th>Product:</th>
   <th style="text-align:center"><a href="/products/home-pack"><img style="display:block; margin-left: auto; margin-right:auto;" class="mb10" src="https://s3-us-west-2.amazonaws.com/biolitewebsite/shop-product-images/HomePack__shop.png" width="100%" alt="Home Pack" title="Home Pack" />
        <span style="color:#35a8a6;font-weight:600;line-height: 31px;text-align:center;">Home Pack</span></a></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Best used for</td>
      <td>1-2 days without power. Fits in a drawer and sets up quickly</td>
    </tr>
    <tr>
      <td>Total backup power</td>
      <td>9,600 mAh</td>
    </tr>
    <tr>
      <td>Total Lumens</td>
      <td>1,050 Lm </td>
    </tr>
    <tr>
      <td>Cooking Modes</td>
      <td>N/A </td>
    </tr>
    <tr>
      <td>Price</td>
      <td>$139.95 </td>
    </tr>

  </tbody>
</table>
       
<table class="compare-table-mobile">
  <thead>
    <tr>
      <th>Product:</th>
 <th style="text-align:center"><a href="/products/blxl-solar-kit"><img style="display:block; margin-left: auto; margin-right:auto;" class="mb10" src="https://s3-us-west-2.amazonaws.com/biolitewebsite/shop-product-images/BLXL_solarKit_shopMain.png" width="150" alt="BLXL Solar Kit" title="BLXL Solar Kit" />
        <span style="color:#35a8a6;font-weight:600;line-height: 31px;">BLXL Solar Kit</span></a></th>  
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Best used for</td>
      <td>2-4 days without power. Large battery storage and flexible lighting setup</td>
    </tr>
    <tr>
      <td>Total backup power</td>
      <td>14,200 mAh + unlimited through solar</td>
    </tr>
    <tr>
      <td>Total Lumens</td>
      <td>650 Lm </td>
    </tr>
    <tr>
      <td>Cooking Modes</td>
      <td>N/A </td>
    </tr>
    <tr>
      <td>Price</td>
      <td>$199.95 </td>
    </tr>

  </tbody>
</table> 
       
       
      <table class="compare-table-mobile">
  <thead>
    <tr>
      <th>Product:</th>
<th style="text-align:center"><a href="/products/energy-bundle"><img style="display:block; margin-left: auto; margin-right:auto;" class="mb10" src="https://s3-us-west-2.amazonaws.com/biolitewebsite/shop-product-images/EnergyBundle_Shop.png" width="150" alt="Energy Bundle" title="Energy Bundle" />
        <span style="color:#35a8a6;font-weight:600;line-height: 31px;">Energy Bundle</span></a></th> 
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Best used for</td>
      <td>5+ days without power<br>Create your own power in 2 ways + cooking</td>
    </tr>
    <tr>
      <td>Total backup power</td>
      <td>7,000 mAh + unlimited through solar and TEG power as you cook</td>
    </tr>
    <tr>
      <td>Total Lumens</td>
      <td>750 Lm </td>
    </tr>
    <tr>
      <td>Cooking Modes</td>
      <td>Grill, simmer and boil </td>
    </tr>
    <tr>
      <td>Price</td>
      <td>$299.95 </td>
    </tr>

  </tbody>
</table>  




	 </div>
 </section>
</div>
