<div class="mobile-wrapper closed product-compare--{{ product.handle | remove: 'biolite-'  }}">
 <h2 class="mobile-title">Compare Lanterns</h2>
 <section id="product-compare" class="product-compare product-compare--{{ product.handle | remove: 'biolite-'  }} mobile-wrapper-content">
	 <div class="product-compare-tight">
<table class="compare-table compare-tight">
  <thead>
    <tr>
      <th></th>
      <th class="text-left"><a href="/products/alpenglow-250"><img src="https://cdn.shopify.com/s/files/1/0666/9741/files/AlpenGlow250_shopMain_1.png?v=1626199882" class="headlamp-compare-img pb20" alt="AlpenGlow 250"></a>
        <span class="compare-product-title">AlpenGlow 250</span>
       <!-- <span class="compare-product-desc">Streamlined, Light, Bright</span>-->
                
      </th>
      <th class="text-left"><a href="/products/alpenglow-500"><img src="https://cdn.shopify.com/s/files/1/0666/9741/files/AlpenGlow500_shopMain.png?v=1626101847" class="headlamp-compare-img pb20" alt="AlpenGlow 500"></a>
       <span class="compare-product-title">AlpenGlow 500</span>
        <!--<span class="compare-product-desc">Balanced Fit &amp; Performance</span>-->
      </th>
  


    </tr>
  </thead>
  <tbody>
     <tr>
      <td>MSRP</td>
      <td class="text-left">$59.95</td>
      <td class="text-left">$79.95</td>
    </tr>
    
       <tr>
      <td>Lumens</td>
      <td class="text-left">250 Lm</td>
      <td class="text-left">500 Lm</td>
    </tr>
    
      <tr>
      <td>Burn Time (Hours)</td>
      <td class="text-left"><span style="border-bottom: 1px dotted #262729">5 HIGH</span><br>200 LOW</td>
      <td class="text-left"><span style="border-bottom: 1px dotted #262729">5 HIGH</span><br>200 LOW</td>
    </tr>
     <tr>
      <td>Battery</td>
      <td class="text-left">3200 mAh</td>
      <td class="text-left">6400 mAh</td>
    </tr>
    
    
      <tr>
      <td>Weight</td>
      <td class="text-left">210 g</td>
      <td class="text-left">380 g</td>
    </tr>
    
      <tr>
      <td>Weather Resistance</td>
      <td class="text-left">IPX4</td>
      <td class="text-left">IPX4</td>
    </tr>
    
        <tr>
      <td>Charge Time (USB)</td>
      <td class="text-left">2.5 hours</td>
      <td class="text-left">3 hours</td>
    </tr>
    
   
       <tr>
      <td>Diameter</td>
      <td class="text-left"> 3.7 x 3.0 in (95 x 75mm)</td>
      <td class="text-left">5.4 x 3.8 in (136 x 97mm)</td>
    </tr>
    
    
       <tr>
      <td>Lighting Modes<br>
       <img class="HL-mode-icons mode-dim" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Mode_icons__dim.svg?v=1599150290" alt="Dimming">
        <span class="table-caption">Indicates mode is dimmable</span>
         
         </td>
         <td class="text-left ">
           <div class="HL-mode-wrapper">
           <img class="HL-mode-icons mode-dim" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Mode_icons__dim.svg?v=1599150290" alt="Dimming">
           <img class="HL-mode-icons" src="https://cdn.shopify.com/s/files/1/0666/9741/files/AG_Mode__white.svg?v=1613142569" alt="Cool White"> 
           <span class="HL-mode-label">Cool White</span>
           </div>
           
            <div class="HL-mode-wrapper">
           <img class="HL-mode-icons mode-dim" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Mode_icons__dim.svg?v=1599150290" alt="Dimming">
           <img class="HL-mode-icons" src="https://cdn.shopify.com/s/files/1/0666/9741/files/AG_Mode__warm.svg?v=1613142569" alt="Warm White"> 
           <span class="HL-mode-label">Warm White/ChromaReal</span>
           </div>
           
            <div class="HL-mode-wrapper">
           <img class="HL-mode-icons mode-dim" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Mode_icons_spacer.svg?v=1599155307" alt="">
           <img class="HL-mode-icons" src="https://cdn.shopify.com/s/files/1/0666/9741/files/AG_Mode__1color.svg?v=1613142569" alt="Single Color"> 
           <span class="HL-mode-label">Single Color</span>
           </div>
           
               <div class="HL-mode-wrapper">
           <img class="HL-mode-icons mode-dim" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Mode_icons_spacer.svg?v=1599155307" alt="">
           <img class="HL-mode-icons" src="https://cdn.shopify.com/s/files/1/0666/9741/files/AG_Mode__multi250.svg?v=1613142569" alt="Multicolor"> 
           <span class="HL-mode-label">Multicolor</span>
           </div>
           
           
           
                    <div class="HL-mode-wrapper">
           <img class="HL-mode-icons mode-dim" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Mode_icons__dim.svg?v=1599150290" alt="Dimming">
           <img class="HL-mode-icons" src="https://cdn.shopify.com/s/files/1/0666/9741/files/AG_Mode__singleSide.svg?v=1613142569" alt="Single Side Light"> 
           <span class="HL-mode-label">Single Side Light</span>
           </div>
           
              <div class="HL-mode-wrapper">
           <img class="HL-mode-icons mode-dim" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Mode_icons__dim.svg?v=1599150290" alt="Dimming">
           <img class="HL-mode-icons" src="https://cdn.shopify.com/s/files/1/0666/9741/files/AG_Mode__candle.svg?v=1613142569" alt="Warm Candle Flicker"> 
           <span class="HL-mode-label">Warm Candle Flicker</span>
           </div>
                
          
           
             <div class="HL-mode-wrapper">
           <img class="HL-mode-icons mode-dim" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Mode_icons_spacer.svg?v=1599155307" alt="">
           <img class="HL-mode-icons" src="https://cdn.shopify.com/s/files/1/0666/9741/files/AG_Mode__singleCycle.svg?v=1613142569" alt="1-Color Cycling"> 
           <span class="HL-mode-label">1-Color Cycling</span>
           </div>
           
               <div class="HL-mode-wrapper">
           <img class="HL-mode-icons mode-dim" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Mode_icons_spacer.svg?v=1599155307" alt="">
           <img class="HL-mode-icons" src="https://cdn.shopify.com/s/files/1/0666/9741/files/AG_Mode__multiParty250_multiParty250.svg?v=1626193580" alt="Multicolor"> 
           <span class="HL-mode-label">Multicolor Party, Single Sided</span>
           </div>
           
            <div class="HL-mode-wrapper">
           </div>
           
         
        
         
         </td>
         
              <td class="text-left ">
      <div class="HL-mode-wrapper">
           <img class="HL-mode-icons mode-dim" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Mode_icons__dim.svg?v=1599150290" alt="Dimming">
           <img class="HL-mode-icons" src="https://cdn.shopify.com/s/files/1/0666/9741/files/AG_Mode__white.svg?v=1613142569" alt="Cool White"> 
           <span class="HL-mode-label">Cool White</span>
           </div>
           
            <div class="HL-mode-wrapper">
           <img class="HL-mode-icons mode-dim" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Mode_icons__dim.svg?v=1599150290" alt="Dimming">
           <img class="HL-mode-icons" src="https://cdn.shopify.com/s/files/1/0666/9741/files/AG_Mode__warm.svg?v=1613142569" alt="Warm White"> 
           <span class="HL-mode-label">Warm White/ChromaReal</span>
           </div>
           
            <div class="HL-mode-wrapper">
           <img class="HL-mode-icons mode-dim" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Mode_icons_spacer.svg?v=1599155307" alt="">
           <img class="HL-mode-icons" src="https://cdn.shopify.com/s/files/1/0666/9741/files/AG_Mode__1color.svg?v=1613142569" alt="Single Color"> 
           <span class="HL-mode-label">Single Color</span>
           </div>
                
                    <div class="HL-mode-wrapper">
           <img class="HL-mode-icons mode-dim" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Mode_icons_spacer.svg?v=1599155307" alt="">
           <img class="HL-mode-icons" src="https://cdn.shopify.com/s/files/1/0666/9741/files/AG_Mode__multi500.svg?v=1613142569" alt="Multicolor"> 
           <span class="HL-mode-label">Multicolor</span>
           </div>
         
           
           
                    <div class="HL-mode-wrapper">
           <img class="HL-mode-icons mode-dim" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Mode_icons__dim.svg?v=1599150290" alt="Dimming">
           <img class="HL-mode-icons" src="https://cdn.shopify.com/s/files/1/0666/9741/files/AG_Mode__singleSide.svg?v=1613142569" alt="Single Side Light"> 
           <span class="HL-mode-label">Single Side Light</span>
           </div>
           
              <div class="HL-mode-wrapper">
           <img class="HL-mode-icons mode-dim" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Mode_icons__dim.svg?v=1599150290" alt="Dimming">
           <img class="HL-mode-icons" src="https://cdn.shopify.com/s/files/1/0666/9741/files/AG_Mode__candle.svg?v=1613142569" alt="Warm Candle Flicker"> 
           <span class="HL-mode-label">Warm Candle Flicker</span>
           </div>
                
          
           
             <div class="HL-mode-wrapper">
           <img class="HL-mode-icons mode-dim" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Mode_icons_spacer.svg?v=1599155307" alt="">
           <img class="HL-mode-icons" src="https://cdn.shopify.com/s/files/1/0666/9741/files/AG_Mode__singleCycle.svg?v=1613142569" alt="1-Color Cycling"> 
           <span class="HL-mode-label">1-Color Cycling</span>
           </div>
           
               <div class="HL-mode-wrapper">
           <img class="HL-mode-icons mode-dim" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Mode_icons_spacer.svg?v=1599155307" alt="">
           <img class="HL-mode-icons" src="https://cdn.shopify.com/s/files/1/0666/9741/files/AG_Mode__multiParty.svg?v=1613142569" alt="Multicolor"> 
           <span class="HL-mode-label">Multicolor Party, Blended</span>
           </div>
                
                   <div class="HL-mode-wrapper">
           <img class="HL-mode-icons mode-dim" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Mode_icons_spacer.svg?v=1599155307" alt="">
           <img class="HL-mode-icons" src="https://cdn.shopify.com/s/files/1/0666/9741/files/fireworks.svg?v=1626199656" alt="Fireworks"> 
           <span class="HL-mode-label">Fireworks</span>
           </div>
                
                
                
                
         
         </td>
         
         
      
    </tr>
    
       <tr>
      <td>Usage Tip</td>
         <td class="text-left table-longform"><strong>Backpacking:</strong> Lightweight and minimal footprint for max portability. Fits in pack side pockets too.
<br><br>
                      <strong>For The Kids:</strong> Easy to hold and the shake-ability makes it fun to use. Doubles as a great travel night light.
           <br><br>
                      <strong>Emergency, Candle Edition:</strong> Use these little guys as a safer alternative to candles.

         <td class="text-left table-longform">           
           <strong>Car Camping:</strong> Larger lumen count helps illuminate larger sites and spaces.

<br><br>
           <strong>Backyard:</strong> Use warm white mode for food prep and then switch to blended color for chill vibes to please the crowd.
         <br><br>
                    <strong>Emergency, Light &amp Power Edition:</strong> Light up rooms or charge gear with the internal 6400 mAh powerbank.

<br><br>
         </td>

    </tr>
    
    

    
    
  
    

 
  </tbody>

  
</table>

<table class="compare-table-mobile">
  <thead>
    <tr>
      <th>Product</th>
             <th class="text-left"><img src="https://cdn.shopify.com/s/files/1/0666/9741/files/AlpenGlow250_shopMain_1.png?v=1626199882" class="headlamp-compare-img pb20" alt="AlpenGlow 250">
      <span class="compare-product-title">AlpenGlow 250</span>
                
                
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>MSRP</td>
      <td>$59.95</td>
    </tr>
    <tr>
      <td>Lumens</td>
      <td>250 Lm</td>
    </tr>
  
  
    <tr>
      <td>Burn Time (hours)</td>
      <td>5 HIGH/200 LOW </td>
    </tr>
    
    <tr>
      <td>Battery</td>
      <td>3200 mAh </td>
    </tr>
    
      <tr>
      <td>Weight</td>
      <td>210 g </td>
    </tr>
    <tr>
      <td>Weather Resistance</td>
      <td>IPX4 </td>
    </tr>
  
    <tr>
      <td>Charge Time (USB)</td>
      <td>2.5 hours	</td>
    </tr>
    
    
    <tr>
      <td>Diameter</td>
      <td>3.7 x 3.0 in (95 x 75mm)
      </td>
    </tr>
    
      <tr>
      <td>Lighting Modes</td>
      <td>Cool White<br>
        Warm White/ChromaReal<br>
        Single Color<br>
        Multicolor<br>
        Single Sided Light<br>
        Warm Candle Flicker<br>
        1-Color Cycling<br>
        Multicolor Party, Single Sided<br>
      </td>
    </tr>
    
    
    
  </tbody>
</table>
       
       <table class="compare-table-mobile">
  <thead>
    <tr>
      <th>Product</th>
             <th class="text-left"><img src="https://cdn.shopify.com/s/files/1/0666/9741/files/AlpenGlow500_shopMain.png?v=1626101847" class="headlamp-compare-img pb20" alt="AlpenGlow 500">
      <span class="compare-product-title">AlpenGlow 500</span>
                
                
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>MSRP</td>
      <td>$79.95</td>
    </tr>
    <tr>
      <td>Lumens</td>
      <td>500 Lm</td>
    </tr>
  
  
    <tr>
      <td>Burn Time (hours)</td>
      <td>5 HIGH/200 LOW </td>
    </tr>
    
    <tr>
      <td>Battery</td>
      <td>6400 mAh </td>
    </tr>
    
      <tr>
      <td>Weight</td>
      <td>213800 g </td>
    </tr>
    <tr>
      <td>Weather Resistance</td>
      <td>IPX4 </td>
    </tr>
  
    <tr>
      <td>Charge Time (USB)</td>
      <td>3 hours	</td>
    </tr>
    
    
    <tr>
      <td>Diameter</td>
      <td>5.4 x 3.8 in (136 x 97mm)
      </td>
    </tr>
    
      <tr>
      <td>Lighting Modes</td>
      <td>Cool White<br>
        Warm White/ChromaReal<br>
        Single Color<br>
        Multicolor<br>
        Single Sided Light<br>
        Warm Candle Flicker<br>
        1-Color Cycling<br>
        Multicolor Party, Blended<br>
        Fireworks<br>
        
      </td>
    </tr>
    
    
    
  </tbody>
</table>

       

       


	 </div>
 </section>
</div>
