<div class="mobile-wrapper closed product-compare--{{ product.handle | remove: 'biolite-'  }}">
 <h2 class="mobile-title">Compare</h2>
 <section id="product-compare" class="text-left product-compare product-compare--{{ product.handle | remove: 'biolite-'  }} mobile-wrapper-content">
	
  <div class="product-compare wrapper wrapper--full_height wrapper--full text-left">
<table class="compare-table text-left">
 <thead>
    <tr>
      <th></th>
      <th>
 <img class="compare-table-illustration" src="https://cdn.shopify.com/s/files/1/0666/9741/files/homestove-2-illustration-01.svg?9585489321818147626" alt="HomeStove" title="HomeStove" />
        <strong class="pb20 pt10">HomeStove</strong>
      </th>
      <th>
      <a href="/products/basecamp"> <img class="compare-table-illustration" src="https://cdn.shopify.com/s/files/1/0666/9741/files/basecamp-2-illustration-01.svg?9585489321818147626" alt="BaseCamp" title="BaseCamp" />
        <strong class="pb20 pt10">BaseCamp</strong></a>
      </th>
      <th>
       <a href="/products/campstove-2"><img class="compare-table-illustration" src="https://cdn.shopify.com/s/files/1/0666/9741/files/campstove-2-illustration-01_249d361a-7e41-40fc-a13e-84f8a536927a.svg?13556830398877613930" alt="CampStove 2" title="CampStove 2" />
         <strong class="pb20 pt10">CampStove 2</strong></a>
      </th>
      <th>
      <a href="/products/firepit"> <img class="compare-table-illustration" src="https://cdn.shopify.com/s/files/1/0666/9741/files/firepit-2-illustration-01.svg?9585489321818147626" alt="FirePit" title="FirePit" />
        <br><strong class="pb20 pt10">FirePit</strong></a>
      </th>
    </tr>
  </thead>
  <tbody>

    
       <tr>
      <td>Video</td>
      <td> <a href="#" data-control-modal="#homestove-video" class="btn-tiny btn-tiny-primary mt10" title="Watch"><span><i class="icomoon icon-playTriangle-01 btn-tiny-icon"></i>WATCH: HomeStove</span></a></td>
      <td> <a href="#" data-control-modal="#basecamp-video" class="btn-tiny btn-tiny-primary mt10" title="Watch"><span><i class="icomoon icon-playTriangle-01 btn-tiny-icon"></i>WATCH: BaseCamp</span></a></td>
     <td> <a href="#" data-control-modal="#campstove2-video" class="btn-tiny btn-tiny-primary mt10" title="Watch"><span><i class="icomoon icon-playTriangle-01 btn-tiny-icon"></i>WATCH: CampStove 2</span></a></td>
      <td> <a href="#" data-control-modal="#firepit-video" class="btn-tiny btn-tiny-primary mt10" title="Watch"><span><i class="icomoon icon-playTriangle-01 btn-tiny-icon"></i>WATCH: FirePit</span></a></td>

    </tr>
    <tr>
      <td>Fuel Type</td>
      <td>Firewood, branches, sticks, crop waste &amp; dung* (sometimes used in emerging markets)</td>
      <td>Firewood, branches, sticks</td>
      <td>Sticks, pinecones, untreated scrap wood, wood pellets</td>
      <td>Firewood, branches less than 16", charcoal</td>
    </tr>
    <tr>
      <td>Materials</td>
      <td>High grade stainless steel, high temperature nylon plastic, cast iron</td>
      <td>High grade stainless steel, high temperature nylon plastic, cast iron</td>
      <td>High grade Stainless Steel, Aluminum, high temperature nylon plastic</td>
      <td>High grade stainless steel, high temperature nylon plastic</td>
    </tr>
     <tr>
      <td>Dimensions</td>
      <td>9.84 x 12.2 in <br>(25 x 31 cm)</td>
      <td>13.25 x 23 in<br> (33.6 x 58.4 cm)</td>
       <td>5.0 x 7.91 in <br>(12.7 x 20.1 cm)</td>
      <td>27 x 13 x 15.8 in <br>(68.6 x 33 x 40.1 cm)</td>
    </tr>
     <tr>
      <td>Weight</td>
      <td>17.64 lbs <br>(8 kg)</td>
      <td>17.92 lbs <br>(8.16 kg)</td>
       <td>2.06 lbs <br>(935 g)</td>
      <td>19.8 lbs <br>(8.98 kg)</td>
    </tr>
     <tr>
      <td>Cooktop</td>
      <td>Concentrated burner flame</td>
      <td>138 sq in grill surface + concentrated burner flame option with open lever</td>
      <td>Concentrated burner flame + 55 sq in grill surface with use of Portable Grill accessory (sold separately)</td>
       <td>Open flame design + 135 sq in grill grate when in charcoal mode</td>
    </tr>
     <tr>
      <td>Power Supply</td>
      <td>Thermoelectrics produce 2W to power included USB FlexLight</td>
      <td>Thermoelectrics produce 5W to charge phones, lights, and other gear. On-board battery stores energy for use after fire if desired.</td>
         <td>Thermoelectrics produce 3W to charge phones, lights, and other gear. On-board battery stores energy for use after fire if desired.</td>
      <td>USB-rechargable airflow pack can run up to 24 hours on single charge. Doubles as powerbank for other devices with included USB out. Requires recharging via micro-USB</td>
    </tr>
       <tr>
      <td>Available Accessories</td>
      <td>N/A</td>
      <td><a href="/products/pizzadome" style="color:#00b2b0;text-decoration:underline;">PizzaDome</a>, <a href="/products/carry-pack" style="color:#00b2b0;text-decoration:underline;">BaseCamp Carry Case</a></td>
      <td><a href="/products/kettlepot" style="color:#00b2b0;text-decoration:underline;">KettlePot</a>, <a href="/products/coffeepress" style="color:#00b2b0;text-decoration:underline;">CoffeePress</a>, <a href="/products/portable-grill" style="color:#00b2b0;text-decoration:underline;">Portable Grill</a>, <a href="/products/sticksnapper" style="color:#00b2b0;text-decoration:underline;">StickSnapper</a>, <a href="/products/biofuel-pellets" style="color:#00b2b0;text-decoration:underline;">Wood Pellets</a>.</td>
      <td><a href="/products/solar-carry-cover" style="color:#00b2b0;text-decoration:underline;">Solar Carry Case</a></td>
    </tr>
    
        <tr>
      <td>Ideal For</td>
      <td>Rapid boiling and one-pot group cooking (soups, stews, beans, grains)<br><br>Homesteading, self-reliance &amp; preparedness, cabins</td>
      <td>Outdoor grilling &amp; wood-fired pizza-making for groups 4+ 
<br><br>RVs, backyards, cabins ,car camping, tailgating</td>
          <td>Full function campsite cooking (boiling, grilling, etc) for 2-6 people<br><br>
Multi-day backpacking with found fuel supply<br><br>
Car-camping with found fuel or packed pellet supply<br><br>
Great for families (easy s'mores, kids can collect fuel around site)
          </td>

          
          <td>Smokeless Campfire ambience<br><br>
Warmth around the fire<br><br>
Cookout-to-hangout: start with charcoal to grill, add firewood to transform into your evening fire<br><br>
Bonfire, beach, backyard<br><br>
Fit up to 14 people around the fire
          </td>

    </tr>

    
    
    <div id="hero-video-product" class="modal">
     <header class="modal__header">
    </header>
    <div id="homestove-video" class="modal">
   <header class="modal__header">
     <div class="modal--close">
       <i class="fa fa-circle-border fa-circle-border--medium fa-times"></i>
     </div>
   </header>
  <div class="modal__content modal__content--video">
    <iframe src="https://www.youtube.com/embed/kAK-TMPENHY?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
     </div> 
  </div>
    </div>
    
        <div id="hero-video-product" class="modal">
     <header class="modal__header">
    </header>
    <div id="campstove2-video" class="modal">
   <header class="modal__header">
     <div class="modal--close">
       <i class="fa fa-circle-border fa-circle-border--medium fa-times"></i>
     </div>
   </header>
  <div class="modal__content modal__content--video">
    <iframe src="https://www.youtube.com/embed/YF6dR8fSGvU?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
     </div> 
  </div>
    </div>
    
            <div id="hero-video-product" class="modal">
     <header class="modal__header">
    </header>
    <div id="basecamp-video" class="modal">
   <header class="modal__header">
     <div class="modal--close">
       <i class="fa fa-circle-border fa-circle-border--medium fa-times"></i>
     </div>
   </header>
  <div class="modal__content modal__content--video">
    <iframe src="https://www.youtube.com/embed/CQUNH_GGMk0?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
     </div> 
  </div>
    </div>
    
            <div id="hero-video-product" class="modal">
     <header class="modal__header">
    </header>
    <div id="firepit-video" class="modal">
   <header class="modal__header">
     <div class="modal--close">
       <i class="fa fa-circle-border fa-circle-border--medium fa-times"></i>
     </div>
   </header>
  <div class="modal__content modal__content--video">
    <iframe src="https://www.youtube.com/embed/1vGKgBDfL5g?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
     </div> 
  </div>
    </div>
    
    

 </tbody>




</table>


<!-- Mobile Tables -->

      <table class="table-with-footer compare-table-mobile">
  <thead>
    <tr>
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/files/homestove-2-illustration-01.svg?9585489321818147626" alt="HomeStove" title="HomeStove" />
        <span>HomeStove<br></span>
        <a href="/products/homestove" class="btn-tiny btn-tiny-primary mt10" title="Shop Now">
                  <span>Shop</span>
                </a>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Fuel Type</td>
      <td>Firewood, branches, sticks, crop waste &amp; dung* (sometimes used in emerging markets)</td>
    </tr>
    <tr>
      <td>Materials</td>
      <td>High grade stainless steel, high temperature nylon plastic, cast iron</td>
    </tr>
    <tr>
      <td>Dimensions</td>
      <td>9.84 x 12.2 in <br>(25 x 31 cm)</td>
    </tr>
    <tr>
      <td>Weight</td>
      <td>17.64 lbs <br>(8 kg)</td>
    </tr>
    <tr>
      <td>Cooktop</td>
      <td>Concentrated burner flame</td>
    </tr>
     <tr>
      <td>Power Supply</td>
      <td>Thermoelectrics produce 2W to power included USB FlexLight</td>
    </tr>
     <tr>
      <td>Available Accessories</td>
      <td>N/A</td>
    </tr>
  </tbody>
</table>
    
    
          <table class="table-with-footer compare-table-mobile">
  <thead>
    <tr>
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/files/basecamp-2-illustration-01.svg?9585489321818147626" alt="BaseCamp" title="BaseCamp" />
        <span>BaseCamp<br></span>
        <a href="/products/basecamp" class="btn-tiny btn-tiny-primary mt10" title="Shop Now">
                  <span>Shop</span>
                </a>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Fuel Type</td>
      <td>Firewood, branches, sticks</td>
    </tr>
    <tr>
      <td>Materials</td>
      <td>High grade stainless steel, high temperature nylon plastic, cast iron</td>
    </tr>
    <tr>
      <td>Dimensions</td>
      <td>13.25 x 23 in<br> (33.6 x 58.4 cm)</td>
    </tr>
    <tr>
      <td>Weight</td>
      <td>17.92 lbs <br>(8.16 kg)</td>
    </tr>
    <tr>
      <td>Cooktop</td>
      <td>138 sq in grill surface + concentrated burner flame option with open lever</td>
    </tr>
     <tr>
      <td>Power Supply</td>
      <td>Thermoelectrics produce 5W to charge phones, lights, and other gear. On-board battery stores energy for use after fire if desired.</td>
    </tr>
     <tr>
      <td>Available Accessories</td>
      <td><a href="/products/pizzadome" style="color:#00b2b0;text-decoration:underline;">PizzaDome</a>, <a href="/products/carry-pack" style="color:#00b2b0;text-decoration:underline;">BaseCamp Carry Case</a></td>
    </tr>
  </tbody>
</table>

    
        
          <table class="table-with-footer compare-table-mobile">
  <thead>
    <tr>
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/files/campstove-2-illustration-01_249d361a-7e41-40fc-a13e-84f8a536927a.svg?13556830398877613930" alt="CampStove 2" title="CampStove 2" />
        <span>CampStove 2<br></span>
        <a href="/products/campstove-2" class="btn-tiny btn-tiny-primary mt10" title="Shop Now">
                  <span>Shop</span>
                </a>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Fuel Type</td>
      <td>Sticks, pinecones, untreated scrap wood, wood pellets</td>
    </tr>
    <tr>
      <td>Materials</td>
      <td>High grade Stainless Steel, Aluminum, high temperature nylon plastic</td>
    </tr>
    <tr>
      <td>Dimensions</td>
       <td>5.0 x 7.91 in <br>(12.7 x 20.1 cm)</td>
    </tr>
    <tr>
      <td>Weight</td>
       <td>2.06 lbs <br>(935 g)</td>
    </tr>
    <tr>
      <td>Cooktop</td>
      <td>Concentrated burner flame + 55 sq in grill surface with use of Portable Grill accessory (sold separately)</td>
    </tr>
     <tr>
      <td>Power Supply</td>
         <td>Thermoelectrics produce 3W to charge phones, lights, and other gear. On-board battery stores energy for use after fire if desired.</td>
    </tr>
     <tr>
      <td>Available Accessories</td>
      <td><a href="/products/kettlepot" style="color:#00b2b0;text-decoration:underline;">KettlePot</a>, <a href="/products/coffeepress" style="color:#00b2b0;text-decoration:underline;">CoffeePress</a>, <a href="/products/portable-grill" style="color:#00b2b0;text-decoration:underline;">Portable Grill</a>, <a href="/products/sticksnapper" style="color:#00b2b0;text-decoration:underline;">StickSnapper</a>, <a href="/products/biofuel-pellets" style="color:#00b2b0;text-decoration:underline;">Wood Pellets</a>.</td>
    </tr>
  </tbody>
</table>
    
              <table class="table-with-footer compare-table-mobile">
  <thead>
    <tr>
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/files/firepit-2-illustration-01.svg?9585489321818147626" alt="FirePit" title="FirePit" />
        <span>FirePit<br></span>
        <a href="/products/firepit" class="btn-tiny btn-tiny-primary mt10" title="Shop Now">
                  <span>Shop</span>
                </a>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Fuel Type</td>
      <td>Firewood, branches less than 16", charcoal</td>
    </tr>
    <tr>
      <td>Materials</td>
      <td>High grade stainless steel, high temperature nylon plastic</td>
    </tr>
    <tr>
      <td>Dimensions</td>
      <td>27 x 13 x 15.8 in <br>(68.6 x 33 x 40.1 cm)</td>
    </tr>
    <tr>
      <td>Weight</td>
      <td>19.8 lbs <br>(8.98 kg)</td>
    </tr>
    <tr>
      <td>Cooktop</td>
       <td>Open flame design + 135 sq in grill grate when in charcoal mode</td>
    </tr>
     <tr>
      <td>Power Supply</td>
      <td>USB-rechargable airflow pack can run up to 24 hours on single charge. Doubles as powerbank for other devices with included USB out. Requires recharging via micro-USB</td>
    </tr>
     <tr>
      <td>Available Accessories</td>
      <td><a href="/products/solar-carry-cover" style="color:#00b2b0;text-decoration:underline;">Solar Carry Case</a></td>
    </tr>
  </tbody>
</table>



	 </div>
 </section>
</div>
