<div class="mobile-wrapper closed product-compare--{{ product.handle | remove: 'biolite-'  }}">
 <h2 class="mobile-title">Compare</h2>
 <section id="product-compare" class="product-compare product-compare--{{ product.handle | remove: 'biolite-'  }} mobile-wrapper-content">
	 <div class="product-compare wrapper wrapper--full_height wrapper--large">
<table class="compare-table">
  <thead>
    <tr>
      <th>Product</th>
      <th class="active"><strong class="pb20 pt20">BioLite HeadLamp</strong></th>
      <th><strong class="pb20 pt20">Petzl REACTIK+</strong></th>
      <th><strong class="pb20 pt20">Petzl Actick CORE</strong></th>
      <th><strong class="pb20 pt20">Black Diamond Sprinter</strong></th>
      <th><strong class="pb20 pt20">Black Diamond Spot</strong></th>
      <th><strong class="pb20 pt20">Princeton Tec Axis</strong></th>


    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Lumens</td>
      <td class="active strong"><strong>330 Lm</strong></td>
      <td>300 Lm</td>
      <td>350 Lm</td>
      <td>200 Lm</td>
      <td>325 Lm</td>
      <td>250 Lm</td>

    </tr>
    
       <tr>
      <td>Weight (With Batteries)</td>
      <td class="active strong"><strong>69 g</strong></td>
      <td>115 g g</td>
      <td>82 g</td>
      <td>105 g</td>
      <td>86 g</td>
      <td>81 g</td>
    </tr>
    
       <tr>
      <td>Burn Time (HIGH/LOW)</td>
      <td class="active strong"><strong>4 hr/40 hr</strong></td>
      <td>2.5 hr/15 hr</td>
      <td>2 hr/7 hr</td>
      <td>4 hr/42 hr</td>
      <td>4 hr/200 hr</td>
      <td>4 hr/54 hr</td>
    </tr>
    
       <tr>
      <td>Beam Distance (High)</td>
      <td class="active strong"><strong>75 m</strong></td>
      <td>110 m</td>
      <td>95 m</td>
      <td>50 m</td>
      <td>80 m</td>
      <td>33 m</td>
    </tr>

            <tr>
      <td>Rechargeable</td>
      <td class="active strong"><strong>Yes</strong></td>
      <td>Yes</td>
      <td>Yes</td>
      <td>Yes</td>
      <td>No - must buy batteries</td>
      <td>Yes</td>
    </tr>
     
            <tr>
      <td>IPX Rating</td>
      <td class="active strong"><strong>IPX 4</strong></td>
      <td>IPX 4</td>
      <td>IPX 4</td>
      <td>IPX 4</td>
      <td>IPX 8</td>
      <td>IPX 4</td>
    </tr>
                <tr>
      <td>Battery Meter</td>
      <td class="active strong"><strong>Yes</strong></td>
      <td>Yes</td>
      <td>Yes</td>
      <td>Yes</td>
      <td>No</td>
      <td>No</td>
    </tr>
    
      <tr>
      <td>Lighting Modes</td>
     <td class="active strong"><strong>White spot, white flood, red flood, strobe</strong></td>
      <td>White spot, white flood, red flood, strobe</td>
      <td>White spot, white flood, red flood, strobe</td>
      <td>White spot, strobe</td>
      <td>White spot, white flood, red flood, strobe</td>
      <td>White spot, white flood, red flood</td>
    </tr>
    
               <tr>
      <td>MSRP</td>
      <td class="active strong"><strong>$49.95</strong></td>
      <td>$109.95</td>
      <td>$69.95</td>
      <td>$79.95</td>
      <td>$39.95</td>
      <td>$59.95</td>
    </tr>
    



 
  </tbody>
</table>

<table class="compare-table-mobile">
  <thead>
    <tr>
      <th>Product</th>
      <th class="active"><strong class="pb20 pt20">BioLite HeadLamp</strong></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Lumens</td>
      <td>330 Lm</td>
    </tr>
    <tr>
      <td>Weight (With Batteries)</td>
      <td>69 g</td>
    </tr>
    <tr>
      <td>Burn Time (HIGH/LOW)</td>
      <td>4 hr/40 hr </td>
    </tr>
    <tr>
      <td>Beam Distance (High)</td>
      <td>75 m </td>
    </tr>
    <tr>
      <td>Rechargeable</td>
      <td><span>Yes</span> </td>
    </tr>
    <tr>
      <td>IPX Rating</td>
      <td>IPX 4 </td>
    </tr>
    <tr>
      <td>Battery Meter</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>Lighting Modes</td>
      <td>White spot, white flood, red flood, strobe</td>
    </tr>
    <tr>
      <td>MSRP</td>
      <td>$49.95</td>
    </tr>
 
  </tbody>
</table>
       
       <table class="compare-table-mobile">
  <thead>
    <tr>
      <th>Product</th>
      <th><strong class="pb20 pt20">Petzl REACTIK+</strong></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Lumens</td>
      <td>300 Lm</td>
    </tr>
    <tr>
      <td>Weight (With Batteries)</td>
      <td>115 g</td>
    </tr>
    <tr>
      <td>Burn Time (HIGH/LOW)</td>
      <td>2.5 hr/15 hr</td>
    </tr>
    <tr>
      <td>Beam Distance (High)</td>
      <td>110 m</td>
    </tr>
    <tr>
      <td>Rechargeable</td>
      <td><span>Yes</span> </td>
    </tr>
    <tr>
      <td>IPX Rating</td>
      <td>IPX 4 </td>
    </tr>
    <tr>
      <td>Battery Meter</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>Lighting Modes</td>
      <td>White spot, white flood, red flood, strobe</td>
    </tr>
    <tr>
      <td>MSRP</td>
      <td>$109.95</td>
    </tr>
 
  </tbody>
</table>
       
<table class="compare-table-mobile">
  <thead>
    <tr>
      <th>Product</th>
      <th><strong class="pb20 pt20">Petzl Actick CORE</strong></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Lumens</td>
      <td>350 Lm</td>
    </tr>
    <tr>
      <td>Weight (With Batteries)</td>
      <td>82 g</td>
    </tr>
    <tr>
      <td>Burn Time (HIGH/LOW)</td>
      <td>2 hr/7 hr</td>
    </tr>
    <tr>
      <td>Beam Distance (High)</td>
      <td>95 m</td>
    </tr>
    <tr>
      <td>Rechargeable</td>
      <td><span>Yes</span> </td>
    </tr>
    <tr>
      <td>IPX Rating</td>
      <td>IPX 4 </td>
    </tr>
    <tr>
      <td>Battery Meter</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>Lighting Modes</td>
      <td>White spot, white flood, red flood, strobe</td>
    </tr>
    <tr>
      <td>MSRP</td>
      <td>$69.95</td>
    </tr>
 
  </tbody>
</table>
       
       
<table class="compare-table-mobile">
  <thead>
    <tr>
      <th>Product</th>
      <th><strong class="pb20 pt20">Black Diamond Sprinter</strong></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Lumens</td>
      <td>200 Lm</td>
    </tr>
    <tr>
      <td>Weight (With Batteries)</td>
      <td>105 g</td>
    </tr>
    <tr>
      <td>Burn Time (HIGH/LOW)</td>
      <td>4 hr/42 hr</td>
    </tr>
    <tr>
      <td>Beam Distance (High)</td>
      <td>50 m</td>
    </tr>
    <tr>
      <td>Rechargeable</td>
      <td><span>Yes</span> </td>
    </tr>
    <tr>
      <td>IPX Rating</td>
      <td>IPX 4 </td>
    </tr>
    <tr>
      <td>Battery Meter</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>Lighting Modes</td>
      <td>White spot, strobe</td>
    </tr>
    <tr>
      <td>MSRP</td>
      <td>$79.95</td>
    </tr>
 
  </tbody>
</table>

       
       <table class="compare-table-mobile">
  <thead>
    <tr>
      <th>Product</th>
      <th><strong class="pb20 pt20">Black Diamond Spot</strong></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Lumens</td>
      <td>325 Lm</td>
    </tr>
    <tr>
      <td>Weight (With Batteries)</td>
      <td>86 g</td>
    </tr>
    <tr>
      <td>Burn Time (HIGH/LOW)</td>
      <td>4 hr/200 hr</td>
    </tr>
    <tr>
      <td>Beam Distance (High)</td>
      <td>80 m</td>
    </tr>
    <tr>
      <td>Rechargeable</td>
      <td>No - must buy batteries</td>
    </tr>
    <tr>
      <td>IPX Rating</td>
      <td>IPX 8 </td>
    </tr>
    <tr>
      <td>Battery Meter</td>
      <td>No</td>
    </tr>
    <tr>
      <td>Lighting Modes</td>
      <td>White spot, white flood, red flood, strobe</td>
    </tr>
    <tr>
      <td>MSRP</td>
      <td>$39.95</td>
    </tr>
 
  </tbody>
</table>

              <table class="compare-table-mobile">
  <thead>
    <tr>
      <th>Product</th>
      <th><strong class="pb20 pt20">Princeton Tec Axis</strong></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Lumens</td>
      <td>250 Lm</td>
    </tr>
    <tr>
      <td>Weight (With Batteries)</td>
      <td>81 g</td>
    </tr>
    <tr>
      <td>Burn Time (HIGH/LOW)</td>
      <td>4 hr/54 hr</td>
    </tr>
    <tr>
      <td>Beam Distance (High)</td>
      <td>33 m</td>
    </tr>
    <tr>
      <td>Rechargeable</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>IPX Rating</td>
      <td>IPX 4 </td>
    </tr>
    <tr>
      <td>Battery Meter</td>
      <td>No</td>
    </tr>
    <tr>
      <td>Lighting Modes</td>
      <td>White spot, white flood, red flood</td>
    </tr>
    <tr>
      <td>MSRP</td>
      <td>$59.95</td>
    </tr>
 
  </tbody>
</table>





	 </div>
 </section>
</div>
