<div class="mobile-wrapper closed">
 <h2 class="mobile-title">FAQ</h2>
 <section id="product-full_features" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div class="product-specs__bottom clearfix">
       <div class="grid__item large--one-half pr50">
         <h4 class="primary alt">What's New?</h4>
         <ul>
           <li><strong>50% more power</strong> <br><span class="light">Updated thermoelectrics provide 3 watts of continuous power for a more seamless charging experience.</span></li><br>
           <li><strong>On board battery storage</strong> <br><span class="light"> Integrated 2600mAh battery can store energy for when stove is not in use. You can also pre-charge it at home for a head start.</span></li><br>
           <li><strong>Updated LED dashboard</strong> <br><span class="light">See the strength of your fire, the power available to you, and your fan levels instantly.</span></li><br>
           <li><strong>4 fan speeds</strong> <br><span class="light">Compared to the 2 settings on CampStove 1, achieve better control of your flame size.</span></li><br>
            <li><strong>Modified stove body</strong> <br><span class="light">New legs, new heat mesh design, and a modified internal chamber to accommodate the new design of our heat probe.</span></li><br>

         </ul>
       </div>
       <div class="grid__item large--one-half pr50">
         <h4 class="primary alt">What's The Same?</h4>
         <ul>
           <li><strong>Same smokeless technology</strong> <br><span class="light">Featuring 51 jets inside the burn chamber, enjoy smoke-free flames using the sticks around you.</span></li><br>
           <li><strong>Same weight</strong> <br><span class="light">Yes, same weight! We added a lot of functionality like the battery and LED dashboard but we were able to update key materials to keep our weight at two pounds for the entire stove.</span></li><br>
           <li><strong>Same nesting design</strong> <br><span class="light">You can still pack this down and store it inside the KettlePot.</span></li><br>
           <li><strong>Works with KettlePot and Portable Grill</strong> <br><span class="light"> If you already own the KettlePot or Grill, you're good to go, the CampStove 2 still fits. And if you don't own them – now's your chance!</span></li><br>
         </ul>
       </div>
       
     </div>
   </div>
 </section>
</div>
