<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Smart Hub Features</h2>
 <section id="product-full_features" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div class="product-specs__bottom clearfix">
       <div class="grid__item large--one-half">
         <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/SmartHub_features_r2.png?v=1646244158" alt="Smart Hub Features" title="Smart Hub Features">
       </div>
       <div class="grid__item large--one-half mt50">
       <span class="app-feature-list">
<h4 class="alt mb10 warm-gray medium--text-center small--text-center">Interactive Control Box</h4>
         <p class="light medium--text-center small--text-center">The wall mounted Control Box gives you full control of your setup</p>
      <ul class="medium--text-center small--text-center">
        <li class="medium--text-center small--text-center" style="list-style: none;"><i class="icomoon icon-powerlight app-feature-icon"></i>Backlit LED Screen</li>
        <li class="medium--text-center small--text-center"style="list-style: none;"><i class="icomoon icon-play-music-01 app-feature-icon"></i>Listen to the Radio</li>
        <li class="medium--text-center small--text-center"style="list-style: none;"><i class="icomoon icon-monitor-sun-01 app-feature-icon"></i>Monitor Sun Intake</li>
        <li class="medium--text-center small--text-center"style="list-style: none;"><i class="icomoon icon-light app-feature-icon"></i>Bonus: Serves As A 4th Light</li> 
      </ul>
         <br><br>
         <p class="light medium--text-center small--text-center"><strong>Cold Weather Notice:</strong> Originally designed for us in sub-Saharan Africa, the SolarHome 620+ Control Box does not operate outdoors in freezing conditions. If using in a cold environment, ensure Control Box is used indoors in warmer temperatures. As with any battery, extreme cold will impact runtimes.</p>
  
         
         
    </span>
     
         
       
         
       </div>
       
     </div>
   </div>
 </section>
</div>
