<div class="mobile-wrapper closed">
 <h2 class="mobile-title">FAQs</h2>
 <section id="product-full_features" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div class="product-specs__bottom clearfix">
       
       <div class="grid__item push--large--one-fifth large--three-fifths medium--one-whole small--one-whole mt5">
         <p class="light">Lifestraw believes that responsible manufacturing includes creating and maintaining a strong evidence base for product claims and their intended impacts. All products undergo rigorous independent testing to meet or exceed protocols established by the US Environmental Protection Agency (EPA) and National Sanitation Foundation (NSF) Lifestraw also built and runs an ISO accredited water laboratory based in Vietnam that does quality validation and testing of all new and existing products.
           <br><br><strong>Additional details on Lifestraw's filtration technology:</strong>
     </p>
         <ul>
           <li>Hollow fiber membrane filter: 0.2 micron pore size. Removes 99.999999% of bacteria, 99.999% of parasites, and 99.999% of microplastics</li>
           <li>Also removes turbidity (silt, sand, and cloudiness)</li>
           <li>Meets US EPA drinking water standards for bacteria and protozoa reduction</li>
		 <li>Meets highest, 3 star category based on testing under the World Health Organization household water treatment performance scheme</li>
           <li>Purifier lifetime: 4,755 gallons (18,000 liters)</li>
		 <li>Flow Rate:12 liters/hr</li>
           <li>Download <a href="https://cdn.shopify.com/s/files/1/2631/0778/t/4/assets/LSF10-MissionEvidenceDossier-1544004822807.pdf?15561445152651557181" target="_blank">Lifestraw Evidence Dossier</a> </li><br>



         </ul>
         
       </div>
       
     </div>
   </div>
 </section>
</div>
