<div class="mobile-wrapper closed">
 <h2 class="mobile-title">FAQs</h2>
 <section id="product-full_features" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div class="product-specs__bottom clearfix">
       
       <div class="grid__item push--large--one-fifth large--three-fifths medium--one-whole small--one-whole mt20">
         <ol>
           <li>What is pass-thru charging?<br>
             <span class="light">Pass-thru charging describes the ability to use HeadLamp while it is actively being charged. So with the Extended Run Kit, you can plug your HeadLamp 330 into the included Charge 20, tuck that powerbank in the top of your pack, coat, vest, etc, and the HeadLamp 330 will be fully functional while staying charged up.</span></li><br>
           
           <li>How long does it take to recharge HeadLamp 330?<br>
             <span class="light">HeadLamp charges to full in approximately 2.5 hours. Note that it DOES accept pass-thru charging, so you can use it while it is being charged.</span></li><br>
           
             <li>Is it really as comfortable as everyone is saying?<br>
               <span class="light">Try it for yourself! With our <a href="#holyFit" style="color: #35a8a6;" class="bold">HolyFit Guarantee</a>, you can put HeadLamp 330 to the test for yourself for 30 days – if you don't fall in love, we'll take it back. </span></li><br>
           


         </ol>
         
       </div>
       
     </div>
   </div>
 </section>
</div>
