<div class="mobile-wrapper closed">
 <h2 class="mobile-title">FAQs</h2>
 <section id="product-full_features" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div class="product-specs__bottom clearfix">
       
       <div class="grid__item push--large--one-fifth large--three-fifths medium--one-whole small--one-whole mt20">
         <ol>
           <li>Is it really as comfortable as everyone is saying?<br>
             <span class="light">Try it for yourself! With our <a href="#holyFit" style="color:#35a8a6;" class="bold">HolyFit Guarantee</a>, you can put HeadLamp 200 to the test for yourself for 30 days – if you don't fall in love, we'll take it back. </span></li><br>
           
          <li>What does 50g compare to in items in my everyday life? <br>
             <span class="light">Less then a pack of Altoids, roughly 1.5 gum packets, about the weight of a golf ball.</span></li><br>
           
           <li>Is it adjustable? Does it fit kids? <br>
             <span class="light">Yes, the headlamp is easily adjustable by pulling away or towards your ears with the clips on the back. And yes, it fits kids!</span></li><br>
           
             <li>What is the color temperature of the light?<br>
             <span class="light">6500k</span></li><br>
           
             <li>Does the headlamp tilt?<br>
             <span class="light">Yes, the front panel can articulate up and down easily with one hand</span></li><br>
           
             <li>Can I control it with gloves on?<br>
             <span class="light">Yes! The large power button located at the top of the panel is easy to engage with gloves (we've conducted multiple tests in house with various glove styles)</span></li><br>
           
           <li>How do I clean the HeadLamp?<br>
             <span class="light">The headband of HeadLamp can be hand-washed with a mild detergent or dishsoap and water. We recommend dampening a sponge and wiping down the inside of the band.  </span></li><br>
           
           <li>How long does it take to recharge HeadLamp 200?<br>
             <span class="light">HeadLamp charges to full in approximately 2.5 hours.  </span></li><br>
           

         </ol>
         
       </div>
       
     </div>
   </div>
 </section>
</div>
