<div class="mobile-wrapper closed">
 <h2 class="mobile-title">FAQs</h2>
 <section id="product-full_features" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div class="product-specs__bottom clearfix">
       
       <div class="grid__item push--large--one-fifth large--three-fifths medium--one-whole small--one-whole mt20">
         <ol>
           <li>Is it really as comfortable as everyone is saying?<br>
             <span class="light">Try it for yourself! With our <a href="#holyFit" style="color:#35a8a6;" class="bold">HolyFit Guarantee</a>, you can put HeadLamp 330 to the test for yourself for 30 days – if you don't fall in love, we'll take it back. </span></li><br>
           
           <li>Is it adjustable? Does it fit kids? <br>
             <span class="light">Yes, the headlamp is easily adjustable by pulling away or towards your ears with the clips on the back. And yes, it fit kids!</span></li><br>
           
             <li>What is the color temperature of the light?<br>
             <span class="light">6500k</span></li><br>
           
             <li>Does the HeadLamp 330 tilt?<br>
             <span class="light">Yes, the front panel can articulate up and down easily with one hand</span></li><br>
           
             <li>Is HeadLamp 330 Weatherproof?<br>
             <span class="light">HeadLamp is rated IPX4 which means it can be used in rain but we would not recommend extended use in a downpour. Do not submerge.</span></li><br>
           
           <li>How do I clean the HeadLamp 330?<br>
             <span class="light">The headband of HeadLamp can be hand-washed with a mild detergent or dishsoap and water. We recommend dampening a sponge and wiping down the inside of the band. </span></li><br>
           
           <li>Does the HeadLamp 330 accept pass-thru charging?<br>
             <span class="light">Yes (translation: you can use the HeadLamp while it is being charged - comes in handy for more mobile charging, like with a powerbank on a hike) </span></li><br>
           
            <li>How long does it take to recharge HeadLamp 330?<br>
             <span class="light">HeadLamp charges to full in approximately 2.5 hours. Note that it DOES accept pass-thru charging, so you can use it while it is being charged. </span></li><br>
           


         </ol>
         
       </div>
       
     </div>
   </div>
 </section>
</div>
