<div class="mobile-wrapper closed">
 <h2 class="mobile-title">FAQs</h2>
 <section id="product-full_features" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div class="product-specs__bottom clearfix">
       
       <div class="grid__item push--large--one-fifth large--three-fifths medium--one-whole small--one-whole mt20">
         <ol>
           <li>What setting should FirePit be on to use the Griddle?<br>
             <span class="light">The FirePit Griddle works best on a moderate flame with the FirePit fan on LOW. You do NOT need a large flame to cook effectively with the Griddle. You can also cook over charcoal by moving FirePit's fuel rack to the upper level.</span></li><br>
           

           <li>How do I clean FirePit Griddle? <br>
             <span class="light">After cooking, allow the griddle to cool slowly before cleaning. Do not rapidly cool the griddle by adding water, it could cause damage. Clean with non-metal, non-abrasive brush or sponge with mild soap. Dry completely and wipe with a small amount of oil before storing to protect seasoning and prevent rust.</span></li><br>
 
             <li>This comes pre-seasoned – can I do additional seasoning for the cast iron?<br>
             <span class="light">Yes! Proper seasoning will extend the life of your griddle and provide a non-stick cooking surface. It is ready to use out of the box but additional seasoning will improve the surface over time: After cooking, clean with non-metal, non-abrasive brush or sponge with mild soap. Wipe all surfaces with a very light amount of vegetable, canola or soybean oil; Place over your FirePit burning with a small fire or in a 450F oven; Heat for approximately 20 min, the oil will smoke slightly; Remove the griddle from the heat with protective mitts and let cool. </span></li><br>
           

             <li>Does this fit inside FirePit Solar Carry Bag?<br>
             <span class="light">No, we recommend packing Griddle in a separate bag or container with the rest of your outdoor kitchen supplies. </span></li><br>
           
                       <li>How does the FirePit Build-Your-Own-Bundle work?<br><span class="light">
             Add any 4 items from the FirePit Family to your cart and a 10% automatic discount will be applied to your order at checkout. Eligible items are: <a href="/products/firepit" style="text-decoration:underline">FirePit</a>, <a href="/products/firemat" style="text-decoration:underline">FireMat</a>, <a href="/products/firepoker" style="text-decoration:underline">FirePoker</a>, <a href="/products/solar-carry-cover" style="text-decoration:underline">Solar Carry Cover</a>, <a href="/products/firepit-griddle" style="text-decoration:underline">Griddle</a>, <a href="/products/firepit-grill-lid" style="text-decoration:underline">Grill Lid</a>, <a href="/products/prep-grill-toolkit" style="text-decoration:underline">Prep &amp; Grill Toolkit</a>.
            <br><br> <span class="small">Bundle Discount cannot be applied to pre-built kits (don't worry - these bundles already have the discounts included in their price).
</span>
             
             </span></li><br>  
        

         </ol>
         
       </div>
       
     </div>
   </div>
 </section>
</div>
