<div class="mobile-wrapper closed">
 <h2 class="mobile-title">FAQs</h2>
 <section id="product-full_features" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div class="product-specs__bottom clearfix">
       
       <div class="grid__item push--large--one-fifth large--three-fifths medium--one-whole small--one-whole mt20">
         <ol>
           
                      <li>How does the FirePit+ Build-Your-Own-Bundle work?<br><span class="light">
             Add any 4 items from the FirePit Family to your cart and a 10% automatic discount will be applied to your order at checkout. 
                        Eligible items are: <a href="/products/firepit-plus" style="text-decoration:underline">FirePit</a>, <a href="/products/firemat" style="text-decoration:underline">FireMat</a>, <a href="/products/firepoker" style="text-decoration:underline">FirePoker</a>, <a href="/products/solar-carry-cover" style="text-decoration:underline">Solar Carry Cover</a>, <a href="/products/firepit-griddle" style="text-decoration:underline">Griddle</a>, <a href="/products/firepit-grill-lid" style="text-decoration:underline">Grill Lid</a>, <a href="/products/prep-grill-toolkit" style="text-decoration:underline">Prep &amp; Grill Toolkit</a>.
            <br><br> <span class="small">Bundle Discount cannot be applied to pre-built kits (don't worry - these bundles already have the 
                        discounts included in their price).
</span>
             
             </span></li><br> 

             
           <li>What is the difference between FirePit and FirePit+?<br><span class="light">
             FirePit+ is our newest model and features a larger internal battery (12,000 mAh), enlarged X-Ray Mesh to better radiate heat, and a new high-temp enamel coating on the outside for added durability.</span></li><br>
          
                     
           
  <li>Do you have to use your phone and/or Bluetooth to control FirePit+?<br><span class="light">
            Nope, you can do everything manually via the button located on the side of the usb-rechargeable powerpack. 
    The optional Bluetooth app allows you to control the airflow settings remotely, which comes in handy if you're perfectly 
    bundled around the fire and don't want to get up – but more importantly, it offers precise feedback on how much runtime is left 
    in the battery so you can be in complete control of your clean-burning experience.</span></li><br>           
           <li>Does the FirePit+ create electricity?<br><span class="light">
             Nope. If you are asking this, chances are you're familiar with our CampStove or BaseCamp (if so, welcome back!). 
             Those stoves feature a thermoelectric generator that produces electricity from the heat of the fire. 
             The FirePit does not – and that's on purpose. The FirePit's design is to radiate heat outward, offering the rolling flames of a 
             typical campfire. BaseCamp and CampStove are designed to <strong>concentrate</strong> flames and heat, making it 
             ideal for thermoelectric conversion. If we put thermoelectrics in the FirePit, you'd get very little electricity 
             relative to the size of the fire and it would cost upwards of $400-$600 – we didn't want to just do tech for tech's sake. 
             The FirePit+ airflow pack detaches easily and with runtimes of up to 30 hours per charge, you can recharge easily at home or 
             from a BioLite SolarPanel or powerbank in between use.
</span></li><br>
           
           <li>How long can the airflow system run on a single charge?<br><span class="light">
            30 hours on LOW, 14 hours on MEDIUM, 7 hours on MAX. IMPORTANT - MAX doesn't mean biggest flames! 
             If you want to have nice campfire feel with big flames, you actually want the system on the LOW 
             setting: that allows the flames to extend and dance around. MAX setting intensifies the fire by 
             increasing airflow and the effect is that the flames essentially collapse on themselves, creating a 
             furnace-like effect. This is ideal for kickstarting an initial fire (see what we did there) or if you're in 
             really chilly conditions and you're looking to radiate a lot of heat.
</span></li><br>
           
           <li>What is the ideal size of flames for cooking with FirePit+?<br><span class="light">
             Low-to-moderate flame is ideal for cooking, giving you ideal control for both grilling and griddling. 
             Larger flames may lick around your griddle or pans and present a hazard – we don't recommend it.
</span></li><br>
           
           <li>How do I clean the FirePit+?<br><span class="light">
             The FirePit+ has a trap door at the bottom that you can use to clean out ash and coal (remember to dispose of those safely and have water nearby!). 
             We recommend using a wide painters brush to get any fine ash out if you want a deeper clean. If you're grilling, 
             you can clean the grate with a standard wire brush you use to clean with other grills.</span></li><br>
          

             


         </ol>
         
       </div>
       
     </div>
   </div>
 </section>
</div>
