<div class="mobile-wrapper closed">
 <h2 class="mobile-title">FAQs</h2>
 <section id="product-full_features" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div class="product-specs__bottom clearfix">
       
       <div class="grid__item push--large--one-fifth large--three-fifths medium--one-whole small--one-whole mt20">
         <ol>
           <li>How long is the run time in Party Mode?<br><span class="light">6 hours</span></li><br>
           <li>How durable is SunLight? Can I scratch the lens?<br><span class="light">The SunLight is designed for outdoor use and ready to handle some some wear and tear. The plastic housing won't pop or deflate and the interior of the lens is where our proprietary texture diffuses the light. Translation: an inevitable scratch or two will not affect brightness or functionality, we do that all on the inside. </span></li><br>
           <li>Does SunLight charge other devices?<br><span class="light">Nope, the power created from the panel is designed to run the lantern only. For power-sharing light, check out our <a href="/products/powerlight-mini">PowerLight Mini</a>.</span></li><br>
           <li>My SunLight cycles through modes and shuts off - what's up?<br><span class="light">Your SunLight is in retail demo mode. Press and hold for 10 seconds to get out of demo mode</span></li><br>

         </ol>

       </div>
     </div>
   </div>
 </section>
</div>
