<div class="mobile-wrapper closed">
 <h2 class="mobile-title">FAQs</h2>
 <section id="product-full_features" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div class="product-specs__bottom clearfix">
       
       <div class="grid__item push--large--one-fifth large--three-fifths medium--one-whole small--one-whole mt20">
         <ol>
           <li>How long does it take to charge the whole system?<br><span class="light">Approximately 6 hours in strong, direct sun. Set your panel up in a high, sunny spot for maximum charging.</span></li><br>
           <li>How do I tell how much power I'm creating or storing?<br><span class="light">The LCD display on the Control Box gives you real-time feedback on sun strength and power available in your battery</span></li><br>
           <li>Can I leave the solar panel out in all weather?<br><span class="light">Yes – in fact, rain helps keep the panel clear of dust for better performance. Just make sure that after heavy storms the panel is clear of debris and has not shifted.</span></li><br>
           <li>Why isn't there an audio jack to play music?<br><span class="light">As a crossover product from BioLite, microSD and FM radio are the most common ways to listen to music in Kenya with the added benefit of not requiring power from your mobile phone. Loading up a microSD is easy and keeps your phone free for other functions</span></li><br>
           <li>Can the lights be controlled individually?<br><span class="light">Yes! Each hanging light features its own on/off switch and can be set to LO, MED, or HI. They daisy-chain together from a single power source, but their brightness can be controlled individually. </span></li><br>
           <li>How does the motion sensor work?<br><span class="light">One of your 3 hanging lights has an "eye" in the middle of the bulb. Press the light switch 4x until a small red light appears - the eye is now activated and your motion sensor will turn on with nearby movement, keeping the light on for 30 seconds before automatically turning off.</span></li><br>
           <li>I don't have a van or cabin – can I use this for emergencies?<br><span class="light">Absolutely. The SolarHome 620+ packs down to the size of a shoebox that you can keep stored easily right under your sink. We recommend charging up your Control Box in advance so you get a headstart in case a power outage occurs</span></li><br>
           <li>Can I use SolarHome 620+ in freezing weather?<br><span class="light">We don't recommend it. The SolarHome 620+ is a crossover product, and it was originally designed for daily use in regions of sub-Saharan Africa where average temperatures are always above freezing. If you plan to use your SolarHome 620+ in colder weather, ensure the Control Box is located indoors in a warm/temperature regulated environment. To protect the battery and safety of the unit, SolarHome 620+ will not function in extreme temperatures below -4F° (-20C°) or above 140°F (60C°)</span></li><br>

           
         </ol>
         
       </div>
       
     </div>
   </div>
 </section>
</div>
