<div class="mobile-wrapper closed">
 <h2 class="mobile-title">FAQs</h2>
 <section id="product-full_features" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div class="product-specs__bottom clearfix">
       
       <div class="grid__item push--large--one-fifth large--three-fifths medium--one-whole small--one-whole mt20">
         <ol>
           <li>What does USB-C PD mean?<br>
             <span class="light">Power Delivery (PD) is a protocol specification that allows for fast, flexible and safe charging. 
               This technology allows a variety of devices to fast charge over a common USB-C connection and allows both to negotiate the most efficient and safe settings. </span></li><br>
           
           <li>How fast is fast? <br>
             <span class="light">
The Charge PD series utilizes both USB-C PD and also Quick Charge 3.0 protocols. 
               That means you can charge at up to 18W using the type C port and up to 15w using the type A port. 
               A standard USB port will only deliver 5W -- this means you can generally charge about three times faster using our powerbank.</span></li><br>
           
             <li>Can I bring this on an airplane?<br>
             <span class="light">Yes, the BioLite Charge PD series is FAA carry-on compliant. </span></li><br>
           
           <li>What is the Charge 80 battery size in watt hours?<br>
             <span class="light">74 Wh </span></li><br>
           
            <li>How long does it take to recharge Charge 80 PD from a BioLite SolarPanel 10+?<br>
             <span class="light">Approximately 13 hours in direct sun. </span></li><br>
           
           <li>Can I take Charge PD into cold environments?<br>
             <span class="light">Yes, the approved operating temperature of the Charge PD series is -4F to 104F (-20C to 40C).</span></li><br>
           
           
    
           
        

         </ol>
         
       </div>
       
     </div>
   </div>
 </section>
</div>
