<div class="mobile-wrapper closed">
 <h2 class="mobile-title">FAQs</h2>
 <section id="product-full_features" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div class="product-specs__bottom clearfix">
       
       <div class="grid__item push--large--one-fifth large--three-fifths medium--one-whole small--one-whole mt20">
        <h4 class="alt">FirePit+</h4> 
          <ol>
            <li>How does FirePit+ create a smokeless campfire?<br><span class="light">
          Shortest answer: we burn the smoke before it has a chance to escape the fire.
<br><br>
Longer answer: 51 internal airjets inject the fire with oxygen along precise locations in the burn chamber. This vortex-like airflow creates more uniform temperatures throughout the entire fire, enabling us to burn hotter and achieve more complete combustion of your fuel source... smoke is just unburnt fuel and we don't let that happen. 
            </span></li><br>
         
          <li>How long can the airflow system run on a single charge?<br><span class="light">
             30 hours on LOW, 14 hours on MEDIUM, 7 hours on MAX. <br><br>IMPORTANT - MAX doesn't mean biggest flames! If you want to have nice campfire feel with big flames, 
            you actually want the system on the LOW setting: that allows the flames to extend and dance around. 
            MAX setting intensifies the fire by increasing airflow and the effect is that the flames essentially collapse on themselves, 
            creating a furnace-like effect. This is ideal for kickstarting an initial fire (see what we did there) or if you're in really chilly conditions and you're looking to radiate a lot of heat. 
            </span></li><br>
         
               <li>What is the ideal size of flames for cooking with FirePit+?<br><span class="light">
Low-to-moderate flame is ideal for cooking, giving you ideal control for both grilling and griddling. Larger flames may lick around your griddle or pans and present a hazard – we don't recommend it.
 
            </span></li>
         </ol>
         
         <h4 class="alt"> AlpenGlow</h4> 
         
         <ol>
           <li>What is the lumen count on HI and LO?<br>
             <span class="light">500 lumens on HI | 5 lumens on LO </span></li><br>
           
           <li>What does ChromaReal technology do? How do I access it? <br>
             <span class="light">ChromaReal LEDs are active on the Warm White Lantern setting. They emit broad spectrum light which helps colors pop and you can see textures/finishes more clearly in lowlight conditions. This can be really useful during nighttime cooking.</span></li><br>
           
             <li>Can I leave AlpenGlow outside overnight?<br>
             <span class="light">Keeping it outside overnight at your campsite is totally fine. AlpenGlow is IPX4 rated, which means it can handle dew and rain. For best protection against the elements, keep the ports securely closed with the rubber doors. </span></li><br>
           
             <li>Is AlpenGlow tabletop only or can it hang?<br>
             <span class="light">AlpenGlow IS hangable thanks to the hook located at the bottom of the unit. Makes for great overhead lighting. </span></li><br>
           
           
             <li>I see FirePit+ has an app - can I control AlpenGlow through that same app?<br>
             <span class="light">Nope, AlpenGlow is not bluetooth enabled. In fact, we WANT AlpenGlow to be a hands-on experience: you can unlock a series of cool features 
               like Candle Flicker, Party Mode, and Fireworks by giving the lantern a shake to activate the internal accelerometer. </span></li><br>
           

           


           
        

         </ol>
         
       </div>
       
     </div>
   </div>
 </section>
</div>

