<div class="mobile-wrapper closed">
 <h2 class="mobile-title">FAQs</h2>
 <section id="product-full_features" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div class="product-specs__bottom clearfix">
       
       <div class="grid__item push--large--one-fifth large--three-fifths medium--one-whole small--one-whole mt20">
         <ol>
           <li>Is HeadLamp weatherproof?<br>
             <span class="light">HeadLamp is rated IPX4 which means it can be used in rain but we would not recommend extended use in a downpour. Do not submerge.</span></li><br>
           
           <li>What is the color temperature of the light?<br>
             <span class="light">6500K</span></li><br>
           
             <li>Is it adjustable? Does it fit kids?<br>
             <span class="light">Yes, HeadLamp is easily adjustable by pulling away or towards your ears with the clips on the back. And yes, it fit kids!</span></li><br>
           
             <li>How do I clean the HeadLamp?<br>
             <span class="light">The headband of HeadLamp can be hand-washed with a mild detergent or dishsoap and water. In the event you want to wash it, our recommendation is to dampen a sponge and wipe down the inside of the band. Do not submerge the unit in water.</span></li><br>
           
             <li>Does the HeadLamp tilt?<br>
             <span class="light">Yes, the front panel can articulate up and down easily with one hand</span></li><br>
           


         </ol>
         
       </div>
       
     </div>
   </div>
 </section>
</div>
