<div class="mobile-wrapper closed">
 <h2 class="mobile-title">FAQs</h2>
 <section id="product-full_features" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div class="product-specs__bottom clearfix">
       
       <div class="grid__item push--large--one-fifth large--three-fifths medium--one-whole small--one-whole mt20">
         <ol>
           <li>Do you have to use your phone and/or Bluetooth to control FirePit?<br><span class="light">
             Nope, you can do everything manually via the button located on the side of the usb-rechargeable powerpack. The optional Bluetooth app allows you to control the airflow settings remotely, which comes in handy if you're perfectly bundled around the 
             fire and don't want to get up – but more importantly, it offers precise feedback on how much runtime is left in the battery so you can be in complete control of your clean-burning experience</span></li><br>
          
           
           <li>Does the FirePit create electricity?<br><span class="light">
            Nope. 
If you are asking this, chances are you're familiar with our CampStove or BaseCamp (if so, welcome back!). Those stoves feature a thermoelectric generator that produces electricity from the heat of the fire. The FirePit does not – and that's on purpose.

If we included thermoelectrics in a design of this scale, the unit would cost upwards of $400-$600 and we didn't want to just do tech for tech's sake. Realizing that we wanted the system to still be self-reliant and self-charging, we opted for a solar cover as a companion to the unit. We really want this project to be affordable to as many folks as possible and this was the right energy solution for it.</span></li><br>
           
           <li>How long can the airflow system run on a single charge?<br><span class="light">
             24 hours on LOW, 10 hours on MEDIUM, 5 hours on MAX. IMPORTANT - MAX doesn't mean biggest flames! If you want to have nice campfire feel with big flames, you actually want the system on the LOW setting: that allows the flames to extend and dance around. MAX setting intensifies the fire by increasing airflow and the effect is that the flames essentially collapse on themselves, creating a furnace-like effect. This is ideal for kickstarting an initial fire (see what we did there) or if you're in really chilly conditions and you're looking to radiate a lot of heat. 
           
           <li>How do I clean the FirePit?<br><span class="light">
             The FirePit has a trap door at the bottom that you can use to clean out ash and coal (remember to dispose of those safely and have water nearby!).
We recommend using a wide painters brush to get any fine ash out if you want a deeper clean.
If you're grilling, you can clean the grate with a standard wire brush you use to clean with other grills.</span></li><br>
          
             <li>How long does the Solar Carry Cover (sold separately) take to recharge the power pack the full?<br><span class="light">
               The <a href="/products/solar-carry-cover" style="text-decoration:underline">Solar Carry Cover</a> is designed to take about 4-5 days to charge the power pack to full. Our intended use case is: you burn over the course of a weekend (Fri, Sat, Sun) and then use the weekdays to charge it back up to full. This timeframe accounts for variations in peak sun. Please note that the Powerpack IS detachable and you can always recharge faster it via a wall outlet, your car charger, etc. We just wanted to ensure you had a way to offer passive recharging and solar was the best fit since many users will be leaving it outside in the backyard.

The Bluetooth App also offers real-time feedback on your powerpack so you always know how much runtime is left.</span></li><br>

         </ol>
         
       </div>
       
     </div>
   </div>
 </section>
</div>
