<div class="mobile-wrapper closed">
 <h2 class="mobile-title">FAQs</h2>
 <section id="product-full_features" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div class="product-specs__bottom clearfix">
       
       <div class="grid__item push--large--one-fifth large--three-fifths medium--one-whole small--one-whole mt20">
         <ol>
           <li>What is the difference between HomeStove and BaseCamp?<br><span class="light"> While both feature the same main body, the BaseCamp is raised off the ground with folding legs, features more power an on-board storage, and offers a grilltop function. See more differences on our COMPARE tab</span></li><br>
           <li>What is the difference between HomeStove and FirePit?<br><span class="light"> The HomeStove's primary function is as a high-efficiency wood cookstove while the FirePit's primary function is to be a smokeless wood-burning firepit with large open flames. See more on our COMPARE tab.</span></li><br>
           <li>Can I use the HomeStove on my deck or lawn?<br><span class="light"> We don't recommend it. The bottom of the HomeStove is made from cast-iron and gets very hot during use. Use on concrete, sand, gravel, or packed dirt.</span></li><br>
           <li>How much power is produced? What can I charge?<br><span class="light"> The HomeStove produces 2W, enough to power the included USB FlexLight so you can illuminate your cooktop in nighttime conditions. In emerging markets, the HomeStove is also capable of powering mobile phones as the charging requirements are significantly lower. </span></li><br>
          <li>What kind of fuel can I use with the HomeStove?<br><span class="light"> The primary fuel that the HomeStove uses is wood, but it can also burn other forms of biomass, such as crop waste, and dung. However, please do not burn charcoal in the HomeStove.</span></li><br>
           <li>What type of cookware can I use with the HomeStove?<br><span class="light"> The burner-style flame of the HomeStove is designed to accomodate most household pots and pans</span></li><br>
           <li>How do you light the HomeStove?<br><span class="light"> Use small twigs, wood shavings and paper as fire starters and light them using matches. Once the fire starts, gradually add larger pieces of wood in a crisscross pattern. 3-4 pieces of wood should suffice, do not overstuff the stove as doing so makes the fire weaker.</span></li><br>
           <li>Would the BaseCamp carry pack fit the HomeStove?<br><span class="light"> Yes! The HomeStove is smaller than the BaseCamp and will easy fit inside the BaseCamp carry pack if you are looking for a bag.</span></li><br>
           <li>When I buy a HomeStove, how does it help families in east Africa?<br><span class="light"> A portion of your purchase gets re-invested into the teams and programs that help us deliver safe and reliable energy to families living off-grid in Kenya and Uganda. This includes training programs, after-sales support, and building relationships with local partners that help us reach even the most remote customer. You can read more about the impact we're making together in our newly published <a href="http://impact-2017.bioliteenergy.com/" target="_blank" style="color:#00b2b0;text-decoration:underline;">2017 Impact Report</a>.</span></li><br>
           <li>Why does it say For Outdoor Use Only?<br><span class="light"> Local regulations require that HomeStove be used exclusively outdoors. Please burn responsibly and comply with all safety regulations in your area.</span></li><br>

         </ol>
         
       </div>
       
     </div>
   </div>
 </section>
</div>
