<div class="mobile-wrapper closed">
 <h2 class="mobile-title">FAQs</h2>
 <section id="product-full_features" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div class="product-specs__bottom clearfix">
       
       <div class="grid__item push--large--one-fifth large--three-fifths medium--one-whole small--one-whole mt20">
         <ol>
           <li>What is the lumen count on HI and LO?<br>
             <span class="light">500 lumens on HI | 5 lumens on LO </span></li><br>
           
           <li>What does ChromaReal technology do? How do I access it? <br>
             <span class="light">ChromaReal LEDs are active on the Warm White Lantern setting. They emit broad spectrum light which helps colors pop and you can see textures/finishes more clearly in lowlight conditions. This can be really useful during nighttime cooking.</span></li><br>
           
             <li>Can I leave AlpenGlow outside overnight?<br>
             <span class="light">Keeping it outside overnight at your campsite is totally fine. AlpenGlow is IPX4 rated, which means it can handle dew and rain. For best protection against the elements, keep the ports securely closed with the rubber doors. </span></li><br>
           
             <li>Is AlpenGlow tabletop only or can it hang?<br>
             <span class="light">AlpenGlow IS hangable thanks to the hook located at the bottom of the unit. Makes for great overhead lighting. </span></li><br>
           
                   <li>How fast does it take to recharge AlpenGlow from empty to full?<br>
             <span class="light">Approximately 3 hours </span></li><br>
           
                              <li>How do I know how much battery is left when I'm using AlpenGlow?<br>
             <span class="light">There are four small LEDs at the bottom of the unit that indicate battery percentages. 
<br><br>
When you are approaching empty, your unit will go into Low Power Mode: it will flash four times and then switch to low brigthness on warm or cool white (no other modes accessible). 
               In Low Power Mode, AlpenGlow will provide an additional 1 hour of light. To exit Low Power Mode, recharge your unit. </span></li><br>
           
        <li>I keep pushing the button but I can't get to candle flicker or cycling modes - help?<br>
             <span class="light">Give it a shake! 
               The internal accelerometer enables you to access those modes. Watch our <a href="https://www.youtube.com/watch?v=aBOZC3AcGs8" target="_blank" title="Instructional Video For AlpenGlow"> instruction video</a> for helpful detail on that. </span></li><br>
           
                   <li>Can I control the speed of how fast the colors cycle in dynamic modes?<br>
             <span class="light">Yes, you can! When on dynamic single color (when the lantern is auto-cycling through one color at a time) or dynamic blended color (same but the lantern is a combo of colors), 
               if you press and hold the top button, the lantern will briefly flash GREEN, YELLOW, RED: these 
               correspond to [3] different speeds, green being the fastest and red being the slowest. Release your finger from the button on the color that represents 
               the speed you want and AlpenGlow will adjust to that tempo. </span></li><br>
           
           


           
        

         </ol>
         
       </div>
       
     </div>
   </div>
 </section>
</div>

