<div class="mobile-wrapper closed">
 <h2 class="mobile-title">FAQs</h2>
 <section id="product-full_features" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div class="product-specs__bottom clearfix">
       
       <div class="grid__item push--large--one-fifth large--three-fifths medium--one-whole small--one-whole mt20">
         <ol>
           <li>Does the headlamp tilt?<br>
             <span class="light">Yes, the front panel can articulate up and down easily with one hand. </span></li><br>
           
           <li>Can I control it with gloves on? <br>
             <span class="light">Yes! The large power button located at the top of the front panel is easy to engage with gloves as are the rear control buttons. We tested it. A lot.</span></li><br>
           
             <li>How do I clean the headlamp?<br>
             <span class="light">The headband of HeadLamp can be hand-washed with a mild detergent or dishsoap and water. We recommend dampening a sponge and wiping down the inside of the band. </span></li><br>
           
             <li>How long does it take to charge the headlamp?<br>
             <span class="light">HeadLamp charges to full in approximately 2.5 hours. </span></li><br>
           
                   <li>Can I use this in the rain?<br>
             <span class="light">Yes. You can do pretty much anything except swim with it (aka don't submerge it under water) </span></li><br>
           
                              <li>What is the color temperature?<br>
             <span class="light">5700 for spot and flood </span></li><br>
           
             <li>What is the CRI?<br>
             <span class="light">90 CRI for flood, 70 CRI for spot  </span></li><br>
           
                        <li>Is there a low power warning?<br>
             <span class="light">Yes. Your light will dim to 100 lumens and flash every 10 minutes as a warning. After that, it will drop to 5 lumens and stay in Reserve Mode for up to 8 hours.</span></li><br>
           
            <li>Can I fly with it?<br>
             <span class="light">Yes, 3000mAh/11.4Wh battery is compatible with carry-on regulations</span></li><br>
           
                   <li>Can I use the BioLite Light Diffusing Stuffsack with HeadLamp 750?<br>
             <span class="light">No, we do not recommend it. HeadLamp 750 delivers performance-grade lighting which can generate significant heat. Do not put HeadLamp 750 in contact with fabrics when in use. </span></li><br>
           
                      <li>I'm trying to turn my HeadLamp 750 on and it flashes and doesn't do anything. What's up?<br>
             <span class="light">It's in Lock Mode, preventing accidental turn on. Press and hold for 8 seconds, it'll flash and you are now unlocked. </span></li><br>
           
        

         </ol>
         
       </div>
       
     </div>
   </div>
 </section>
</div>
