<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Full Features</h2>
 <section id="product-full_features" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div class="product-specs__bottom clearfix">
       <div class="grid__item large--one-half">
         <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/HomeStove_features_v.svg?3294240036744381610" alt="HomeStove Features" title="HomeStove Features">
       </div>
       <div class="grid__item large--one-half mt40">
         <ol>
           <li>Cast Iron Top<br><span class="light">Keeps pots of all sizes stable</span></li><br>
           <li>LED FlexLight<br><span class="light">100 Lm of light to illuminate the cooking surface</span></li><br>
            <li>Thermoelectric Generator<br><span class="light">Converts heat into electricity</span></li><br>
           <li>USB Port<br><span class="light">Charges included USB FlexLight</span></li><br>
           <li>Fuel Rack<br><span class="light">Supports wood for easy tending</span></li><br>
           <li>Stainless Steel Body<br><span class="light">Ensures durability and long life</span></li><br>

          
         </ol>
         <strong>HomeStove is For Outdoor Use Only</strong>
       </div>
       
     </div>
   </div>
 </section>
</div>
