<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Full Features</h2>
 <section id="product-full_features" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div class="product-specs__bottom clearfix">
       <div class="grid__item large--one-half">
         <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/Charge80PD_Features_v_34aac390-0915-4afc-a9af-19b920a3deea.svg?v=1612286783" alt="Charge 80 PD features" title="Charge 80 PD features">
       </div>
       <div class="grid__item large--one-half">
         <ol>
           <li>18W USB C Charge In/Out Port</li><br>
           <li>(2) 3.0 USB A Charge Out Ports</li><br>
           <li>Battery Life Indicator Button</li><br>
           <li>Battery Life Indicator LEDs</li><br>
           <li>20,000 mAh Li-Ion Battery</li><br>

          

          
         </ol>
         
       
         
       </div>
       
     </div>
   </div>
 </section>
</div>
