<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Full Features</h2>
 <section id="product-full_features" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div class="product-specs__bottom clearfix">
       <div class="grid__item large--one-half">
         <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/Charge20PD_Fetures_1a7fbfef-8849-4c1a-bfc3-ec2755c4f513.svg?v=1612194427" alt="Charge 20 PD features" title="Charge 20 PD features">
       </div>
       <div class="grid__item large--one-half">
         <ol>
           <li>18W USB C Charge In/Out Port</li><br>
           <li>(2) 3.0 USB A Charge Out Ports</li><br>
           <li>Battery Life Indicator Button</li><br>
           <li>Battery Life Indicator LEDs</li><br>
           <li>6,000 mAh Li-Ion Battery</li><br>

          

          
         </ol>
         
       
         
       </div>
       
     </div>
   </div>
 </section>
</div>
