<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Full Features</h2>
 <section id="product-full_features" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div class="product-specs__bottom clearfix">
       <div class="grid__item large--one-half">
         <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/Charge40PD_Features_v_2c9e3de4-30d6-4a52-9523-764811288db8.svg?v=1612286750" alt="Charge 40 PD features" title="Charge 40 PD features">
       </div>
       <div class="grid__item large--one-half">
         <ol>
           <li>18W USB C Charge In/Out Port</li><br>
           <li>(2) 3.0 USB A Charge Out Ports</li><br>
           <li>Battery Life Indicator Button</li><br>
           <li>Battery Life Indicator LEDs</li><br>
           <li>10,000 mAh Li-Ion Battery</li><br>

          

          
         </ol>
         
       
         
       </div>
       
     </div>
   </div>
 </section>
</div>
