<script src="https://cdn.shopify.com/s/files/1/0666/9741/t/597/assets/magic360.js" type="text/javascript"></script>

<div>
  <p><a class="Magic360" data-options="filename:FPB1001-{row}-{col}.jpg; rows:3; columns:24;">
    <img class="firepit-360-images" src="https://s3-us-west-2.amazonaws.com/impact-2017.bioliteenergy.com/360test/images/FPB1001-01-01.jpg" alt=""/></a></p></div>
