          <p class="light mb20">
            
            All orders over $99+ may qualify for <strong>Free Standard Ground Shipping.</strong><br>
            The following products will incur a <strong>$30 oversize fee:</strong>
            <ul>
              <li>FirePit+</li>
              <li>FirePit Cooking Kit</li>
              <li>FirePit Cook Accessory Kit</li>
              <li>FirePit Grill Lid</li>
              <li>FirePit Griddle</li>
              <li>Patio Set</li>
              <li>CampStove Complete Cook Kit</li>
</ul>
            
            <br>
            You can find additional shipping info on our <a href="https://help.bioliteenergy.com/hc/en-us/sections/1260802736950-Shipping-general-" target="_blank" style="color:#008fa1;font-weight:700;">Shipping Page</a>.</p>