<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Full Features</h2>
 <section id="product-full_features" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div class="product-specs__bottom clearfix">
        <div class="grid__item large--one-half">
         <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/SolarPanel5_features-01-01_50a48c15-5bfe-4fa9-82c9-370fb70be665.svg?415502481546230287" alt="SolarPanel 5 features" title="SolarPanel 5 features">
       </div>
       <div class="grid__item large--one-half">
         <ol>
           <li>Kickstand<br><span class="light">Position your panel from any angle or uneven terrain</span></li><br>
           <li>Charge Strength Indicator<br><span class="light">See the strength of the sun to measure your panel capacity</span></li><br>
           <li>Solar Panel<br><span class="light">High-efficiency monocrystalline panel</span></li><br>
           <li>Sundial<br><span class="light">Easy alignment to capture direct rays for maximum charge</span></li><br>
           <li>USB Charge Out<br><span class="light">5W output to charge phones, cameras, tablets, and other gear</span></li><br>
           <li>Corner Latches<br><span class="light">Attach to a pack for external storage or to capture some watts on a hike</span></li><br>
		</ol>
         
         
       </div>
      
     </div>
   </div>
 </section>
</div>
