
<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Full Features</h2>
 <section id="product-full_features" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div class="product-specs__bottom clearfix">
       <div class="grid__item large--one-half">
         <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/BikeCommuterKit_features.svg?4183" alt="Cyclist Kit features" title="Cyclist Kit features">
       </div>
       
       <div class="grid__item large--one-half pt30">
         <ol>
           <li>HeadLamp 330<br><span class="light">Fits over bike helmet. Offers 330 lumens, red night vision and strobe.</span></li><br>
           <li>PowerLight Mini<br><span class="light">135 Lumens. Attach to pockets or use bike mount to attach to rear of bike</span></li><br>
           <li>Bike Cuff<br><span class="light">Added reflectivity and protect your pants from bike gears</span></li><br>
         </ol>
       </div>
       
     </div>
   </div>
 </section>
</div>
