
<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Full Features</h2>
 <section id="product-full_features" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div class="product-specs__bottom clearfix">
       <div class="grid__item large--one-half">
         <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/CookStove_Bundle_Features.svg?11443027860955462043" alt="CookStove Bundle features" title="CookStove Bundle features">
       </div>
       <div class="grid__item large--one-half">




         

            <ol>
                  <li>Battery-Powered Airflow Unit<br><span>The key to BioLite combustion is the internal fan powered by the USB rechargeable battery pack</span></li><br>
                  <li>Honeycomb Heat Mesh<br><span>Protective barrier keeps CampStove cool to the touch</span></li><br>
                  <li>Lightweight Aluminum Legs<br><span>Fold up for nested portability</span></li><br>
                  <li>Fuel Intake Lid<br><span>Doubles as refueling source and chimney</span></li><br>
                  <li>Steel Grill Grate<br><span>Fit up to four burgers or six hot dogs</span></li><br>
                   <li>Flame Spreading Design<br><span>Transform CampStove flames into a wood-fired grill</span></li><br>
                  <li>Folding Legs<br><span>Packs flat for ultimate portability</span></li><br>
                  <li>BPA-Free High-Temp Top<br><span>See what you’re cooking</span></li><br>
                  <li>Silicone Seal<br><span>Keeps liquids secure so you can pour without spilling a drop</span></li><br>
                    <li>Vertical Cool Touch Handles<br><span>Facilitate easy pouring</span></li><br>
                  <li>Ultra-Thin Stainless Body<br><span>Lightweight and safer than anodized aluminum cookware</span></li><br>
                </ol>


       </div>

     </div>
   </div>
 </section>
</div>
