
<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Full Features</h2>
 <section id="product-full_features" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div class="product-specs__bottom clearfix">
       <div class="grid__item large--one-half">
         <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/BaseLanternXL_features-01.svg?7078560107040851384" alt="BaseLantern XL features" title="BaseLantern XL features">
       </div>
       <div class="grid__item large--one-half">
       
            
      
         
         
          <ol>
              <li>500 Lumen Edge-Lit Lantern<br><span class="light">Bright and even light in an ultra-packable form</span></li><br>
              <li>Power Button<br><span class="light">On/off/dim or press to cycle through modes</span></li><br>
              <li>12000 mAh  Rechargeable Internal Battery<br><span class="light">Light and power for a full weekend - LEDs display battery remaining </span></li><br>
              <li>Stainless Steel Folding Legs<br><span class="light">Raise off the table, angle for task-lighting or hang from a branch</span></li><br>
              <li>Micro-USB Charge In<br><span class="light">No disposable batteries – recharge at home or on the trail with the BioLite SolarPanel 5+</span></li><br>
              <li>USB Charge Out x2<br><span class="light">Choose where your energy goes and charge 4 smartphones</span></li><br>
              <li>SiteLight x2 and Control Panel<br><span class="light">Create extended lighting with BioLite string light system</span></li><br>
            <li>Bluetooth Low Energy (LE) App<br><span class="light">Complete lighting control, timer, proximity activation, and real-time energy feedback. LE uses barely any power from your phone.</span></li>

            
                </ol>
       
         
       </div>
       
     </div>
   </div>
 </section>
</div>






