
<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Full Features</h2>
 <section id="product-full_features" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div class="product-specs__bottom clearfix">
       <div class="grid__item large--one-half">
         <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/PowerLight_features_v3.svg?177224986723681147" alt="PowerLight features" title="PowerLight features">
       </div>
       <div class="grid__item large--one-half">
       
            
      
         
         
          <ol>
              <li>Edge-Lit 200 Lumen Lantern<br><span class="light">Patent-pending texture provides warm even light with no hotspots</span></li><br>
              <li>250 Lumen Torch<br><span class="light">Powerful flashlight mode for wayfinding or search</span></li><br>
              <li>Quick Light Button<br><span class="light">Easy-on for low to no-light conditions</span></li><br>
              
              <li>USB Out with 4400 mAH Battery<br><span class="light">Refill up to 3 smartphones. Battery indicator included for easy-read charge levels</span></li><br>
              <li>SiteLight Hub<br><span class="light">Connect SiteLight Daisy Chains for full NanoGrid lighting system</span></li><br>
              <li>Micro-USB Rechargeable<br><span class="light">Forget external batteries and recharge from your wall, car, or computer</span></li><br>
              <li>360 Degree S-Hook<br><span class="light">Hang on closed loops or angle from any direction with custom friction hold design.</span></li>

                </ol>
       
         
       </div>
       
     </div>
   </div>
 </section>
</div>






