
<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Full Features</h2>
 <section id="product-full_features" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div class="product-specs__bottom clearfix">
        <div class="grid__item large--one-half">
         <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/CookStove_features-01_8a513663-2d59-4cdb-b545-c943912de064.svg?8980765323105712751" alt="CookStove features" title="CookStove features">
       </div>
       <div class="grid__item large--one-half">
               
           <ol>
           <li>Pot Stand<br><span class="light">Works with your camp cookware or integrate seamlessly with BioLite Portable Grill and KettlePot</span></li><br>
           <li>Fuel Chamber<br><span class="light">Top load sticks, pellets, or pinecones</span></li><br>
           <li>Battery-Powered Airflow Unit<br><span class="light">The key to BioLite combustion is the internal fan powered by the USB rechargeable battery pack</span></li><br>
           <li>Battery Level LED Indicator<br><span class="light">See how much battery life is left in the power pack</span></li><br>
           <li>Fan Speed LED Indicator<br><span class="light">Control the size of your flame with 4 fan settings</span></li><br>
           <li>Power Button<br><span class="light">Turns fan system on/off and up/down. </span></li><br>
           <li>Folding Legs<br><span class="light">Alumninum legs stabilize the stove and pack easily</span></li><br>

         </ol>
       </div>
      
     </div>
   </div>
 </section>
</div>
