<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Full Features</h2>
 <section id="product-full_features" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div class="product-specs__bottom clearfix">
       <div class="grid__item large--one-half">
         <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/SiteLightMini_features_v.svg?10107313680228220251" alt="SiteLight Mini features" title="SiteLight Mini features">
       </div>
       <div class="grid__item large--one-half">
         <ol>
           <li>10 ft (3 m) Of Cord<br><span class="light">Four lights per strand with 21 in (533 mm) between each light</span></li><br>
           <li>Daisy Chain Output<br><span class="light">Connect additional strands or mix and match with other BioLite SiteLights</span></li><br>
           <li>Cord Stabilizers<br><span class="light">Assists in hanging over branches</span></li><br>
           <li>Power/Daisy Chain Input<br><span class="light">Power via USB using included adapter </span></li><br>


          
         </ol>
         
       
         
       </div>
       
     </div>
   </div>
 </section>
</div>
