
<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Full Features</h2>
 <section id="product-full_features" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div class="product-specs__bottom clearfix">
       <div class="grid__item large--one-half">
         <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/PizzaDome_features_r2.svg?3847328801523006014" alt="PizzaDome features" title="PizzaDome features">
       </div>
       
       <div class="grid__item large--one-half">
         <ol>
           <li>BaseCamp Lid<br></li><br>
           <li>Integrated Thermometer<br></li><br>
           <li>Cool Touch Silicone Handle<br></li><br>
           <li>Air Vents<br></li><br>
           <li>Ceramic Pizza Stone<br></li><br>
           <li>Triangle Base (Flame Spreader) <br></li><br>
         </ol>
       </div>
                     
     </div>
   </div>
 </section>
</div>
