
<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Full Features</h2>
 <section id="product-full_features" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div class="product-specs__bottom clearfix">
       <div class="grid__item large--one-half">
         <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/Grill_features-revised-01.svg?12127865371112125072" alt="Portable Grill features" title="Portable Grill features">
       </div>
       <div class="grid__item large--one-half">
       
         
         <ol>
                  <li>Fuel Intake Lid<br><span>Doubles as refueling source and chimney</span></li><br>
                  <li>Steel Grill Grate<br><span>Fit up to four burgers or six hot dogs</span></li><br>
                  <li>Flame Spreading Design<br><span>Transform CampStove flames into a wood-fired grill</span></li><br>
                  <li>Folding Legs<br><span>Packs flat for ultimate portability </span></li><br>

                </ol>
       
         
       </div>
       
     </div>
   </div>
 </section>
</div>


