
<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Full Features</h2>
 <section id="product-full_features" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div class="product-specs__bottom clearfix">
       <div class="grid__item large--one-half">
         <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/NanoGrid_features-01.svg?36614" alt="NanoGrid features" title="NanoGrid features">
       </div>
       <div class="grid__item large--one-half">
       
            
           <ol>
                

              <li>Edge-Lit 200 Lumen Lantern<br><span>Patented texture provides warm even light with no hotspots</span></li><br>

                <li>Quick Light Button<br><span>Easy-on for low to no-light conditions</span></li><br>
                <li>250 Lumen Torch<br><span>Powerful flashlight mode for wayfinding</span></li><br>
              <li>USB Out with 4400 mAH Battery<br><span>Refill up to 3 smartphones. Battery indicator included for easy-read charge levels</span></li><br>
              <li>SiteLight Hub<br><span>Daisy-chains up to 4 SiteLights for full NanoGrid lighting system</span></li><br>
              <li>Micro-USB Rechargeable<br><span>Forget external batteries and recharge from your wall, car, or computer</span></li><br>
              <li>360 Degree S-Hook<br><span>Hang on closed loops or angle from any direction with custom friction hold design.</span></li><br>
              <li>10 Foot Reach<br><span>10 Foot cord per SiteLight. Fully contained with easy wrapping management system</span></li><br>
              <li>Directable and Dimmable<br><span>Angle lights as needed and dim to desired levels via PowerLight hub</span></li><br>
              <li>Chaining System<br><span>Connect up to 4 SiteLights for 40ft of overhead off-grid lighting</span></li>

                </ol>
       
         
       </div>
       
     </div>
   </div>
 </section>
</div>



