
<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Full Features</h2>
 <section id="product-full_features" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div class="product-specs__bottom clearfix">
       <div class="grid__item large--one-half">
         <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/SunLight_features_r2-01.svg?9508264459579787921" alt="SunLight Features" title="SunLight Features">
        

       </div>
       
       <div class="grid__item large--one-half">
         <ol>
        
           <li>Light Panel With 3 Modes<br><span class="light">Choose from white, full color, or auto-cycle all colors in Party Mode</span></li><br>
           <li>Hanging Clip<br><span class="light">Attach to tents or to other closed loops</span></li><br>
           <li>Power Button<br><span class="light">Turn on/off and cycle through light modes</span></li><br>
           <li>Micro USB Charge In<br><span class="light">Use for a quick charge or if there's no sun available </span></li><br>
           <li>Solar Panel<br><span class="light">0.45 W and can charge the SunLight fully in 7 hours</span></li><br>
           <li>Sundial<br><span class="light">Analog sundial ensures you're getting max charge at all hours of the day</span></li><br>
           <li>Kickstand<br><span class="light">Align your panel for faster charging and angle your light just right</span></li><br>


         </ol>
       </div>
       
     </div>
   </div>
 </section>
</div>
