<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Full Features</h2>
 <section id="product-full_features" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div class="product-specs__bottom clearfix">
       <div class="grid__item large--one-half">
         <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/HeadLamp_features_r2_v.svg?409505311878571141" alt="HeadLamp features" title="HeadLamp features">
       </div>
       <div class="grid__item large--one-half">
         <ol>
           <li>On/Off/Lock Button<br><span class="light">Switch between modes and lock HeadLamp to prevent accidental contact</span></li><br>
           <li>Flood Lens<br><span class="light">Great for wide angle light, up to 100 Lm</span></li><br>
           <li>Spot Lens<br><span class="light">Great for task lighting or illuminating your path, up to 230 Lm</span></li><br>
           <li>Articulating Front Bezel<br><span class="light">Angle your light to where you need it</span></li><br>
           <li>Moisture-Wicking Smart Fabric<br><span class="light">Keeps your forehead comfortable and dry during activity</span></li><br>
           <li>Easy-Adjust Clips<br><span class="light">Slides to fit head sizes from children to adults with helmets </span></li><br>
             <li>Recharge Via Micro-USB<br><span class="light">Leave the alkalines at home and recharge using BioLite gear or an outlet </span></li><br>
           <li>Reflective Strip<br><span class="light">Enhances visibility from behind </span></li><br>
           <li>Batter Indicator LEDs<br><span class="light">Monitor your battery power remaining </span></li><br>


          
         </ol>
         
       
         
       </div>
       
     </div>
   </div>
 </section>
</div>
