
<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Full Features</h2>
 <section id="product-full_features" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div class="product-specs__bottom clearfix">
       <div class="grid__item large--one-half">
         <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/SiteLight_features-01_9b9873f6-980d-4953-b7b5-15613250f580.svg?v=1612879451" alt="SiteLight features" title="SiteLight features">
       </div>
       <div class="grid__item large--one-half">
       
            
        
         
         
          <ol>
              <li>300 Total Lumens<br><span class="light">Create a sense of space and place</span></li><br>
              <li>SiteLight Hub<br><span class="light">Connect SiteLight Daisy Chains for a full lighting system</span></li><br>
              <li>10 Foot Reach<br><span class="light">10 Foot cord per SiteLight. Fully contained with easy wrapping management system</span></li><br>
              <li>Directable<br><span class="light">Angle lights as needed</span></li><br>
              <li>Chaining System<br><span class="light">Connect up to 4 SiteLights for 40ft of overhead off-grid lighting</span></li><br>
              <li>Compact Magentic Storage<br><span class="light">Units click together for protective orb storage</span></li><br>

                </ol>
       
         
       </div>
       
     </div>
   </div>
 </section>
</div>



