<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Full Features</h2>
 <section id="product-full_features" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div class="product-specs__bottom clearfix">
       <div class="grid__item large--one-half">
        <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/SiteLightMiniXL_features_v.svg?2332958741308197379" alt="SiteLight XL features" title="SiteLight XL features">

         <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/Pack_Gif_r4.gif?9937776051640407769" alt="SiteLight XL Packing"  title="SiteLight XL packing">
       </div>
       <div class="grid__item large--one-half">
         <ol>
           <li>15 ft (5 m) Of Cord<br><span class="light">Hang from branches for a full moon glow</span></li><br>
           <li>Daisy Chain Output<br><span class="light">Connect additional strands or mix and match with other BioLite SiteLights</span></li><br>
           <li>Cord Stabilizers<br><span class="light">Assists in hanging over branches</span></li><br>
           <li>Power/Daisy Chain Input<br><span class="light">Power via USB using included adapter </span></li><br>

           <li>Collapses For Easy Packing<br><span class="light">Folds into the size of a sandwich bag in a few twists </span></li><br>

          
         </ol>
         
       
         
       </div>
       
     </div>
   </div>
 </section>
</div>
