
<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Full Features</h2>
 <section id="product-full_features" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div class="product-specs__bottom clearfix">
       <div class="grid__item large--one-half">
         <ol>
           <li><strong>Thermoelectric Generator</strong> - Generate usable electricity from the heat of the fire</li><br>
           <li><strong>2W USB Port</strong> - Charge devices like smartphones, headlamps, LED lights</li><br>
           <li><strong>Internal Fan and Gas Jets</strong> - HI/LO fan settings circulate air into the fire for improved combustion and efficiency</li><br>
           <li><strong>Scalloped Pot Stand</strong> - Triangulates pots and pans for stable cooking surface and diverts flames away from powerpack</li><br>
           <li><strong>Honeycomb Heat Mesh</strong> - Protective barrier keeps CampStove cool to the touch</li><br>
           <li><strong>Lightweight Aluminum Legs</strong> - Fold up and away for nested portability</li><br>
         </ol>
       </div>
       <div class="grid__item large--one-half">
         <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/CampStove_features-01.svg?36540" alt="CampStove features" title="CampStove features">
       </div>
     </div>
   </div>
 </section>
</div>
