
<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Full Features</h2>
 <section id="product-full_features" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div class="product-specs__bottom clearfix">
       <div class="grid__item large--one-half">
         <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/CampStove_features-01.svg?36540" alt="CampStove features" title="CampStove features">
       </div>
       <div class="grid__item large--one-half">
         <ol>
           <li>Thermoelectric Generator<br><span>Generate usable electricity from the heat of the fire</span></li><br>
           <li>2W USB Port<br><span> Charge devices like smartphones, headlamps, LED lights</span></li><br>
           <li>Internal Fan and Gas Jets<br><span>HI/LO fan settings circulate air into the fire for improved combustion and efficiency</span></li><br>
           <li>Scalloped Pot Stand<br><span>Triangulates pots and pans for stable cooking surface and diverts flames away from powerpack</span></li><br>
           <li>Honeycomb Heat Mesh<br><span>Protective barrier keeps CampStove cool to the touch</span></li><br>
           <li>Lightweight Aluminum Legs<br><span>Fold up and away for nested portability</span></li><br>
         </ol>
         
       
         
       </div>
       
     </div>
   </div>
 </section>
</div>
