<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Full Features</h2>
 <section id="product-full_features" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div class="product-specs__bottom clearfix">
       <div class="grid__item large--one-half">
         <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/FirePit_ClimateNeutral_features.svg?12915" alt="FirePit features" title="FirePit features">
       </div>
       <div class="grid__item large--one-half">
         <ol>
           <li>USB Rechargeable Powerpack<br><span class="light">10,400 mAh pack can power your fire for up to 24 hours. Detach and recharge via USB or use Solar Carry Cover to trickle charge when not in use (sold separately)</span></li><br>
           <li>Air Jets Improve Combustion<br><span class="light">51 airjets inject the fire with oxygen along key locations. This creates a more uniform temperature and mixing of gases inside the fire which dramatically improves combustion.</span></li><br>
           <li>Folding Legs<br><span class="light">Makes portability a snap. Combined with the Solar Carry Cover (sold separately), you're ready to go from the backyard to the beach in no time.   </span></li><br>
           <li>Grill Grate<br><span class="light">Cook hibachi-style meals using the removeable grill grate. Fuel rack adjusts to accommodate two types of fuel - wood or charcoal.  </span></li><br>
           <li>X-Ray Mesh<br><span class="light">The 360° viewing lets you see it all: glowing embers at the bottom, the gasifying wood in the middle, and the flames coming out at the top.  </span></li><br>
           <li>Bluetooth Integration<br><span class="light">You can control that fan intensity right from the FirePit's powerpack or from your hand with the free BioLite Energy App for Android and iOS.  </span></li><br>


          
         </ol>
         
       
         
       </div>
       
     </div>
   </div>
 </section>
</div>
