<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Full Features</h2>
 <section id="product-full_features" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div class="product-specs__bottom clearfix">
       <div class="grid__item large--one-half">
         <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/FirePitCarryBag_features_v.svg?v=1612736672" alt="FirePit Carry Bag features" title="FirePit Carry Bag features">
       </div>
       <div class="grid__item large--one-half">
         <ol>
           <li>Durable, Water-Resistant Canvas <br><span class="light">Coated interior is easy to clean and maintain</span></li><br>
           <li>Reinforced Straps With G-Hook For Secure Carry<br><span class="light">Adjustable to fit FirePit and all FirePit accessories </span></li><br>
           <li>Outer Storage Pockets  <br><span class="light">Perfect for quick access to kindling, matches, and other tools    </span></li><br>
           <li>Elastic Loops For Quick Outer Storage<br><span class="light">Carry FirePit's FirePoker and other tools  </span></li><br>


          
         </ol>
         
       
         
       </div>
       
     </div>
   </div>
 </section>
</div>
