<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Full Features</h2>
 <section id="product-full_features" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div class="product-specs__bottom clearfix">
       <div class="grid__item large--one-half">
         <img class="hl750-features-img" src="https://cdn.shopify.com/s/files/1/0666/9741/files/HeadLamp750_features_v_9eb64021-f965-4878-a982-303e5d94f3b0.svg?v=1612888610" alt="HeadLamp 750 features" title="HeadLamp 750 features">
       </div>
       <div class="grid__item large--one-half">
         <ol class="features-list-no-desc">
           <li>Red Flood Lens</li>
           <li>White Flood Lens</li>
           <li>White Spot Lens</li>
           <li>4-Position Tilt Front Lens</li>
           <li>On/Off/Lock Button</li>
           <li>Moisture-Wicking Smart Fabric</li>
           <li>Easy-Adjust Clips</li>
                      <li>Rear Red Visiblity Light</li>
           <li>Constant Mode Indicator</li>
           <li>Micro-USB &amp; Run Forever Cable Input </li>
            <li>Battery Indicator LEDs </li>
           <li>Red Rear Light Control </li>
           <li>Burst Mode &amp; Constant/Regulated Toggle Button </li>
          
         </ol>
         
       
         
       </div>
       
     </div>
   </div>
 </section>
</div>
