

<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Full Features</h2>
 <section id="product-full_features" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div class="product-specs__bottom clearfix">
       <div class="grid__item large--one-half">
         <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/KettleCharge_features.svg?44170" alt="KettleCharge features" title="KettleCharge features">
       </div>
       <div class="grid__item large--one-half">
       
   
         
       
         
           <ol>
                  <li>10W On-Demand Power<br><span>Charge with the strength of a wall outlet</span></li><br>
              <li>Smart LED Dashboard<br><span>Instant feedback on heat and charging for optimal use. An audible alert sounds if the unit is getting too hot, helping to prevent accidental overheating and damage.</span></li><br>
              <li>Battery Boost<br><span>Stores power for a quick charge with no heat or water</span></li><br>
              <li>Folding Power Handle<br><span>Packs flat and angles up for perfect pouring</span></li><br>
              <li>750ml Stainless Steel Kettle<br><span>Boil water for cooking, drinking, cleaning</span></li><br>
              <li>Multi-Stove Integration<br><span>Use on gas ranges, backpacking stoves,and BioLite CampStove</span></li><br>
              <li>Flexible USB Extender<br><span>Charge gear while keeping it safe from flames</span></li><br>
                </ol>
         
       </div>
       
     </div>
   </div>
 </section>
</div>





