<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Full Features</h2>
 <section id="product-full_features" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div class="product-specs__bottom clearfix">
       <div class="grid__item large--one-half">
         <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/GrillLid_features_v.svg?v=1602794973" alt="FirePit Grill Lid features" title="FirePit Grill Lid features">
       </div>
       <div class="grid__item large--one-half mt40">
         <ol>
           <li><span class="light">Adjustable air vents for heat regulation</span></li><br>
           <li><span class="light">Folding handles for easy travel</span></li><br>
           <li><span class="light">Durable enamel coated lid designed for perfect fit with BioLite FirePit</span></li><br>



          
         </ol>
         
       
         
       </div>
       
     </div>
   </div>
 </section>
</div>
