
<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Full Features</h2>
 <section id="product-full_features" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div class="product-specs__bottom clearfix">
       <div class="grid__item large--one-half">
         <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/KettlePot_features-01.svg?62565" alt="KettlePot features" title="KettlePot features">
       </div>
       <div class="grid__item large--one-half">
       
 
         
         <ol>
                  <li>BPA-Free High Temp Top<br><span>See what you’re cooking and pour when ready</span></li><br>
                  <li>Silicone Seal<br><span>Keeps liquids secure so you can pour without spilling a drop</span></li><br>
                  <li>Vertical Cook Touch Handles<br><span>Facilitate easy handling and pouring</span></li><br>
                  <li>Ultra-Thin Stainless Body<br><span>Lightweight and safer than anodized aluminum cookware</span></li><br>
                  <li>Heat Shield<br><span>Concentrate flames and block wind</span></li>
           
                </ol>
       
         
       </div>
       
     </div>
   </div>
 </section>
</div>




