
<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Full Features</h2>
 <section id="product-full_features" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div class="product-specs__bottom clearfix">
       <div class="grid__item large--one-half">
         <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/BaseCamp_features.svg?59845" alt="BaseCamp features" title="BaseCamp features">
       </div>
       <div class="grid__item large--one-half">
       
   
         
          <ol>
                  <li>Flexible USB Light<br><span>Light your site and keep device charging</span></li><br>
                  <li>Bucket Handle<br><span>For easy portability</span></li><br>
                  <li>Group Format<br><span>Large surface area fits 8 burgers</span></li><br>
                  <li>Grill-To-Boil Lever<br><span>Transform flame at the flip of a switch</span></li><br>
                  <li>Powerpack<br><span>5W output to charge your gear</span></li><br>
                  <li>Smart LED Dashboard<br><span>Monitor your fire and power</span></li><br>
                  <li>Burn Chamber<br><span>Powerful combustion and easy refueling via side entry</span></li><br>
                  <li>Fuel Rack<br><span>Keep fuel stable up to 20”</span></li><br>
                  <li>Ash Tray<br><span>Keep your site clean</span></li><br>
                  <li>Folding Legs<br><span>For adjustable cooking height and sensitive surfaces</span></li><br>
                </ol>
         
       
         
       </div>
       
     </div>
   </div>
 </section>
</div>






