
<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Full Features</h2>
 <section id="product-full_features" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div class="product-specs__bottom clearfix">
       <div class="grid__item large--one-half">
         <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/PowerLightMini_features-01.svg?5198741523847344055" alt="Cyclist Kit features" title="Cyclist Kit features">
       </div>
       
       <div class="grid__item large--one-half pt30">
         <ol>
           <li>Bike Mount x2<br><span class="light">Attach to seat post and stem or handle bars</span></li><br>
           <li>Clipstand<br><span class="light">Attach to pockets or rotate out for hanging and standing</span></li><br>
           <li>Point Light<br><span class="light">Boost of bright light for maximum visibility</span></li><br>
           <li>Lantern Panel<br><span class="light">Soft, even light in an ultra compact form for wearability</span></li><br>
           <li>LED Battery Indicator<br><span class="light">Easily see how much juice you've got left in your light</span></li><br>
           <li>USB Charge Out<br><span class="light">1350mAh battery provides a backup boost to phones</span></li><br>
           <li>Micro USB Charge In<br><span class="light">Rechargeable Li-ion means no hunting for batteries</span></li><br>
         </ol>
       </div>
       
     </div>
   </div>
 </section>
</div>
