  <section class="hero hero--product">
    <div class="hero__viewport">
    <div class="hero__inner">
          <div class="wrapper wrapper table text-center">
            <div class="table-cell">
              <h1 class="white light baseline"><em>Welcome To BioLite</em></h1>
              <h3 class="white light mt0">You have a well-connected friend. They just hooked you up with $10 off your first purchase at the BioLite Shop. Use code <strong>FRIEND10</strong> at checkout </h3>

              <footer class="mt30">
                <a href="/products/" class="btn btn-transparent-primary"  onClick="_gaq.push(['_trackEvent', 'Click', 'Refer A Friend - Shop Now']);" title="Shop BioLite Products">
                  <span>Shop BioLite Products</span>
                </a>
              </footer>
            </div>
          </div>
        </div>
        <div class="hero__image" style="background-image:url('https://cdn.shopify.com/s/files/1/0666/9741/files/Lab_hero.jpg?5054925135295820287')"></div>
    </div>
  </section>   








