<!-- HERO HOME -->

<section id="hero" class="hero hero--carousel show">
  <div class="hero__viewport hero-carousel">
    <ul class="slides">





                              <!-- SolarPanel -->

      <li data-thumb="https://cdn.shopify.com/s/files/1/0666/9741/files/NanoGrid_hero_v2_optimized.jpg?17501202616065500435">
        <div class="hero__inner">
          <div class="wrapper wrapper table text-center">
            <div class="table-cell">


              <h3 class="white light baseline">CampStove Bundle</h3>
              <h1 class="white mt0">Fuel Your Adventure</h1>

              <footer class="mt30">
                <a href="/products/biolite-bundle?utm_source=home&utm_medium=hero&utm_campaign=slide01&utm_content=CSbundle_winter" class="btn btn-transparent-primary" title="Shop Now">
                  <span>Shop Now</span>
                </a>
              </footer>
            </div>
          </div>
        </div>
        <div class="hero__image hero_slide01"></div>

        </li>

               <!-- PizzaDome Bundle-->
      <li data-thumb="https://cdn.shopify.com/s/files/1/0666/9741/files/NanoGrid_hero_v2_optimized.jpg?17501202616065500435">
        <div class="hero__inner">
          <div class="wrapper wrapper table text-center">
            <div class="table-cell">


              <h3 class="white light baseline">PizzaDome Bundle</h3>
              <h1 class="mt0 white">Your Outdoor Wood-Fired Oven</h1>

              <footer class="mt30">
                <a href="/products/basecamp-pizzadome-bundle?utm_source=home&utm_medium=hero&utm_campaign=slide02&utm_content=pizzaDome" class="btn btn-transparent-primary" title="Back In Stock - Shop Now">
                  <span>Back In Stock - Shop Now</span>
                </a>
              </footer>
            </div>
          </div>
        </div>
        <div class="hero__image hero_slide02"></div>
        </li>





       <!-- ROAD TO IMPACT CH 8 -->


     <li data-thumb="https://cdn.shopify.com/s/files/1/0666/9741/files/NanoGrid_hero_v2_optimized.jpg?17501202616065500435">
        <div class="hero__inner">
          <div class="wrapper wrapper table text-center">
            <div class="table-cell">


              <h3 class="white light baseline">Road To Impact Series</h3>
              <h1 class="white mt0">Adventures In Firestarting</h1>

              <footer class="mt30">
                <a href="/blogs/lab/adventures-in-firestarting?utm_source=home&utm_medium=hero&utm_campaign=slide03&utm_content=ch8RTI" class="btn btn-transparent-primary" title="Read Chapter 8">
                  <span>Read Chapter 8</span>
                </a>
              </footer>
            </div>
          </div>
        </div>
        <div class="hero__image hero_slide04"></div>

        </li>



    </ul>
  </div>
  <style>

    .hero_slide01{
       background-image: url('https://cdn.shopify.com/s/files/1/0666/9741/files/CampStoveBundle_winter_hero_home_r4_optimized.jpg?15299458053110670170');
    }

    .hero_slide02{
       background-image: url('https://cdn.shopify.com/s/files/1/0666/9741/files/BaseCamp_cliff_hero_home_optimized.jpg?83080378000608048521');
    }

    .hero_slide03{
       background-image: url('https://cdn.shopify.com/s/files/1/0666/9741/files/EnergyBundle_hero_r2_optimized.jpg?4125272546989648987');
    }

    .hero_slide04{
       background-image: url('https://cdn.shopify.com/s/files/1/0666/9741/files/RTI_ch8_home_hero.jpg?10118331955817160075');
    }


   /* Tablet - Portrait */
   @media (min-width: 736px) and (max-width: 769px) and (orientation: portrait){
     .hero_slide01{
       background-image: url('https://cdn.shopify.com/s/files/1/0666/9741/files/CampStoveBundle_winter_hero_home_r4_optimized.jpg?15299458053110670170');
    }

    .hero_slide02{
       background-image: url('https://cdn.shopify.com/s/files/1/0666/9741/files/BaseCamp_cliff_hero_home_optimized.jpg?8308037800060804852');
    }

    .hero_slide03{
       background-image: url('https://cdn.shopify.com/s/files/1/0666/9741/files/EnergyBundle_hero_r2_optimized.jpg?4125272546989648987');
    }

    .hero_slide04{
       background-image: url('https://cdn.shopify.com/s/files/1/0666/9741/files/RTI_ch8_home_hero.jpg?10118331955817160075');
    }
  }


   /* Tablet - Landscape */
   @media (min-width: 736px) and (max-width: 1024px) and (orientation: landscape){
     .hero_slide01{
       background-image: url('https://cdn.shopify.com/s/files/1/0666/9741/files/CampStoveBundle_winter_hero_home_r4_optimized.jpg?15299458053110670170');
    }

    .hero_slide02{
       background-image: url('https://cdn.shopify.com/s/files/1/0666/9741/files/BaseCamp_cliff_hero_home_optimized.jpg?8308037800060804852');
    }

    .hero_slide03{
       background-image: url('https://cdn.shopify.com/s/files/1/0666/9741/files/EnergyBundle_hero_r2_optimized.jpg?4125272546989648987');
    }

    .hero_slide04{
       background-image: url('https://cdn.shopify.com/s/files/1/0666/9741/files/RTI_ch8_home_hero.jpg?10118331955817160075');
    }

 }

 /* Mobile - Portrait */
 @media (max-width: 736px) and (orientation: portrait){
     .hero_slide01{
       background-image: url('https://cdn.shopify.com/s/files/1/0666/9741/files/CampStoveBundle_winter_hero_home_mobile_optimized.jpg?12707495818424534853');
    }

    .hero_slide02{
       background-image: url('https://cdn.shopify.com/s/files/1/0666/9741/files/BaseCamp_cliff_hero__mobile_home_optimized.jpg?12707495818424534853');
    }

    .hero_slide03{
       background-image: url('https://cdn.shopify.com/s/files/1/0666/9741/files/EnergyBundle_hero_mobile_optimized.jpg?12707495818424534853');
    }

    .hero_slide04{
       background-image: url('https://cdn.shopify.com/s/files/1/0666/9741/files/RTI_ch8_home_hero_mobile.jpg?10118331955817160075');
    }
   }

   /* Mobile - Landscape */
   @media (max-width: 736px) and (orientation: landscape){
    .hero_slide01{
       background-image: url('https://cdn.shopify.com/s/files/1/0666/9741/files/CampStoveBundle_winter_hero_home_r4_optimized.jpg?15299458053110670170');
    }

    .hero_slide02{
       background-image: url('https://cdn.shopify.com/s/files/1/0666/9741/files/BaseCamp_cliff_hero_home_optimized.jpg?8308037800060804852');
    }

    .hero_slide03{
       background-image: url('https://cdn.shopify.com/s/files/1/0666/9741/files/EnergyBundle_hero_r2_optimized.jpg?4125272546989648987');
    }

    .hero_slide04{
       background-image: url('https://cdn.shopify.com/s/files/1/0666/9741/files/RTI_ch8_home_hero.jpg?10118331955817160075');
    }
   }

  </style>

</section>
