


<section class="hero hero--tight">
        <div class="hero__viewport">
      <div class="hero__inner hero__inner--xlight">
        <div class="shop-hero-wrapper">
          <div class="table-cell text-center">
           
                        <span class="shop-hero-title white">BioLite Shop </span>
           
            <span class="shop-hero-subtitle white"> 
              Shop stoves, lights, solar panels, and power. Every purchase brings safe energy to households across sub-saharan Africa.
 </span>
            
          

 
            
          </div>
        </div>
      </div>
    </div>   
  
  

      <div class="hero__image" style="background-image:url('https://cdn.shopify.com/s/files/1/0666/9741/files/AlpenGlow_shopAll_905ef51f-49ad-4c81-b0d1-8652d551257f.jpg?v=1626228247')"></div>
    
  </section>




