{% if pages.homepage-takeover && pages.homepage-takeover.title != empty %}
<script type="text/javascript">jQuery(function(){APP.data.homepage_takeover = '{{ pages.homepage-takeover.title }}'})</script>
<div id="homepage-takeover" class="modal">
    <header class="modal__header">
      <div class="modal__title">{{ pages.homepage-takeover.title }}</div>
      <div class="modal--close">
        <i class="fa fa-circle-border fa-circle-border--medium fa-times"></i>
      </div>
    </header>
    <div class="modal__content modal__content--video">
      {{ pages.homepage-takeover.content }}
    </div>
</div>
{% endif %}

{% comment %}

1) create a page in the Shopify admin &amp; assign it to the 'homepage-takeover' template
2) make sure the url for this page id /homepage-takeover
3) make the page 'visible'
4) now it's included in the homepage HTML as a modal, add the content that you want to appear in that modal on this page
5) hit the homepage with any hash in the URL and a modal will pop with this page's content, for example: http://biolite-2.myshopify.com/#enter-to-win

{% endcomment %}
