<div class="mobile-wrapper closed">
 <h2 class="mobile-title">How It Works</h2>
 <section id="product-full_features" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div class="product-specs__bottom clearfix">
       <div class="grid__item large--one-half pr30 pl30">
         <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/SHS_Adapter_howItWorks-01.svg?1366412515882307905" alt="SolarHome Charger" title="SolarHome Charger">
       </div>
       <div class="grid__item large--one-half pt30">
         <p class="light">Supplement your solar with this AC Power Adapter designed specifically to work with the SolarHome 620’s input port located on the back of the control box. <br><br>
           Plug it into an outlet and your system is full in under two hours.</p>
         
       
         
       </div>
       
     </div>
   </div>
 </section>
</div>
