<div class="mobile-wrapper closed product-compare-bundle--{{ product.handle | remove: 'biolite-'  }}">
 <h2 class="mobile-title">Included in Bundle</h2>
 <section id="product-compare-bundle" class="product-compare-bundle product-compare-bundle--{{ product.handle | remove: 'biolite-'  }} mobile-wrapper-content">
	 <div class="product-compare-bundle wrapper wrapper--full_height wrapper--large">
<table class="compare-table-bundle table-with-footer">
  <thead>
    <tr style="background-color:#fff;">
       <th class="border-bottom pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="https://cdn.shopify.com/s/files/1/0666/9741/products/BaseLanternXL_1_medium.jpg?v=1465646322" width="150" alt="BaseLantern XL" title="BaseLantern XL" />
<div class="bundle-number mb10 ">
        <span class="inside-count">1</span>
      </div>         
         <span class="mt20"><strong><a href="http://www.bioliteenergy.com/products/baselantern-xl" style="color:#262729" target="_blank" title="BaseLantern XL">BaseLantern XL</a></strong></span>
      </th>
      <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="//cdn.shopify.com/s/files/1/0666/9741/products/NanoGrid_2_medium.jpeg" width="150" alt="PowerLight" title="PowerLight" />
<div class="bundle-number mb10 ">
        <span class="inside-count">2</span>
      </div>  
        <span class="mt20"><strong><a href="http://www.bioliteenergy.com/products/biolite-powerlight" style="color:#262729" target="_blank" title="PowerLight">PowerLight</a><br></strong></span>
      </th>
      <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="https://cdn.shopify.com/s/files/1/0666/9741/products/PowerLightMini_1_gray_1170x1170_3d77669d-d45b-429b-ba72-0e3ff6cbee8e_medium.jpg?v=1578346111" width="150" alt="PowerLight Mini" title="PowerLight Mini" />
<div class="bundle-number mb10 ">
        <span class="inside-count">3</span>
      </div>  
        <span class="mt20"><strong><a href="http://www.bioliteenergy.com/products/powerlight-mini" style="color:#262729" target="_blank" title="PowerLight Mini">PowerLight Mini</a><br></strong></span>
      </th>
       <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="https://cdn.shopify.com/s/files/1/0666/9741/products/SiteLightMini_1_medium.jpg?v=1490646420"  width="150" alt="SiteLight Mini" title="SiteLight Mini" />
<div class="bundle-number mb10 ">
        <span class="inside-count">4</span>
      </div>  
         <span class="mt20"><strong><a href="http://www.bioliteenergy.com/products/siteLight-mini" style="color:#262729" target="_blank" title="SiteLight Mini">SiteLight Mini</a></strong></span>
      </th>
      <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="//cdn.shopify.com/s/files/1/0666/9741/products/SiteLight_1_medium.jpeg"  width="150" alt="SiteLight 1" title="SiteLight 1" />
<div class="bundle-number mb10 ">
        <span class="inside-count">5</span>
      </div>  
        <span class="mt20"><strong><a href="http://www.bioliteenergy.com/products/sitelight" style="color:#262729" target="_blank" title="SiteLight">SiteLight</a></strong></span>
      </th>   
       <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="//cdn.shopify.com/s/files/1/0666/9741/products/SiteLightXL_1_large.jpg?v=1486668880"  width="150" alt="SiteLight XL" title="SiteLight XL" />
<div class="bundle-number mb10 ">
        <span class="inside-count">6</span>
      </div>  
        <span class="mt20"><strong><a href="http://www.bioliteenergy.com/products/sitelight-xl" style="color:#262729" target="_blank" title="SiteLight XL">SiteLight XL</a></strong></span>
      </th>   
     
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Bluetooth enabled - control with free iOS or Android app</td>
      <td>250 Lm torch; 200 Lm lantern</td>
      <td>Clippable lantern + bike mount</td>
      <td>150 lumens over 4 lights </td>
      <td>Compact, overhead string lighting</td>
      <td>Collapsible fabric lantern</td>




      
    </tr>
    <tr>
      <td>12000 mAh battery charges phones or powers SiteLights</td>
      <td>4400 mAh battery for charging up to 4 phones</td>
      <td>1350 mAh battery</td>
      <td>10 ft (3 m) of cord	</td>
      <td>150 lumens per light</td>
      <td>300 lumens</td>


      
    </tr>
    <tr>
      <td>500 lumens</td>
      <td>Burn time (hours): 72 LO/ 6.5 HI</td>
	  <td>135 lumens </td>
      <td>Power from BaseLantern or PowerLight	</td>
      <td>10 ft (3 m) of cord per light</td>
      <td>15 ft (5 m) of cord per light</td>




    </tr>
    <tr>
      <td>Weight: 1.43 lbs (652 g)</td>
      <td>Weight: 7.05 oz (210 g)</td>
	  <td>Weight: 2.82 oz (80 g)</td>
      <td>Weight: 1.03 lbs (465 g)</td>
      <td>Weight: 1.83 oz (52 g) per light</td>
      <td>Weight: 2.5 oz (70 g)</td>




    </tr>
  
 
  </tbody>

</table>


<!-- Mobile Tables -->
       
       <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="//cdn.shopify.com/s/files/1/0666/9741/products/BaseLanternXL_1_large.jpg?v=1465646322" alt="BaseLantern XL" title="BaseLantern XL" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">1</span>
      </div> 
         <span class=""><strong>BaseLantern XL</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Bluetooth enabled - control with free iOS or Android app</td>
    </tr>
    <tr>
      <td>12000 mAh battery charges phones or powers SiteLight Mini</td>
    </tr>
    <tr>
      <td>500 lumens</td>
    </tr>
    <tr>
      <td>Weight: 1.43 lbs (652 g)</td>
    </tr>
    
    
   
  </tbody>

</table>
       
       
<table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="//cdn.shopify.com/s/files/1/0666/9741/products/NanoGrid_2_a34badab-aa85-4620-b5cf-5179ec7922fe_large.jpeg?v=1455122510" alt="NanoGrid 2" title="NanoGrid 2" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">2</span>
      </div> 
         <span class=""><strong>PowerLight</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>250 Lm torch; 200 Lm lantern</td>
    </tr>
    <tr>
      <td>4400 mAh battery for charging up to 4 phones</td>
    </tr>
    <tr>
      <td>Burn time (hours): 72 LO/ 6.5 HI</td>
    </tr>
    <tr>
      <td>Weight: 7.05 oz (210 g)</td>
    </tr>
    
    
   
  </tbody>

</table>
       

       
       <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/products/PowerLightMini_1_yellow_1170x1170_89f5037a-ba52-4e04-8540-d1a53441b644_medium.jpg?v=1509991793" alt="PowerLight Mini" title="PowerLight Mini" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">3</span>
      </div> 
         <span class=""><strong>PowerLight Mini</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Clippable lantern + bike mount</td>
    </tr>
    <tr>
      <td>1350 mAh battery</td>
    </tr>
    <tr>
	  <td>135 lumens </td>
    </tr>
    <tr>
	  <td>Weight: 2.82 oz (80 g)</td>
    </tr>
    
    
   
  </tbody>

</table>
       
       
       <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="//cdn.shopify.com/s/files/1/0666/9741/products/SiteLightMini_1_large.jpg?v=1490646420" alt="SiteLight Mini" title="SiteLight Mini" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">4</span>
      </div> 
         <span class=""><strong>SiteLight Mini</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>150 lumens over 4 lights</td>
    </tr>
    <tr>
      <td>10 ft (3 m) of cord</td>
    </tr>
    <tr>
	  <td>Power from BaseLantern or SolarPanel 5+ using included adapter </td>
    </tr>
    <tr>
	  <td>Weight: 2.5 oz (70 g))</td>
    </tr>
  </tbody>

</table>
       
       
       
                     <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="//cdn.shopify.com/s/files/1/0666/9741/products/SiteLight_1_large.jpeg?v=1455122503" alt="SiteLight 1" title="SiteLight 1" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">5</span>
      </div> 
         <span class=""><strong>SiteLight</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Compact, overhead string lighting</td>
    </tr>
   
    <tr>
      <td>150 lumens per light</td>
    </tr>
    <tr>
      <td>10 ft (3 m) of cord per light</td>
    </tr>
   
    <tr>
      <td>Weight: 1.83 oz (52 g) per light</td>
    </tr>
    
    
    
   
  </tbody>

</table>

       
                            <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="//cdn.shopify.com/s/files/1/0666/9741/products/SiteLightXL_1_large.jpg?v=1486668880" alt="SiteLight XL" title="SiteLight XL" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">6</span>
      </div> 
         <span class=""><strong>SiteLight XL</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Collapsible fabric lantern</td>
    </tr>
   
    <tr>
      <td>300 lumens</td>
    </tr>
    <tr>
      <td>15 ft (5 m) of cord per light</td>
    </tr>
   
    <tr>
      <td>Weight: 2.5 oz (70 g)</td>
    </tr>
    
    
    
   
  </tbody>

</table>

       
       



	 </div>
 </section>
</div>
