<div class="mobile-wrapper closed product-compare-bundle--{{ product.handle | remove: 'biolite-'  }}">
 <h2 class="mobile-title">Included in Bundle</h2>
 <section id="product-compare-bundle" class="product-compare-bundle product-compare-bundle--{{ product.handle | remove: 'biolite-'  }} mobile-wrapper-content">
	 <div class="product-compare-bundle wrapper wrapper--full_height wrapper--large">
<table class="compare-table-bundle table-with-footer">
  <thead>
    <tr style="background-color:#fff;">
       <th class="border-bottom pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="https://cdn.shopify.com/s/files/1/0666/9741/products/FirePit_1_1c4f36a4-39ac-4b16-b2bb-ce845693d1c4_large.jpg?v=1542731743" width="150" alt="FirePit" title="FirePit" />
<div class="bundle-number mb10 ">
        <span class="inside-count">1</span>
      </div>         
         <span class="mt20"><strong><a href="http://www.bioliteenergy.com/products/firepit" style="color:#262729" target="_blank" title="FirePit">FirePit</a></strong></span>
      </th>

            <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="https://cdn.shopify.com/s/files/1/0666/9741/products/FirePoker_1_large.jpg?v=1549407290" width="150" alt="FirePoker" title="FirePoker" />
<div class="bundle-number mb10 ">
        <span class="inside-count">2</span>
      </div>  
        <span class="mt20"><strong><a href="http://www.bioliteenergy.com/products/firepoker" style="color:#262729" target="_blank" title="FirePoker">FirePoker</a><br></strong></span>
      </th>
      
         <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="https://cdn.shopify.com/s/files/1/0666/9741/products/20190501_Studio_Polar_Black_Flat_kitfox_webres_1200x_d7924eca-2f91-455d-8bf4-d30a0f5ebbeb_1024x1024.jpg?v=1574117730"  width="150" alt="Polar Puffy Blanket" title="Polar Puffy Blanket" />
<div class="bundle-number mb10 ">
        <span class="inside-count">3</span>
      </div>  
        <span class="mt20"><strong><a href="/products/polar-puffy-blanket" style="color:#262729" target="_blank" title="Polar Puffy Blanket">Polar Puffy Blanket</a></strong></span>
      </th>
      
      
       <th class="border-bottom  pb20">

        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="https://cdn.shopify.com/s/files/1/0666/9741/products/Miir_mugs_shopMain_1024x1024.png?v=1573672997"  width="150" alt="Miir Camp Cup x2" title="Miir Camp Cup x2" />
<div class="bundle-number mb10 ">
        <span class="inside-count">4</span>
      </div>  
        <span class="mt20"><strong><a href="/products/biolite-x-miir-camp-cup" style="color:#262729" target="_blank" title="Miir Camp Cup x2">Miir Camp Cup x2</a></strong></span>
      </th>
     
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Burn time: Fan Low: 24 Hours (Fan Low), 10 Hours (Fan Med), 5 Hours (Fan High)</td>
      <td>Made from stainless steel, silicone rubber</td>
       <td>Fabric: 100% Post-Consumer Recycled Polar Fleece &amp; PCR synthetic insulation</td>
      <td>18/8 medical grade stainless steel provides clean taste</td>

      
    </tr>
    <tr>
      <td>Fuel: Firewood or charcoal</td>
            <td>Silicone-dipped cool touch handle</td>
       <td>Size: 54"x70" </td>
      <td>BPA-free Lid presses on easily</td>

    </tr>
      <tr>
      <td>Dimensions: 27" wide x 13" deep 15.8" high (68.6 x 33 x 40.1 cm)</td>
      <td>Dimensions: 23.4 x 2.2 x 0.5 in (59 x 5.6 x 1.4 cm)</td>
             <td>Features a Cape Clip™ &amp; Snap Pocket for keys, phone</td>
      <td>Dishwasher safe</td>
    </tr>
    <tr>
      <td>Weight: 19.8 lbs (8.98 kg)</td>      
	 <td>Weight: 0.33 lbs (148 g)</td>
	   <td>Weight: 3.3 lbs (1500 g)</td>
      <td>Weight: 0.59 lbs (267 g)</td>

    </tr>
  
  
 
  </tbody>

</table>


<!-- Mobile Tables -->
       
       <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/products/FirePit_1_1c4f36a4-39ac-4b16-b2bb-ce845693d1c4_large.jpg?v=1542731743" alt="FirePit" title="FirePit" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">1</span>
      </div> 
         <span class=""><strong>FirePit</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Burn time: Fan Low: 24 Hours (Fan Low), 10 Hours (Fan Med), 5 Hours (Fan High)</td>
    </tr>
    <tr>
      <td>Weight: 19.8 lbs (8.98 kg)</td>
    </tr>
    <tr>
      <td>Dimensions: 27" wide x 13" deep 15.8" high (68.6 x 33 x 40.1 cm)</td>
    </tr>
    <tr>
      <td>Fuel: Firewood or charcoal</td>
    </tr>
    
   
  </tbody>

</table>

  
       
 <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/products/FirePoker_1_large.jpg?v=1549407290" alt="FirePoker" title="FirePoker" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">2</span>
      </div> 
         <span class=""><strong>FirePoker</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Made from stainless steel, silicone rubber</td>
    </tr>
    <tr>
      <td>Weight: 148 g</td>
    </tr>
    <tr>
      <td>Dimensions: 23.4 x 2.2 x 0.5 in (59 x 5.6 x 1.4 cm)</td>
    </tr>

   
  </tbody>

</table>
       
              <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/products/20190501_Studio_Polar_Black_Flat_kitfox_webres_1200x_d7924eca-2f91-455d-8bf4-d30a0f5ebbeb_1024x1024.jpg?v=1574117730" alt="Polar Puffy Blanket" title="Polar Puffy Blanket" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">3</span>
      </div> 
         <span class=""><strong>Polar Puffy Blanket</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Fabric: 100% Post-Consumer Recycled Polar Fleece &amp; PCR synthetic insulation</td>
    </tr>
    <tr>
      <td>Size: 54"x70" </td>
    </tr>
    <tr>
      <td>Features a Cape Clip™ &amp; Snap Pocket for keys, phone</td>
    </tr>
    <tr>
      <td>Dishwasher safe</td>
    </tr>
  </tbody>
</table>
       
       
       <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/products/Miir_mugs_shopMain_1024x1024.png?v=1573672997" alt="Miir Camp Cup x2" title="Miir Camp Cup x2" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">4</span>
      </div> 
         <span class=""><strong>Miir Camp Cup x2</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>18/8 medical grade stainless steel provides clean taste</td>
    </tr>
    <tr>
      <td>BPA-free Lid presses on easily</td>
    </tr>
    <tr>
      <td>Dishwasher safe</td>
    </tr>
    <tr>
      <td>Weight: 0.59 lbs (267 g)</td>
    </tr>
  </tbody>
</table>


       
       



	 </div>
 </section>
</div>
