<div class="mobile-wrapper closed product-compare-bundle--{{ product.handle | remove: 'biolite-'  }}">
 <h2 class="mobile-title">Included in Bundle</h2>
 <section id="product-compare-bundle" class="product-compare-bundle product-compare-bundle--{{ product.handle | remove: 'biolite-'  }} mobile-wrapper-content">
	 <div class="product-compare-bundle wrapper wrapper--full_height wrapper--large">
<table class="compare-table-bundle table-with-footer">
  <thead>
    <tr style="background-color:#fff;">
       <th class="border-bottom pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="//cdn.shopify.com/s/files/1/0666/9741/products/CampStove2-6_1024x1024.jpg?v=1486422608" width="150" alt="FlexLight 3" title="FlexLight 3" />
<div class="bundle-number mb10 ">
        <span class="inside-count">1</span>
      </div>         
         <span class="mt20"><strong><a href="http://www.bioliteenergy.com/products/campstove-2" style="color:#262729" target="_blank" title="CampStove + FlexLight">CampStove + FlexLight</a></strong></span>
      </th>
       <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="//cdn.shopify.com/s/files/1/0666/9741/products/KettlePot_2_large.jpeg?v=1455122565"  width="150" alt="KettlePot 2" title="KettlePot 2" />
<div class="bundle-number mb10 ">
        <span class="inside-count">2</span>
      </div>  
         <span class="mt20"><strong><a href="http://www.bioliteenergy.com/products/biolite-kettlepot" style="color:#262729" target="_blank" title="KettlePot">KettlePot</a></strong></span>
      </th>
      <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="//cdn.shopify.com/s/files/1/0666/9741/products/CoffeePress-1_large.jpg?v=14865944203"  width="150" alt="CoffeePress" title="CoffeePress" />
<div class="bundle-number mb10 ">
        <span class="inside-count">3</span>
      </div>  
        <span class="mt20"><strong><a href="http://www.bioliteenergy.com/products/coffeepress" style="color:#262729" target="_blank" title="SiteLight">CoffeePress</a></strong></span>
      </th>   
           <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="//cdn.shopify.com/s/files/1/0666/9741/products/BioLiteBlend_2_large.jpg?v=1496679999"  width="150" alt="Brooklyn Roasters Peru Blend" title="Brooklyn Roasters Peru Blend" />
<div class="bundle-number mb10 ">
        <span class="inside-count">4</span>
      </div>  
        <span class="mt20"><strong><a href="https://www.bioliteenergy.com/products/brooklyn-roasting-coffee-4-pack" style="color:#262729" target="_blank" title="SiteLight">Brooklyn Roasters Ground Coffee</a></strong></span>
      </th>   
     
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>A smokeless campfire that can cook meals and boil water in minutes</td>
      <td>A true grab-and-go system - pours like a kettle and cooks like a pot </td>
      <td>Boil 1-6 cups of coffee in the KettlePot</td>
      <td>(1) 2 oz. packet makes 6 cups of coffee in KettlePot</td>



      
    </tr>
    <tr>
      <td>Generate usable electricity for charging lights phones, and other devices</td>
      <td>Doubles as a carry case for CampStove</td>
      <td>Nests with CampStove 2 inside KettlePot (unscrew handle)</td>
      <td>Ground Peruvian bean with notes of caramel, butter crust &amp; chocolate</td>



      
    </tr>
    <tr>
      <td>Burns renewable biomass - twigs, pinecone, wood pellets</td>
      <td>Max fill: 1.5 liters</td>
      <td>Made with stainless steel and BPA-free polypropylene</td>
	  <td>Fair Trade Certified</td>




    </tr>
    <tr>
      <td>Weight: 2.06 lbs (33 oz)</td>
      <td>Weight: 1.03 lbs (465 g)</td>
      <td>Weight: 2.8 oz (80 g)</td>
      <td>Weight: 2 oz</td>

    </tr>
  
 
  </tbody>

</table>


<!-- Mobile Tables -->
       
       <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="//cdn.shopify.com/s/files/1/0666/9741/products/FlexLight_3_large.jpeg?v=1455122487" alt="FlexLight 3" title="FlexLight 3" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">1</span>
      </div> 
         <span class=""><strong>CampStove + FlexLight</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>A smokeless campfire that can cook meals and boil water in minutes</td>
    </tr>
    <tr>
      <td>Generate usable electricity for charging lights phones, and other devices</td>
    </tr>
    <tr>
      <td>Burns renewable biomass - twigs, pinecone, wood pellets</td>
    </tr>
    <tr>
      <td>Weight: 2.06 lbs (33 oz)</td>
    </tr>
    
    
   
  </tbody>

</table>

       
       
<table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="//cdn.shopify.com/s/files/1/0666/9741/products/KettlePot_2_large.jpeg?v=1455122565" alt="KettlePot" title="KettlePot" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">2</span>
      </div> 
         <span class=""><strong>KettlePot</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>A true grab-and-go system - pours like a kettle and cooks like a pot </td>
    </tr>
    <tr>
      <td>Doubles as a carry case for CampStove</td>
    </tr>
    <tr>
      <td>Max fill: 1.5 liters	</td>
    </tr>
    <tr>
      <td>Weight: 1.03 lbs (465 g)</td>
    </tr>
    
    
   
  </tbody>

</table>
       

       
       <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="//cdn.shopify.com/s/files/1/0666/9741/products/CoffeePress-1_large.jpg?v=14865944203" alt="CoffeePress" title="CoffeePress" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">3</span>
      </div> 
         <span class=""><strong>CoffeePress</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Boil 1-6 cups of coffee in the KettlePot</td>
    </tr>
    <tr>
      <td>Nests with CampStove 2 inside KettlePot (unscrew handle)</td>
    </tr>
    <tr>
      <td>Made with stainless steel and BPA-free polypropylene</td>
    </tr>
    <tr>
      <td>Weight: 2.8 oz (80 g)</td>
    </tr>
    
    
   
  </tbody>

</table>
       
       
              <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="//cdn.shopify.com/s/files/1/0666/9741/products/BioLiteBlend_2_large.jpg?v=1496679999" alt="Brooklyn Roasters Peru Blend" title="Brooklyn Roasters Peru Blend" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">4</span>
      </div> 
         <span class=""><strong>Brooklyn Roasters Ground Coffee</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>(1) 2 oz. packet makes 6 cups of coffee in KettlePot</td>
    </tr>
    <tr>
      <td>Ground Peruvian bean with notes of caramel, butter crust &amp; chocolate</td>
    </tr>
    <tr>
	  <td>Fair Trade Certified</td>
    </tr>
    <tr>
      <td>Weight: 2 oz</td>
    </tr>
    
    
   
  </tbody>

</table>

       
       

       
       



	 </div>
 </section>
</div>
