<div class="mobile-wrapper closed product-compare-bundle--{{ product.handle | remove: 'biolite-'  }}">
 <h2 class="mobile-title">Included in Bundle</h2>
 <section id="product-compare-bundle" class="product-compare-bundle product-compare-bundle--{{ product.handle | remove: 'biolite-'  }} mobile-wrapper-content">
	 <div class="product-compare-bundle wrapper wrapper--full_height wrapper--large">
<table class="compare-table-bundle table-with-footer">
  <thead>
    <tr style="background-color:#fff;">
    
      <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="https://cdn.shopify.com/s/files/1/0666/9741/products/HeadLamp_1_teal_large.jpg?v=1539723802"  width="150" alt="HeadLamp 330" title="HeadLamp 330" />
<div class="bundle-number mb10 ">
        <span class="inside-count">1</span>
      </div>  
        <span class="mt20"><strong><a href="/products/headlamp-330" style="color:#262729" target="_blank" title="HeadLamp 3300">HeadLamp 330</a></strong></span>
      </th> 
         
           <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="https://cdn.shopify.com/s/files/1/0666/9741/products/PowerLightMini_1_teal_1170x1170_f949855f-dc87-4061-9e70-b6f784ad2e60.jpg?v=1509991793"  width="150" alt="PowerLight Mini" title="PowerLight Mini" />
<div class="bundle-number mb10 ">
        <span class="inside-count">2</span>
      </div>  
        <span class="mt20"><strong><a href="/products/powerlight-mini" style="color:#262729" target="_blank" title="PowerLight Mini">PowerLight Mini</a></strong></span>
      </th>  
      
      <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="https://cdn.shopify.com/s/files/1/0666/9741/products/LightDiffusingStuffsack_1_large.jpg?v=1539810428"  width="150" alt="Light Diffusing Stuffsack" title="Light Diffusing Stuffsack" />
<div class="bundle-number mb10 ">
        <span class="inside-count">3</span>
      </div>  
        <span class="mt20"><strong><a href="/products/light-diffusing-stuffsack" style="color:#262729" target="_blank" title="Light Diffusing Stuffsack">Light Diffusing Stuffsack</a></strong></span>
      </th>  
     
      
            <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="https://cdn.shopify.com/s/files/1/0666/9741/files/BikeCuff_1.jpg?4162"  width="150" alt="Bike Cuff" title="Bike Cuff" />
<div class="bundle-number mb10 ">
        <span class="inside-count">4</span>
      </div>  
        <span class="mt20"><strong>Bike Cuff</strong></span>
      </th>  
     
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>330 Lumens Total (230 Lm Spot + 100 Lm Flood)</td>
      <td>135 Lumens</td>
      <td>Made from light diffusing ripstop nylon with elastic loops</td>
      <td>Made from nylon with reflective strip</td>



    </tr>
    <tr>
      <td>Burn Time: 40 hours LO/3.5 hours HI</td>
      <td>Burn Time: 52 hours LO/5 hours HI</td>
      <td>Weight: 2 g</td>
      <td>Dimensions: Adjustable from 9.5 in (24 cm) to 13.5 in (34 cm) in circumference</td>

    </tr>
    <tr>
      <td>USB Rechargeable</td>
      <td>USB Rechargeable</td>
      <td>Doubles as carry case for HeadLamp, PowerLight Mini and Bike Cuff</td>
      <td></td>


    </tr>
    <tr>
      <td>Modes: Combo White Flood/Spot, White Spot, White Flood, Red Flood, Strobe</td>
      <td>Modes: White, Red Night Vision, Red/White Strobe, White Point</td>
      <td>Weight: 2 g</td>
      <td></td>


    </tr>
    
       <tr>
      <td>HeadLamp tilts to 3 positions</td>
      <td>1350 mAh battery provides charge out for backup boost of power</td>
      <td> </td>
         <td> </td>

    </tr>
    <tr>
      <td>Weight: 2.43 oz (69 g)</td>
      <td>Weight: 2.82 oz (80 g)</td>
      <td></td>
      <td> </td>

    </tr>
  
 
  </tbody>

</table>


<!-- Mobile Tables -->
      
       

       
       <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/products/HeadLamp_1_teal_large.jpg?v=1539723802" alt="HeadLamp 330" title="HeadLamp 330" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">1</span>
      </div> 
         <span class=""><strong>HeadLamp 330</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>330 Lumens Total (230 Lm Spot + 100 Lm Flood)</td>
    </tr>
    <tr>
      <td>Burn Time: 40 hours LO/3.5 hours HI</td>
    </tr>
    <tr>
      <td>USB Rechargeable</td>
    </tr>
    <tr>
      <td>Modes: Combo White Flood/Spot, White Spot, White Flood, Red Flood, Strobe</td>
    </tr>
    <tr>
      <td>HeadLamp tilts to 3 positions</td>
    </tr>
    
    
   
  </tbody>

</table>
       
       
   

 <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/products/PowerLightMini_1_teal_1170x1170_f949855f-dc87-4061-9e70-b6f784ad2e60.jpg?v=1509991793" alt="PowerLight Mini" title="PowerLight Mini" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">2</span>
      </div> 
         <span class=""><strong>PowerLight Mini</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>135 Lumens</td>
    </tr>
    <tr>
      <td>Burn Time: 52 hours LO/5 hours HI</td>
    </tr>
    <tr>
      <td>USB Rechargeable</td>
    </tr>
    <tr>
      <td>Modes: White, Red Night Vision, Red/White Strobe, White Point</td>
    </tr>
     <tr>
      <td>1350 mAh battery provides charge out for backup boost of power</td>
    </tr>
    
   
  </tbody>

</table>

        <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/products/LightDiffusingStuffsack_1_large.jpg?v=1539810428" alt="Light Diffusing Stuffsack" title="Light Diffusing Stuffsack" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">3</span>
      </div> 
         <span class=""><strong>Light Diffusing Stuffsack</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Made from light diffusing ripstop nylon with elastic loops</td>
    </tr>
    <tr>
      <td>Weight: 2 g</td>
    </tr>
    <tr>
      <td>Doubles as carry case for HeadLamp, PowerLight Mini and Bike Cuff</td>
    </tr>
    <tr>
      <td>Weight: 2 g</td>
    </tr>
   
   
  </tbody>

</table>

       
               <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/files/BikeCuff_1.jpg?4162" alt="Bike Cuff" title="Bike Cuff" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">4</span>
      </div> 
         <span class=""><strong>Bike Cuff</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Made from nylon with reflective strip</td>
    </tr>
    <tr>
      <td>Dimensions: Adjustable from 9.5 in (24 cm) to 13.5 in (34 cm) in diameter</td>
    </tr>
 

   
   
  </tbody>

</table>





	 </div>
 </section>
</div>
