<div class="mobile-wrapper closed product-compare-bundle--{{ product.handle | remove: 'biolite-'  }}">
 <h2 class="mobile-title">Included in Bundle</h2>
 <section id="product-compare-bundle" class="product-compare-bundle product-compare-bundle--{{ product.handle | remove: 'biolite-'  }} mobile-wrapper-content">
	 <div class="product-compare-bundle wrapper wrapper--full_height wrapper--large">
<table class="compare-table-bundle table-with-footer">
  <thead>
    <tr style="background-color:#fff;">
    

            
              <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="https://cdn.shopify.com/s/files/1/0666/9741/products/HeadLamp_1_grey.jpg?v=1553003588"  width="150" alt="HeadLamp 330" title="HeadLamp 330" />
<div class="bundle-number mb10 ">
        <span class="inside-count">1</span>
      </div>  
        <span class="mt20"><strong><a href="/products/headlamp-330" style="color:#262729" target="_blank" title="Sunlight 4 Pack">HeadLamp 330 (Grey)</a></strong></span>
      </th> 
      
            <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="https://cdn.shopify.com/s/files/1/0666/9741/products/SunLight_1_gray.jpg?v=1519137381"  width="150" alt="Sunlight" title="Sunlight" />
<div class="bundle-number mb10 ">
        <span class="inside-count">2</span>
      </div>  
        <span class="mt20"><strong><a href="/products/sunlight" style="color:#262729" target="_blank" title="Sunlight 4 Pack">SunLight (Grey)</a></strong></span>
      </th> 
 
   
            <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="https://cdn.shopify.com/s/files/1/0666/9741/products/lifestraw_1_large.jpg?v=1565641006"  width="150" alt="Lifestraw Classic" title="Lifestraw Classic" />
<div class="bundle-number mb10 ">
        <span class="inside-count">3</span>
      </div>  
        <span class="mt20"><strong><a href="/products/lifestraw" style="color:#262729" target="_blank" title="Sunlight 4 Pack">Lifestraw Classic</a></strong></span>
      </th>  
      
         
        <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="https://cdn.shopify.com/s/files/1/0666/9741/products/Charge20-2_1200x1200.jpg?v=1498168095"  width="150" alt="Charge 20" title="Charge 20" />
<div class="bundle-number mb10 ">
        <span class="inside-count">4</span>
      </div>  
        <span class="mt20"><strong><a href="/products/charge-20" style="color:#262729" target="_blank" title="Charge 20">Charge 20</a></strong></span>
      </th> 
      
      <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="https://cdn.shopify.com/s/files/1/0666/9741/products/LightDiffusingStuffsack_1_1024x1024.jpg?v=1539810428"  width="150" alt="Light Diffusing Stuffsack" title="Light Diffusing Stuffsack" />
<div class="bundle-number mb10 ">
        <span class="inside-count">5</span>
      </div>  
        <span class="mt20"><strong><a href="/products/light-diffusing-stuffsack" style="color:#262729" target="_blank" title="Light Diffusing Stuffsac">Light Diffusing Stuffsack</a></strong></span>
      </th> 
   
     
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>USB Rechargeable</td>
      <td>Burn time: 50 LO/3 HI + 4 hours in reserve mode</td>
      <td>Removes bacteria, parasites and microplastics</td>
      <td>5200mAh / 3.6V battery (2x smartphone charges)</td>
      <td>Turns your HeadLamp into a hanging lantern</td>


    </tr>
    <tr>
       <td>330 total lumens of hands-free light</td>
      <td>100 Lumens</td>
       <td>Filters 1,000 gallons (4,000 L), enough drinking water for an individual for over 5 years</td>
       <td>Weather resistant, stainless steel USB Power Bank</td>
       <td>Produces diffuse, ambient lighting</td>

    </tr>
    <tr>
      <td>Burn time (hours): 40 LO/3.5 HI </td>
      <td>RGB mode with dimmability in white modes</td>
      <td>Ultimate survival tool: no shelf life, easy to clean and store, used and tested all over the globe</td>
      <td>Outputs:  (1) USB @ 2.1 A</td>
      <td>Made with ripstop nylon with elastic loops</td>

    </tr>
    <tr>
       <td>4 modes: White flood + dimming, white spot + dimming, red flood, white strobe </td>
      <td>Charges fully from sun in 7 hours</td>
      <td>This product gives back: One product, one school child, one year of clean water</td>
      <td>Dimensions: 0.82 x 1.5 x 3.98 in (21 x 38 x 98 mm)</td>
       <td>Works with most headlamps including the BioLite HeadLamp</td>

    </tr>
    <tr>
      <td>Weight:  0.15 oz (69 g)</td>
      <td>Weight: 0.21 lbs (95 g)</td>
      <td>Weight: 0.10 lbs (45 g)</td>
      <td>Weight: 0.36 lbs (165 g)</td>
      <td>Weight: 2 g</td>

    </tr>
  
 
  </tbody>

</table>


<!-- Mobile Tables -->
 

       
       <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/products/SunLight_1_gray.jpg?v=1519137381" alt="SunLight" title="SunLight" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">1</span>
      </div> 
         <span class=""><strong>SunLight (Grey)</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Burn time: 50 LO/3 HI + 4 hours in reserve mode</td>
    </tr>
    <tr>
      <td>100 Lumens</td>
    </tr>
    <tr>
      <td>RGB mode with dimmability in white modes</td>
    </tr>
    <tr>
      <td>Charges fully from sun in 7 hours</td>
    </tr>
    <tr>
      <td>Weight: 0.21 lbs (95 g)</td>
    </tr>
  </tbody>
</table>
       
<table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/products/HeadLamp_1_grey.jpg?v=1553003588" alt="HeadLamp 330" title="HeadLamp 330" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">2</span>
      </div> 
         <span class=""><strong>HeadLamp 330 (Grey)</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>USB Rechargeable</td>
    </tr>
    <tr>
       <td>330 total lumens of hands-free light</td>
    </tr>
    <tr>
      <td>Burn time (hours): 40 LO/3.5 HI </td>
    </tr>
    <tr>
       <td>4 modes: White flood + dimming, white spot + dimming, red flood, white strobe </td>
    </tr>
    <tr>
      <td>Weight:  0.15 oz (69 g)</td>
    </tr>
  </tbody>
</table>
       
       <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/products/lifestraw_1_large.jpg?v=1565641006" alt="Lifestraw Classic" title="Lifestraw Classic" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">4</span>
      </div> 
         <span class=""><strong>Lifestraw Classic</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Removes bacteria, parasites and microplastics</td>
    </tr>
    <tr>
       <td>Filters 1,000 gallons (4,000 L), enough drinking water for an individual for over 5 years</td>
    </tr>
    <tr>
      <td>Ultimate survival tool: no shelf life, easy to clean and store, used and tested all over the globe</td>
    </tr>
    <tr>
      <td>This product gives back: One product, one school child, one year of clean water</td>
    </tr>
    <tr>
      <td>Weight: 0.10 lbs (45 g)</td>
    </tr>
  </tbody>
</table>
       
<table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/products/LightDiffusingStuffsack_1_1024x1024.jpg?v=1539810428" alt="Light Diffusing Stuffsack x4" title="Light Diffusing Stuffsack x4" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">5</span>
      </div> 
         <span class=""><strong>Light Diffusing Stuffsack</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Turns your HeadLamp into a hanging lantern</td>
    </tr>
    <tr>
       <td>Produces diffuse, ambient lighting</td>
    </tr>
    <tr>
      <td>Made with ripstop nylon with elastic loops</td>
    </tr>
    <tr>
       <td>Works with most headlamps including the BioLite HeadLamp</td>
    </tr>
    <tr>
      <td>Weight: 2 g</td>
    </tr>
  </tbody>
</table>
       
<table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/products/Charge20-2_1200x1200.jpg?v=1498168095" alt="Charge 20" title="Charge 20" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">6</span>
      </div> 
         <span class=""><strong>Charge 20</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>5200mAh / 3.6V battery (2x smartphone charges)</td>
    </tr>
    <tr>
       <td>Weather resistant, stainless steel USB Power Bank</td>
    </tr>
    <tr>
      <td>Outputs:  (1) USB @ 2.1 A</td>
    </tr>
    <tr>
      <td>Dimensions: 0.82 x 1.5 x 3.98 in (21 x 38 x 98 mm)</td>
    </tr>
    <tr>
      <td>Weight: 0.36 lbs (165 g)</td>
    </tr>
  </tbody>
</table>
       
 


	 </div>
 </section>
</div>
