<div class="mobile-wrapper closed product-compare-bundle--{{ product.handle | remove: 'biolite-'  }}">
 <h2 class="mobile-title">Included in Bundle</h2>
 <section id="product-compare-bundle" class="product-compare-bundle product-compare-bundle--{{ product.handle | remove: 'biolite-'  }} mobile-wrapper-content">
	 <div class="product-compare-bundle wrapper wrapper--full_height wrapper--large">
<table class="compare-table-bundle table-with-footer">
  <thead>
    <tr style="background-color:#fff;">
       <th class="border-bottom pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="https://cdn.shopify.com/s/files/1/0666/9741/products/FirePit__1_1024x1024.jpg?v=1607724080" width="150" alt="FirePit" title="FirePit" />
<div class="bundle-number mb10 ">
        <span class="inside-count">1</span>
      </div>         
         <span class="mt20"><strong><a href="http://www.bioliteenergy.com/products/firepit-plus" style="color:#262729" target="_blank" title="FirePit">FirePit+</a></strong></span>
      </th>

      <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="https://cdn.shopify.com/s/files/1/0666/9741/products/FirePit_CarryBag_1_1024x1024.png?v=1612826042" width="150" alt="FirePit Carry Bag" title="FirePit Carry Bag" />
<div class="bundle-number mb10 ">
        <span class="inside-count">2</span>
      </div>  
        <span class="mt20"><strong><a href="http://www.bioliteenergy.com/products/firepit-carry-bag" style="color:#262729" target="_blank" title="FirePit Carry Bag">FirePit Carry Bag</a><br></strong></span>
      </th>
      <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="https://cdn.shopify.com/s/files/1/0666/9741/products/FireMat_ShopAll_1024x1024.png?v=1612976203" width="150" alt="FireMat" title="FireMat" />
<div class="bundle-number mb10 ">
        <span class="inside-count">3</span>
      </div>  
        <span class="mt20"><strong><a href="http://www.bioliteenergy.com/products/firemat" style="color:#262729" target="_blank" title="FireMat">FireMat</a><br></strong></span>
      </th>
      
            <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="https://cdn.shopify.com/s/files/1/0666/9741/products/FirePoker_shopMain_1024x1024.png?v=1602875795" width="150" alt="FirePoker" title="FirePoker" />
<div class="bundle-number mb10 ">
        <span class="inside-count">4</span>
      </div>  
        <span class="mt20"><strong><a href="http://www.bioliteenergy.com/products/firepoker" style="color:#262729" target="_blank" title="FirePoker">FirePoker</a><br></strong></span>
      </th>
     
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Burn time: Fan Low: 30 Hours (Fan Low), 14 Hours (Fan Med), 7 Hours (Fan High)</td>
      <td>Durable, water-resistant canvas with elastic loops for outer storage</td>
      <td>Made from aluminum coated fiberglass fabric</td>
      <td>Made from stainless steel, silicone rubber</td>
      
    </tr>
    <tr>
      <td>Weight: 19.8 lbs (8.98 kg)</td>
      <td>Weight: 2.7 lbs</td>
      <td>Weight: 1 lb (450 g)</td>
      <td>Weight: 148 g</td>

    </tr>
      <tr>
      <td>Dimensions: 27" wide x 13" deep 15.8" high (68.6 x 33 x 40.1 cm)</td>
	  <td>Reinforced straps with g-hook adjusts to fit all FirePit accessories </td>
      <td>Dimensions: 31.8 x 24.0 in (80.8 x 61.0 cm)</td>
      <td>Dimensions: 23.4 x 2.2 x 0.5 in (59 x 5.6 x 1.4 cm)</td>
    </tr>
    <tr>
      <td>Fuel: Firewood or charcoal</td>
	  <td>Outer storage pockets for matches and kindling </td>
	  <td> </td>
      <td> </td>

    </tr>
  
  
 
  </tbody>

</table>


<!-- Mobile Tables -->
       
       <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/products/FirePit_1_1c4f36a4-39ac-4b16-b2bb-ce845693d1c4_large.jpg?v=1542731743" alt="FirePit" title="FirePit" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">1</span>
      </div> 
         <span class=""><strong>FirePit</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Burn time: Fan Low: 30 Hours (Fan Low), 14 Hours (Fan Med), 7 Hours (Fan High))</td>
    </tr>
    <tr>
      <td>Weight: 19.8 lbs (8.98 kg)</td>
    </tr>
    <tr>
      <td>Dimensions: 27" wide x 13" deep 15.8" high (68.6 x 33 x 40.1 cm)</td>
    </tr>
    <tr>
      <td>Fuel: Firewood or charcoal</td>
    </tr>
    
   
  </tbody>

</table>

       

       
       <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/products/FirePit_CarryBag_1_1024x1024.png?v=1612826042" alt="FirePit Carry Bag" title="FirePit Carry Bag" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">2</span>
      </div> 
         <span class=""><strong>FirePit Carry Bag</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Durable, water-resistant canvas with elastic loops for outer storage</td>
    </tr>
    <tr>
      <td>Weight: 2.7 lbs</td>
    </tr>
    <tr>
	  <td>Reinforced straps with g-hook adjusts to fit all FirePit accessories </td>
    </tr>
      <tr>
	  <td>Outer storage pockets for matches and kindling </td>
    </tr>
 
  </tbody>

</table>
       
       
              <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/products/FireMat_1_large.jpg?v=1549666278" alt="FireMat" title="FireMat" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">3</span>
      </div> 
         <span class=""><strong>FireMat</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Made from aluminum coated fiberglass fabric</td>
    </tr>
    <tr>
      <td>Weight: 1 lb (450 g)</td>
    </tr>

    <tr>
      <td>Dimensions: 31.8 x 24.0 in (80.8 x 61.0 cm)</td>
    </tr>
    
   
  </tbody>

</table>
       
                     <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/products/FirePoker_1_large.jpg?v=1549407290" alt="FirePoker" title="FirePoker" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">4</span>
      </div> 
         <span class=""><strong>FirePoker</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Made from stainless steel, silicone rubber</td>
    </tr>
    <tr>
      <td>Weight: 148 g</td>
    </tr>
    <tr>
      <td>Dimensions: 23.4 x 2.2 x 0.5 in (59 x 5.6 x 1.4 cm)</td>
    </tr>

   
  </tbody>

</table>


       
       



	 </div>
 </section>
</div>
