<div class="mobile-wrapper closed product-compare-bundle--{{ product.handle | remove: 'biolite-'  }}">
 <h2 class="mobile-title">Included in Set</h2>
 <section id="product-compare-bundle" class="product-compare-bundle product-compare-bundle--{{ product.handle | remove: 'biolite-'  }} mobile-wrapper-content">
	 <div class="product-compare-bundle wrapper wrapper--full_height wrapper--large">
<table class="compare-table-bundle table-with-footer">
  <thead>
    <tr style="background-color:#fff;">
       
      
      <th class="border-bottom pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="https://cdn.shopify.com/s/files/1/0666/9741/products/FirePitGrillLid_ShopAll2_1024x1024.png?v=1602875649" width="150" alt="FirePit Grill Lid" title="FirePit Grill Lid" />
<div class="bundle-number mb10 ">
        <span class="inside-count">1</span>
      </div>         
         <span class="mt20"><strong><a href="http://www.bioliteenergy.com/products/firepit-grill-lid" style="color:#262729" target="_blank" title="FirePit Grill Lid">FirePit Grill Lid</a></strong></span>
      </th>
      
       <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="https://cdn.shopify.com/s/files/1/0666/9741/products/FirePit_Griddle_ShopMain_1024x1024.png?v=1603288952" width="150" alt="FirePit Griddle" title="FirePit Griddle" />
<div class="bundle-number mb10 ">
        <span class="inside-count">2</span>
      </div>  
        <span class="mt20"><strong><a href="http://www.bioliteenergy.com/products/firepit-griddle" style="color:#262729" target="_blank" title="Solar Carry Cover">FirePit Griddle</a><br></strong></span>
      </th>

    
      <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="https://cdn.shopify.com/s/files/1/0666/9741/products/Prep_GrillToolkit_ShopMain_1024x1024.png?v=1602875724" width="150" alt="Prep & Grill Toolkit" title="Prep & Grill Toolkit" />
<div class="bundle-number mb10 ">
        <span class="inside-count">3</span>
      </div>  
        <span class="mt20"><strong><a href="http://www.bioliteenergy.com/products/prep-grill-toolkit" style="color:#262729" target="_blank" title="FireMat">Prep &amp; Grill Toolkit</a><br></strong></span>
      </th>
      
            <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="https://cdn.shopify.com/s/files/1/0666/9741/products/FirePoker_shopMain_1024x1024.png?v=1602875795" width="150" alt="FirePoker" title="FirePoker" />
<div class="bundle-number mb10 ">
        <span class="inside-count">4</span>
      </div>  
        <span class="mt20"><strong><a href="http://www.bioliteenergy.com/products/firepit-firepoker" style="color:#262729" target="_blank" title="FirePoker">FirePit Firepoker</a><br></strong></span>
      </th>
     
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Durable, coated enamel lid designed for perfect fit with BioLite FirePit</td>
      <td>Pre-seasoned nonstick cast-iron</td>
      <td>Includes spatula, tongs, knife and roll-up storage mat</td>
      <td>Use to switch between wood and charcoal</td>
      
    </tr>
    <tr>
      <td>Adjustable air vents for heat regulation</td>
      <td>130 sq in cooking surface</td>
      <td>Made from stainless steel, silicone rubber</td>
      <td>Tend and stoke your fire</td>

    </tr>
      <tr>
      <td>Folding handles for easy operation</td>
	  <td>Raised edge prevents rolloff </td>
      <td>Extra long design to provide comfortable distance from heat</td>
      <td>Clean up after your burn</td>
    </tr>
    <tr>
      <td>Weight: 3.9 lbs (1.77 kg)</td>
	  <td>Weight:  8.9 lbs (3.98 kg) </td>
	  <td>Weight:  1.6 lbs (0.75 kg) </td>
      <td>Weight:  0.3 lbs (148 g) </td>

    </tr>
  
  
 
  </tbody>

</table>


<!-- Mobile Tables -->
       
       <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/products/FirePitGrillLid_ShopAll2_1024x1024.png?v=1602875649" alt="FirePit Grill Lid" title="FirePit Grill Lid" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">1</span>
      </div> 
         <span class=""><strong>FirePit Grill Lid</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Durable, coated enamel lid designed for perfect fit with BioLite FirePit</td>
    </tr>
    <tr>
      <td>Adjustable air vents for heat regulation</td>
    </tr>
    <tr>
      <td>Folding handles for easy operation</td>
    </tr>
    <tr>
      <td>Weight: 3.9 lbs (1.77 kg)</td>
    </tr>
    
   
  </tbody>

</table>

       

       
       <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/products/FirePit_Griddle_ShopMain_1024x1024.png?v=1603288952" alt="FirePit Griddle" title="FirePit Griddle" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">2</span>
      </div> 
         <span class=""><strong>FirePit Griddle</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Pre-seasoned nonstick cast-iron</td>
    </tr>
    <tr>
      <td>130 sq in cooking surface</td>
    </tr>
    <tr>
	<td>Raised edge prevents rolloff </td>

    </tr>
     <tr>
	  <td>Weight:  8.9 lbs (3.98 kg) </td>
    </tr>
 
  </tbody>

</table>
       
       
              <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/products/Prep_GrillToolkit_ShopMain_1024x1024.png?v=1602875724" alt="Prep &amp; Grill Toolkit" title="Prep &amp; Grill Toolkit" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">3</span>
      </div> 
         <span class=""><strong>Prep &amp; Grill Toolkit</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Includes spatula, tongs, knife and roll-up storage mat</td>
    </tr>
    <tr>
      <td>Made from stainless steel, silicone rubber</td>
    </tr>

    <tr>
      <td>Extra long design to provide comfortable distance from heat</td>
    </tr>
     <tr>
	  <td>Weight:  1.6 lbs (0.75 kg) </td>
    </tr>
    
   
  </tbody>

</table>
       



       
       



	 </div>
 </section>
</div>
