<div class="mobile-wrapper closed product-compare-bundle--{{ product.handle | remove: 'biolite-'  }}">
 <h2 class="mobile-title">Included in Bundle</h2>
 <section id="product-compare-bundle" class="product-compare-bundle product-compare-bundle--{{ product.handle | remove: 'biolite-'  }} mobile-wrapper-content">
	 <div class="product-compare-bundle wrapper wrapper--full_height wrapper--large">
<table class="compare-table-bundle table-with-footer">
  <thead>
    <tr style="background-color:#fff;">
    
      <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="//cdn.shopify.com/s/files/1/0666/9741/products/CoffeePress-1_large.jpg?v=14865944203"  width="150" alt="CoffeePress" title="CoffeePress" />
<div class="bundle-number mb10 ">
        <span class="inside-count">1</span>
      </div>  
        <span class="mt20"><strong><a href="http://www.bioliteenergy.com/products/coffeepress" style="color:#262729" target="_blank" title="SiteLight">CoffeePress</a></strong></span>
      </th> 
         
           <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="https://cdn.shopify.com/s/files/1/0666/9741/products/Kuju_Coffee_4-Pack_1024x1024.jpg?v=1511307485"  width="150" alt="Kuju Coffee" title="Kuju Coffee" />
<div class="bundle-number mb10 ">
        <span class="inside-count">2</span>
      </div>  
        <span class="mt20"><strong><a href="#" style="color:#262729" target="_blank" title="Kuju">Kuju Coffee x4</a></strong></span>
      </th>   
     
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Boil 1-6 cups of coffee in the KettlePot</td>
      <td>Designed for BioLite KettlePot</td>


      
    </tr>
    <tr>
      <td>Nests with CampStove 2 inside KettlePot (unscrew handle)</td>
      <td>Medium Roast</td>

    </tr>
    <tr>
      <td>Made with stainless steel and BPA-free polypropylene</td>
      <td>1 pouch = 6 cups of coffee</td>

    </tr>
    <tr>
      <td>Weight: 2.8 oz (80 g)</td>
      <td>Weight: 2 oz</td>

    </tr>
  
 
  </tbody>

</table>


<!-- Mobile Tables -->
      
       

       
       <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="//cdn.shopify.com/s/files/1/0666/9741/products/CoffeePress-1_large.jpg?v=14865944203" alt="CoffeePress" title="CoffeePress" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">1</span>
      </div> 
         <span class=""><strong>CoffeePress</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Boil 1-6 cups of coffee in the KettlePot</td>
    </tr>
    <tr>
      <td>Nests with CampStove 2 inside KettlePot (unscrew handle)</td>
    </tr>
    <tr>
      <td>Made with stainless steel and BPA-free polypropylene</td>
    </tr>
    <tr>
      <td>Weight: 2.8 oz (80 g)</td>
    </tr>
    
    
   
  </tbody>

</table>
       
       
   

 <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Kuju_Coffee_2-Pack.jpg?11763268520940164315" alt="Kuju Coffee" title="Kuju Coffee" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">2</span>
      </div> 
         <span class=""><strong>Kuju Coffee x2</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Designed for BioLite KettlePot</td>
    </tr>
    <tr>
      <td>Medium Roast</td>
    </tr>
    <tr>
      <td>1 pouch = 6 cups of coffee</td>
    </tr>
    <tr>
      <td>Weight: 2 oz</td>
    </tr>
    
   
  </tbody>

</table>





	 </div>
 </section>
</div>
