<div class="mobile-wrapper closed product-compare-bundle--{{ product.handle | remove: 'biolite-'  }}">
 <h2 class="mobile-title">Included in Bundle</h2>
 <section id="product-compare-bundle" class="product-compare-bundle product-compare-bundle--{{ product.handle | remove: 'biolite-'  }} mobile-wrapper-content">
	 <div class="product-compare-bundle wrapper wrapper--full_height wrapper--large">
<table class="compare-table-bundle table-with-footer">
  <thead>
    <tr style="background-color:#fff;">
    
      <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="https://cdn.shopify.com/s/files/1/0666/9741/products/SolarHome620_1_OR_large.jpg?v=1510340696"  width="150" alt="SolarHome 620" title="SolarHome 620" />
<div class="bundle-number mb10 ">
        <span class="inside-count">1</span>
      </div>  
        <span class="mt20"><strong><a href="/products/solarhome-620" style="color:#262729" target="_blank" title="SolarHome 620">SolarHome 620</a></strong></span>
      </th> 
      
            <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="https://cdn.shopify.com/s/files/1/0666/9741/files/SunLight_4pack_grey_cec30284-a145-4cfc-95c7-5fa453f069e9.jpg?8852"  width="150" alt="Sunlight 2 Pack" title="Sunlight 2 Pack" />
<div class="bundle-number mb10 ">
        <span class="inside-count">2</span>
      </div>  
        <span class="mt20"><strong><a href="/products/sunlight" style="color:#262729" target="_blank" title="Sunlight 4 Pack">SunLight x4 (Grey)</a></strong></span>
      </th> 
      
              <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="https://cdn.shopify.com/s/files/1/0666/9741/files/HeadLamp_grey_4pack.jpg?8852"  width="150" alt="HeadLamp 330" title="HeadLamp 330" />
<div class="bundle-number mb10 ">
        <span class="inside-count">3</span>
      </div>  
        <span class="mt20"><strong><a href="/products/headlamp-330" style="color:#262729" target="_blank" title="Sunlight 4 Pack">HeadLamp 330 x4 (Grey)</a></strong></span>
      </th>  
         
      
      
            <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="https://cdn.shopify.com/s/files/1/0666/9741/files/LifestrawFamily-01.jpg?8852"  width="150" alt="Lifestraw Classic" title="Lifestraw Classic" />
<div class="bundle-number mb10 ">
        <span class="inside-count">4</span>
      </div>  
              
        <span class="mt20"><strong><a href="/products/lifestraw-family-1-0" style="color:#262729" target="_blank" title="Sunlight 4 Pack">LifeStraw Family</a></strong></span>
      </th> 
      
      <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="https://cdn.shopify.com/s/files/1/0666/9741/files/LightDiffusingStuffsack_x4_dd621411-e7d9-4fc3-a8ef-057574a9ba2a.jpg?8852"  width="150" alt="Light Diffusing Stuffsack" title="Light Diffusing Stuffsack" />
<div class="bundle-number mb10 ">
        <span class="inside-count">5</span>
      </div>  
        <span class="mt20"><strong><a href="/products/light-diffusing-stuffsack" style="color:#262729" target="_blank" title="Sunlight 4 Pack">Light Diffusing Stuffsack x4</a></strong></span>
      </th> 
      
        <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="https://cdn.shopify.com/s/files/1/0666/9741/files/SolarHome620_Adapter.jpg?8807"  width="150" alt="SolarHome Charger" title="SolarHome Charger" />
<div class="bundle-number mb10 ">
        <span class="inside-count">6</span>
      </div>  
        <span class="mt20"><strong><a href="/products/solarhome-charger" style="color:#262729" target="_blank" title="Sunlight 4 Pack">SolarHome Charger</a></strong></span>
      </th> 
     
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Contains Solar Panel, Control Box, 2 Hanging Lights, 1 Security Light</td>
      <td>Burn time: 50 LO/3 HI + 4 hours in reserve mode</td>
      <td>USB Rechargeable</td>
      <td>Removes bacteria, parasites and microplastics</td>
      <td>Turns your HeadLamp into a hanging lantern</td>
      <td>Charges SolarHome 620 to full in 2 hours</td>


    </tr>
    <tr>
      <td>18ft of cord between lights; 21 ft of cord between solar panel &amp; control box</td>
      <td>100 Lumens</td>
       <td>330 total lumens of hands-free light</td>
       <td>Lifetime of 4,755 gallons (18,000 liters), over 3 years of drinking water for a family of 5</td>
       <td>Produces diffuse, ambient lighting</td>
      <td>Input: 100-240 VAC, 50-60 Hz, 0.6A</td>

    </tr>
    <tr>
      <td>Control box contains 3300 mAh battery to power system and charge devices</td>
      <td>RGB mode with dimmability in white modes</td>
      <td>Burn time (hours): 40 LO/3.5 HI </td>
      <td>Rigorous independent testing with WHO, US EPA, NSF and ASTM protocols</td>
      <td>Made with ripstop nylon with elastic loops</td>
      <td>Output: 12V, 2A; 4.5mm DC Plug</td>

    </tr>
    <tr>
      <td>100 Lm per hanging light, each has its own switch</td>
      <td>Charges fully from sun in 7 hours</td>
       <td>4 modes: White flood + dimming, white spot + dimming, red flood, white strobe </td>
      <td>This product gives back: One product, one school child, one year of clean water</td>
       <td>Works with most headlamps including the BioLite HeadLamp</td>
      <td>Adapter Cord Length: 8ft</td>

    </tr>
    <tr>
      <td>Weight: 3.46 lbs (1.57 kg)</td>
      <td>Weight: 0.21 lbs (95 g)</td>
      <td>Weight:  0.15 oz (69 g)</td>
      <td>Weight: 1.17 lbs (529 g)</td>
      <td>Weight: 2 g</td>
      <td>Weight: 0.3 lbs (136 g)</td>

    </tr>
  
 
  </tbody>

</table>


<!-- Mobile Tables -->
 
<table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/products/SolarHome620_1_OR_large.jpg?v=1510340696" alt="SolarHome 620" title="SolarHome 620" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">1</span>
      </div> 
         <span class=""><strong>SolarHome 620</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Contains Solar Panel, Control Box, 2 Hanging Lights, 1 Security Light</td>
    </tr>
    <tr>
      <td>18ft of cord between lights; 21 ft of cord between solar panel &amp; control box</td>
    </tr>
    <tr>
      <td>Control box contains 3300 mAh battery to power system and charge devices</td>
    </tr>
    <tr>
      <td>100 Lm per hanging light, each has its own switch</td>
    </tr>
    <tr>
      <td>Weight: 3.46 lbs (1.57 kg)</td>
    </tr>
  </tbody>
</table>
       
       <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/files/SunLight_4pack_grey_cec30284-a145-4cfc-95c7-5fa453f069e9.jpg?8852" alt="SunLight" title="SunLight" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">2</span>
      </div> 
         <span class=""><strong>SunLight x4 (Grey)0</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Burn time: 50 LO/3 HI + 4 hours in reserve mode</td>
    </tr>
    <tr>
      <td>100 Lumens</td>
    </tr>
    <tr>
      <td>RGB mode with dimmability in white modes</td>
    </tr>
    <tr>
      <td>Charges fully from sun in 7 hours</td>
    </tr>
    <tr>
      <td>Weight: 0.21 lbs (95 g)</td>
    </tr>
  </tbody>
</table>
       
<table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/files/HeadLamp_grey_4pack.jpg?8852" alt="HeadLamp 330" title="HeadLamp 330" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">3</span>
      </div> 
         <span class=""><strong>HeadLamp 330 x4 (Grey)</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>USB Rechargeable</td>
    </tr>
    <tr>
       <td>330 total lumens of hands-free light</td>
    </tr>
    <tr>
      <td>Burn time (hours): 40 LO/3.5 HI </td>
    </tr>
    <tr>
       <td>4 modes: White flood + dimming, white spot + dimming, red flood, white strobe </td>
    </tr>
    <tr>
      <td>Weight:  0.15 oz (69 g)</td>
    </tr>
  </tbody>
</table>
       
       <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/files/LifestrawFamily-01.jpg?8852" alt="Lifestraw Family" title="Lifestraw Family" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">4</span>
      </div> 
         <span class=""><strong>Lifestraw Family</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Removes bacteria, parasites and microplastics</td>
    </tr>
    <tr>
       <td>Lifetime of 4,755 gallons (18,000 liters), over 3 years of drinking water for a family of 5</td>
    </tr>
    <tr>
      <td>Ultimate survival tool: no shelf life, easy to clean and store, used and tested all over the globe</td>
    </tr>
    <tr>
      <td>This product gives back: One product, one school child, one year of clean water</td>
    </tr>
    <tr>
      <td>Weight: 0.3 lbs (136 g)</td>
    </tr>
  </tbody>
</table>
       
<table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/files/LightDiffusingStuffsack_x4_dd621411-e7d9-4fc3-a8ef-057574a9ba2a.jpg?8852" alt="Light Diffusing Stuffsack x4" title="Light Diffusing Stuffsack x4" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">5</span>
      </div> 
         <span class=""><strong>Light Diffusing Stuffsack x4</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Turns your HeadLamp into a hanging lantern</td>
    </tr>
    <tr>
       <td>Produces diffuse, ambient lighting</td>
    </tr>
    <tr>
      <td>Made with ripstop nylon with elastic loops</td>
    </tr>
    <tr>
       <td>Works with most headlamps including the BioLite HeadLamp</td>
    </tr>
    <tr>
      <td>Weight: 2 g</td>
    </tr>
  </tbody>
</table>
       
<table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/files/SolarHome620_Adapter.jpg?8807" alt="SolarHome Charger" title="SolarHome Charger" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">6</span>
      </div> 
         <span class=""><strong>SolarHome Charger</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Charges SolarHome 620 to full in 2 hours</td>
    </tr>
    <tr>
      <td>Input: 100-240 VAC, 50-60 Hz, 0.6A</td>
    </tr>
    <tr>
      <td>Output: 12V, 2A; 4.5mm DC Plug</td>
    </tr>
    <tr>
      <td>Adapter Cord Length: 8ft</td>
    </tr>
    <tr>
      <td>Weight: 0.3 lbs (136 g)</td>
    </tr>
  </tbody>
</table>
       
 


	 </div>
 </section>
</div>
