<div class="mobile-wrapper closed product-compare-bundle--{{ product.handle | remove: 'biolite-'  }}">
 <h2 class="mobile-title">Included in Bundle</h2>
 <section id="product-compare-bundle" class="product-compare-bundle product-compare-bundle--{{ product.handle | remove: 'biolite-'  }} mobile-wrapper-content">
	 <div class="product-compare-bundle wrapper wrapper--full_height wrapper--large">
<table class="compare-table-bundle table-with-footer">
  <thead>
    <tr style="background-color:#fff;">
    
      <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="https://cdn.shopify.com/s/files/1/0666/9741/products/SolarHome620_Midnight_edition_1024x1024.jpg?v=1541788198"  width="150" alt="SolarHome 620" title="SolarHome 620" />
<div class="bundle-number mb10 ">
        <span class="inside-count">1</span>
      </div>  
        <span class="mt20"><strong><a href="http://www.bioliteenergy.com/products/solarhome-620" style="color:#262729" target="_blank" title="SolarHome 620">SolarHome 620 Midnight</a></strong></span>
      </th> 
         
           <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="https://cdn.shopify.com/s/files/1/0666/9741/files/SunLight_4pack_grey.jpg?9999306033525945184"  width="150" alt="Sunlight 4 Pack" title="Sunlight 4 Pack" />
<div class="bundle-number mb10 ">
        <span class="inside-count">2</span>
      </div>  
        <span class="mt20"><strong><a href="#" style="color:#262729" target="_blank" title="Sunlight 4 Pack">SunLight x4</a></strong></span>
      </th>   
     
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Contains Solar Panel, Control Box, 2 Hanging Lights, 1 Security Light</td>
      <td>Burn time: 50 LO/3 HI + 4 hours in reserve mode</td>


    </tr>
    <tr>
      <td>18ft of cord between lights; 21 ft of cord between solar panel &amp; control box</td>
      <td>100 Lumens</td>

    </tr>
    <tr>
      <td>Control box contains 3300 mAh battery to power system and charge devices</td>
      <td>RGB mode with dimmability in white modes</td>

    </tr>
    <tr>
      <td>100 Lm per hanging light, each has its own switch</td>
      <td>Charges fully from sun in 7 hours</td>

    </tr>
    <tr>
      <td>Weight: 3.46 lbs (1.57 kg)</td>
      <td>Weight: 3.4 oz (95 g)</td>

    </tr>
  
 
  </tbody>

</table>


<!-- Mobile Tables -->
      
       

       
       <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/products/SolarHome620_Midnight_edition_1024x1024.jpg?v=1541788198" alt="SolarHome 620" title="SolarHome 620" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">1</span>
      </div> 
         <span class=""><strong>SolarHome 620 Midnight</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Contains Solar Panel, Control Box, 2 Hanging Lights, 1 Security Light</td>
    </tr>
    <tr>
      <td>18ft of cord between lights; 21 ft of cord between solar panel &amp; control box</td>
    </tr>
    <tr>
      <td>Control box contains 3300 mAh battery to power system and charge devices</td>
    </tr>
    <tr>
      <td>100 Lm per hanging light, each has its own switch</td>
    </tr>
    <tr>
      <td>Weight: 3.46 lbs (1.57 kg)</td>
    </tr>
    
    
   
  </tbody>

</table>
       
       
   

 <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/files/SunLight_4pack_grey.jpg?9999306033525945184" alt="SunLight x4" title="SunLight x4" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">2</span>
      </div> 
         <span class=""><strong>SunLight x4</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Burn time: 50 LO/3 HI + 4 hours in reserve mode</td>
    </tr>
    <tr>
      <td>100 Lumens</td>
    </tr>
    <tr>
      <td>RGB mode with dimmability in white modes</td>
    </tr>
    <tr>
      <td>Charges fully from sun in 7 hours</td>
    </tr>
     <tr>
      <td>Weight: 3.4 oz (95 g)</td>
    </tr>
    
   
  </tbody>

</table>





	 </div>
 </section>
</div>
