<div class="mobile-wrapper closed product-compare-bundle--{{ product.handle | remove: 'biolite-'  }}">
 <h2 class="mobile-title">Included in Set</h2>
 <section id="product-compare-bundle" class="product-compare-bundle product-compare-bundle--{{ product.handle | remove: 'biolite-'  }} mobile-wrapper-content">
	 <div class="product-compare-bundle wrapper wrapper--full_height wrapper--large">
<table class="compare-table-bundle table-with-footer">
  <thead>
    <tr style="background-color:#fff;">
         <th class="border-bottom pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="https://cdn.shopify.com/s/files/1/0666/9741/products/FirePit__1_1024x1024.jpg?v=1607724080" width="150" alt="FirePit" title="FirePit" />
<div class="bundle-number mb10 ">
        <span class="inside-count">1</span>
      </div>         
         <span class="mt20"><strong><a href="http://www.bioliteenergy.com/products/firepit" style="color:#262729" target="_blank" title="FirePit">FirePit+</a></strong></span>
      </th> 
      
      <th class="border-bottom pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="https://cdn.shopify.com/s/files/1/0666/9741/products/AlpenGlow500_x2_724207c2-c410-4222-b7ea-84b528b9160d_1200x1200.jpg?v=1628519094" width="150" alt="AlpenGlow 500 (x2)" title="AlpenGlow 500 (x2)" />
<div class="bundle-number mb10 ">
        <span class="inside-count">2</span>
      </div>         
         <span class="mt20"><strong><a href="http://www.bioliteenergy.com/products/alpenglow-500" style="color:#262729" target="_blank" title="AlpenGlow 500 (x2)">AlpenGlow 500 (x2)</a></strong></span>
      </th>

      <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="https://cdn.shopify.com/s/files/1/0666/9741/products/FireMat_ShopAll_1024x1024.png?v=1612976203" width="150" alt="FirePit FireMat" title="FirePit FireMat" />
<div class="bundle-number mb10 ">
        <span class="inside-count">3</span>
      </div>  
        <span class="mt20"><strong><a href="http://www.bioliteenergy.com/products/firepit-firemat" style="color:#262729" target="_blank" title="FirePit FireMat">FirePit FireMat</a><br></strong></span>
      </th>


     
    </tr>
  </thead>
  <tbody>
    <tr>
       <td>Burn time: Fan Low: 30 Hours (Fan Low), 14 Hours (Fan Med), 7 Hours (Fan High)</td>
      <td>500 lumens, runs for 5h HI &amp; 200h LO</td>
      <td>Designed to protect decks, grass, patios &amp; other sensitive surfaces</td>
      
    </tr>
    <tr>
      <td>Fuel: Firewood or charcoal</td>
      <td>6400 mAh rechargeable battery</td>
      <td>Materials: Aluminum Coated Fiberglass Fabric</td>

    </tr>
      <tr>
            <td>Dimensions: 27" wide x 13" deep 15.8" high (68.6 x 33 x 40.1 cm)</td>
        <td>IPX4 rating can withstand rain and splashing</td>
	  <td>Dimensions: 32 x 24" (81 x 61 cm) </td>
    </tr>
    <tr>
       <td>Weight: 19.8 lbs (8.98 kg)</td>
      <td>Shake to access special lighting modes</td>
	  <td> </td>

    </tr>
  
  
 
  </tbody>

</table>


<!-- Mobile Tables -->
             
       <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/products/FirePit__1_1024x1024.jpg?v=1607724080" alt="FirePit" title="FirePit" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">1</span>
      </div> 
         <span class=""><strong>FirePit+</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
       <td>Burn time: Fan Low: 30 Hours (Fan Low), 14 Hours (Fan Med), 7 Hours (Fan High)</td>
    </tr>
    <tr>
      <td>Fuel: Firewood or charcoal</td>
    </tr>
    <tr>
      <td>Dimensions: 27" wide x 13" deep 15.8" high (68.6 x 33 x 40.1 cm)</td>
    </tr>
    <tr>
       <td>Weight: 19.8 lbs (8.98 kg)</td>
    </tr>
    
   
  </tbody>

</table>
 
       <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/products/AlpenGlow500_x2_724207c2-c410-4222-b7ea-84b528b9160d_1200x1200.jpg?v=1628519094" alt="AlpenGlow 500" title="AlpenGlow 500" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">2</span>
      </div> 
         <span class=""><strong>AlpenGlow 500 (x2)</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>500 lumens, runs for 5h HI &amp; 200h LO</td>
    </tr>
    <tr>
      <td>6400 mAh rechargeable battery</td>
    </tr>
    <tr>
        <td>IPX4 rating can withstand rain and splashing</td>
    </tr>
    <tr>
      <td>Shake to access special lighting modes</td>
    </tr>
    
   
  </tbody>

</table>

       

       
       <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/products/FireMat_ShopAll_1024x1024.png?v=1612976203" alt="FirePit FireMat" title="FirePit FireMat" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">3</span>
      </div> 
         <span class=""><strong>FirePit FireMat</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Designed to protect decks, grass, patios &amp; other sensitive surfaces</td>
    </tr>
    <tr>
      <td>Materials: Aluminum Coated Fiberglass Fabric</td>
    </tr>
    <tr>
	  <td>Dimensions: 32 x 24" (81 x 61 cm) </td>

    </tr>
   
 
  </tbody>

</table>
       
       



       
       



	 </div>
 </section>
</div>
