<div class="mobile-wrapper closed product-compare-bundle--{{ product.handle | remove: 'biolite-'  }}">
 <h2 class="mobile-title">Included in Bundle</h2>
 <section id="product-compare-bundle" class="product-compare-bundle product-compare-bundle--{{ product.handle | remove: 'biolite-'  }} mobile-wrapper-content">
	 <div class="product-compare-bundle wrapper wrapper--full_height wrapper--large">
<table class="compare-table-bundle table-with-footer">
  <thead>
    <tr style="background-color:#fff;">
       <th class="border-bottom pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="https://cdn.shopify.com/s/files/1/0666/9741/products/BaseCampKit_1_1024x1024.jpg?v=1572360107" width="150" alt="BaseCamp PizzaDome Bundle" title="BaseCamp PizzaDome Bundle" />
<div class="bundle-number mb10 ">
        <span class="inside-count">1</span>
      </div>         
         <span class="mt20"><strong><a href="/products/basecamp-pizzadome-bundle" style="color:#262729" target="_blank" title="FirePit">BaseCamp PizzaDome Bundle</a></strong></span>
      </th>

      
         <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="https://cdn.shopify.com/s/files/1/0666/9741/products/20190501_Studio_Polar_Black_Flat_kitfox_webres_1200x_d7924eca-2f91-455d-8bf4-d30a0f5ebbeb_1024x1024.jpg?v=1574117730"  width="150" alt="Polar Puffy Blanket" title="Polar Puffy Blanket" />
<div class="bundle-number mb10 ">
        <span class="inside-count">2</span>
      </div>  
        <span class="mt20"><strong><a href="/products/polar-puffy-blanket" style="color:#262729" target="_blank" title="Polar Puffy Blanket">Polar Puffy Blanket</a></strong></span>
      </th>
      
      
       <th class="border-bottom  pb20">

        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="https://cdn.shopify.com/s/files/1/0666/9741/products/Miir_mugs_shopMain_1024x1024.png?v=1573672997"  width="150" alt="Miir Camp Cup x2" title="Miir Camp Cup x2" />
<div class="bundle-number mb10 ">
        <span class="inside-count">3</span>
      </div>  
        <span class="mt20"><strong><a href="/products/biolite-x-miir-camp-cup" style="color:#262729" target="_blank" title="Miir Camp Cup x2">Miir Camp Cup x2</a></strong></span>
      </th>
      
             <th class="border-bottom  pb20">

        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="https://cdn.shopify.com/s/files/1/0666/9741/products/Cookbook_3_53be38a7-309d-46cf-b7c9-c58c866b8c7e_1024x1024.jpg?v=1542669116"  width="150" alt="Fueled By Fire Cookbook" title="Fueled By Fire Cookbook" />
<div class="bundle-number mb10 ">
        <span class="inside-count">4</span>
      </div>  
        <span class="mt20"><strong><a href="/products/fueled-by-fire-cookbook" style="color:#262729" target="_blank" title="Fueled By Fire Cookbook">Fueled By Fire Cookbook</a></strong></span>
      </th>
     
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>13.25” cooking diameter (33.66 cm)</td>
       <td>Fabric: 100% Post-Consumer Recycled Polar Fleece &amp; PCR synthetic insulation</td>
      <td>18/8 medical grade stainless steel provides clean taste</td>
            <td>48 pages &amp; printed on 100% recycled paper</td>


      
    </tr>
    <tr>
      <td>Cooks a pizza in 5-10 minutes</td>
       <td>Size: 54"x70" </td>
      <td>BPA-free Lid presses on easily</td>
            <td>Embossed cover with custom art from BioLite Team</td>


    </tr>
      <tr>
      <td>5W power output + 2200 mAh on-board battery	</td>
             <td>Features a Cape Clip™ &amp; Snap Pocket for keys, phone</td>
      <td>Dishwasher safe</td>
              <td>21 recipes including sides, mains, desserts, &amp; beverages</td>

    </tr>
    <tr>
      <td>Fueled by sticks, firewood or wood chuncks	</td>      
	   <td>Weight: 3.3 lbs (1500 g)</td>
      <td>Weight: 0.59 lbs (267 g)</td>
            <td>Dimensions: 5.5" x 8.5"</td>


    </tr>
    
     <tr>
      <td>Weight: 19.8 lbs (8.98 kg)</td>      
	   <td></td>
      <td></td>
        <td></td>

    </tr>
  
  
 
  </tbody>

</table>


<!-- Mobile Tables -->
       
       <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/products/BaseCampKit_1_1024x1024.jpg?v=1572360107" alt="BaseCamp PizzaDome Bundle" title="BaseCamp PizzaDome Bundle" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">1</span>
      </div> 
         <span class=""><strong>BaseCamp PizzaDome Bundle</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>13.25” cooking diameter (33.66 cm)</td>
    </tr>
    <tr>
      <td>Cooks a pizza in 5-10 minutes</td>
    </tr>
    <tr>
      <td>5W power output + 2200 mAh on-board battery	</td>
    </tr>
    <tr>
      <td>Fueled by sticks, firewood or wood chuncks	</td>      
    </tr>
      <tr>
      <td>Weight: 19.8 lbs (8.98 kg)</td>      
    </tr>
    
   
  </tbody>

</table>


       
              <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/products/20190501_Studio_Polar_Black_Flat_kitfox_webres_1200x_d7924eca-2f91-455d-8bf4-d30a0f5ebbeb_1024x1024.jpg?v=1574117730" alt="Polar Puffy Blanket" title="Polar Puffy Blanket" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">2</span>
      </div> 
         <span class=""><strong>Polar Puffy Blanket</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Fabric: 100% Post-Consumer Recycled Polar Fleece &amp; PCR synthetic insulation</td>
    </tr>
    <tr>
      <td>Size: 54"x70" </td>
    </tr>
    <tr>
      <td>Features a Cape Clip™ &amp; Snap Pocket for keys, phone</td>
    </tr>
    <tr>
      <td>Dishwasher safe</td>
    </tr>
  </tbody>
</table>
       
       
       <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/products/Miir_mugs_shopMain_1024x1024.png?v=1573672997" alt="Miir Camp Cup x2" title="Miir Camp Cup x2" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">3</span>
      </div> 
         <span class=""><strong>Miir Camp Cup x2</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>18/8 medical grade stainless steel provides clean taste</td>
    </tr>
    <tr>
      <td>BPA-free Lid presses on easily</td>
    </tr>
    <tr>
      <td>Dishwasher safe</td>
    </tr>
    <tr>
      <td>Weight: 0.59 lbs (267 g)</td>
    </tr>
  </tbody>
</table>
       
              <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/products/Cookbook_3_53be38a7-309d-46cf-b7c9-c58c866b8c7e_1024x1024.jpg?v=1542669116" alt="Fueled By Fire Cookbook" title="Fueled By Fire Cookbook" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">4</span>
      </div> 
         <span class=""><strong>Fueled By Fire Cookbook</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
            <td>48 pages &amp; printed on 100% recycled paper</td>
    </tr>
    <tr>
            <td>Embossed cover with custom art from BioLite Team</td>
    </tr>
    <tr>
              <td>21 recipes including sides, mains, desserts, &amp; beverages</td>
    </tr>
    <tr>
            <td>Dimensions: 5.5" x 8.5"</td>
    </tr>
  </tbody>
</table>


       
       



	 </div>
 </section>
</div>
