<div class="mobile-wrapper closed product-compare-bundle--{{ product.handle | remove: 'biolite-'  }}">
 <h2 class="mobile-title">Included in Bundle</h2>
 <section id="product-compare-bundle" class="product-compare-bundle product-compare-bundle--{{ product.handle | remove: 'biolite-'  }} mobile-wrapper-content">
	 <div class="product-compare-bundle wrapper wrapper--full_height wrapper--large">
<table class="compare-table-bundle table-with-footer">
  <thead>
    <tr style="background-color:#fff;">
    
      <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="https://cdn.shopify.com/s/files/1/0666/9741/products/HeadLamp_1_teal_large.jpg?v=1539723802"  width="150" alt="HeadLamp 330" title="HeadLamp 330" />
<div class="bundle-number mb10 ">
        <span class="inside-count">1</span>
      </div>  
        <span class="mt20"><strong><a href="/products/headlamp-330" style="color:#262729" target="_blank" title="SolarHome 620">HeadLamp 330</a></strong></span>
      </th> 
         
           <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="https://cdn.shopify.com/s/files/1/0666/9741/products/Charge20-2_large.jpg?v=1498168095"  width="150" alt="Charge 20" title="Charge 20" />
<div class="bundle-number mb10 ">
        <span class="inside-count">2</span>
      </div>  
        <span class="mt20"><strong><a href="/products/charge-20" style="color:#262729" target="_blank" title="Sunlight 4 Pack">Charge 20</a></strong></span>
      </th>  
      
                 <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="https://cdn.shopify.com/s/files/1/0666/9741/products/LightDiffusingStuffsack_1_large.jpg?v=1539810428"  width="150" alt="Light Diffusing Stuffsack" title="Light Diffusing Stuffsack" />
<div class="bundle-number mb10 ">
        <span class="inside-count">3</span>
      </div>  
        <span class="mt20"><strong><a href="/products/light-diffusing-stuffsack" style="color:#262729" target="_blank" title="Light Diffusing Stuffsack">Light Diffusing Stuffsack</a></strong></span>
      </th>  
     
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>330 Lumens Total (230 Lm Spot + 100 Lm Flood)</td>
      <td>Battery: 5200 mAh, 3.6 V lithium-ion</td>
      <td>Turns your headlamp into a hangable light</td>



    </tr>
    <tr>
      <td>Burn Time: 40 hours LO/3.5 hours HI</td>
      <td>IPX 6 Rated</td>
      <td>Works with most headlamps including the BioLite HeadLamp</td>

    </tr>
    <tr>
      <td>USB Rechargeable</td>
      <td>Outputs: (1) USB @ 2.1 A</td>
      <td>Light diffusing ripstop nylon with elastic loops</td>


    </tr>
    <tr>
      <td>Modes: Combo White Flood/Spot, White Spot, White Flood, Red Flood, Strobe</td>
      <td>Dimensions:  0.82 x 1.5 x 3.98 in (21 x 38 x 98 mm)</td>
      <td>Doubles as carry case for HeadLamp &amp; Charge 20</td>


    </tr>
    <tr>
      <td>Weight: 2.43 oz (69 g)</td>
      <td>Weight: 5.8 oz (165 g)</td>
      <td>Weight: 2 g</td>


    </tr>
  
 
  </tbody>

</table>


<!-- Mobile Tables -->
      
       

       
       <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/products/HeadLamp_1_teal_large.jpg?v=1539723802" alt="HeadLamp 330" title="HeadLamp 330" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">1</span>
      </div> 
         <span class=""><strong>HeadLamp 330</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>330 Lumens Total (230 Lm Spot + 100 Lm Flood)</td>
    </tr>
    <tr>
      <td>Burn Time: 40 hours LO/3.5 hours HI</td>
    </tr>
    <tr>
      <td>USB Rechargeable</td>
    </tr>
    <tr>
      <td>Modes: Combo White Flood/Spot, White Spot, White Flood, Red Flood, Strobe</td>
    </tr>
    <tr>
      <td>Weight: 2.43 oz (69 g)</td>
    </tr>
    
    
   
  </tbody>

</table>
       
       
   

 <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/products/Charge20-2_large.jpg?v=1498168095" alt="Charge 20" title="Charge 20" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">2</span>
      </div> 
         <span class=""><strong>Charge 20</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Battery: 5200 mAh, 3.6 V lithium-ion</td>
    </tr>
    <tr>
      <td>IPX 6 Rated</td>
    </tr>
    <tr>
      <td>Outputs: (1) USB @ 2.1 A</td>
    </tr>
    <tr>
      <td>Dimensions:  0.82 x 1.5 x 3.98 in (21 x 38 x 98 mm)</td>
    </tr>
     <tr>
      <td>Weight: 5.8 oz (165 g)</td>
    </tr>
    
   
  </tbody>

</table>
       
        <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/products/LightDiffusingStuffsack_1_large.jpg?v=15398104285" alt="Light Diffusing Stuffsack" title="Light Diffusing Stuffsack" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">3</span>
      </div> 
         <span class=""><strong>Light Diffusing Stuffsack</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Turns your headlamp into a hangable light</td>
    </tr>
    <tr>
      <td>Works with most headlamps including the BioLite HeadLamp</td>
    </tr>
    <tr>
      <td>USB Rechargeable</td>
    </tr>
    <tr>
      <td>Modes: Combo White Flood/Spot, White Spot, White Flood, Red Flood, Strobe</td>
    </tr>
     <tr>
      <td>Weight: 2.43 oz (69 g)</td>
    </tr>
    
  </tbody>

</table>





	 </div>
 </section>
</div>
