<div class="mobile-wrapper closed product-compare-bundle--{{ product.handle | remove: 'biolite-'  }}">
 <h2 class="mobile-title">Included in Bundle</h2>
 <section id="product-compare-bundle" class="product-compare-bundle product-compare-bundle--{{ product.handle | remove: 'biolite-'  }} mobile-wrapper-content">
	 <div class="product-compare-bundle wrapper wrapper--full_height wrapper--large">
<table class="compare-table-bundle table-with-footer">
  <thead>
    <tr style="background-color:#fff;">
       <th class="border-bottom pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="https://cdn.shopify.com/s/files/1/0666/9741/products/FirePit_CN_1_large.jpg?v=1572370661" width="150" alt="FirePit Climate Neutral" title="FirePit Climate Neutral" />
<div class="bundle-number mb10 ">
        <span class="inside-count">1</span>
      </div>         
         <span class="mt20"><strong><a href="http://www.bioliteenergy.com/products/firepit-climate-neutral-edition" style="color:#262729" target="_blank" title="FirePit">FirePit Climate Neutral</a></strong></span>
      </th>

      <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="https://cdn.shopify.com/s/files/1/0666/9741/products/FirePit_SolarCover_1_large.jpg?v=1508519307" width="150" alt="Solar Carry Cover" title="Solar Carry Cover" />
<div class="bundle-number mb10 ">
        <span class="inside-count">2</span>
      </div>  
        <span class="mt20"><strong><a href="http://www.bioliteenergy.com/products/solar-carry-cover" style="color:#262729" target="_blank" title="Solar Carry Cover">Solar Carry Cover</a><br></strong></span>
      </th>
      <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="https://cdn.shopify.com/s/files/1/0666/9741/products/FireMat_1_large.jpg?v=1549666278" width="150" alt="FireMat" title="FireMat" />
<div class="bundle-number mb10 ">
        <span class="inside-count">3</span>
      </div>  
        <span class="mt20"><strong><a href="http://www.bioliteenergy.com/products/firemat" style="color:#262729" target="_blank" title="FireMat">FireMat</a><br></strong></span>
      </th>
      
            <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="https://cdn.shopify.com/s/files/1/0666/9741/products/FirePoker_1_large.jpg?v=1549407290" width="150" alt="FirePoker" title="FirePoker" />
<div class="bundle-number mb10 ">
        <span class="inside-count">4</span>
      </div>  
        <span class="mt20"><strong><a href="http://www.bioliteenergy.com/products/firepoker" style="color:#262729" target="_blank" title="FirePoker">FirePoker</a><br></strong></span>
      </th>
     
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Burn time: Fan Low: 24 Hours (Fan Low), 10 Hours (Fan Med), 5 Hours (Fan High)</td>
      <td>Fully charges FirePit in 3-5 days of sun</td>
      <td>Made from aluminum coated fiberglass fabric</td>
      <td>Made from stainless steel, silicone rubber</td>
      
    </tr>
    <tr>
      <td>Weight: 19.8 lbs (8.98 kg)</td>
      <td>Weight: 400 g</td>
      <td>Weight: 1 lb (450 g)</td>
      <td>Weight: 148 g</td>

    </tr>
      <tr>
      <td>Dimensions: 27" wide x 13" deep 15.8" high (68.6 x 33 x 40.1 cm)</td>
	  <td>Made from durable waterproof nylon </td>
      <td>Dimensions: 31.8 x 24.0 in (80.8 x 61.0 cm)</td>
      <td>Dimensions: 23.4 x 2.2 x 0.5 in (59 x 5.6 x 1.4 cm)</td>
    </tr>
    <tr>
      <td>Fuel: Firewood or charcoal</td>
	  <td> </td>
	  <td> </td>
      <td> </td>

    </tr>
  
  
 
  </tbody>

</table>


<!-- Mobile Tables -->
       
       <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/products/FirePit_CN_1_large.jpg?v=1572370661" alt="FirePit Climate Neutral" title="FirePit Climate Neutral" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">1</span>
      </div> 
         <span class=""><strong>FirePit Climate Neutral</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Burn time: Fan Low: 24 Hours (Fan Low), 10 Hours (Fan Med), 5 Hours (Fan High)</td>
    </tr>
    <tr>
      <td>Weight: 19.8 lbs (8.98 kg)</td>
    </tr>
    <tr>
      <td>Dimensions: 27" wide x 13" deep 15.8" high (68.6 x 33 x 40.1 cm)</td>
    </tr>
    <tr>
      <td>Fuel: Firewood or charcoal</td>
    </tr>
    
   
  </tbody>

</table>

       

       
       <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/products/FirePit_SolarCover_1_large.jpg?v=1508519307" alt="Solar Carry Cover" title="Solar Carry Cover" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">2</span>
      </div> 
         <span class=""><strong>Solar Carry Cover</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Fully charges FirePit in 3-5 days of sun</td>
    </tr>
    <tr>
      <td>Weight: 400 g</td>
    </tr>
    <tr>
	  <td>Made from durable waterproof nylon </td>
    </tr>
 
  </tbody>

</table>
       
       
              <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/products/FireMat_1_large.jpg?v=1549666278" alt="FireMat" title="FireMat" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">3</span>
      </div> 
         <span class=""><strong>FireMat</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Made from aluminum coated fiberglass fabric</td>
    </tr>
    <tr>
      <td>Weight: 1 lb (450 g)</td>
    </tr>

    <tr>
      <td>Dimensions: 31.8 x 24.0 in (80.8 x 61.0 cm)</td>
    </tr>
    
   
  </tbody>

</table>
       
                     <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/products/FirePoker_1_large.jpg?v=1549407290" alt="FirePoker" title="FirePoker" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">4</span>
      </div> 
         <span class=""><strong>FirePoker</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Made from stainless steel, silicone rubber</td>
    </tr>
    <tr>
      <td>Weight: 148 g</td>
    </tr>
    <tr>
      <td>Dimensions: 23.4 x 2.2 x 0.5 in (59 x 5.6 x 1.4 cm)</td>
    </tr>

   
  </tbody>

</table>


       
       



	 </div>
 </section>
</div>
