{% comment %}
	This is Inside our Technology snippet for the NanoGrid
{% endcomment %}
<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Inside The Tech</h2>
 <section id="product-tech" class="product-tech without-curtain product-tech--{{ product.handle | remove: 'biolite-'  }} mobile-wrapper-content">
	 <div class="product-tech-curtain show">
		 <div class="product-tech-curtain__content wrapper wrapper--full_height wrapper--large">
			 <header class="product-tech__header text-center grid__item large--one-whole">
				 <h3 class="light">Inside our Technology</h3>
			 </header>
			 <div class="product-tech-curtain__body">
				<div class="grid__item large insidetech-custom-layout">
	<ul class="product-tech-curtain__list">
	  <li class="list-item panel-1" style="background-image: url('https://cdn.shopify.com/s/files/1/0666/9741/files/PowerLight_crossSection_v2.png?103903')">
	  	<div>
		    <h4 class="alt baseline">What Is It</h4>
		    <p>Edge-lighting is a process where we've created panels that bend light around the internal battery, resulting in a compact design and soft light.</p>
		</div>
	  </li>
	  <li class="list-item panel-2" style="background-image: url('https://cdn.shopify.com/s/files/1/0666/9741/files/PowerLight_lens_v4.png?156644')">
	  	<div>
	    	<h4 class="alt baseline">How We Do It</h4>
	    	<p>A unique textured pattern on the lens reflects LED lights on a steep angle to control where and when it escapes the lantern. The pattern follows a gradient, allowing even light from bottom to top of the lens.</p>
	    </div>
	  </li>
	  <li class="list-item panel-3" style="background-image: url('https://cdn.shopify.com/s/files/1/0666/9741/files/Light_comparison_v3.png?156644')">
	  	<div>
		    <h4 class="alt baseline">Why It Matters</h4>
		    <p>This creates a powerful light with no hotspots that can simultaneously fit in the palm of your hand. Non-edge lit designs mean concentrated glares that leave spots in your eyes and require cavernous spaces in the product.</p>
		</div>
	  </li>
	</ul>
</div>

			 </div>
		 </div>
	 </div>
 </section>
</div>




