{% comment %}
	This is Inside our Technology snippet for the PowerLight Mini
{% endcomment %}
<div class="mobile-wrapper closed inside-tech--{{ product.handle | remove: 'biolite-'  }}">
 <h2 class="mobile-title">Inside The Tech</h2>
 <section id="product-tech" class="product-tech without-curtain product-tech--{{ product.handle | remove: 'biolite-'  }} mobile-wrapper-content">
	 <div class="product-tech-curtain show">
		 <div class="product-tech-curtain__content wrapper wrapper--full_height wrapper--large pt50 pb50">
			 <header class="product-tech__header text-center grid__item large--one-whole">
				 <h3 class="light">Inside our Technology</h3>
			 </header>
			 <div class="product-tech-curtain__body">
				 <div class="grid__item large--one-half  medium--one-half">
				 	<img class="product-tech-curtain__img" style="margin:30px auto;" src="{{ product.metafields.techspec.image }}" alt="">
                   
                    <div style="text-align:center;">

                   <a href="#" class="primary mt30 mb40" data-control-modal="#hero-video--mini-tech" title="Play"> <i class="fa fa-r fa-play"></i> <h4 class="alt primary" style="padding-left:5px; display:inline;"><strong>Watch:</strong> Inside The Tech</h4> </a>
                     </div>
                      <div id="hero-video" class="modal">
       
     <header class="modal__header">
      <div class="modal--close">
        <i class="fa fa-circle-border fa-circle-border--medium fa-times"></i>
      </div>
    </header>
                        
    <div id="hero-video--mini-tech" class="modal">
   <header class="modal__header">
     
     <div class="modal--close">
       <i class="fa fa-circle-border fa-circle-border--medium fa-times"></i>
     </div>
   </header>
   <div class="modal__content modal__content--video">
     <div data-control-youtube-video="eP46EsjZYV8"></div>
   </div>
  </div>
  </div>
 
                   
               
				 </div>
				 <div class="grid__item large--one-half medium--one-half">
	 				<h4 class="alt baseline primary mb30 mt30">Big Light in a Small Space</h4>
<ol>
  <li class="light"><strong>Edge-lighting: </strong>A unique textured pattern on the lens reflects the LEDs on a steep angle creating soft, even light along the entire panel without requiring a cavernous space typical of most lanterns. </li><br>
  <li class="light"><strong>High-efficiency LEDs: </strong>Red and white LEDs are located at the top of the design providing 4 key lighting modes. </li><br>
  <li class="light"><strong>Rechargeable Battery: </strong>A 1350 mAh battery maximizes burn time and gives the ability to amplify the lumen output with a front-panel point light. USB-charge out gives you the ability to provide a power boost to your gear when on the go.</li><br>
  <li class="light"><strong>Stainless Steel Housing: </strong>Thinner and even more durable than plastic, the stainless steel housing works double time as a heat sink, helping the LEDs run more efficiently. </li>
                   </ol>
	 			</div>
			 </div>
		 </div>
	 </div>
 </section>
</div>
