{% comment %}
	This is Inside our Technology snippet for the CampStove
{% endcomment %}
<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Inside The Tech</h2>
 <section id="product-tech" class="product-tech without-curtain product-tech--{{ product.handle | remove: 'biolite-'  }} mobile-wrapper-content">
	 <div class="product-tech-curtain show">
		 <div class="product-tech-curtain__content wrapper wrapper--full_height wrapper--large pt50 pb50">
			 <header class="product-tech__header text-center grid__item large--one-whole">
				 <h3 class="light">Inside our Technology</h3>
			 </header>
			 <div class="product-tech-curtain__body">
				 <div class="grid__item large--one-half  medium--one-half">
				 	<img class="product-tech-curtain__img" src="{{ product.metafields.techspec.image }}" alt="">
				 </div>
				<div class="grid__item large--one-half medium--one-half">

	<p class="gray-dark mb0">The Thermoelectric Generator [TEG], located on the base of the KettleCharge, uses a difference in temperature to produce electricity. This comes from having a hot side and a cold side of the TEG.</p>

	<ul class="product-tech-curtain__list kettlecharge-tech pt0--mobile mt20 ml0">


	 <li class="list-item--green">
	  <div class="symbol" style="background-color:#f3f3f3 !important;"><i class="icomoon icon-water-drop"></i></div>
	    <h4 class="alt baseline">Fill</h4>
	    <p>Add water to the stainless steel kettle. The water serves as the cold side of the TEG.</p>
	  </li>
	  <li class="list-item--red">
	    <div class="symbol" style="background-color:#f3f3f3 !important;"><i class="icomoon icon-stove-dial"></i></div>
	    <h4 class="alt baseline">Heat</h4>
	    <p>The flame of your heat source in contact with the baseplate is the hot side of the TEG.</p>
	  </li>
	  <li class="list-item--yellow">
	    <div class="symbol" style="background-color:#f3f3f3 !important;"><i class="icomoon icon-chargeUSB"></i></div>
	    <h4 class="alt baseline">Charge</h4>
	    <p>As you bring the water to a boil, electricity is produced and sent to the Power Handle, leaving you with potable water and 10W of usable power. </p>
	  </li>
	</ul>
</div>

			 </div>
		 </div>
	 </div>
 </section>
</div>












