{% comment %}
	This is Inside our Technology snippet for the PowerLight Mini
{% endcomment %}
<div class="mobile-wrapper closed inside-tech--{{ product.handle | remove: 'biolite-'  }}">
 <h2 class="mobile-title">Inside The Tech</h2>
 <section id="product-tech" class="product-tech without-curtain product-tech--{{ product.handle | remove: 'biolite-'  }} mobile-wrapper-content">
	 <div class="product-tech-curtain show">
		 <div class="product-tech-curtain__content wrapper wrapper--full_height wrapper--large pt50 pb50">
			 <header class="product-tech__header text-center grid__item large--one-whole">
				 <h3 class="light">Inside our Technology</h3>
			 </header>
			 <div class="product-tech-curtain__body">
				 <div class="grid__item large--one-half  medium--one-half">
				 	<img class="product-tech-curtain__img" style="margin:30px auto;" src="{{ product.metafields.techspec.image }}" alt="">
                   

                   
               
				 </div>
				 <div class="grid__item large--one-half medium--one-half">
	 				<h4 class="alt baseline primary mb30 mt30">Big Light in a Small Space</h4>
<ol>
  <li class="light"><strong>Edge-Lighting: </strong>A unique textured pattern on the lens reflects the LEDs on a steep angle creating soft, even light along the entire panel without requiring a cavernous space typical of most lanterns. </li><br>
  <li class="light"><strong>High-Efficiency LEDs: </strong>White and RGB LEDs located at base of the lens provide warmth control and thousands of color options. </li><br>
  <li class="light"><strong>Rechargeable Battery: </strong>A 7800 mAh battery maximizes burn time and gives the ability to share light to the daisy-chainable BioLite SiteLights. USB-charge out powers your gear.</li><br>
  <li class="light"><strong>Stainless Steel Housing: </strong>Thinner and even more durable than plastic, the stainless steel housing works double time as a heat sink, helping the LEDs run more efficiently. </li>
                   </ol>
	 			</div>
			 </div>
		 </div>
	 </div>
 </section>
</div>
