{% comment %}
	This is Inside our Technology snippet for the CookStove
{% endcomment %}
<div class="mobile-wrapper closed inside-tech--{{ product.handle | remove: 'biolite-'  }}">
 <h2 class="mobile-title">Inside The Tech</h2>
 <section id="product-tech" class="product-tech without-curtain product-tech--{{ product.handle | remove: 'biolite-'  }} mobile-wrapper-content">
	 <div class="product-tech-curtain show">
		 <div class="product-tech-curtain__content wrapper wrapper--full_height wrapper--large pt50 pb50">
			 <header class="product-tech__header text-center grid__item large--one-whole">
				 <h3 class="light">Inside our Technology</h3>
			 </header>
			 <div class="product-tech-curtain__body">
				 <div class="grid__item large--one-half  medium--one-half">
				 	<img class="product-tech-curtain__img" src="{{ product.metafields.techspec.image }}" alt="">
				 </div>
				 <div class="grid__item large--one-half medium--one-half">
	 				<h4 class="alt baseline primary mb30 mt30">The Right Stuff: How We Burn Wood Like Gas</h4>
                   <p class="light">It’s all about being in the right place at the right time.</p>


                   <p class="light">A good fire has three key elements working together in a careful ratio: fuel, oxygen, and the overall temperature. When you properly mix oxygen and fuel in a fire, combustion improves, raising overall temperature which – you guessed it – further improves that combustion, allowing particles to burn easily and efficiently before they have a chance to escape the fire. The smoke you see from a typical campfire? That’s wasted fuel. The CookStove doesn’t let that happen.</p>

<p class="light">Take a look inside your CookStove’s burn chamber – you’ll see multiple small jets. When the fan system is turned on, these jets inject air all throughout the fire. By distributing the airflow, we can raise temperature evenly and ensure uniform combustion throughout.
</p>
	 			</div>
			 </div>
		 </div>
	 </div>
 </section>
</div>
