{% comment %}
	This is Inside our Technology snippet for the KettlePot
{% endcomment %}


<div class="grid__item large--one-half medium--one-half">
	<ul class="product-tech-curtain__list">
	  <li class="list-item--red">
	    <div class="symbol"><i>+</i></div>
	    <h4 class="alt baseline">Heat</h4>
	    <p>BioLite’s patented core technology captures waste heat from the fire through a heat probe attached to the orange powerpack.</p>
	  </li>
	  <li class="list-item--yellow">
	    <div class="symbol"><i>+</i></div>
	    <h4 class="alt baseline">Electricity</h4>
	    <p>Heat is converted into usable electricity via a thermoelectric generator. This powers a fan and sends surplus electricity to a USB charging port.</p>
	  </li>
	  <li class="list-item--green">
	    <div class="symbol"><i>+</i></div>
	    <h4 class="alt baseline">Air</h4>
	    <p>The internal fan forces air back into the burn chamber dramatically improving combustion and creating a cleaner, more efficient burn.</p>
	  </li>
	</ul>
</div>
