{% comment %}
	This is Inside our Technology snippet for the PowerLight Mini
{% endcomment %}
<div class="mobile-wrapper closed inside-tech--{{ product.handle | remove: 'biolite-'  }}">
 <h2 class="mobile-title">Inside The Tech</h2>
 <section id="product-tech" class="product-tech without-curtain product-tech--{{ product.handle | remove: 'biolite-'  }} mobile-wrapper-content">
	 <div class="product-tech-curtain show">
		 <div class="product-tech-curtain__content wrapper wrapper--full_height wrapper--large pt50 pb50">
			 <header class="product-tech__header text-center grid__item large--one-whole">
				 <h3 class="light">Inside our Technology</h3>
			 </header>
			 <div class="product-tech-curtain__body">
				 <div class="grid__item large--one-half  medium--one-half">
				 	<img class="product-tech-curtain__img" style="padding:15px;" src="{{ product.metafields.techspec.image }}" alt="">
                   
                    <div style="text-align:center;">

                   <a href="#" class="primary mt30 mb40" data-control-modal="#hero-video--mini-tech" title="Play"> <i class="fa fa-r fa-play"></i> <h4 class="alt primary" style="padding-left:5px; display:inline;"><strong>Watch:</strong> Inside The Tech</h4> </a>
                     </div>
                      <div id="hero-video" class="modal">
       
     <header class="modal__header">
      <div class="modal--close">
        <i class="fa fa-circle-border fa-circle-border--medium fa-times"></i>
      </div>
    </header>
                        
    <div id="hero-video--mini-tech" class="modal">
   <header class="modal__header">
     
     <div class="modal--close">
       <i class="fa fa-circle-border fa-circle-border--medium fa-times"></i>
     </div>
   </header>
   <div class="modal__content modal__content--video">
     <div data-control-youtube-video="NKZMVwDExPk"></div>
   </div>
  </div>
  </div>
 
                   
                   
                   
                   
				 </div>
				 <div class="grid__item large--one-half medium--one-half">
	 				<h4 class="alt baseline primary mb30 mt30">Maximizing Your Charge From The Sun - How BioLite Tech Achieves 100% Capacity</h4>
<ol>
  <li class="light"><strong>Direct Connect with the Optimal Sun System: </strong>Misaligning your solar panel can lead to losing up to 30% of watts available. Our sundial aligns you directly to the sun while the 360 kickstand helps you keep it in the right spot on any terrain </li><br>
  <li class="light"><strong>Maximum Power Point Tracking: </strong>BioLite software enables you to draw as much power as possible without overloading the system. The result is faster charge times and no crashes.</li><br>
  <li class="light"><strong>Thin Profiles for Cool Panels </strong>Panels lose efficiency when they heat up – so we made our panel ultra thin with minimal materials to dissipate heat quickly.</li><br>
                   </ol>
	 			</div>
			 </div>
		 </div>
	 </div>
 </section>
</div>
