  <div class="mobile-wrapper closed">
 <h2 class="mobile-title">Inside The App</h2>
 <section id="product-specs" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">

  <section class="section-medium app-hero">
  
    <div class="wrapper wrapper--large  mobile-text-center">

  
   <div class="grid__item large--one-half ">

         <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/firePit_app.png?17403622734312890059" style="height:600px" alt="" title="BioLite Energy App" />

   
      
      </div>

  
   <div class="grid__item large--one-half mt10 mobile-tight pb50">

     <p class="light gray-warm">The optional Bluetooth BioLite Energy App allows you to control the airflow settings remotely, 
      so you can be in complete control of your clean-burning experience. <br><br>NOTE: you 
       can do everything manually via the button located on the side of the usb-rechargeable powerpack.</p>
        
     
     <h5 class="alt mt30 mb0 primary">Features:</h5>
     <span class="app-feature-list">

      <ul>
        <li><i class="icomoon icon-fan2 app-feature-icon"></i>Control Flame Intensity</li>
        <li><i class="icomoon icon-battery app-feature-icon"></i>Real Time Battery &amp; Power Usage Stats</li>
      </ul>
    </span>
     
       
  
     
     <h5 class="alt mt50 mb0 primary">Download for free:</h5>
     <p class="light">Compatible with Android (5 and up) and iOS (10.0 and up)</p>


<a href="https://itunes.apple.com/us/app/biolite-energy/id1146531562?ls=1&mt=8" target="_blank"><img class="mt5 pr10 mobile-text-center apple-logo"  src="https://cdn.shopify.com/s/files/1/0666/9741/files/iOS_appStore_download.png?9069070817626020306"  height="45" alt="Download on the Apple App Store"></a>
<a href="https://play.google.com/store/apps/details?id=com.bioliteenergy.baselantern&hl=en" target="_blank"><img class="mt5 mobile-text-center google-logo"  src="https://cdn.shopify.com/s/files/1/0666/9741/files/googlePlay_logo.png?18343300157132881387"  height="45" alt="Download on the Google Play Store"></a>



      
      </div>
      
  </div>


</section>
    

</div>
    </section>
</div>

