<!-- MISSION PAGE: STATS FOR NANOGRID -->

<div class="product-stats">
  <div class="push--one-tenth push0--mobile">
    <div class="product-stat">
      <div class="product-stat__icon icomoon icon-lumens-small"></div>
      <div class="product-stat__number">2000<span>%</span></div>
      <div class="product-stat__title">More Lumens than <br>a Kerosene Lamp</div>
    </div>
    <div class="product-stat">
      <div class="product-stat__icon icomoon icon-charge-small"></div>
      <div class="product-stat__number">10<span>W</span></div>
      <div class="product-stat__title">On-Demand<br>Charging Access</div>
    </div>
    <div class="product-stat">
      <div class="product-stat__icon icomoon icon-multiroom-small"></div>
      <div class="product-stat__number"><span>Multi-Room</span></div>
      <div class="product-stat__title">Lighting</div>
    </div>
    <div class="product-stat">
      <div class="product-stat__icon icomoon icon-recharge-small"></div>
      <div class="product-stat__number"><span>Rechargeable</span></div>
      <div class="product-stat__title">on BioLite Homestove</div>
    </div>
  </div>
</div>
