<!-- MISSION PAGE: HOMESTOVE STATS -->

<div class="product-stats">
  <div class="product-stat">
    <div class="product-stat__icon icomoon icon-carbonMonoxide_CO2"></div>
    <div class="product-stat__number">91<span>%</span></div>
    <div class="product-stat__title">less carbon<br/>monoxide</div>
  </div>
  <div class="product-stat">
    <div class="product-stat__icon icomoon icon-lesssmoke-small"></div>
    <div class="product-stat__number">94<span>%</span></div>
    <div class="product-stat__title">less smoke</div>
  </div>
  <div class="product-stat">
    <div class="product-stat__icon icomoon icon-charge-small"></div>
    <div class="product-stat__number"><span>2W electricity</span></div>
    <div class="product-stat__title">generated</div>
  </div>
  <div class="product-stat">
    <div class="product-stat__icon icomoon icon-dollar-small"></div>
    <div class="product-stat__number"><span>$</span>200</div>
    <div class="product-stat__title">saved annually</div>
  </div>
  <div class="product-stat">
    <div class="product-stat__icon icomoon icon-lessfuel-small"></div>
    <div class="product-stat__number">50<span>%</span></div>
    <div class="product-stat__title">less fuel</div>
  </div>
</div>
