<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Preparedness Special</h2>
 <section id="product-specs" style="" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div id="product-specs-new" class="wrapper wrapper--large wrapper--max_height">
       <h4 class="text-center alt mb0">Preparedness Special - This Month Only</h4>
       <p class="text-center mb10"><strong>Get 10% off</strong> when you buy 4 or more products below. Discount applied in cart.</p>
<div class="related-products mb30">
 {% if product.metafields.recommendations.productHandles %}

   <div id="product-accessories" class="related-products">
   </div>

 {% endif %}
</div> 
       

       

     </div>
   </div>    
 </section>
</div>




