<div class="mobile-wrapper closed">
 <h2 class="mobile-title">3D Slimfit</h2>
 <section id="product-full_features" class="mobile-wrapper-content product-specs section-top product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div class="product-specs__bottom clearfix">
          
                     <div class="grid__item large--one-third medium--one-whole small--one-whole pl30 pr30">
                
                <div class="grid__item large--one-whole">
         <img class="hl750-tech-img" src="https://cdn.shopify.com/s/files/1/0666/9741/files/ProPerformance_illustrations-02_59ad525d-6775-4284-95f6-eda0b3154df9.svg?v=1599575816" alt="HeadLamp 750 3D Slimfit Technology" title="HeadLamp 750 3D Slimfit Technology">
       </div>
       <div class="grid__item large--one-whole">
            <h7 class="primary">Fit As A Factor Of Performance</h7>
            <p class="light gray-warm smaller">When you’re doing big things, your headlamp should light the way, not get in the way. 
              Our proprietary construction method solves for that.
<br><br>
              By <strong>integrating electronics</strong> directly into the band, we create a <strong>flush low-profile</strong> front with no bounce.
<br><br>
      The rear power unit <strong>distributes weight</strong> and keeps pressure off your forehead while <strong>moisture-wicking band</strong> keeps you cool and dry.

</p>
       
         
       </div>
       
       
       </div>
       
                     <div class="grid__item large--one-third medium--one-whole small--one-whole pl30 pr30">
                       
                        <div class="grid__item large--one-whole">
         <img class="hl750-tech-img" src="https://cdn.shopify.com/s/files/1/0666/9741/files/ProPerformance_illustrations-01_160fe501-2b59-4e30-b24a-768544848d0c.svg?v=1600113860" alt="HeadLamp 750 3D Slimfit Technology" title="HeadLamp 750 3D Slimfit Technology">
       </div>
       <div class="grid__item large--one-whole">
            <h7 class="primary">Pro Feature: Constant Mode</h7>
            <p class="light gray-warm smaller">

Most headlamps auto-regulate lumens to conserve battery life, quietly dimming over time as your eye adjusts to darkness. This works out efficiently in a lot of cases, but shouldn’t be the only mode available for dealing with technical terrain or pitch darkness.
<br><br>

 <strong>Constant Mode</strong> puts you in complete control of your lumens, enabling you to set a steady level of brightness that will not dim – unless you tell it to, of course.



</p>
       
         
       </div>
       
      
       </div>
       
              
                     <div class="grid__item large--one-third medium--one-whole small--one-whole pl30 pr30">
                        <div class="grid__item large--one-whole">
         <img class="hl750-tech-img" src="https://cdn.shopify.com/s/files/1/0666/9741/files/ProPerformance_illustrations-03_86be3532-6178-43b3-9b45-d77b4ff5d376.svg?v=1599575816" alt="HeadLamp 750 3D Slimfit Technology" title="HeadLamp 750 3D Slimfit Technology">
       </div>
       <div class="grid__item large--one-whole">
           <h7 class="primary">Pro Feature: Run Forever</h7>
            <p class="light gray-warm smaller">
As a rechargeable headlamp, you can extend Headlamp 750 runtimes indefinitely thanks to pass-thru charging. This means you can use your headlamp while simultaneously powering it up. 
<br><br>

The <strong>included 3ft Run Forever cable</strong> enables you to connect to a external powerbank that you can tuck easily into a vest, pack, or belt. Our cable-management clip makes sure everything stays close to the body for fluid movement.


</p>
       
         
       </div>
  
       </div>
   
   
       


   
       
     </div>
   </div>
 </section>
</div>
