{% comment %}
  --------------------------------
  PRODUCT ALT LAYOUT 01:
  NO: Inside Tech, Parallel Innov
  ADD: Global Impact
  --------------------------------
{% endcomment %}

<!-- TECH SPECS -->
<section id="product-specs" class="product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
  <div class="wrapper">
    {% comment %}
      Don't insert Tech Specs section for Product: eGift
      todo: Add separate template for eGift?
    {% endcomment %}

    {% if product.title != 'BioLite eGift' %}
      <header class="product-specs__header text-center">
        <h3 class="light">Tech Specs</h3>
      </header>
      
      {% comment %}
        Grabbing the Tech Specs portion dynamically by product name
        Unless product is eGift.

        Could also use SKU for easier access
        {{ bold_selected_or_first_available_variant.sku }}

        Assign the tech_specs variable, then include techspecs-{file_name}
      {% endcomment %}

      {% assign tech_specs = product.handle | remove: 'biolite-' | prepend: 'techspecs_' %}
      
      {% include tech_specs %}
    {% endif %}
  </div>
</section>

<!-- GLOBAL IMPACT -->
<section class="interstitial section-xlarge mb40" style="background-image:url('{{ 'bg-interstitial-2.jpg' | asset_url }}')">
  <div class="wrapper table">
    <div class="interstitial__content table-cell text-center">
      <h3 class="mt0">Global impact in every purchase</h3>
      <h6 class="light">With every purchase of a BioLite product, you are helping create lasting change in emerging markets of the developing world. The same technology that provides you with a clean, innovative camping experience is providing better living conditions, saving lives worldwide.  </h6>
    </div>
  </div>
  <div class="interstitial__overlay interstitial__overlay--green"></div>
</section>