<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Videos</h2>
 <section id="product-specs" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div id="product-specs-new" class="wrapper wrapper--large wrapper--max_height">
       

			  <div class="staff-grid-item grid__item large--one-half mt20 text-center">
                  
                  
                  <iframe class="text-center" width="900" height="475" src="https://www.youtube.com/embed/5i-TtoT3JUk?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                      <h6 class="primary alt mt20 ">WATCH: Camp Cookbook: Tacos Al Pastor</h6>

   

				</div>
       
       
         <div class="staff-grid-item grid__item large--one-half mt20 text-center">
                  
                  
                  <iframe class="text-center" width="900" height="475" src="https://www.youtube.com/embed/I3RI8y4cqX4?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                      <h6 class="primary alt mt20 ">WATCH: French Omelette &amp; Camp Coffee</h6>

   

				</div>
       
 
  
  
   
  
     </div>
   </div>    
 </section>
</div>










