<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Recommended Uses</h2>
 <section id="product-specs" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div id="product-specs-new" class="wrapper wrapper--large wrapper--max_height">
    
       
       <div class="large--one-third grid__item text-center pl20 pr20">
      <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/FirePoker_uses-01.svg?13446878043184330609" alt="Switch Between Charcoal &amp; Wood">
         <h4 class="alt primary mb0">Switch Between Charcoal &amp; Wood</h4>
         <p class="light">Hooked edge raises or lower fuel rack seamlessly for cooking or campfire setting</p>
       </div>
       
         <div class="large--one-third grid__item text-center pl20 pr20">
      <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/FirePoker_uses-02.svg?13446878043184330609" alt="Tend Your Fire">
         <h4 class="alt primary mb0">Tend Your Fire</h4>
         <p class="light">Steel poker helps stoke and rearrange fuel easily</p>
       </div>
 
         <div class="large--one-third grid__item text-center pl20 pr20">
      <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/FirePoker_uses-03.svg?13446878043184330609" alt="Clean Up After Your Burn">
         <h4 class="alt primary mb0">Clean Up After Your Burn</h4>
         <p class="light">Collect ash with flat edge and use hooked edge to open trap door for disposal</p>
       </div>
    
       
       
     </div>
   </div>    
 </section>
</div>
