<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Recommended Uses</h2>
 <section id="product-specs" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div id="product-specs-new" class="wrapper wrapper--large wrapper--max_height">
           <div class="large--one-whole text-center pt30">
             <p class="light">The FireMat helps protect sensitive surfaces from FirePit's heat. Best for use on surfaces like:</p>
       </div>

       
       <div class="large--one-fifth medium--one-half small--one-half grid__item text-center pl20 pr20">
      <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/Textures_Wood.png?8891455651761564109" class="firemat-textures" alt="Wood Patio">
         <h4 class="alt gray-medium mb0">Wood Patio</h4>
       </div>
       
        <div class="large--one-fifth medium--one-half small--one-half grid__item text-center pl20 pr20">
      <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/Textures_Gras.png?8891455651761564109" class="firemat-textures" alt="Grass">
         <h4 class="alt gray-medium mb0">Grass</h4>
       </div>
       
        <div class="large--one-fifth medium--one-half small--one-half grid__item text-center pl20 pr20">
      <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/Textures_Brick.png?8891455651761564109" class="firemat-textures" alt="Brick">
         <h4 class="alt gray-medium mb0">Brick</h4>
       </div>
       
        <div class="large--one-fifth medium--one-half small--one-half grid__item text-center pl20 pr20">
      <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/Textures_stone.png?8891455651761564109" class="firemat-textures" alt="Stone">
         <h4 class="alt gray-medium mb0">Stone</h4>
       </div>
       
        <div class="large--one-fifth medium--one-half small--one-half grid__item text-center pl20 pr20">
      <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/Textures_composite.png?8891455651761564109" class="firemat-textures" alt="Vinyl Composite">
         <h4 class="alt gray-medium mb0">Vinyl Composite</h4>
       </div>
       
       
       
      
 
    
       
       
     </div>
   </div>    
 </section>
</div>
