<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Setup Tips</h2>
 <section id="product-specs" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div id="product-specs-new" class="wrapper wrapper--full wrapper--max_height">
       
			
         <div class="staff-grid-item grid__item large--one-half mt20">
    <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Home_Kit_drawing_setupTips.png?6426051272816613273" alt="Home Kit" title="Home Kit" />
		</div>
       
        <div class="staff-grid-item grid__item large--one-half mt20">
    <h4 class="primary alt mt20 mb0">1. SiteLight XL</h4>
           <p class="light">300 lumen overhead pendant illuminates a full room without harsh shadows.</p>
          
           <h4 class="primary alt mt20 mb0">2. Charge 20</h4>
           <p class="light">5200 mAh of backup power that can run your SiteLights or charge 2 phones.</p>
          
           <h4 class="primary alt mt20 mb0">3. PowerLight</h4>
           <p class="light">Use torch mode to navigate dark stairs and halls plus USB out offers backup charging.</p>
          
           <h4 class="primary alt mt20 mb0">4. SiteLight</h4>
           <p class="light">Great for directional task lighting to read or make meals.</p>
          
          
		</div>
       

       
      
       
              
       
               
       
       
  
       
      
     </div>
   </div>    
 </section>
</div>







