<div class="mobile-wrapper closed product-compare-bundle--{{ product.handle | remove: 'biolite-'  }}">
 <h2 class="mobile-title">Setup And Use</h2>
 <section id="product-compare-bundle" class="product-compare-bundle product-compare-bundle--{{ product.handle | remove: 'biolite-'  }} mobile-wrapper-content">
	 <div class="product-compare-bundle wrapper wrapper--full_height wrapper--large">
<table class="compare-table-bundle table-with-footer">
  <thead>
    <tr style="background-color:#fff;">
       <th class="border-bottom pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="https://cdn.shopify.com/s/files/1/0666/9741/files/coffeePress_setup-1.png?248711729601730083" width="200" alt="CoffeePress Step 1" title="Step 1" />
<div class="bundle-number mb10 ">
        <span class="inside-count">1</span>
      </div>         
         <span class="mt20"><strong>Boil Water</strong></span>
      </th>
     
   <th class="border-bottom pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="https://cdn.shopify.com/s/files/1/0666/9741/files/coffeePress_setup-2.png?9439620641993022049" width="200" alt="CoffeePress Step 2" title="Step 2" />
<div class="bundle-number mb10 ">
        <span class="inside-count">2</span>
      </div>         
         <span class="mt20"><strong>Add Grounds</strong></span>
      </th>
        <th class="border-bottom pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="https://cdn.shopify.com/s/files/1/0666/9741/files/coffeePress_setup-3.png?9439620641993022049" width="200" alt="CoffeePress Step 3" title="Step 3" />
<div class="bundle-number mb10 ">
        <span class="inside-count">3</span>
      </div>         
         <span class="mt20"><strong>Attach Lid</strong></span>
      </th>
        <th class="border-bottom pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="https://cdn.shopify.com/s/files/1/0666/9741/files/coffeePress_setup-4.png?9439620641993022049" width="200" alt="CoffeePress Step 4" title="Step 4" />
<div class="bundle-number mb10 ">
        <span class="inside-count">4</span>
      </div>         
         <span class="mt20"><strong>Pack Up</strong></span>
      </th>

     
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Use a KettlePot and a BioLite Stove to heat</td>
      <td>Brew for 4 minutes then press plunger down</td>
      <td>Secure fit using the KettlePot's silicone seal</td>
      <td>Handle unscrews and nests with CampStove</td>

 
  </tbody>

</table>


<!-- Mobile Tables -->
       
       <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/files/coffeePress_setup-1.png?248711729601730083" alt="CoffeePress Step 1" title="CoffeePress Step 1" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">1</span>
      </div> 
         <span class=""><strong>Boil Water</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Use a KettlePot and a BioLite Stove to heat</td>
    </tr>
 
  </tbody>

</table>


      <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/files/coffeePress_setup-2.png?9439620641993022049" alt="CoffeePress Step 2" title="CoffeePress Step 2" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">2</span>
      </div> 
         <span class=""><strong>Add Grounds</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Brew for 4 minutes then press plunger down</td>
    </tr>
 
  </tbody>

</table>
      <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/files/coffeePress_setup-3.png?9439620641993022049" alt="CoffeePress Step 3" title="CoffeePress Step 3" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">3</span>
      </div> 
         <span class=""><strong>Attach Lid</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Secure fit using the KettlePot's silicone seal</td>
    </tr>
 
  </tbody>

</table>
      <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/files/coffeePress_setup-4.png?9439620641993022049" alt="CoffeePress Step 4" title="CoffeePress Step 4" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">1</span>
      </div> 
         <span class=""><strong>Pack Up</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Handle unscrews and nests with CampStove</td>
    </tr>
 
  </tbody>

</table>

       
       



	 </div>
 </section>
</div>
