<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Setup Tips</h2>
 <section id="product-specs" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div id="product-specs-new" class="wrapper wrapper--full wrapper--max_height">
       
			
         <div class="staff-grid-item grid__item large--one-quarter mt20">
    <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="https://cdn.shopify.com/s/files/1/0666/9741/files/campKitchen_BLXL.png?13797526716715016283" alt="Camp Kitchen" title="Camp Kitchen" />
    <h6 class="primary alt mt20 text-center">Camp Kitchen</h6>
           <p class="light text-center">BaseLantern angled on table for chopping, SiteLight Minis strung over table for prep and washing.</p>
		</div>
       
          <div class="staff-grid-item grid__item large--one-quarter mt20">
    <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="https://cdn.shopify.com/s/files/1/0666/9741/files/leadtheWay_BLXL.png?981720091661481535" alt="Lead The Way" title="Lead The Way" />
    <h6 class="primary alt mt20 text-center">Lead The Way</h6>
           <p class="light text-center">SiteLight Mini plugged into SolarPanel 5+ (adapter included!) and strung along the path to your trusty outhouse.</p>
		</div>
       
        <div class="staff-grid-item grid__item large--one-quarter mt20">
    <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="https://cdn.shopify.com/s/files/1/0666/9741/files/campVibes_BLXL.png?981720091661481535" alt="Camp Vibes" title="Camp Vibes" />
    <h6 class="primary alt mt20 text-center">Camp Vibes</h6>
           <p class="light text-center">BaseLantern hanging from tree in party mode, SiteLight Mini strung across seating area for ambient light.</p>
		</div>
       
         <div class="staff-grid-item grid__item large--one-quarter mt20">
    <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="https://cdn.shopify.com/s/files/1/0666/9741/files/frontPorch_BLXL.png?981720091661481535" alt="Front Porch" title="Front Porch" />
    <h6 class="primary alt mt20 text-center">Front Porch</h6>
           <p class="light text-center">BaseLantern inside your tent in red night vision mode, SiteLight Mini hanging out front of entrance.</p>
		</div>
       
      
       
              
       
               
       
       
  
       
      
     </div>
   </div>    
 </section>
</div>







