  <div class="wrapper related-products">
   <hr>

   <section class="section">

     <header class="related-products__header">
       <h6>Customers typically purchase these products together</h6>
     </header>

     <div id="product-accessories" class="related-products">
       {% comment %} Related products will be appended here {% endcomment %}
     </div>

   </section>
  </div>
