<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Specs</h2>
 <section id="product-specs" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div id="product-specs-new" class="wrapper wrapper--large wrapper--max_height">
    
       <div class="large--one-third grid__item">
         
         <div class="row-tight">          
    <div class="spec-title">Weight</div>
           <div class="spec-desc light"><span>2 oz per packet</span></div>
         </div>
         
         <div class="row-tight">
           <div class="spec-title">Origin</div>
           <div class="spec-desc light"><span>Cajamarca, Peru</span></div>
         </div> 
         
          <div class="row-tight">
           <div class="spec-title">Certified</div>
           <div class="spec-desc light"><span>Fair Trade Organic</span></div>
         </div> 
  
 
       </div>
       
       <div class="large--one-third grid__item">
  <div class="row-tight">          
    <div class="spec-title">Servings</div>
           <div class="spec-desc light"><span>6 cups of coffee per packet</span></div>
         </div>
  <div class="row-tight">           
    <div class="spec-title">Drying</div>
           <div class="spec-desc light"><span>Sun dried</span></div>
         </div>
         
          <div class="row-tight">           
    <div class="spec-title">Process</div>
           <div class="spec-desc light"><span>Washed</span></div>
         </div>
         
             </div>
 
        <div class="large--one-third grid__item">
       <div class="row-tight">
    <div class="spec-title">Roast</div>
           <div class="spec-desc light">Medium</div>
         </div>
          
        
  <div class="row-tight">
    <div class="spec-title">Flavor Notes</div>
           <div class="spec-desc light">Caramel, butter crust &amp; chocolate</div>
         </div>
          
            <div class="row-tight">
    <div class="spec-title">Recommended for Use With</div>
           <div class="spec-desc light">BioLite CoffeePress &amp; KettlePot</div>
         </div>
     

         
   </div>
     
     </div>
   </div>    
 </section>
</div>
