<div class="mobile-wrapper closed">
 <h2 class="mobile-title">System Setup</h2>
 <section id="product-full_features" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div class="product-specs__bottom clearfix">
       <div class="grid__item large--one-half">
         <img src="https://cdn.shopify.com/s/files/1/2396/7729/files/SolarHome620_features_v.svg?6394073567627044183" alt="SolarHome 620 Setup" title="SolarHome 620 Setup">
       </div>
       <div class="grid__item large--one-half mt50">
         <ol>
           <li>Solar Panel<br><span class="light">6 watt panel provides power to your system</span></li><br>
            <li>Wall Mounted Control Box<br><span class="light">Monitor your power, charge devices and play music </span></li><br>
           <li>Hanging Light x2<br><span class="light">Use wall mounted switch to adjust to 3 levels of brightness</span></li><br>
           <li>Motion Sensor Light<br><span class="light">Security mode saves power and can alert you of passersby</span></li><br>

         </ol>
         
       
         
       </div>
       
     </div>
   </div>
 </section>
</div>
