<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Specs</h2>
 <section id="product-specs" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div id="product-specs-new" class="wrapper wrapper--large wrapper--max_height">
     
      
       
       <div class="large--one-third grid__item">
            <div class="row-medium">
              <div class="spec-title">Paper</div>
              <div class="spec-desc light"><span>Neenah Classic Crest 100# Cover </span></div>
            </div>
          
       </div>
       <div class="large--one-third grid__item">
          <div class="row-medium">
              <div class="spec-title">Printing</div>
              <div class="spec-desc light"><span>2 color split ink - purple to blue</span></div>
            </div>
       </div>
    
        <div class="large--one-third grid__item">
          <div class="row-medium">
              <div class="spec-title">Size</div>
              <div class="spec-desc light"><span>18 x 24 in <br>(45.72 x 60.96 cm)<br>Shipped rolled in shipping tube</span></div>
            </div>
       </div>
    
     </div>
   </div>
 </section>
</div>

