<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Specs</h2>
 <section id="product-specs" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div id="product-specs-new" class="wrapper wrapper--large wrapper--max_height">
    
       
       <div class="large--one-third grid__item">
         <div class="row-tight">
           <div class="spec-title">Battery</div>
           <div class="spec-desc light"><span>10,000 mAh, (37 Wh) Li-Ion </span></div>
 	
        </div> 
          <div class="row-tight">
           <div class="spec-title">Weight</div>
           <div class="spec-desc light"><span>9.4 oz (265 g)</span></div>
 	
        </div> 
         
           <div class="row-tight">
           <div class="spec-title">Inputs</div>
           <div class="spec-desc light"><span>USB C-PD, up to 18W</span></div>
 	
        </div> 
       </div>
       
       <div class="large--one-third grid__item">
         
         <div class="row-tight">
           <div class="spec-title">Outputs</div>
           <div class="spec-desc light"><span>1x USB C-PD <br>2x USB A</span></div>
         </div>
         
         <div class="row">
           <div class="spec-title">USB Power Output</div>
           <div class="spec-desc light"><span><strong>USB C-PD:</strong> 5V/3.0A, 9V/2A, 12V/1.5A<br>
             <strong>USB A:</strong> 5V/3.0A, 9V/2A, 12V/1.5A</span></div>
         </div>
         
             </div>
 
        <div class="large--one-third grid__item">
         <div class="row-tight">
            <div class="spec-title">Total Output Power</div>
           <div class="spec-desc light">18W total</div>
                  </div>
           
           <div class="row-tight">
            <div class="spec-title">Dimensions</div>
           <div class="spec-desc light">5.9 x 3.2 x 0.7 in <br>(150 x 81 x 17 mm)</div>
                  </div>
          <div class="row">
            <div class="spec-title">In The Box</div>
           <div class="spec-desc light">Charge 40 PD, USB A to USB C charge cable, instructions</div>
                  </div>
          
          
       
       
       </div>
    
       
       
     </div>
   </div>    
 </section>
</div>
