<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Specs</h2>
 <section id="product-specs" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div id="product-specs-new" class="wrapper wrapper--large wrapper--max_height">
       <div class="large--one-third grid__item">
     
          <div class="row-medium">
              <div class="spec-title">Inputs</div>
              <div class="spec-desc light"><span>Solar panel port x1 <br>(PV Module)</span></div>
            </div>
            
         
            <div class="row-full">
              <div class="spec-title">Dimensions</div>
              <div class="spec-desc light"><span>Control Box: 7.9 x 6.1 x 2.9 in (200 x 154 x 68 mm )<br><br>Hanging Lights (each): 5.9 x 5.5 x 3.2 in (150 x 140 x 82 mm )<br><br>Solar Panel: 11.4 x 7.5 x 0.6 in (290 x 190 x 16 mm )      </span></div>
            </div>
         
        
            
           
          
       </div>
       <div class="large--one-third grid__item">
           <div class="row-medium">
              <div class="spec-title">Lumens</div>
              <div class="spec-desc light"><span>100 Lm per light <br>(400 Lm total)</span></div>
            </div>
         
       
           
          
            <div class="row-full">
              <div class="spec-title">Weight</div>
              <div class="spec-desc light"><span>Control Box: 550g (1.21 lbs)<br>Hanging Lights (each): 300g (0.66 lbs)<br>Solar Panel: 720g (1.59 lbs) </span></div>
            </div>
         
           <div class="row-full">
              <div class="spec-title">Outputs</div>
              <div class="spec-desc light"><span>USB Charge Out x2 <br>(USB Devices)<br>DIN Port x1 <br>(Expansion Battery)<br>Light Port x2<br>Light Junctions x3 <br>(Light Extensions)</span></div>
            </div>
           
      
        
           
       
       </div>
       <div class="large--one-third grid__item">
           <div class="row-medium">
              <div class="spec-title">Battery</div>
              <div class="spec-desc light"><span>3300 mAh @ 6.5V <br>(20 Wh), LiFEPO4</span></div>
            </div>
         
         
             <div class="row-full">
              <div class="spec-title">Cable Length</div>
              <div class="spec-desc light"><span>Lights: 18 ft (5.5m) <br>All hanging lights are chainable<br>Solar Panel: 21 ft (6.5m) </span></div>
            </div>
         
           
       
            <div class="row-full">
              <div class="spec-title">In The Box</div>
              <div class="spec-desc light"><span>Control Box<br>2 Hanging Lights<br>1 Security Light<br>1 Solar Panel<br>USB Adapter<br>Wall Screws</span></div>
            </div>
            
        
       </div>
     </div>
   </div>
 </section>
</div>

