<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Specs</h2>
 <section id="product-specs" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div id="product-specs-new" class="wrapper wrapper--large wrapper--max_height">
       <div class="large--one-third grid__item">
         <div class="row-tight">
           <div class="spec-title">Weight</div>
           <div class="spec-desc light"><span>1.60 lbs (725 g)</span></div>
         </div>

         <div class="row">
           <div class="spec-title">Dimensions</div>
           <div class="spec-desc light"><span>Unpacked: 8.25 x 4.50" (21.01 x 11.43 cm)<br><br> Packed: 7.75 x 4.50"(19.70 x 11.43cm)</span></div>
         </div>
<div class="row">
           <div class="spec-title">Battery Charge Time</div>
           <div class="spec-desc light"><span>1.7 hours via wall outlet</span></div>
         </div>
       
        
       </div>
       <div class="large--one-third grid__item">
         
          <div class="row-tight">
           <div class="spec-title">Boil Time</div>
           <div class="spec-desc light"><span>4.5 minutes for 1L</span></div>
         </div>
         
           <div class="row">
           <div class="spec-title">Burn Time</div>
           <div class="spec-desc light"><span><strong>Turbo</strong> | 10 hours<br><strong>Boil</strong> | 20 hours<br><strong>Simmer</strong> | 25 hours<br><strong>Campfire</strong> | 30 hours<br></span></div>
         </div>
         <div class="row">
           <div class="spec-title">Fuel</div>
           <div class="spec-desc light"><span>Renewable biomass (Sticks, twigs, pellets)</span></div>
         </div>
                
          
       </div>
       <div class="large--one-third grid__item">
         
        <div class="row-tight">
           <div class="spec-title">Compatible Accessories</div>
           <div class="spec-desc light"><span>BioLite KettlePot<br>BioLite Portable Grill</span></div>
         </div>

         <div class="row">
           <div class="spec-title">In The Box</div>
           <div class="spec-desc light"><span>CookStove<br> Stuff Sack<br> Firestarter<br> Recharging Micro-USB Cord<br> Instructions</span></div>
         </div>
         
         <div class="row">
           <div class="spec-title">Warranty</div>
           <div class="spec-desc light"><span>BioLite offers a 1-year limited warranty on all products</span></div>
         </div>
         
           <div class="row-tight">
             <div class="spec-title"></div>
             <div class="spec-desc"><span><a href="https://www.p65warnings.ca.gov/" style="text-decoration:underline;" target="_blank"><strong>Prop 65 Warning</strong></a></span></div>
         </div>
       </div>
     </div>
   </div>
 </section>
</div>
