<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Specs</h2>
 <section id="product-specs" class="pb80 mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div id="product-specs-new" class="wrapper wrapper--large wrapper--max_height">
    
       <div class="large--one-third grid__item">
  <div class="row-tight">
    <div class="spec-title">Materials</div>
    <div class="spec-desc light">18/8 Medical Grade Stainless Steel
</div>
  
         
   </div>
     
     </div>
       
       <div class="large--one-third grid__item">
         <div class="row-tight">
           <div class="spec-title">Dimensions</div>
           <div class="spec-desc light">9.75" Tall, 2.75" Diameter, 1.5" Opening</div>
         </div> 
  
       </div>
       
       <div class="large--one-third grid__item">
  <div class="row-tight">           
    <div class="spec-title">Features</div>
           <div class="spec-desc light">
             <p>Vacuum Insulated</p> 
<p>Keeps liquids cold for 24+ hrs & hot for up to 12 hrs</p>
<p>Perfect seal lid technology</p>
<p>Cup holder friendly </p>
         </div>
           
             </div>
 
        
   </div>  
   </div>
 </section>
</div>
