{% comment %}
  This is Tech Specs portion for the product: BioLite KettleCharge.
  You can replace the .product-specs__img with an image you upload onto Shopify.

  Begin editing below this comment
{% endcomment %}

<div id="product-specs__expander" class="product-specs__expander">
  <div class="product-specs__body">

    <div class="product-specs__top clearfix border-bottom">
      <div class="grid__item large--one-half border-right">
        <table class="product-specs__table">
          <tbody>
            <tr>
              <td class="spec-title">USB Power Output</td>
              <td class="spec-desc"><span>10 W (5V, 2A)</td>
            </tr>
            
            <tr>
              <td class="spec-title">Charge Time</td>
              <td class="spec-desc"><span>15 min charge = 5 hours talk, 5 hours video, 20 hours of audio (output varies by strength of heat source)</span></td>
            </tr>
            
            <tr>
              <td class="spec-title">Height</td>
              <td class="spec-desc"><span>Handle folded: 2.91" (7.4 cm); Module up: 7.32" (18.6 cm)</span></td>
            </tr>
            <tr>
              <td class="spec-title">Weight</td>
              <td class="spec-desc"><span>2 lbs (32 oz)/ 907 g</span></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="grid__item large--one-half pl30 pl0--mobile">
        <table class="product-specs__table">
          <tbody>
            <tr>
              <td class="spec-title">Compatible Devices</td>
              <td class="spec-desc"><span>Powers most USB-chargeable devices including tablets</span></td>
            </tr>
            
            <tr>
              <td class="spec-title">Battery</td>
              <td class="spec-desc"><span>Safe lithium iron phosphate (LiFeP04), 1250mAh</span></td>
            </tr>
            <tr>
              <td class="spec-title">Max Fill</td>
              <td class="spec-desc"><span>750 ml</span></td>
            </tr>
            <tr>
              <td class="spec-title">Materials</td>
              <td class="spec-desc"><span>Stainless steel, aluminum, high-temperature plastic</span></td>
            </tr>
            <tr>
              <td class="spec-title">In The Box</td>
              <td class="spec-desc"><span>BioLite KettleCharge, Heat-Resistant Flexible USB Extender, Instructions</span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div><!-- .product-specs__top -->



    <div class="product-specs__bottom clearfix">
      <div class="grid__item large--one-half">
        <table class="product-specs__table">
          <tbody>
            <tr class="border-bottom-none">
              <td class="spec-title">Additional Features</td>
            </tr>
            <tr>
              <td class="spec-desc">
                <ol>
                  <li><strong>10W On-Demand Power</strong> - Charge with the strength of a wall outlet</li><br>
              <li><strong>Smart LED Dashboard</strong> - Instant feedback on heat and charging for optimal use. An audible alert sounds if the unit is getting too hot, helping to prevent accidental overheating and damage.</li><br>
              <li><strong>Battery Boost</strong> - Stores power for a quick charge with no heat or water</li><br>
              <li><strong>Folding Power Handle</strong> - Packs flat and angles up for perfect pouring</li><br>
              <li><strong>750ml Stainless Steel Kettle</strong> - Boil water for cooking, drinking, cleaning</li><br>
              <li><strong>Multi-Stove Integration</strong> - Use on gas ranges, backpacking stoves,and BioLite CampStove</li><br>
              <li><strong>Flexible USB Extender</strong> - Charge gear while keeping it safe from flames</li><br>
                </ol>
              </td>
            </tr>
          </tbody>
        </table>
      </div>  
      <div class="grid__item large--one-half">
        <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/KettleCharge_features.svg?44170" alt="KettleCharge features" title="KettleCharge features">
      </div>
    </div>

  </div>

    <div class="product-specs__expander-btn btn-circle-tab btn-circle-tab--bottom" data-control-toggle-icons="fa-plus, fa-minus" data-control-expander="#product-specs__expander">
      <i class="fa fa-plus"></i>
    </div>
    <footer class="product-specs-curtain__footer text-center">
      <small class="caps gray-light alt"><span data-control-text-target="">Complete Specifications</span></small>
    </footer>
</div>
