<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Specs</h2>
 <section id="product-specs" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div id="product-specs-new" class="wrapper wrapper--large wrapper--max_height">
           
       <div class="large--one-third grid__item">
<div class="row">
              <div class="spec-title">USB Power Output</div>
              <div class="spec-desc">10 W (5V, 2A)</div>
            </div>
            
            <div class="row">
              <div class="spec-title">Charge Time</div>
              <div class="spec-desc"><span>15 min charge = 5 hours talk, 5 hours video, 20 hours of audio (output varies by sdivength of heat source)</span></div>
            </div>
            
            <div class="row">
              <div class="spec-title">Height</div>
              <div class="spec-desc"><span>Handle folded: 2.91" (7.4 cm); Module up: 7.32" (18.6 cm)</span></div>
            </div>

       </div>
       
       <div class="large--one-third grid__item">
            <div class="row">
              <div class="spec-title">Weight</div>
              <div class="spec-desc"><span>2 lbs (32 oz)/ 907 g</span></div>
            </div>
         <div class="row">
              <div class="spec-title">Compatible Devices</div>
              <div class="spec-desc"><span>Powers most USB-chargeable devices including tablets</span></div>
            </div>
            
            <div class="row">
              <div class="spec-title">Battery</div>
              <div class="spec-desc"><span>Safe lithium iron phosphate (LiFeP04), 1250mAh</span></div>
            </div>
         </div>

 
        <div class="large--one-third grid__item">
         <div class="border-bottom-none">
                         <div class="row">
              <div class="spec-title">Max Fill</div>
              <div class="spec-desc"><span>750 ml</span></div>
            </div>
            <div class="row">
              <div class="spec-title">Materials</div>
              <div class="spec-desc"><span>Stainless steel, aluminum, high-temperature plastic</span></div>
            </div>
            <div class="row">
              <div class="spec-title">In The Box</div>
              <div class="spec-desc"><span>BioLite KettleCharge, Heat-Resistant Flexible USB Extender, Insdivuctions</span></div>
            </div>
             </div>
            </div>  
     </div>
   </div>
 </section>
</div>

