<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Specs</h2>
 <section id="product-specs" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div id="product-specs-new" class="wrapper wrapper--large wrapper--max_height">
    
       <div class="large--one-third grid__item">
         <div class="row-tight">
           <div class="spec-title">Weight</div>
           <div class="spec-desc light"><span>1.6 lbs</span></div>
         </div> 
  <div class="row-tight">           <div class="spec-title">Materials</div>
           <div class="spec-desc light"><span>210D ripstop nylon fabric | 7000 aluminum</span></div>
         </div>
       </div>
       
       <div class="large--one-third grid__item">
  <div class="row-tight">           <div class="spec-title">Dimensions - Unpacked</div>
           <div class="spec-desc light"><span> 20" x 20" x 15"</span></div>
         </div>
          
             </div>
 
        <div class="large--one-third grid__item">
  <div class="row-tight">
    <div class="spec-title">Dimensions - Packed</div>
           <div class="spec-desc light">11.5" X 4.3" X 4.3"</div>
         </div>
 
         
   </div>
     
     </div>
   </div>    
 </section>
</div>
