<div class="mobile-wrapper closed product-compare-bundle--{{ product.handle | remove: 'biolite-'  }}">
 <h2 class="mobile-title">Included in Bundle</h2>
 <section id="product-compare-bundle" class="product-compare-bundle product-compare-bundle--{{ product.handle | remove: 'biolite-'  }} mobile-wrapper-content">
	 <div class="product-compare-bundle wrapper wrapper--full_height wrapper--large">
<table class="compare-table-bundle table-with-footer">
  <thead>
    <tr style="background-color:#fff;">
       <th class="border-bottom pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="//cdn.shopify.com/s/files/1/0666/9741/products/SolarPanel5__1_large.jpeg?v=1455122408" width="150" alt="SolarPanel5" title="SolarPanel5" />
<div class="bundle-number mb10 ">
        <span class="inside-count">1</span>
      </div>         
         <span class="mt20"><strong><a href="http://www.bioliteenergy.com/products/solarpanel-5-plus" style="color:#262729" target="_blank" title="SolarPanel 5+">SolarPanel 5+</a></strong></span>
      </th>
      <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="//cdn.shopify.com/s/files/1/0666/9741/products/NanoGrid_2_a34badab-aa85-4620-b5cf-5179ec7922fe_large.jpeg?v=1455122510" width="150" alt="NanoGrid 2" title="NanoGrid 2" />
<div class="bundle-number mb10 ">
        <span class="inside-count">2</span>
      </div>  
        <span class="mt20"><strong><a href="http://www.bioliteenergy.com/products/biolite-powerlight" style="color:#262729" target="_blank" title="t="NanoGrid 2"">PowerLight</a><br></strong></span>
      </th>
   
      <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="//cdn.shopify.com/s/files/1/0666/9741/products/SiteLight_1_large.jpeg?v=1455122503"  width="150" alt="SiteLight 1" title="SiteLight 1" />
<div class="bundle-number mb10 ">
        <span class="inside-count">3</span>
      </div>  
        <span class="mt20"><strong><a href="http://www.bioliteenergy.com/products/biolite-sitelight" style="color:#262729" target="_blank" title="SiteLight">SiteLight</a></strong></span>
      </th>   
   

     
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>5 watts of real time power + 2200 mAh battery</td>
      <td>250 Lm torch; 200 Lm lantern</td>
 
      <td>Compact, overhead string lighting</td>
     


      
    </tr>
    <tr>
      <td>IPX4 Rated</td>
      <td>4400 mAh battery for charging up to 4 phones</td>
    
      <td>150 lumens per light</td>
     

      
    </tr>
    <tr>
	  <td>Dimensions: 10.12 x 8.19 in (257 x 208 mm) </td>
      <td>Burn time (hours): 72 LO/ 6.5 HI</td>
	 
      <td>10 ft (3 m) of cord per light</td>
     



    </tr>
    <tr>
	  <td>Weight: 13.25 oz (390 g)</td>
      <td>Weight: 7.05 oz (210 g)</td>
	 
      <td>Weight: 1.83 oz (52 g) per light</td>
     



    </tr>
  
 
  </tbody>

</table>


<!-- Mobile Tables -->
       
       <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="//cdn.shopify.com/s/files/1/0666/9741/products/SolarPanel5__1_large.jpeg?v=1455122408" alt="SolarPanel 5" title="SolarPanel 5" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">1</span>
      </div> 
         <span class=""><strong>SolarPanel 5+</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>5 watts of real time power + 2200 mAh battery</td>
    </tr>
    <tr>
      <td>IPX4 Rated</td>
    </tr>
    <tr>
	  <td>Dimensions: 10.12 x 8.19 in (257 x 208 mm) </td>
    </tr>
    <tr>
	  <td>Weight: 13.25 oz (390 g)</td>
    </tr>
    
    
   
  </tbody>

</table>

       
       
<table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="//cdn.shopify.com/s/files/1/0666/9741/products/NanoGrid_2_a34badab-aa85-4620-b5cf-5179ec7922fe_large.jpeg?v=1455122510" alt="NanoGrid 2" title="NanoGrid 2" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">2</span>
      </div> 
         <span class=""><strong>PowerLight</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>250 Lm torch; 200 Lm lantern</td>
    </tr>
    <tr>
      <td>4400 mAh battery for charging up to 4 phones</td>
    </tr>
    <tr>
      <td>Burn time (hours): 72 LO/ 6.5 HI</td>
    </tr>
    <tr>
      <td>Weight: 7.05 oz (210 g)</td>
    </tr>
    
    
   
  </tbody>

</table>
       


       
       
       
                     <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="//cdn.shopify.com/s/files/1/0666/9741/products/SiteLight_1_large.jpeg?v=1455122503" alt="SiteLight 1" title="SiteLight 1" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">3</span>
      </div> 
         <span class=""><strong>SiteLight</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Compact, overhead string lighting</td>
    </tr>
   
    <tr>
      <td>150 lumens per light</td>
    </tr>
    <tr>
      <td>10 ft (3 m) of cord per light</td>
    </tr>
   
    <tr>
      <td>Weight: 1.83 oz (52 g) per light</td>
    </tr>
    
    
    
   
  </tbody>

</table>




       
       



	 </div>
 </section>
</div>
