<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Specs</h2>
 <section id="product-specs" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div id="product-specs-new" class="wrapper wrapper--large wrapper--max_height">
    
       
       <div class="large--one-third grid__item">
            <div class="row-tight">
              <div class="spec-title">Dimensions</div>
              <div class="spec-desc light"><span>10.20 x 5.20" (25.91 x 13.21 cm)</span></div>
            </div>
            
            <div class="row-tight">
              <div class="spec-title">Weight</div>
              <div class="spec-desc light"><span>465 grams</span></div>
            </div>
                   </div>  

       
       <div class="large--one-third grid__item">
                     <div class="row-tight">
              <div class="spec-title">Serves</div>
              <div class="spec-desc light"><span>2-4 people</span></div>
            </div>

         <div class="row-tight">
              <div class="spec-title">Max Fill</div>
              <div class="spec-desc light"><span>1.5 liters</span></div>
            </div>
            </div>

 
        <div class="large--one-third grid__item">
            <div class="row-tight">
              <div class="spec-title">In The Box</div>
              <div class="spec-desc light"><span>Stainless steel pot, kettle lid, stuff sack</span></div>
            </div>
           </div> 
       
       
       
     </div>
   </div>    
 </section>
</div>
