<div class="mobile-wrapper closed product-compare-bundle--{{ product.handle | remove: 'biolite-'  }}">
 <h2 class="mobile-title">Included in Bundle</h2>
 <section id="product-compare-bundle" class="product-compare-bundle product-compare-bundle--{{ product.handle | remove: 'biolite-'  }} mobile-wrapper-content">
	 <div class="product-compare-bundle wrapper wrapper--full_height wrapper--large">
<table class="compare-table-bundle table-with-footer">
  <thead>
    <tr style="background-color:#fff;">
       <th class="border-bottom pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="//cdn.shopify.com/s/files/1/0666/9741/products/CookStove_1_withSticks_large.jpeg?v=1455122383" width="250" alt="CookStove 1 with Sticks" title="CookStove 1 with Sticks" />
         <div class="bundle-number mb10 ">
        <span class="inside-count">1</span>
      </div> 
         <span class="mt20"><strong>BioLite<br> CookStove</strong></span>
      </th>
      
       <th class="border-bottom pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb30" src="//cdn.shopify.com/s/files/1/0666/9741/products/KettlePot_1_04d87afc-4000-4283-92a4-77aaad5f9eac_large.jpeg?v=1455122565" width="250" alt="KettlePot 1" title="KettlePot 1" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">2</span>
      </div> 
        <span class="mt20"><strong>BioLite<br> KettlePot</strong></span>
      </th>
      <th class="border-bottom pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="https://cdn.shopify.com/s/files/1/0666/9741/files/mealkit_1.jpg?4607949817055143619" width="250" alt="mealkit 1" title="mealkit 1" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">3</span>
      </div> 
        <span class="mt20"><strong>Light My Fire<br>MealKit 2.0</strong></span>
      </th>
     
    
     
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Up to 30 hours of clean wood cooking on a single charge</td>
      <td>Serves 2-4 people</td>
      <td>8 piece set includes everything you need to eat a meal outdoors</td>
      
    </tr>
    <tr>
      <td>Weighs 1.60 lbs</td>
      <td>Max fill of 1.5 liters</td>
      <td>Includes: lid/plate, plate/bowl, SnapBox original, SnapBox oval, Cup, Strainer/Cutting Board, Spork, Harness</td>
      
    </tr>
    <tr>
      <td>Boils 1 L of water in 4.5 minutes</td>
      <td>Weighs 465 grams</td>
	  <td>Weighs 384 grams</td>

    </tr>
    <tr>
      <td>Packed dimensions: 7.75 x 4.5" </td>
      <td>Packed dimensions: 10.2 x 5.2"</td>
	  <td>Plates and bowls made from polypropolene, spork made of tritan, harness made of TPE.</td>
    </tr>
  
 
  </tbody>

</table>

<!-- Mobile Tables -->
       
       <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="//cdn.shopify.com/s/files/1/0666/9741/products/CookStove_1_withSticks_large.jpeg?v=1455122383" alt="CookStove 1 with Sticks" title="CookStove 1 with Sticks" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">1</span>
      </div> 
         <span class=""><strong>BioLite<br>CookStove</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Up to 30 hours of clean wood cooking on a single charge</td>
    </tr>
    <tr>
      <td>Weighs 1.60 lbs</td>
    </tr>
    <tr>
      <td>Boils 1 L of water in 4.5 minutes</td>
    </tr>
    <tr>
      <td>Packed dimensions: 7.75 x 4.5" </td>
    </tr>
    
    
   
  </tbody>

</table>

       
       
<table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="//cdn.shopify.com/s/files/1/0666/9741/products/KettlePot_1_04d87afc-4000-4283-92a4-77aaad5f9eac_large.jpeg?v=1455122565" alt="KettlePot 1" title="KettlePot 1" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">2</span>
      </div> 
         <span class=""><strong>BioLite<br>KettlePot</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    
    <tr>
      <td>Serves 2-4 people</td>
    </tr>
    <tr>
      <td>Max fill of 1.5 liters</td>
    </tr>
    <tr>
      <td>Weighs 465 grams</td>
    </tr>
    <tr>
      <td>Packed dimensions: 10.2 x 5.2"</td>
    </tr>
   
    
    
    
   
  </tbody>

</table>
       

       
       <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/files/mealkit_1.jpg?4607949817055143619" alt="mealkit 1" title="mealkit 1" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">3</span>
      </div> 
         <span class=""><strong>Light My Fire<br>MealKit 2.0</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>8 piece set includes everything you need to eat a meal outdoors</td>
    </tr>
    <tr>
      <td>Includes: lid/plate, plate/bowl, SnapBox original, SnapBox oval, Cup, Strainer/Cutting Board, Spork, Harness</td>
    </tr>
    <tr>
	  <td>Weighs 384 grams</td>
    </tr>
    <tr>
	  <td>Plates and bowls made from polypropolene, spork made of tritan, harness made of TPE.</td>
    </tr>
    
    
    
   
  </tbody>

</table>
       


	 </div>
 </section>
</div>
