<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Ingredients</h2>
 <section id="product-specs" class="pb80 mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div id="product-specs-new" class="wrapper wrapper--large wrapper--max_height">

              <div class="large--one-third grid__item">
    <div class="row">            <div class="spec-title">Indian Vegetable Korma</div>
    <div class="spec-desc light"><span style="font-size:11px;line-height: normal;">Carrot, Parsnip, Green Bean, Chick Peas*, Onion, Sweet Peas, Tomato Flakes*, Canned Tomato Paste (Vine Ripened Tomatoes), Unsulfured & Unsweetened Shredded Coconut, Yogurt Powder Blend (Cultured Whey, Nonfat Milk Solids & Yogurt Cultures), Grapeseed Oil, Ginger, Walnuts, Garlic, Kosher Salt, Poppy Seed, Coriander, Fennel, Cumin, Cardamom, Turmeric, Cinnamon, Clove, Dried Chilies   *Dehydrated</span></div>
         </div>  
     
             </div>
       
       
       <div class="large--one-third grid__item">
         <div class="row-medium">
           <div class="spec-title">Herbed Mushroom Risotto</div>
           <div class="spec-desc light"><span style="font-size:11px;line-height: normal;">Arborio Rice, Cremini Mushrooms, Onion, White Wine, Extra Virgin Olive oil, Nutritional Yeast, Garlic, Sweet Rice Flour, Walnuts, Basil, Kosher Salt, Thyme, Black Pepper  Contains:  Walnuts.  Sulfites.</span></div>
         </div> 
          
<div class="row">           <div class="spec-title">Pad Thai</div>
    <div class="spec-desc light mb40"><span style="font-size:11px;line-height: normal; padding-bottom:40px;">Rice Noodles (Rice Flour, Water), Carrots, Whole Pasteurized Eggs, Onion, Bean Sprouts, Brown Sugar, Textured Vegetable Protein (Defatted Soy Flour), Dry Roasted Peanuts, Grapeseed Oil, Fish Salt (Anchovy, Sea Salt), Rice Flour, Garlic, Tamarind Powder (Tamarind), Dried Ground Shrimp (Shrimp, Salt), Dried Scallions, Dried Cilantro, Lime Juice Powder, Turmeric, Dried Thai Chiles
</span></div>
         </div>
       </div>
       

 
        <div class="large--one-third grid__item">
  <div class="row">
    <div class="spec-title">Thai Curry</div>
           <div class="spec-desc light mb40"><span style="font-size:11px;line-height: normal;">Green Beans, Jasmine Rice, Onion, Broccoli, Cauliflower, Peas, Coconut Milk Powder (Freshly Pressed Coconut Milk, Maltodextrin (from corn), Sodium Caseinate), Fish Sauce (Water, Anchovy Extract, Salt, Sugar), Garlic, Grape Seed Oil, Lemongrass, Dark Brown Sugar, Tamarind Concentrate (Tamarind, Water), Ginger, Turmeric Powder, Coriander, Cumin, Cinnamon, Dried Thai Chilies, Cardomom, Yellow Mustard Seeds, Black Peppercorns, Fennel Seeds, Cloves, Kaffir Lime Leaf Powder, Bay Leaf  Contains:  Anchovy, Coconut, Milk</span></div>
             </div>
 
         
   </div>
     
     </div>
   </div>    
 </section>
</div>
