<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Specs</h2>
 <section id="product-specs" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div id="product-specs-new" class="wrapper wrapper--large wrapper--max_height">


       <div class="large--one-third grid__item">

             <div class="row-medium">
              <div class="spec-title">Weight</div>
              <div class="spec-desc light"><span><strong>KettlePot:</strong> 16 oz (465 g)<br><strong>Grill: </strong>30 oz (850 g)</span></div>
            </div>


            <div class="row-medium">
              <div class="spec-title">Boil Time</div>
              <div class="spec-desc light"><span>4.5 minutes to boil 1 liter of water. Boiling times vary by strength of fire</span></div>
            </div>

</div>

       <div class="large--one-third grid__item">

 			<div class="row">
              <div class="spec-title">Dimensions</div>
              <div class="spec-desc light"><span><strong>KettlePot: </strong> 10.20 x 5.20" (25.91 x 13.21 cm)<br><strong>Grill: </strong>9.5 x 12 x 3.5 in (24.13 x 30.48 x 26.67 cm)</span></div>
            </div>



      </div>


       <div class="large--one-third grid__item">
           <div class="row">
              <div class="spec-title">In The Box</div>
              <div class="spec-desc light"><span>KettlePot with stuff sack<br>Portable Grill with cover</span></div>
            </div>

      </div>


   </div>
     </div>
 </section>
</div>
