{% comment %}
  This is Tech Specs portion for the product: FlexLight.
  You can replace the .product-specs__img with an image you upload onto Shopify.

  Begin editing below this comment
{% endcomment %}


<div id="product-specs__expander" class="product-specs__expander">
  <div class="product-specs__body">

    <div class="product-specs__top clearfix border-bottom">
      <div class="grid__item large--one-half border-right">
        <table class="product-specs__table">
          <tbody>
            <tr>
              <td class="spec-title">Length</td>
              <td class="spec-desc"><span>16" (40.64 cm)</span></td>
            </tr>
            
            <tr>
              <td class="spec-title">Weight</td>
              <td class="spec-desc"><span>1.80 oz (51.03 g)</span></td>
            </tr>
            
           
          </tbody>
        </table>
      </div>

      <div class="grid__item large--one-half pl30 pl0--mobile">
        <table class="product-specs__table">
          <tbody>
            <tr>
              <td class="spec-title">Lumens</td>
              <td class="spec-desc"><span>100 Lm</span></td>
            </tr>
            
            <tr>
              <td class="spec-title">USB</td>
              <td class="spec-desc"><span>1.25 watts (5V, 0.25A)</span></td>
            </tr>
           
          </tbody>
        </table>
      </div>
    </div><!-- .product-specs__top -->



    
  </div>

    
    
</div>

