<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Specs</h2>
 <section id="product-specs" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div id="product-specs-new" class="wrapper wrapper--large wrapper--max_height">
    
       <div class="large--one-third grid__item">
         <div class="row-medium">
           <div class="spec-title">Materials</div>
           <div class="spec-desc light"><span>Light diffusing ripstop nylon with elastic loops</span></div>
 	
        </div> 
       </div>
       
       <div class="large--one-third grid__item">
         <div class="row-medium">
           <div class="spec-title">Weight</div>
           <div class="spec-desc light"><span>2 g</span></div>
         </div>
         
             </div>
 
        <div class="large--one-third grid__item">
         <div class="row-medium">
            <div class="spec-title">Compatibility</div>
           <div class="spec-desc light">Works with most headlamps including the BioLite HeadLamp</div>
           
       </div>

         
   </div>
       
             <div class="large grid__item">
       <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/LightDiffusingStuffsack_assembly_r1-01.svg?3732421259055545752" alt="Light Diffusing Stuffsack Assembly">
         
   </div>
     
     </div>
   </div>    
 </section>
</div>
