<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Specs</h2>
 <section id="product-specs" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div id="product-specs-new" class="wrapper wrapper--large wrapper--max_height">
    
      <div class="large--one-third grid__item">
         <div class="row">
           <div class="spec-title">Materials</div>
           <div class="spec-desc light"><span>Heat resistant stainless steel<br>
Food grade nylon<br>
Food grade LDPE<br>
             </span></div>
         </div>
             </div>
       
         <div class="large--one-third grid__item">
         <div class="row">
           <div class="spec-title">In The Box</div>
           <div class="spec-desc light"><span>Santoku Knife<br>
             Slotted Spatula<br>
             Tongs<br>
             Roll-Up Storage Mat
             
             </span></div>
         </div>
         
             </div>
     
       
       <div class="large--one-third grid__item">
         <div class="row-tight">
           <div class="spec-title">Weight</div>
           <div class="spec-desc light"><span>1.6 lbs) <br>(0.75 kg)</span></div>
 	
        </div> 
       </div>
       
 
 

     </div>
   </div>    
 </section>
</div>
