<div class="mobile-wrapper closed product-compare-bundle--{{ product.handle | remove: 'biolite-'  }}">
 <h2 class="mobile-title">Included in Bundle</h2>
 <section id="product-compare-bundle" class="product-compare-bundle product-compare-bundle--{{ product.handle | remove: 'biolite-'  }} mobile-wrapper-content">
   <div class="product-compare-bundle wrapper wrapper--full_height wrapper--large">
<table class="compare-table-bundle table-with-footer">
  <thead>
    <tr style="background-color:#fff;">

      <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="//cdn.shopify.com/s/files/1/0666/9741/products/BaseCamp_full_large.jpeg?v=1455122541" width="150" alt="BaseCamp" title="BaseCamp" />
<div class="bundle-number mb10 ">
        <span class="inside-count">1</span>
      </div>  
        <span class="mt20"><strong><a href="http://www.bioliteenergy.com/products/biolite-basecamp" style="color:#262729" target="_blank" title="BaseCamp">BaseCamp</a><br></strong></span>
      </th>
      <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="//cdn.shopify.com/s/files/1/0666/9741/products/PizzaDome_inside_the_box_large.jpg?v=1471985132" width="150" alt="PizzaDome inside the box"  title="PizzaDome inside the box"/>
<div class="bundle-number mb10 ">
        <span class="inside-count">2</span>
      </div>  
        <span class="mt20"><strong><a href="http://www.bioliteenergy.com/products/pizza-dome" style="color:#262729" target="_blank" title="PizzaDome">PizzaDome</a><br></strong></span>
      </th>
    
      <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="//cdn.shopify.com/s/files/1/0666/9741/products/CarryPack_large.jpeg?v=1455122475"  width="150" alt="CarryPack"  title="CarryPack"/>
<div class="bundle-number mb10 ">
        <span class="inside-count">3</span>
      </div>  
        <span class="mt20"><strong><a href="http://www.bioliteenergy.com/products/biolite-carry-pack" style="color:#262729" target="_blank" title="Carry Pack">Carry Pack</a></strong></span>
      </th>   
     
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>13.25” cooking diameter (33.66 cm)</td>
      <td>Cook pizzas and other favorites with this 3-piece system</td>
      <td>Transport the BaseCamp and PizzaDome</td>

      
    </tr>
    <tr>

      <td>5W power output + 2200 mAh on-board battery</td>
      <td>Cooks a pizza in 5-10 minutes</td>
      <td>Water-resistant</td>


      
    </tr>
    <tr>
      <td>Fueled by sticks, firewood or wood chuncks</td>
    <td>Lid with thermometor ceramic pizza stone included  </td>
      <td>Durable canvas body</td>




    </tr>
    <tr>
      <td>Weight: 17.92 lbs (8.16 kg)</td>
    <td>Weight: 4.4 lbs (2.0 kg)</td>
      <td> 1.25 lbs (567 g)</td>



    </tr>
  
 
  </tbody>

</table>


<!-- Mobile Tables -->
       
       
       
<table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="//cdn.shopify.com/s/files/1/0666/9741/products/BaseCamp_full_large.jpeg?v=1455122541" alt="BaseCamp" title="BaseCamp" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">1</span>
      </div> 
         <span class=""><strong>BaseCamp</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>13.25” cooking diameter (33.66 cm)</td>
    </tr>
    <tr>
      <td>5W power output + 2200 mAh on-board battery</td>
    </tr>
    <tr>
      <td>Fueled by sticks, firewood or wood chuncks</td>
    </tr>
    <tr>
      <td>Weight: 17.92 lbs (8.16 kg)</td>
    </tr>
    
    
   
  </tbody>

</table>
       

       
       <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="//cdn.shopify.com/s/files/1/0666/9741/products/PizzaDome_inside_the_box_large.jpg?v=1471985132" alt="PizzaDome inside the box" title="PizzaDome inside the box" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">2</span>
      </div> 
         <span class=""><strong>PizzaDome</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Cook pizzas and other favorites with this 3-piece system</td>
    </tr>
    <tr>
      <td>Cooks a pizza in 5-10 minutes</td>
    </tr>
    <tr>
    <td>Lid with thermometor ceramic pizza stone included  </td>
    </tr>
    <tr>
    <td>Weight: 4.4 lbs (2.0 kg)</td>
    </tr>
    
    
   
  </tbody>

</table>
       

       
       
<table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="//cdn.shopify.com/s/files/1/0666/9741/products/CarryPack_large.jpeg?v=1455122475" alt="PizzaDome inside the box" title="PizzaDome inside the box" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">3</span>
      </div> 
         <span class=""><strong>Carry Pack</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Transport the BaseCamp and PizzaDome</td>
    </tr>
   
    <tr>
      <td>Water-resistant</td>
    </tr>
    <tr>
      <td>Durable canvas body</td>
    </tr>
   
    <tr>
      <td> 1.25 lbs (567 g)</td>
    </tr>
    
    
    
   
  </tbody>

</table>

       
       



   </div>
 </section>
</div>
