<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Specs</h2>
 <section id="product-specs" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">

     
     <div id="product-specs-new" class="wrapper--max_height">
       
            
     
<div class="ansi-table">
  <div class="ansi-table-title">Peformance (ANSI FL1)</div>
<table class="compare-table ansi-table">
  <thead>
    <tr>
      <th></th>
      <th class="text-left">Low</th>
      <th class="text-left">Medium</th>
      <th class="text-left">High</th>
      <th class="text-left">Burst</th>


    </tr>
  </thead>
  <tbody>
     <tr>
      <td>Brightness</td>
      <td class="text-left">5 Lm</td>
      <td class="text-left">250 Lm</td>
       <td class="text-left">500 Lm</td>
       <td class="text-left">750 Lm</td>
    </tr>
    
      <tr>
      <td>Constant Runtime</td>
      <td class="text-left">150 Hours</td>
      <td class="text-left">4 Hours</td>
       <td class="text-left">2 Hours</td>
       <td class="text-left">30 Seconds Per Burst</td>
    </tr>
    
       <tr>
      <td>Regulated Runtime</td>
         <td class="text-left">150 Hours</td>
      <td class="text-left">8.5 Hours</td>
       <td class="text-left">7 Hours</td>
       <td class="text-left">30 Seconds Per Burst</td>
    </tr>
    
        <tr>
      <td>Reserve</td>
<td colspan="4" class="text-center">+8 Hours at 5 Lm</td>
    </tr>
    
         <tr>
      <td>Beam Distance</td>
    
           <td colspan="4"><div class="beam-left">15m</div><div class="beam-right">130m</div></td>

    </tr>
    
 

 
  </tbody>
           </table>
     </div>
       
       
  <table class="compare-table-mobile">
<thead>
    <tr>
      <th></th>
      <th class="text-left ansi-table-mobile-title">LOW</th>
      <th class="text-left ansi-table-mobile-title">MED</th>
      <th class="text-left ansi-table-mobile-title">HI</th>
      <th class="text-left ansi-table-mobile-title">BURST</th>


    </tr>
  </thead>
   <tbody>
     <tr>
      <td class="ansi-table-mobile-title">Brightness</td>
      <td class="text-left ansi-table-text-tight">5 Lm</td>
      <td class="text-left ansi-table-text-tight">250 Lm</td>
       <td class="text-left ansi-table-text-tight">500 Lm</td>
       <td class="text-left ansi-table-text-tight">750 Lm</td>
    </tr>
    
      <tr>
      <td class="ansi-table-mobile-title">Constant Runtime</td>
      <td class="text-left ansi-table-text-tight">150 H</td>
      <td class="text-left ansi-table-text-tight">4 H</td>
       <td class="text-left ansi-table-text-tight">2 H</td>
       <td class="text-left ansi-table-text-tight">30 Sec.</td>
    </tr>
    
       <tr>
      <td class="ansi-table-mobile-title">Regulated Runtime</td>
         <td class="text-left ansi-table-text-tight">150 H</td>
      <td class="text-left ansi-table-text-tight">8.5 H</td>
       <td class="text-left ansi-table-text-tight">7 H</td>
       <td class="text-left ansi-table-text-tight">30 Sec.</td>
    </tr>
    
        <tr>
      <td class="ansi-table-mobile-title">Reserve</td>
<td colspan="4" class="text-center ansi-table-text-tight">+8 H at 5 Lm</td>
    </tr>
    
         <tr>
      <td class="ansi-table-mobile-title">Beam Distance</td>
    
           <td colspan="4"><div class="beam-left ansi-table-text-tight">15m</div><div class="beam-right ansi-table-text-tight">130m</div></td>

    </tr>
    
 

 
  </tbody>
</table>
     
       
       
       
              <div class="large--one-whole grid__item">
       <div class="row-full">
           <div class="spec-title-long">Lighting Modes
           <div style="display:block;">
             <img class="HL-mode-icons mode-dim" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Mode_icons__dim.svg?v=1599150290" alt="Dimming">
        <span class="table-caption">Indicates mode is dimmable</span>
                                   </div>
         
         </div>
           <div class="spec-desc-long">
             
             <div class="large--one-third medium--one-half small--one-whole grid__item text-center">
        
                   <div class="HL-mode-wrapper">
           <img class="HL-mode-icons mode-dim" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Mode_icons__dim.svg?v=1599150290" alt="Dimming">
           <img class="HL-mode-icons" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Mode_icons__redFlood.svg?v=1599150290" alt="Red Flood"> 
           <span class="HL-mode-label">Red Flood</span>
           </div>
                   <div class="HL-mode-wrapper">
           <img class="HL-mode-icons mode-dim" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Mode_icons__dim.svg?v=1599150290" alt="Dimming">
           <img class="HL-mode-icons" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Mode_icons__whiteSpot.svg?v=1599150290" alt="White Spot"> 
           <span class="HL-mode-label">White Spot</span>
           </div>
               
                      <div class="HL-mode-wrapper">
           <img class="HL-mode-icons mode-dim" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Mode_icons__dim.svg?v=1599150290" alt="Dimming">
           <img class="HL-mode-icons" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Mode_icons__whiteStrobe.svg?v=1599150290" alt="White Flood"> 
           <span class="HL-mode-label">White Flood</span>
           </div>
          
               
             </div>
          
               <div class="large--one-third medium--one-half small--one-whole grid__item text-center">
          
                     
               
                 <div class="HL-mode-wrapper">
           <img class="HL-mode-icons mode-dim" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Mode_icons__dim.svg?v=1599150290" alt="Dimming">
           <img class="HL-mode-icons" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Mode_icons__combo.svg?v=1599150290" alt="White Combo"> 
           <span class="HL-mode-label">Spot + Flood</span>
           </div>
           
           
             <div class="HL-mode-wrapper">
           <img class="HL-mode-icons mode-dim" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Mode_icons__dim.svg?v=1599150290" alt="Dimming">
           <img class="HL-mode-icons" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Mode_icons__whiteStrobe.svg?v=1599150290" alt="White Strobe"> 
           <span class="HL-mode-label">White Strobe</span>
           </div>
                 
                  <div class="HL-mode-wrapper">
           <img class="HL-mode-icons mode-dim" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Mode_icons_spacer.svg?v=1599155307" alt="">
           <img class="HL-mode-icons" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Mode_icons__burst.svg?v=1599150290" alt="Burst"> 
           <span class="HL-mode-label">30 Second Burst</span>
           </div>
               
             </div>
               <div class="large--one-third medium--one-half small--one-whole grid__item text-center">
              <div class="HL-mode-wrapper">
           <img class="HL-mode-icons mode-dim" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Mode_icons__dim.svg?v=1599150290" alt="Dimming">
           <img class="HL-mode-icons" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Mode_icons__redRearStrobe.svg?v=1599150290" alt="Red Rear Strobe"> 
           <span class="HL-mode-label">Rear Red Strobe</span>
           </div>
                 
                 <div class="HL-mode-wrapper">
           <img class="HL-mode-icons mode-dim" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Mode_icons__dim.svg?v=1599150290" alt="Dimming">
           <img class="HL-mode-icons" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Mode_icons__redRear.svg?v=1599150290" alt="Red Rear Flood"> 
           <span class="HL-mode-label">Rear Red Flood</span>
           </div>
                 
          
           
               
             </div>
             </div>
         
         </div>
         
          
       </div>
     
       <div class="large--one-third grid__item">
       
      
         <div class="row-tight">
           <div class="spec-title">Battery</div>
           <div class="spec-desc light"><span>3000 mAh Li-ion USB Rechargeable</span></div>
         </div>
             <div class="row-tight">
           <div class="spec-title">Inputs</div>
           <div class="spec-desc light"><span>Micro-USB Charge In</span></div>
         </div>
 		
       
          
           <div class="row-tight">
           <div class="spec-title">In The Box</div>
           <div class="spec-desc light"><span>3ft (1m) Run Forever Micro USB Cable<br></span></div>
         </div>
          
         
          
     
        
       </div>
       
              <div class="large--one-third grid__item">
         
                  <div class="row-tight">
           <div class="spec-title">Water Resistance</div>
           <div class="spec-desc light"><span>IPX4</span></div>
         </div>
                 <div class="row-tight">
           <div class="spec-title">Color Rendering</div>
           <div class="spec-desc light"><span>ChromaReal broad spectrum LED (CRI 90)</span></div>
         </div>
                    <div class="row-tight">
           <div class="spec-title">Warranty</div>
           <div class="spec-desc light"><span>1-year backed by <a href="#holyFit" style="color:#35a8a6;" class="bold">HolyFit Guarantee</a></span></div>
         </div>
       </div>
       
                <div class="large--one-third grid__item">
                     
         <div class="row-tight">
           <div class="spec-title">Weight</div>
           <div class="spec-desc light"><span>5.3 oz (150 g)</span></div>
         </div>
                   <div class="row-tight">
           <div class="spec-title">Lock Mode</div>
           <div class="spec-desc light"><span>Yes, digital lock</span></div>
         </div>
                  
            <div class="row-tight">
           <div class="spec-title">Operating Temperature</div>
           <div class="spec-desc light"><span>-4째F to 122째F (-20째C to 50째C)</span></div>
         </div>
       </div>
       
       


     </div>
   </div>
 </section>
</div>
