<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Specs</h2>
 <section id="product-specs" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div id="product-specs-new" class="wrapper wrapper--large wrapper--max_height">
    
       <div class="large--one-third grid__item">
         <div class="row">
           <div class="spec-title">Materials</div>
           <div class="spec-desc light"><span>Durable waterproof nylon </span></div>
         </div>
 		
        
       </div>
       
       <div class="large--one-third grid__item">
         <div class="row">
           <div class="spec-title">Weight</div>
           <div class="spec-desc light"><span>400 g</span></div>
    
       </div>
       </div>
        
        <div class="large--one-third grid__item">
            
          <div class="row">
            <div class="spec-title">Charge Time</div>
           <div class="spec-desc light"><span>Fully charges FirePit in 3-5 days of sun</span>
           </div>
           </div> 

         
   </div>
     
     </div>
   </div>    
 </section>
</div>
