<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Specs</h2>
 <section id="product-specs" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div id="product-specs-new" class="wrapper wrapper--large wrapper--max_height">


       <div class="large--one-third grid__item">

          <div class="row-tight">
              <div class="spec-title">Fuel</div>
              <div class="spec-desc light"><span>Renewable Biomass <br/> (twigs, pinecone, wood pellets, etc.)</span></div>
            </div>


            <div class="row">
              <div class="spec-title">Weight</div>
              <div class="spec-desc light"><span><strong>CookStove:</strong> 1.6 lbs (725 g)<br><strong>KettlePot:</strong> 16 oz (465 g)<br><strong>Grill: </strong>30 oz (850 g)</span></div>
            </div>
         
         <div class="row">
           <div class="spec-title">Burn Time</div>
           <div class="spec-desc light"><span><strong>Turbo</strong> | 8 hours<br><strong>Boil</strong> | 16 hours<br><strong>Simmer</strong> | 25 hours<br><strong>Campfire</strong> | 30 hours<br></span></div>
         </div>

       

        

</div>

       <div class="large--one-third grid__item">

           <div class="row-tight">
              <div class="spec-title">Fire Quality</div>
              <div class="spec-desc light"><span>1.6 oz (46 grams) of wood to boil 1 liter of water</span></div>
            </div>

           
 			<div class="row">
              <div class="spec-title">Dimensions</div>
              <div class="spec-desc light"><span><strong>CookStove: </strong>Height 8.25 x 4.5" (209.6 x 113 mm)<br><strong>KettlePot: </strong> 10.20 x 5.20" (25.91 x 13.21 cm)<br><strong>Grill: </strong>9.5 x 12 x 3.5 in (24.13 x 30.48 x 26.67 cm)</span></div>
            </div>


      </div>


       <div class="large--one-third grid__item">
          
            <div class="row-tight">
              <div class="spec-title">Boil Time</div>
              <div class="spec-desc light"><span>4.5 minutes to boil 1 liter of water. Boiling times vary by strength of fire</span></div>
            </div>
           <div class="row">
              <div class="spec-title">In The Box</div>
              <div class="spec-desc light"><span>CookStove <br>Stuff Sack <br/>Instructions <br/>USB Cord <br/>Firelighter<br>KettlePot with stuff sack<br>Portable Grill with cover</span></div>
            </div>
         
          <div class="row">
           <div class="spec-title">Warranty</div>
           <div class="spec-desc light"><span>BioLite offers a 1-year limited warranty on all products</span></div>
         </div>

      </div>


   </div>
     </div>
 </section>
</div>
