<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Specs</h2>
 <section id="product-specs" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div id="product-specs-new" class="wrapper wrapper--large wrapper--max_height">
       <div class="large--one-third grid__item">
         <div class="row-tight">
           <div class="spec-title">Lumens</div>
           <div class="spec-desc light"><span>100 Lm</span></div>
         </div>
 		
         <div class="row-tight">
           <div class="spec-title">Water Resistance</div>
           <div class="spec-desc light"><span>IPX4</span></div>
         </div>
          <div class="row-tight">
           <div class="spec-title">Charge Up Time USB</div>
           <div class="spec-desc light"><span>2 Hours</span></div>
         </div>
           <div class="row-tight">
           <div class="spec-title">Inputs</div>
           <div class="spec-desc light"><span>Micro USB Charge In</span></div>
         </div>
         

        
       </div>
       <div class="large--one-third grid__item">
         <div class="row-tight">
           <div class="spec-title">Burn Time (hours)</div>
           <div class="spec-desc light"><span>50 LO/3 HI + 4 Hours In Reserve Mode</span></div>
         </div>
          <div class="row-tight">
           <div class="spec-title">Battery</div>
           <div class="spec-desc light"><span>2.8 Wh (750 mAh) li-ion</span></div>
         </div>
         <div class="row-tight">
           <div class="spec-title">Charge Up Time Solar</div>
           <div class="spec-desc light"><span>7 Hours</span></div>
         </div>
         
         <div class="row-tight">
           <div class="spec-title">Lighting Modes</div>
           <div class="spec-desc light"><span>White, Full Color, Party Mode</span></div>
         </div>
       

         
          
       </div>
       <div class="large--one-third grid__item">
         <div class="row-tight">
           <div class="spec-title">Weight</div>
           <div class="spec-desc light"><span>3.4 oz (95 g)</span></div>
         </div>
          <div class="row-tight">
           <div class="spec-title">Dimmable</div>
           <div class="spec-desc light"><span>Yes in White mode</span></div>
         </div>
         <div class="row-tight">
           <div class="spec-title">Dimensions</div>
           <div class="spec-desc light"><span>3.35 x 3.39 x 0.91 in<br> (85 x 86 x 23 mm)</span></div>
         </div>
       

         <div class="row-tight">
           <div class="spec-title">In The Box</div>
           <div class="spec-desc light"><span>SunLight<br> Instructions</span></div>
         </div>
         
      
       </div>
     </div>
   </div>
 </section>
</div>
