{% comment %}
  This is Tech Specs portion for the product: BioLite SiteLight.
  You can replace the .product-specs__img with an image you upload onto Shopify.

  Begin editing below this comment
{% endcomment %}
<div id="product-specs__expander" class="product-specs__expander">
  <div class="product-specs__body">

    <div class="product-specs__top clearfix border-bottom">
      <div class="grid__item large--one-half border-right">
        <table class="product-specs__table">
          <tbody>
            <tr>
              <td class="spec-title">Lumens</td>
              <td class="spec-desc"><span>150 Lm per light</span></td>
            </tr>
            
            
      
            <tr>
              <td class="spec-title">Outputs</td>
              <td class="spec-desc"><span>2.5 mm connector</span></td>
            </tr>
            
          
               <tr>
              <td class="spec-title">Burn Time</td>
              <td class="spec-desc"><img src="https://cdn.shopify.com/s/files/1/0666/9741/files/NanoGrid_burnTimes_final.svg?13166565332115529284" alt="NanoGrid burn times" title="NanoGrid burn times"></td>
            </tr>

           
          </tbody>
        </table>
      </div>

      <div class="grid__item large--one-half pl30 pl0--mobile">
        <table class="product-specs__table">
          <tbody>
            <tr>
              <td class="spec-title">Cord Length</td>
              <td class="spec-desc"><span><strong>SiteLight</strong> - 10 ft per light</span></td>
            </tr>
            <tr>
              <td class="spec-title">Dimensions</td>
              <td class="spec-desc"><span>2.55 x 1.06 x 2.55 in (6.48 x 2.69 x 6.48 cm)</span></td>
            </tr>
            <tr>
              <td class="spec-title">Weight</td>
              <td class="spec-desc"><span>1.83 oz (52 g) per light</span></td>
            </tr>
  <tr>
              <td class="spec-title">Light Range</td>
              <td class="spec-desc"><img src="https://cdn.shopify.com/s/files/1/0666/9741/files/SiteLight_Light_Range_v3.svg?16243794568716463870" alt="SiteLight light range" title="SiteLight light range"></td>
            </tr>
            
            <tr>
              <td class="spec-title">In the Box</td>
              <td class="spec-desc"><span>BioLite SiteLight, Instructions</span></td>
            </tr>
            

          </tbody>
        </table>
      </div>
    </div><!-- .product-specs__top -->



    <div class="product-specs__bottom clearfix">
      <div class="grid__item large--one-half">
        <table class="product-specs__table">
          <tbody>
            <tr class="border-bottom-none">
              <td class="spec-title">Additional Features</td>
            </tr>
            <tr>
              <td class="spec-desc">
                <ol>
              <li><strong>300 Total Lumens Lumen</strong> - Create a sense of space and placev</li><br>
              <li><strong>SiteLight Hub</strong> - Connect SiteLight Daisy Chains for full NanoGrid lighting system</li><br>
              <li><strong>10 Foot Reach</strong> - 10 Foot cord per SiteLight. Fully contained with easy wrapping management system</li><br>
              <li><strong>Directable & Dimmable</strong> - Angle lights as needed and dim to desired levels via PowerLight hub</li><br>
              <li><strong>Chaining System</strong> - Connect up to 4 SiteLights for 40ft of overhead off-grid lighting</li><br>
              <li><strong>Compact Magentic Storage</strong> - Units click together for protective orb storage</li>

                </ol>
              </td>
            </tr>
          </tbody>
        </table>
      </div>  
      <div class="grid__item large--one-half">
        <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/SiteLight_features-01.svg?60434" alt="SiteLight features" title="SiteLight features">
      </div>
    </div>

  </div>

    <div class="product-specs__expander-btn btn-circle-tab btn-circle-tab--bottom" data-control-toggle-icons="fa-plus, fa-minus" data-control-expander="#product-specs__expander">
      <i class="fa fa-plus"></i>
    </div>
    <footer class="product-specs-curtain__footer text-center">
      <small class="caps gray-light alt"><span data-control-text-target="">Complete Specifications</span></small>
    </footer>
</div>
