<div class="mobile-wrapper closed product-compare-bundle--{{ product.handle | remove: 'biolite-'  }}">
 <h2 class="mobile-title">Included in Bundle</h2>
 <section id="product-compare-bundle" class="product-compare-bundle product-compare-bundle--{{ product.handle | remove: 'biolite-'  }} mobile-wrapper-content">
	 <div class="product-compare-bundle wrapper wrapper--full_height wrapper--large">
<table class="compare-table-bundle table-with-footer">
  <thead>
    <tr style="background-color:#fff;">
    
      <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="//cdn.shopify.com/s/files/1/0666/9741/products/SolarPanel5__1_large.jpeg?v=1455122408" width="150" alt="SolarPanel5" title="SolarPanel5" />
<div class="bundle-number mb10 ">
        <span class="inside-count">1</span>
      </div>  
        <span class="mt20"><strong>BioLite<br> SolarPanel 5+</strong></span>
      </th>
    <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="//cdn.shopify.com/s/files/1/0666/9741/products/outdoortech_1_large.jpg?v=1467475861" width="150" alt="outdoortech 1" title="outdoortech 1"/>
<div class="bundle-number mb10 ">
        <span class="inside-count">2</span>
      </div>  
        <span class="mt20"><strong>Outdoor Tech <br>Turtle Shell 2.0</strong></span>
      </th>
     
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>5 watts per hour power output at peak sun</td>
      <td>Water-resistant Bluetooth speaker</td>
      



      
    </tr>
    <tr>
      <td>2200 mAh internal battery can power one phone on a single charge</td>
      <td>16 hour play time; 700 hour standby time</td>
      


      
    </tr>
    <tr>
      <td>IPX4 rated</td>
	  <td>0.65 lbs</td>
	  




    </tr>
    <tr>
      <td>Micro USB charge in; USB charge out</td>
      <td>Includes USB charging cable, 3.5mm to 3.5mm cable, carry pouch</td>
      



    </tr>
  
 
  </tbody>

</table>


<!-- Mobile Tables -->
       
       <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="//cdn.shopify.com/s/files/1/0666/9741/products/SolarPanel5__1_large.jpeg?v=1455122408" alt="SolarPanel5" title="SolarPanel5" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">1</span>
      </div> 
         <span class=""><strong>BioLite<br>SolarPanel 5+</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
         <td>5 watts per hour power output at peak sun</td>
    </tr>
    <tr>
      <td>2200 mAh internal battery can power one phone on a single charge</td>
    </tr>
    <tr>
      <td>IPX4 rated</td>
    </tr>
    <tr>
      <td>Micro USB charge in; USB charge out</td>
    </tr>
    
       
    
    
   
  </tbody>

</table>

       
       
<table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="//cdn.shopify.com/s/files/1/0666/9741/products/outdoortech_1_large.jpg?v=1467475861" alt="outdoortech 1" title="outdoortech 1" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">2</span>
      </div> 
         <span class=""><strong>BioLite<br>SolarPanel 5+</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Water-resistant Bluetooth speaker</td>
    </tr>
    <tr>
      <td>16 hour play time; 700 hour standby time</td>
    </tr>
    <tr>
	  <td>0.65 lbs</td>
    </tr>
    <tr>
      <td>Includes USB charging cable, 3.5mm to 3.5mm cable, carry pouch</td>
    </tr>
    
    
   
  </tbody>

</table>
       


    



	 </div>
 </section>
</div>
