<div class="mobile-wrapper closed product-compare-bundle--{{ product.handle | remove: 'biolite-'  }}">
 <h2 class="mobile-title">Included in Bundle</h2>
 <section id="product-compare-bundle" class="product-compare-bundle product-compare-bundle--{{ product.handle | remove: 'biolite-'  }} mobile-wrapper-content">
	 <div class="product-compare-bundle wrapper wrapper--full_height wrapper--large">
<table class="compare-table-bundle table-with-footer">
  <thead>
    <tr style="background-color:#fff;">

      <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="//cdn.shopify.com/s/files/1/0666/9741/products/PortableGrill_1_large.jpg?v=1488341300" width="150" alt="Grill 4" title="Grill 4" />
<div class="bundle-number mb10 ">
        <span class="inside-count">4</span>
      </div>  
        <span class="mt20"><strong><a href="http://www.bioliteenergy.com/products/biolite-portable-grill" style="color:#262729" target="_blank" title="Portable Grill">Portable Grill</a></strong></span>
      </th>
       <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="//cdn.shopify.com/s/files/1/0666/9741/products/KettlePot_2_large.jpeg?v=1455122565"  width="150" alt="KettlePot 2" title="KettlePot 2" />
<div class="bundle-number mb10 ">
        <span class="inside-count">5</span>
      </div>  
         <span class="mt20"><strong><a href="http://www.bioliteenergy.com/products/biolite-kettlepot" style="color:#262729" target="_blank" title="KettlePot">KettlePot</a></strong></span>
      </th>
  
     
    </tr>
  </thead>
  <tbody>
    <tr>
   
      <td>Cook your favorite meals over wood</td>
      <td>A true grab-and-go system - ours like a kettle and cooks like a pot </td>

    </tr>
    <tr>
  
      <td>Cooking area: 55 sq inches</td>
      <td>Doubles as a carry case for CampStove</td>

    </tr>
    <tr>
      
	  <td>Folded Size: 9.5 x 12 x 3.5 in (24.13 x 30.48 x 8.89 cm)</td>
      <td>Max fill: 1.5 liters</td>

    </tr>
    <tr>
    
      <td>Weight: 1.88 lbs (850 g)</td>
      <td>Weight: 1.03 lbs (465 g)</td>



    </tr>
  
 
  </tbody>

</table>


<!-- Mobile Tables -->
  



       
       
              <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="//cdn.shopify.com/s/files/1/0666/9741/products/PortableGrill_1_large.jpg?v=1488341300" alt="Grill 4" title="Grill 4" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">4</span>
      </div> 
         <span class=""><strong>Portable Grill</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Cook your favorite meals over wood</td>
    </tr>
    <tr>
      <td>Cooking area: 55 sq inches</td>
    </tr>
    <tr>
	  <td>Folded Size: 9.5 x 12 x 3.5 in (24.13 x 30.48 x 8.89 cm)</td>
    </tr>
    <tr>
      <td>Weight: 1.88 lbs (850 g)</td>
    </tr>
    
    
   
  </tbody>

</table>

       
       
       
              
              <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="//cdn.shopify.com/s/files/1/0666/9741/products/KettlePot_2_large.jpeg?v=1455122565" alt="KettlePot 2" title="KettlePot 2" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">5</span>
      </div> 
         <span class=""><strong>KettlePot</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>A true grab-and-go system - ours like a kettle and cooks like a pot </td>
    </tr>
    <tr>
      <td>Doubles as a carry case for CampStove</td>
    </tr>
    <tr>
      <td>Max fill: 1.5 liters</td>
    </tr>
    <tr>
      <td>Weight: 1.03 lbs (465 g)</td>
    </tr>
    
    
   
  </tbody>

</table>
       
       

       
       



	 </div>
 </section>
</div>
