<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Specs</h2>
 <section id="product-specs" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div id="product-specs-new" class="wrapper wrapper--large wrapper--max_height">
    
       
       <div class="large--one-third grid__item">
         <div class="row-tight">
           <div class="spec-title">Battery</div>
           <div class="spec-desc light"><span>10400 mAh, 3.6 V lithium-ion</span></div>
 	
        </div> 
          <div class="row-tight">
           <div class="spec-title">Weight</div>
           <div class="spec-desc light"><span>11.6 oz (330 g)</span></div>
 	
        </div> 
         
           <div class="row-tight">
           <div class="spec-title">Materials</div>
           <div class="spec-desc light"><span>Stainless steel, durable ABS plastic, silicone</span></div>
 	
        </div> 
       </div>
       
       <div class="large--one-third grid__item">
         
         <div class="row-tight">
           <div class="spec-title">Weather Resistance</div>
           <div class="spec-desc light"><span>IPX6 <br>(heavy splashes &amp; rain)</span></div>
         </div>
         
         <div class="row-tight">
           <div class="spec-title">Outputs</div>
           <div class="spec-desc light"><span>(2) USB @ 2.1 + 1 A</span></div>
         </div>
         
             </div>
 
        <div class="large--one-third grid__item">
         <div class="row-tight">
            <div class="spec-title">Dimensions</div>
           <div class="spec-desc light">0.82 x 3.03 x 4.13 in <br>(21 x 77 x 105 mm)</div>
                  </div>
           <div class="row-tight">
            <div class="spec-title">In The Box</div>
           <div class="spec-desc light">Charge 40, micro USB cable, instructions</div>
                  </div>
       
       
       </div>
    
       
       
     </div>
   </div>    
 </section>
</div>
