<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Specs</h2>
 <section id="product-specs" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">

     
     <div id="product-specs-new" class="wrapper--max_height">
       
  
       
       
       
              <div class="large--one-whole grid__item">
       <div class="row-full">
           <div class="spec-title-long">Lighting Modes
           <div style="display:block;">
             <img class="HL-mode-icons mode-dim" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Mode_icons__dim.svg?v=1599150290" alt="Dimming">
        <span class="table-caption">Indicates mode is dimmable</span>
                                   </div>
         
         </div>
           <div class="spec-desc-long">
             
             <div class="large--one-quarter medium--one-half small--one-whole grid__item text-center">
                       <h4 class="HL-mode-title">Standard Modes</h4>

                   <div class="HL-mode-wrapper">
           <img class="HL-mode-icons mode-dim" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Mode_icons__dim.svg?v=1599150290" alt="Dimming">
           <img class="HL-mode-icons" src="https://cdn.shopify.com/s/files/1/0666/9741/files/AG_Mode__white.svg?v=1613142569" alt="Cool White"> 
           <span class="HL-mode-label">Cool White</span>
           </div>
                   <div class="HL-mode-wrapper">
           <img class="HL-mode-icons mode-dim" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Mode_icons__dim.svg?v=1599150290" alt="Dimming">
           <img class="HL-mode-icons" src="https://cdn.shopify.com/s/files/1/0666/9741/files/AG_Mode__warm.svg?v=1613142569" alt="Warn White"> 
           <span class="HL-mode-label">Warm White</span>
           </div>
               
                        <div class="HL-mode-wrapper">
           <img class="HL-mode-icons mode-dim" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Mode_icons_spacer.svg?v=1599155307" alt="">
           <img class="HL-mode-icons" src="https://cdn.shopify.com/s/files/1/0666/9741/files/AG_Mode__1color.svg?v=1613142569" alt="Single Color"> 
           <span class="HL-mode-label">Single Color</span>
           </div>
               
                      <div class="HL-mode-wrapper">
           <img class="HL-mode-icons mode-dim" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Mode_icons_spacer.svg?v=1599155307" alt="">
           <img class="HL-mode-icons" src="https://cdn.shopify.com/s/files/1/0666/9741/files/AG_Mode__multi250.svg?v=1613142569" alt="Multicolor"> 
           <span class="HL-mode-label">Multicolor</span>
           </div>
          
               
             </div>
             
               <div class="large--one-eighth medium--one-half small--one-whole grid__item text-center shake-divider">
          <img class="shake-icon" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Shake-12-12.svg?v=16261994551" alt="SHAKE"> 

             </div>
          
               <div class="large--one-quarter medium--one-half small--one-whole grid__item text-center">
                 <h4 class="HL-mode-title">Secondary Modes</h4>

                          <div class="HL-mode-wrapper">
           <img class="HL-mode-icons mode-dim" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Mode_icons__dim.svg?v=1599150290" alt="Dimming">
           <img class="HL-mode-icons" src="https://cdn.shopify.com/s/files/1/0666/9741/files/AG_Mode__singleSide.svg?v=1613142569" alt="Single Side Light"> 
           <span class="HL-mode-label">Single Side Light</span>
           </div>
                 
                  <div class="HL-mode-wrapper">
           <img class="HL-mode-icons mode-dim" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Mode_icons__dim.svg?v=1599150290" alt="Dimming">
           <img class="HL-mode-icons" src="https://cdn.shopify.com/s/files/1/0666/9741/files/AG_Mode__candle.svg?v=1613142569" alt="Warm Candle Flicker"> 
           <span class="HL-mode-label">Candle Flicker</span>
           </div>
           
           
             <div class="HL-mode-wrapper">
           <img class="HL-mode-icons mode-dim" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Mode_icons_spacer.svg?v=1599155307" alt="">
           <img class="HL-mode-icons" src="https://cdn.shopify.com/s/files/1/0666/9741/files/AG_Mode__singleCycle.svg?v=1613142569" alt="White Strobe"> 
           <span class="HL-mode-label">1-Color Cycling</span>
           </div>
                 
                  <div class="HL-mode-wrapper">
           <img class="HL-mode-icons mode-dim" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Mode_icons_spacer.svg?v=1599155307" alt="">
           <img class="HL-mode-icons" src="https://cdn.shopify.com/s/files/1/0666/9741/files/AG_Mode__multiParty250_multiParty250.svg?v=1626193580" alt="Multicolor Party"> 
           <span class="HL-mode-label">Multicolor Party</span>
           </div>
               
             </div>
             
                   <div class="large--one-eighth medium--one-half small--one-whole grid__item text-center shake-divider">

             </div>
               <div class="large--one-quarter medium--one-half small--one-whole grid__item text-center">
         
         
          
           
               
             </div>
             </div>
         
         </div>
         
          
       </div>
     
       <div class="large--one-third grid__item">
       
      
         <div class="row-tight">
           <div class="spec-title">Battery</div>
           <div class="spec-desc light"><span>3,200 mAh<br> (11.8 Wh) Li-Ion  </span></div>
         </div>
         
 		
       
          
           <div class="row-tight">
           <div class="spec-title">Inputs</div>
           <div class="spec-desc light"><span>Micro USB</span></div>
         </div>
          
           <div class="row-tight">
           <div class="spec-title">Outputs</div>
             <div class="spec-desc light"><span>1x USB A, 5V / 2.4A</span></div>
         </div>
         
         <div class="row-tight">
           <div class="spec-title">Weight</div>
           <div class="spec-desc light"><span>7.4 oz (210 g)</span></div>
         </div>
          
     
        
       </div>
       
              <div class="large--one-third grid__item">
                   <div class="row-tight">
           <div class="spec-title">Burn Time</div>
           <div class="spec-desc light"><span>5 hours HIGH<br>Up to 200 hours LOW<br>1 hour reserve power</span></div>
         </div>
                
                  <div class="row-tight">
           <div class="spec-title">Water Resistance</div>
           <div class="spec-desc light"><span>IPX4</span></div>
         </div>
                 <div class="row-tight">
           <div class="spec-title">Color Rendering</div>
           <div class="spec-desc light"><span>ChromaReal broad spectrum LED (CRI 90)</span></div>
         </div>
                
                  <div class="row-tight">
           <div class="spec-title">Dimensions</div>
           <div class="spec-desc light"><span>3.7 x 3.0 in (95 x 75mm) diameter</span></div>
         </div>
          
       </div>
       
                <div class="large--one-third grid__item">
                         <div class="row-tight">
           <div class="spec-title">Lumens</div>
           <div class="spec-desc light"><span>250 lm (High)<Br>2.5 lm  (Low)</span></div>
         </div>
         
                   <div class="row-tight">
           <div class="spec-title">Charge Time</div>
           <div class="spec-desc light"><span>2.5 hrs by 5V/2A micro USB</span></div>
         </div>
                           
           <div class="row-tight">
           <div class="spec-title">Lock Mode</div>
           <div class="spec-desc light"><span>Yes</span></div>
         </div>
                  
          
                  
                    <div class="row">
           <div class="spec-title">In The Box</div>
           <div class="spec-desc light"><span>AlpenGlow 250<br>
Instruction Manual<br>
Micro USB charge cable</span></div>
         </div>
       </div>
       
       


     </div>
   </div>
 </section>
</div>
