<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Specs</h2>
 <section id="product-specs" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div id="product-specs-new" class="wrapper wrapper--large wrapper--max_height">
    
       <div class="large--one-third grid__item">
         <div class="row-tight">
           <div class="spec-title">Weight</div>
           <div class="spec-desc light"><span>1.68 oz (47.5 g) </span></div>
         </div>
         <div class="row-tight">
           <div class="spec-title">Closure</div>
           <div class="spec-desc light"><span>Roll top with clip </span></div>
         </div>
 	
        
       </div>
       
       <div class="large--one-third grid__item">
         <div class="row-tight">
           <div class="spec-title">Materials</div>
           <div class="spec-desc light"><span>PU film, Polyester 600D base and webbing</span></div>
         </div>
 

       </div>
        
        <div class="large--one-third grid__item">

            
           <div class="row-tight">
           <div class="spec-title">Volume</div>
           <div class="spec-desc light"><span>0.5 L</span></div>
         </div>
      
         
   </div>
     
     </div>
   </div>    
 </section>
</div>
