<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Specs</h2>
 <section id="product-specs" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div id="product-specs-new" class="wrapper wrapper--large wrapper--max_height">
    
       
       <div class="large--one-third grid__item">
         <div class="row-tight">
           <div class="spec-title">Weight</div>
           <div class="spec-desc light"><span>1 lb (16 oz)</span></div>
        </div> 
       
         
      
       </div>
       
       <div class="large--one-third grid__item">
         
         <div class="row-tight">
           <div class="spec-title">Dimensions</div>
           <div class="spec-desc light"><span>31.8 x 24.0 in (80.8 x 61.0 cm)</span></div>
         </div>
   
         
             </div>
 
        <div class="large--one-third grid__item">
         <div class="row-tight">
            <div class="spec-title">Materials</div>
           <div class="spec-desc light">Aluminum coated fiberglass fabric</div>
                  </div>
       
       
       
       </div>
    
       
       
     </div>
   </div>    
 </section>
</div>
