<div class="mobile-wrapper closed product-compare-bundle--{{ product.handle | remove: 'biolite-'  }}">
 <h2 class="mobile-title">Included in Bundle</h2>
 <section id="product-compare-bundle" class="product-compare-bundle product-compare-bundle--{{ product.handle | remove: 'biolite-'  }} mobile-wrapper-content">
	 <div class="product-compare-bundle wrapper wrapper--full_height wrapper--large">
<table class="compare-table-bundle table-with-footer">
  <thead>
    <tr style="background-color:#fff;">
       <th class="border-bottom pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="//cdn.shopify.com/s/files/1/0666/9741/products/stingray_1_large.png?v=1467475106" width="150" alt="stingray 1" title="stingray 1" />
<div class="bundle-number mb10 ">
        <span class="inside-count">1</span>
      </div>         
         <span class="mt20"><strong>Tentsile<br>Stingray</strong></span>
      </th>
      <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="//cdn.shopify.com/s/files/1/0666/9741/products/NanoGrid_51_f946e0dc-1c28-4549-a8be-28e1bcedadc4_large.jpeg?v=1455122523" width="150" alt="NanoGrid" title="NanoGrid" />
<div class="bundle-number mb10 ">
        <span class="inside-count">2</span>
      </div>  
        <span class="mt20"><strong>BioLite<br>PowerLight Bundle</strong></span>
      </th>
      <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="//cdn.shopify.com/s/files/1/0666/9741/products/helio_2_large.png?v=1467393903" width="150" alt="helio 2" title="helio 2" />
<div class="bundle-number mb10 ">
        <span class="inside-count">3</span>
      </div>  
        <span class="mt20"><strong>Helio<br>Pressure Shower</strong></span>
      </th>
      <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="//cdn.shopify.com/s/files/1/0666/9741/products/outdoortech_1_large.jpg?v=1467475861" width="150" alt="outdoortech 1" title="outdoortech 1" />
<div class="bundle-number mb10 ">
        <span class="inside-count">4</span>
      </div>  
        <span class="mt20"><strong>Outdoor Tech <br>Turtle Shell 2.0</strong></span>
      </th>
       <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="//cdn.shopify.com/s/files/1/0666/9741/products/bucketCooler1_large.jpg?v=1467325103"  width="150" alt="bucketCooler 1" title="bucketCooler 1" />
<div class="bundle-number mb10 ">
        <span class="inside-count">5</span>
      </div>  
         <span class="mt20"><strong>Alite<br>Bucket Cooler</strong></span>
      </th>
      <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="//cdn.shopify.com/s/files/1/0666/9741/products/Mayfly15_CapitolaBlue_01_1024x1024_c220b859-f41a-46c9-97b2-48ef9a289a36_large.jpg?v=1467324609"  width="150" alt="Mayfly 15 CapitolaBlue 1" title="Mayfly 15 CapitolaBlue 1" />
<div class="bundle-number mb10 ">
        <span class="inside-count">6</span>
      </div>  
        <span class="mt20"><strong>Alite<br>Mayfly Chair</strong></span>
      </th>
      <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="//cdn.shopify.com/s/files/1/0666/9741/products/dango_1_large.jpg?v=1467399265"  width="150" alt="dango 1" title="dango 1" />
<div class="bundle-number mb10 ">
        <span class="inside-count">7</span>
      </div>  
        <span class="mt20"><strong>Dango <br>Loop Hook</strong></span>
      </th>
     
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Suspend between three trees or other large anchors, such as columns, trucks or boulders</td>
      <td>Includes PowerLight (250 Lm torch, 200 Lm lantern) and 2 SiteLights (150 Lm per light)</td>
      <td>Rests on the ground and delivers the pressure you need to wash hair, do the dishes, or rinse off gear</td>
      <td>Water-resistant Bluetooth speaker</td>
      <td>Portable travel cooler</td>
      <td>Lightweight packable camping chair</td>
      <td>Hang your gear off table ledges, and tree branches with this versatile and removable utility hook</td>



      
    </tr>
    <tr>
      <td>Unpacked dimensions - 14 x 14 x 14 ft</td>
      <td>PowerLight has 4400 mAh battery for charging up to 4 phones</td>
      <td>7 foot long hose</td>
      <td>16 hour play time; 700 hour standby time</td>
      <td>Fits up to 10 beverage cans or snacks - 8.2 L volume</td>
      <td>Packs down to 11.5 X 4.3 X 4.3 in</td>
      <td>Can hold over 100lbs when used as a hook/table hanger</td>


      
    </tr>
    <tr>
      <td>Packed size - 25 x 10 x 10 in</td>
      <td>System can run for 22 hours on low brightness</td>
	  <td>5-7 minutes of water per fill </td>
	  <td>0.65 lbs</td>
      <td>Structured handles allow for comfortable transport</td>
      <td>Weight - 1.6 lbs</td>
       <td>Bottle opener function built in</td>




    </tr>
    <tr>
      <td>Roof made from tear resistant insect mesh.</td>
      <td>Up to 20ft of reach with 2 daisy-chainable SiteLights</td>
	  <td>2.9 gallon volume</td>
      <td>Includes USB charging cable, 3.5mm to 3.5mm cable, carry pouch</td>
      <td>Removable waterproof liner allows for easy cleaning</td>
      <td>&nbsp;</td>
      <td>Made in the USA</td>



    </tr>
  
 
  </tbody>

</table>


<!-- Mobile Tables -->
       
       <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="//cdn.shopify.com/s/files/1/0666/9741/products/stingray_1_large.png?v=1467475106" alt="stingray 1" title="stingray 1" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">1</span>
      </div> 
         <span class=""><strong>Tentsile<br>Stingray</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Suspend between three trees or other large anchors, such as columns, trucks or boulders</td>
    </tr>
    <tr>
      <td>Unpacked dimensions - 14 x 14 x 14 ft</td>
    </tr>
    <tr>
      <td>Packed size - 25 x 10 x 10 in</td>
    </tr>
    <tr>
      <td>Roof made from tear resistant insect mesh.</td>
    </tr>
    
    
   
  </tbody>

</table>

       
       
<table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="//cdn.shopify.com/s/files/1/0666/9741/products/NanoGrid_51_f946e0dc-1c28-4549-a8be-28e1bcedadc4_large.jpeg?v=1455122523" alt="NanoGrid 51" title="NanoGrid 51" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">2</span>
      </div> 
         <span class=""><strong>BioLite<br>PowerLight Bundle</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Includes PowerLight (250 Lm torch, 200 Lm lantern) and 2 SiteLights (150 Lm per light)</td>
    </tr>
    <tr>
      <td>PowerLight has 4400 mAh battery for charging up to 4 phones</td>
    </tr>
    <tr>
      <td>System can run for 22 hours on low brightness</td>
    </tr>
    <tr>
      <td>Up to 20ft of reach with 2 daisy-chainable SiteLights</td>
    </tr>
    
    
   
  </tbody>

</table>
       

       
       <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="//cdn.shopify.com/s/files/1/0666/9741/products/helio_2_large.png?v=1467393903" alt="helio 2" title="helio 2" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">3</span>
      </div> 
         <span class=""><strong>Helio<br>Pressure Shower</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Rests on the ground and delivers the pressure you need to wash hair, do the dishes, or rinse off gear</td>
    </tr>
    <tr>
      <td>7 foot long hose</td>
    </tr>
    <tr>
	  <td>5-7 minutes of water per fill </td>
    </tr>
    <tr>
	  <td>2.9 gallon volume</td>
    </tr>
    
    
   
  </tbody>

</table>
       
       
              <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="//cdn.shopify.com/s/files/1/0666/9741/products/outdoortech_1_large.jpg?v=1467475861" alt="outdoortech" title="outdoortech" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">4</span>
      </div> 
         <span class=""><strong>Outdoor Tech<br>Turtle Shell 2.0</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Water-resistant Bluetooth speaker</td>
    </tr>
    <tr>
      <td>16 hour play time; 700 hour standby time</td>
    </tr>
    <tr>
	  <td>0.65 lbs</td>
    </tr>
    <tr>
      <td>Includes USB charging cable, 3.5mm to 3.5mm cable, carry pouch</td>
    </tr>
    
    
   
  </tbody>

</table>

       
       
       
              
              <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="//cdn.shopify.com/s/files/1/0666/9741/products/bucketCooler1_large.jpg?v=1467325103" alt="bucketCooler" title="bucketCooler" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">5</span>
      </div> 
         <span class=""><strong>Alite<br>Bucket Cooler</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Portable travel cooler</td>
    </tr>
    <tr>
      <td>Fits up to 10 beverage cans or snacks - 8.2 L volume</td>
    </tr>
    <tr>
      <td>Structured handles allow for comfortable transport</td>
    </tr>
    <tr>
      <td>Removable waterproof liner allows for easy cleaning</td>
    </tr>
    
    
   
  </tbody>

</table>
       
       
       
                     <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="//cdn.shopify.com/s/files/1/0666/9741/products/Mayfly15_CapitolaBlue_01_1024x1024_c220b859-f41a-46c9-97b2-48ef9a289a36_large.jpg?v=1467324609" alt="Mayfly15 CapitolaBlue" title="Mayfly15 CapitolaBlue" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">6</span>
      </div> 
         <span class=""><strong>Alite<br>Mayfly Chair</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Lightweight packable camping chair - Packs down to 11.5 X 4.3 X 4.3 in</td>
    </tr>
   
    <tr>
      <td>Weight - 1.6 lbs</td>
    </tr>
    
    
    
   
  </tbody>

</table>

       
       
                            <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="//cdn.shopify.com/s/files/1/0666/9741/products/dango_1_large.jpg?v=1467399265" alt="dango" title="dango" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">7</span>
      </div> 
         <span class=""><strong>Dango<br>Loop Hook</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Hang your gear off table ledges, and tree branches with this versatile and removable utility hook</td>
    </tr>
    <tr>
      <td>Can hold over 100lbs when used as a hook/table hanger</td>
    </tr>
    <tr>
       <td>Bottle opener function built in</td>
    </tr>
    <tr>
      <td>Made in the USA</td>
    </tr>
    
    
   
  </tbody>

</table>



	 </div>
 </section>
</div>
