<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Specs</h2>
 <section id="product-specs" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div id="product-specs-new" class="wrapper wrapper--large wrapper--max_height">
    
       
       <div class="large--one-third grid__item">
                        <div class="row-tight">
              <div class="spec-title">Lumens</div>
              <div class="spec-desc light"><span>300 Lm</span></div>
            </div>
            
            
      
            <div class="row-tight">
              <div class="spec-title">Weight</div>
              <div class="spec-desc light"><span>3.25 oz (92 g)</span></div>
            </div>
            
                      <div class="row-full">
              <div class="spec-title">Dimensions</div>
              <div class="spec-desc light"><span>Packed: 5.7 x 1.57 x 4.52 in (145 x 40 x 115 mm)<br />
Unpacked: 12.6 x 11 x 11 in (320 x 280 x 280 mm)</span></div>
            </div>
           
                   </div>  

       
       <div class="large--one-third grid__item">

           <div class="row-tight">
              <div class="spec-title">Power Source</div>
              <div class="spec-desc light"><span>BioLite Lanterns or any USB power source using included adapter</span></div>
            </div>
            <div class="row-tight">
              <div class="spec-title">Dimmable</div>
              <div class="spec-desc light"><span>Yes (using BaseLantern or PowerLight)</span></div>
            </div>
                    <div class="row-tight">
              <div class="spec-title">Outputs</div>
              <div class="spec-desc light">Daisy-chanable 2.5mm connector</div>
            
            </div>
</div>
 
        <div class="large--one-third grid__item">

          
           <div class="row-tight">
              <div class="spec-title">Chainable</div>
              <div class="spec-desc light"><span>Yes</span></div>
            </div>
         
          
           <div class="row-tight">
              <div class="spec-title">Cord Length</div>
              <div class="spec-desc light"><span>15 ft (5 m)</span></div>
            </div>
          
           <div class="row-tight">
              <div class="spec-title">In the Box</div>
              <div class="spec-desc light"><span>SiteLight XL, USB Power Adapter, Instructions</span></div>
            </div>
          
          
          
           </div> 
       
       
       
     </div>
   </div>    
 </section>
</div>
