<div class="mobile-wrapper closed product-compare-bundle--{{ product.handle | remove: 'biolite-'  }}">
 <h2 class="mobile-title">Included in Bundle</h2>
 <section id="product-compare-bundle" class="product-compare-bundle product-compare-bundle--{{ product.handle | remove: 'biolite-'  }} mobile-wrapper-content">
	 <div class="product-compare-bundle wrapper wrapper--full_height wrapper--large">
<table class="compare-table-bundle table-with-footer">
  <thead>
    <tr style="background-color:#fff;">
       <th class="border-bottom pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb30" src="//cdn.shopify.com/s/files/1/0666/9741/products/cotopaxi_1_large.jpg?v=1467399729" width="150" alt="cotopaxi 1" title="cotopaxi 1" />
<div class="bundle-number mb10 ">
        <span class="inside-count">1</span>
      </div>         
         <span class="mt20"><strong>Cotopaxi<br> Luxon 18L Daypack</strong></span>
      </th>
      <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="//cdn.shopify.com/s/files/1/0666/9741/products/SolarPanel5__1_large.jpeg?v=1455122408" width="150" alt="SolarPanel 5" title="SolarPanel 5" />
<div class="bundle-number mb10 ">
        <span class="inside-count">2</span>
      </div>  
        <span class="mt20"><strong>BioLite<br> SolarPanel 5+</strong></span>
      </th>
      <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="//cdn.shopify.com/s/files/1/0666/9741/products/GoTenna_2Pack_large.jpg?v=1467759550" width="150" alt="GoTenna 2 Pack" title="GoTenna 2 Pack" />
<div class="bundle-number mb10 ">
        <span class="inside-count">3</span>
      </div>  
        <span class="mt20"><strong>GoTenna<br> Double Pack</strong></span>
      </th>
      <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="//cdn.shopify.com/s/files/1/0666/9741/products/miir_1_large.jpg?v=1467476640" width="150" alt="miir 1" title="miir 1" />
<div class="bundle-number mb10 ">
        <span class="inside-count">4</span>
      </div>  
        <span class="mt20"><strong>Miir <br>Insulated Water Bottle</strong></span>
      </th>
       <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="//cdn.shopify.com/s/files/1/0666/9741/products/mat_2_large.jpg?v=1467400704"  width="150" alt="mat 2" title="mat 2" />
<div class="bundle-number mb10 ">
        <span class="inside-count">5</span>
      </div>  
         <span class="mt20"><strong>Alite<br> Meadow Mat</strong></span>
      </th>
      <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="//cdn.shopify.com/s/files/1/0666/9741/files/PowerLightMini_1_teal_1170x1170.jpg?10357694140175756365"  width="150" alt="PowerLightMini 1 teal" title="PowerLightMini 1 teal" />
<div class="bundle-number mb10 ">
        <span class="inside-count">6</span>
      </div>  
        <span class="mt20"><strong>BioLite<br> PowerLight Mini</strong></span>
      </th>
      <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="//cdn.shopify.com/s/files/1/0666/9741/products/sunski_1_large.jpg?v=1467474357"  width="150" alt="sunski 1" title="sunski 1" />
<div class="bundle-number mb10 ">
        <span class="inside-count">7</span>
      </div>  
        <span class="mt20"><strong>Sunski <br>Seaclifs Glasses</strong></span>
      </th>
     
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>18L Volume (20 x 11.25 x 5.1 in)</td>
      <td>5 watts per hour power output at peak sun</td>
      <td>Send texts and GPS info without cell service or wifi</td>
      <td>Made from 18/8 medical grade stainless steel</td>
      <td>Unpacked dimensions - 55 x 55 inches</td>
      <td>135 lumens; 52 hour burn time (LO)</td>
      <td>Polarized Grey-Tint Lenses</td>



      
    </tr>
    <tr>
      <td>Front zippered pocket and large main compartment with internal hydration sleeve</td>
      <td>2200 mAh internal battery can power one phone on a single charge</td>
      <td>Flash memory good for hundreds of messages</td>
      <td>Keeps liquids cold for 24+ hrs and hot for up to 12 hrs</td>
      <td>Packed dimensions - 14 x 3.5 x 3.5 inches</td>
      <td>1350 mAh rechargeable battery</td>
      <td>Certified UVA/B/400 Protection</td>


      
    </tr>
    <tr>
      <td>Durable yet lightweight ripstop nylon shell fabric</td>
      <td>IPX4 rated</td>
	  <td>Rechargeable lithium-polymer battery (via micro-USB) </td>
	  <td>9.75" tall, 2.75" diameter, 1.5" opening </td>
      <td>Made from 1500 TPE poly</td>
      <td>IPX4 rated</td>
       <td>Lifetime warranty</td>




    </tr>
    <tr>
      <td>Ultralight mesh shoulder straps</td>
      <td>Micro USB charge in; USB charge out</td>
	  <td>Totally weather proof</td>
      <td>&nbsp;</td>
      <td>Total weight - 1.4 lbs</td>
      <td>Weight - 2.82 oz</td>
      <td>&nbsp;</td>



    </tr>
  
 
  </tbody>

</table>


<!-- Mobile Tables -->
       
       <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/products/cotopaxi_1_large.jpg?v=1467399729" alt="cotopaxi 1" title="cotopaxi 1" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">1</span>
      </div> 
         <span class=""><strong>Cotopaxi<br>Luxon 18L Daypack</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>18L Volume (20 x 11.25 x 5.1 in)</td>
    </tr>
    <tr>
      <td>Front zippered pocket and large main compartment with internal hydration sleeve</td>
    </tr>
    <tr>
      <td>Durable yet lightweight ripstop nylon shell fabric</td>
    </tr>
    <tr>
      <td>Ultralight mesh shoulder straps</td>
    </tr>
    
    
   
  </tbody>

</table>

       
       
<table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/products/SolarPanel5__1_large.jpeg?v=1455122408" alt="SolarPanel 5" title="SolarPanel 5" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">2</span>
      </div> 
         <span class=""><strong>BioLite<br>SolarPanel 5+</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>5 watts per hour power output at peak sun</td>
    </tr>
    <tr>
      <td>2200 mAh internal battery can power one phone on a single charge</td>
    </tr>
    <tr>
      <td>IPX4 rated</td>
    </tr>
    <tr>
      <td>Micro USB charge in; USB charge out</td>
    </tr>
    
    
   
  </tbody>

</table>
       

       
       <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/products/GoTenna_2Pack_large.jpg?v=1467759550" alt="GoTenna 2 Pack" title="GoTenna 2 Pack" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">3</span>
      </div> 
         <span class=""><strong>GoTenna<br>Double Pack</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Send texts and GPS info without cell service or wi-fi</td>
    </tr>
    <tr>
      <td>Flash memory good for hundreds of messages</td>
    </tr>
    <tr>
	  <td>Rechargeable lithium-polymer battery (via micro-USB) </td>
    </tr>
    <tr>
	  <td>Water-resistant and totally weather proof</td>
    </tr>
    
    
   
  </tbody>

</table>
       
       
              <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/products/miir_1_large.jpg?v=1467476640" alt="miir 1" title="miir 1" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">4</span>
      </div> 
         <span class=""><strong>Miir<br>Insulated Water Bottle</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Made from 18/8 medical grade stainless steel</td>
    </tr>
    <tr>
      <td>Keeps liquids cold for 24+ hrs and hot for up to 12 hrs</td>
    </tr>
    <tr>
	  <td>9.75" tall, 2.75" diameter, 1.5" opening </td>
    </tr>
  
    
   
  </tbody>

</table>

       
       
       
              
              <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/products/mat_2_large.jpg?v=1467400704" alt="mat 2" title="mat 2" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">5</span>
      </div> 
         <span class=""><strong>Alite<br>Meadow Mat</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Unpacked dimensions - 55 x 55 inches. Packs down to 14 x 3.5 x 3.5 inches</td>
    </tr>
   
    <tr>
      <td>Made from 1500 TPE poly</td>
    </tr>
    <tr>
      <td>Total weight - 1.4 lbs</td>
    </tr>
    
    
   
  </tbody>

</table>
       
       
       
                     <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/files/PowerLightMini_1_teal_1170x1170.jpg?10357694140175756365" alt="PowerLightMini 1 teal" title="PowerLightMini 1 teal" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">6</span>
      </div> 
         <span class=""><strong>BioLite<br>PowerLight Mini</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>135 lumens; 52 hour burn time (LO); 5 hour burn time (HI) </td>
    </tr>
    <tr>
      <td>1350 mAh rechargeable battery</td>
    </tr>
    <tr>
      <td>IPX4 rated</td>
    </tr>
    
      <tr>
      <td>Weight - 2.82 oz</td>
    </tr>
    
    
    
   
  </tbody>

</table>

       
       
                            <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/products/sunski_1_large.jpg?v=1467474357" alt="sunski 1" title="sunski 1" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">7</span>
      </div> 
         <span class=""><strong>Sunski<br>Seakclifs Glasses</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Polarized Grey-Tint Lenses with Lifetime warranty included</td>
    </tr>
    <tr>
      <td>Certified UVA/B/400 Protection</td>
    </tr>
    
   
    
    
   
  </tbody>

</table>



	 </div>
 </section>
</div>
