<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Specs</h2>
 <section id="product-specs" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div id="product-specs-new" class="wrapper wrapper--large wrapper--max_height">
    
       <div class="large--one-third grid__item">
         <div class="row-tight">
           <div class="spec-title">Memory</div>
           <div class="spec-desc light"><span>Flash memory good for hundreds of messages</span></div>
         </div> 
  <div class="row-tight">           <div class="spec-title">Battery</div>
           <div class="spec-desc light"><span>2-watt VHF (151-154MHz, no license required)</span></div>
         </div>
       </div>
       
       <div class="large--one-third grid__item">
  <div class="row-tight">           <div class="spec-title">Charge In</div>
           <div class="spec-desc light"><span>Rechargeable lithium-polymer battery (via micro-USB)</span></div>
         </div>
  <div class="row-tight">           <div class="spec-title">Water Resistant</div>
           <div class="spec-desc light"><span>Water-resistant & dust tight - totally weather proof</span></div>
         </div>
         
             </div>
 
        <div class="large--one-third grid__item">
  <div class="row-tight">
    <div class="spec-title">In The Box</div>
           <div class="spec-desc light">Sold in pairs; can communicate with as many goTennas as are within range</div>
         </div>
  <div class="row-tight">
    <div class="spec-title">Warranty</div>
           <div class="spec-desc light">1 year limited warranty</div>
         </div>

         
   </div>
     
     </div>
   </div>    
 </section>
</div>
