<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Specs</h2>
 <section id="product-specs" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div id="product-specs-new" class="wrapper wrapper--large wrapper--max_height">
    
       
       <div class="large--one-third grid__item">
           
          <div class="row-tight">
           <div class="spec-title">Volume</div>
           <div class="spec-desc light">Boils 1-6 cups of coffee in the KettlePot</div>
 	
        </div> 
         
         
         <div class="row">
              <div class="spec-title">Dimensions</div>
           <div class="spec-desc light"><span><strong>KettlePot:</strong> <br>10.2 x 5.2" <br>(25.9 x 13.2 cm)<br>
             
<strong>CoffeePress:</strong><br> 4.9 x 1.6 x 7.9 in <br> (20.0 x 12.5 x 40.0 cm)             </span></div>
            </div>
            
           
                   </div>  

       
       <div class="large--one-third grid__item">
                   
            <div class="row-tight">
           <div class="spec-title">Materials</div>
           <div class="spec-desc light"><span>Stainless Steel, BPA-free polypropylene</span></div>
 	
        </div> 
         <div class="row-tight">
              <div class="spec-title">Serves</div>
              <div class="spec-desc light"><span>2-4 people</span></div>
            </div>

         <div class="row-tight">
              <div class="spec-title">Max Fill</div>
              <div class="spec-desc light"><span>1.5 liters</span></div>
            </div>
            </div>

 
        <div class="large--one-third grid__item">
           <div class="row-tight">
              <div class="spec-title">Weight</div>
              <div class="spec-desc light"><span><strong>KettlePot:</strong> 465 g<br><strong>CoffeePress:</strong> 80 g</span></div>
            </div> 
          
          <div class="row">
              <div class="spec-title">In The Box</div>
              <div class="spec-desc light"><span>Stainless steel pot, kettle lid, CoffeePress, KettlePot stuff sack</span></div>
            </div>
           </div> 
       
       
       
     </div>
   </div>    
 </section>
</div>
