<div class="mobile-wrapper closed product-compare-bundle--{{ product.handle | remove: 'biolite-'  }}">
 <h2 class="mobile-title">Included in Bundle</h2>
 <section id="product-compare-bundle" class="product-compare-bundle product-compare-bundle--{{ product.handle | remove: 'biolite-'  }} mobile-wrapper-content">
	 <div class="product-compare-bundle wrapper wrapper--full_height wrapper--large">
<table class="compare-table-bundle table-with-footer">
  <thead>
    <tr style="background-color:#fff;">
       <th class="border-bottom pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="//cdn.shopify.com/s/files/1/0666/9741/products/Bundle_1_large.jpeg?v=1458138121" width="250" alt="Bundle 1" title="Bundle 1" />
         <div class="bundle-number mb10 ">
        <span class="inside-count">1</span>
      </div> 
         <span class="mt20"><strong>BioLite<br> CampStove Bundle</strong></span>
      </th>
      <th class="border-bottom pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="//cdn.shopify.com/s/files/1/0666/9741/products/goodToGo_hero_large.jpg?v=1467391495" width="250" alt="goodToGo hero" title="goodToGo hero" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">2</span>
      </div> 
        <span class="mt20"><strong>Good To Go<br> 4 Meal Pack</strong></span>
      </th>
      <th class="border-bottom pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb30" src="//cdn.shopify.com/s/files/1/0666/9741/products/miir_1_large.jpg?v=1467476640" width="250" alt="miir 1" title="miir 1" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">3</span>
      </div> 
        <span class="mt20"><strong>Miir<br> Insulated Water Bottle</strong></span>
      </th>
       <th class="border-bottom pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb30" src="//cdn.shopify.com/s/files/1/0666/9741/products/mealkit_2_large.jpg?v=1467473211"  width="250" alt="mealkit 2" title="mealkit 2" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">4</span>
      </div> 
         <span class="mt20"><strong>Light My Fire<br> Meal Kit 2.0</strong></span>
      </th>
     
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Includes CampStove, Portable Grill, KettlePot and FlexLight</td>
      <td>Gourmet Dehydrated Food For Camping</td>
      <td>Made from 18/8 medical grade stainless steel</td>
      <td>8 piece set includes: lid/plate, plate/bowl, SnapBox original, SnapBox oval, Cup, Strainer/Cutting Board, Spork, Harness</td>
      
    </tr>
    <tr>
      <td>Renewable biomass fuel (twigs, pinecones, wood pellets, etc.)</td>
      <td>4 flavors - Indian Vegetable Korma, Herbed Mushroom Risotto, Pad Thai, Thai Curry</td>
      <td>Keeps liquids cold for 24+ hrs and hot for up to 12 hrs</td>
      <td>Plates and bowls made from polypropolene, spork made of tritan, harness made of TPE.</td>
      
    </tr>
    <tr>
      <td>2 watt power output charges phones and lights</td>
      <td>&nbsp;</td>
	  <td>9.75" tall, 2.75" diameter, 1.5" opening </td>
      <td>Total weight 0.85 lbs </td>

    </tr>
    <tr>
      <td>Total weight: 4.96 lbs </td>
      <td>&nbsp;</td>
	  <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  
 
  </tbody>

</table>

<!-- Mobile Tables -->
       
       <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/products/Bundle_1_large.jpeg?v=1458138121" alt="Bundle 1" title="Bundle 1" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">1</span>
      </div> 
         <span class=""><strong>BioLite<br>CampStove Bundle</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Inclues CampStove, Portable Grill, KettlePot and FlexLight</td>
    </tr>
    <tr>
      <td>Renewable biomass fuel (twigs, pinecone, wood pellets, etc.)</td>
    </tr>
    <tr>
      <td>2 watt power output charges phones and lights</td>
    </tr>
    <tr>
      <td>Total weight: 4.96 lbs </td>
    </tr>
    
    
   
  </tbody>

</table>

       
       
<table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/products/goodToGo_hero_large.jpg?v=1467391495" alt="goodToGo hero" title="goodToGo hero" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">2</span>
      </div> 
         <span class=""><strong>Good to Go<br>4 Meal Pack</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    
    <tr>
      <td>Gourmet Dehydrated Food For Camping</td>
    </tr>
    <tr>
      <td>4 flavors - Indian Vegetable Korma, Herbed Mushroom Risotto, Pad Thai, Thai Curry</td>
    </tr>
   
    
    
   
  </tbody>

</table>
       

       
       <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/products/miir_1_large.jpg?v=1467476640" alt="miir 1" title="miir 1" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">3</span>
      </div> 
         <span class=""><strong>Miir<br>Insulated Water Bottle</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Made from 18/8 medical grade stainless steel</td>
    </tr>
    <tr>
      <td>Keeps liquids cold for 24+ hrs and hot for up to 12 hrs</td>
    </tr>
    <tr>
	  <td>9.75" tall, 2.75" diameter, 1.5" opening </td>
    </tr>
    
    
    
   
  </tbody>

</table>
       
       
              <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/products/mealkit_2_large.jpg?v=1467473211" alt="mealkit 2" title="mealkit 2" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">4</span>
      </div> 
         <span class=""><strong>Light My Fire<br>Meal Kit 2.0</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>8 piece set includes lid/plate, plate/bowl, SnapBox original, SnapBox oval, Cup, Strainer/Cutting Board, Spork, Harness</td>
    </tr>
    <tr>
      <td>Plates and bowls made from polypropolene, spork made of tritan, harness made of TPE.</td>
    </tr>
    <tr>
      <td>Total weight 0.85 lbs </td>
    </tr>
  
    
   
  </tbody>

</table>

       



	 </div>
 </section>
</div>
