<div class="mobile-wrapper closed product-compare-bundle--{{ product.handle | remove: 'biolite-'  }}">
 <h2 class="mobile-title">Included in Bundle</h2>
 <section id="product-compare-bundle" class="product-compare-bundle product-compare-bundle--{{ product.handle | remove: 'biolite-'  }} mobile-wrapper-content">
	 <div class="product-compare-bundle wrapper wrapper--full_height wrapper--large">
<table class="compare-table-bundle table-with-footer">
  <thead>
    <tr style="background-color:#fff;">
       <th class="border-bottom pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="//cdn.shopify.com/s/files/1/0666/9741/products/FlexLight_3_large.jpeg?v=1455122487" width="150" alt="FlexLight 3" title="FlexLight 3" />
<div class="bundle-number mb10 ">
        <span class="inside-count">1</span>
      </div>         
         <span class="mt20"><strong><a href="http://www.bioliteenergy.com/products/biolite-campstove" style="color:#262729" target="_blank" title="CampStove + FlexLight">CampStove + FlexLight</a></strong></span>
      </th>
      <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="//cdn.shopify.com/s/files/1/0666/9741/products/NanoGrid_2_a34badab-aa85-4620-b5cf-5179ec7922fe_large.jpeg?v=1455122510" width="150" alt="NanoGrid 2" title="NanoGrid 2" />
<div class="bundle-number mb10 ">
        <span class="inside-count">2</span>
      </div>  
        <span class="mt20"><strong><a href="http://www.bioliteenergy.com/products/biolite-powerlight" style="color:#262729" target="_blank" title="PowerLight">PowerLight</a><br></strong></span>
      </th>
      <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="https://s3-us-west-2.amazonaws.com/biolitewebsite/shop-product-images/PowerLightMini_teal.png" width="150" alt="PowerLightMini teal" title="PowerLightMini teal" />
<div class="bundle-number mb10 ">
        <span class="inside-count">3</span>
      </div>  
        <span class="mt20"><strong><a href="http://www.bioliteenergy.com/products/powerlight-mini" style="color:#262729" target="_blank" title="PowerLight Mini">PowerLight Mini</a><br></strong></span>
      </th>
       <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="//cdn.shopify.com/s/files/1/0666/9741/products/KettlePot_2_large.jpeg?v=1455122565"  width="150" alt="KettlePot 2" title="KettlePot 2" />
<div class="bundle-number mb10 ">
        <span class="inside-count">4</span>
      </div>  
         <span class="mt20"><strong><a href="http://www.bioliteenergy.com/products/biolite-kettlepot" style="color:#262729" target="_blank" title="KettlePot">KettlePot</a></strong></span>
      </th>
      <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="//cdn.shopify.com/s/files/1/0666/9741/products/SiteLight_1_large.jpeg?v=1455122503"  width="150" alt="SiteLight 1" title="SiteLight 1" />
<div class="bundle-number mb10 ">
        <span class="inside-count">5</span>
      </div>  
        <span class="mt20"><strong><a href="http://www.bioliteenergy.com/products/biolite-sitelight" style="color:#262729" target="_blank" title="SiteLight">SiteLight</a></strong></span>
      </th>   
            <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="//cdn.shopify.com/s/files/1/0666/9741/products/StickSnapper_product_large.jpeg?v=1455122362"  width="150" alt="StickSnapper" title="StickSnapper" />
<div class="bundle-number mb10 ">
        <span class="inside-count">6</span>
      </div>  
        <span class="mt20"><strong><a href="http://www.bioliteenergy.com/products/sticksnapper" style="color:#262729" target="_blank" title="Stick Snapper">StickSnapper</a></strong></span>
      </th>
              <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="//cdn.shopify.com/s/files/1/0666/9741/products/Stocking_Hanging_1_120a54a4-4b65-4de0-814f-f4b092cc4bf6_large.jpg?v=1480630077"  width="150" alt="Stocking Hanging" title="Stocking Hanging" />
<div class="bundle-number mb10 ">
        <span class="inside-count">7</span>
      </div>  
        <span class="mt20"><strong><a href="http://www.bioliteenergy.com/products/biolite-stocking-stuffsack" style="color:#262729" target="_blank" title="Stocking Stuff Sack">Stocking Stuff Sack</a></strong></span>
      </th>
     
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>A smokeless campfire that can cook meals and boil water in minutes</td>
      <td>250 Lm torch; 200 Lm lantern</td>
      <td>Lantern, bike light and battery</td>
      <td>A true grab-and-go system - pours like a kettle and cooks like a pot </td>
      <td>Compact, overhead string lighting</td>
      <td>Break sticks and open bottles</td>
      <td>Limited edition</td>



      
    </tr>
    <tr>
      <td>Generate usable electricity for charging lights phones, and other devices</td>
      <td>4400 mAh battery for charging up to 4 phones</td>
      <td>135 Lm</td>
      <td>Doubles as a carry case for CampStove</td>
      <td>150 lumens per light</td>
      <td>Made from high-strength aluminum</td>
      <td>Made from the same material as BioLite stuffsacks</td>

      
    </tr>
    <tr>
      <td>Burns renewable biomass - twigs, pinecone, wood pellets</td>
      <td>Burn time (hours): 72 LO/ 6.5 HI</td>
	  <td>1350 mAh rechargeable battery </td>
      <td>Max fill: 1.5 liters</td>
      <td>10 ft (3 m) of cord per light</td>
      <td>6.2 x 1.3 in (156 x 33 mm)</td>
      <td>&nbsp;</td>



    </tr>
    <tr>
      <td>Weight: 2.06 lbs (33 oz)</td>
      <td>Weight: 7.05 oz (210 g)</td>
	  <td>Weight: 2.82 oz (80 g)</td>
      <td>Weight: 1.03 lbs (465 g)</td>
      <td>Weight: 1.83 oz (52 g) per light</td>
      <td>2.35 oz (66.5 g)</td>
      <td>&nbsp;</td>



    </tr>
  
 
  </tbody>

</table>


<!-- Mobile Tables -->
       
       <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="//cdn.shopify.com/s/files/1/0666/9741/products/FlexLight_3_large.jpeg?v=1455122487" alt="FlexLight 3" title="FlexLight 3" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">1</span>
      </div> 
         <span class=""><strong>CampStove + FlexLight</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>A smokeless campfire that can cook meals and boil water in minutes</td>
    </tr>
    <tr>
      <td>Generate usable electricity for charging lights phones, and other devices</td>
    </tr>
    <tr>
      <td>Burns renewable biomass - twigs, pinecone, wood pellets</td>
    </tr>
    <tr>
      <td>Weight: 2.06 lbs (33 oz)</td>
    </tr>
    
    
   
  </tbody>

</table>

       
       
<table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="//cdn.shopify.com/s/files/1/0666/9741/products/NanoGrid_2_a34badab-aa85-4620-b5cf-5179ec7922fe_large.jpeg?v=1455122510" alt="NanoGrid 2" title="NanoGrid 2" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">2</span>
      </div> 
         <span class=""><strong>PowerLight</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>250 Lm torch; 200 Lm lantern</td>
    </tr>
    <tr>
      <td>4400 mAh battery for charging up to 4 phones</td>
    </tr>
    <tr>
      <td>Burn time (hours): 72 LO/ 6.5 HI</td>
    </tr>
    <tr>
      <td>Weight: 7.05 oz (210 g)</td>
    </tr>
    
    
   
  </tbody>

</table>
       

       
       <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="https://s3-us-west-2.amazonaws.com/biolitewebsite/shop-product-images/PowerLightMini_teal.png" alt="PowerLightMini teal" title="PowerLightMini teal" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">3</span>
      </div> 
         <span class=""><strong>PowerLight Mini</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Lantern, bike light and battery</td>
    </tr>
    <tr>
      <td>135 Lm</td>
    </tr>
    <tr>
    <td>1350 mAh rechargeable battery </td>
    </tr>
    <tr>
    <td>Weight: 2.82 oz (80 g)</td>
    </tr>
    
    
   
  </tbody>

</table>
       
   
              
              <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="//cdn.shopify.com/s/files/1/0666/9741/products/KettlePot_2_large.jpeg?v=1455122565" alt="KettlePot 2" title="KettlePot 2" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">4</span>
      </div> 
         <span class=""><strong>KettlePot</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>A true grab-and-go system - ours like a kettle and cooks like a pot </td>
    </tr>
    <tr>
      <td>Doubles as a carry case for CampStove</td>
    </tr>
    <tr>
      <td>Max fill: 1.5 liters</td>
    </tr>
    <tr>
      <td>Weight: 1.03 lbs (465 g)</td>
    </tr>
    
    
   
  </tbody>

</table>
       
       
       
                     <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="//cdn.shopify.com/s/files/1/0666/9741/products/SiteLight_1_large.jpeg?v=1455122503" alt="SiteLight 1" title="SiteLight 1" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">5</span>
      </div> 
         <span class=""><strong>SiteLight</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Compact, overhead string lighting</td>
    </tr>
   
    <tr>
      <td>150 lumens per light</td>
    </tr>
    <tr>
      <td>10 ft (3 m) of cord per light</td>
    </tr>
   
    <tr>
      <td>Weight: 1.83 oz (52 g) per light</td>
    </tr>
    
    
    
   
  </tbody>

</table>

       
              
<table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="//cdn.shopify.com/s/files/1/0666/9741/products/StickSnapper_product_large.jpeg?v=1455122362" alt="StickSnapper" title="StickSnapper" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">6</span>
      </div> 
         <span class=""><strong>StickSnapper</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Break sticks and open bottles</td>
    </tr>
   
    <tr>
      <td>Made from high-strength aluminum</td>
    </tr>
    <tr>
      <td>6.2 x 1.3 in (156 x 33 mm)</td>
    </tr>
   
    <tr>
      <td>2.35 oz (66.5 g)</td>
    </tr>
    
    
   
  </tbody>

</table>
       
       <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="//cdn.shopify.com/s/files/1/0666/9741/products/Stocking_Hanging_1_120a54a4-4b65-4de0-814f-f4b092cc4bf6_large.jpg?v=1480630077" alt="Stocking Hanging 1" title="Stocking Hanging 1" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">7</span>
      </div> 
         <span class=""><strong>Stocking Stuffsack</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Limited edition</td>
    </tr>
   
    <tr>
      <td>Made from the same material as BioLite stuffsacks</td>
    </tr>
 
    
    
   
  </tbody>

</table>

       
       



	 </div>
 </section>
</div>
