<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Specs</h2>
 <section id="product-specs" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div id="product-specs-new" class="wrapper wrapper--large wrapper--max_height">
       <div class="large--one-third grid__item">
         <div class="row-tight">
           <div class="spec-title">Weight</div>
           <div class="spec-desc light"><span>12oz (340g)</span></div>
         </div>

         <div class="row">
           <div class="spec-title">Dimensions</div>
           <div class="spec-desc light">10.12"(257mm)x8.19"(208mm)<br />
Panel + Charge Out Depth: 0.94"(24mm)<br />
Panel Only depth: 0.26"(6.6mm) </div>
         </div>
 <div class="row">
           <div class="spec-title">Cell Type</div>
           <div class="spec-desc light"><span>Monocrystalline</span></div>
         </div>
         
         
       </div>
       <div class="large--one-third grid__item">
         <div class="row-tight">
           <div class="spec-title">Power Output</div>
           <div class="spec-desc light"><span>5 Watts per Hour (peak sun)</span></div>
         </div>
        
         <div class="row">
           <div class="spec-title">Weather Resistant</div>
           <div class="spec-desc light"><span>IPX4</span></div>
         </div>
 <div class="row">
           <div class="spec-title">In The Box</div>
           <div class="spec-desc light"><span>SolarPanel 5<br> USB Cord<br> Instructions</span></div>
         </div>
         
          
       </div>
       <div class="large--one-third grid__item">
         
        <div class="row-tight">
            <div class="spec-title">Outputs</div>
           <div class="spec-desc light"><span>USB Out</span></div>
         </div>
         <div class="row">
           <div class="spec-title">Daisy Chainable</div>
           <div class="spec-desc light"><span>No<span></div>
         </div>
                
         <div class="row">
           <div class="spec-title">Recommended Use With</div>
           <div class="spec-desc light">Phones, Tablets, Cameras, BioLite CookStove, NanoGrid, PowerLight Mini</div>
         </div>
       </div>
     </div>
   </div>
 </section>
</div>
