<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Specs</h2>
 <section id="product-specs" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div id="product-specs-new" class="wrapper wrapper--large wrapper--max_height">
       <div class="large--one-third grid__item">
     
            <div class="row-medium">
              <div class="spec-title">Cooktop</div>
              <div class="spec-desc light"><span>13.25” diameter (33.66 cm)<br> 138 in² cooking area (350.52 cm²)</span></div>
            </div>
            
            <div class="row-medium">
              <div class="spec-title">Charging Time</div>
              <div class="spec-desc light"><span>30 min of charging = 5 hours talk time, 5 hours video, 20 hours of audio (average smartphone)</span></div>
            </div>
            
            <div class="row">
              <div class="spec-title">Battery</div>
              <div class="spec-desc light"><span>Lithium ion, 2200mAh</span></div>
            </div>
           
          
       </div>
       <div class="large--one-third grid__item">
          <div class="row-medium">
              <div class="spec-title">Weight</div>
              <div class="spec-desc light"><span>17.92 lbs, 8.16 kg</span></div>
            </div>
            <div class="row-medium">
              <div class="spec-title">Fuel</div>
              <div class="spec-desc light"><span>Solid biomass (twigs, firewood, wood chunks etc)</span></div>
            </div>
            <div class="row">
              <div class="spec-title">USB Power Output</div>
              <div class="spec-desc light"><span>5W@5V, charging times vary by strength of fire</span></div>
            </div>
      
        
           
       
       </div>
       <div class="large--one-third grid__item">
          
            
            <div class="row-medium">
              <div class="spec-title">Compatible Devices</div>
              <div class="spec-desc light"><span>Powers most USB-chargeable devices including smartphones</span></div>
            </div>
            <div class="row-medium">
              <div class="spec-title">Materials</div>
              <div class="spec-desc light"><span>Stainless steel, cast iron, high-temperature plastic</span></div>
            </div>
            <div class="row">
              <div class="spec-title">In The Box</div>
              <div class="spec-desc light"><span>BioLite BaseCamp<br>Firestarters<br>Fuel Rack<br>Ash Tray<br>Gooseneck USB light<br>Instructions</span></div>
            </div>
         
           <div class="row-tight">
             <div class="spec-title"></div>
             <div class="spec-desc"><span><a href="https://www.p65warnings.ca.gov/" style="text-decoration:underline;" target="_blank"><strong>Prop 65 Warning</strong></a></span></div>
         </div>
       </div>
     </div>
   </div>
 </section>
</div>

