<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Specs</h2>
 <section id="product-specs" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div id="product-specs-new" class="wrapper wrapper--large wrapper--max_height">
    
       
       <div class="large--one-third grid__item">
         <div class="row">
           <div class="spec-title">Water Quality</div>
           <div class="spec-desc light"><span>Removes 99.999999% of Bacteria, 99.999% of Microplastics, 99.999% of parasites and 99.999% of viruses</span></div>
 	
        </div> 
       
       </div>
       
       <div class="large--one-third grid__item">
              <div class="row-tight">
           <div class="spec-title">Filter Capacity</div>
           <div class="spec-desc light"><span>18,000 L (4755 gallons)</span></div>
         </div>
         
         
        <div class="row-tight">
            <div class="spec-title">Dimensions</div>
           <div class="spec-desc light">Hose length: 39.37in<br>Filter size: 12.59in</div>
                  </div>   
         
         <div class="row-tight">
           <div class="spec-title">Filter Lifetime</div>
           <div class="spec-desc light"><span>1,000 gallons (4,000 liters).</span></div>
 	
        </div> 

         
             </div>
 
        <div class="large--one-third grid__item">
          <div class="row-tight">
            <div class="spec-title">Weight</div>
           <div class="spec-desc light">1.17 lbs (18.69 oz)</div>
                  </div>
            <div class="row-tight">
           <div class="spec-title">Materials</div>
           <div class="spec-desc light"><span>Food grade materials (US FDA 21 CFR standards)</span></div>
 	
        </div>
        
          
       
       
       </div>
    
       
       
     </div>
   </div>    
 </section>
</div>
