<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Specs</h2>
 <section id="product-specs" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div id="product-specs-new" class="wrapper wrapper--large wrapper--max_height">
    
       
       <div class="large--one-third grid__item">
         <div class="row-tight">
           <div class="spec-title">Weight</div>
           <div class="spec-desc light"><span>148 g (5.2 oz)</span></div>
        </div> 
       
         
      
       </div>
       
       <div class="large--one-third grid__item">
         
         <div class="row-tight">
           <div class="spec-title">Dimensions</div>
           <div class="spec-desc light"><span>23.4 x 2.2 x 0.5 in (59 x 5.6 x 1.4 cm)</span></div>
         </div>
   
         
             </div>
 
        <div class="large--one-third grid__item">
         <div class="row-tight">
            <div class="spec-title">Materials</div>
           <div class="spec-desc light">Stainless steel, silicone rubber</div>
                  </div>
       
       
       
       </div>
    
       
       
     </div>
   </div>    
 </section>
</div>
