<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Specs</h2>
 <section id="product-specs" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div id="product-specs-new" class="wrapper wrapper--large wrapper--max_height">
    
       <div class="large--one-third grid__item">
         <div class="row-tight">
           <div class="spec-title">Weight</div>
           <div class="spec-desc light"><span>1.29 lbs (587 g) </span></div>
         </div>
 		
         <div class="row-tight">
              <div class="spec-title">Lumens</div>
              <!--<div class="spec-desc light"><img src="https://cdn.shopify.com/s/files/1/0666/9741/files/NanoGrid_burnTimes_final.svg?13166565332115529284" alt="NanoGrid burn times"></div>-->
         <div class="spec-desc light"><span>500 Lm</span></div>

            </div>
         
         <div class="row-tight">
           <div class="spec-title">Dimensions</div>
           <div class="spec-desc light"><span>5.08 x 5.0 x 1.73 in<br />
             (129 x 127 x 44 mm)</span></div>
            </div>  
         
          <div class="row-tight">
           <div class="spec-title">Inputs</div>
           <div class="spec-desc light"><span>Micro USB</span>
              </div>
         </div>

        
       </div>
       
       <div class="large--one-third grid__item">
         <div class="row-tight">
           <div class="spec-title">Battery</div>
           <div class="spec-desc light"><span>7800 mAh</span></div>
         </div>
         
           <div class="row-tight">
           <div class="spec-title">Outputs</div>
           <div class="spec-desc light"><span>USB x2<br />SiteLights port x2</span></div>
         </div> 
         
         <div class="row-full">
           <div class="spec-title">Bluetooth App</div>
           <div class="spec-desc light"><span>Runs on Bluetooth Low Energy (LE). Compatible with Android (4.3 and up) and iOS (10.0 and up). App not required for basic lantern functionality.</span></div>
            </div>  


        
         
        

                   

       </div>
        
        <div class="large--one-third grid__item">

            
           <div class="row-tight">
           <div class="spec-title">Burn Time (Hrs)</div>
           <div class="spec-desc light"><span>54 LO / 5 HI</span></div>
         </div>
         
            <div class="row-tight">
            <div class="spec-title">Water Resistance</div>
           <div class="spec-desc light"><span>IPX4</span>
           </div>
           </div>   
            
          <div class="row-tight">
            <div class="spec-title">In The Box</div>
           <div class="spec-desc light"><span>BaseLantern, USB cord, Instructions</span>
           </div>
           </div> 

         
   </div>
     
     </div>
   </div>    
 </section>
</div>
