<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Specs</h2>
 <section id="product-specs" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div id="product-specs-new" class="wrapper wrapper--large wrapper--max_height">
       <div class="large--one-third grid__item">
     
            <div class="row-medium">
              <div class="spec-title">Burn Time</div>
              <div class="spec-desc light"><span>Fan Low: 24 Hours<br>Fan Medium: 10 Hours<br>Fan High: 5 Hours</span></div>
            </div>
            
            <div class="row-medium">
              <div class="spec-title">Dimensions</div>
              <div class="spec-desc light"><span>Legs Unfolded: 27" wide x 13" deep 15.8" high (68.6 x 33 x 40.1 cm)<br>Legs Folded: 10.5" high (26.7 cm) </span></div>
            </div>
            
            <div class="row">
              <div class="spec-title">Fuel</div>
              <div class="spec-desc light"><span>Firewood or charcoal</span></div>
            </div>
           
          
       </div>
       <div class="large--one-third grid__item">
          <div class="row-medium">
              <div class="spec-title">Weight</div>
              <div class="spec-desc light"><span>19.8 lbs (8.98 kg)</span></div>
            </div>
            <div class="row-medium">
              <div class="spec-title">Outputs</div>
              <div class="spec-desc light"><span>USB A</span></div>
            </div>
            <div class="row">
              <div class="spec-title">Inputs</div>
              <div class="spec-desc light"><span>Micro USB</span></div>
            </div>
      
        
           
       
       </div>
       <div class="large--one-third grid__item">
          
            
            <div class="row-medium">
              <div class="spec-title">Free Bluetooth App</div>
              <div class="spec-desc light"><span>Compatible with iOS 10.0+ and Android 4.3+ </span></div>
            </div>
            <div class="row-medium">
              <div class="spec-title">In The Box</div>
              <div class="spec-desc light"><span>FirePit<br>Rain Cover<br>Grill Grate<br>Fuel Rack<br>USB A to Micro USB Cord</span></div>
            </div>
         
           <div class="row-tight">
             <div class="spec-title"></div>
             <div class="spec-desc"><span><a href="https://www.p65warnings.ca.gov/" style="text-decoration:underline;" target="_blank"><strong>Prop 65 Warning</strong></a></span></div>
         </div>
         
       </div>
     </div>
   </div>
 </section>
</div>

