<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Specs</h2>
 <section id="product-specs" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div id="product-specs-new" class="wrapper wrapper--large wrapper--max_height">
         <div class="large--one-third grid__item">
            <div class="row-medium">
              <div class="spec-title">Page Count</div>
              <div class="spec-desc light"><span>48 pages  </span></div>
            </div>
       </div>
       
       <div class="large--one-third grid__item">
            <div class="row-medium">
              <div class="spec-title">Size</div>
              <div class="spec-desc light"><span>5.5 x 8.5 in </span></div>
            </div>
       </div>
       
       <div class="large--one-third grid__item">
          <div class="row-medium">
              <div class="spec-title">Printing</div>
              <div class="spec-desc light"><span>Printed on 100% Recycled Paper. Printed in the USA.</span></div>
            </div>
          
       
       </div>
    
     </div>
   </div>
 </section>
</div>

