{% comment %}
  This is Tech Specs portion for the product: BaseCamp Carry Pack
  You can replace the .product-specs__img with an image you upload onto Shopify.

  Begin editing below this comment
{% endcomment %}

<div id="product-specs__expander" class="product-specs__expander">
  <div class="product-specs__body border-bottom--none">

    <div class="product-specs__top clearfix border-bottom">
      <div class="grid__item large--one-half border-right">
        <table class="product-specs__table">
          <tbody>
            <tr>
              <td class="spec-title">Materials</td>
              <td class="spec-desc"><span>Canvas body, nylon strap, metal hook</span></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="grid__item large--one-half pl30 pl0--mobile">
        <table class="product-specs__table">
          <tbody>
            <tr>
              <td class="spec-title">Weight</td>
              <td class="spec-desc"><span>1.25 lbs (567 g)</span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div><!-- .product-specs__top -->
  </div>
</div>
