<div class="mobile-wrapper closed product-compare-bundle--{{ product.handle | remove: 'biolite-'  }}">
 <h2 class="mobile-title">Included in Bundle</h2>
 <section id="product-compare-bundle" class="product-compare-bundle product-compare-bundle--{{ product.handle | remove: 'biolite-'  }} mobile-wrapper-content">
	 <div class="product-compare-bundle wrapper wrapper--full_height wrapper--large">
<table class="compare-table-bundle table-with-footer">
  <thead>
    <tr style="background-color:#fff;">
   
      <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="//cdn.shopify.com/s/files/1/0666/9741/products/SiteLightMini_1_medium.jpg" width="150" alt="SiteLight Mini" title="SiteLight Mini" />
<div class="bundle-number mb10 ">
        <span class="inside-count">1</span>
      </div>  
        <span class="mt20"><strong><a href="http://www.bioliteenergy.com/products/sitelight-mini" style="color:#262729" target="_blank" title="PowerLight">SiteLight Mini</a><br></strong></span>
      </th>
 
       <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="//cdn.shopify.com/s/files/1/0666/9741/products/SiteLight_3_61c7a75d-a7ba-42de-bae6-3d7459c57fb4_medium.jpeg"  width="150" alt="SiteLight" title="SiteLight" />
<div class="bundle-number mb10 ">
        <span class="inside-count">2</span>
      </div>  
         <span class="mt20"><strong><a href="http://www.bioliteenergy.com/products/sitelight" style="color:#262729" target="_blank" title="SiteLight">SiteLight</a></strong></span>
      </th>
                 <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="//cdn.shopify.com/s/files/1/0666/9741/products/SiteLightXL_1_medium.jpg" width="150" alt="SiteLight XL" title="SiteLight XL" />
<div class="bundle-number mb10 ">
        <span class="inside-count">3</span>
      </div>  
        <span class="mt20"><strong><a href="http://www.bioliteenergy.com/products/sitelight-xl" style="color:#262729" target="_blank" title="SiteLight XL">SiteLight XL</a></strong></span>
      </th>
   
      
   
     
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>150 lumens total (across 4 lights)</td>
      <td>300 lumens total (across 2 lights) </td>
      <td>300 lumens</td>

    </tr>
    <tr>
      <td>10 ft (3 m) cord length</td>
            <td>10 ft (3 m) cord length per light </td>

      <td>15 ft (4.5 m) cord length</td>

    </tr>
    <tr>
      <td>Powered by PowerLight or included USB adapter</td>
	  <td>Powered by PowerLight or included USB adapter</td>
      <td>Powered by PowerLight or included USB adapter</td>

    </tr>
    <tr>
      <td>Weight: 2.5 oz (70g)</td>
            <td>Weight: 1.83 oz (52 g) per light</td>

      <td>Weight: 3.25 oz (92 g)</td>



    </tr>
  
 
  </tbody>

</table>


<!-- Mobile Tables -->
       
       <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="//cdn.shopify.com/s/files/1/0666/9741/products/SiteLightMini_1_medium.jpg" alt="SiteLight Mini" title="SiteLight Mini" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">1</span>
      </div> 
         <span class=""><strong>SiteLight Mini</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>150 lumens total (across 4 lights)</td>
    </tr>
    <tr>
      <td>10 ft (3 m) cord length</td>
    </tr>
    <tr>
      <td>Powered by PowerLight or included USB adapter</td>
    </tr>
    <tr>
      <td>Weight: 2.5 oz (70g)</td>
    </tr>
    
    
   
  </tbody>

</table>

       
       
<table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="//cdn.shopify.com/s/files/1/0666/9741/products/SiteLight_3_61c7a75d-a7ba-42de-bae6-3d7459c57fb4_medium.jpeg" alt="SiteLight" title="SiteLight" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">2</span>
      </div> 
         <span class=""><strong>SiteLight</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>300 lumens total (across 2 lights) </td>
    </tr>
    <tr>
            <td>10 ft (3 m) cord length per light </td>
    </tr>
    <tr>
      <td>Powered by PowerLight or included USB adapter</td>
    </tr>
    <tr>
      <td>Weight: 1.83 oz (52 g) per light</td>
    </tr>
    
     </tbody>

</table>
       
<table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="//cdn.shopify.com/s/files/1/0666/9741/products/SiteLightXL_1_medium.jpg" alt="SiteLight XL" title="SiteLight XL" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">2</span>
      </div> 
         <span class=""><strong>SiteLight XL</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>300 lumens</td>
    </tr>
    <tr>
      <td>15 ft (4.5 m) cord length</td>
    </tr>
    <tr>
      <td>Powered by PowerLight or included USB adapter</td>
    </tr>
    <tr>
      <td>Weight: 3.25 oz (92 g)</td>
    </tr>
    
     </tbody>

</table>

       



	 </div>
 </section>
</div>
