<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Specs</h2>
 <section id="product-specs" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div id="product-specs-new" class="wrapper wrapper--large wrapper--max_height">
    
       <div class="large--one-third grid__item">
         <div class="row-tight">
           <div class="spec-title">Weight</div>
           <div class="spec-desc light"><span>8.9 lbs <br>(3.98 kg)</span></div>
 	
        </div> 
       </div>
       
       <div class="large--one-third grid__item">
         <div class="row-tight">
           <div class="spec-title">Dimensions</div>
           <div class="spec-desc light"><span>19.3 x 9.5 x 2.0 in<br> (49 x 24 x 5 cm)</span></div>
         </div>
         
             </div>
 
  <div class="large--one-third grid__item">
         <div class="row-tight">
           <div class="spec-title">Cooking Surface</div>
           <div class="spec-desc light"><span>130 sq in<br>850 sq cm</span></div>
         </div>
         
             </div>
     
     </div>
   </div>    
 </section>
</div>
