<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Specs</h2>
 <section id="product-specs" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div id="product-specs-new" class="wrapper wrapper--large wrapper--max_height">
    
       
       <div class="large--one-third grid__item">
         <div class="row-tight">
           <div class="spec-title">Length</div>
           <div class="spec-desc light"><span>16" (40.64 cm)</span></div>
 	
        </div> 
          <div class="row-tight">
           <div class="spec-title">Weight</div>
           <div class="spec-desc light"><span>1.80 oz (51.03 g)</span></div>
 	
        </div> 
       </div>
       
       <div class="large--one-third grid__item">
         <div class="row-tight">
           <div class="spec-title">Lumens</div>
           <div class="spec-desc light"><span>100 Lm</span></div>
         </div>
         
             </div>
 
        <div class="large--one-third grid__item">
         <div class="row-tight">
            <div class="spec-title">USB</div>
           <div class="spec-desc light"><span>1.25 watts (5V, 0.25A)</span></div>
                  </div>       
 		  </div>
    
       
       
     </div>
   </div>    
 </section>
</div>
