<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Specs</h2>
 <section id="product-specs" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div id="product-specs-new" class="wrapper wrapper--large wrapper--max_height">
    
       <div class="large--one-third grid__item">
         <div class="row-tight">
           <div class="spec-title">Materials</div>
           <div class="spec-desc light"><span>Premium hardwood blend</span></div>
         </div> 
  <div class="row-tight">           <div class="spec-title">Weight</div>
           <div class="spec-desc light"><span>2.20 lbs (1000g)</span></div>
         </div>
  <div class="row-tight">           <div class="spec-title">Total Burn Time</div>
           <div class="spec-desc light"><span>2 Hours</span></div>
         </div>
       </div>
       
       <div class="large--one-third grid__item">
  <div class="row-tight">           <div class="spec-title">Boil Capacity</div>
           <div class="spec-desc light"><span>15L (during 2 hour burn)</span></div>
         </div>
  <div class="row-tight">           <div class="spec-title">In the Bag</div>
           <div class="spec-desc light"><span>Pellets, Firestarter</span></div>
         </div>
         
             </div>
 
        <div class="large--one-third grid__item">
  <div class="row-tight">
    <div class="spec-title">Recommended for Use With</div>
           <div class="spec-desc light">BioLite CampStove, BioLite CookStove</div>
         </div>
  <div class="row-tight">
    <div class="spec-title">For Outdoor Use Only</div>
           <div class="spec-desc light"></div>
         </div>
          
            <div class="row-tight">
             <div class="spec-title"></div>
             <div class="spec-desc"><span><a href="https://www.p65warnings.ca.gov/" style="text-decoration:underline;" target="_blank"><strong>Prop 65 Warning</strong></a></span></div>
         </div>

         
   </div>
     
     </div>
   </div>    
 </section>
</div>
