<div class="mobile-wrapper closed product-compare-bundle--{{ product.handle | remove: 'biolite-'  }}">
 <h2 class="mobile-title">Included in Bundle</h2>
 <section id="product-compare-bundle" class="product-compare-bundle product-compare-bundle--{{ product.handle | remove: 'biolite-'  }} mobile-wrapper-content">
	 <div class="product-compare-bundle wrapper wrapper--full_height wrapper--large">
<table class="compare-table-bundle table-with-footer">
  <thead>
    <tr style="background-color:#fff;">
       <th class="border-bottom pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="//cdn.shopify.com/s/files/1/0666/9741/products/SolarPanel5__1_medium.jpeg" width="150" alt="SolarPanel 5+" title="SolarPanel 5+" />
<div class="bundle-number mb10 ">
        <span class="inside-count">1</span>
      </div>         
         <span class="mt20"><strong><a href="http://www.bioliteenergy.com/products/solarpanel-5-plus" style="color:#262729" target="_blank" title="SolarPanel 5+">SolarPanel 5+</a></strong></span>
      </th>
      <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="http://cdn.shopify.com/s/files/1/0666/9741/products/SiteLightMini_1_medium.jpg" width="150" alt="SiteLight Mini" title="SiteLight Mini" />
<div class="bundle-number mb10 ">
        <span class="inside-count">2</span>
      </div>  
        <span class="mt20"><strong><a href="http://www.bioliteenergy.com/products/sitelight-mini" style="color:#262729" target="_blank" title="SiteLight Mini">SiteLight Mini x2</a><br></strong></span>
      </th>
    
       
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>5 watts of real time power</td>
      <td> 150 total lumens (across 4 lights)</td>

    </tr>
    <tr>
      <td>2200 mAh on-board battery</td>
      <td>USB adapter included to plug directly into SolarPanel 5+</td>
          
    </tr>
    <tr>
      <td>10.12 x 8.19 x 0.94" (257 x 208 x 24 mm)</td>
      <td>10 ft (3 m) cord length</td>

    </tr>
    <tr>
      <td>Weight: 13.76 oz (390 g))</td>
      <td>Weight: 2.5 oz (70g)</td>
	  
    </tr>
  
 
  </tbody>

</table>


<!-- Mobile Tables -->
       
       <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="//cdn.shopify.com/s/files/1/0666/9741/products/FlexLight_3_large.jpeg?v=1455122487" alt="FlexLight 3" title="FlexLight 3" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">1</span>
      </div> 
         <span class=""><strong>CampStove + FlexLight</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>A smokeless campfire that can cook meals and boil water in minutes</td>
    </tr>
    <tr>
      <td>Generate usable electricity for charging lights phones, and other devices</td>
    </tr>
    <tr>
      <td>Burns renewable biomass - twigs, pinecone, wood pellets</td>
    </tr>
    <tr>
      <td>Weight: 2.06 lbs (33 oz)</td>
    </tr>
    
    
   
  </tbody>

</table>

       
       
<table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="//cdn.shopify.com/s/files/1/0666/9741/products/NanoGrid_2_a34badab-aa85-4620-b5cf-5179ec7922fe_large.jpeg?v=1455122510" alt="NanoGrid 2" title="NanoGrid 2" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">2</span>
      </div> 
         <span class=""><strong>PowerLight</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>250 Lm torch; 200 Lm lantern</td>
    </tr>
    <tr>
      <td>4400 mAh battery for charging up to 4 phones</td>
    </tr>
    <tr>
      <td>Burn time (hours): 72 LO/ 6.5 HI</td>
    </tr>
    <tr>
      <td>Weight: 7.05 oz (210 g)</td>
    </tr>
    
    
   
  </tbody>

</table>
       

       
       <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="//cdn.shopify.com/s/files/1/0666/9741/products/SolarPanel5_product1_large.jpeg?v=1455122397" alt="SolarPanel 5" title="SolarPanel 5" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">3</span>
      </div> 
         <span class=""><strong>SolarPanel 5</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>5 watts of real time power</td>
    </tr>
    <tr>
      <td>IPX4 Rated</td>
    </tr>
    <tr>
	  <td>Dimensions: 10.12 x 8.19 in (257 x 208 mm) </td>
    </tr>
    <tr>
	  <td>Weight:  12oz (340g)</td>
    </tr>
    
    
   
  </tbody>

</table>
       
       
              <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="//cdn.shopify.com/s/files/1/0666/9741/products/Grill_4_large.jpeg?v=1455122574" alt="Grill 4" title="Grill 4" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">4</span>
      </div> 
         <span class=""><strong>Portable Grill</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Cook your favorite meals over wood</td>
    </tr>
    <tr>
      <td>Cooking area: 55 sq inches</td>
    </tr>
    <tr>
	  <td>Folded Size: 9.5 x 12 x 3.5 in (24.13 x 30.48 x 8.89 cm)</td>
    </tr>
    <tr>
      <td>Weight: 1.88 lbs (850 g)</td>
    </tr>
    
    
   
  </tbody>

</table>

       
       
       
              
              <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="//cdn.shopify.com/s/files/1/0666/9741/products/KettlePot_2_large.jpeg?v=1455122565" alt="KettlePot 2" title="KettlePot 2" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">5</span>
      </div> 
         <span class=""><strong>KettlePot</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>A true grab-and-go system - ours like a kettle and cooks like a pot </td>
    </tr>
    <tr>
      <td>Doubles as a carry case for CampStove</td>
    </tr>
    <tr>
      <td>Max fill: 1.5 liters</td>
    </tr>
    <tr>
      <td>Weight: 1.03 lbs (465 g)</td>
    </tr>
    
    
   
  </tbody>

</table>
       
       
       
                     <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="//cdn.shopify.com/s/files/1/0666/9741/products/SiteLight_1_large.jpeg?v=1455122503" alt="SiteLight 1" title="SiteLight 1" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">6</span>
      </div> 
         <span class=""><strong>SiteLight</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Compact, overhead string lighting</td>
    </tr>
   
    <tr>
      <td>150 lumens per light</td>
    </tr>
    <tr>
      <td>10 ft (3 m) of cord per light</td>
    </tr>
   
    <tr>
      <td>Weight: 1.83 oz (52 g) per light</td>
    </tr>
    
    
    
   
  </tbody>

</table>

       
       



	 </div>
 </section>
</div>
