<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Specs</h2>
 <section id="product-specs" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div id="product-specs-new" class="wrapper wrapper--large wrapper--max_height">
    
       <div class="large--one-third grid__item">
  <div class="row-tight">
    <div class="spec-title">In The Box</div>
    <div class="spec-desc light"><p>1. Lid/plate (500 ml)</p>
<p>2. Plate/bowl (900 ml)</p> 
<p>3. SnapBox original, waterproof (170 ml)</p>
<p>4. SnapBox oval, waterproof (320 ml)</p>

</div>
  
         
   </div>
     
     </div>
       
       <div class="large--one-third grid__item">
         
         <div class="row-tight">
           <div class="spec-desc light"><span><p>5. Pack-up-Cup with measuring lines (260 ml)</p>
<p>6. Combined strainer and cutting board</p>
<p>7. Spork original</p>
      <p>8. Harness</p></span></div>
         </div> 
         
         
       </div>
       
       <div class="large--one-third grid__item">
  
           <div class="row-tight">
           <div class="spec-title">Material</div>
           <div class="spec-desc light"><span>PP- polypropolene, Spork made of Tritan, Harness made of TPE.</span></div>
         </div> 
  <div class="row-tight">           
    <div class="spec-title">Weight</div>
           <div class="spec-desc light"><span>384 g</span></div>
         </div>
       </div>
        
           
             
 
     </div>    
   </div>    
 </section>
</div>
