{% comment %}
  This is Tech Specs portion for the product: Hammock Camping Special.
  You can replace the .product-specs__img with an image you upload onto Shopify.

  Begin editing below this comment
{% endcomment %}

<div id="product-specs__expander" class="product-specs__expander">
  <div class="product-specs__body">

    <div class="product-specs__top clearfix border-bottom">
      <div class="grid__item large--one-half border-right">
        <table class="product-specs__table">
          <tbody>
                         <h6 class="mb20 pl10">CampStove</h6>

       <tr>
              <td class="spec-title">Charging Time</td>
              <td class="spec-desc"><span>iPhone 4S (2G): 20 minutes of charging provides 60 minutes of talk time. Charging times vary by device and by strength of fire</span></td>
            </tr>
            
            <tr>
              <td class="spec-title">Weight</td>
              <td class="spec-desc"><span><strong>CampStove:</strong> 33 oz (935 g)</span></td>
            </tr>
            
            <tr>
              <td class="spec-title">Fuel</td>
              <td class="spec-desc"><span>Renewable Biomass <br/> (twigs, pinecone, wood pellets, etc.)</span></td>
            </tr>
            <tr>
              <td class="spec-title">Fire Quality</td>
              <td class="spec-desc"><span>1.6 oz (46 grams) of wood to boil <br/> 1 liter of water</span></td>
            </tr>
            <tr>
              <td class="spec-title">Fire Power Output</td>
              <td class="spec-desc"><span>Peak: 3.4 kW (LO), 5.5 kW (HI)</span></td>
            </tr>
            <tr>
              <td class="spec-title">Boil Time</td>
              <td class="spec-desc"><span>4.5 minutes to boil 1 liter of water <br/> Boiling times vary by strength of fire</span></td>
            </tr>
            
            <tr>
              <td class="spec-title">Dimensions</td>
              <td class="spec-desc"><span><strong>CampStove: </strong>Height 8.25 inches (209.6 mm) <br/> Width 5 inches (127 mm)</span></td>
            </tr>
            
            <tr>
              <td class="spec-title">Compatible Devices</td>
              <td class="spec-desc"><span>Powers most USB-chargeable <br/> devices including smart phones</span></td>
            </tr>
            <tr>
              <td class="spec-title">USB Power Output</td>
              <td class="spec-desc"><span>Max Continuous: 2W @5V <br/> Peak: 4W @5V</span></td>
            </tr>
            <tr>
              <td class="spec-title">Charging Time</td>
              <td class="spec-desc"><span>iPhone 4S (2G): 20 minutes of <br/> charging provides 60 minues of <br/> talk time. Charging times vary by <br/>device and by strength of fire</span></td>
            </tr>
            
            
            
     

           
          </tbody>
        </table>
      </div>

      <div class="grid__item large--one-half pl30 pl0--mobile">
        <table class="product-specs__table">
          <tbody>
             <h6 class="mb20 pl10">Kammock Roo and Accessories</h6>

             <tr>
              <td class="spec-title">Weight</td>
              <td class="spec-desc"><span><strong>Roo</strong> - 24oz (680.39g) with carabiners
              <br/>
              <strong>Python Straps</strong> - 12 oz (340.19g)
              <br/>
              <strong>Dragonfly</strong> - 10.5 oz (297.67g) with ridgeline/guyline
            </span></td>
            </tr>
            

            <tr>
              <td class="spec-title">Length</td>
              <td class="spec-desc"><span><strong>Roo</strong> - 5’7’’x10’ (170cm x 300cm)
              <br/>
              <strong>Python Straps</strong> - 0.75’’ x 10’ (1.9cm x 300cm)
              <br/>
              <strong>Dragonfly</strong> - 10’ x 4.5’ (304.8cm x 137.16cm)</span></td>
            </tr>
            
       
                <tr>
              <td class="spec-title">Diameter</td>
              <td class="spec-desc"><span><strong>Roo</strong> - 5’’ diameter (6’’high)
              <br/>
              <strong>Python Straps</strong> - 4’’ diameter (5.5’’ high)
              <br/>
              <strong>Dragonfly</strong> - 4.75’’ diameter (7’’ high)</span></td>
            </tr>
            
            
           

               <tr>
              <td class="spec-title">Capacity</td>
              <td class="spec-desc"><span><strong>Roo</strong> - 500lbs total
              <br/>
              <strong>Python Straps</strong>
              <strong>Dragonfly</strong> </span></td>
            </tr>
            
         
           
            <tr>
              <td class="spec-title">Set Up</td>
              <td class="spec-desc"><span><strong>Roo</strong> - USB charge out; 2.5mm connector 
              <br/>
              <strong>Python Straps</strong> - 500lbs total
              <br/>
            </span>
          </td>
            </tr>
            
            
       
              <tr>
              <td class="spec-title">Guarantee</td>
              <td class="spec-desc"><span><strong>Roo</strong> - 100% Satisfaction Guarantee & Lifetime Warranty
              <br/>
              <strong>Python Straps</strong> - 100% Satisfaction Guarantee & Lifetime Warranty
              <br/>
              <strong>Dragonfly</strong> - 100% Satisfaction Guarantee & Lifetime Warranty</span></td>
            </tr>
            
           
                  <tr>
              <td class="spec-title">In the Box</td>
              <td class="spec-desc"><span><strong>Roo</strong> - 2 carabiners
Reflective Drawstrings, Nylon Ripstop Shell, Outer Layer Finish (DWT Finish)

              <br/>
              <strong>Python Straps</strong> - 
              <ul>
                <li> Reflective Drawstrings </li>
                <li> Nylon Ripstop Shell </li>
                <li> Outer layer (DWT Finish) </li>
                <li> Double stitched seams </li>
                <li> Reinforced Stress Points </li>
              </ul>
        </span></td>
            </tr>
            
            

          </tbody>
        </table>
      </div>
    </div><!-- .product-specs__top -->



   

  </div>

    <div class="product-specs__expander-btn btn-circle-tab btn-circle-tab--bottom" data-control-toggle-icons="fa-plus, fa-minus" data-control-toggle-icons="fa-plus, fa-minus" data-control-expander="#product-specs__expander">
      <i class="fa fa-plus"></i>
    </div>
    <footer class="product-specs-curtain__footer text-center">
      <small class="caps gray-light alt"><span data-control-text-target="">Complete Specifications</span></small>
    </footer>
</div>
