<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Specs</h2>
 <section id="product-specs" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div id="product-specs-new" class="wrapper wrapper--large wrapper--max_height">

              <div class="large--one-third grid__item">
  <div class="row-tight">           <div class="spec-title">Features</div>
    <div class="spec-desc light"><span><p>Small Form factor, with built in keyring hole- it is just over 2 inches in height, shorter than most car keys.</p>  
      <p>Anodized using premium materials</p>
      <p>Bottle opener</p>
</span></div>
         </div>
          
             </div>
       
       
       <div class="large--one-third grid__item">
         <div class="row-tight">
           <div class="spec-title">Materials</div>
           <div class="spec-desc light"><span>Made from 6061 CNC’d Aircraft Grade Aluminum</span></div>
         </div> 
  <div class="row-tight">           <div class="spec-title">Weight</div>
           <div class="spec-desc light"><span>0.65oz</span></div>
         </div>
       </div>
       

 
        <div class="large--one-third grid__item">
  
    <div class="row-tight">           
    <div class="spec-title">Capacity</div>
           <div class="spec-desc light"><span>Can hold over 100lbs when used as a hook/table hanger</span></div>
         </div>
          
          <div class="row-tight">
    <div class="spec-title">Made in the USA</div>
           <div class="spec-desc light"> </div>
         </div>
 
         
   </div>
     
     </div>
   </div>    
 </section>
</div>
