<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Specs</h2>
 <section id="product-specs" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div id="product-specs-new" class="wrapper wrapper--large wrapper--max_height">
     
       <div class="large--one-third grid__item">
         
           <div class="row-medium">
              <div class="spec-title">Weight</div>
              <div class="spec-desc light"><span>Mug: 0.59 lbs (12 oz)<br>2oz per packet</span></div>
            </div>  
         
         <div class="row-medium">
              <div class="spec-title">Coffee Blend</div>
              <div class="spec-desc light"><span>Medium Roast, Notes of Cocoa, Wood &amp; Honey</span></div>
            </div> 
          
       </div>
       
 <div class="large--one-third grid__item">
          <div class="row-medium">
              <div class="spec-title">Mug Size</div>
              <div class="spec-desc light"><span>3.25 x 4 x 4.5 in<br>(8.3 x 10.2 x 11.4 cm) </span></div>
            </div>   
   
   <div class="row-medium">
              <div class="spec-title">Coffee Serving Size</div>
              <div class="spec-desc light"><span>1 Pouch = Cups of Coffee</span></div>
            </div>
           
   
       </div>
       
<div class="large--one-third grid__item">
             <div class="row-medium">
              <div class="spec-title">Mug Material</div>
              <div class="spec-desc light"><span>Stainless Steel<br>Powder Coated Outside<br>BPA Free Lid</span></div>
            </div>
       </div>
    
     </div>
   </div>
 </section>
</div>

  






