<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Specs</h2>
 <section id="product-specs" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div id="product-specs-new" class="wrapper wrapper--large wrapper--max_height">
       <div class="large--one-third grid__item">
         <div class="row-tight">
           <div class="spec-title">Weight</div>
           <div class="spec-desc light"><span>1.21 lbs (550g)</span></div>
         </div>

         <div class="row-tight">
           <div class="spec-title">Battery</div>
           <div class="spec-desc light"><span>3200 mAh</span></div>
         </div>
 <div class="row">
           <div class="spec-title">Weather Resistance</div>
           <div class="spec-desc light"><span>IPX4</span></div>
         </div>
       
       </div>
 
       <div class="large--one-third grid__item">
         <div class="row-tight">
           <div class="spec-title">Inputs &amp; Outputs</div>
           <div class="spec-desc light"><span>Micro USB charge in<br />
USB Charge out</span></div>
         </div>
        
         <div class="row-tight">
           <div class="spec-title">Power Output</div>
           <div class="spec-desc light"><span>10 watts at peak sun</span></div>
         </div>

         
          
       </div>
       <div class="large--one-third grid__item">
         
        <div class="row-tight">
           <div class="spec-title">Dimensions</div>
           <div class="spec-desc light"><span>10.12 x 8.19 x 0.94 in<br>
             (257 x 208 x 24 mm)</span></div>
         </div>
         <div class="row-tight">
           <div class="spec-title">In The Box</div>
           <div class="spec-desc light"><span>SolarPanel 10+, USB cable, instructions</span></div>
         </div>

         
       </div>
     </div>
   </div>
 </section>
</div>
