<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Specs</h2>
 <section id="product-specs" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div id="product-specs-new" class="wrapper wrapper--large wrapper--max_height">
    
       
       <div class="large--one-third grid__item">
                       <div class="row">
              <div class="spec-title">Cooking Area</div>
              <div class="spec-desc light"><span>55 sq inches</span></div>
            </div>
            
            <div class="row">
              <div class="spec-title">Folded Size</div>
              <div class="spec-desc light"><span>9.5 x 12 x 3.5 in (24.13 x 30.48 x 8.89 cm)</span></div>
            </div>
            </div>  

       
       <div class="large--one-third grid__item">
                        <div class="row">
              <div class="spec-title">Fuel</div>
              <div class="spec-desc light"><span>Solid biomass. For use with CampStove only</span></div>
            </div>
           <div class="row">
              <div class="spec-title">Weight</div>
              <div class="spec-desc light"><span>1.875 lbs (850 g)</span></div>
            </div>
       
            </div>

 
        <div class="large--one-third grid__item">
              <div class="row">
              <div class="spec-title">Unfolded Size</div>
              <div class="spec-desc light"><span>9.5 x 12 x 10.5 in (24.13 x 30.48 x 26.67 cm)</span></div>
            </div>
            
                <div class="row">
              <div class="spec-title">In The Box</div>
              <div class="spec-desc light"><span>BioLite Portable Grill, Instructions, Grill Cover</span></div>
            </div>
          
            <div class="row-tight">
             <div class="spec-title"></div>
             <div class="spec-desc"><span><a href="https://www.p65warnings.ca.gov/" style="text-decoration:underline;" target="_blank"><strong>Prop 65 Warning</strong></a></span></div>
         </div>
           </div> 
       
       
       
     </div>
   </div>    
 </section>
</div>
