<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Specs</h2>
 <section id="product-specs" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div id="product-specs-new" class="wrapper wrapper--large wrapper--max_height">
    
       <div class="large--one-third grid__item">
         <div class="row-tight">
           <div class="spec-title">Dimensions</div>
           <div class="spec-desc light"><span>51x34x12 cm (20x11.25x5.1 in)</span></div>
         </div> 
  <div class="row-tight">           <div class="spec-title">Weight</div>
           <div class="spec-desc light"><span>300 g (.66lbs)</span></div>
         </div>
       </div>
       
       <div class="large--one-third grid__item">
  <div class="row-tight">           <div class="spec-title">Volume</div>
           <div class="spec-desc light"><span>18L</span></div>
         </div>
  <div class="row-tight">           <div class="spec-title">Straps</div>
           <div class="spec-desc light"><span>Ultralight mesh shoulder straps</span></div>
         </div>
         
             </div>
 
        <div class="large--one-third grid__item">
  <div class="row-tight">
    <div class="spec-title">Compartments</div>
           <div class="spec-desc light">Front zippered pocket and large main compartment with internal hydration sleeve</div>
         </div>
  <div class="row-tight">
    <div class="spec-title">Material</div>
           <div class="spec-desc light">Durable yet lightweight ripstop nylon shell fabric</div>
         </div>

         
   </div>
     
     </div>
   </div>    
 </section>
</div>
