<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Specs</h2>
 <section id="product-specs" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div id="product-specs-new" class="wrapper wrapper--large wrapper--max_height">
    
       <div class="large--one-third grid__item">
  <div class="row-tight">
    <div class="spec-title">Weight</div>
    <div class="spec-desc light">1.6 lbs</div>
   </div>
    <div class="row-tight">
    <div class="spec-title">Minimum Weight</div>
    <div class="spec-desc light">22 oz / 650g (pump, tank, hose, head)</div>
   </div>
        
     </div>
       
       <div class="large--one-third grid__item">
         <div class="row-tight">
           <div class="spec-title">Pack Weight</div>
           <div class="spec-desc light">25 oz / 710g (with stuff sack)</div>
         </div> 
   <div class="row-tight">
           <div class="spec-title">Volume</div>
           <div class="spec-desc light">2.9gal/11l</div>
         </div> 
       </div>
       
       <div class="large--one-third grid__item">
  <div class="row-tight">           <div class="spec-title">Hose length</div>
           <div class="spec-desc light">7 foot hose</div>
         </div>
           
   <div class="row-tight">           <div class="spec-title">Shower Time</div>
           <div class="spec-desc light">5-7 minutes of water</div>
         </div>          </div>
 
        
   </div>    
 </section>
</div>
