<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Specs</h2>
 <section id="product-specs" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div id="product-specs-new" class="wrapper wrapper--large wrapper--max_height">
    
       
       <div class="large--one-third grid__item">
                        <div class="row-tight">
              <div class="spec-title">Lumens</div>
              <div class="spec-desc light"><span>150 Lm per light</span></div>
            </div>
            
            
      
            <div class="row-tight">
              <div class="spec-title">Outputs</div>
              <div class="spec-desc light"><span>2.5 mm connector</span></div>
            </div>
            <div class="row-tight">
              <div class="spec-title">Weight</div>
              <div class="spec-desc light"><span>1.83 oz (52 g) per light</span></div>
            </div>
          
           
                   </div>  

       
       <div class="large--one-third grid__item">
                     <div class="row-tight">
              <div class="spec-title">Cord Length</div>
              <div class="spec-desc light"><span><strong>SiteLight</strong> - 10 ft per light</span></div>
            </div>
            <div class="row-tight">
              <div class="spec-title">Dimensions</div>
              <div class="spec-desc light"><span>2.55 x 1.06 x 2.55 in (6.48 x 2.69 x 6.48 cm)</span></div>
            </div>
            
           
            </div>

 
        <div class="large--one-third grid__item">
  <!--<div class="row">
              <div class="spec-title">Burn Time</div>
         <div class="spec-desc light"><span>2 SiteLights: 36h LO/8h HI<br>4 SiteLights: 18h LO/6h HI</span></div>

            </div>-->
          
          <div class="row-tight">
              <div class="spec-title">Light Range</div>
              <div class="spec-desc light"><img src="https://cdn.shopify.com/s/files/1/0666/9741/files/SiteLight_Light_Range_v3.svg?16243794568716463870" alt="SiteLight light range"></div>
            </div>
            
            <div class="row-tight">
              <div class="spec-title">In the Box</div>
              <div class="spec-desc light"><span>BioLite SiteLight, USB Adapter, Instructions</span></div>
            </div>
           </div> 
       
       
       
     </div>
   </div>    
 </section>
</div>
