<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Specs</h2>
 <section id="product-specs" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div id="product-specs-new" class="wrapper wrapper--large wrapper--max_height">
    
       <div class="large--one-third grid__item">
         <div class="row-tight">
           <div class="spec-title">Dimensions</div>
           <div class="spec-desc light"><span>13.0" x 9.0" x 9.0"</span></div>
         </div> 
  <div class="row-tight">           <div class="spec-title">Volume</div>
           <div class="spec-desc light"><span>8.2 liters</span></div>
         </div>
       </div>
       
       <div class="large--one-third grid__item">
  <div class="row-tight">           <div class="spec-title">Materials</div>
           <div class="spec-desc light"><span>PVC free tarpaulin | Bag: 600D poly, 450D poly (printed)</span></div>
         </div>
  <div class="row-tight">           <div class="spec-title">Warranty</div>
           <div class="spec-desc light"><span>Lifetime warranty</span></div>
         </div>
         
             </div>
 
        <div class="large--one-third grid__item">
  <div class="row-tight">
    <div class="spec-title">Features</div>
    <div class="spec-desc light"><p>Fits up to 10 beverage cans or snacks for a small crowd</p>
             <p>Structured handles allow for comfortable transport</p>
             <p>Removable waterproof liner allows for easy cleaning</p>
             <p>Mesh zipper pouch under lid provides utensil storage</p></div>
         </div>
        
   </div>
     
     </div>
   </div>    
 </section>
</div>
