<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Specs</h2>
 <section id="product-specs" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div id="product-specs-new" class="wrapper wrapper--large wrapper--max_height">
    
       
       <div class="large--one-third grid__item">
                        <div class="row-tight">
              <div class="spec-title">Lumens</div>
              <div class="spec-desc light"><span>150 Lm total <br>(across 4 lights)</span></div>
            </div>
            
            
      
            <div class="row-tight">
              <div class="spec-title">Weight</div>
              <div class="spec-desc light"><span>2.5 oz (70g)</span></div>
            </div>
            
                      <div class="row-tight">
              <div class="spec-title">Dimensions</div>
              <div class="spec-desc light"><span>Packed: 1.85 x 1.85 x 2.75 in (47 x 47 x 70mm)</span></div>
            </div>
           
                   </div>  

       
       <div class="large--one-third grid__item">

            <div class="row-tight">
              <div class="spec-title">Power Source</div>
              <div class="spec-desc light"><span>BioLite Lanterns or any USB power source using included adapter</span></div>
            </div>
            <div class="row-tight">
              <div class="spec-title">Dimmable</div>
              <div class="spec-desc light"><span>Yes (using BaseLantern or PowerLight)</span></div>
            </div>
                    <div class="row-tight">
              <div class="spec-title">Outputs</div>
              <div class="spec-desc light">Daisy-chanable 2.5mm connector</div>
            
            </div>
</div>
 
        <div class="large--one-third grid__item">

          
           <div class="row-tight">
              <div class="spec-title">Chainable</div>
              <div class="spec-desc light"><span>Yes</span></div>
            </div>
          
           <div class="row-tight">
              <div class="spec-title">Cord Length</div>
              <div class="spec-desc light"><span>10 ft (3m)</span></div>
            </div>
          
           <div class="row-tight">
              <div class="spec-title">In the Box</div>
              <div class="spec-desc light"><span>SiteLight Mini, USB Power Adapter, Instructions</span></div>
            </div>
          
           </div> 
       
       
       
     </div>
   </div>    
 </section>
</div>
