<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Specs</h2>
 <section id="product-specs" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div id="product-specs-new" class="wrapper wrapper--large wrapper--max_height">
       <div class="large--one-third grid__item">
     
            <div class="row-medium">
              <div class="spec-title">Dimensions</div>
              <div class="spec-desc light"><span>25 x 31 cm <br>(9.84 x 12.2 in) </span></div>
            </div>
               <div class="row-medium">
              <div class="spec-title">Materials</div>
              <div class="spec-desc light"><span>High grade stainless steel, high temperature nylon plastic, cast iron</span></div>
            </div>
            
            <div class="row">
              <div class="spec-title">Power Output</div>
              <div class="spec-desc light"><span>2W @ 5V</span></div>
            </div>
           
          
       </div>
       <div class="large--one-third grid__item">
          <div class="row-medium">
              <div class="spec-title">Weight</div>
              <div class="spec-desc light"><span>8 kg <br>(17.64 lbs)</span></div>
            </div>
            <div class="row-medium">
              <div class="spec-title">Fuel</div>
              <div class="spec-desc light"><span>Solid biomass<br> (wood, crop waste, dung)</span></div>
            </div>
            <div class="row">
              <div class="spec-title">Boil Time</div>
              <div class="spec-desc light"><span>5 min = 1 liter of water<br>18 min = 5 liters of water</span></div>
            </div>
      
        
           
       
       </div>
       <div class="large--one-third grid__item">
          
            
         
            
            <div class="row">
              <div class="spec-title">Lumens (For LED Light)</div>
              <div class="spec-desc light"><span>100 Lm <br>(8x brighter than kerosene)</span></div>
            </div>
         <div class="row-medium">
              <div class="spec-title">In The Box</div>
              <div class="spec-desc light"><span>HomeStove<br>Fuel tray<br>Mobile phone charging adapter<br> FlexLight LED light</span></div>
            </div>
       </div>
     </div>
   </div>
 </section>
</div>

