<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Specs</h2>
 <section id="product-specs" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div id="product-specs-new" class="wrapper wrapper--large wrapper--max_height">
    
       <div class="large--one-third grid__item">
  <div class="row-tight">
    <div class="spec-title">Lens</div>
    <div class="spec-desc light">Polarized Grey-Tint Lenses</div>
   </div>
    <div class="row-tight">
    <div class="spec-title">Protection</div>
    <div class="spec-desc light">Certified UVA/B/400 Protection</div>
   </div>
        
     </div>
       
       <div class="large--one-third grid__item">
         <div class="row-tight">
           <div class="spec-title">Materials</div>
           <div class="spec-desc light">
             <p>Hand-Polished Polycarbonate Frames</p>
             <p>Five-Spoke Durable Hinges</p>
</div>
         </div> 
   <div class="row-tight">
           <div class="spec-title">In the box</div>
     <div class="spec-desc light"><p>Microfiber Bag</p>
       <p>Crafted Carrying Case</p></div>
         </div> 
       </div>
       
       <div class="large--one-third grid__item">
             
   <div class="row-tight">           <div class="spec-title">Warranty</div>
           <div class="spec-desc light">Lifetime warranty</div>
         </div>          </div>
 
        
   </div>    
 </section>
</div>
