<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Specs</h2>
 <section id="product-specs" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div id="product-specs-new" class="wrapper wrapper--large wrapper--max_height">
       <div class="large--one-third grid__item">
         <div class="row-tight">
           <div class="spec-title">Weight</div>
           <div class="spec-desc light"><span>4.4 lbs (2.0 kg)</span></div>
         </div>
 		
         <div class="row-tight">
           <div class="spec-title">Dimensions</div>
           <div class="spec-desc light"><span>14.5 x 14.5 x 5.5 in (37 x 37 x 14 cm)</span></div>
         </div>
           <div class="row">
           <div class="spec-title">Materials</div>
           <div class="spec-desc light"><span>Stainless steel, high temperature FDA approved ceramic for the stone, silicone for cool touch handle</span></div>
         </div>
         

        
       </div>
       <div class="large--one-third grid__item">
         <div class="row-tight">
           <div class="spec-title">Heat Up/Cool Down Time</div>
           <div class="spec-desc light"><span>Approximately 10-15 minutes.</span></div>
         </div>
          <div class="row-tight">
           <div class="spec-title">Cooking Time</div>
           <div class="spec-desc light"><span>5-10 minutes per pizza. Varies by temp.</span></div>
         </div>
         <div class="row">
           <div class="spec-title">In The Box</div>
           <div class="spec-desc light"><span>BaseCamp Lid with Integrated Thermometer, Ceramic Pizza Stone, Triangle Base, Instruction Manual</span></div>
         </div>
       

         
          
       </div>
       <div class="large--one-third grid__item">
         <div class="row-tight">
           <div class="spec-title">For Use With</div>
           <div class="spec-desc light"><span>BaseCamp Wood-Burning Stove</span></div>
         </div>
       </div>
     </div>
   </div>
 </section>
</div>
