<div class="mobile-wrapper closed product-compare-bundle--{{ product.handle | remove: 'biolite-'  }}">
 <h2 class="mobile-title">Included in Bundle</h2>
 <section id="product-compare-bundle" class="product-compare-bundle product-compare-bundle--{{ product.handle | remove: 'biolite-'  }} mobile-wrapper-content">
	 <div class="product-compare-bundle wrapper wrapper--full_height wrapper--large">
<table class="compare-table-bundle table-with-footer">
  <thead>
    <tr style="background-color:#fff;">
       <th class="border-bottom pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="//cdn.shopify.com/s/files/1/0666/9741/products/BaseLanternXL_1_large.jpg?v=1465646322" width="150" alt="BaseLantern XL" title="BaseLantern XL" />
<div class="bundle-number mb10 ">
        <span class="inside-count">1</span>
      </div>         
         <span class="mt20"><strong><a href="http://www.bioliteenergy.com/products/baselantern-xl" style="color:#262729" target="_blank" title="BaseLantern XL">BaseLantern XL</a></strong></span>
      </th>
      <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="//cdn.shopify.com/s/files/1/0666/9741/products/SolarPanel5__1_large.jpeg?v=1490203379" width="150" alt="SolarPanel 5+" title="SolarPanel 5+" />
<div class="bundle-number mb10 ">
        <span class="inside-count">2</span>
      </div>  
        <span class="mt20"><strong><a href="http://www.bioliteenergy.com/products/solarpanel-5-plus" style="color:#262729" target="_blank" title="SolarPanel 5+">SolarPanel 5+</a><br></strong></span>
      </th>
      <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="//cdn.shopify.com/s/files/1/0666/9741/products/SiteLightMini_1_large.jpg?v=1490646420" width="150" alt="SiteLight Mini" title="SiteLight Mini" />
<div class="bundle-number mb10 ">
        <span class="inside-count">3</span>
      </div>  
        <span class="mt20"><strong><a href="http://www.bioliteenergy.com/products/sitelight-mini" style="color:#262729" target="_blank" title="SolarPanel 5">SiteLight Mini</a><br></strong></span>
      </th>

     
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Bluetooth enabled - control with free iOS or Android app</td>
      <td>Get the most from the sun with optimal sun system</td>
      <td>150 lumens over 4 lights</td>

      
    </tr>
    <tr>
      <td>12000 mAh battery charges phones or powers SiteLight Mini</td>
      <td>5 watts power output</td>
      <td>10 ft (3 m) of cord</td>

      
    </tr>
    <tr>
      <td>500 lumens</td>
      <td>2200 mAh battery provides a full phone charge</td>
	  <td>Power from BaseLantern or SolarPanel 5+ using included adapter </td>


    </tr>
    <tr>
      <td>Weight: 1.43 lbs (652 g)</td>
      <td>Weight: 0.86 lbs (390 g)</td>
	  <td>Weight: 2.5 oz (70 g))</td>
    </tr>
  
 
  </tbody>

</table>


<!-- Mobile Tables -->
       
       <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="//cdn.shopify.com/s/files/1/0666/9741/products/BaseLanternXL_1_large.jpg?v=1465646322" alt="BaseLantern XL" title="BaseLantern XL" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">1</span>
      </div> 
         <span class=""><strong>BaseLantern XL</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Bluetooth enabled - control with free iOS or Android app</td>
    </tr>
    <tr>
      <td>12000 mAh battery charges phones or powers SiteLight Mini</td>
    </tr>
    <tr>
      <td>500 lumens</td>
    </tr>
    <tr>
      <td>Weight: 1.43 lbs (652 g)</td>
    </tr>
    
    
   
  </tbody>

</table>

       
       
<table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="//cdn.shopify.com/s/files/1/0666/9741/products/SolarPanel5__1_large.jpeg?v=1490203379" alt="SolarPanel 5+" title="SolarPanel 5+" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">2</span>
      </div> 
         <span class=""><strong>SolarPanel 5+</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Get the most from the sun with optimal sun system</td>
    </tr>
    <tr>
      <td>5 watts power output</td>
    </tr>
    <tr>
      <td>2200 mAh battery provides a full phone charge</td>
    </tr>
    <tr>
      <td>Weight: 0.86 lbs (390 g)</td>
    </tr>
    
    
   
  </tbody>

</table>
       

       
       <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="//cdn.shopify.com/s/files/1/0666/9741/products/SiteLightMini_1_large.jpg?v=1490646420" alt="SiteLight Mini" title="SiteLight Mini" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">3</span>
      </div> 
         <span class=""><strong>SiteLight Mini</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>150 lumens over 4 lights</td>
    </tr>
    <tr>
      <td>10 ft (3 m) of cord</td>
    </tr>
    <tr>
	  <td>Power from BaseLantern or SolarPanel 5+ using included adapter </td>
    </tr>
    <tr>
	  <td>Weight: 2.5 oz (70 g))</td>
    </tr>
  </tbody>

</table>
       
       

       
       



	 </div>
 </section>
</div>
