<div class="mobile-wrapper closed product-compare-bundle--{{ product.handle | remove: 'biolite-'  }}">
 <h2 class="mobile-title">Included in Bundle</h2>
 <section id="product-compare-bundle" class="product-compare-bundle product-compare-bundle--{{ product.handle | remove: 'biolite-'  }} mobile-wrapper-content">
	 <div class="product-compare-bundle wrapper wrapper--full_height wrapper--large">
<table class="compare-table-bundle table-with-footer">
  <thead>
    <tr style="background-color:#fff;">
       <th class="border-bottom pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="//cdn.shopify.com/s/files/1/0666/9741/products/FlexLight_3_large.jpeg?v=1455122487" width="150" alt="FlexLight 3" title="FlexLight 3" />
<div class="bundle-number mb10 ">
        <span class="inside-count">1</span>
      </div>         
         <span class="mt20"><strong><a href="http://www.bioliteenergy.com/products/biolite-campstove" style="color:#262729" target="_blank" title="CampStove + FlexLight">CampStove + FlexLight</a></strong></span>
      </th>
      
      <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="//cdn.shopify.com/s/files/1/0666/9741/products/Grill_4_large.jpeg?v=1455122574" width="150" alt="Grill 4" title="Grill 4" />
<div class="bundle-number mb10 ">
        <span class="inside-count">2</span>
      </div>  
        <span class="mt20"><strong><a href="http://www.bioliteenergy.com/products/biolite-portable-grill" style="color:#262729" target="_blank" title="Portable Grill">Portable Grill</a></strong></span>
      </th>
       <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="//cdn.shopify.com/s/files/1/0666/9741/products/KettlePot_2_large.jpeg?v=1455122565"  width="150" alt="KettlePot 2" title="KettlePot 2" />
<div class="bundle-number mb10 ">
        <span class="inside-count">3</span>
      </div>  
         <span class="mt20"><strong><a href="http://www.bioliteenergy.com/products/biolite-kettlepot" style="color:#262729" target="_blank" title="KettlePot">KettlePot</a></strong></span>
      </th>
      <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="//cdn.shopify.com/s/files/1/0666/9741/products/BiofuelPellets_front-4pack_8d6de6da-6328-4fcd-9bdb-e5c8ed7efd68_large.jpg?v=1458662820"  width="150" alt="BiofuelPellets" title="BiofuelPellets" />
<div class="bundle-number mb10 ">
        <span class="inside-count">4</span>
      </div>  
        <span class="mt20"><strong><a href="http://www.bioliteenergy.com/products/biofuel-pellets-value-pack" style="color:#262729" target="_blank" title="Pellets 4-Pack">Pellets 4-Pack</a></strong></span>
      </th>
       <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="//cdn.shopify.com/s/files/1/0666/9741/products/StickSnapper_product_large.jpeg?v=1455122362"  width="150" alt="StickSnapper" title="StickSnapper" />
<div class="bundle-number mb10 ">
        <span class="inside-count">5</span>
      </div>  
        <span class="mt20"><strong><a href="http://www.bioliteenergy.com/products/sticksnapper" style="color:#262729" target="_blank" title="StickSnapper">Sticksnapper</a></strong></span>
      </th>
     
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>A smokeless campfire that can cook meals and boil water in minutes</td>
      <td>Cook your favorite meals over wood</td>
      <td>A true grab-and-go system - pours like a kettle and cooks like a pot </td>
      <td>Premium, foodsafe, hardwood pellets</td>
      <td>Break sticks and open bottles</td>



      
    </tr>
    <tr>
      <td>Generate usable electricity for charging lights phones, and other devices</td>
      <td>Cooking area: 55 sq inches</td>
      <td>Doubles as a carry case for CampStove</td>
      <td>Firestarter included</td>
      <td>Made from high-strength forged aluminum</td>


      
    </tr>
    <tr>
      <td>Burns renewable biomass - twigs, pinecone, wood pellets</td>
	  <td>Folded Size: 9.5 x 12 x 3.5 in (24.13 x 30.48 x 8.89 cm)</td>
      <td>Max fill: 1.5 liters</td>
      <td>2 hour burn time per bag</td>
      <td>6.2 x 1.3 in (156 x 33 mm)</td>





    </tr>
    <tr>
      <td>Weight: 2.06 lbs (33 oz)</td>
      <td>Weight: 1.88 lbs (850 g)</td>
      <td>Weight: 1.03 lbs (465 g)</td>
      <td>Weight: 2.20 lbs (1000 g) x4</td>
      <td>Weight: 2.35 oz (66.5 g)</td>




    </tr>
  
 
  </tbody>

</table>


<!-- Mobile Tables -->
       
       <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="//cdn.shopify.com/s/files/1/0666/9741/products/FlexLight_3_large.jpeg?v=1455122487" alt="FlexLight 3" title="FlexLight 3" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">1</span>
      </div> 
         <span class=""><strong>CampStove + FlexLight</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>A smokeless campfire that can cook meals and boil water in minutes</td>
    </tr>
    <tr>
      <td>Generate usable electricity for charging lights phones, and other devices</td>
    </tr>
    <tr>
      <td>Burns renewable biomass - twigs, pinecone, wood pellets</td>
    </tr>
    <tr>
      <td>Weight: 2.06 lbs (33 oz)</td>
    </tr>
    
    
   
  </tbody>

</table>


       
       
              <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="//cdn.shopify.com/s/files/1/0666/9741/products/Grill_4_large.jpeg?v=1455122574" alt="Grill 4" title="Grill 4" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">2</span>
      </div> 
         <span class=""><strong>Portable Grill</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Cook your favorite meals over wood</td>
    </tr>
    <tr>
      <td>Cooking area: 55 sq inches</td>
    </tr>
    <tr>
	  <td>Folded Size: 9.5 x 12 x 3.5 in (24.13 x 30.48 x 8.89 cm)</td>
    </tr>
    <tr>
      <td>Weight: 1.88 lbs (850 g)</td>
    </tr>
    
    
   
  </tbody>

</table>

       
       
       
              
              <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="//cdn.shopify.com/s/files/1/0666/9741/products/KettlePot_2_large.jpeg?v=1455122565" alt="KettlePot 2" title="KettlePot 2" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">3</span>
      </div> 
         <span class=""><strong>KettlePot</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>A true grab-and-go system - ours like a kettle and cooks like a pot </td>
    </tr>
    <tr>
      <td>Doubles as a carry case for CampStove</td>
    </tr>
    <tr>
      <td>Max fill: 1.5 liters</td>
    </tr>
    <tr>
      <td>Weight: 1.03 lbs (465 g)</td>
    </tr>
    
    
   
  </tbody>

</table>
       
       
       
<table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="//cdn.shopify.com/s/files/1/0666/9741/products/BiofuelPellets_front-4pack_8d6de6da-6328-4fcd-9bdb-e5c8ed7efd68_large.jpg?v=1458662820" alt="BiofuelPellets" title="BiofuelPellets" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">4</span>
      </div> 
         <span class=""><strong>Pellets 4-Pack</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Premium, foodsafe, hardwood pellets</td>
    </tr>
   
    <tr>
      <td>Firestarter included</td>
    </tr>
    <tr>
      <td>2 hour burn time per bag</td>
    </tr>
   
    <tr>
      <td>Weight: 2.20 lbs (1000 g) x4</td>
    </tr>
    
   
  </tbody>

</table>
       
              
<table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="//cdn.shopify.com/s/files/1/0666/9741/products/StickSnapper_product_large.jpeg?v=1455122362" alt="StickSnapper" title="StickSnapper" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">4</span>
      </div> 
         <span class=""><strong>Sticksnapper</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Break sticks and open bottles</td>
    </tr>
   
    <tr>
      <td>Made from high-strength forged aluminum</td>
    </tr>
    <tr>
      <td>6.2 x 1.3 in (156 x 33 mm)</td>
    </tr>
   
    <tr>
      <td>Weight: 2.35 oz (66.5 g)</td>
    </tr>
    
   
  </tbody>

</table>

       
       



	 </div>
 </section>
</div>
