<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Specs</h2>
 <section id="product-specs" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div id="product-specs-new" class="wrapper wrapper--large wrapper--max_height">
       <div class="large--one-third grid__item">
         <div class="row-tight">
           <div class="spec-title">Lumens</div>
           <div class="spec-desc light"><span>135 Lm</span></div>
         </div>
 		
         <div class="row-tight">
           <div class="spec-title">Water Resistance</div>
           <div class="spec-desc light"><span>IPX4</span></div>
         </div>
           <div class="row">
           <div class="spec-title">Inputs and Outputs</div>
           <div class="spec-desc light"><span>Micro USB In/USB Charge Out</span></div>
         </div>
         

        
       </div>
       <div class="large--one-third grid__item">
         <div class="row-tight">
           <div class="spec-title">Burn Time (hours)</div>
           <div class="spec-desc light"><span>52 LO/5 HI</span></div>
         </div>
          <div class="row-tight">
           <div class="spec-title">Battery</div>
           <div class="spec-desc light"><span>1350 mAh Li-on, USB Rechargeable</span></div>
         </div>
         <div class="row">
           <div class="spec-title">Lighting Modes</div>
           <div class="spec-desc light"><span>White Lantern, Red Night Vision, Red/White Strobe, White Point</span></div>
         </div>
       

         
          
       </div>
       <div class="large--one-third grid__item">
         <div class="row-tight">
           <div class="spec-title">Weight</div>
           <div class="spec-desc light"><span>2.82 oz (80 g)</span></div>
         </div>
         <div class="row-tight">
           <div class="spec-title">Dimensions</div>
           <div class="spec-desc light"><span>3.35 x 2.01 x 0.59" 3.35" (85 x 51 x 15 mm)</span></div>
         </div>
       

         <div class="row">
           <div class="spec-title">In The Box</div>
           <div class="spec-desc light"><span>PowerLight Mini<br> Micro USB Cord<br> Bike Mount (30mm Diameter)<br> Instructions</span></div>
         </div>
         
         <div class="row">
           <div class="spec-title">Warranty</div>
           <div class="spec-desc light"><span>1-year limited warranty on all BioLite products</span></div>
         </div>
       </div>
     </div>
   </div>
 </section>
</div>
