<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Specs</h2>
 <section id="product-specs" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div id="product-specs-new" class="wrapper wrapper--large wrapper--max_height">
    
       
       <div class="large--one-third grid__item">
         <div class="row-tight">
           <div class="spec-title">Volume</div>
           <div class="spec-desc light">Boils 1-6 cups of coffee in the KettlePot</div>
 	
        </div> 
          <div class="row-tight">
           <div class="spec-title">Materials</div>
           <div class="spec-desc light"><span>Stainless Steel, BPA-free polypropylene</span></div>
 	
        </div> 
       </div>
       
       <div class="large--one-third grid__item">
         <div class="row-tight">
           <div class="spec-title">Dimensions</div>
           <div class="spec-desc light"><span>4.9 x 1.6 x 7.9 in <br> (125 x 40 x 200 mm)</span></div>
         </div>
         
             </div>
 
        <div class="large--one-third grid__item">
         <div class="row-tight">
            <div class="spec-title">Weight</div>
           <div class="spec-desc light">2.8 oz (80 g)</div>
                  </div>       
 		  </div>
       
        <div class="large--one-third grid__item">
         <div class="row-tight">
            <div class="spec-title">In The Box</div>
           <div class="spec-desc light">BioLite CoffeePress</div>
                  </div>       
 		  </div>
    
       
       
     </div>
   </div>    
 </section>
</div>
