<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Specs</h2>
 <section id="product-specs" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div id="product-specs-new" class="wrapper wrapper--large wrapper--max_height">
       <div class="large--one-third grid__item">
         <div class="row-tight">
           <div class="spec-title">Lumens</div>
           <div class="spec-desc light"><span>330 Lm Total<br>230 Lm Spot <br> 100 Lm Flood</span></div>
         </div>
      
         <div class="row-tight">
           <div class="spec-title">Battery</div>
           <div class="spec-desc light"><span>900 mAh, 3.4 Wh Li-on, USB Rechargeable</span></div>
         </div>
             <div class="row-tight">
           <div class="spec-title">Inputs</div>
           <div class="spec-desc light"><span>Micro-USB Charge In</span></div>
         </div>
 		
       
          
           <div class="row-tight">
           <div class="spec-title">In The Box</div>
           <div class="spec-desc light"><span>HeadLamp Mini<br> Micro USB Cord<br></span></div>
         </div>
           <div class="row-tight">
           <div class="spec-title">Brightness Memory</div>
           <div class="spec-desc light"><span>Yes</span></div>
         </div>
         <div class="row-medium">
           <div class="spec-title">Warranty</div>
           <div class="spec-desc light"><span>1-year limited warranty plus backed by <a href="#holyFit" style="color:#35a8a6;" class="bold">HolyFit Guarantee</a></span></div>
         </div>
        
       </div>
       
              <div class="large--one-third grid__item">
                 <div class="row-tight">
           <div class="spec-title">Burn Time (hours)</div>
           <div class="spec-desc light"><span>40 LO/3.5 HI</span></div>
         </div>
                  <div class="row-tight">
           <div class="spec-title">Water Resistance</div>
           <div class="spec-desc light"><span>IPX4</span></div>
         </div>
       </div>
       
                <div class="large--one-third grid__item">
                     
         <div class="row-tight">
           <div class="spec-title">Weight</div>
           <div class="spec-desc light"><span>2.43 oz (69 g)</span></div>
         </div>
                   <div class="row-tight">
           <div class="spec-title">Lock Mode</div>
           <div class="spec-desc light"><span>Yes</span></div>
         </div>
       </div>
       
       
       <div class="large--two-thirds grid__item">
       <div class="row-full">
           <div class="spec-title-long">Lighting Modes</div>
           <div class="spec-desc-long">
             
             <div class="large--one-quarter medium--one-half small--one-half grid__item text-center">
               <img class="headlamp-tech-specs-modes" src="https://cdn.shopify.com/s/files/1/0666/9741/files/HeadLamp_BurnTime_1.svg?8314721655128776425" alt="HeadLamp features" title="HeadLamp features">
               <p class="light">White Flood <br>+ Dimming </p> 
               
             </div>
               <div class="large--one-quarter medium--one-half small--one-half grid__item text-center">
              <img class="headlamp-tech-specs-modes" src="https://cdn.shopify.com/s/files/1/0666/9741/files/HeadLamp_BurnTime_2.svg?8314721655128776425" alt="HeadLamp features" title="HeadLamp features">
               <p class="light">White Spot<br> + Dimming </p> 
               
             </div>
               <div class="large--one-quarter medium--one-half small--one-half grid__item text-center">
                  <img class="headlamp-tech-specs-modes" src="https://cdn.shopify.com/s/files/1/0666/9741/files/HeadLamp_BurnTime_3.svg?8314721655128776425" alt="HeadLamp features" title="HeadLamp features">
                 <p class="light">Red Flood </p> 
               
             </div>
               <div class="large--one-quarter medium--one-half small--one-half grid__item text-center">
                  <img class="headlamp-tech-specs-modes" src="https://cdn.shopify.com/s/files/1/0666/9741/files/HeadLamp_BurnTime_4.svg?8314721655128776425" alt="HeadLamp features" title="HeadLamp features">
                 <p class="light">White Strobe </p> 
               
             </div>
             </div>
         
         </div>
         
           <div class="row-full">
           <div class="spec-title-long">Beam Distance</div>
           <div class="spec-desc-long">
             <div class="large--one-whole grid__item">
                 <p class="light">Flood: 16m; Spot: 75m </p> 

               <img class="headlamp-tech-specs-beam-distance" src="https://cdn.shopify.com/s/files/1/0666/9741/files/HeadLamp_BeamDistance_v_copy.svg?16529862837172909296" alt="HeadLamp Beam Distance" title="HeadLamp Beam Distance">
             </div>
            
             </div>
         
         </div>
        
       
      
       

         
          
       </div>

     </div>
   </div>
 </section>
</div>
