<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Specs</h2>
 <section id="product-specs" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div id="product-specs-new" class="wrapper wrapper--large wrapper--max_height">
    
       <div class="large--one-third grid__item">
         <div class="row">
           <div class="spec-title">Lumens</div>
           <div class="spec-desc light"><span>250 Lm torch; 200 Lm lantern </span></div>
         </div>
 		
         <div class="row">
              <div class="spec-title">Burn Time</div>
              <!--<div class="spec-desc light"><img src="https://cdn.shopify.com/s/files/1/0666/9741/files/NanoGrid_burnTimes_final.svg?13166565332115529284" alt="NanoGrid burn times"></div>-->
         <div class="spec-desc light"><span>PowerLight Only <br>72h LO/6.5h HI<br><br>PowerLight + SiteLights<br> 22h LO/4h HI</span></div>

            </div>
         
         <div class="row">
           <div class="spec-title">Outputs</div>
           <div class="spec-desc light"><span>USB charge out; 2.5mm connector </span></div>
            </div>  

        
       </div>
       
       <div class="large--one-third grid__item">
         <div class="row">
           <div class="spec-title">Battery</div>
           <div class="spec-desc light"><span>4400 mAh lithium-ion<br>16 Wh storage</span></div>
         </div>

         <div class="row">
           <div class="spec-title">Dimensions</div>
           <div class="spec-desc light"><span>2.22 x 5.27 x 1.15 in (5.64 x 13.39 x 2.92 cm) </span>
              </div>
         </div>
         
          <div class="row">
           <div class="spec-title">Weight</div>
           <div class="spec-desc light"><span>7.05 oz (210 g) </span></div>
         </div>

                   

       </div>
        
        <div class="large--one-third grid__item">

            
           <div class="row">
           <div class="spec-title">Light Range</div>
           <div class="spec-desc light"><img src="https://cdn.shopify.com/s/files/1/0666/9741/files/PowerLight_Light_Range.svg?17003985959603688887" alt="PowerLight light range" title="PowerLight light range"></td>
            </div>
         </div>
         
            <div class="row">
            <div class="spec-title">In the Box</div>
           <div class="spec-desc light"><span>BioLite PowerLight, USB cable, Instructions</span>
           </div>
           </div>   
                    

         
   </div>
     
     </div>
   </div>    
 </section>
</div>
