<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Specs</h2>
 <section id="product-specs" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div id="product-specs-new" class="wrapper wrapper--large wrapper--max_height">
       <div class="large--one-third grid__item">
        
         <div class="row-tight">
           <div class="spec-title">Battery</div>
           <div class="spec-desc light"><span>2600 mAh</span></div>
         </div>
         
 <div class="row-tight">
           <div class="spec-title">USB Output</div>
           <div class="spec-desc light"><span>3 watts</span></div>
         </div>
         
        
        
       
        <div class="row">
           <div class="spec-title">In The Box</div>
           <div class="spec-desc light"><span>CampStove 2<br>FlexLight<br>Stuff Sack <br/> Firestarter <br/> USB Cord <br/> Instructions</span></div>
         </div>
       
       
       </div>
              
       
       <div class="large--one-third grid__item">
         <div class="row-tight">
           <div class="spec-title">Boil Time</div>
           <div class="spec-desc light"><span>4.5 minutes for 1L</span></div>
         </div>

         <div class="row-tight">
           <div class="spec-title">Fuel</div>
           <div class="spec-desc light"><span>Biomass (sticks, twigs, pellets)</span></div>
         </div>
         
          <div class="row-tight">
           <div class="spec-title">Compatible Devices</div>
           <div class="spec-desc light"><span>Most USB-chargeable devices (phones, cameras, lights)</span></div>
         </div>
        
         
         <div class="row-tight">
           <div class="spec-title">Fan Speeds</div>
           <div class="spec-desc light"><span>Four</span></div>
         </div>

          </div>
       
       <div class="large--one-third grid__item">
 	<div class="row-tight">
           <div class="spec-title">Weight</div>
           <div class="spec-desc light"><span>2.06 lbs (935g)</span></div>
         </div>
         
         <div class="row-tight">
           <div class="spec-title">Dimensions</div>
           <div class="spec-desc light"><span>Packed: 5.0" x 7.91" (127mm x 201mm)</span></div>
         </div>
         
         
         <div class="row-tight">
           <div class="spec-title">FlexLight</div>
           <div class="spec-desc light"><span>100 Lumens, powered via USB</span></div>
         </div>

         
           <div class="row-tight">
             <div class="spec-title">Warnings</div>
             <div class="spec-desc"><span><a href="https://www.p65warnings.ca.gov/" style="text-decoration:underline;" target="_blank"><strong>Prop 65 Warning</strong></a></span></div>
         </div>

         
       </div>
       
       
     </div>
   </div>
 </section>
</div>
