<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Specs</h2>
 <section id="product-specs" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div id="product-specs-new" class="wrapper wrapper--large wrapper--max_height">
     
      
       
       <div class="large--one-third grid__item">
            <div class="row-medium">
              <div class="spec-title">Blend</div>
              <div class="spec-desc light"><span>Medium Roast, Notes of Cocoa, Wood &amp; Honey </span></div>
            </div>
          
       </div>
       <div class="large--one-third grid__item">
          <div class="row-medium">
              <div class="spec-title">Weight</div>
              <div class="spec-desc light"><span>2 oz (56.7 g)</span></div>
            </div>
       </div>
    
        <div class="large--one-third grid__item">
          <div class="row-medium">
              <div class="spec-title">Size</div>
              <div class="spec-desc light"><span>1 Pouch = Cups of Coffee</span></div>
            </div>
       </div>
    
     </div>
   </div>
 </section>
</div>

