<div class="mobile-wrapper closed product-compare-bundle--{{ product.handle | remove: 'biolite-'  }}">
 <h2 class="mobile-title">Included in Bundle</h2>
 <section id="product-compare-bundle" class="product-compare-bundle product-compare-bundle--{{ product.handle | remove: 'biolite-'  }} mobile-wrapper-content">
	 <div class="product-compare-bundle wrapper wrapper--full_height wrapper--large">
<table class="compare-table-bundle table-with-footer">
  <thead>
    <tr style="background-color:#fff;">
       <th class="border-bottom pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="//cdn.shopify.com/s/files/1/0666/9741/products/NanoGrid_51_f946e0dc-1c28-4549-a8be-28e1bcedadc4_large.jpeg?v=1455122523" width="250" alt="NanoGrid 51" title="NanoGrid 51" />
         <div class="bundle-number mb10 ">
        <span class="inside-count">1</span>
      </div> 
         <span class="mt20"><strong>BioLite<br> PowerLight Bundle</strong></span>
      </th>
      
       <th class="border-bottom pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb30" src="https://cdn.shopify.com/s/files/1/0666/9741/products/mat_2_large.jpg?v=1467400704" width="250" alt="mat 2" title="mat 2" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">2</span>
      </div> 
        <span class="mt20"><strong>Alite<br> Meadow Mat</strong></span>
      </th>
        
    
     
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Includes PowerLight (250 Lm torch, 200 Lm lantern) and 2 SiteLights (150 Lm per light)</td>
      <td>Unpacked dimensions - 55 x 55 inches</td>
      
    </tr>
    <tr>
      <td>PowerLight has 4400 mAh battery for charging up to 4 phones</td>
      <td>Packed dimensions - 14 x 3.5 x 3.5 inches</td>
      
    </tr>
    <tr>
      <td>System can run for 22 hours on low brightness</td>
      <td>Made from 1500 TPE poly</td>

    </tr>
    <tr>
      <td>Up to 20ft of reach with 2 daisy-chainable SiteLights</td>
      <td>Total weight - 1.4 lbs</td>
    </tr>
  
 
  </tbody>

</table>

<!-- Mobile Tables -->
       


<table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="//cdn.shopify.com/s/files/1/0666/9741/products/NanoGrid_51_f946e0dc-1c28-4549-a8be-28e1bcedadc4_large.jpeg?v=1455122523" alt="NanoGrid 51" title="NanoGrid 51" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">1</span>
      </div> 
         <span class=""><strong>BioLite<br>PowerLight Bundle</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Includes PowerLight (250 Lm torch, 200 Lm lantern) and 2 SiteLights (150 Lm per light)</td>
    </tr>
    <tr>
      <td>PowerLight has 4400 mAh battery for charging up to 4 phones</td>
    </tr>
    <tr>
      <td>System can run for 22 hours on low brightness</td>
    </tr>
    <tr>
      <td>Up to 20ft of reach with 2 daisy-chainable SiteLights</td>
    </tr>
    
    
   
  </tbody>

</table>
              
       
              <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/products/mat_2_large.jpg?v=1467400704" alt="mat 2" title="mat 2" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">2</span>
      </div> 
         <span class=""><strong>Alite<br>Meadow Mat</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Unpacked dimensions - 55 x 55 inches. Packs down to 14 x 3.5 x 3.5 inches</td>
    </tr>
   
    <tr>
      <td>Made from 1500 TPE poly</td>
    </tr>
    <tr>
      <td>Total weight - 1.4 lbs</td>
    </tr>
    
    
   
  </tbody>

</table>
       


       



	 </div>
 </section>
</div>
