<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Specs</h2>
 <section id="product-specs" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div id="product-specs-new" class="wrapper wrapper--large wrapper--max_height">
       <div class="large--one-third grid__item">
          <div class="row-tight">
           <div class="spec-title">Fuel</div>
           <div class="spec-desc light"><span>Renewable biomass (twigs, pinecone, wood pellets)</span></div>
         </div>
         

         <div class="row-medium">
           <div class="spec-title">Weight</div>
           <div class="spec-desc light"><span>2.06 lbs (33 oz)</span></div>
         </div>

        
         <div class="row">
           <div class="spec-title">Charging Time</div>
           <div class="spec-desc light"><span>20 minutes of charging provides 60 minues of talk time. Charging times vary by device.</span></div>
         </div>
         
         
         <div class="row-tight">
           <div class="spec-title">Fire Quality</div>
           <div class="spec-desc light"><span>1.6 oz (46 grams) of wood to boil 1 liter of water</span></div>
         </div>
       </div>
       
       
       <div class="large--one-third grid__item">
         <div class="row-tight">
           <div class="spec-title">Fire Power Output</div>
           <div class="spec-desc light"><span>3.4 kW (LO), 5.5 kW (HI)</span></div>
         </div>
         <div class="row-medium">
           <div class="spec-title">Boil Time</div>
           <div class="spec-desc light"><span>4.5 minutes to boil 1 liter of water. Boiling times vary by strength of fire</span></div>
         </div>
         <div class="row">
           <div class="spec-title">Packed Size</div>
           <div class="spec-desc light"><span>Height: 8.25 inches (209.6 mm)  Width: 5 inches (127 mm)</span></div>
         </div>

         <div class="row">
           <div class="spec-title">Compatible Devices</div>
           <div class="spec-desc light"><span>Powers most USB-chargeable devices including smart phones</span></div>
         </div>
       </div>
       
       
       <div class="large--one-third grid__item">
         <div class="row-tight">
           <div class="spec-title">Lumens (FlexLight)</div>
           <div class="spec-desc light"><span>100 Lm</span></div>
         </div>
         
         <div class="row-tight">
           <div class="spec-title">USB Power Output</div>
           <div class="spec-desc light"><span>Max Continuous: 2W @5V <br/> Peak: 4W @5V</span></div>
         </div>

         <div class="row">
           <div class="spec-title">In The Box</div>
           <div class="spec-desc light"><span>CampStove<br>Stuff Sack <br/> Instructions <br/> USB Cord <br/> Firelighter</span></div>
         </div>
       </div>
       
       
     </div>
   </div>
 </section>
</div>
