<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Specs</h2>
 <section id="product-specs" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div id="product-specs-new" class="wrapper wrapper--large wrapper--max_height">
         <div class="large--one-third grid__item">
           
          <div class="row-tight">
              <div class="spec-title">Size</div>
              <div class="spec-desc light"><span>54"x70"</span></div>
            </div>
          
       
       </div>
                        <div class="large--one-third grid__item">

           <div class="row-tight">
              <div class="spec-title">Weight</div>
              <div class="spec-desc light"><span>3.3 lbs </span></div>
            </div>
       </div>
       
       <div class="large--one-third grid__item">
            <div class="row">
              <div class="spec-title">Materials</div>
              <div class="spec-desc light"><span>100% Post-Consumer Recycled Polar Fleece &amp; PCR synthetic insulation. Anti-static &amp; machine-washable. </span></div>
            </div>
       </div>
       
     
    
     </div>
   </div>
 </section>
</div>

