<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Specs</h2>
 <section id="product-specs" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div id="product-specs-new" class="wrapper wrapper--large wrapper--max_height">
    
       <div class="large--one-third grid__item">
  <div class="row-tight">
    <div class="spec-title">Weight</div>
    <div class="spec-desc light">8.5kg/ 18lbs (once experienced, you can save up to 2.kg / 6lbs by dropping 2 ratchets from your system)</div>
   </div>
     <div class="row-tight">
    <div class="spec-title">Dimensions</div>
    <div class="spec-desc light">"4.2 x 4.2 x 4.2m / 14 x 14 x 14ft
"</div>
   </div>                  
    <div class="row-tight">
    <div class="spec-title">Packed Down Size</div>
    <div class="spec-desc light">59 x 25 x 25cm / 25 x 10 x 10in</div>
   </div>
        
     </div>
       
       <div class="large--one-third grid__item">
         <div class="row-tight">
           <div class="spec-title">Floor Area</div>
           <div class="spec-desc light">
             7.5m² / 80ft²
</div>
         </div> 
           <div class="row-tight">
    <div class="spec-title">Poles</div>
    <div class="spec-desc light">2 x 8.5mm diameter anodised aluminium alloy 7001 T6</div>
   </div>
   <div class="row-tight">
           <div class="spec-title">Roof</div>
     <div class="spec-desc light">Tear resistant insect mesh. It offers protection against the smallest sand flies"</div>
         </div> 
       </div>
       
       <div class="large--one-third grid__item">
             
   <div class="row-tight">           <div class="spec-title">Seasons</div>
           <div class="spec-desc light">4</div>
         </div> 
        <div class="row-tight">           <div class="spec-title">Set up time</div>
           <div class="spec-desc light">15 minutes</div>
         </div>
       </div>
 
        
   </div>    
 </section>
</div>
