<div class="mobile-wrapper closed product-compare-bundle--{{ product.handle | remove: 'biolite-'  }}">
 <h2 class="mobile-title">Included in Bundle</h2>
 <section id="product-compare-bundle" class="product-compare-bundle product-compare-bundle--{{ product.handle | remove: 'biolite-'  }} mobile-wrapper-content">
	 <div class="product-compare-bundle wrapper wrapper--full_height wrapper--large">
<table class="compare-table-bundle table-with-footer">
  <thead>
    <tr style="background-color:#fff;">
       
      <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="//cdn.shopify.com/s/files/1/0666/9741/products/miir_1_large.jpg?v=1467476640" width="150" alt="miir 1" title="miir 1" />
<div class="bundle-number mb10 ">
        <span class="inside-count">1</span>
      </div>  
        <span class="mt20"><strong>Miir <br>Insulated Water Bottle</strong></span>
      </th>
      
      <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="//cdn.shopify.com/s/files/1/0666/9741/files/PowerLightMini_1_teal_1170x1170.jpg?10357694140175756365"  width="150" alt="PowerLightMini 1 teal" title="PowerLightMini 1 teal" />
<div class="bundle-number mb10 ">
        <span class="inside-count">2</span>
      </div>  
        <span class="mt20"><strong>BioLite<br> PowerLight Mini</strong></span>
      </th>
 
     
    </tr>
  </thead>
  <tbody>
    <tr>
    
      <td>Made from 18/8 medical grade stainless steel</td>
      <td>135 lumens; 52 hour burn time (LO)</td>



      
    </tr>
    <tr>
   
      <td>Keeps liquids cold for 24+ hrs and hot for up to 12 hrs</td>
      <td>1350 mAh rechargeable battery</td>


      
    </tr>
    <tr>
      
	  <td>9.75" tall, 2.75" diameter, 1.5" opening </td>
      <td>IPX4 rated</td>




    </tr>
    <tr>
   
      <td>&nbsp;</td>
      <td>Weight - 2.82 oz</td>



    </tr>
  
 
  </tbody>

</table>


<!-- Mobile Tables -->
       
    
       
              <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/products/miir_1_large.jpg?v=1467476640" alt="miir 1" title="miir 1" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">4</span>
      </div> 
         <span class=""><strong>Miir<br>Insulated Water Bottle</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Made from 18/8 medical grade stainless steel</td>
    </tr>
    <tr>
      <td>Keeps liquids cold for 24+ hrs and hot for up to 12 hrs</td>
    </tr>
    <tr>
	  <td>9.75" tall, 2.75" diameter, 1.5" opening </td>
    </tr>
  
    
   
  </tbody>

</table>

       
       
       
  
       
       
                     <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="https://cdn.shopify.com/s/files/1/0666/9741/files/PowerLightMini_1_teal_1170x1170.jpg?10357694140175756365" alt="PowerLightMini 1 teal" title="PowerLightMini 1 teal" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">6</span>
      </div> 
         <span class=""><strong>BioLite<br>PowerLight Mini</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>135 lumens; 52 hour burn time (LO); 5 hour burn time (HI) </td>
    </tr>
    <tr>
      <td>1350 mAh rechargeable battery</td>
    </tr>
    <tr>
      <td>IPX4 rated</td>
    </tr>
    
      <tr>
      <td>Weight - 2.82 oz</td>
    </tr>
    
    
    
   
  </tbody>

</table>

       




	 </div>
 </section>
</div>
