<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Specs</h2>
 <section id="product-specs" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div id="product-specs-new" class="wrapper wrapper--large wrapper--max_height">


       <div class="large--one-third grid__item">

          <div class="row-tight">
              <div class="spec-title">Fuel</div>
              <div class="spec-desc light"><span>Renewable Biomass <br/> (twigs, pinecone, wood pellets, etc.)</span></div>
            </div>

           <div class="row-medium">
           <div class="spec-title">Lumens (FlexLight)</div>
           <div class="spec-desc light"><span>100 Lm</span></div>
         </div>

            <div class="row-full">
              <div class="spec-title">Weight</div>
              <div class="spec-desc light"><span><strong>CampStove</strong> <br>33 oz (935 g)<br><strong>KettlePot</strong> <br>16 oz (465 g)<br><strong>CoffeePress</strong> <br>2.8 oz (80 g)<br><strong>Grill </strong><br>30 oz (850 g)</span></div>
            </div>

          

       


</div>

       <div class="large--one-third grid__item">

            <div class="row-tight">
           <div class="spec-title">Fan Speeds</div>
           <div class="spec-desc light"><span>Four</span></div>
         </div>

            <div class="row-medium">
              <div class="spec-title">Boil Time</div>
              <div class="spec-desc light"><span>4.5 minutes to boil 1 liter of water. Boiling times vary by strength of fire</span></div>
            </div>
 			<div class="row-full">
              <div class="spec-title">Dimensions</div>
              <div class="spec-desc light"><span><strong>CampStove</strong><br>Height 8.25 inches (209.6 mm) <br/> Width 5 inches (127 mm)<br><strong>KettlePot</strong> <br>10.20 x 5.20" (25.91 x 13.21 cm)<br><strong>CoffeePress</strong> <br>4.9 x 1.6 x 7.9 in
(125 x 40 x 200 mm)<br><strong>Grill</strong><br>9.5 x 12 x 3.5 in (24.13 x 30.48 x 26.67 cm)</span></div>
            </div>



      </div>


       <div class="large--one-third grid__item">
            <div class="row-tight">
           <div class="spec-title">Live Power Output</div>
           <div class="spec-desc light"><span>3 watts peak; TEG generated 5V, 2A USB output</span></div>
         </div>
       
           <div class="row-medium">
           <div class="spec-title">Battery</div>
           <div class="spec-desc light"><span>3,200 mAh</span></div>
         </div>
           <div class="row-full">
              <div class="spec-title">In The Box</div>
              <div class="spec-desc light"><span>Stuff Sack <br/> Instructions <br/> USB Cord <br/> CampStove 2+ <br/>FlexLight 100<br> Firelighter<br>KettlePot<br>CoffeePress<br>Portable Grill</span></div>
            </div>

      </div>


   </div>
     </div>
 </section>
</div>
