<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Specs</h2>
 <section id="product-specs" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div id="product-specs-new" class="wrapper wrapper--large wrapper--max_height">
         <div class="large--one-third grid__item">
           
          <div class="row">
              <div class="spec-title">Construction</div>
              <div class="spec-desc light"><span>Three-snap closure;<br>CPSIA compliant tracking label in side seam;<br>EasyTear™ label</span></div>
            </div>
          
       
       </div>
                        <div class="large--one-third grid__item">

           <div class="row">
              <div class="spec-title">Size</div>
              <div class="spec-desc light"><span>12 months  </span></div>
            </div>
       </div>
       
       <div class="large--one-third grid__item">
            <div class="row">
              <div class="spec-title">Material</div>
              <div class="spec-desc light"><span>60% cotton, 40% polyester </span></div>
            </div>
       </div>
       
     
    
     </div>
   </div>
 </section>
</div>

