<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Specs</h2>
 <section id="product-specs" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div id="product-specs-new" class="wrapper wrapper--large wrapper--max_height">
       <div class="large--one-third grid__item">
         <div class="row-tight">
           <div class="spec-title">Lumens</div>
           <div class="spec-desc light"><span>200 Lm</span></div>
         </div>
      
         <div class="row-tight">
           <div class="spec-title">Battery</div>
           <div class="spec-desc light"><span>USB Rechargeable <br>700 mAh Lithium Ion</span></div>
         </div>
             <div class="row-tight">
           <div class="spec-title">Inputs</div>
           <div class="spec-desc light"><span>Micro-USB Charge In</span></div>
         </div>
 		
       
          
           <div class="row-tight">
           <div class="spec-title">In The Box</div>
           <div class="spec-desc light"><span>Mini Micro USB Cord<br></span></div>
         </div>
           <div class="row-tight">
           <div class="spec-title">Brightness Memory</div>
           <div class="spec-desc light"><span>Yes</span></div>
         </div>
         <div class="row-medium">
           <div class="spec-title">Warranty</div>
           <div class="spec-desc light"><span>1-year limited warranty plus backed by <a href="#holyFit" style="color:#35a8a6;" class="bold">HolyFit Guarantee</a></span></div>
         </div>
        
       </div>
       
              <div class="large--one-third grid__item">
                 <div class="row-tight">
           <div class="spec-title">Burn Time (hours)</div>
           <div class="spec-desc light"><span>40 LO/3 HI</span></div>
         </div>
                  <div class="row-tight">
           <div class="spec-title">Water Resistance</div>
           <div class="spec-desc light"><span>IPX4</span></div>
         </div>
       </div>
       
                <div class="large--one-third grid__item">
                     
         <div class="row-tight">
           <div class="spec-title">Weight</div>
           <div class="spec-desc light"><span>1.75 oz (50 g)</span></div>
         </div>
                   <div class="row-tight">
           <div class="spec-title">Lock Mode</div>
           <div class="spec-desc light"><span>Yes</span></div>
         </div>
       </div>
       
       
       <div class="large--two-thirds grid__item">
       <div class="row-full">
           <div class="spec-title-long">Lighting Modes</div>
           <div class="spec-desc-long">
             
           
              
                <div class="large--one-quarter medium--one-half small--one-half grid__item text-center">
                  <img class="headlamp-tech-specs-modes" src="https://cdn.shopify.com/s/files/1/0666/9741/files/HeadLamp_BurnTime_4.svg?8314721655128776425" alt="HeadLamp 200 Features - White Strobe" title="HeadLamp 200 Features - White Strobe">
                 <p class="light">White Strobe </p> 
               
             </div>
              <div class="large--one-quarter medium--one-half small--one-half grid__item text-center">
              <img class="headlamp-tech-specs-modes" src="https://cdn.shopify.com/s/files/1/0666/9741/files/HeadLamp_BurnTime_2.svg?8314721655128776425" alt="HeadLamp 200 Features - White Spot + Dimming" title="HeadLamp 200 Features - White Spot + Dimming">
               <p class="light">White Spot<br> + Dimming </p> 
             </div>
               <div class="large--one-quarter medium--one-half small--one-half grid__item text-center">
                  <img class="headlamp-tech-specs-modes" src="https://cdn.shopify.com/s/files/1/0666/9741/files/HeadLamp_BurnTime_3.svg?8314721655128776425" alt="HeadLamp 200 Features - Red Flood" title="HeadLamp 200 Features - Red Flood">
                 <p class="light">Red Flood<br> + Dimming </p> 
               
             </div>
             
               <div class="large--one-quarter medium--one-half small--one-half grid__item text-center">
                  <img class="headlamp-tech-specs-modes" src="https://cdn.shopify.com/s/files/1/0666/9741/files/HeadLamp_Modes_1.svg?17264" alt="HeadLamp 200 Features - Red Strobe" title="HeadLamp 200 Features - Red Strobe">
                 <p class="light">Red Strobe </p> 
               
             </div>
            
             </div>
         
         </div>
         
           <div class="row-full">
           <div class="spec-title-long">Beam Distance</div>
           <div class="spec-desc-long">
             <div class="large--one-whole grid__item">
                 <p class="light">Flood: 8m; Spot: 50m </p> 

               <img class="headlamp-tech-specs-beam-distance" src="https://cdn.shopify.com/s/files/1/0666/9741/files/HeadLamp200_BeamDistance_v_copy.svg?17267" alt="HeadLamp 200 Beam Distance" title="HeadLamp 200 Beam Distance">
             </div>
            
             </div>
         
         </div>
        
       
      
       

         
          
       </div>

     </div>
   </div>
 </section>
</div>
