<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Specs</h2>
 <section id="product-specs" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div id="product-specs-new" class="wrapper wrapper--large wrapper--max_height">
    
       
       <div class="large--one-third grid__item">
           <div class="row">
              <div class="spec-title">Battery</div>
              <div class="spec-desc light"><span>4400 mAh lithium-ion<br>16 Wh storage</span></div>
            </div>
         
         <div class="row">
     
           <div class="spec-title">Lumens</div>
              <div class="spec-desc light"><span>PowerLight<br>250 Lm torch; 200 Lm lantern <br>
              <br/>SiteLight<br>150 Lm per light</span></div>
            </div>
            
       <div class="row">
              <div class="spec-title">Burn Time</div>
              <!--<div class="spec-desc light"><img src="https://cdn.shopify.com/s/files/1/0666/9741/files/NanoGrid_burnTimes_final.svg?13166565332115529284" alt="NanoGrid burn times"></div>-->
         <div class="spec-desc light"><span>PowerLight Only <br>72h LO/6.5h HI<br><br>PowerLight + SiteLights<br> 22h LO/4h HI</span></div>

            </div>
        
            </div>  

       
       <div class="large--one-third grid__item">
 		     <div class="row">
              <div class="spec-title">Outputs</div>
              <div class="spec-desc light"><span>PowerLight<br>USB charge out; 2.5mm connector <br>
              <br/>SiteLight<br>2.5 mm connector</span></div>
            </div>   
         

         <div class="row">
              <div class="spec-title">Dimensions</div>
              <div class="spec-desc light"><span>PowerLight:<br>2.22 x 5.27 x 1.15 in (5.64 x 13.39 x 2.92 cm) <br>
              <br/>SiteLight:<br>2.55 x 1.06 x 2.55 in (6.48 x 2.69 x 6.48 cm)</span></div>
            </div>
            <div class="row">
              <div class="spec-title">Weight</div>
              <div class="spec-desc light"><span>PowerLight<br>7.05 oz (210 g) <br>
              <br/>SiteLight<br>1.83 oz (52 g) per light</span></div>
            </div>

            </div>

 
        <div class="large--one-third grid__item">
           <div class="row">
              <div class="spec-title">Cord Length</div>
              <div class="spec-desc light"><span>SiteLight<br>10 ft per light</span></div>
            </div>

             <div class="row">
              <div class="spec-title">Light Range</div>
              <div class="spec-desc light"><img src="https://cdn.shopify.com/s/files/1/0666/9741/files/Light_Range_v2.svg?18042130059601173863" alt="NanoGrid light range" title="NanoGrid light range"></div>
            </div>
            
            <div class="row">
              <div class="spec-title">In the Box</div>
              <div class="spec-desc light"><span>PowerLight<br> SiteLight<br>USB cable<br>USB Adapter<br>Instructions</span></div>
            </div>           </div> 
       
       
       
     </div>
   </div>    
 </section>
</div>
