{% comment %}
  This is Tech Specs portion for the product: NanoGrid.
  You can replace the .product-specs__img with an image you upload onto Shopify.

  Begin editing below this comment
{% endcomment %}

<div id="product-specs__expander" class="product-specs__expander">
  <div class="product-specs__body">

    <div class="product-specs__top clearfix border-bottom">
      <div class="grid__item large--one-half border-right">
        <table class="product-specs__table">
          <tbody>
                         <h6 class="mb20 pl10">CampStove and Accessories</h6>

       <tr>
              <td class="spec-title">Charging Time</td>
              <td class="spec-desc"><span>iPhone 4S (2G): 20 minutes of charging provides 60 minues of talk time. Charging times vary by device and by strength of fire</span></td>
            </tr>
            
            <tr>
              <td class="spec-title">Weight</td>
              <td class="spec-desc"><span><strong>CampStove:</strong> 33 oz (935 g)<br><strong>KettlePot:</strong> 16 oz (465 g)<br><strong>Portable Grill: </strong>30 oz (850 g)</span></td>
            </tr>
            
            <tr>
              <td class="spec-title">Fuel</td>
              <td class="spec-desc"><span>Renewable Biomass <br/> (twigs, pinecone, wood pellets, etc.)</span></td>
            </tr>
            <tr>
              <td class="spec-title">Fire Quality</td>
              <td class="spec-desc"><span>1.6 oz (46 grams) of wood to boil <br/> 1 liter of water</span></td>
            </tr>
            <tr>
              <td class="spec-title">Fire Power Output</td>
              <td class="spec-desc"><span>Peak: 3.4 kW (LO), 5.5 kW (HI)</span></td>
            </tr>
            <tr>
              <td class="spec-title">Boil Time</td>
              <td class="spec-desc"><span>4.5 minutes to boil 1 liter of water <br/> Boiling times vary by strength of fire</span></td>
            </tr>
            
            <tr>
              <td class="spec-title">Dimensions</td>
              <td class="spec-desc"><span><strong>CampStove: </strong>Height 8.25 inches (209.6 mm) <br/> Width 5 inches (127 mm)<br><strong>KettlePot: </strong> 10.20 x 5.20" (25.91 x 13.21 cm)<br><strong>Portable Grill: </strong>9.5 x 12 x 3.5 in (24.13 x 30.48 x 26.67 cm)</span></td>
            </tr>
            
            <tr>
              <td class="spec-title">Compatible Devices</td>
              <td class="spec-desc"><span>Powers most USB-chargeable <br/> devices including smart phones</span></td>
            </tr>
            <tr>
              <td class="spec-title">USB Power Output</td>
              <td class="spec-desc"><span>Max Continuous: 2W @5V <br/> Peak: 4W @5V</span></td>
            </tr>
            <tr>
              <td class="spec-title">Charging Time</td>
              <td class="spec-desc"><span>iPhone 4S (2G): 20 minutes of <br/> charging provides 60 minues of <br/> talk time. Charging times vary by <br/>device and by strength of fire</span></td>
            </tr>
            
            
            
     

           
          </tbody>
        </table>
      </div>

      <div class="grid__item large--one-half pl30 pl0--mobile">
        <table class="product-specs__table">
          <tbody>
             <h6 class="mb20 pl10">NanoGrid</h6>

               <tr>

              <td class="spec-title">Lumens</td>
              <td class="spec-desc"><span><strong>PowerLight</strong> - 250 Lm torch; 200 Lm lantern 
              <br/><strong>SiteLight</strong> - 150 Lm per light</span></td>
            </tr>
            <tr>
              <td class="spec-title">Battery</td>
              <td class="spec-desc"><span>4400 mAh lithium-ion<br>16 Wh storage</span></td>
            </tr>
            
       
            <tr>
              <td class="spec-title">Outputs</td>
              <td class="spec-desc"><span><strong>PowerLight</strong> - USB charge out; 2.5mm connector 
              <br/><strong>SiteLight</strong> - 2.5 mm connector</span></td>
            </tr>
            
           
             <tr>
              <td class="spec-title">Burn Time</td>
              <td class="spec-desc"><img src="https://cdn.shopify.com/s/files/1/0666/9741/files/NanoGrid_burnTimes_final.svg?13166565332115529284" alt="NanoGrid burn times" title="NanoGrid burn times"></td>
            </tr>
            
            
            
            <tr>
              <td class="spec-title">Dimensions</td>
              <td class="spec-desc"><span><strong>PowerLight</strong><br>2.22 x 5.27 x 1.15 in (5.64 x 13.39 x 2.92 cm) 
              <br/><strong>SiteLight</strong><br>2.55 x 1.06 x 2.55 in (6.48 x 2.69 x 6.48 cm)</span></td>
            </tr>
            <tr>
              <td class="spec-title">Weight</td>
              <td class="spec-desc"><span><strong>PowerLight</strong> - 7.05 oz (210 g) 
              <br/><strong>SiteLight</strong> - 1.83 oz (52 g) per light</span></td>
            </tr>
            <tr>
              <td class="spec-title">Cord Length</td>
              <td class="spec-desc"><span><strong>SiteLight</strong> - 10 ft per light</span></td>
            </tr>
             <tr>
              <td class="spec-title">Light Range</td>
              <td class="spec-desc"><img src="https://cdn.shopify.com/s/files/1/0666/9741/files/Light_Range_v2.svg?18042130059601173863" alt="NanoGrid light range" title="NanoGrid light range"></td>
            </tr>
            
           
            

          </tbody>
        </table>
      </div>
    </div><!-- .product-specs__top -->



   

  </div>

    <div class="product-specs__expander-btn btn-circle-tab btn-circle-tab--bottom" data-control-toggle-icons="fa-plus, fa-minus" data-control-toggle-icons="fa-plus, fa-minus" data-control-expander="#product-specs__expander">
      <i class="fa fa-plus"></i>
    </div>
    <footer class="product-specs-curtain__footer text-center">
      <small class="caps gray-light alt"><span data-control-text-target="">Complete Specifications</span></small>
    </footer>
</div>
