<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Specs</h2>
 <section id="product-specs" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div id="product-specs-new" class="wrapper wrapper--large wrapper--max_height">
    
       <div class="large--one-third grid__item">
  <div class="row-tight">
    <div class="spec-title">Play Time</div>
    <div class="spec-desc light">16 hours</div>
   </div>
    <div class="row-tight">
    <div class="spec-title">Standby Time</div>
    <div class="spec-desc light">700 hours</div>
   </div>
        
     </div>
       
       <div class="large--one-third grid__item">
         <div class="row-tight">
           <div class="spec-title">Wireless range</div>
           <div class="spec-desc light">32 feet</div>
         </div> 
   <div class="row-tight">
           <div class="spec-title">Dimensions</div>
           <div class="spec-desc light">5.6 x 3.9 x 2.1 inches.</div>
         </div> 
       </div>
       
       <div class="large--one-third grid__item">
  <div class="row-tight">           <div class="spec-title">Weight</div>
           <div class="spec-desc light">0.65lbs</div>
         </div>
           
   <div class="row-tight">           <div class="spec-title">In The Box</div>
           <div class="spec-desc light">USB charging cable, 3.5mm to 3.5mm cable, signature ODT carry pouch, User Manual, and some stickers</div>
         </div>          </div>
 
        
   </div>    
 </section>
</div>
