<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Specs</h2>
 <section id="product-specs" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div id="product-specs-new" class="wrapper wrapper--large wrapper--max_height">
       <div class="large--one-third grid__item">
         <div class="row-tight">
           <div class="spec-title">Weight</div>
           <div class="spec-desc light"><span>13.76 oz (390 g)</span></div>
         </div>

         <div class="row-medium">
           <div class="spec-title">Dimensions</div>
           <div class="spec-desc light"><span>10.12 x 8.19 x 0.94" (257 x 208 x 24 mm). Panel Only Depth: 0.26" (6.6 mm)</span></div>
         </div>
 <div class="row">
           <div class="spec-title">Cell Type</div>
           <div class="spec-desc light"><span>Monocrystalline</span></div>
         </div>
  
         
         
         
       </div>
       <div class="large--one-third grid__item">
         <div class="row-tight">
           <div class="spec-title">Inputs and Outputs</div>
           <div class="spec-desc light"><span>Micro USB In; USB Out</span></div>
         </div>
        
         <div class="row-medium">
           <div class="spec-title">Weather Resistant</div>
           <div class="spec-desc light"><span>IPX4</span></div>
         </div>
 <div class="row">
           <div class="spec-title">In The Box</div>
           <div class="spec-desc light"><span>SolarPanel 5+<br> USB Cord<br> Instructions</span></div>
         </div>
         
          
       </div>
       <div class="large--one-third grid__item">
         
        <div class="row-tight">
           <div class="spec-title">Power Output</div>
           <div class="spec-desc light"><span>5 watts per hour at peak sun</span></div>
         </div>
         <div class="row-medium">
           <div class="spec-title">Battery</div>
           <div class="spec-desc light"><span>3200mAh Li-on, 8 Wh</span></div>
         </div>

        
         
         <div class="row">
           <div class="spec-title">Warranty</div>
           <div class="spec-desc light"><span>1-year limited warranty on all BioLite products</span></div>
         </div>
       </div>
     </div>
   </div>
 </section>
</div>
