{% comment %}
  This is Tech Specs portion for the product: BioLite KettlePot.
  You can replace the .product-specs__img with an image you upload onto Shopify.

  Begin editing below this comment
{% endcomment %}


<div id="product-specs__expander" class="product-specs__expander">
  <div class="product-specs__body">

    <div class="product-specs__top clearfix border-bottom">
      <div class="grid__item large--one-half border-right">
        <table class="product-specs__table">
          <tbody>
            <tr>
              <td class="spec-title">Dimensions</td>
              <td class="spec-desc"><span>10.20 x 5.20" (25.91 x 13.21 cm)</span></td>
            </tr>
            
            <tr>
              <td class="spec-title">Weight</td>
              <td class="spec-desc"><span>465 grams</span></td>
            </tr>
            
            <tr>
              <td class="spec-title">Serves</td>
              <td class="spec-desc"><span>2-4 people</span></td>
            </tr>
            

           
          </tbody>
        </table>
      </div>

      <div class="grid__item large--one-half pl30 pl0--mobile">
        <table class="product-specs__table">
          <tbody>
            <tr>
              <td class="spec-title">Max Fill</td>
              <td class="spec-desc"><span>1.5 liters</span></td>
            </tr>
            
            <tr>
              <td class="spec-title">In The Box</td>
              <td class="spec-desc"><span>Stainless steel pot, kettle lid, stuff sack</span></td>
            </tr>
            
          </tbody>
        </table>
      </div>
    </div><!-- .product-specs__top -->



    <div class="product-specs__bottom clearfix">
      <div class="grid__item large--one-half">
        <table class="product-specs__table">
          <tbody>
            <tr class="border-bottom-none">
              <td class="spec-title">Additional Features</td>
            </tr>
            <tr>
              <td class="spec-desc">
                <ol>
                  <li><strong>BPA-Free High Temp Top</strong> - See what you’re cooking and pour when ready</li><br>
                  <li><strong>Silicone Seal</strong> - Keeps liquids secure so you can pour without spilling a drop</li><br>
                  <li><strong>Vertical Cook Touch Handles</strong> - Facilitate easy handling and pouring</li><br>
                  <li><strong>Ultra-Thin Stainless Body</strong> - Lightweight and safer than anodized aluminum cookware</li><br>
                  <li><strong>Honeycomb Heat Shield</strong> - Concentrate flames and block wind</li><br>
           
                </ol>
              </td>
            </tr>
          </tbody>
        </table>
      </div>  
      <div class="grid__item large--one-half">
        <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/KettlePot_features-01.svg?62565" alt="KettlePot features" title="KettlePot features">
      </div>
    </div>

  </div>

    <div class="product-specs__expander-btn btn-circle-tab btn-circle-tab--bottom" data-control-toggle-icons="fa-plus, fa-minus" data-control-expander="#product-specs__expander">
      <i class="fa fa-plus"></i>
    </div>
    <footer class="product-specs-curtain__footer text-center">
      <small class="caps gray-light alt"><span data-control-text-target="">Complete Specifications</span></small>
    </footer>
</div>
