<div class="mobile-wrapper open">
 <h2 class="mobile-title">Videos</h2>
 <section id="product-specs" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div id="product-specs-new" class="wrapper wrapper--large wrapper--max_height">
       

			  <div class="staff-grid-item grid__item large--one-half mt20 text-center">
                  
                  
                  <iframe class="text-center" width="900" height="475" src="https://www.youtube.com/embed/I3RI8y4cqX4?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                      <h6 class="primary alt mt20 ">WATCH: Camp Cookbook: French Omelette &amp; Coffee</h6>

   

				</div>
       
        <div class="staff-grid-item grid__item large--one-half mt10 pl50 camp-cookbook">
                  
                  
    
    <h6 class="primary alt mt20 mb0">Ingredients</h6>

		 
              <ul>  
                <li class="light">- 3 eggs</li>
                <li class="light">- 4 cherry tomoatoes quartered</li>
                <li class="light">- 2 tablespoons grated gruyere cheese</li>
                <li class="light">- Handful of chopped spinach</li>
                <li class="light">- 1/2 teaspoon salt</li>
                <li class="light">- 1 tablespoon of butter</li>
          </ul>
                   <h6 class="alt primary mt20 mb0">Preparation</h6>

          <ol>
            <li class="light"><strong>Beat the Eggs.</strong> They should be fully scrambled into a smooth consistency.</li>
            <li class="light"><strong>Butter.</strong> Melt your butter in the pan until it’s foaming - but not sputtering - and then add in your egg mixture. </li>
            <li class="light"><strong>Keep It Moving.</strong> Once your eggs are in the pan, the key is to keep them moving. Stir continuously with your fork and shake the over the flame. The goal here is to achieve essentially a pancake of soft-scramble eggs, without forming curds that are too distinct. </li>
            <li class="light"><strong>The Fold.</strong> Once the eggs achieve a slightly underdone scramble and are starting to set, remove from the heat. Hold the pan at a 45 degree angle and use your fork to flip the top edge over on top of itself. Still holding the pan at an angle, tap the bottom edge on the table to slide the bottom edge of the omelette up the side of the pan. Then use your fork to flip that bottom edge back on top of the omelette.</li>
            <li class="light">For the full Franco breakfast experience, the BioLite <strong>KettlePot and CoffeePress</strong> make an excellent cup of coffee to go along with your French omelette.</li>
          </ol>
       
       </div>
  
  
  
   
  
     </div>
   </div>    
 </section>
</div>








