<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Videos</h2>
 <section id="product-specs" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div id="product-specs-new" class="wrapper wrapper--large wrapper--max_height">
       
       
			  <div class="staff-grid-item grid__item large--one-third mt20">
                  
            
                  
                  <iframe width="350" height="185" src="https://www.youtube.com/embed/1IDtK-w6E3c?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                  

    
    <h6 class="primary alt mt20 text-center">BioLite NanoGrid | Outdoor, Offgrid Lighting System</h6>

				</div>
  
  
     <div class="staff-grid-item grid__item large--one-third mt20">
                  
            
                  
                  <iframe width="350" height="185" src="https://www.youtube.com/embed/aLwyDVzddlQ?rel=0&amp;showinfo=0"  frameborder="0" allowfullscreen></iframe>
                  

    
    <h6 class="primary alt mt20 text-center">Meet SiteLight Mini</h6>

				</div>
  
  
  
           <div class="staff-grid-item grid__item large--one-third mt20">
                  
            
                  
                  <iframe width="350" height="185" src="https://www.youtube.com/embed/Gt-LxHGJ58Y?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                  

    
    <h6 class="primary alt mt20 text-center">Meet SiteLight XL</h6>

				</div>
     </div>
   </div>    
 </section>
</div>



