<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Videos</h2>
 <section id="product-specs" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div id="product-specs-new" class="wrapper wrapper--large wrapper--max_height">
       
       
			  <div class="staff-grid-item grid__item large--one-third mt20">
                  
                  
                  <iframe width="350" height="185" src="https://www.youtube.com/embed/lmxmEiLRbLI?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                  
    
    <h6 class="primary alt mt20 text-center">Get to Know the BioLite CampStove</h6>

				</div>
  
  
     <div class="staff-grid-item grid__item large--one-third mt20">
                  
            
                  
                  <iframe width="350" height="185" src="https://www.youtube.com/embed/_CzHeUVgN0Y?rel=0&amp;showinfo=0"  frameborder="0" allowfullscreen></iframe>
                  

       
    <h6 class="primary alt mt20 text-center">Meet the Portable Grill</h6>

				</div>
  
  
    <div class="staff-grid-item grid__item large--one-third mt20">
                  
            
                  
                  <iframe width="350" height="185" src="https://www.youtube.com/embed/WvJ-oLA_7QM?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                  

    
    <h6 class="primary alt mt20 text-center">Meet the KettlePot</h6>

				</div>
     </div>
   </div>    
 </section>
</div>





