<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Videos</h2>
 <section id="product-specs" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div id="product-specs-new" class="wrapper wrapper--large wrapper--max_height">
       
       
			  <div class="staff-grid-item grid__item large--one-third mt20">
                  
            
                  
                  <iframe width="350" height="185" src="https://www.youtube.com/embed/1vGKgBDfL5g?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                  

    <h6 class="primary alt mt20 text-center">BioLite FirePit - See Fire, Not Smoke</h6>

				</div>
  

     <div class="staff-grid-item grid__item large--one-third mt20">
                  
            
                  
                  <iframe width="350" height="185" src="https://www.youtube.com/embed/HXzR7MJWmmk?rel=0&amp;showinfo=0"  frameborder="0" allowfullscreen></iframe>
                  

    
    <h6 class="primary alt mt20 text-center">Spark-To-Smokeless Demo</h6>

				</div>
  
  
    <div class="staff-grid-item grid__item large--one-third mt20">
                  
            
                  
                  <iframe width="350" height="185" src="https://www.youtube.com/embed/K5OCli6meFc?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                  

    
    <h6 class="primary alt mt20 text-center">FirePit Instructional Video </h6>

				</div>
       
       
       
          <div class="staff-grid-item grid__item large--one-third mt20">
                  
            
                  
                  <iframe width="350" height="185" src="https://www.youtube.com/embed/DiHTc7jBMh8?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                  

    
    <h6 class="primary alt mt20 text-center">FirePit Cookbook: Burgers Three Ways </h6>

				</div>
       
          <div class="staff-grid-item grid__item large--one-third mt20">
                  
            
                  
                  <iframe width="350" height="185" src="https://www.youtube.com/embed/eBz6qIlrNn8?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                  

    
    <h6 class="primary alt mt20 text-center">FirePit Cookbook: Fruits &amp; Veggies </h6>

				</div>
       
          <div class="staff-grid-item grid__item large--one-third mt20">
                  
            
                  
                  <iframe width="350" height="185" src="https://www.youtube.com/embed/TUgaoUpNYS0?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                  

    
    <h6 class="primary alt mt20 text-center">FirePit Cookbook: Skewers 3 Ways </h6>

				</div>
     </div>
   </div>    
 </section>
</div>




