<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Videos</h2>
 <section id="product-specs" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div id="product-specs-new" class="wrapper wrapper--large wrapper--max_height">
       
       
			  <div class="staff-grid-item grid__item large--one-half mt20 text-center">
                  
            
                  
                  <iframe width="350" height="185" src="https://www.youtube.com/embed/kfuElv9BtFA?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                  

    
    <h6 class="primary alt mt20 text-center">CampStove Complete Cook Kit Overview</h6>

				</div>
  
  
   <div class="staff-grid-item grid__item large--one-half mt20 text-center">
                  
                  
                  <iframe class="text-center" width="350" height="185" src="https://www.youtube.com/embed/5tuKN2CWcHA?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                  
    
    <h6 class="primary alt mt20 text-center">CampStove 2+ Overview</h6>

				</div>
  
  
 
     </div>
   </div>    
 </section>
</div>




