<div class="mobile-wrapper closed">
 <h2 class="mobile-title">Videos</h2>
 <section id="product-specs" class="mobile-wrapper-content product-specs section product-specs--{{ product.handle | remove: 'biolite-' }}">
   <div class="wrapper">
     <div id="product-specs-new" class="wrapper wrapper--large wrapper--max_height">
       
       
			
         <div class="staff-grid-item grid__item large--one-third mt20">
                  
                  <iframe width="350" height="185" src="https://www.youtube.com/embed/1kj5BrThgls?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                  
    
    <h6 class="primary alt mt20 text-center">Meet The Prep Kit | Solo Edition</h6>

				</div>
       
       
       <div class="staff-grid-item grid__item large--one-third mt20">
                  
            
                  
                  <iframe width="350" height="185" src="https://www.youtube.com/embed/Om50rLZKOyQ?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                  

    
    <h6 class="primary alt mt20 text-center">SunLight Overview</h6>

				</div>
  
  
       
           <div class="staff-grid-item grid__item large--one-third mt20">
                  
            
                  
                  <iframe width="350" height="185" src="https://www.youtube.com/embed/8JFBZBux-wM?rel=0&amp;showinfo=0"  frameborder="0" allowfullscreen></iframe>
                  

    
    <h6 class="primary alt mt20 text-center">HeadLamp 330 Overview</h6>

				</div>
  
  

     </div>
   </div>    
 </section>
</div>







