#biolite-outdoor-amp-off-grid-energy-free-shipping-99-united-states .compare-at {
    display: inline;
}

#biolite-outdoor-amp-off-grid-energy-free-shipping-99-united-states .compare-at .product-price-compare-strike  {
    font-size: 16px;
  font-family: "din-next-pro";
  font-weight: 200;
  vertical-align: middle;
  color: #a6a6a6;
    padding-left:7px;
    text-decoration: line-through;
}

#biolite-outdoor-amp-off-grid-energy-free-shipping-99-united-states .product-price-compare-strike .mini-currency {
    font-size: 0.6em;
    font-weight: 500;
    margin-left: -1px;
}


#biolite-outdoor-amp-off-grid-energy-free-shipping-99-united-states .product-grid-item .you-save  {
  top:0px;
}


#biolite-outdoor-amp-off-grid-energy-free-shipping-99-united-states .product-grid-item__thumb {
  background-size:80%;
}

#biolite-outdoor-amp-off-grid-energy-free-shipping-99-united-states #ProductPrice.h5, #biolite-outdoor-amp-off-grid-energy-free-shipping-99-united-states  #ProductPrice.product-grid-item__price.h5, 
#biolite-nanogrid-lighting-system #ProductPrice.h5, #biolite-nanogrid-lighting-system  #ProductPrice.product-grid-item__price.h5, 
#biolite-power-shop-solar-panels-amp-portable-power  #ProductPrice.product-grid-item__price.h5,
{
    font-size: 14px;
    font-weight: 600;
    color: #747474;
}
#biolite-outdoor-amp-off-grid-energy-free-shipping-99-united-states   {
  background-color:#f3f3f3;

}
#biolite-outdoor-amp-off-grid-energy-free-shipping-99-united-states .hero.hero--tight {height:238px;}
#biolite-outdoor-amp-off-grid-energy-free-shipping-99-united-states .collections-grid {margin:20px;}
#biolite-outdoor-amp-off-grid-energy-free-shipping-99-united-states .product-grid {padding:20px 0 0; position:relative; z-index:1;}
#biolite-outdoor-amp-off-grid-energy-free-shipping-99-united-states .product-grid-item-padder {margin:10px; padding:0 0 0px 0;}
#biolite-outdoor-amp-off-grid-energy-free-shipping-99-united-states .product-grid-item-padder {
  border:1px solid #fff;
  background-color:#f3f3f3;
  -o-transition:border .1s ease-out, border .35s ease-in;
  -ms-transition:border .1s ease-out, border .35s ease-in;
  -moz-transition:border .1s ease-out, border .35s ease-in;
  -webkit-transition:border .1s ease-out, border .35s ease-in;
  transition:border .1s ease-out, border .35s ease-in;
}
#biolite-outdoor-amp-off-grid-energy-free-shipping-99-united-states .product-grid-item-padder:hover {border:1px solid #d0d0d0;}



@media only screen and (max-width: 768px) {
  #biolite-outdoor-amp-off-grid-energy-free-shipping-99-united-states .collections-grid {margin:0;}

  #biolite-outdoor-amp-off-grid-energy-free-shipping-99-united-states .product-grid-item__thumb {background-size:contain;}
}

@media only screen and (max-width: 480px) {

  #biolite-outdoor-amp-off-grid-energy-free-shipping-99-united-states #ProductPrice.h5, #biolite-outdoor-amp-off-grid-energy-free-shipping-99-united-states #ProductPrice.product-grid-item__price.h5 {
    font-size: 12px;
}

  
  #biolite-outdoor-amp-off-grid-energy-free-shipping-99-united-states .compare-at .product-price-compare-strike{
    font-size: 12px;
    padding-left:4px;
}

#biolite-outdoor-amp-off-grid-energy-free-shipping-99-united-states .product-price-compare-strike .mini-currency {
    font-size: 0.4em;
    font-weight: 500;
    margin-left: -1px;
}
  
  #biolite-outdoor-amp-off-grid-energy-free-shipping-99-united-states .product-grid-item-padder {
    margin: 5px;
}
  
  #biolite-outdoor-amp-off-grid-energy-free-shipping-99-united-states .you-save{
  font-size: 10px;
  line-height:12px;
}
  
  
  #biolite-outdoor-amp-off-grid-energy-free-shipping-99-united-states .product-grid-item-padder:hover {border:1px solid #fff;}
  


#biolite-outdoor-amp-off-grid-energy-free-shipping-99-united-states .product-grid {
    padding: 20px 5px 0;
}
}
  
  #biolite-outdoor-amp-off-grid-energy-free-shipping-99-united-states  {
    background-color:#f3f3f3;

}

#biolite-outdoor-amp-off-grid-energy-free-shipping-99-united-states .product-grid-item .you-save{
  top: 7px;
  height:27px;
  margin-bottom: 10px;
}

#biolite-outdoor-amp-off-grid-energy-free-shipping-99-united-states .product-grid-item .fake-you-save{
  top: 7px;
  height:27px;
  margin-bottom:10px;
}

#biolite-outdoor-amp-off-grid-energy-free-shipping-99-united-states .product-grid-item__title {
  font-size:18px;
  color: #252525;
}


#biolite-outdoor-amp-off-grid-energy-free-shipping-99-united-states .you-save{
  border: 0px solid #00b1af;
  display: inline-block;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 11px;
  line-height:17px;
  position: relative;
  padding: 0px;
  margin: 0px;
  font-weight: 700;
}

#biolite-outdoor-amp-off-grid-energy-free-shipping-99-united-states .you-save-white{
  border: 1px solid #fff;
  display: inline-block;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 11px;
  line-height:17px;
  position: relative;
  padding: 0px;
  margin: 0px;
  font-weight: 700;
}

#biolite-outdoor-amp-off-grid-energy-free-shipping-99-united-states .you-save .left-side{
  padding: 3px 6px 3px 6px;
  color: #00b1af;
  display: inline-block;
}

#biolite-outdoor-amp-off-grid-energy-free-shipping-99-united-states .you-save .left-side-long {
    padding: 4px 15px 4px 15px;
    color: #35a8a6;
    display: inline-block;
}

#biolite-outdoor-amp-off-grid-energy-free-shipping-99-united-states .you-save-white .left-side-long-white{
  padding: 5px 16px 6px 16px;
  color: #fff;
  display: inline-block;
}

#biolite-outdoor-amp-off-grid-energy-free-shipping-99-united-states .you-save .right-side {
    padding: 3px 6px 3px 6px;
    background-color: #f3f3f3;
    color: #00b1af;
    height: 100%;
    display: inline-block;
    font-weight: bold;
    font-size: 12px;
    line-height: 11px;
}

#biolite-outdoor-amp-off-grid-energy-free-shipping-99-united-states .product-grid-item__inner {
    position: relative;
    width: 100%;
    height: 220px;
}

@media only screen and (max-width: 1441px) {


#biolite-outdoor-amp-off-grid-energy-free-shipping-99-united-states .product-grid-item__inner {
    height: 280px;
}
  
}

@media only screen and (max-width: 1280px) {

margin-top: 100px; /*with alert bar off*/ .product-grid-item__inner {
    height: 215px;
}
  
}

@media only screen and (max-width: 1024px) {

#biolite-outdoor-amp-off-grid-energy-free-shipping-99-united-states .product-grid-item__inner {
    height: 290px;
}
  
    #biolite-outdoor-amp-off-grid-energy-free-shipping-99-united-states  {
    background-image:none;
    background-color:#f3f3f3;
    height: 100%;

}
  
}

@media only screen and (max-width: 880px) {

#biolite-outdoor-amp-off-grid-energy-free-shipping-99-united-states .product-grid-item__inner {
    height: 375px;
}
  
    #biolite-outdoor-amp-off-grid-energy-free-shipping-99-united-states  {
    background-image: none;

}
  
}

@media only screen and (max-width: 705px) {

#biolite-outdoor-amp-off-grid-energy-free-shipping-99-united-states .product-grid-item__inner {
    height: 275px;
}
  
}

@media only screen and (max-width: 560px) {

#biolite-outdoor-amp-off-grid-energy-free-shipping-99-united-states .product-grid-item__inner {
    height: 170px;
}
 #biolite-outdoor-amp-off-grid-energy-free-shipping-99-united-states .product-grid-item {
    margin-bottom: 0px;
}
  
  #biolite-outdoor-amp-off-grid-energy-free-shipping-99-united-states .product-grid-item__title {
    font-size: 16px;
}
  
}