
<div id="billboard">
    <div class="flexhero">
      <div class="main-billboard">
       <a href="/products/firepit-essentials-kit" title="The FirePit Essentials Kit">
		<div class="main-billboard-content">
            
            <span class="billboard-subhead large--white medium--white small--white">New At The Shop </span>
        <span class="billboard-main large--white medium--white small--white">FirePit Essentials Kit</span>  
          <img data-src="https://cdn.shopify.com/s/files/1/0666/9741/files/FirePit_Accessories_Hero.jpg?v=1613757095" class="lazyload" alt="The FirePit Essentials Kit" title="The FirePit Essentials Kit" />
          <footer class="billboard-cta">
                <a href="/products/firepit-essentials-kit" class="btn btn-primary" title="The FirePit Essentials Kit">
                  <span>Save $65 - View Now</span>
                </a>
              </footer>
         </div>
          </a>
      </div>
  </div>
</div>
 

<div class="clearfix"></div>

  
<div class="wrapper--xxlarge pt50 pb30"> 
  
  <div class="grid__item large--one-whole">

  <div class="grid__item large--one-third medium--one-half small--one-half homepage-category" style="border-right:1px solid #fff">
      <div class="homepage-category-padder">
        <a href="/collections#firepit-family"> <img data-src="https://cdn.shopify.com/s/files/1/0666/9741/files/Homepage_firepit_0509a616-171d-4f53-a118-f5282495ff7b.png?v=1616084741" class="homepage-category-img lazyload" alt="Shop FirePit" title="Shop FirePit" /></a>
    <a href="/collections#firepit-family"><span class="homepage-category-caption">FirePit &amp; Cooking Accessories →</span>
    </a>
    </div>
  </div>
  
  <div class="grid__item large--one-third medium--one-half small--one-half homepage-category" style="border-right:1px solid #fff">
      <div class="homepage-category-padder">
        <a href="/collections#usb-battery-banks"><img data-src="https://cdn.shopify.com/s/files/1/0666/9741/files/Homepage_charge.png?v=1616084691" class="homepage-category-img lazyload" alt="Shop USB-C PD Battery Banks" title="Shop USB-C PD Battery Banks" /></a>
    <a href="/collections#usb-battery-banks"><span class="homepage-category-caption">USB-C PD Battery Banks →</span>
    </a>
    </div>
  </div>
  
   <div class="grid__item large--one-third medium--one-half small--one-half homepage-category">
      <div class="homepage-category-padder">
        <a href="/collections#headlamps"> <img data-src="https://cdn.shopify.com/s/files/1/0666/9741/files/Homepage_headlamp_9b67989b-888b-41f4-93aa-2ef5f5464a13.png?v=1616084714" class="homepage-category-img lazyload" alt="Shop 3D Slimfit Headlamps" title="Shop 3D Slimfit Headlamps" /></a>
    <a href="/collections#headlamps"><span class="homepage-category-caption">3D Slimfit Headlamps →</span>
    </a>
    </div>
  </div>
    
      <div class="grid__item large--one-third medium--one-half small--one-half homepage-category" style="border-right:1px solid #fff">
      <div class="homepage-category-padder">
        <a href="/collections#campstove-family"> <img data-src="https://cdn.shopify.com/s/files/1/0666/9741/files/Homepage_campstove.png?v=1616083435" class="homepage-category-img lazyload" alt="Shop CampStove" title="Shop CampStove" /></a>
    <a href="/collections#campstove-family"><span class="homepage-category-caption">CampStove &amp; Portable Cooking →</span>
    </a>
    </div>
  </div>
  
  <div class="grid__item large--one-third medium--one-half small--one-half homepage-category" style="border-right:1px solid #fff">
      <div class="homepage-category-padder">
        <a href="/collections#solar-panels"> <img data-src="https://cdn.shopify.com/s/files/1/0666/9741/files/Homepage_solar.png?v=1616083436" class="homepage-category-img lazyload" alt="Shop Solar Panels" title="Shop Solar Panels" /></a>
    <a href="/collections#solar-panels"><span class="homepage-category-caption">Solar Panels →</span>
    </a>
    </div>
  </div>
  
   <div class="grid__item large--one-third medium--one-half small--one-half homepage-category">
      <div class="homepage-category-padder">
        <a href="/collections#lanterns-string-lights"> <img data-src="https://cdn.shopify.com/s/files/1/0666/9741/files/Homepage_lanterns_r2.png?v=1626807259" class="homepage-category-img lazyload" alt="Shop Lanterns & String Lighting" title="Shop Shop Lanterns & String Lighting" /></a>
    <a href="/collections#lanterns-string-lights"><span class="homepage-category-caption">Lanterns &amp; String Lighting →</span>
    </a>
    </div>
  </div>
    
  </div>
    

  </div>  
 




<div class="clearfix"></div>





<div class="wrapper">
        <div class="grid__item large--one-whole million-lives-wrapper">

 <div class="grid__item large--two-eighths medium--three-eighths small--one-whole medium--pr30">
   <img class="million-lives-mark" src="https://cdn.shopify.com/s/files/1/0666/9741/files/OneMillionMark_icon-01.svg?v=1605206877" title="One Million People Living Safer Brighter Lives" alt="One Million People Living Safer Brighter Lives">
       <span class="impact-msg">Three Million People Living Safer, Brighter Lives</span>  

      <p class="dark-grey light reader pt20">In 2021, BioLite crossed the three million lives
milestone, bringing safe and reliable energy to people in 23 countries across Africa and Asia.
<br><br>
Your support helped make this happen.

      </p>
   
          <div class="grid__item large--one-whole pt20">
      
        <a href="/mission" class="btn btn-primary mt20" title="Our Mission">
                  <span>Learn About Our Mission</span>
                </a>
  </div>
  </div>
          
      <div class="grid__item push--large--one-twelfth large--five-eighths medium--five-eighths  small--one-whole million-lives-hero">
        
        <div class="grid__item large--one-whole million-lives-stat">
        <span class="world-stats-large">3,612,951</span> 
      <span class="world-stats-caption">People reached in Africa and Asia</span> 
          </div>
            
          
          <div class="million-lives-img">
    <img id="f3" src="https://cdn.shopify.com/s/files/1/0666/9741/files/HomeSlideshow_1.png?v=1618492996" alt="1 Million Lives" title="1 Million Lives">
    <img id="f2" src="https://cdn.shopify.com/s/files/1/0666/9741/files/HomeSlideshow-2.png?v=1618492996" alt="1 Million Lives" title="1 Million Lives">
    <img id="f1" src="https://cdn.shopify.com/s/files/1/0666/9741/files/HomeSlideshow-3.png?v=1618492996" alt="1 Million Lives" title="1 Million Lives">
            
        </div>
        
         <div class="grid__item large--one-third million-lives-stat-small">
           <div class="world-stats-label"><span class="world-stats-label-caption">EDUCATION</span></div> 
           <span class="world-stats">350 <span class="world-stats-small">HOURS</span></span> 
      <p class="world-stats-caption">per year of additional study time through extended lighting at night</p> 
        </div>
        
        
         <div class="grid__item large--one-third million-lives-stat-small">
          <div class="world-stats-label"><span class="world-stats-label-caption">CLIMATE</span></div> 
           <span class="world-stats">718,964 <span class="world-stats-small">TONS</span></span> 
           <p class="world-stats-caption">of CO2e avoided by BioLite products. That's like taking <strong>155,000 American cars</strong> off the road for a year.
</p> 
        </div>
        
        
         <div class="grid__item large--one-third million-lives-stat-small">
                     <div class="world-stats-label"><span class="world-stats-label-caption">SAVINGS</span></div> 

           <span class="world-stats">$173 <span class="world-stats-small">/YEAR</span></span> 
      <p class="world-stats-caption">saved annually on fuel by replacing traditional cooking methods with BioLite Stoves. For customers living at or below the
poverty line, this savings
        represents <strong>15% of their annual income</strong>. 
</p> 
        </div>
        
        
     
      
      
  </div>

        
      
          
         
  </div>
  
             <div id="hero-video--watchmission" class="modal">
   <header class="modal__header">
     
     <div class="modal--close">
            <i class="icomoon icon-close-circle modal-close-button"></i>
     </div>
   </header>
   <div class="modal__content modal__content--video">
          <div data-control-youtube-video="mV1MRlhLnWQ"></div>
        </div>
  </div>
        
  
     

</div>






