 <script>new WOW().init();</script>



  <header id="side-nav" class="firepit-side-menu">
    <nav>
      <ul>
        <li><a href="#this-is-solar-prep-pack"><span></span></a></li>
        <li><a href="#solarhome-at-a-glance"><span></span></a></li>
        <li><a href="#sunlight-at-a-glance"><span></span></a></li>
        <li><a href="#power-up"><span></span></a></li>
        <li><a href="#smart-hub"><span></span></a></li>
        <li><a href="#emergency-lighting"><span></span></a></li>
        <li><a href="#photos"><span></span></a></li>
       <li><a href="#shop"><span>SHOP</span></a></li>
      </ul>
    </nav>
  </header>

<main>
<section id="this-is-solar-prep-pack">
<div id="preppack-hero" class="landing-section-hero preppack-hero wow fadeIn">
  <div class="preppack-hero-section">
    <span class="shs-hero-subheader white wow fadeIn large--text-left medium--text-center small--text-center" data-wow-delay="0.6s">Limited Edition Prep Pack</span> 
            <span class="shs-hero-header white wow fadeIn  large--text-left medium--text-center small--text-center" data-wow-delay="0.6s">Light Rooms, Charge Phones, &amp; Stay Connected</span> 
      <footer class="shs-hero-cta wow fadeInDown large--text-left medium--text-center small--text-center" data-wow-delay="1.5s">
              
        <a href="#shop" class="btn btn-orange" title="Shop Now">
                  <span>Shop Prep Packs </span>
                </a>
              </footer>
  </div> 
  <div class="bouncy-comeinside wow fadeIn medium--text-center small--text-center " data-wow-delay="2s"><a href="#solarhome-at-a-glance"><span class="come-inside-text">Come On Inside</span><i class="icomoon icon-downArrow downArrow"></i></a></div>
</div>
      <div id="hero-video-product" class="modal">
       
     <header class="modal__header">
    </header>
    <div id="hero-video--prep-pack-video" class="modal">
   <header class="modal__header">
     <div class="modal--close">
       <i class="icomoon icon-close-circle modal-close-button"></i>
     </div>
   </header>
  <div class="modal__content modal__content--video">
                <iframe src="https://www.youtube.com/embed/eboi6LN_T7g?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                </div> 
  </div>
  </div>

</section>


<div class="clearfix"></div>

<section id="solarhome-at-a-glance">
 <div id="prepPack-SHS" class="landing-section go-inside-preppack" data-section-name="go-inside-solarhome" id="comeInside">
   <div class="solarhome-overview wow shsOverviewBG" data-wow-delay="0.5s">
  <div class="solarhome-overview-illustration wow shsIllustration" data-wow-delay="0s">
<img class="" src="https://cdn.shopify.com/s/files/1/0666/9741/files/SHS620_house_outline-01.svg?479977929691695634">
  </div>
     
      <div class="solarhome-overview-illustration-fill wow shsIllustrationFill" data-wow-delay="0.5s">
<img class="" src="https://cdn.shopify.com/s/files/1/0666/9741/files/SHS620_house_fill-02-01.svg?5454609621286860176">

  </div>
     
       <div class="solarhome-overview-quads-1 wow fadeIn" data-wow-delay="1.1s">
    <div class="grid__item large--one-whole medium--one-whole small--one-whole solarhome-overview-quads-maintitle">
       <span class="solarhome-overview-quads-title primary">Your Grid Under The Sink</span> 
        <span class="solarhome-overview-quads-mainsubtitle dark-gray">The size of a shoebox, the SolarHome 620 unpacks instantly to offer multi-area lighting, charging, and radio</span>
       </div>
       </div>
     
     <div class="solarhome-overview-quads-1 wow fadeIn" data-wow-delay="0.8s">
       <div class="grid__item large--one-sixth medium--one-sixth small--one-third"><img class="solarhome-overview-quads-product" src="https://cdn.shopify.com/s/files/1/0666/9741/files/SHS_components-04.svg?5527679996539652820"></div>
    <div class="grid__item large--five-sixths medium--five-sixths small--two-thirds solarhome-overview-quads-content">
       <i class="icomoon icon-number-01 solarhome-overview-numbering dark-gray"></i>
       <span class="solarhome-overview-quads-title primary">6W Solar Panel</span> 
        <span class="solarhome-overview-quads-desc dark-gray">Easy installation - place in the sun and charge the system in a day</span>
       </div>
       </div>
     
     <div class="solarhome-overview-quads-1 wow fadeIn" data-wow-delay="0.9s">
       <div class="grid__item large--one-sixth medium--one-sixth small--one-third"><img class="solarhome-overview-quads-product" src="https://cdn.shopify.com/s/files/1/0666/9741/files/SHS_components-01.svg?5527679996539652820"></div>
    <div class="grid__item large--five-sixths medium--five-sixths small--two-thirds solarhome-overview-quads-content">
       <i class="icomoon icon-number-02 solarhome-overview-numbering dark-gray"></i>
       <span class="solarhome-overview-quads-title primary">20Wh Control Box</span> 
        <span class="solarhome-overview-quads-desc dark-gray">Store the sun's power and access radio, charging, and energy feedback</span>
       </div>
       </div>
     
     <div class="solarhome-overview-quads-1 wow fadeIn" data-wow-delay="1s">
       <div class="grid__item large--one-sixth medium--one-sixth small--one-third"><img class="solarhome-overview-quads-product" src="https://cdn.shopify.com/s/files/1/0666/9741/files/SHS_components-02.svg?5527679996539652820"></div>
    <div class="grid__item large--five-sixths medium--five-sixths small--two-thirds solarhome-overview-quads-content">
       <i class="icomoon icon-number-03 solarhome-overview-numbering dark-gray"></i>
       <span class="solarhome-overview-quads-title primary">100 Lm Hanging Lights x3</span> 
        <span class="solarhome-overview-quads-desc dark-gray">Replace harsh emergency lighting with easy overhead stringlights, each with its own switch</span>
       </div>
       </div>
     
   
</div>
</div>
  </section>


<div class="clearfix"></div>
  
  <section id="sunlight-at-a-glance">

<div class="landing-section meet-your-new-sidekick" style="background-color:white;">
     <div class="landing-section-wrapper">
  <div class="grid__item large--one-half medium--one-half small--one-whole">
   <img class="hanging-sunlight wow fadeIn" src="https://cdn.shopify.com/s/files/1/0666/9741/files/SunLight_hanging_44df72b3-f9b3-417b-a1ef-9c0bd4166a0a.png?16535328289010604549" alt="SunLight" title="SunLight" />
     <img class="ground-sunlight wow fadeIn" data-wow-delay="0.2s" src="https://cdn.shopify.com/s/files/1/0666/9741/files/SunLight_ground-2_0707a282-7966-4036-987f-5b491db3674e.png?16535328289010604549" alt="SunLight" title="SunLight" />
  </div>

   <div class="grid__item large--one-half medium--one-whole small--one-whole">
       <div class="vertical-center medium--positionreset small--positionreset medium--text-center small--text-center sidekick-text">
  <span class="sunlight-title primary medium--text-center small--text-center wow fadeInLeft">Upgrade Your Candle</span> 
         <span class="medium--text-center small--text-center sunlight-description wow fadeInLeft">Prep Pack includes [4] 100 Lm SunLight lanterns ready for use around the house</span>

         <div class="sunlight-icon-feature-list small--positionreset">
          <span class="sunlight-icon-feature no-border-mobile  medium--text-center small--text-center sunlight-description wow fadeInLeft" data-wow-delay="0.2s" style="border-bottom: 1px solid #fff;">
            <img class="sunlight-icon-feature-icon" src="https://cdn.shopify.com/s/files/1/0666/9741/files/SunLight_Landing_Page_icons-01.svg?1620200676494994144"/>Charge From The Sun in 7 Hours</span>
          <span class="sunlight-icon-feature no-border-mobile medium--text-center  small--text-center sunlight-description wow fadeInLeft" data-wow-delay="0.3s" style="border-bottom: 1px solid #fff;">
            <img class="sunlight-icon-feature-icon" src="https://cdn.shopify.com/s/files/1/0666/9741/files/SunLight_Landing_Page_icons-03.svg?1620200676494994144"/>Runs For Up To 50 Hours Per Charge</span> 
           <span class="sunlight-icon-feature no-border-mobile  medium--text-center small--text-center sunlight-description wow fadeInLeft" data-wow-delay="0.4s" style="border-bottom: 1px solid #fff;">
             <img class="sunlight-icon-feature-icon" src="https://cdn.shopify.com/s/files/1/0666/9741/files/PrepPack_icon_1-01.svg?16731434474487318411"/>Safe Alternative to Candles When Power Is Out</span> 
          <span class="sunlight-icon-feature medium--text-center  small--text-center sunlight-description wow fadeInLeft" data-wow-delay="0.5s">
             <img class="sunlight-icon-feature-icon" src="https://cdn.shopify.com/s/files/1/0666/9741/files/SunLight_Landing_Page_icons-04.svg?1620200676494994144"/>Compact Design Won't Pop or Deflate</span> 
         </div>
     </div>
  </div>
  </div>
</div>
  </section>

<div class="clearfix"></div>

  <section id="power-up">

 <div id="preppack-solarFeature" class="landing-section solarhome-panel-feature" data-section-name="solarpanel">
  <svg version="1.1" id="sun-clouds-solarhome" class="wow fadeIn" data-wow-delay="1s" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 2000 386.02" xml:space="preserve">
<path class="sunFill" fill="#fdb913" d="M81.27,46.69v-13a1.91,1.91,0,1,1,3.82,0v13a1.91,1.91,0,1,1-3.82,0Zm26.66,12.15a1.91,1.91,0,0,0,1.35-.56l9.18-9.17a1.91,1.91,0,1,0-2.7-2.71l-9.18,9.18a1.91,1.91,0,0,0,1.35,3.26Zm23.24,20.9h-13a1.91,1.91,0,0,0,0,3.82h13a1.91,1.91,0,1,0,0-3.82ZM109.28,105a1.91,1.91,0,0,0-2.7,2.7l9.18,9.17a1.91,1.91,0,1,0,2.7-2.7Zm-26.1,9.68a1.91,1.91,0,0,0-1.91,1.91v13a1.91,1.91,0,1,0,3.82,0v-13A1.92,1.92,0,0,0,83.18,114.71ZM57.07,105l-9.18,9.17a1.9,1.9,0,0,0,0,2.7,1.91,1.91,0,0,0,2.7,0l9.18-9.17a1.91,1.91,0,1,0-2.7-2.7Zm-7-23.38a1.91,1.91,0,0,0-1.91-1.91h-13a1.91,1.91,0,0,0,0,3.82h13A1.9,1.9,0,0,0,50.08,81.65Zm7-23.37a1.92,1.92,0,0,0,2.71,0,1.91,1.91,0,0,0,0-2.7L50.59,46.4a1.91,1.91,0,1,0-2.7,2.71Zm53,23.64A26.93,26.93,0,1,1,83.18,55,26.95,26.95,0,0,1,110.11,81.92Zm-3.83,0A23.11,23.11,0,1,0,83.18,105,23.11,23.11,0,0,0,106.28,81.92Z"/>
<path class="rayBottom_1 wow" fill="#fdb913" data-wow-delay="0s" d="M101.59,124.44a1.91,1.91,0,0,1-1.65-.94L96.7,118a1.91,1.91,0,0,1,3.29-1.94l3.24,5.48a1.91,1.91,0,0,1-.67,2.62A1.88,1.88,0,0,1,101.59,124.44Z"/>
<path class="rayBottom_2 wow" fill="#fdb913" data-wow-delay="0.2s" d="M118.72,153.39a1.91,1.91,0,0,1-1.65-.94l-5.71-9.65a1.91,1.91,0,0,1,3.29-1.94l5.71,9.65a1.9,1.9,0,0,1-1.64,2.88Z"/>
<path class="rayBottom_3 wow" fill="#fdb913" data-wow-delay="0.4s" d="M135.85,182.34a1.9,1.9,0,0,1-1.65-.94l-5.71-9.65a1.91,1.91,0,0,1,3.29-1.94l5.71,9.65a1.9,1.9,0,0,1-.67,2.61A1.92,1.92,0,0,1,135.85,182.34Z"/>
<path class="rayBottom_4 wow" fill="#fdb913" data-wow-delay="0.6s" d="M150.51,207.12a1.91,1.91,0,0,1-1.65-.94l-3.24-5.48a1.91,1.91,0,1,1,3.29-1.94l3.24,5.48a1.9,1.9,0,0,1-.67,2.61A1.92,1.92,0,0,1,150.51,207.12Z"/>
<path class="rayTop_1 wow" fill="#fdb913" data-wow-delay="0s" d="M122.67,99.61a1.94,1.94,0,0,1-.92-.24l-5.59-3.05A1.91,1.91,0,1,1,118,93l5.59,3a1.91,1.91,0,0,1-.92,3.59Z"/>
<path class="rayTop_2 wow" fill="#fdb913" data-wow-delay="0.2s" d="M154.57,117a1.91,1.91,0,0,1-.92-.24L143,111a1.91,1.91,0,0,1,1.83-3.36l10.63,5.81a1.91,1.91,0,0,1-.91,3.59Z"/>
<path class="rayTop_3 wow" fill="#fdb913" data-wow-delay="0.4s" d="M186.46,134.43a1.88,1.88,0,0,1-.91-.24l-10.63-5.8a1.91,1.91,0,0,1,1.83-3.36l10.63,5.81a1.91,1.91,0,0,1-.92,3.59Z"/>
<path class="rayTop_4 wow" fill="#fdb913" data-wow-delay="0.6s" d="M213.32,149.08a1.93,1.93,0,0,1-.92-.23l-5.59-3a1.91,1.91,0,0,1,1.83-3.36l5.6,3.05a1.91,1.91,0,0,1-.92,3.59Z"/>
</svg>  
    
    <div class="solarhome-panel-copy wow fadeIn" data-wow-delay=".6s">
      <span class="sunlight-title dark-gray">Power Up When The Grid is Down</span> 
        <span class="sunlight-description dark-gray">The Prep Pack's SolarHome 620 and SunLight both feature integrated solar panels so you can charge up during the day and access reliable light and power at night.</span>
    </div>
    
</div>
  </section>
  <div class="clearfix"></div>

  
  <section id="smart-hub">

 <div class="landing-section solarhome-box-feature" data-section-name="control-box">
    <div class="solarhome-box-main">
      <span class="sunlight-title white text-center">A Hub For Smart Energy Use</span> 
        <span class="sunlight-description white text-center">SolarHome 620 Control Box Helps You Use Watts Wisely</span>
    </div>
   
    <div class="solarhome-box-callout-light wow fadeInLeft" data-wow-delay="0.2s">
      <!--<i class="icomoon icon-powerlight   solarhome-box-callout-icon white hide-on-mobile"></i>-->
      <span class="solarhome-box-callout-title white">Control Brightness</span> 
      <span class="solarhome-box-callout-subtitle white">100 lumens wall light with lo-med-hi brightness so you can extend runtimes</span> 
    </div>
    <div class="solarhome-box-callout-radio wow fadeInLeft" data-wow-delay="0.4s">
      <!--<i class="icomoon icon-play-music-01  solarhome-box-callout-icon white hide-on-mobile"></i>-->
      <span class="solarhome-box-callout-title white">Play Radio &amp; MP3s</span> 
      <span class="solarhome-box-callout-subtitle white">Access FM radio with built-in antenna for news or store songs on micro SD for entertainment</span> 
    </div>
   <div class="solarhome-box-callout-lcd wow fadeInRight" data-wow-delay="0.6s">
      <!--<i class="icomoon icon-monitor-sun-01  solarhome-box-callout-icon white hide-on-mobile"></i>-->
      <span class="solarhome-box-callout-title white">Control Your Energy</span> 
      <span class="solarhome-box-callout-subtitle white">LCD display offers real-time updates on sun strength and battery life so you know the ins and outs of your off-grid power</span> 
    </div>
    <div class="solarhome-box-callout-usb wow fadeInRight" data-wow-delay="0.8s">
      <!--<i class="icomoon icon-2-USB  solarhome-box-callout-icon white hide-on-mobile"></i>-->
      <span class="solarhome-box-callout-title white">Charge Gear</span> 
      <span class="solarhome-box-callout-subtitle white">2 USB ports can charge powerbanks, lights, or phones so you can stay connected to friends and family</span> 
    </div>
   
    <div class="solarhome-box-interactive">
     <img class="solarhome-box" src="https://cdn.shopify.com/s/files/1/0666/9741/files/ControlBox_r3.png?867431411908940666" alt="" title="" />
      <div class="solarhome-box-glow-hover"><img class="solarhome-box-glow" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Glow.png?17842027570040195710" alt="" title="" /></div>
     <div class="solarhome-box-usb-hover"><img class="solarhome-box-usb" src="https://cdn.shopify.com/s/files/1/0666/9741/files/2USB_ports-01.svg?10895427927254275041" alt="" title="" /></div>
      <div class="solarhome-box-lcd-hover"><img class="solarhome-box-glow" src="https://cdn.shopify.com/s/files/1/0666/9741/files/LCD_display_gif.gif?14408631686863670404" alt="" title="" /></div>
     <div class="solarhome-box-radio-hover">
 <svg version="1.1" id="" class="solarhome-box-glow" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1400 1326" xml:space="preserve">
<path class="musicNote_1 wow" data-wow-delay="0s" d="M355.2,673.8a2,2,0,0,0-1.07-.1l-41.7,8a1.94,1.94,0,0,0-1.57,1.9v53.93l-.26-.19a13.41,13.41,0,0,0-8.34-2.08c-6.5.46-11.48,5.13-11.1,10.42a8.79,8.79,0,0,0,4.08,6.69,13,13,0,0,0,7.3,2.11h1c6.43-.45,11.36-5,11.11-10.25v-59l38.45-7.4v54.93a13.28,13.28,0,0,0-8.56-2.28c-6.5.45-11.5,5.13-11.11,10.42a8.79,8.79,0,0,0,4.12,6.69,13,13,0,0,0,7.3,2.11h1c6.46-.49,11.4-5.08,11.19-10.3V675.72A1.92,1.92,0,0,0,355.2,673.8Zm-51.9,76.79a9.41,9.41,0,0,1-5.91-1.43,5,5,0,0,1-2.42-3.75c-.22-3.16,3.15-6,7.52-6.29h.77a9.25,9.25,0,0,1,5.14,1.46,5,5,0,0,1,2.42,3.75C311,747.46,307.67,750.28,303.3,750.59Zm42.32-4.8h0a9.41,9.41,0,0,1-5.91-1.43,5,5,0,0,1-2.41-3.75c-.22-3.16,3.15-6,7.52-6.29h.77c4,0,7.35,2.23,7.55,5.21S350,745.48,345.62,745.79Z" style="fill:#fff"/>
<path class="musicNote_2 wow" data-wow-delay="0.3s" d="M276,672.67a1.93,1.93,0,0,0-1.94,1.93v34.09a12,12,0,0,0-13.91,1.14,7.73,7.73,0,0,0-2.75,6.33c.31,4.39,4.69,7.72,10,7.72h.89a11.53,11.53,0,0,0,6.91-2.8,7.69,7.69,0,0,0,2.73-6.19V674.6A1.92,1.92,0,0,0,276,672.67ZM274.08,715a4,4,0,0,1-1.48,3.18A7.63,7.63,0,0,1,268,720c-3.48.24-6.55-1.63-6.72-4.1a4,4,0,0,1,1.48-3.18,7.7,7.7,0,0,1,4.61-1.82H268a7.6,7.6,0,0,1,4.18,1.18,4,4,0,0,1,1.91,2.94Z" style="fill:#fff"/>
<path class="musicNote_3 wow" data-wow-delay="0.6s"  d="M328.44,611.79a1.93,1.93,0,0,0-1.94,1.93v34.09A12,12,0,0,0,312.59,649a7.72,7.72,0,0,0-2.75,6.33c.31,4.39,4.69,7.72,10,7.72h.89a11.53,11.53,0,0,0,6.91-2.8,7.75,7.75,0,0,0,2.73-6.19V613.72A1.93,1.93,0,0,0,328.44,611.79Zm-1.93,42.32a4,4,0,0,1-1.48,3.18,7.65,7.65,0,0,1-4.6,1.82c-3.48.24-6.55-1.63-6.72-4.1a4,4,0,0,1,1.48-3.18A7.68,7.68,0,0,1,319.8,650h.63a7.46,7.46,0,0,1,4.18,1.18,4,4,0,0,1,1.91,2.94Z" style="fill:#fff"/>
</svg>

</div>



   </div>
</div>
  </section>

   <section id="emergency-lighting">

  <div id="prepPack-lights" class="landing-section solarhome-lights-feature" data-section-name="hanging-lights">
    
           <div class="landing-section-wrapper">
   <div class="vertical-center medium--positionreset small--positionreset medium--text-center small--text-center hanging-lights-text">
  <span class="hanging-lights-title primary medium--text-center small--text-center wow fadeInLeft">Emergency Lighting Without The Gloom</span> 
         <div class="sunlight-icon-feature-list small--positionreset">
          <span class="white sunlight-icon-feature no-border-mobile  medium--text-center small--text-center sunlight-description wow fadeInLeft" data-wow-delay="0.2s" style="border-bottom: 1px dotted #3c3c3c;">
            <img class="sunlight-icon-feature-icon" src="https://cdn.shopify.com/s/files/1/0666/9741/files/SHS_landingPage_icon-02.svg?5413157446913353775"/>Overhead lamp style recreates home lighting</span>
          <span class="white sunlight-icon-feature no-border-mobile medium--text-center  small--text-center sunlight-description wow fadeInLeft" data-wow-delay="0.3s" style="border-bottom: 1px dotted #3c3c3c;">
            <img class="sunlight-icon-feature-icon" src="https://cdn.shopify.com/s/files/1/0666/9741/files/SHS_landingPage_icon-01.svg?5413157446913353775"/>Daisy-chainable with 18 ft of cord per light offers easy illumination for common areas</span> 
           <span class="white sunlight-icon-feature no-border-mobile  medium--text-center small--text-center sunlight-description wow fadeInLeft" data-wow-delay="0.4s" style="border-bottom: 1px dotted #3c3c3c;">
             <img class="sunlight-icon-feature-icon" src="https://cdn.shopify.com/s/files/1/0666/9741/files/SunLight_Landing_Page_icons-02.svg?1620200676494994144"/>SunLight color LEDs offer red night vision or fun color spectrum</span> 
               <span class="white sunlight-icon-feature no-border-mobile  medium--text-center small--text-center sunlight-description wow fadeInLeft" data-wow-delay="0.5s" style="border-bottom: 0px solid #3c3c3c;">
             <img class="sunlight-icon-feature-icon wow wobble" data-wow-delay="3.0s" src="https://cdn.shopify.com/s/files/1/0666/9741/files/SHS_landingPage_icon-04.svg?5413157446913353775"/>
                 Optional motion sensor provides quick burst of light, ideal for stairwells or hallways</span> 
         </div>
     </div>
             
             
      <div id="prepPack-interactive" class="solarhome-hanginglights-interactive">
     <img class="solarhome-lights-main" src="https://cdn.shopify.com/s/files/1/0666/9741/files/HangingLights_r2.png?4708978596526416642" alt="" title="SolarHome 620 Hanging Lights" />
    <img class="solarhome-lights-glow-right wow fadeIn" data-wow-delay="0.5s" src="https://cdn.shopify.com/s/files/1/0666/9741/files/rightLight_glow_r2.png?4708978596526416642" alt="" title="" />
    <img class="solarhome-lights-glow-left wow fadeIn" data-wow-delay="0.8s" src="https://cdn.shopify.com/s/files/1/0666/9741/files/leftLight_glow_r2.png?4708978596526416642" alt="" title="" />
    <img class="solarhome-lights-glow-motion wow fadeIn" data-wow-delay="4s" src="https://cdn.shopify.com/s/files/1/0666/9741/files/motionLight_glow_r2.png?4708978596526416642" alt="" title="" />

   </div>        
             
   </div> 

</div>
  </section>



<div class="clearfix"></div>

  <section id="photos">

<div class="landing-section" style="background-color:#000;" data-section-name="firepit-in-action" id="firepit-see-in-action" data-speed="8">
    <div class="grid__item sunlight-slideshow wow fadeIn">
       <span class="sunlight-title white">See Solar Prep Pack In Action</span> 
    </div>  
  
  <div id="Glide" class="glide wow fadeIn" data-wow-delay="0.5s">
<div class="glide__arrows">
        <button class="glide__arrow prev" data-glide-dir="<"><i class="icomoon icon-leftArrowFilled slideshow-arrow-icon"></i></button>
        <button class="glide__arrow next" data-glide-dir=">"><i class="icomoon icon-rightArrowFilled slideshow-arrow-icon"></i></button>
    </div>  
   <div class="glide__wrapper">
        <ul class="glide__track">
   <li class="glide__slide "><img src="https://cdn.shopify.com/s/files/1/0666/9741/files/prepPack_slideshow_3.jpg?419247842727239285" alt="BioLite Solar Prep Pack" title="BioLite Solar Prep Pack" /></li>
 <li class="glide__slide"><img src="https://cdn.shopify.com/s/files/1/0666/9741/files/prepPack_slideshow_6.jpg?419247842727239285" alt="BioLite Solar Prep Pack" title="BioLite Solar Prep Pack" /></li>
<li class="glide__slide"><img src="https://cdn.shopify.com/s/files/1/0666/9741/files/prepPack_slideshow_5.jpg?419247842727239285" alt="BioLite Solar Prep Pack" title="BioLite Solar Prep Pack" /></li>
<li class="glide__slide"><img src="https://cdn.shopify.com/s/files/1/0666/9741/files/prepPack_slideshow_2.jpg?419247842727239285" alt="BioLite Solar Prep Pack" title="BioLite Solar Prep Pack" /></li>
<li class="glide__slide"> <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/prepPack_slideshow_7.jpg?419247842727239285" alt="BioLite Solar Prep Pack" title="BioLite Solar Prep Pack" /></li>
<li class="glide__slide"><img src="https://cdn.shopify.com/s/files/1/0666/9741/files/prepPack_slideshow_1.jpg?419247842727239285" alt="BioLite Solar Prep Pack" title="BioLite Solar Prep Pack" /></li>
 <li class="glide__slide"><img src="https://cdn.shopify.com/s/files/1/0666/9741/files/prepPack_slideshow_8.jpg?419247842727239285" alt="BioLite Solar Prep Pack" title="BioLite Solar Prep Pack" /></li>
<li class="glide__slide"><img src="https://cdn.shopify.com/s/files/1/0666/9741/files/prepPack_slideshow_1_6e7f25a7-c487-419f-ba2e-c69cfaee033e.jpg?9618823461952700292" alt="BioLite Solar Prep Pack" title="BioLite Solar Prep Pack" /></li>


 </ul>
    </div>
       <div class="glide__bullets"></div>
   
   </div>
<script>
    $("#Glide").glide({
        type: "carousel"
    });
</script>
  
  
  
</div>
  </section>
  

<div class="clearfix"></div>
  
    <section id="shop">


<div class="wrapper--full" style="background-color:#f3f3f3;outline: none;" id="shopPrepPack">   
<div class="grid__item large pb50 large--pt50">
<span class="homeheader-section-title">Shop BioLite Prep Packs</span>

<div class="grid__item large">
<section id="product-grid" class="product-grid section-large" itemtype="http://schema.org/SomeProducts">

  {% for product in collections.prep-bundles.products %}

      {% include 'collection-list-item' %}
  

    {% endfor %}

</section>
</div>
</div>
   
  
    {{ 'menuspy.js' | asset_url | script_tag }}

    <script>
    var elm = document.querySelector('#side-nav');
    var ms = new MenuSpy(elm);
  </script>
</div>
  </section>
</main>

<div class="clearfix"></div>


<div class="footer-wrapper">
<div class="wrapper">
      <div class="grid__item large text-center">

    <span class="impact-msg primary">Off Grid Year Round</span>
  </div>
   <div class="clearfix"></div>


    <div class="grid__item push--large--one-fifth large--three-fifths text-center">
      <p class=" light footer-poh-caption">The gear in your Prep Pack is currently used to power over 40,000 homes daily across Western Kenya, providing reliable light, charging, and radio to families living without access to a traditional grid
<br>
      </p>
      
   
  </div>
  
     

</div>
</div>
<!--<div class="solarhome-footer-parallax" data-section-name="global-impact" id="" data-speed="8" data-type="background">
     <div class="solarhome-footer-section">
    <span class="shs-hero-header white">Off Grid Year Round</span> 
    <span class="shs-hero-subheader white">The gear in your Prep Pack is currently used to power over 40,000 homes daily across Western Kenya, providing reliable light, charging, and radio to families living without access to a traditional grid</span> 
     
  </div>
</div>-->





