
<section class="section-large app-hero">
  
    <div class="wrapper wrapper--large  mobile-text-center">

  
   <div class="grid__item large--one-half ">
     <img class="text-center app-screenshot-hero" src="https://cdn.shopify.com/s/files/1/0666/9741/files/BaseLantern_App_ScreenShot_r2.png?8762778390150099940" height="670" alt="BaseLantern App">

  </div>

  
   <div class="grid__item large--one-half mt30 mobile-tight">
     <h3 class="mt20 mb0 primary">BioLite BaseLantern App</h3>
     <h6 class="mt0 mb30 gray-warm">Take the Smartgrid Off-Grid</h6>

     <p class="light gray-warm">Unlock the full potential of your <a class="primary" href="/products/biolite-baselantern">BaseLantern</a> with this Bluetooth Low Energy app. 
       Whether you’re deep in the backcountry or hanging out in the backyard, bring big light, shareable power, and smarter control wherever you go.</p>
  
     
     <h5 class="alt mt30 primary">Download for free:</h5>


<a href="https://itunes.apple.com/us/app/biolite-energy/id1146531562?ls=1&mt=8" target="_blank"><img class="mt5 pr10 mobile-text-center"  src="https://cdn.shopify.com/s/files/1/0666/9741/files/iOS_appStore_download.png?9069070817626020306"  height="45" alt="Download on the Apple App Store"></a>
<a href="https://play.google.com/store/apps/details?id=com.bioliteenergy.baselantern&hl=en" target="_blank"><img class="mt5 mobile-text-center"  src="https://cdn.shopify.com/s/files/1/0666/9741/files/googlePlay_logo.png?18343300157132881387"  height="45" alt="Download on the Google Play Store"></a>

<h5 class="alt mt40 primary">WATCH: Inside The BaseLantern App</h5>
<iframe width="410" height="230" src="https://www.youtube.com/embed/QS8593KmVAM" frameborder="0" allowfullscreen></iframe>


      
      </div>
      
  </div>



</section>



<section class="section-large app-features">
  
    <div class="wrapper wrapper--large mobile-text-center">
        <div class="grid__item large--two-thirds pl20 pr20 ">
<img class="mb20 mt10 pr40 text-center" src="https://cdn.shopify.com/s/files/1/0666/9741/files/coloredLantern_r2.png?14526706375246509720" alt="Full Color Control">
   
 </div>
     
      <div class="grid__item large--one-third pl20 pr20 ">
<img class="mt50 mb10" src="https://cdn.shopify.com/s/files/1/0666/9741/files/colorControl_icon_r2.png?3416388964641422426" width="45" alt="Full Color Control">

             <h3 class="mt0 medium white">Full Color Control</h3>
 <p class="light white">Select a full spectrum of colors - from red night vision to cool soothing blues.</p>
<p class="light white">BaseLantern is also fully dimmable so you can go easy on the eyes.</p>

 </div>
         
  </div>

</section>


<section class="section-tight app-anayltics">
  
    <div class="wrapper wrapper--large">
        
            <div class="grid__item large--one-whole text-center ">
<img class="mt50 mb10 text-center" src="https://cdn.shopify.com/s/files/1/0666/9741/files/realtimeFeedback.png?8554491656968666432" width="45" alt="Real Time Feedback">

             <h3 class="mt0 medium warm-gray text-center">Real Time Feedback</h3>
 <p class="light text-center">Optimize your energy usage with immediate insight into how much juice is left in BaseLantern’s rechargeable internal battery.</p>

 </div>
      
      <div class="grid__item large--one-whole text-center ">
<img class="text-center" style="margin-bottom:-6px;" src="https://cdn.shopify.com/s/files/1/0666/9741/files/analytics_fc11d6e0-18d2-42d4-980c-0a57c3275fe0.gif?14568783329068195945" width="350" alt="Full Color Control">
   
 </div>
     

         
  </div>

</section>

<section class="section-large app-proximity">
  

    <div class="wrapper wrapper--large mobile-text-center">
        <div class="grid__item large--two-thirds pl20 pr20 ">
<img class="mb20 mt10 pr40 text-center" src="https://cdn.shopify.com/s/files/1/0666/9741/files/proximityMode.png?17296677797202738175" alt="Full Color Control">
   
 </div>
     
      <div class="grid__item large--one-third pl20 pr20 ">
<img class="mt50 mb10 " src="https://cdn.shopify.com/s/files/1/0666/9741/files/proximityIcon.png?3498188905212231562" width="15" alt="Proximity Activation">

             <h3 class="mt0 medium white ">Proximity Activation &amp; Timers</h3>
 <p class="light white">Set your light to automatically turn on or off based on your location without fishing your phone out from your bag.</p>
<p class="light white">Program alarms &amp; sleep timers to start or end your day with the right light.</p>

        <p class="light white">Proximity Mode coming soon.</p>

 </div>
         
  </div>

</section>

<section class="section-tight app-anayltics">
  
    <div class="wrapper wrapper--large">
        
            <div class="grid__item large--one-whole text-center ">

             <h3 class="mt60 medium warm-gray text-center">Lantern Effects</h3>
 <p class="light text-center mb40">Set the right mood with color sequences that flow at random or to the beat of your music – you decide.</p>

 </div>
      
        <div class="grid__item large--one-quarter text-center mb50 ">
<img class="text-center" style="" src="https://cdn.shopify.com/s/files/1/0666/9741/files/pulse_icon.png?11558264072953029135" height="30" alt="Pulse">
<h4 class="gray-warm small">Pulse</h4>
   
 </div>
     
           <div class="grid__item large--one-quarter text-center mb50 ">
<img class="text-center" style="" src="https://cdn.shopify.com/s/files/1/0666/9741/files/bpm_match_icon.png?11558264072953029135" height="30" alt="BPM Match">
<h4 class="gray-warm small">BPM Match</h4>

   
 </div>
     
           <div class="grid__item large--one-quarter text-center mb50 ">
<img class="text-center" style="" src="https://cdn.shopify.com/s/files/1/0666/9741/files/strobe_icon.png?11558264072953029135" height="30" alt="Strobe">
<h4 class="gray-warm small">Strobe</h4>

   
 </div>
     
           <div class="grid__item large--one-quarter text-center mb50 ">
<img class="text-center" style="" src="https://cdn.shopify.com/s/files/1/0666/9741/files/chill_icon.png?11558264072953029135" height="30" alt="Chill">
<h4 class="gray-warm small">Chill</h4>

   
 </div>
      


         
  </div>

</section>


<section class="section-large app-footer">
  
    <div class="wrapper wrapper--xxlarge">

  
  
   <div class="grid__item large--one-whole text-center mt0">
    
     
     <h5 class="alt white mt40 text-center">Download for free:</h5>

 <div style="padding-bottom:200px">
   <a href="https://itunes.apple.com/us/app/biolite-energy/id1146531562?ls=1&mt=8" target="_blank"><img class="mt5 pr10 mobile-text-center"  src="https://cdn.shopify.com/s/files/1/0666/9741/files/iOS_appStore_download.png?9069070817626020306"  height="45" alt="Download on the Apple App Store"></a>
<a href="https://play.google.com/store/apps/details?id=com.bioliteenergy.baselantern&hl=en" target="_blank"><img class="mt5 mobile-text-center"  src="https://cdn.shopify.com/s/files/1/0666/9741/files/googlePlay_logo.png?18343300157132881387"  height="45" alt="Download on the Google Play Store"></a>
     </div>

      
      </div>
      
  </div>



</section>





