

<section class="single-product-features teamPage section-xlarge pb0">
  <div class="wrapper wrapper--large">
    <div class="grid__item large--four-fifths pr80">
      <h4 class="primary mt0 mb0">About BioLite</h4>
     <p class="light">BioLite is on a mission to bring Energy Everywhere™ with revolutionary products that transform the way we Cook, Charge and Light our lives off the grid. We are a team of engineers and designers, operators and analysts, story tellers and evangelists, who believe that advanced technologies, built on sustainable business practices, have the power to change the world. Our unique Parallel Innovation business model pairs the needs of families living in energy poverty with the passions of outdoor enthusiasts pushing the boundaries of life outdoors and on the go. </p>
      <p class="light">Our founders, Jonathan and Alec, met at Smart Design in New York City where they quickly bonded over their interest in sustainable design. Alec, frustrated that almost all efficient camping stoves required fossil fuels, had the idea of a wood-burning stove able to utilize its own thermal energy to improve combustion. Jonathan, an avid camper, quickly brought his engineering background to the table and the two began the design process. Countless nights, weekends, and prototypes later, the <strong>BioLite CampStove</strong> was born: a portable biomass stove that leveraged thermoelectrics to create a smokeless fire all while charging personal devices.</p>
     
 
           
                 <h4 class="primary mt40 mb0">A Mission Ignited</h4>
                 
      <p class="light">In 2008, Jonathan and Alec took their working prototype to a combustion conference where they discovered their technology could have an impact: half the planet lives in energy poverty, lacking safe and reliable ways to cook, charge, and light their lives; three billion people cook over smoky open fires every day, leading to 4 million premature deaths annually. It was with these shocking numbers that Jonathan and Alec committed to building a business capable of bringing safe, affordable energy to those who needed it most. Based on the same heat-to-electricity technology as the CampStove, <strong>The BioLite HomeStove</strong>, is a large format biomass cookstove that cuts fuel consumption in half and reduces toxic emissions by ninety percent, all while charging mobile phones or LED lights. But to bring this technology to life, they needed a business to make it happen.</p> 
                 
               <iframe width="583" height="328" src="https://www.youtube.com/embed/mV1MRlhLnWQ?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen="" class="mt20" style="border: 1px solid #f3f3f3; margin: 0 auto;"></iframe>
<p class="light tiny pt5 pb20"><em>WATCH: Our Mission</em></p>

      <p class="light">To solve a challenge as big as energy poverty, we need a business model that can operate at the same scale as the problem. We believe that bringing energy access to half the planet will require a business that scales on the value it delvers to its customers, not on philanthropy. To achieve this, BioLite operates using a unique business model called <strong>Parallel Innovation:</strong> our team incubates core energy technologies and then turns them into products unique to our outdoor and emerging markets customers. Revenues from our outdoor markets are reinvested in building a commercially sustainable business that can bring safe, affordable energy to families living in energy poverty across India and Africa. Through the support of our recreation market customers and community, we are given the resources and runway to build a business that will bringing <strong>energy everywhere™</strong>.
</p>

  <h4 class="primary mt40 mb0">The Road Ahead</h4>
  
<p class="light">Fast forward to today and our team has grown from two guys to over 80 BioLiters working across the US and Africa. We have expanded our energy ecosystem from one stove to over 20 products across cooking, charging, and lighting, and continue to design solutions that are revolutionizing the way people worldwide experience energy on a personal scale.</p>

<img class="pt20 " src="https://cdn.shopify.com/s/files/1/0666/9741/files/homestoves_intheField.jpg?16809545421335108716" alt="Distributing HomeStove in Bungoma, Kenya" title="Distributing HomeStove in Bungoma, Kenya">
 <p class="light tiny pt5 pb20"><em>Distributing HomeStove in Bungoma, Kenya</em></p>


      <p class="light"> It takes a lot of work, and we want you along for the ride – check out our special series <a href="/pages/mission#road-to-impact" style="color:#00b2b0" title="The Road To Impact"><strong>The Road To Impact,</strong></a> and get a behind-the-scenes look at our offices and what it really takes to bring energy everywhere.</p>
 
      <h4 class="primary mt40 mb0">2018 Impact Report</h4>

      <p class="light">Last year was an exciting year of growth for us with the introduction of new products and markets that dramatically expanded our ability to help off-grid families access clean, affordable home energy. Download our  <a href="https://blog.bioliteenergy.com/blogs/road-to-impact/2018-impact-report" target="_blank" style="color:#00b2b0" title="Impact Report"><strong>2018 Impact Report</strong></a>.</p>




    </div>
    <div class="grid__item large--one-fifth pl10" style="border-left:1px dashed #a8a8a8;">
    
      <img class="pl10" src="https://cdn.shopify.com/s/files/1/0666/9741/files/timeline_2006.jpg?6568562216806825764" height="" alt="2006-2008" title="2006-2008">
      
      <span class="timeline-bullet primary">-</span><h5 class="alt primary mt0 mb0 timeline-title" style="padding-left:12px">2006</h5>
<p class="light mb30 timeline-text pl10">Alec and Jonathan begin weekend project of “making a wood camping stove,” and CampStove proof of concept is born.</p>


      <img class="pl10" src="https://cdn.shopify.com/s/files/1/0666/9741/files/timeline_2009.jpg?2420365368628317194" height="" alt="2009" title="2009">
     <span class="timeline-bullet primary">-</span> <h5 class="alt primary mt0 mb0 timeline-title" style="padding-left:12px">2009</h5>
<p class="light mb30 timeline-text pl10">Jonathan and Alec learn about clean cookstove movement and HomeStove work begins; BioLite bifurcates the business and develops Parallel Innovation model.</p>


      <img class="pl10" src="https://cdn.shopify.com/s/files/1/0666/9741/files/timeline_2012.jpg?2420365368628317194" height="" alt="2012" title="2012">
     <span class="timeline-bullet primary">-</span> <h5 class="alt primary mt0 mb0 timeline-title" style="padding-left:12px">2012</h5>
<p class="light mb30 timeline-text pl10">BioLite hits the market and CampStoves ship to customers around the world.</p>


      <img class="pl10" src="https://cdn.shopify.com/s/files/1/0666/9741/files/timeline_2013_2.jpg?2420365368628317194" height="" alt="2013" title="2013">
     <span class="timeline-bullet primary">-</span> <h5 class="alt primary mt0 mb0 timeline-title" style="padding-left:12px">2013</h5>
<p class="light mb30 timeline-text pl10">Pilot programs begin for the launch of the BioLite HomeStove across India and Uganda.</p>



      <img class="pl10" src="https://cdn.shopify.com/s/files/1/0666/9741/files/timeline_2015.jpg?2420365368628317194" height="" alt="2015" title="2015">
    <span class="timeline-bullet primary">-</span>  <h5 class="alt primary mt0 mb0 timeline-title" style="padding-left:12px">2015</h5>
<p class="light mb30 timeline-text pl10"> BioLite expands beyond stoves into lighting with the launch of the NanoGrid system featuring breakthrough edge-lighting technology.</p>

      <img class="pl10" src="https://cdn.shopify.com/s/files/1/0666/9741/files/timeline_2015_2.jpg?2420365368628317194" height="" alt="2015" title="2015">
     <span class="timeline-bullet primary">-</span> <h5 class="alt primary mt0 mb0 timeline-title" style="padding-left:12px">2015</h5>
<p class="light mb30 timeline-text pl10">BioLite’s emission-reducing HomeStove is issued carbon credits for its performance; BioLite uses the first batch of credits to erase its entire carbon history and commit to carbon neutrality for the future of the company.</p>

      <img class="pl10" src="https://cdn.shopify.com/s/files/1/0666/9741/files/timeline_2016.jpg?2420365368628317194" height="" alt="2006-2008" title="2006-2008">
     <span class="timeline-bullet primary">-</span> <h5 class="alt primary mt0 mb0 timeline-title" style="padding-left:12px">2016</h5>
<p class="light mb30 timeline-text pl10">BioLite extends its Energy Ecosystem offering with the launch of the SolarPanel Series and expansion of The NanoGrid. Full-time HomeStove operations begin in Kenya. </p>
      
            <img class="pl10" src="https://cdn.shopify.com/s/files/1/0666/9741/files/timeline_firepit.jpg?6328" height="" alt="2017" title="2017">
     <span class="timeline-bullet primary">-</span> <h5 class="alt primary mt0 mb0 timeline-title" style="padding-left:12px">2017</h5>
<p class="light mb30 timeline-text pl10">BioLite raises a record $2.5M on Kickstarter with the launch of the FirePit </p>
      
          <img class="pl10" src="https://cdn.shopify.com/s/files/1/0666/9741/files/timeline_solarhome.jpg?6328" height="" alt="2017" title="2017">
     <span class="timeline-bullet primary">-</span> <h5 class="alt primary mt0 mb0 timeline-title" style="padding-left:12px">2017</h5>
<p class="light mb30 timeline-text pl10">BioLite launches the SolarHome 620 in Kenya, bringing affordable solar lighting and charging to off-grid households. </p>
      
                <img class="pl10" src="https://cdn.shopify.com/s/files/1/0666/9741/files/timeline_headlamp.jpg?6328" height="" alt="2017" title="2017">
     <span class="timeline-bullet primary">-</span> <h5 class="alt primary mt0 mb0 timeline-title" style="padding-left:12px">2018</h5>
<p class="light mb30 timeline-text pl10">HeadLamp 330 ushers in a new category for BioLite. Special holiday preview sells out within two weeks.
 </p>

    
   

</div>
  </div>
</section>


<section id="staff-grid" class="grid-wrap">
<div class="blog-full">
	
  <div class="staff-grid">
		<div class="wrapper">
			<h2 class="light mb30 text-center primary">The Team</h2>
		</div>
             
    <div class="staff-grid-map-item grid__item large--one-eighth">
		<div class="staff-grid-map-item__photo" style="background-image:url('https://cdn.shopify.com/s/files/1/0666/9741/files/US_team.png?62248680419754637');">
			<div class="staff-grid-map-item table">
			<div class="staff-grid-map-item__content table-cell">
	  	        <ul>
                  <li><h5 class="mt0 mb0 alt white">U.S.</h5></li>
      	   </ul>
	  	      </div>
	  	    </div>
	  	  </div>
	  	 </div>
    
     <div class="staff-grid-item grid__item large--one-eighth">
	  	  <div class="staff-grid-item__photo" style="background-image:url('https://cdn.shopify.com/s/files/1/0666/9741/files/team_jonathan.jpg?82682');">
<div class="staff-grid-item__overlay table"><div class="staff-grid-item__content table-cell"><ul>
  			<h5 class="alt baseline mb10">Jonathan</h5>
            </ul>
</div></div></div></div>
    
         <div class="staff-grid-item grid__item large--one-eighth">
	  	  <div class="staff-grid-item__photo" style="background-image:url('https://cdn.shopify.com/s/files/1/0666/9741/files/team_erica.jpg?82682');">
<div class="staff-grid-item__overlay table"><div class="staff-grid-item__content table-cell"><ul>
  			<h5 class="alt baseline mb10">Erica</h5>
            </ul>
</div></div></div></div>
    
             <div class="staff-grid-item grid__item large--one-eighth">
	  	  <div class="staff-grid-item__photo" style="background-image:url('https://cdn.shopify.com/s/files/1/0666/9741/files/team_erik.jpg?4729742027068137729');">
<div class="staff-grid-item__overlay table"><div class="staff-grid-item__content table-cell"><ul>
  			<h5 class="alt baseline mb10">Erik</h5>
            </ul>
</div></div></div></div>
    
                <div class="staff-grid-item grid__item large--one-eighth">
	  	  <div class="staff-grid-item__photo" style="background-image:url('https://cdn.shopify.com/s/files/1/0666/9741/files/team_james.jpg?82682');">
<div class="staff-grid-item__overlay table"><div class="staff-grid-item__content table-cell"><ul>
  			<h5 class="alt baseline mb10">James</h5>
            </ul>
</div></div></div></div>
    
                 <div class="staff-grid-item grid__item large--one-eighth">
	  	  <div class="staff-grid-item__photo" style="background-image:url('https://cdn.shopify.com/s/files/1/0666/9741/files/nick.jpg?6348');">
<div class="staff-grid-item__overlay table"><div class="staff-grid-item__content table-cell"><ul>
  			<h5 class="alt baseline mb10">Nick</h5>
            </ul>
</div></div></div></div>
    
                 <div class="staff-grid-item grid__item large--one-eighth">
	  	  <div class="staff-grid-item__photo" style="background-image:url('https://cdn.shopify.com/s/files/1/0666/9741/files/team_robb.jpg?12861');">
<div class="staff-grid-item__overlay table"><div class="staff-grid-item__content table-cell"><ul>
  			<h5 class="alt baseline mb10">Rob</h5>
            </ul>
</div></div></div></div>
                     <div class="staff-grid-item grid__item large--one-eighth">
	  	  <div class="staff-grid-item__photo" style="background-image:url('https://cdn.shopify.com/s/files/1/0666/9741/files/team_ryan.jpg?82692');">
<div class="staff-grid-item__overlay table"><div class="staff-grid-item__content table-cell"><ul>
  			<h5 class="alt baseline mb10">Ryan</h5>
            </ul>
</div></div></div></div>


    
    
    <!--********END LEAD TEAM*****-->
    
<div class="staff-grid-item grid__item large--one-eighth">
	  	  <div class="staff-grid-item__photo" style="background-image:url('https://cdn.shopify.com/s/files/1/0666/9741/files/team_alyssa.jpg?12861');">
<div class="staff-grid-item__overlay table"><div class="staff-grid-item__content table-cell"><ul>
  			<h5 class="alt baseline mb10">Alyssa</h5>
            </ul>
</div></div></div></div>
    
    <div class="staff-grid-item grid__item large--one-eighth">
	  	  <div class="staff-grid-item__photo" style="background-image:url('https://cdn.shopify.com/s/files/1/0666/9741/files/team_anthony.jpg?12861');">
<div class="staff-grid-item__overlay table"><div class="staff-grid-item__content table-cell"><ul>
  			<h5 class="alt baseline mb10">Anthony</h5>
            </ul>
</div></div></div></div>

           <div class="staff-grid-item grid__item large--one-eighth">
	  	  <div class="staff-grid-item__photo" style="background-image:url('https://cdn.shopify.com/s/files/1/0666/9741/files/team_austin.jpg?12861');">
<div class="staff-grid-item__overlay table"><div class="staff-grid-item__content table-cell"><ul>
  			<h5 class="alt baseline mb10">Austin</h5>
            </ul>
</div></div></div></div>
    
     <div class="staff-grid-item grid__item large--one-eighth">
	  	  <div class="staff-grid-item__photo" style="background-image:url('https://cdn.shopify.com/s/files/1/0666/9741/files/team_ayisha.jpg?12865');">
<div class="staff-grid-item__overlay table"><div class="staff-grid-item__content table-cell"><ul>
  			<h5 class="alt baseline mb10">Ayisha</h5>
            </ul>
</div></div></div></div>
    
        <div class="staff-grid-item grid__item large--one-eighth">
	  	  <div class="staff-grid-item__photo" style="background-image:url('https://cdn.shopify.com/s/files/1/0666/9741/files/team_aziz.jpg?12861');">
<div class="staff-grid-item__overlay table"><div class="staff-grid-item__content table-cell"><ul>
  			<h5 class="alt baseline mb10">Aziz</h5>
            </ul>
</div></div></div></div>
    
    
    <div class="staff-grid-item grid__item large--one-eighth">
	  	  <div class="staff-grid-item__photo" style="background-image:url('https://cdn.shopify.com/s/files/1/0666/9741/files/team_charlie.jpg?12861');">
<div class="staff-grid-item__overlay table"><div class="staff-grid-item__content table-cell"><ul>
  			<h5 class="alt baseline mb10">Charlie</h5>
            </ul>
</div></div></div></div>
    
        <div class="staff-grid-item grid__item large--one-eighth">
	  	  <div class="staff-grid-item__photo" style="background-image:url('https://cdn.shopify.com/s/files/1/0666/9741/files/team_corrina.jpg?12865');">
<div class="staff-grid-item__overlay table"><div class="staff-grid-item__content table-cell"><ul>
  			<h5 class="alt baseline mb10">Corrina</h5>
            </ul>
</div></div></div></div>
    
    <div class="staff-grid-item grid__item large--one-eighth">
	  	  <div class="staff-grid-item__photo" style="background-image:url('https://cdn.shopify.com/s/files/1/0666/9741/files/team_Danny.jpg?16012245110326287138');">
<div class="staff-grid-item__overlay table"><div class="staff-grid-item__content table-cell"><ul>
  			<h5 class="alt baseline mb10">Danny</h5>
            </ul>
</div></div></div></div>
    
          <div class="staff-grid-item grid__item large--one-eighth">
	  	  <div class="staff-grid-item__photo" style="background-image:url('https://cdn.shopify.com/s/files/1/0666/9741/files/david.jpg?6348');">
<div class="staff-grid-item__overlay table"><div class="staff-grid-item__content table-cell"><ul>
  			<h5 class="alt baseline mb10">David</h5>
            </ul>
</div></div></div></div>
    
         <div class="staff-grid-item grid__item large--one-eighth">
	  	  <div class="staff-grid-item__photo" style="background-image:url('https://cdn.shopify.com/s/files/1/0666/9741/files/edward.jpg?6348');">
<div class="staff-grid-item__overlay table"><div class="staff-grid-item__content table-cell"><ul>
  			<h5 class="alt baseline mb10">Edward</h5>
            </ul>
</div></div></div></div>
    
<div class="staff-grid-item grid__item large--one-eighth">
	  	  <div class="staff-grid-item__photo" style="background-image:url('https://cdn.shopify.com/s/files/1/0666/9741/files/team_Hayley.jpg?11549007240963089449');">
<div class="staff-grid-item__overlay table"><div class="staff-grid-item__content table-cell"><ul>
  			<h5 class="alt baseline mb10">Hayley</h5>
            </ul>
</div></div></div></div>
    
    <div class="staff-grid-item grid__item large--one-eighth">
	  	  <div class="staff-grid-item__photo" style="background-image:url('https://cdn.shopify.com/s/files/1/0666/9741/files/emily.jpg?6348');">
<div class="staff-grid-item__overlay table"><div class="staff-grid-item__content table-cell"><ul>
  			<h5 class="alt baseline mb10">Emily</h5>
            </ul>
</div></div></div></div>
    

    
        <div class="staff-grid-item grid__item large--one-eighth">
	  	  <div class="staff-grid-item__photo" style="background-image:url('https://cdn.shopify.com/s/files/1/0666/9741/files/team_jonathan_k.jpg?13223060347440672961');">
<div class="staff-grid-item__overlay table"><div class="staff-grid-item__content table-cell"><ul>
  			<h5 class="alt baseline mb10">Jonathan</h5>
            </ul>
</div></div></div></div>
    
<div class="staff-grid-item grid__item large--one-eighth">
	  	  <div class="staff-grid-item__photo" style="background-image:url('https://cdn.shopify.com/s/files/1/0666/9741/files/team_joe_ad8f00cc-24f6-4fc5-9015-37d7ea71c346.jpg?11275058005594782091');">
<div class="staff-grid-item__overlay table"><div class="staff-grid-item__content table-cell"><ul>
  			<h5 class="alt baseline mb10">Joe</h5>
            </ul>
</div></div></div></div>
    
    <div class="staff-grid-item grid__item large--one-eighth">
	  	  <div class="staff-grid-item__photo" style="background-image:url('https://cdn.shopify.com/s/files/1/0666/9741/files/team_kenny.jpg?8017977583822939772');">
<div class="staff-grid-item__overlay table"><div class="staff-grid-item__content table-cell"><ul>
  			<h5 class="alt baseline mb10">Kenny</h5>
            </ul>
</div></div></div></div>
    
        <div class="staff-grid-item grid__item large--one-eighth">
	  	  <div class="staff-grid-item__photo" style="background-image:url('https://cdn.shopify.com/s/files/1/0666/9741/files/team_kevin_0fbe34e8-0e7a-435b-a97d-fd25117a4580.jpg?11275058005594782091');">
<div class="staff-grid-item__overlay table"><div class="staff-grid-item__content table-cell"><ul>
  			<h5 class="alt baseline mb10">Kevin</h5>
            </ul>
</div></div></div></div>
    
    
    
                <div class="staff-grid-item grid__item large--one-eighth">
	  	  <div class="staff-grid-item__photo" style="background-image:url('https://cdn.shopify.com/s/files/1/0666/9741/files/team_matt.jpg?8759');">
<div class="staff-grid-item__overlay table"><div class="staff-grid-item__content table-cell"><ul>
  			<h5 class="alt baseline mb10">Matt</h5>
            </ul>
</div></div></div></div>
    
    
    <div class="staff-grid-item grid__item large--one-eighth">
	  	  <div class="staff-grid-item__photo" style="background-image:url('https://cdn.shopify.com/s/files/1/0666/9741/files/team_melisa.jpg?13223060347440672961');">
<div class="staff-grid-item__overlay table"><div class="staff-grid-item__content table-cell"><ul>
  			<h5 class="alt baseline mb10">Melisa</h5>
            </ul>
</div></div></div></div>
    
        <div class="staff-grid-item grid__item large--one-eighth">
	  	  <div class="staff-grid-item__photo" style="background-image:url('https://cdn.shopify.com/s/files/1/0666/9741/files/team_michaelP.jpg?8017977583822939772');">
<div class="staff-grid-item__overlay table"><div class="staff-grid-item__content table-cell"><ul>
  			<h5 class="alt baseline mb10">Michael</h5>
            </ul>
</div></div></div></div>
    
<div class="staff-grid-item grid__item large--one-eighth">
	  	  <div class="staff-grid-item__photo" style="background-image:url('https://cdn.shopify.com/s/files/1/0666/9741/files/team_mindy_9294dbc8-cf87-4cfb-b71d-728c152bfb5a.jpg?10210604139756456797');">
<div class="staff-grid-item__overlay table"><div class="staff-grid-item__content table-cell"><ul>
  			<h5 class="alt baseline mb10">Mindy</h5>
            </ul>
</div></div></div></div>
    
        
                 <div class="staff-grid-item grid__item large--one-eighth">
	  	  <div class="staff-grid-item__photo" style="background-image:url('https://cdn.shopify.com/s/files/1/0666/9741/files/team_monte.jpg?82692');">
<div class="staff-grid-item__overlay table"><div class="staff-grid-item__content table-cell"><ul>
  			<h5 class="alt baseline mb10">Monte</h5>
            </ul>
</div></div></div></div>
    
        <div class="staff-grid-item grid__item large--one-eighth">
	  	  <div class="staff-grid-item__photo" style="background-image:url('https://cdn.shopify.com/s/files/1/0666/9741/files/RJ.jpg?6348');">
<div class="staff-grid-item__overlay table"><div class="staff-grid-item__content table-cell"><ul>
  			<h5 class="alt baseline mb10">RJ</h5>
            </ul>
</div></div></div></div>
    
    
        <div class="staff-grid-item grid__item large--one-eighth">
	  	  <div class="staff-grid-item__photo" style="background-image:url('https://cdn.shopify.com/s/files/1/0666/9741/files/team_robin.jpg?12861');">
<div class="staff-grid-item__overlay table"><div class="staff-grid-item__content table-cell"><ul>
  			<h5 class="alt baseline mb10">Robin</h5>
            </ul>
</div></div></div></div>
    
    
    <div class="staff-grid-item grid__item large--one-eighth">
	  	  <div class="staff-grid-item__photo" style="background-image:url('https://cdn.shopify.com/s/files/1/0666/9741/files/team_ross.jpg?12861');">
<div class="staff-grid-item__overlay table"><div class="staff-grid-item__content table-cell"><ul>
  			<h5 class="alt baseline mb10">Ross</h5>
            </ul>
</div></div></div></div>
    
    
     <div class="staff-grid-item grid__item large--one-eighth">
	  	  <div class="staff-grid-item__photo" style="background-image:url('https://cdn.shopify.com/s/files/1/0666/9741/files/ross.jpg?6348');">
<div class="staff-grid-item__overlay table"><div class="staff-grid-item__content table-cell"><ul>
  			<h5 class="alt baseline mb10">Ross</h5>
            </ul>
</div></div></div></div>
    
    
    
<div class="staff-grid-item grid__item large--one-eighth">
	  	  <div class="staff-grid-item__photo" style="background-image:url('https://cdn.shopify.com/s/files/1/0666/9741/files/team_seth_fed7ca67-5f09-41c7-9f2b-bea18d017fb4.jpg?10210604139756456797');">
<div class="staff-grid-item__overlay table"><div class="staff-grid-item__content table-cell"><ul>
  			<h5 class="alt baseline mb10">Seth</h5>
            </ul>
</div></div></div></div>
    
    <div class="staff-grid-item grid__item large--one-eighth">
	  	  <div class="staff-grid-item__photo" style="background-image:url('https://cdn.shopify.com/s/files/1/0666/9741/files/team_sharon_a26d1bcb-ae7e-4fe5-81bd-520b3f991762.jpg?12865');">
<div class="staff-grid-item__overlay table"><div class="staff-grid-item__content table-cell"><ul>
  			<h5 class="alt baseline mb10">Sharon</h5>
            </ul>
</div></div></div></div>
    
    <div class="staff-grid-item grid__item large--one-eighth">
	  	  <div class="staff-grid-item__photo" style="background-image:url('https://cdn.shopify.com/s/files/1/0666/9741/files/Simon.jpg?6337');">
<div class="staff-grid-item__overlay table"><div class="staff-grid-item__content table-cell"><ul>
  			<h5 class="alt baseline mb10">Simon</h5>
            </ul>
</div></div></div></div>
    
        <div class="staff-grid-item grid__item large--one-eighth">
	  	  <div class="staff-grid-item__photo" style="background-image:url('https://cdn.shopify.com/s/files/1/0666/9741/files/team_steven.jpg?12861');">
<div class="staff-grid-item__overlay table"><div class="staff-grid-item__content table-cell"><ul>
  			<h5 class="alt baseline mb10">Steven</h5>
            </ul>
</div></div></div></div>
    
     <div class="staff-grid-item grid__item large--one-eighth">
	  	  <div class="staff-grid-item__photo" style="background-image:url('https://cdn.shopify.com/s/files/1/0666/9741/files/team_sumita.jpg?12861');">
<div class="staff-grid-item__overlay table"><div class="staff-grid-item__content table-cell"><ul>
  			<h5 class="alt baseline mb10">Sumita</h5>
            </ul>
</div></div></div></div>
    
    
    <div class="staff-grid-item grid__item large--one-eighth">
	  	  <div class="staff-grid-item__photo" style="background-image:url('https://cdn.shopify.com/s/files/1/0666/9741/files/talia.jpg?16274198513507923720');">
<div class="staff-grid-item__overlay table"><div class="staff-grid-item__content table-cell"><ul>
  			<h5 class="alt baseline mb10">Talia</h5>
            </ul>
</div></div></div></div>
    
        <div class="staff-grid-item grid__item large--one-eighth">
	  	  <div class="staff-grid-item__photo" style="background-image:url('https://cdn.shopify.com/s/files/1/0666/9741/files/team_tim_25e60470-16f5-4e8d-8653-b8b12275a3a3.jpg?10210604139756456797');">
<div class="staff-grid-item__overlay table"><div class="staff-grid-item__content table-cell"><ul>
  			<h5 class="alt baseline mb10">Tim</h5>
            </ul>
</div></div></div></div>
    
            <div class="staff-grid-item grid__item large--one-eighth">
	  	  <div class="staff-grid-item__photo" style="background-image:url('https://cdn.shopify.com/s/files/1/0666/9741/files/team_zach_67f39ae1-b822-4706-b5ee-b913871bc2f5.jpg?6404');">
<div class="staff-grid-item__overlay table"><div class="staff-grid-item__content table-cell"><ul>
  			<h5 class="alt baseline mb10">Zach</h5>
            </ul>
</div></div></div></div>
    


    <!--********END US TEAM*****-->

    
  
    
    <div class="clearfix"></div>
          <div class="staff-grid-map-item grid__item large--one-eighth">

	  	  <div class="staff-grid-map-item__photo" style="background-image:url('https://cdn.shopify.com/s/files/1/0666/9741/files/kenya.png?16027994724026844649');">

	  	    <div class="staff-grid-map-item table">

	  	      <div class="staff-grid-map-item__content table-cell">
	  	        <ul>
                  <li><h5 class="mt0 mb0 alt white">Kenya</h5></li>
            </ul>
	  	      </div>
	  	    </div>
	  	  </div>
	  	</div>
    
            <div class="staff-grid-item grid__item large--one-eighth">
	  	  <div class="staff-grid-item__photo" style="background-image:url('https://cdn.shopify.com/s/files/1/0666/9741/files/team_ethan.jpg?82680');">
<div class="staff-grid-item__overlay table"><div class="staff-grid-item__content table-cell"><ul>
  			<h5 class="alt baseline mb10">Ethan</h5>
            </ul>
</div></div></div></div>
    


      <div class="staff-grid-item grid__item large--one-eighth">
	  	  <div class="staff-grid-item__photo" style="background-image:url('https://cdn.shopify.com/s/files/1/0666/9741/files/michael.jpg?6348');">
<div class="staff-grid-item__overlay table"><div class="staff-grid-item__content table-cell"><ul>
  			<h5 class="alt baseline mb10">Michael</h5>
            </ul>
</div></div></div></div>
    
                    <div class="staff-grid-item grid__item large--one-eighth">
	  	  <div class="staff-grid-item__photo" style="background-image:url('https://cdn.shopify.com/s/files/1/0666/9741/files/team_kennedy.jpg?4729742027068137729');">
<div class="staff-grid-item__overlay table"><div class="staff-grid-item__content table-cell"><ul>
  			<h5 class="alt baseline mb10">Kennedy</h5>
            </ul>
</div></div></div></div>
    
               <div class="staff-grid-item grid__item large--one-eighth">
	  	  <div class="staff-grid-item__photo" style="background-image:url('https://cdn.shopify.com/s/files/1/0666/9741/files/adamson.png?6394');">
<div class="staff-grid-item__overlay table"><div class="staff-grid-item__content table-cell"><ul>
  			<h5 class="alt baseline mb10">Adamson</h5>
            </ul>
</div></div></div></div>
    
             <div class="staff-grid-item grid__item large--one-eighth">
	  	  <div class="staff-grid-item__photo" style="background-image:url('https://cdn.shopify.com/s/files/1/0666/9741/files/anita.jpg?6394');">
<div class="staff-grid-item__overlay table"><div class="staff-grid-item__content table-cell"><ul>
  			<h5 class="alt baseline mb10">Anita</h5>
            </ul>
</div></div></div></div>
    
                 <div class="staff-grid-item grid__item large--one-eighth">
	  	  <div class="staff-grid-item__photo" style="background-image:url('https://cdn.shopify.com/s/files/1/0666/9741/files/anne.png?6394');">
<div class="staff-grid-item__overlay table"><div class="staff-grid-item__content table-cell"><ul>
  			<h5 class="alt baseline mb10">Anne</h5>
            </ul>
</div></div></div></div>
    
        
<div class="staff-grid-item grid__item large--one-eighth">
	  	  <div class="staff-grid-item__photo" style="background-image:url('https://cdn.shopify.com/s/files/1/0666/9741/files/barbara.png?6394');">
<div class="staff-grid-item__overlay table"><div class="staff-grid-item__content table-cell"><ul>
  			<h5 class="alt baseline mb10">Barbara</h5>
            </ul>
</div></div></div></div>
    
        
               <div class="staff-grid-item grid__item large--one-eighth">
	  	  <div class="staff-grid-item__photo" style="background-image:url('https://cdn.shopify.com/s/files/1/0666/9741/files/blixen.png?6394');">
<div class="staff-grid-item__overlay table"><div class="staff-grid-item__content table-cell"><ul>
  			<h5 class="alt baseline mb10">Blixen</h5>
            </ul>
</div></div></div></div>
    
    
          <div class="staff-grid-item grid__item large--one-eighth">
	  	  <div class="staff-grid-item__photo" style="background-image:url('https://cdn.shopify.com/s/files/1/0666/9741/files/charles.png?6394');">
<div class="staff-grid-item__overlay table"><div class="staff-grid-item__content table-cell"><ul>
  			<h5 class="alt baseline mb10">Charles</h5>
            </ul>
</div></div></div></div>
    
    

                 <div class="staff-grid-item grid__item large--one-eighth">
	  	  <div class="staff-grid-item__photo" style="background-image:url('https://cdn.shopify.com/s/files/1/0666/9741/files/diana.png?6399');">
<div class="staff-grid-item__overlay table"><div class="staff-grid-item__content table-cell"><ul>
  			<h5 class="alt baseline mb10">Diana</h5>
            </ul>
</div></div></div></div>
    
                     <div class="staff-grid-item grid__item large--one-eighth">
	  	  <div class="staff-grid-item__photo" style="background-image:url('https://cdn.shopify.com/s/files/1/0666/9741/files/Diana.jpg?6400');">
<div class="staff-grid-item__overlay table"><div class="staff-grid-item__content table-cell"><ul>
  			<h5 class="alt baseline mb10">Diana</h5>
            </ul>
</div></div></div></div>
    
    
        
           <div class="staff-grid-item grid__item large--one-eighth">
	  	  <div class="staff-grid-item__photo" style="background-image:url('https://cdn.shopify.com/s/files/1/0666/9741/files/georgina.png?6394');">
<div class="staff-grid-item__overlay table"><div class="staff-grid-item__content table-cell"><ul>
  			<h5 class="alt baseline mb10">Georgina</h5>
            </ul>
</div></div></div></div>

    
    
              <div class="staff-grid-item grid__item large--one-eighth">
	  	  <div class="staff-grid-item__photo" style="background-image:url('https://cdn.shopify.com/s/files/1/0666/9741/files/gilbert.jpg?6348');">
<div class="staff-grid-item__overlay table"><div class="staff-grid-item__content table-cell"><ul>
  			<h5 class="alt baseline mb10">Gilbert</h5>
            </ul>
</div></div></div></div>
    

    
      <div class="staff-grid-item grid__item large--one-eighth">
	  	  <div class="staff-grid-item__photo" style="background-image:url('https://cdn.shopify.com/s/files/1/0666/9741/files/hesbon.png?6394');">
<div class="staff-grid-item__overlay table"><div class="staff-grid-item__content table-cell"><ul>
  			<h5 class="alt baseline mb10">Hesbon</h5>
            </ul>
</div></div></div></div>
    
        
             <div class="staff-grid-item grid__item large--one-eighth">
	  	  <div class="staff-grid-item__photo" style="background-image:url('https://cdn.shopify.com/s/files/1/0666/9741/files/jefferson.png?6394');">
<div class="staff-grid-item__overlay table"><div class="staff-grid-item__content table-cell"><ul>
  			<h5 class="alt baseline mb10">Jefferson</h5>
            </ul>
</div></div></div></div>
    

    
           <div class="staff-grid-item grid__item large--one-eighth">
	  	  <div class="staff-grid-item__photo" style="background-image:url('https://cdn.shopify.com/s/files/1/0666/9741/files/margaret.png?6399');">
<div class="staff-grid-item__overlay table"><div class="staff-grid-item__content table-cell"><ul>
  			<h5 class="alt baseline mb10">Margaret</h5>
            </ul>
</div></div></div></div>


    
                         <div class="staff-grid-item grid__item large--one-eighth">
	  	  <div class="staff-grid-item__photo" style="background-image:url('https://cdn.shopify.com/s/files/1/0666/9741/files/nicholas.png?6394');">
<div class="staff-grid-item__overlay table"><div class="staff-grid-item__content table-cell"><ul>
  			<h5 class="alt baseline mb10">Nicholas</h5>
            </ul>
</div></div></div></div>
    
                             <div class="staff-grid-item grid__item large--one-eighth">
	  	  <div class="staff-grid-item__photo" style="background-image:url('https://cdn.shopify.com/s/files/1/0666/9741/files/samora.png?6399');">
<div class="staff-grid-item__overlay table"><div class="staff-grid-item__content table-cell"><ul>
  			<h5 class="alt baseline mb10">Samora</h5>
            </ul>
</div></div></div></div>
    


    
    
    
    
        <!--********END Kenya TEAM*****-->
     <div class="clearfix"></div>

    
           <div class="staff-grid-map-item grid__item large--one-eighth">
			<div class="staff-grid-map-item__photo" style="background-image:url('https://cdn.shopify.com/s/files/1/0666/9741/files/uganda_team.png?62248680419754637');">
				 <div class="staff-grid-map-item table">
					<div class="staff-grid-map-item__content table-cell">
	  	        <ul>
                  <li><h5 class="mt0 mb0 alt white text-center">Uganda</h5></li>
      	   		 </ul>
	  	      </div>
	  	    </div>
	  	  </div>
	  	 
	  	</div>
    


    
            <div class="staff-grid-item grid__item large--one-eighth">
	  	  <div class="staff-grid-item__photo" style="background-image:url('https://cdn.shopify.com/s/files/1/0666/9741/files/team_Andrew_A2.jpg?16996612081250968119');">
<div class="staff-grid-item__overlay table"><div class="staff-grid-item__content table-cell"><ul>
  			<h5 class="alt baseline mb10">Andrew</h5>
            </ul>
</div></div></div></div>
    
    
                <div class="staff-grid-item grid__item large--one-eighth">
	  	  <div class="staff-grid-item__photo" style="background-image:url('https://cdn.shopify.com/s/files/1/0666/9741/files/team_Faridah.jpg?10874705732728633987');">
<div class="staff-grid-item__overlay table"><div class="staff-grid-item__content table-cell"><ul>
  			<h5 class="alt baseline mb10">Faridah</h5>
            </ul>
</div></div></div></div>
    
    
 

  </div>
  </div>

 
</section>

