<section id="watch">

<div class="runhome-hero text-center">
  
  <div class="wrapper text-center wow fadeIn" data-wow-delay="0.5s">

  <span class="runhome-title holiday-text orange" >RUN HOME</span>
    <span class="runhome-divider white">|</span>
  <span class="runhome-subtitle white">A BioLite Film</span>
  

    
 
 </div>  
   
  <div class="runhome-video wow fadeIn pb30" data-wow-delay="0.9s">
<div class="embed-container"><iframe src="https://www.youtube.com/embed/aFq-RMaSYag?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>  
  </div>

  
       <div class="grid__item push--large--one-fifth large--three-fifths push--medium--one-fifth medium--three-fifths wow fadeIn" data-wow-delay="0.2s">    
       <p class="runhome-desc white">Meet Jane Kibii, a professional runner who splits her time training between California and Kenya. Racing to provide for herself and her daughter, Jane has been giving her all to create a safe and reliable way to create a connection back home to family. </p>
           <p class="runhome-desc white">We are proud to introduce Jane as BioLite’s first-ever Crossover Ambassador: with a foot in east Africa and a foot in the outdoors, Jane is a powerful example of the energy that connects us all no matter where we are in the world. </p>
         
  </div> 
  
         <div class="grid__item large--one-whole wow fadeIn" data-wow-delay="0.4s">    
                <img class="holiday-divider grid__item--center pt40" src="https://cdn.shopify.com/s/files/1/0666/9741/files/divider-orange.svg?8520199493548318881">

           <h2 class="alt holiday-text orange">Share Jane's Story</h2>
  </div>
  
 <div class="grid__item push--large--two-fifths large--one-fifth push--medium--one-fifth medium--three-fifths small--one-whole runhome-share">    

  <div class="grid__item large--one-third medium--one-third small--one-third wow fadeIn" data-wow-delay="0.3s"> 
    <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A//www.bioliteenergy.com/pages/run-home-a-biolite-film%23watch"><i class="icomoon icon-facebook-outline runhome-social-share"></i></a>
  </div>
  
  <div class="grid__item large--one-third medium--one-third small--one-third wow fadeIn" data-wow-delay="0.5s"> 
    <a target="_blank" href="https://twitter.com/home?status=Racing%20to%20provide%20for%20herself%20and%20her%20daughter,%20Jane%20has%20been%20giving%20her%20all%20to%20create%20a%20safe%20and%20reliable%20way%20to%20create%20a%20connection%20back%20home%20to%20family.%0A%0AWATCH%3A%20Run%20Home%20-%20A%20%40biolitestove%20Film%0A%0Ahttps%3A//www.bioliteenergy.com/pages/run-home-a-biolite-film%23watch"><i class="icomoon icon-twitter-outline runhome-social-share"></i></a>
  </div>
  
  <div class="grid__item large--one-third medium--one-third small--one-third wow fadeIn" data-wow-delay="0.7s"> 
    <a target="_blank" href="mailto:?&subject=WATCH: Run Home | A BioLite Film&body=Meet%20Jane%20Kibii,%20a%20professional%20runner%20who%20splits%20her%20time%20training%20between%20California%20and%20Kenya.%20Racing%20to%20provide%20for%20herself%20and%20her%20daughter,%20Jane%20has%20been%20giving%20her%20all%20to%20create%20a%20safe%20and%20reliable%20way%20to%20create%20a%20connection%20back%20home%20to%20family.%0A%0Ahttps%3A//www.bioliteenergy.com/pages/run-home-a-biolite-film%23watch"><i class="icomoon icon-email-contact-01 runhome-social-share"></i></a>
  </div>
  </div>

    
 
  
</div>
</section> 

<div style="background-color:#000;" class="clearfix"></div>

  <div class="runhome-footer text-center">
  <div class="grid__item large--one-whole runhome-footer-content">
    
<h2 class="alt holiday-text white">Your Purchase Has Impact</h2> 
     
    
    <div class="grid__item push--large--one-fifth large--three-fifths mb40">    

    <p class="light runhome-desc white">A portion of every sale at the BioLite shop will be invested in our east Africa programs, bringing cooking, charging, and lighting to off-grid households so they can connect to save, productive, and healthy lives.</p>
    </div> 
    
    <div class="clearfix"></div>

      
      <a href="/products" class="btn btn-orange hero-two-button" title="Shop Now">
                  <span>Explore Holiday Shop</span>
                </a>
      
       <a href="/products/solarhome-620" class="btn btn-outline-orange hero-two-button" title="Shop Now">
                  <span>Shop SolarHome 620</span>
                </a>
    </div>
    

    </div>

    
