<section class="section-medium text-center pt50 pb10">
  
 <div class="homeheader-wrapper"> 
<h1 class="homeheader-title gray-warm">Become A Reseller</h1>
   <p class="light small--pb20">Interested in selling BioLite products in your retail locations? Fill out the form below and we'll get back to you as soon as possible. </p>

  </div>
  
</section>
  
<div class="wrapper">   
   <div class="grid__item push--large--one-fifth large--three-fifths medium--one-whole small--one-whole">
    <div class="pt20"><p class="light"><span style="color:#C24D00;font-weight: 700;">*</span> Indicates required field</p></div>

 
<form action="https://forms.na2.netsuite.com/app/site/crm/externalleadpage.nl?compid=3625843&formid=3&h=AACffht_rugS2gVbszPCjWOjS-EYDrkim2Y" method="post">

      <div class="">
           <div class="input-complex input-complex--white">
         	<input id="companyname" name="companyname" type="text" required aria-required="true"> 
         	<label for="companyname" class="label-icon required"> <i class="icomoon icon-building formicons"></i> <span>Company Name</span><span class="required-icon">*</span> </label> 
         	</div>
        </div>

       <div class="">
           <div class="input-complex input-complex--white">
         	<input id="firstname" name="firstname" type="text" value="" class="required" maxlength='120' required aria-required="true"> 
         	<label for="firstname" class="label-icon required"> <i class="icomoon icon-BL__account formicons"></i> <span>First Name</span><span class="required-icon">*</span> </label>
           </div>
        </div>
  
  
   <div class="">
           <div class="input-complex input-complex--white">
         	<input id="lastname" name="lastname" type="text" value="" class="required" maxlength='120' required aria-required="true"> 
         	<label for="lastname" class="label-icon required"> <i class="icomoon icon-BL__account formicons"></i> <span>Last Name</span><span class="required-icon">*</span> </label>
           </div>
        </div>
  
  <div class="">
           <div class="input-complex input-complex--white">
         	<input id="email" name="email" type="text" value="" class="required" maxlength='120' required aria-required="true"> 
         	<label for="email" class="label-icon required"> <i class="icomoon icon-email-contact-01 formicons"></i> <span>Email</span><span class="required-icon">*</span> </label>
           </div>
        </div>
  
    <div class="">
           <div class="input-complex input-complex--white">
         	<input id="phone" name="phone" type="text" value="" class="required" maxlength='120' required aria-required="true"> 
         	<label for="phone" class="label-icon required"> <i class="icomoon icon-phone formicons"></i> <span>Phone Number</span><span class="required-icon">*</span> </label>
           </div>
        </div>
  
  <div class="">
           <div class="input-complex input-complex--white">
         	<input id="custentitywebsite" name="custentitywebsite" type="text" value="" class="required" maxlength='120'> 
         	<label for="custentitywebsite" class="label-icon required"> <i class="icomoon icon-web-small-01 formicons"></i> <span>Website</span> </label>
           </div>
        </div>
  
    <div class="">
           <div class="input-complex input-complex--white">
         	<input id="address1" name="address1" type="text" value="" class="required" maxlength='120' required aria-required="true"> 
         	<label for="address1" class="label-icon required"> <i class="icomoon icon-pin formicons"></i> <span>Address 1</span><span class="required-icon">*</span> </label>
           </div>
        </div>
  
    <div class="">
           <div class="input-complex input-complex--white">
         	<input id="address2" name="address2" type="text" value="" class="required" maxlength='120'> 
         	<label for="address2" class="label-icon required"> <i class="icomoon icon-pin formicons"></i> <span>Address 2</span> </label>
           </div>
        </div>
  
  <div class="">
           <div class="input-complex input-complex--white">
         	<input id="city" name="city" type="text" value="" class="required" maxlength='120' required aria-required="true"> 
         	<label for="city" class="label-icon required"> <i class="icomoon icon-pin formicons"></i> <span>City</span> <span class="required-icon">*</span></label>
           </div>
        </div>
  
        <div class="">
          <label for="state">Choose Your State<span class="required-icon">*</span></label>
         	<select name='state' value='' id="state" required aria-required="true">
                  <option value='' selected>--</option>
<option value='0' >Alabama</option>
<option value='1' >Alaska</option>
<option value='2' >Arizona</option>
<option value='3' >Arkansas</option>
<option value='53' >Armed Forces Americas</option>
<option value='52' >Armed Forces Europe</option>
<option value='54' >Armed Forces Pacific</option>
<option value='4' >California</option>
<option value='5' >Colorado</option>
<option value='6' >Connecticut</option>
<option value='7' >Delaware</option>
<option value='8' >District of Columbia</option>
<option value='9' >Florida</option>
<option value='10' >Georgia</option>
<option value='11' >Hawaii</option>
<option value='12' >Idaho</option>
<option value='13' >Illinois</option>
<option value='14' >Indiana</option>
<option value='15' >Iowa</option>
<option value='16' >Kansas</option>
<option value='17' >Kentucky</option>
<option value='18' >Louisiana</option>
<option value='19' >Maine</option>
<option value='20' >Maryland</option>
<option value='21' >Massachusetts</option>
<option value='22' >Michigan</option>
<option value='23' >Minnesota</option>
<option value='24' >Mississippi</option>
<option value='25' >Missouri</option>
<option value='26' >Montana</option>
<option value='27' >Nebraska</option>
<option value='28' >Nevada</option>
<option value='29' >New Hampshire</option>
<option value='30' >New Jersey</option>
<option value='31' >New Mexico</option>
<option value='32' >New York</option>
<option value='33' >North Carolina</option>
<option value='34' >North Dakota</option>
<option value='35' >Ohio</option>
<option value='36' >Oklahoma</option>
<option value='37' >Oregon</option>
<option value='38' >Pennsylvania</option>
<option value='39' >Puerto Rico</option>
<option value='40' >Rhode Island</option>
<option value='41' >South Carolina</option>
<option value='42' >South Dakota</option>
<option value='43' >Tennessee</option>
<option value='44' >Texas</option>
<option value='45' >Utah</option>
<option value='46' >Vermont</option>
<option value='47' >Virginia</option>
<option value='48' >Washington</option>
<option value='49' >West Virginia</option>
<option value='50' >Wisconsin</option>
<option value='51' >Wyoming</option>
                     
                  </select> 
         </div>
  
  
  
  
  
          <div class="">
          <label for="country">Choose Your Country<span class="required-icon">*</span></label>
         	<select name='country' value='' id="country" required aria-required="true">
<option value='' >--</option>
<option value='US' >United States</option>
<option value='AF' >Afghanistan</option>
<option value='AX' >Aland Islands</option>
<option value='AL' >Albania</option>
<option value='DZ' >Algeria</option>
<option value='AS' >American Samoa</option>
<option value='AD' >Andorra</option>
<option value='AO' >Angola</option>
<option value='AI' >Anguilla</option>
<option value='AQ' >Antarctica</option>
<option value='AG' >Antigua and Barbuda</option>
<option value='AR' >Argentina</option>
<option value='AM' >Armenia</option>
<option value='AW' >Aruba</option>
<option value='AU' >Australia</option>
<option value='AT' >Austria</option>
<option value='AZ' >Azerbaijan</option>
<option value='BS' >Bahamas</option>
<option value='BH' >Bahrain</option>
<option value='BD' >Bangladesh</option>
<option value='BB' >Barbados</option>
<option value='BY' >Belarus</option>
<option value='BE' >Belgium</option>
<option value='BZ' >Belize</option>
<option value='BJ' >Benin</option>
<option value='BM' >Bermuda</option>
<option value='BT' >Bhutan</option>
<option value='BO' >Bolivia</option>
<option value='BQ' >Bonaire, Saint Eustatius and Saba</option>
<option value='BA' >Bosnia and Herzegovina</option>
<option value='BW' >Botswana</option>
<option value='BV' >Bouvet Island</option>
<option value='BR' >Brazil</option>
<option value='IO' >British Indian Ocean Territory</option>
<option value='BN' >Brunei Darussalam</option>
<option value='BG' >Bulgaria</option>
<option value='BF' >Burkina Faso</option>
<option value='BI' >Burundi</option>
<option value='KH' >Cambodia</option>
<option value='CM' >Cameroon</option>
<option value='CA' >Canada</option>
<option value='IC' >Canary Islands</option>
<option value='CV' >Cape Verde</option>
<option value='KY' >Cayman Islands</option>
<option value='CF' >Central African Republic</option>
<option value='EA' >Ceuta and Melilla</option>
<option value='TD' >Chad</option>
<option value='CL' >Chile</option>
<option value='CN' >China</option>
<option value='CX' >Christmas Island</option>
<option value='CC' >Cocos (Keeling) Islands</option>
<option value='CO' >Colombia</option>
<option value='KM' >Comoros</option>
<option value='CD' >Congo, Democratic Republic of</option>
<option value='CG' >Congo, Republic of</option>
<option value='CK' >Cook Islands</option>
<option value='CR' >Costa Rica</option>
<option value='CI' >Cote d'Ivoire</option>
<option value='HR' >Croatia/Hrvatska</option>
<option value='CU' >Cuba</option>
<option value='CW' >Curaçao</option>
<option value='CY' >Cyprus</option>
<option value='CZ' >Czech Republic</option>
<option value='DK' >Denmark</option>
<option value='DJ' >Djibouti</option>
<option value='DM' >Dominica</option>
<option value='DO' >Dominican Republic</option>
<option value='TL' >East Timor</option>
<option value='EC' >Ecuador</option>
<option value='EG' >Egypt</option>
<option value='SV' >El Salvador</option>
<option value='GQ' >Equatorial Guinea</option>
<option value='ER' >Eritrea</option>
<option value='EE' >Estonia</option>
<option value='ET' >Ethiopia</option>
<option value='FK' >Falkland Islands</option>
<option value='FO' >Faroe Islands</option>
<option value='FJ' >Fiji</option>
<option value='FI' >Finland</option>
<option value='FR' >France</option>
<option value='GF' >French Guiana</option>
<option value='PF' >French Polynesia</option>
<option value='TF' >French Southern Territories</option>
<option value='GA' >Gabon</option>
<option value='GM' >Gambia</option>
<option value='GE' >Georgia</option>
<option value='DE' >Germany</option>
<option value='GH' >Ghana</option>
<option value='GI' >Gibraltar</option>
<option value='GR' >Greece</option>
<option value='GL' >Greenland</option>
<option value='GD' >Grenada</option>
<option value='GP' >Guadeloupe</option>
<option value='GU' >Guam</option>
<option value='GT' >Guatemala</option>
<option value='GG' >Guernsey</option>
<option value='GN' >Guinea</option>
<option value='GW' >Guinea-Bissau</option>
<option value='GY' >Guyana</option>
<option value='HT' >Haiti</option>
<option value='HM' >Heard and McDonald Islands</option>
<option value='VA' >Holy See (City Vatican State)</option>
<option value='HN' >Honduras</option>
<option value='HK' >Hong Kong</option>
<option value='HU' >Hungary</option>
<option value='IS' >Iceland</option>
<option value='IN' >India</option>
<option value='ID' >Indonesia</option>
<option value='IR' >Iran (Islamic Republic of)</option>
<option value='IQ' >Iraq</option>
<option value='IE' >Ireland</option>
<option value='IM' >Isle of Man</option>
<option value='IL' >Israel</option>
<option value='IT' >Italy</option>
<option value='JM' >Jamaica</option>
<option value='JP' >Japan</option>
<option value='JE' >Jersey</option>
<option value='JO' >Jordan</option>
<option value='KZ' >Kazakhstan</option>
<option value='KE' >Kenya</option>
<option value='KI' >Kiribati</option>
<option value='KP' >Korea, Democratic People's Republic</option>
<option value='KR' >Korea, Republic of</option>
<option value='XK' >Kosovo</option>
<option value='KW' >Kuwait</option>
<option value='KG' >Kyrgyzstan</option>
<option value='LA' >Lao People's Democratic Republic</option>
<option value='LV' >Latvia</option>
<option value='LB' >Lebanon</option>
<option value='LS' >Lesotho</option>
<option value='LR' >Liberia</option>
<option value='LY' >Libya</option>
<option value='LI' >Liechtenstein</option>
<option value='LT' >Lithuania</option>
<option value='LU' >Luxembourg</option>
<option value='MO' >Macau</option>
<option value='MK' >Macedonia</option>
<option value='MG' >Madagascar</option>
<option value='MW' >Malawi</option>
<option value='MY' >Malaysia</option>
<option value='MV' >Maldives</option>
<option value='ML' >Mali</option>
<option value='MT' >Malta</option>
<option value='MH' >Marshall Islands</option>
<option value='MQ' >Martinique</option>
<option value='MR' >Mauritania</option>
<option value='MU' >Mauritius</option>
<option value='YT' >Mayotte</option>
<option value='MX' >Mexico</option>
<option value='FM' >Micronesia, Federal State of</option>
<option value='MD' >Moldova, Republic of</option>
<option value='MC' >Monaco</option>
<option value='MN' >Mongolia</option>
<option value='ME' >Montenegro</option>
<option value='MS' >Montserrat</option>
<option value='MA' >Morocco</option>
<option value='MZ' >Mozambique</option>
<option value='MM' >Myanmar (Burma)</option>
<option value='NA' >Namibia</option>
<option value='NR' >Nauru</option>
<option value='NP' >Nepal</option>
<option value='NL' >Netherlands</option>
<option value='AN' >Netherlands Antilles (Deprecated)</option>
<option value='NC' >New Caledonia</option>
<option value='NZ' >New Zealand</option>
<option value='NI' >Nicaragua</option>
<option value='NE' >Niger</option>
<option value='NG' >Nigeria</option>
<option value='NU' >Niue</option>
<option value='NF' >Norfolk Island</option>
<option value='MP' >Northern Mariana Islands</option>
<option value='NO' >Norway</option>
<option value='OM' >Oman</option>
<option value='PK' >Pakistan</option>
<option value='PW' >Palau</option>
<option value='PA' >Panama</option>
<option value='PG' >Papua New Guinea</option>
<option value='PY' >Paraguay</option>
<option value='PE' >Peru</option>
<option value='PH' >Philippines</option>
<option value='PN' >Pitcairn Island</option>
<option value='PL' >Poland</option>
<option value='PT' >Portugal</option>
<option value='PR' >Puerto Rico</option>
<option value='QA' >Qatar</option>
<option value='RE' >Reunion Island</option>
<option value='RO' >Romania</option>
<option value='RU' >Russian Federation</option>
<option value='RW' >Rwanda</option>
<option value='BL' >Saint Barthélemy</option>
<option value='SH' >Saint Helena</option>
<option value='KN' >Saint Kitts and Nevis</option>
<option value='LC' >Saint Lucia</option>
<option value='MF' >Saint Martin</option>
<option value='VC' >Saint Vincent and the Grenadines</option>
<option value='WS' >Samoa</option>
<option value='SM' >San Marino</option>
<option value='ST' >Sao Tome and Principe</option>
<option value='SA' >Saudi Arabia</option>
<option value='SN' >Senegal</option>
<option value='RS' >Serbia</option>
<option value='CS' >Serbia and Montenegro (Deprecated)</option>
<option value='SC' >Seychelles</option>
<option value='SL' >Sierra Leone</option>
<option value='SG' >Singapore</option>
<option value='SX' >Sint Maarten</option>
<option value='SK' >Slovak Republic</option>
<option value='SI' >Slovenia</option>
<option value='SB' >Solomon Islands</option>
<option value='SO' >Somalia</option>
<option value='ZA' >South Africa</option>
<option value='GS' >South Georgia</option>
<option value='SS' >South Sudan</option>
<option value='ES' >Spain</option>
<option value='LK' >Sri Lanka</option>
<option value='PM' >St. Pierre and Miquelon</option>
<option value='PS' >State of Palestine</option>
<option value='SD' >Sudan</option>
<option value='SR' >Suriname</option>
<option value='SJ' >Svalbard and Jan Mayen Islands</option>
<option value='SZ' >Swaziland</option>
<option value='SE' >Sweden</option>
<option value='CH' >Switzerland</option>
<option value='SY' >Syrian Arab Republic</option>
<option value='TW' >Taiwan</option>
<option value='TJ' >Tajikistan</option>
<option value='TZ' >Tanzania</option>
<option value='TH' >Thailand</option>
<option value='TG' >Togo</option>
<option value='TK' >Tokelau</option>
<option value='TO' >Tonga</option>
<option value='TT' >Trinidad and Tobago</option>
<option value='TN' >Tunisia</option>
<option value='TR' >Turkey</option>
<option value='TM' >Turkmenistan</option>
<option value='TC' >Turks and Caicos Islands</option>
<option value='TV' >Tuvalu</option>
<option value='UM' >US Minor Outlying Islands</option>
<option value='UG' >Uganda</option>
<option value='UA' >Ukraine</option>
<option value='AE' >United Arab Emirates</option>
<option value='GB' >United Kingdom</option>
<option value='UY' >Uruguay</option>
<option value='UZ' >Uzbekistan</option>
<option value='VU' >Vanuatu</option>
<option value='VE' >Venezuela</option>
<option value='VN' >Vietnam</option>
<option value='VG' >Virgin Islands (British)</option>
<option value='VI' >Virgin Islands (USA)</option>
<option value='WF' >Wallis and Futuna</option>
<option value='EH' >Western Sahara</option>
<option value='YE' >Yemen</option>
<option value='ZM' >Zambia</option>
<option value='ZW' >Zimbabwe</option>
                     
                  </select> 
         </div>
  

         
  
  <div class="">
          <label for="custentity3">Reseller Type<span class="required-icon">*</span></label>
         	<select name='custentity3' value='' id="custentity3" required aria-required="true">
                  <option value='' selected>--</option>
<option value='1' >North American Retailer</option>
<option value='2' >International Retailer</option>
<option value='3' >Distributor</option>
<option value='4' >Independent Rep</option>
<option value='5' >E-Comm Only</option>
                  </select> 
         </div>
  

  
  
   <div class="input-textarea">
            <label for="comments"><span class="form-comments-wrapper"><i class="icomoon icon-userstories formicons"></i> <span class="form-comments">Tell Us About Your Company and Customers<span class="required-icon">*</span></span></span></label>
            <textarea name='comments' id='comments' maxlength='3000' width='250' height='250' required aria-required="true"></textarea></div>

 


  
  
      <input type="submit" class='btn btn-primary btn-large text-center mt10 mb50' value="Submit" />
  
  
     <div id="hero-video" class="modal">
       
     <header class="modal__header">
     
    </header>
                        
    <div id="hero-video--fineprint" class="modal">
   <header class="modal__header">
     
     <div class="modal--close">
       <i class="fa fa-circle-border fa-circle-border--medium fa-times"></i>
     </div>
   </header>
   <div class="modal__content modal__content--video text-center">
        
     <div class="grid__item large--one-half mt30 pr30 pl30" style="border-right:1px solid #f3f3f3;">
          <h3 class="primary mt60 mb0">Drop Us A Note</h3>
          <p class="light mb20">Fill out our contact form and we'll get back to you within 24 hours</p>
 <a href="/pages/contact" class="btn btn-primary" title="Contact Us"> <span>Contact Us</span> </a>
</div>
     
          <div class="grid__item large--one-half mt30 pr30 pl30">
          <h3 class="primary mt60 mb0">Give Us A Call</h3>
          <p class="light mb20">Customer service is standing by from 9am - 5pm EST (excluding holidays)</p>
 <a href="#" class="btn btn-outline-primary" title="Call 844-424-6548"> <span>Call 844-424-6548</span> </a>
</div> 
      
      </div>
  </div>
  </div>

</form>
                       
  </div>
  
  </div>