 <script>new WOW().init();</script>
    <script src="//cdn.shopify.com/s/files/1/0666/9741/t/644/assets/magic360.js?9128542390179517930" type="text/javascript"></script>



  <header id="side-nav" class="firepit-side-menu">
    <nav>
      <ul>
        <li><a href="#this-is-headlamp"><span></span></a></li>
        <li><a href="#killer-fit"><span></span></a></li>
        <li><a href="#3d-slimfit"><span></span></a></li>
        <li><a href="#features"><span></span></a></li>
        <li><a href="#headlamp-reviews"><span></span></a></li>
        <li><a href="#photos"><span></span></a></li>
       <li><a href="#shop"><span>SHOP</span></a></li>
      </ul>
    </nav>
  </header>

<main>

  <!--CSS Spinner
<div class="spinner-wrapper">
<div class="spinner">
  <div class="bounce1"></div>
  <div class="bounce2"></div>
  <div class="bounce3"></div>
</div></div>-->
  
<section id="this-is-headlamp">
  <div id="headlamp-hero" class="landing-section-hero headlamp-hero wow fadeIn">
  <div class="landing-hero-section">
    <span class="landing-hero-header white wow fadeIn" data-wow-delay="3.2s">Holy Fit This Is Good</span> 
    <span class="landing-hero-subheader white wow fadeIn" data-wow-delay="3.2s">Meet HeadLamp 330</span> 
      <footer class="landing-hero-cta wow fadeInDown" data-wow-delay="4.2s">
         <a href="#" data-control-modal="#hero-video--headlamp-video"  class="btn btn-orange mr10" title="Shop Now">
                  <span>Watch The Video </span>
                </a>       
        <a href="#shop" class="btn btn-outline-orange" title="Shop Now">
                  <span>Shop HeadLamp </span>
                </a>
              </footer>
  </div> 
  <i class="icomoon icon-downArrow bouncy-arrow"></i>
    
          <div id="hero-video-product" class="modal">

    <div id="hero-video--headlamp-video" class="modal">
   <header class="modal__header">
     <div class="modal--close">
       <i class="icomoon icon-close-circle modal-close-button"></i>
     </div>
   </header>
  <div class="modal__content modal__content--video">
                <iframe src="https://www.youtube.com/embed/8JFBZBux-wM?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                </div> 
  </div>
  </div>
   

    
    <div id="headlamp-video" class="hero-video__video-wrapper">
   <video id="headlamp-video-intro" autoplay="autoplay" class="hero-video__video" poster="https://s3-us-west-2.amazonaws.com/biolitewebsite/headlamp/headlamp_hero_video/html5video/HeadLamp_SloMo_edited.jpg" 
         title="BioLite HeadLamp" muted="mute" onended="var v=this;setTimeout(function(){v.play()},300)">
<source src="https://s3-us-west-2.amazonaws.com/biolitewebsite/headlamp/headlamp_hero_video/html5video/HeadLamp_SloMo_3.m4v" type="video/mp4" />
<source src="https://s3-us-west-2.amazonaws.com/biolitewebsite/headlamp/headlamp_hero_video/html5video/HeadLamp_SloMo_3.webm" type="video/webm" />
</video>
<script src="https://s3-us-west-2.amazonaws.com/biolitewebsite/firepit/FirePit_slowmo.files/html5video/html5ext.js" type="text/javascript"></script>
  </div>
  
</div>
</section>

      <div id="hero-video-product" class="modal">
       
     <header class="modal__header">
    </header>
    <div id="hero-video--firepit-video" class="modal">
   <header class="modal__header">
     <div class="modal--close">
       <i class="icomoon icon-close-circle modal-close-button"></i>
     </div>
   </header>
  <div class="modal__content modal__content--video">
                <iframe src="https://www.youtube.com/embed/1vGKgBDfL5g?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                </div> 
  </div>
  </div>
<div class="clearfix"></div>

<section id="killer-fit">

<div class="landing-section headlamp-overview">
     <div class="landing-section-wrapper">
          <div class="grid__item large--one-whole text-center headlamp-overview-title">
         <h2 class="primary mb0 bold wow fadeInDown">High Performance Light. Killer Fit.</h2> 
         <h6 class="small mt0 wow fadeInDown">If you forget you're wearing it, we've done our job</h6>
       </div>
       
  <div class="headlamp-360-spin vertical-horizontal-center medium--positionreset small--positionreset">
    <div class="spin-hidden-overlay"><img src="https://cdn.shopify.com/s/files/1/0666/9741/files/headlamp_fill.png?11312384775001890997"></div>
<a class="Magic360" data-options="filename:headlamp-{col}.jpg; rows:1; columns:24; autospin-speed: 4000; autospin-stop: hover; spin: none; autospin: infinite"><img src="https://s3-us-west-2.amazonaws.com/impact-2017.bioliteenergy.com/360test/images/headlamp-01.jpg" alt=""/></a>
       </div>

<div class="grid__item large--one-whole text-center headlamp-overview-icons">
<div class="grid__item large--one-fifth medium--one-half small--one-half headlamp-overview-icons-each wow fadeInDown" data-wow-delay="0.2s"><i class="icomoon icon-light headlamp-overview-icons-ico"></i><h4 class="alt primary">330 Lumens</h4></div>
<div class="grid__item large--one-fifth medium--one-half small--one-half headlamp-overview-icons-each wow fadeInDown" data-wow-delay="0.4s"><i class="icomoon icon-timers headlamp-overview-icons-ico"></i><h4 class="alt primary">40 Hours Runtime</h4></div>
<div class="grid__item large--one-fifth medium--one-half small--one-half headlamp-overview-icons-each wow fadeInDown" data-wow-delay="0.6s"><i class="icomoon icon-chargeUSB headlamp-overview-icons-ico"></i><h4 class="alt primary">USB Rechargeable</h4></div>
<div class="grid__item large--one-fifth medium--one-half small--one-half headlamp-overview-icons-each wow fadeInDown" data-wow-delay="0.8s"><i class="icomoon icon-headlamp headlamp-overview-icons-ico"></i><h4 class="alt primary">Ultra-Thin</h4></div>
<div class="grid__item large--one-fifth medium--one-whole small--one-whole headlamp-overview-icons-each wow fadeInDown" data-wow-delay="1s"><i class="icomoon icon-feather headlamp-overview-icons-ico"></i><h4 class="alt primary">69g Total Weight</h4></div>
              </div>    


  </div>
</div>
</section>



<div class="clearfix"></div>
       

<section id="3d-slimfit">
  <div class="landing-tabs">
     <div class="grid__item large--one-whole slimfit-overview-title">
         <!--<h3 class="dark-grey mb0 bold">What Makes HeadLamp Different?</h3> -->
       </div>
    <div class="clearfix"></div>

     <div class="grid__item large--one-whole landing-tabs-wrapper">

      <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/3dslimfit_logo-01.svg?13662237906227275981" class="landing-tabs-listd-slimfit">

    <div class="landing-tabs-list">
  <button class="tablinks" onclick="openTab(event, 'flushFront')" id="defaultOpen">Flush Front</button>
  <button class="tablinks" onclick="openTab(event, 'betterBalance')">Better Balance</button>
  <button class="tablinks" onclick="openTab(event, 'smartFabrics')">Smart Fabrics</button>
    </div>
    </div>
</div>  
  
  
<div id="flushFront" class="tabcontent landing-section">
 <img class="slimfit-model" src="https://cdn.shopify.com/s/files/1/0666/9741/files/HeadLamp_Model_BG_yellow.png?10250892816919410919">
  <div class="landing-tabs-content">
      <p class="light dark-grey slimfit-model-desc">The ultrathin 3D molded housing sits flat on your forehead. That means no bounce, no slip.</p>
    <p class="light dark-grey slimfit-model-desc">By integrating our electronics into the fabric, we pack all your lighting into an ultra-thin facing that 
      is designed to fit as seamlessly as a contact lens.</p> 
    
        <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/SlimFit_icons-01_040da31f-9072-4c46-88d2-22ab3c70b16c.svg?7880414993972852453" class="slimfit-icon-callout">

  </div>

  </div>
  
  <div id="betterBalance" class="tabcontent landing-section">
 <img class="slimfit-model" src="https://cdn.shopify.com/s/files/1/0666/9741/files/HeadLamp_Model_Only_red.png?12048920198008377418">
 <div class="landing-tabs-content">
      <p class="light dark-grey slimfit-model-desc">By relocating the power source to the back, our fit solves the classic slippage problem. It feels like wearing a head band </p>
       
   <p class="light dark-grey slimfit-model-desc">We kept the front super minimal and moved those grams to the back of your head, making HeadLamp 330 a gravity-friendly design.</p>
       <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/SlimFit_icons-02.svg?11438484477578977256" class="slimfit-icon-callout">

  </div>
  </div>
  
  
    <div id="smartFabrics" class="tabcontent landing-section">
 <img class="slimfit-model" src="https://cdn.shopify.com/s/files/1/0666/9741/files/HeadLamp_Model_Only_teal.png?12048920198008377418">
 <div class="landing-tabs-content">
      <p class="light dark-grey slimfit-model-desc">HeadLamp 330 is made from high-quality moisture-wicking band that keeps your forehead comfortable and dry during activity. Best of all - no abrasion points.</p>
       
        <p class="light dark-grey slimfit-model-desc">The easy-adjust clips also take the guess work out of right-sizing your band.</p>
       <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/SlimFit_icons-03.svg?11438484477578977256" class="slimfit-icon-callout">

   
  </div>
  </div>
  

       


       
  
  </section>

<div class="clearfix"></div>


  <section id="features">

  <div class="landing-section text-center" style="background-color:#24272a;">
    <div class="vertical-horizontal-center small--positionreset sunlight-quick-specs-title wow fadeIn" data-wow-delay="0.5s">
      HeadLamp Feature Rundown
  </div>
  
  <div class="sunlight-spec-bloc wow fadeInUp" data-wow-delay="0.4s">
       <img class="sunlight-spec-illustration" src="https://cdn.shopify.com/s/files/1/0666/9741/files/features-03.svg?13662237906227275981" alt="Five Lighting Modes" title="Five Lighting Modes" />
         <span class="sunlight-spec-title white">Five Lighting Modes</span>
    <span class="sunlight-spec-title-caption white">Flood | Spot | Red | Strobe | Flood + Spot</span>
  </div>
   <div class="sunlight-spec-bloc wow fadeInUp" data-wow-delay="0.5s">
       <img class="sunlight-spec-illustration" src="https://cdn.shopify.com/s/files/1/0666/9741/files/HL_features_test-07.svg?932222776821978792" alt="Lens Articulates For Ideal Angle" title="Lens Articulates For Ideal Angle" />
         <span class="sunlight-spec-title white">Lens Articulates For Ideal Angle </span>
         <span class="sunlight-spec-title-caption white">&nbsp;</span>

  </div>
   <div class="sunlight-spec-bloc wow fadeInUp" data-wow-delay="0.6s">
       <img class="sunlight-spec-illustration" src="https://cdn.shopify.com/s/files/1/0666/9741/files/features-01.svg?13662237906227275981" alt="Dimmable In White Mode" title="Dimmable In White Mode" />
         <span class="sunlight-spec-title white">Dimmable In White Mode </span>
         <span class="sunlight-spec-title-caption white">&nbsp;</span>

  </div>
   <div class="sunlight-spec-bloc wow fadeInUp" data-wow-delay="0.7s">
       <img class="sunlight-spec-illustration" src="https://cdn.shopify.com/s/files/1/0666/9741/files/features-02.svg?12980907934448039174" alt="Beam Distance: 16M flood, 75M spot" title="Beam Distance: 16M flood, 75M spot" />
         <span class="sunlight-spec-title white">Beam Distance</span>
         <span class="sunlight-spec-title-caption white">16M flood; 75M spot</span>

  </div>
   <div class="sunlight-spec-bloc wow fadeInUp" data-wow-delay="0.8s">
       <img class="sunlight-spec-illustration" src="https://cdn.shopify.com/s/files/1/0666/9741/files/features-04.svg?12980907934448039174" alt="IPX4 - Splash &amp; Sweat Proof" title="IPX4 - Splash &amp; Sweat Proof" />
     <span class="sunlight-spec-title white">IPX4 - Splash &amp; Sweat Proof</span>
         <span class="sunlight-spec-title-caption white">&nbsp;</span>

  </div>
   <div class="sunlight-spec-bloc wow fadeInUp" data-wow-delay="0.8s"> 
       <img class="sunlight-spec-illustration" src="https://cdn.shopify.com/s/files/1/0666/9741/files/features-06-06.svg?18414722649032633135" alt="Available In 4 Colors" title="Available In 4 Colors" />
         <span class="sunlight-spec-title white">Available In 4 Colors</span>
    <span class="sunlight-spec-title-caption white">Grey | Yellow | Teal | Red </span>

  </div>
  
</div>
  </section>
  <div class="clearfix"></div>
  <section id="headlamp-reviews">

<div class="landing-section text-center" style="background-color:#000;">
  <div class="headlamp-reviews-headline">
  <h2 class="white mb0 bold wow fadeInDown">The Buzz On HeadLamp 330</h2> 
    </div>
  
  <div class="wrapper--full">
          <div class="grid__item large--one-half medium--one-whole wow fadeInLeft" data-wow-delay="0.2s">

    <span class="headlamp-reviews-divider">FROM THE PROS</span>
             <div class="buzz-padder">
            <div class="headlamp-ambassador-video">
            <a href="#" data-control-modal="#hero-video--headlamp-ambassdor"><i class="icomoon icon-playbutton-01 ctw-play-button"></i>
    <img class="ctw-videos-thumb" src="https://cdn.shopify.com/s/files/1/0666/9741/files/ambassador_vid_thumb_f0b07795-4692-4f16-8833-ac20f832fb5f.jpg?15395626272076610283">
              <h4 class="alt mt20 white">Ambassador First Impressions</h4></a>
          </div> 
 
            <!--<div class="grid__item large--two-thirds headlamp-pro-reviews-content">
      <p class="white light">The BioLite headlamp is hands down the brightest one I’ve ever used! It’s super comfy and an essential to any early morning adventure!</p>
            </div>-->
    
    </div>
    </div>
    
          <div class="grid__item large--one-half medium--one-whole wow fadeInLeft" data-wow-delay="0.5s">
<span class="headlamp-reviews-divider">FROM THE COMMUNITY</span>
                    <div class="buzz-padder">

<div class="grid__item large--one-half medium--one-half small--one-half mt40 headlamp-reviews-logo">
      <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/rei-co-op-logo-white.svg?10009767819244980264" alt="REI" title="REI" class="reviews-logo">
        <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/reviews-5star-01.svg?13868918825690525226" alt="5 Star Reviews" title="5 Star Reviews" class="reviews-stars">

  <h4 class="white alt light headlamp-reviews-text">4.9 Stars <span class="desktop-break"> (23 reviews)</span></h4>
            </div>
                      
          <div class="grid__item large--one-half medium--one-half small--one-half mt40 headlamp-reviews-logo">
      <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/biolite_Icon-01.svg?7027950234656311057" alt="BioLite" title="BioLite" class="reviews-logo">
        <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/reviews-5star-01.svg?13868918825690525226" alt="5 Star Reviews" title="5 Star Reviews" class="reviews-stars">

            <h4 class="white alt light headlamp-reviews-text">4.9 Stars <span class="desktop-break"> (24 reviews)</span></h4>
            </div>
            
 
   <div class="clearfix"></div>
           
 <div class="grid__item large--one-whole text-center">
      <div id="Glide2" class="glide">
     
   <div class="glide__wrapper">
        <ul class="glide__track">
          
          <li class="glide__slide">
              <div class="grid__item large--one-whole headlamp-review-wrapper">
             <span class="headlamp-review-snippet">"...lightweight and soft..."</span>
            </div>
          </li>
          
               <li class="glide__slide">
              <div class="grid__item large--one-whole headlamp-review-wrapper">
             <span class="headlamp-review-snippet">"Fantastic for multiple purposes"</span>
 </div>
</li>

          <li class="glide__slide">
              <div class="grid__item large--one-whole headlamp-review-wrapper">
             <span class="headlamp-review-snippet">"INSANELY comfortable..."</span>
            </div>
          </li>
          
                    <li class="glide__slide">
              <div class="grid__item large--one-whole headlamp-review-wrapper">
             <span class="headlamp-review-snippet">"Night Time Running Bliss"</span>
 </div>
</li>

          <li class="glide__slide">
              <div class="grid__item large--one-whole headlamp-review-wrapper">
             <span class="headlamp-review-snippet">"...feels oh-so-good"</span>
 </div>
</li>
                    <li class="glide__slide">
              <div class="grid__item large--one-whole headlamp-review-wrapper">
             <span class="headlamp-review-snippet">"...there is zero bounce"</span>
 </div>
</li>
          
<li class="glide__slide">
              <div class="grid__item large--one-whole headlamp-review-wrapper">
             <span class="headlamp-review-snippet">"Best Headlamp yet!"</span>
 </div>
</li>
          

          

          
               <li class="glide__slide">
              <div class="grid__item large--one-whole headlamp-review-wrapper">
             <span class="headlamp-review-snippet">"First headlamp I've found comfortable
"</span>
 </div>
</li>

  

 </ul>
    </div>
   
   </div>            </div>
                
                 <div class="clearfix"></div>
        
           <footer class="pt30 pb50">           
          <a href="/products/headlamp-330#product-rating" class="btn btn-outline-primary" title="See All Reviews">
                  <span>See All Reviews </span></a> 
                      </footer>
            </div>
 
</div>
    
    </div>
  </div>
         <div id="hero-video-product" class="modal">

    <div id="hero-video--headlamp-ambassdor" class="modal">
   <header class="modal__header">
     <div class="modal--close">
       <i class="icomoon icon-close-circle modal-close-button"></i>
     </div>
   </header>
  <div class="modal__content modal__content--video">
                <iframe src="https://www.youtube.com/embed/qF-max9KGGk?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                </div> 
  </div>
  </div>
  </section>
   

  <div class="clearfix"></div>

  <section id="photos">

<div class="landing-section" style="background-color:#000;" data-section-name="firepit-in-action" id="firepit-see-in-action" data-speed="8">
    <div class="grid__item sunlight-slideshow wow fadeIn">
       <span class="sunlight-title white">See HeadLamp In Action</span> 
    </div>  
  
  <div id="Glide" class="glide wow fadeIn" data-wow-delay="0.5s">
<div class="glide__arrows">
        <button class="glide__arrow prev" data-glide-dir="<"><i class="icomoon icon-leftArrowFilled slideshow-arrow-icon"></i></button>
        <button class="glide__arrow next" data-glide-dir=">"><i class="icomoon icon-rightArrowFilled slideshow-arrow-icon"></i></button>
    </div>  
   <div class="glide__wrapper">
        <ul class="glide__track">
<li class="glide__slide "><img src="https://cdn.shopify.com/s/files/1/0666/9741/files/headlamp_slideshow_1.jpg?9965967610687197717" alt="BioLite HeadLamp" title="BioLite HeadLamp" /></li>
<li class="glide__slide "><img src="https://cdn.shopify.com/s/files/1/0666/9741/files/headlamp_slideshow_7.jpg?9965967610687197717" alt="BioLite HeadLamp" title="BioLite HeadLamp" /></li>
<li class="glide__slide "><img src="https://cdn.shopify.com/s/files/1/0666/9741/files/headlamp_slideshow_9.jpg?9965967610687197717" alt="BioLite HeadLamp" title="BioLite HeadLamp" /></li>
<li class="glide__slide "><img src="https://cdn.shopify.com/s/files/1/0666/9741/files/headlamp_slideshow_10.jpg?7513850298545529924" alt="BioLite HeadLamp" title="BioLite HeadLamp" /></li>
<li class="glide__slide "><img src="https://cdn.shopify.com/s/files/1/0666/9741/files/headlamp_slideshow_3.jpg?9965967610687197717" alt="BioLite HeadLamp" title="BioLite HeadLamp" /></li>
<li class="glide__slide "><img src="https://cdn.shopify.com/s/files/1/0666/9741/files/headlamp_slideshow_5.jpg?9965967610687197717" alt="BioLite HeadLamp" title="BioLite HeadLamp" /></li>
<li class="glide__slide "><img src="https://cdn.shopify.com/s/files/1/0666/9741/files/headlamp_slideshow_6.jpg?9965967610687197717" alt="BioLite HeadLamp" title="BioLite HeadLamp" /></li>
<li class="glide__slide "><img src="https://cdn.shopify.com/s/files/1/0666/9741/files/headlamp_slideshow_11.jpg?7513850298545529924" alt="BioLite HeadLamp" title="BioLite HeadLamp" /></li>

 </ul>
    </div>
       <div class="glide__bullets"></div>
   
   </div>
<script>
    $("#Glide").glide({
        type: "carousel"
    });
</script>
  
  
</div>
  </section>
  
  
<div class="clearfix"></div>
  <section id="shop">

<div class="wrapper--full" style="background-color:#f3f3f3;outline: none;" id="shopHeadLamp" data-section-name="shop-headlamp" id="" data-speed="8"> 
<div class="grid__item large pb50 large--pt50 text-center">
 <h2 class="primary mb0 mt40 bold">Ready To Try HeadLamp?</h2> 
         <h6 class="small mt0 mb40">Find The Right Solution For You</h6>


<section id="product-grid" class="product-grid section-large" itemtype="http://schema.org/SomeProducts">

  {% for product in collections.headlamp-landing-page.products %}

      {% include 'collection-list-item-landing' %}
  

    {% endfor %}

</section>
  
  <div class="holy-fit text-center">
    
        <div class="grid__item push--large--one-fifth large--three-fifths">
          
              <div class="grid__item large--one-whole">
              <i class="icomoon icon-holyfit holy-fit-icon dark-grey"></i>
          </div>

    <div class="grid__item large--one-whole holy-fit-guarantee">
    <h4 class="bold primary mb0">The Holy Fit Guarantee</h4>
    <p class="light">Run with it, camp with it, live with it: feel the difference a good fit makes. Try HeadLamp 330 for 30 days and if you don't fall in love, we'll take it back for a full refund. </p>
    </div>
    </div>
    
    
  </div>
 
</div>
  
</div> 
      </section>

  
    <div class="clearfix"></div>

  

  <script>function openTab(evt, tabName) {
  var i, tabcontent, tablinks;

  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }

  document.getElementById(tabName).style.display = "block";
  evt.currentTarget.className += " active";
}
  
document.getElementById("defaultOpen").click();
</script>
  
  
  <script>
    $("#Glide2").glide({
        type: "slider",
      	autoplay: "5000",
      	autoheight  : "true", 
    });
</script>
    
  {{ 'menuspy.js' | asset_url | script_tag }}

    <script>
    var elm = document.querySelector('#side-nav');
    var ms = new MenuSpy(elm);
  </script>
  


  
  

</main>

<div id="firepit-footer" class="footer-wrapper mt30">
<div class="wrapper">
      <div class="grid__item large text-center">
    <span class="impact-msg white">Looking For More Info?</span>

  </div>
   <div class="clearfix"></div>


    <div class="grid__item push--large--one-fifth large--three-fifths text-center">
<br>
    
      
      <a href="/products/headlamp-330#videos" class="btn btn-primary" title="Shop Now">
                  <span>Full Tech Specs</span>
                </a>
      
        <a href="/products/headlamp-330#videos" class="btn btn-outline-white ml20" title="See All Reviews">
                  <span>HeadLamp FAQ</span>
                </a>
      
        <a href="/products/headlamp-330#videos" class="btn btn-outline-white ml20 small--mt20" title="See All Reviews">
                  <span>Compare HeadLamps</span>
                </a>
  </div>
  
     

</div>
</div>

<div class="clearfix"></div>

<script>
$(document).ready(function() {
//Preloader
$(window).on("load", function() {
preloaderFadeOutTime = 500;
function hidePreloader() {
var preloader = $('.spinner-wrapper');
preloader.fadeOut(preloaderFadeOutTime);
}
hidePreloader();
});
});
</script>

<script type="text/javascript">
window.onload=function(){
    document.getElementById("headlamp-video-intro").play();
  }
</script>

<script>
function showHero(){
    document.getElementById('headlamp-video').style.visibility = 'hidden';
}
</script>


<script type="text/javascript">
var video= $('#headlamp-video-intro').get(0);       
video.addEventListener('ended',function(){
    showHero();     
},false);
</script>