

<section class="section-large mt50">
  <div class="wrapper">
      <div class="grid__item large--two-eighths">
       <h1 class="sidebar-title">Shipping &amp; Return Policies</h1>
        <p class="light">We want to ensure that you have a great experience with your BioLite products. Our <a style="color:#35a8a6;" href="/pages/contact">support team</a> is here to help you answer any questions and troubleshoot any issues. In the event you would like to return your purchase, please read on for our policy.</p>
        <p class="light"> 
           <strong>Please allow up to 3 business days</strong> after purchase to receive your tracking information. Thank you for your patience and support for our warehouse team. </p>

    </div>
    
          <div class="grid__item push--large--one-eighth large--five-eighths">
            
              <div class="list-toggle toggle-grey">
      <div class="list-toggle__title" data-control-sibling=""> <i class="icomoon icon-plus"></i> <span class="toggle-main-title">Shipping Timelines</span></div>
  	<div class="list-toggle__content">
      <p class="toggle-desc light">We ship all orders as soon as possible, which can take up to 3 business days. Based on our warehouse location and your shipping address, we determine the most efficient shipping carrier for your order.
      <br><br>
 

        <strong>For Standard Ground</strong><br>All shipping carriers are currently experiencing delays to due higher than normal volume. <strong>Allow up to 2 weeks for arrival.</strong>   
         <br><br>
        <!--<strong>If Upgrading To 2 Day Air:</strong> Allow 2-3 business days-->
        
      
  	</div>
	</div>
            

            
  <div class="list-toggle toggle-grey">
      <div class="list-toggle__title" data-control-sibling="" > <i class="icomoon icon-plus"></i> <span class="toggle-main-title">Shipping Costs</span></div>
  	<div class="list-toggle__content">
      
      <h4 class="alt dark-grey mt30 mb20">For <span style="text-transform:uppercase;text-decoration:underline">US &amp; Canada</span> orders with <span style="text-transform:uppercase;text-decoration:underline">no overweight</span> items </h4>
      
   <table role="table" class="compare-table-bundle table-with-footer text-left mt20 mb30">
     <caption>Shipping Costs For US & CANADA orders with NO OVERWEIGHT items
       <span>Column</span>
     </caption>
  <thead>
    <tr>
      <th scope="col" class="border-bottom pb20 text-left pl10">
        <span class="mt20"><strong>STANDARD GROUND<br><span class="light">Orders Under $55</span></strong></span>
      </th>
      
      <th scope="col" class="border-bottom pb20 text-left pl10">
        <span class="mt20"><strong>STANDARD GROUND<br><span class="light">Orders Over $55</span></strong></span>
      </th>
      
      <th scope="col" class="border-bottom pb20 text-left pl10">
           <span class="mt20"><strong>2 DAY AIR<br><span class="light">All Orders</span></strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr class="text-left ">
      <td class="text-left pl10">$7.95</td>
      <td class="text-left pl10"><span class="bold">FREE</span> </td>
      <td class="text-left pl10">$16-$55 <br>depending on weight </td>
    </tr>

  </tbody>

</table>
      
      <!-- Mobile Tables -->
       
  <table role=”presentation” class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th scope="col" colspan="2" class="border-bottom">
        <span class="mt20"><strong>STANDARD GROUND<br><span class="light">Orders Under $55</span></strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="text-center" style="width:480px">$7.95</td>
    </tr>
  </tbody>

</table>
      
 <table role=”presentation” class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <span class="mt20"><strong>STANDARD GROUND<br><span class="light">Orders Over $55</span></strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="text-center" style="width:480px">FREE</td>
    </tr>
  </tbody>

</table>
      
       <table role=”presentation” class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <span class="mt20"><strong>2 DAY AIR<br><span class="light">All Orders</span></strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="text-center" style="width:480px">$16-$55 <br>depending on weight</td>
    </tr>
  </tbody>

</table>
      
      
            <h4 class="alt dark-grey mt50 mb0">For <span style="text-transform:uppercase;text-decoration:underline">US &amp; Canada</span> orders with the following <span style="text-transform:uppercase;text-decoration:underline">overweight</span> items </h4>
  
      
      <p class="light dark-grey mt5">FirePit |  FirePit Complete Kit </p>
      
   <table class="compare-table-bundle table-with-footer text-left mt20">
  <thead>
    <tr>
      <th class="border-bottom text-left">
        <span class="mt20"><strong>ALL SHIPPING LEVELS</strong></span>
      </th>
    
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="text-left">$25 per overweight item</td>
    </tr>

  </tbody>

</table>
      
            <!-- Mobile Tables -->
       
       <table class="table-with-footer-bundle compare-table-bundle-mobile mt20">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <span class="mt20"><strong>ALL SHIPPING LEVELS</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="text-center" style="width:480px">$25 per overweight item</td>
    </tr>
  </tbody>

</table>

      
      
      
  	</div>
	</div>
            
                        
<div class="list-toggle toggle-grey">
      <div class="list-toggle__title" data-control-sibling="" > <i class="icomoon icon-plus"></i> <span class="toggle-main-title">Shipping &amp; Delivery Exceptions</span></div>
  	<div class="list-toggle__content">
      <p class="toggle-desc light">Shipping Alaska and Hawaii incur a $15 Shipping surcharge. Unincorporated U.S. Territories incur a $25 shipping surcharge, a $50 oversize shipping surcharge for FirePit, HomeStove and BaseCamp PizzaDome Bundle.
 <br><br>
Some promotions may also exclude certain products or shipping options — be sure to check the disclaimer on any promotional advertisement or email.

      </p>
      
  	</div>
	</div>
            
  <div class="list-toggle toggle-grey">
      <div class="list-toggle__title" data-control-sibling="" > <i class="icomoon icon-plus"></i> <span class="toggle-main-title">Returns &amp; Refunds</span></div>
  	<div class="list-toggle__content">
      <p class="toggle-desc light">Returns are available only for customers that <strong>purchased directly from bioliteenergy.com</strong> on unused, unopened products. For warranty concerns on opened/used products, <a style="color:#35a8a6;" href="/pages/contact">contact us</a>. 
 <br><br>
Customers can request a return within 30 days of the order being delivered. Items that are opened or damaged may be denied a refund or return. We do not offer exchanges, only refunds on returns. Customers who wish to exchange may purchase their desired product as a separate order before or after we refund the original item return. Products must be completely unused with the packaging, manuals and any accessories intact and included with the return shipment. Any used products or missing items will result in the return being declined.
 <br><br>
        
        <strong>Return Instructions:</strong>
        <ol class="light" style="color:#262729;">
          <li><a style="color:#35a8a6;" href="/pages/contact">Contact support</a> with your original order number, the item(s) you would like to return and the reason for returning it.</li>
          <li>BioLite Support will respond with a Return Authorization number return address and instructions.</li>
          <li>The return will be processed and the original payment method refunded within 3 business days of receipt. The customer will be notified via email the moment it is complete.</li>
      </ol>

      </p>
      
  	</div>
	</div>
    
    <div class="list-toggle toggle-grey">
      <div class="list-toggle__title" data-control-sibling="" > <i class="icomoon icon-plus"></i> <span class="toggle-main-title">HeadLamp Special: "HolyFit" Guarantee</span></div>
  	<div class="list-toggle__content">
      <p class="toggle-desc light">BioLite is offering a special <strong>"HolyFit" Guarantee</strong> for customers who purchase the HeadLamp 330 or HeadLamp 200 at the BioLite Shop (BioLiteEnergy.com). With this guarantee you may remove the product from packaging and fully use it up to 30 days – run with it, camp with it, live with it! If you are not satisfied with the fit of your HeadLamp within that timeframe, return the unit and BioLite will refund your purchase. To request a return under the HolyFit Guarantee, please contact Customer Support for a prepaid return envelope (emailed via a PDF) and next steps. Refunds will be issued upon receipt of the original unit. Please note, HolyFit Guarantee does not cover abuse of product.


      </p>
      
  	</div>
	</div>
    
        <div class="list-toggle toggle-grey">
      <div class="list-toggle__title" data-control-sibling="" > <i class="icomoon icon-plus"></i> <span class="toggle-main-title">Kickstarter Return &amp; Refund Policy</span></div>
  	<div class="list-toggle__content">
      <p class="toggle-desc light">Please note that while all of our products are backed by the BioLite warranty policy, we do not currently offer refunds or returns for products purchased on Kickstarter. Crowdfunding is a critical part of what enables BioLite to grow our business, gather community feedback, and launch new products – and that requires a stable foundation from our backers where funds raised do not fluctuate once the campaign is closed. Your pledge is recognized as an investment in the design and production process and not a direct refundable payment. If you prefer to retain the ability for cancellations or refunds, please join us as a pre-order on BioLiteEnergy.com once our crowdfunding campaign is complete. If you have any further questions about our Kickstarter policy, please contact us.

      </p>
      
  	</div>
	</div>
    
    

    </div>
  </div>
</section>


