<div class="wrapper">
  <div class="grid__item large--one-third ">
    <div class="nav-sidebar__header">
      <h4 class="alt light baseline">Categories</h4>
    </div>
    <div class="nav-sidebar__content">
      <ul class="faq-categories"  id="faq-categories">
        <li><a href="#shipping_policy" title="Shipping Policy">Shipping Policy</a></li>
		<li><a href="#shipping_costs" title="Prices & Surcharges">Shipping Costs & Surcharges</a></li>
        <li><a href="#deliveries_exceptions" title="Deliveries & Exceptions">Deliveries & Exceptions</a></li>
        <li><a href="#return_policy" title="Return Policy">Return & Refund Policy</a></li>
        <li><a href="#kickstarter_policy" title="Kickstarter Policy">Kickstarter Returns & Refunds</a></li>
      </ul>
    </div>
  </div>

  <!--********* Shipping Policy***************-->

  <div class="grid__item large--two-thirds mt30"> <a name="shipping_policy" title="Shipping Policy"></a>
    <h4 class="primary">Shipping Policy</h4>

   <div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>Shipping Policy</span></div>
  	<div class="list-toggle__content">
      <br>
      <p>We ship all orders as soon as possible, which can take up to 2 business days. Based on our warehouse location and your shipping address, we determine the most efficient shipping carrier for your order. The carriers that may be used include: the U.S. Postal Service (USPS), United Parcel Service (UPS), FedEx, TNT, DHL, and Purolator.</p>
      <br>
  	</div>
	</div>    


  </div>



<section class="jumbotron">
  <div class="wrapper text-center">
    <h3 class="light baseline mb10"><em>Still Have Questions?</em></h3>
    <h6 class="light baseline">If you didn't find answers in our FAQ section, send us a message!</h6>
    <a href="/pages/contact/#contactFormWrapper" class="btn btn-outline-white btn-icon btn-icon--left mt30" title="Contact us"> <i class="fa fa-envelope-o"></i> <span>Contact Us</span> </a> </div>
</section>