
  
<div class="wrapper">

    <div class="grid__item large--one-whole partner-form-wrapper">
          <div class="grid__item large--one-whole text-center">

       <span class="impact-title dark-gray text-center">Product Questions</span>
      </div>

 <div class="grid__item push--large--one-fifth large--three-fifths pt40">

       <script type="text/javascript">var submitted=false;</script>
 <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted)  {window.location='https://www.bioliteenergy.com/pages/inquiry-received';}"></iframe>
 
<form action="https://docs.google.com/forms/d/e/1FAIpQLSdnxFJdWxYDCgd0wLnPCav01H9YEN7azWH31JDYkkxP-c6xLQ/formResponse" method="post" target="hidden_iframe" 
onsubmit="submitted=true;">

      <div class="">
           <div class="input-complex input-complex--white">
         	<input name="entry.578726216" type="text"> 
         	<label for="full_name" class="label-icon required"> <i class="icomoon icon-BL__account formicons"></i> <span>Full Name</span> </label> 
         	</div>
        </div>

       <div class="">
           <div class="input-complex input-complex--white">
         	<input name="entry.417590229" type="text" value="" class="required" maxlength='120'> 
         	<label for="email_address" class="label-icon required"> <i class="icomoon icon-email-contact-01 formicons"></i> <span>Email</span> </label>
           </div>
        </div>
  
   <div class="">
           <div class="input-complex input-complex--white">
         	<input name="entry.1968464730" type="text" value="" class="required" maxlength='120'> 
         	<label for="email_address" class="label-icon required"> <i class="icomoon icon-email-contact-01 formicons"></i> <span>Product</span> </label>
           </div>
        </div>
  
     

  
          <div class="input-textarea">
            <span class="form-comments-wrapper"><i class="icomoon icon-userstories formicons"></i> <span class="form-comments">Question</span></span>
            <textarea name='entry.684908910' maxlength='3000' width='250' height='250'></textarea></div>

      <input type="submit" class='btn btn-primary btn-large text-center mt10 mb50' value="Submit" />

</form>
      </div>
   

     
            
  
  </div>
  

  
      </div>
  

 



      


      


      

  
