<section id="watch">

<div class="runhome-hero text-center">
  
  <div class="wrapper text-center wow fadeIn" data-wow-delay="0.5s">

  <span class="runhome-title holiday-text orange" >GIVE GOOD ENERGY</span>
  <span class="runhome-subtitle white"> A BioLite Community Film</span>
  

 
 </div>  
   
  <div class="runhome-video wow fadeIn pb30" data-wow-delay="0.9s">
<div class="embed-container"><iframe src="https://www.youtube.com/embed/h6LbZKmpK3k?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>  
  </div>

  
       <div class="grid__item push--large--one-fifth large--three-fifths push--medium--one-fifth medium--three-fifths wow fadeIn" data-wow-delay="0.2s">    
         <p class="runhome-desc white">We’ve all experienced the power of <strong>good energy:</strong> a word of encouragement from a friend, a little light to guide you home, a warm meal to bring you back to life – 
         when someone takes that generous step to share their energy with us, how can you not be fired up to keep going?
 </p>
           <p class="runhome-desc white">Here at BioLite, one of our favorite things about this community is: you’re not just supporting us, you’re supporting each other. 
             <strong>And guess what</strong> – your friends are paying attention to that, and they’re here today to say Thank You.
 </p>
         
  </div> 
  
         <div class="grid__item large--one-whole wow fadeIn" data-wow-delay="0.4s">    

           <h2 class="alt holiday-text orange mt40">Who gives you good energy? </h2>
                      <p class="runhome-desc white">Share this video to let them know you’re grateful for their support and that this video is for them. </p>
  </div>
  
 <div class="grid__item push--large--two-fifths large--one-fifth push--medium--one-fifth medium--three-fifths small--one-whole runhome-share">    

  <div class="grid__item large--one-third medium--one-third small--one-third wow fadeIn" data-wow-delay="0.3s"> 
    <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https://www.bioliteenergy.com/pages/give-good-energy"><i class="icomoon icon-facebook-outline runhome-social-share"></i></a>
  </div>
  
  <div class="grid__item large--one-third medium--one-third small--one-third wow fadeIn" data-wow-delay="0.5s"> 
    <a target="_blank" href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fwww.bioliteenergy.com%2Fpages%2Fgive-good-energy&via=bioliteenergy&text=Thank%20you%20for%20everything%20you%20do%20to%20make%20our%20days%20a%20little%20warmer%20and%20our%20lives%20a%20little%20brighter.%20&hashtags=GiveGoodEnergy"><i class="icomoon icon-twitter-outline runhome-social-share"></i></a>
  </div>
  
  <div class="grid__item large--one-third medium--one-third small--one-third wow fadeIn" data-wow-delay="0.7s"> 
    <a target="_blank" href="mailto:info@example.com?&subject=&body=https://www.bioliteenergy.com/pages/give-good-energy Thank you for everything you do to make our days a little warmer and our lives a little brighter. #GiveGoodEnergy"><i class="icomoon icon-email-contact-01 runhome-social-share"></i></a>
  </div>
  </div>

    
 
  
</div>
</section> 

<div style="background-color:#000;" class="clearfix"></div>

  <div class="runhome-footer text-center">
  <div class="grid__item large--one-whole runhome-footer-content">
    
<h2 class="alt holiday-text white">GIVE GOOD ENERGY THIS HOLIDAY SEASON</h2> 
     
    
    <div class="grid__item push--large--one-fifth large--three-fifths mb40">    

    <p class="light runhome-desc white">When you purchase from The BioLite Shop, part of your sale is re-invested into bringing safe cooking, lighting, and charging to families across sub-Saharan Africa.</p>
    </div> 
    
    <div class="clearfix"></div>

      
      <a href="/products" class="btn btn-orange" title="Shop Now">
                  <span>Visit The Holiday Shop</span>
                </a>
      
   
    </div>
    

    </div>

    
