<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.0/jquery.matchHeight-min.js" type="text/javascript"></script>
{{ 'wow.min.js' | asset_url | script_tag }}



<script src="js/wow.min.js"></script>
              <script>
              new WOW().init();
              </script>


<section id="GiveAGifcard">
<div class="landing-section-hero" style="background-color:#cc4e20;">
    

  <div class="gifcard-simulation">
      <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/phone_base.png?13583217841123490032" class="gifcard-phone">
      <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/phone_1.png?13583217841123490032" class="gifcard-phone wow fadeInUp"  data-wow-delay="0.6s">
    <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/phone_2.png?13583217841123490032" class="gifcard-phone wow fadeInUp"  data-wow-delay="2s">
     <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/phone_3.png?13583217841123490032" class="gifcard-phone wow fadeInUp"  data-wow-delay="3.4s">
      <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/phone_4.png?13583217841123490032" class="gifcard-phone wow fadeInUp"  data-wow-delay="5s">
    <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/phone_5.gif?13583217841123490032" class="gifcard-phone wow fadeInUp"  data-wow-delay="6.2s">
    <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/phone_6.png?13583217841123490032" class="gifcard-phone wow fadeInUp"  data-wow-delay="8.5s">
    <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/phone_7.png?13583217841123490032" class="gifcard-phone wow fadeInUp"  data-wow-delay="11s">


      </div>
  
   <div class="gifcard-deets vertical-center small--positionreset">
          <h4 class="alt white mb0">Items Arriving Post Christmas?</h4>
     <h1 class="holiday-text white mt0">Give A Gifcard</h1>
        <p class="light white">Not it's not a giftcard, it's a GIFcard. Ditch the printed IOU and send the good news right to their phone with a little bit of animated fun. Here's how it works:
        
       
        </p>
    
      <div class="gifcard-list">
        <div class="grid__item large--one-twelfth medium--one-whole small--one-whole">
    <i class="icomoon icon-number-01 gifcard-numbers"></i> 
        </div>
          <div class="grid__item large--eleven-twelfths medium--one-whole small--one-whole">
        <h4 class="alt white inline">Buy your gift today from the <a href="/products" target="_blank" style="text-decoration:underline;color:white;">BioLite Shop.</a></h4>
        </div>
     </div>
     <div class="clearfix mb10"></div>
     <div class="gifcard-list">
    <div class="grid__item large--one-twelfth medium--one-whole small--one-whole">
    <i class="icomoon icon-number-02 gifcard-numbers"></i> 
        </div>  
                 <div class="grid__item large--eleven-twelfths medium--one-whole small--one-whole">
       <h4 class="alt white inline">Find your favorite GIFcard from the <a href="#gifcards" style="text-decoration:underline;color:white;">gallery below</a> and save to your phone.</h4>
       </div>
     </div>
          <div class="clearfix mb10"></div>

          <div class="gifcard-list">
    <div class="grid__item large--one-twelfth medium--one-whole small--one-whole">
    <i class="icomoon icon-number-03 gifcard-numbers"></i> 
        </div>   
          <div class="grid__item large--eleven-twelfths medium--one-whole small--one-whole">
            <h4 class="alt white inline">Text the GIFcard to friends and family on 12/25.</h4>
            </div>
     </div>
            <div class="clearfix"></div>

         <div id="#gifcard-landing" class="scroll-down"><a href="#gifcards"><span class="scroll-down-msg holiday-text white">BROWSE THE GIFCARDS</span><i class="icomoon icon-downArrow scroll-down-bouncy-arrow"></i></a></div>
 
      </div>

  </div>
</section>

<section id="gifcards">
<section class="section-large">
  <div class="wrapper--full">   

    
<div class="grid__item large--one-quarter medium--one-half small--one-whole text-center gifcard-wrap wow fadeInUp">
  <div class="card-layout gifcard-card">
       <div class="gifcard-mobile">    
  <h4 class="gifcard-download-mobile"><i class="icomoon icon-tap gifcard-mobile-tap"></i> Tap &amp; Hold to Copy/Save</h4>
  </div>
    <img class="gifcard-main" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Holiday2018_Giftcard_Gif_10.gif?15292282174646495709" alt="BioLite GifCard">
</div> 
  <div class="gifcard-desktop">    
  <h4 class="gifcard-download">HeadLamp Good News</h4>
    <p class="caption">(Right Click To Save Image)</p>
  </div>
</div>
    
    <div class="grid__item large--one-quarter medium--one-half small--one-whole text-center gifcard-wrap wow fadeInUp">
  <div class="card-layout gifcard-card">
       <div class="gifcard-mobile">    
  <h4 class="gifcard-download-mobile"><i class="icomoon icon-tap gifcard-mobile-tap"></i> Tap &amp; Hold to Copy/Save</h4>
  </div>
    <img class="gifcard-main" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Holiday2018_Gifcard_Gif_13_r1.gif?12211015242202261730" alt="BioLite GifCard">
</div> 
  <div class="gifcard-desktop">    
  <h4 class="gifcard-download">For The Runner</h4>
    <p class="caption">(Right Click To Save Image)</p>
  </div>
</div>
    
    <div class="grid__item large--one-quarter medium--one-half small--one-whole text-center gifcard-wrap wow fadeInUp">
  <div class="card-layout gifcard-card">
       <div class="gifcard-mobile">    
  <h4 class="gifcard-download-mobile"><i class="icomoon icon-tap gifcard-mobile-tap"></i> Tap &amp; Hold to Copy/Save</h4>
  </div>
    <img class="gifcard-main" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Holiday2018_Giftcard_Gif_3.gif?6239000567174969946" alt="BioLite GifCard">
</div> 
  <div class="gifcard-desktop">    
  <h4 class="gifcard-download">This HeadLamp Is Cooler</h4>
    <p class="caption">(Right Click To Save Image)</p>
  </div>
</div>
    
    <div class="grid__item large--one-quarter medium--one-half small--one-whole text-center gifcard-wrap wow fadeInUp">
  <div class="card-layout gifcard-card">
       <div class="gifcard-mobile">    
  <h4 class="gifcard-download-mobile"><i class="icomoon icon-tap gifcard-mobile-tap"></i> Tap &amp; Hold to Copy/Save</h4>
  </div>
    <img class="gifcard-main" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Holiday2018_Giftcard_Gif_4.gif?6239000567174969946" alt="BioLite GifCard">
</div> 
  <div class="gifcard-desktop">    
  <h4 class="gifcard-download">I Upgraded Your Fire</h4>
    <p class="caption">(Right Click To Save Image)</p>
  </div>
</div>
    
    <div class="grid__item large--one-quarter medium--one-half small--one-whole text-center gifcard-wrap wow fadeInUp">
  <div class="card-layout gifcard-card">
       <div class="gifcard-mobile">    
  <h4 class="gifcard-download-mobile"><i class="icomoon icon-tap gifcard-mobile-tap"></i> Tap &amp; Hold to Copy/Save</h4>
  </div>
    <img class="gifcard-main" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Holiday2018_Giftcard_Gif_5.gif?6239000567174969946" alt="BioLite GifCard">
</div> 
  <div class="gifcard-desktop">    
  <h4 class="gifcard-download">Fire-Brewed Beverage</h4>
    <p class="caption">(Right Click To Save Image)</p>
  </div>
</div>
    
    <div class="grid__item large--one-quarter medium--one-half small--one-whole text-center gifcard-wrap wow fadeInUp">
  <div class="card-layout gifcard-card">
       <div class="gifcard-mobile">    
  <h4 class="gifcard-download-mobile"><i class="icomoon icon-tap gifcard-mobile-tap"></i> Tap &amp; Hold to Copy/Save</h4>
  </div>
    <img class="gifcard-main" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Holiday2018_Giftcard_Gif_6.gif?6239000567174969946" alt="BioLite GifCard">
</div> 
  <div class="gifcard-desktop">    
  <h4 class="gifcard-download">We're Going Camping</h4>
    <p class="caption">(Right Click To Save Image)</p>
  </div>
</div>
    
    <div class="grid__item large--one-quarter medium--one-half small--one-whole text-center gifcard-wrap wow fadeInUp">
  <div class="card-layout gifcard-card">
       <div class="gifcard-mobile">    
  <h4 class="gifcard-download-mobile"><i class="icomoon icon-tap gifcard-mobile-tap"></i> Tap &amp; Hold to Copy/Save</h4>
  </div>
    <img class="gifcard-main" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Holiday2018_Giftcard_Gif_7.gif?6239000567174969946" alt="BioLite GifCard">
</div> 
  <div class="gifcard-desktop">    
  <h4 class="gifcard-download">I'm Getting You Outside!</h4>
    <p class="caption">(Right Click To Save Image)</p>
  </div>
</div>
    
        <div class="grid__item large--one-quarter medium--one-half small--one-whole text-center gifcard-wrap wow fadeInUp">
  <div class="card-layout gifcard-card">
       <div class="gifcard-mobile">    
  <h4 class="gifcard-download-mobile"><i class="icomoon icon-tap gifcard-mobile-tap"></i> Tap &amp; Hold to Copy/Save</h4>
  </div>
    <img class="gifcard-main" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Holiday2018_Giftcard_Gif_10_1ff60d59-ed98-4725-a210-33de42c0aa64.gif?10612267693432787576" alt="BioLite GifCard">
</div> 
  <div class="gifcard-desktop">    
  <h4 class="gifcard-download">I Give You Fire!</h4>
    <p class="caption">(Right Click To Save Image)</p>
  </div>
</div>
    
    <div class="grid__item large--one-quarter medium--one-half small--one-whole text-center gifcard-wrap wow fadeInUp">
  <div class="card-layout gifcard-card">
       <div class="gifcard-mobile">    
  <h4 class="gifcard-download-mobile"><i class="icomoon icon-tap gifcard-mobile-tap"></i> Tap &amp; Hold to Copy/Save</h4>
  </div>
    <img class="gifcard-main" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Holiday2018_Giftcard_Gif_9.gif?6239000567174969946" alt="BioLite GifCard">
</div> 
  <div class="gifcard-desktop">    
  <h4 class="gifcard-download">Happy Holidays From BioLite</h4>
    <p class="caption">(Right Click To Save Image)</p>
  </div>
</div>
    
            <div class="grid__item large--one-quarter medium--one-half small--one-whole text-center gifcard-wrap wow fadeInUp">
  <div class="card-layout gifcard-card">
       <div class="gifcard-mobile">    
  <h4 class="gifcard-download-mobile"><i class="icomoon icon-tap gifcard-mobile-tap"></i> Tap &amp; Hold to Copy/Save</h4>
  </div>
    <img class="gifcard-main" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Holiday2018_Gifcard_Gif_12.gif?10612267693432787576" alt="BioLite GifCard">
</div> 
  <div class="gifcard-desktop">    
  <h4 class="gifcard-download">It Has Party Mode</h4>
    <p class="caption">(Right Click To Save Image)</p>
  </div>
</div>
    
        <div class="grid__item large--one-quarter medium--one-half small--one-whole text-center gifcard-wrap wow fadeInUp">
  <div class="card-layout gifcard-card">
       <div class="gifcard-mobile">    
  <h4 class="gifcard-download-mobile"><i class="icomoon icon-tap gifcard-mobile-tap"></i> Tap &amp; Hold to Copy/Save</h4>
  </div>
    <img class="gifcard-main" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Holiday2018_Gifcard_Gif_11.gif?10612267693432787576" alt="BioLite GifCard">
</div> 
  <div class="gifcard-desktop">    
  <h4 class="gifcard-download">This Gift Is Lit</h4>
    <p class="caption">(Right Click To Save Image)</p>
  </div>
</div>

    <div class="grid__item large--one-quarter medium--one-half small--one-whole text-center gifcard-wrap wow fadeInUp">
  <div class="card-layout gifcard-card">
       <div class="gifcard-mobile">    
  <h4 class="gifcard-download-mobile"><i class="icomoon icon-tap gifcard-mobile-tap"></i> Tap &amp; Hold to Copy/Save</h4>
  </div>
    <img class="gifcard-main" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Holiday2018_Giftcard_Gif_8.gif?10612267693432787576" alt="BioLite GifCard">
</div> 
  <div class="gifcard-desktop">    
  <h4 class="gifcard-download">Let's Go Find Some Sky</h4>
    <p class="caption">(Right Click To Save Image)</p>
  </div>
</div>


    

 
</div>
</section>
</section>

<div class="clearfix"></div>
  

<div class="footer-wrapper text-center">
  <div class="give-back-wrapper mb50 mt40">
    <span class="impact-msg holiday-text-filled">A COUPLE HELPFUL TIPS</span>  
  </div>

<div class="wrapper mt20">
      <div class="grid__item large text-center">

  </div>
   <div class="clearfix"></div>

  
 <div class="grid__item large--one-quarter medium--one-whole small--one-whole text-center holiday-mission-stats-each">
 <i class="icomoon icon-number-01 gifcard-icon-holiday"></i>
      <p class="light dark-grey">These GIFcards work across any messaging platform that can host a gif: iMessage, WhatsApp, GroupChat, Email, Facebook, Twitter &amp; more.</p> 
  </div>
  
  
   <div class="grid__item large--one-quarter medium--one-whole small--one-whole text-center holiday-mission-stats-each">
 <i class="icomoon icon-number-02 gifcard-icon-holiday"></i>
      <p class="light dark-grey">These GIFcards are not hyperlinked so keep BioLiteEnergy.com handy if they want to dive deeper!</p> 
  </div>
  
   <div class="grid__item large--one-quarter medium--one-whole small--one-whole text-center holiday-mission-stats-each">
 <i class="icomoon icon-number-03 gifcard-icon-holiday"></i>
      <p class="light dark-grey">These GIFcards have no monetary value and do not represent a receipt of purchase - make sure you check your email for all purchase confirmations &amp; shipping updates.</p> 
  </div>
  
     <div class="grid__item large--one-quarter medium--one-whole small--one-whole text-center holiday-mission-stats-each">
 <i class="icomoon icon-number-04 gifcard-icon-holiday"></i>
       <p class="light dark-grey">Looking for an actual gift card? <span class="desktop-break"><a href="/products/gift-card" style="font-weight:600;color:#C24D00;text-decoration:underline">Check 'em out here.</a></span></p> 
  </div>
  
         

  
         <div class="grid__item push--large--one-fifth large--three-fifths push--medium--one-fifth medium--three-fifths text-center">
        <h4 class="alt orange">Ready For Some Last-Minute GIF(t) Giving? Visit the BioLite Shop.</h4> 

      <a href="/products" class="btn btn-orange mt20" title="Shop Now">
                  <span>Shop All Products</span>
                </a>
      

      
   
  </div>
  
     

</div>
</div>


