<!--<section class="section-large text-center bg--offwhite gift-guide-brands-feature">
  
  <div class="wrapper">   
<h2 class="dark-grey medium text-center gift-guide-brands-feature-headline">Home With Friends Flash Sale </h2>
<h6 class="dark-grey text-center gift-guide-brands-feature-subheadline">Today only, use code <strong style="color:#C24D00;">GOODFRIENDS*</strong> on any of the shops below for 20% off your purchase. </h6>
   <div class="grid__item large--one-quarter medium--one-third small--one-half gift-guide-brand">
          <a href="https://www.bioliteenergy.com" target="_blank">
            <img src="https://s3-us-west-2.amazonaws.com/bioliteemail/December+2017/Better+With+Friends+2017/BWF_Holiday2017_brandimages_biolite.jpg" class="gift-guide-brand-image" alt="BioLite" title="BioLite " />
          </a>
       </div>
       
        <div class="grid__item large--one-quarter medium--one-third small--one-half gift-guide-brand">
          <a href="https://www.peakdesign.com" target="_blank">
            <img src="https://s3-us-west-2.amazonaws.com/bioliteemail/December+2017/Better+With+Friends+2017/BWF_Holiday2017_brandimages_peak.jpg" class="gift-guide-brand-image" alt="Peak Designs" title="Peak Designs" />
          </a>
       </div>
       
        <div class="grid__item large--one-quarter medium--one-third small--one-half gift-guide-brand">
          <a href="https://www.gnarbox.com/" target="_blank">
            <img src="https://s3-us-west-2.amazonaws.com/bioliteemail/December+2017/Better+With+Friends+2017/BWF_Holiday2017_brandimages_gnarbox.jpg" class="gift-guide-brand-image" alt="Gnarbox" title="Gnarbox " />
          </a>
       </div>
       
         <div class="grid__item large--one-quarter medium--one-third small--one-half gift-guide-brand">
          <a href="https://www.rumpl.com/" target="_blank">
            <img src="https://s3-us-west-2.amazonaws.com/bioliteemail/December+2017/Better+With+Friends+2017/BWF_Holiday2017_brandimages_rumpl.jpg" class="gift-guide-brand-image" alt="Rumpl" title="Rumpl " />
          </a>
       </div>
       
        <div class="grid__item large--one-quarter medium--one-third small--one-half gift-guide-brand">
          <a href="https://www.shopmoment.com/" target="_blank">
            <img src="https://s3-us-west-2.amazonaws.com/bioliteemail/December+2017/Better+With+Friends+2017/BWF_Holiday2017_brandimages_moment.jpg" class="gift-guide-brand-image" alt="Moment" title="Moment " />
          </a>
       </div>
       
        <div class="grid__item large--one-quarter medium--one-third small--one-half gift-guide-brand">
          <a href="https://kammok.com/" target="_blank">
            <img src="https://s3-us-west-2.amazonaws.com/bioliteemail/December+2017/Better+With+Friends+2017/BWF_Holiday2017_brandimages_kammok.jpg" class="gift-guide-brand-image" alt="Kammok" title="Kammok " />
          </a>
       </div>
       
        <div class="grid__item large--one-quarter medium--one-third small--one-half gift-guide-brand">
          <a href="https://pickybars.com/" target="_blank">
            <img src="https://s3-us-west-2.amazonaws.com/bioliteemail/December+2017/Better+With+Friends+2017/BWF_Holiday2017_brandimages_pickybars.jpg" class="gift-guide-brand-image" alt="Picky Bars" title="Picky Bars " />
          </a>
       </div>
       
          <div class="grid__item large--one-quarter medium--one-third small--one-half gift-guide-brand">
          <a href="https://www.outdoortechnology.com/" target="_blank">
            <img src="https://s3-us-west-2.amazonaws.com/bioliteemail/December+2017/Better+With+Friends+2017/BWF_Holiday2017_brandimages_outdoortech.jpg" class="gift-guide-brand-image" alt="Outdoor Tech" title="Outdoor Tech " />
          </a>
       </div>
    
    <p class="dark-grey fineprint mt40"><a href="#" data-control-modal="#hero-video--goodpalsfineprint" style="color:#262729;text-decoration:underline;" >*Exclusions and Restrictions Apply</a> </p>

  </div>
  
       <div id="hero-video" class="modal"><header class="modal__header"></header>
    <div id="hero-video--goodpalsfineprint" class="modal">
   <header class="modal__header">
     <div class="modal--close">
       <i class="fa fa-circle-border fa-circle-border--medium fa-times"></i></div>
   </header>
   <div class="modal__content modal__content--video text-center">
   
          <div class="grid__item large mt30 pr30 pl30">
          <h4 class="primary mt20 mb10">Home With Friends Sale <br>Terms &amp; Conditions</h4>
            <p class="light mb40">Cannot be combined with any other offer, coupon, or 
              used on any previous orders, discounted bundles, shipping, or tax charges. 
              Non-transferable and cannot be redeemed as cash. 
              Offer expires Wednesday December 12, 2017 11:59 PM EST.
            <br><br>
              <strong>Peak Design:</strong> Discount Good For Up to 25% Off
            </p>
       
            

</div> 
      
      </div>
  </div>
  </div>
  
 
</section>-->

<div id="billboard-gift-guide">
    <div class="flexhero">
      <div class="main-billboard">
		<div class="main-billboard-content">
        <span class="billboard-main-gift-guide white text-center">Home With Friends 2017 Gift Guide </span>   
          <span class="billboard-subhead-gift-guide white text-center"><span class="hide-on-mobile-480">Friends can always make a place feel like home. Whether they’re 
            the people you see every day or you’re reconnecting after a long time apart, they ground you in the familiar, 
            even while pushing for some new adventure along the way.</span> BioLite’s 2017 Gift Guide is a roundup of the different 
            types of friends that embody the Power of Home during the holidays along with some solid recs 
            from our own friends on the perfect gift.  </span>


          <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/GiftGuide_hero.jpg?13022466003379399896" alt="Home With Friends 2017 Gift Guide" title="Home With Friends 2017 Gift Guide" />
   
         </div>
      </div>
  </div>

</div>

<section class="section-large text-center bg--offwhite gift-guide-nav-wrapper">
  <span class="gift-guide-nav">
    <a href="#encouragingAthlete">The Encouraging Athlete</a> <span class="gift-guide-nav-divider">|</span> 
    <a href="#documentarian">The Documentarian</a> <span class="gift-guide-nav-divider">|</span> 
    <a href="#soundtracker">The Soundtracker</a> <span class="gift-guide-nav-divider">|</span> 
    <a href="#heartToHearter">The Heart-to-Hearter</a> <span class="gift-guide-nav-divider">|</span> 
    <a href="#worldTraveler">The World Traveler</a> <span class="gift-guide-nav-divider">|</span> 
    <a href="#hostOfChristmasPast">The Host of Christmas Past</a> <span class="gift-guide-nav-divider">|</span> 
    <a href="#outdoorAdorer">The Outdoor Adorer</a></span>
</section>

<!--*******ATHLETE***********-->
<div class="wrapper" id="encouragingAthlete">   
   <div class="grid__item large gift-guide-person-wrapper">
   <span class="gift-guide-person-title">1: The Encouraging Athlete</span>
  <div class="grid__item large--one-third gift-guide-person-img encouraging-athlete">
     </div>
<!--*******PRODUCTS START***********-->
     <div class="grid__item large--two-thirds medium--one-whole gift-guide-detail-wrapper">
         <div class="gift-guide-person-desc">
     <p class="light gray-warm">This is the friend that drags you out for the annual Turkey Trot or starts the text thread that eventually gets the touch football game together. Sure, you might grumble at first about the cold or early start time, but after the fact you’re always grateful they got you up and out.  </p>
  </div>
       
        <div class="grid__item large--one-third medium--one-third small--one-half gift-guide-item">
          <a href="https://pickybars.com/collections/mixed-packs/products/10-bar-mixed-pack-1" target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/pickbars.jpg?9396602209334527555" class="gift-guide-product-image" alt="Picky Bars 10 Pack" title="Picky Bars 10 Pack" />
          </a>
          <span class="gift-guide-product-title">Picky Bars 10 Pack </span>
          <p class="light gray-warm gift-guide-product-desc">Chances are this friend is active all year round and doing more than just a turkey trot, so get them some fun and tasty fuel to power through. </p>
           <a href="https://pickybars.com/collections/mixed-packs/products/10-bar-mixed-pack-1" target="_blank" class="gift-guide-product-link gg-purple">Shop</a>
       </div>
        
       <div class="grid__item large--one-third medium--one-third small--one-half gift-guide-item">
        <a href="https://www.bioliteenergy.com/products/cyclist-light-kit" target="_blank">
         <img src="https://cdn.shopify.com/s/files/1/0666/9741/products/PowerLightMini_4_Teal_large.jpg?v=1500659693" class="gift-guide-product-image" alt="Cyclist Light Kit" title="Cyclist Light Kit" />
         </a>
          <span class="gift-guide-product-title">BioLite Cyclist Light Kit </span>
          <p class="light gray-warm gift-guide-product-desc">Shorter days don’t keep them off their bikes in the winter; keep them well-lit and well-charged with this 2-pack (bike mounts included).</p>
           <a href="https://www.bioliteenergy.com/products/cyclist-light-kit" target="_blank" class="gift-guide-product-link">Shop</a>
       </div>
       
       </div>
     </div>
  </div>
 <hr class="gift-guide-divider"> 

<!--*******Documentarian***********-->
<div class="wrapper" id="documentarian">   
   <div class="grid__item large gift-guide-person-wrapper">
   <span class="gift-guide-person-title">2: The Documentarian</span>
  <div class="grid__item large--one-third gift-guide-person-img documentarian">
     </div>
<!--*******PRODUCTS START***********-->
     <div class="grid__item large--two-thirds medium--one-whole gift-guide-detail-wrapper">
         <div class="gift-guide-person-desc">
     <p class="light gray-warm">Admit it – you’ve totally held a pose while talking to a pal because this friend’s camera is pointed at you. They’re the one snapping candids constantly and they have knack for capturing exactly why you love spending time with all these crazy folks in the first place. After the holidays, their albums are the ones you come back to when you need a smile.     </p>
  </div>
       
        <div class="grid__item large--one-third medium--one-third small--one-half gift-guide-item">
          <a href="https://www.shopmoment.com/shop/battery-photo-case" target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/moment_Battery.jpg?9396602209334527555" class="gift-guide-product-image" alt="Moment Battery Photo Case " title="Moment Battery Photo Case " />
          </a>
          <span class="gift-guide-product-title">Moment Battery Photo Case </span>
          <p class="light gray-warm gift-guide-product-desc">If they’re snapping through a smartphone, this case’s electronic shutter button and backup battery will come in handy. </p>
           <a href="https://www.shopmoment.com/shop/battery-photo-case" target="_blank" class="gift-guide-product-link">Shop</a>
       </div>
        
       <div class="grid__item large--one-third medium--one-third small--one-half gift-guide-item">
        <a href="https://www.peakdesign.com/leash" target="_blank">
         <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/peakleash.jpg?9396602209334527555" class="gift-guide-product-image" alt="Peak Design Leash Strap" title="Peak Design Leash Strap" />
         </a>
          <span class="gift-guide-product-title">Peak Design Leash Strap </span>
          <p class="light gray-warm gift-guide-product-desc">Maybe they’ve got a DSLR? This strap makes it super easy to wear their camera comfortably while staying ready to shoot in a hot second. </p>
           <a href="https://www.peakdesign.com/leash" target="_blank" class="gift-guide-product-link">Shop</a>
       </div>
       
        <div class="grid__item large--one-third medium--one-third small--one-half mobile-stack gift-guide-item">
        <a href="https://www.gnarbox.com/" target="_blank">
         <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/gnarbox.jpg?9396602209334527555" class="gift-guide-product-image" alt="PGnarbox Mobile Editor" title="Gnarbox Mobile Editor" />
         </a>
          <span class="gift-guide-product-title">Gnarbox Mobile Editor  </span>
          <p class="light gray-warm gift-guide-product-desc">Challenge their real-time editing skills with Gnarbox’s handheld editing station, enabling them to process, edit, and share in record time. </p>
           <a href="https://www.gnarbox.com/" target="_blank" class="gift-guide-product-link">Shop</a>
       </div>
       
       </div>
     </div>
  </div>
 <hr class="gift-guide-divider"> 

<!--*******Soundtracker***********-->
<div class="wrapper" id="soundtracker">     
   <div class="grid__item large gift-guide-person-wrapper">
   <span class="gift-guide-person-title">3: The Soundtracker</span>
  <div class="grid__item large--one-third gift-guide-person-img soundtracker">
     </div>
<!--*******PRODUCTS START***********-->
     <div class="grid__item large--two-thirds medium--one-whole gift-guide-detail-wrapper">
         <div class="gift-guide-person-desc">
     <p class="light gray-warm">Whether it’s beaming in from Bluetooth, plugged into a speaker, or their smartphone sitting in a glass, this friend has got the tunes covered for any hangout. They seem to have an endless supply of playlists that they “just threw together” and they always introduce you to at least one or two new bands every time you see them (making you 2x cooler when you introduce that band to someone else).       </p>
  </div>
       
        <div class="grid__item large--one-third medium--one-third small--one-half gift-guide-item">
          <a href="https://www.outdoortechnology.com/collections/speakers/products/turtle-shell?variant=39455795278" target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/turtleShell.jpg?9396602209334527555" class="gift-guide-product-image" alt="Outdoor Tech Turtle Shell 3.0 Speaker " title="Outdoor Tech Turtle Shell 3.0 Speaker " />
          </a>
          <span class="gift-guide-product-title">Outdoor Tech Turtle Shell 3.0 Speaker  </span>
          <p class="light gray-warm gift-guide-product-desc">This durable, waterproof wireless speaker can run for up to 20 hours on a single charge, making it an excellent choice to keep the music going. </p>
           <a href="https://www.outdoortechnology.com/collections/speakers/products/turtle-shell?variant=39455795278" target="_blank" class="gift-guide-product-link">Shop</a>
       </div>
        
       <div class="grid__item large--one-third medium--one-third small--one-half gift-guide-item">
        <a href="https://www.bioliteenergy.com/products/baselantern-xl" target="_blank">
         <img src="https://cdn.shopify.com/s/files/1/0666/9741/products/BaseLanternXL_1_large.jpg?v=1465646322" class="gift-guide-product-image" alt="PBioLite BaseLantern XL" title="BioLite BaseLantern XL" />
         </a>
          <span class="gift-guide-product-title">BioLite BaseLantern XL </span>
          <p class="light gray-warm gift-guide-product-desc">Set a little mood lighting to the tunes with a full spectrum of colors on the BaseLantern XL and pulse to the beat of your music with BPM mode.</p>
           <a href="https://www.bioliteenergy.com/products/baselantern-xl" target="_blank" class="gift-guide-product-link">Shop</a>
       </div>
       
        <div class="grid__item large--one-third medium--one-third small--one-half mobile-stack gift-guide-item">
        <a href="https://www.rumpl.com/products/el-puffy-blanket" target="_blank">
         <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/rumpl.jpg?9396602209334527555" class="gift-guide-product-image" alt="Rumpl El Puffy" title="Rumpl El Puffy" />
         </a>
          <span class="gift-guide-product-title">Rumpl El Puffy   </span>
          <p class="light gray-warm gift-guide-product-desc">Maybe your soundtracker is doing a live performance? Keep the audience warm and cozy with this blanket, built for indoors or outside. </p>
           <a href="https://www.rumpl.com/products/el-puffy-blanket" target="_blank" class="gift-guide-product-link">Shop</a>
       </div>
       
       </div>
     </div>
  </div>
 <hr class="gift-guide-divider"> 


<!--*******Heart To Hearter***********-->
<div class="wrapper" id="heartToHearter">     
   <div class="grid__item large gift-guide-person-wrapper">
   <span class="gift-guide-person-title">4: The Heart-To-Hearter</span>
  <div class="grid__item large--one-third gift-guide-person-img hearter">
     </div>
<!--*******PRODUCTS START***********-->
     <div class="grid__item large--two-thirds medium--one-whole gift-guide-detail-wrapper">
         <div class="gift-guide-person-desc">
     <p class="light gray-warm">You ready for some prolonged eye contact? Sure, chatting about the weather can cut it for some, but this friend is ready for a long talk. You start with pleasantries at a party but before you know it, this epic check-in has taken two hours and you’re talking about who you want to be and what makes you really happy. Not sure how that happened… but you’re kind of glad it did.       </p>
  </div>
       
        <div class="grid__item large--one-third medium--one-third small--one-half gift-guide-item">
          <a href="https://kammok.com/products/roo" target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/kammok_ca010d80-5d2c-4d8c-ba1b-7c94d21f269f.jpg?9396602209334527555" class="gift-guide-product-image" alt="Kammok Roo " title="Kammok Roo" />
          </a>
          <span class="gift-guide-product-title">Kammok Roo   </span>
          <p class="light gray-warm gift-guide-product-desc">Hang together inside this durable ripstop nylong double hammock and elevate your heart-to-heart quite literally. </p>
           <a href="https://kammok.com/products/roo" target="_blank" class="gift-guide-product-link">Shop</a>
       </div>
        
       <div class="grid__item large--one-third medium--one-third small--one-half gift-guide-item">
        <a href="https://www.bioliteenergy.com/products/campstove-2" target="_blank">
         <img src="https://cdn.shopify.com/s/files/1/0666/9741/products/CampStove2_1_large.jpg?v=1511974668" class="gift-guide-product-image" alt="BioLite CampStove 2" title="BioLite CampStove 2" />
         </a>
          <span class="gift-guide-product-title">BioLite CampStove 2 </span>
          <p class="light gray-warm gift-guide-product-desc">Bring a tiny campfire with you and keep talking well into the night by the glow of your flames.</p>
           <a href="https://www.bioliteenergy.com/products/campstove-2" target="_blank" class="gift-guide-product-link">Shop</a>
       </div>
       
       
       </div>
     </div>
  </div>
 <hr class="gift-guide-divider"> 


<!--*******World Traveler***********-->
<div class="wrapper" id="worldTraveler"> 
   <div class="grid__item large gift-guide-person-wrapper">
   <span class="gift-guide-person-title">5: The World Traveler</span>
  <div class="grid__item large--one-third gift-guide-person-img world-traveler">
     </div>
<!--*******PRODUCTS START***********-->
     <div class="grid__item large--two-thirds medium--one-whole gift-guide-detail-wrapper">
         <div class="gift-guide-person-desc">
     <p class="light gray-warm">At this point, you mostly keep in touch by liking and commenting on their insane Instagram (do they actually live on a plane?). The holidays are the one time of the year you get to catch up in person and swap stories – and sure, their life looks pretty fabulous, but they admit that being home feels damn good.       </p>
  </div>
       
        <div class="grid__item large--one-third medium--one-third small--one-half gift-guide-item">
          <a href="https://www.peakdesign.com/everyday-sling-5" target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/peakSling.jpg?93966022093345275555" class="gift-guide-product-image" alt="Peak Design Everyday Sling 5L" title="Peak Design Everyday Sling 5L" />
          </a>
          <span class="gift-guide-product-title">Peak Design Everyday Sling  </span>
          <p class="light gray-warm gift-guide-product-desc">This pack transports everyday essentials with some major organization, making items easy to access, clutch for constant travel.</p>
           <a href="https://www.peakdesign.com/everyday-sling-5" target="_blank" class="gift-guide-product-link">Shop</a>
       </div>
        
       <div class="grid__item large--one-third medium--one-third small--one-half gift-guide-item">
        <a href="https://www.bioliteenergy.com/products/charge-20" target="_blank">
         <img src="https://cdn.shopify.com/s/files/1/0666/9741/products/Charge20-2_large.jpg?v=1498168095" class="gift-guide-product-image" alt="BioLite Charge 20" title="BioLite Charge 20" />
         </a>
          <span class="gift-guide-product-title">BioLite Charge 20 </span>
          <p class="light gray-warm gift-guide-product-desc">Slip a powerbank in there for good measure and they’ll thank you forever for bringing their dying phone back to life in the middle of nowhere.</p>
           <a href="https://www.bioliteenergy.com/products/charge-20" target="_blank" class="gift-guide-product-link">Shop</a>
       </div>
       
         <div class="grid__item large--one-third medium--one-third small--one-half mobile-stack gift-guide-item">
          <a href="https://kammok.com/products/sunda" target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/kammoksunda.jpg?5851895813161035143" class="gift-guide-product-image" alt="Kammok Sunda" title="Kammok Sunda" />
          </a>
          <span class="gift-guide-product-title">Kammok Sunda </span>
          <p class="light gray-warm gift-guide-product-desc">Wherever they travel, they'll have shelter with the Sunda. On the ground or in the air, this 2P+ tent converts into a hammock for easy relaxation.  </p>
           <a href="https://kammok.com/products/sunda" target="_blank" class="gift-guide-product-link">Shop</a>
       </div>
       
       
       </div>
     </div>
  </div>
 <hr class="gift-guide-divider"> 

<!--*******Host of Christmas Past***********-->
<div class="wrapper" id="hostOfChristmasPast">    
   <div class="grid__item large gift-guide-person-wrapper">
   <span class="gift-guide-person-title">6: The Host of Christmas Past</span>
  <div class="grid__item large--one-third gift-guide-person-img christmas-host">
     </div>
<!--*******PRODUCTS START***********-->
     <div class="grid__item large--two-thirds medium--one-whole gift-guide-detail-wrapper">
         <div class="gift-guide-person-desc">
     <p class="light gray-warm">This friend hosts the holiday dinner party that you eagerly check your inbox for every year, waiting for the invite; they know how to make an incredible meal, but more importantly, they know how to have fun while doing it. If you’re lucky, you’ll be graced with sous chef status, but sipping mulled wine nearby is a job, too – right?      </p>
  </div>
       
        <div class="grid__item large--one-third medium--one-third small--one-half gift-guide-item">
          <a href="https://www.bioliteenergy.com/products/pizzadome-bundle" target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0666/9741/products/PizzaDomeBundle_lidUp_shop_large.png?v=1479916656" class="gift-guide-product-image" alt="BioLite PizzaDome Bundle" title="BioLite PizzaDome Bundle" />
          </a>
          <span class="gift-guide-product-title">BioLite PizzaDome Bundle  </span>
          <p class="light gray-warm gift-guide-product-desc">Christmas in July! Move from the dining room to their backyard when things warm up and create a pizza party everyone can rally around.</p>
           <a href="https://www.bioliteenergy.com/products/pizzadome-bundle" target="_blank" class="gift-guide-product-link">Shop</a>
       </div>
        
       <div class="grid__item large--one-third medium--one-third small--one-half gift-guide-item">
        <a href="https://www.rumpl.com/products/sherpa-puffy-blanket" target="_blank">
         <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/rumplSherpa.jpg?9396602209334527555" class="gift-guide-product-image" alt="Rumpl Sherpa Puffy" title="Rumpl Sherpa Puffy" />
         </a>
          <span class="gift-guide-product-title">Rumpl Sherpa Puffy </span>
          <p class="light gray-warm gift-guide-product-desc">Give your host a cozy way to offer some floorspace to after dinner stragglers while protecting from questionable final glasses of red wine (it’s machine washable!)</p>
           <a href="https://www.rumpl.com/products/sherpa-puffy-blanket" target="_blank" class="gift-guide-product-link">Shop</a>
       </div>
       
         <div class="grid__item large--one-third medium--one-third small--one-half mobile-stack gift-guide-item">
          <a href="https://pickybars.com/collections/mixed-packs/products/10-bar-mixed-pack-1" target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/pickbars.jpg?9396602209334527555" class="gift-guide-product-image" alt="Picky Bars 10 Pack" title="Picky Bars 10 Pack" />
          </a>
          <span class="gift-guide-product-title">Picky Bars 10 Pack </span>
          <p class="light gray-warm gift-guide-product-desc">The friends that feed us inside often feed us outside, too – Pay them back for all the times you borrowed a bite out on the trail. </p>
           <a href="https://pickybars.com/collections/mixed-packs/products/10-bar-mixed-pack-1" target="_blank" class="gift-guide-product-link">Shop</a>
       </div>
       
       
       </div>
     </div>
  </div>
 <hr class="gift-guide-divider"> 

<!--*******Outdoor***********-->
<div class="wrapper" id="outdoorAdorer">    
   <div class="grid__item large gift-guide-person-wrapper">
   <span class="gift-guide-person-title">7: The Outdoor Adorer</span>
  <div class="grid__item large--one-third gift-guide-person-img outdoor-adorer">
     </div>
<!--*******PRODUCTS START***********-->
     <div class="grid__item large--two-thirds medium--one-whole gift-guide-detail-wrapper">
         <div class="gift-guide-person-desc">
     <p class="light gray-warm">We’d be remiss to not have this person on the list. They inspire the group hike that maaaay or may not be done by 
       sundown and somehow have already spent a fully day skiing by the time you meet up for an afternoon beer. Their happiest outside and that 
       enthusiasm spreads to how you spend time together. Thank’em for the fresh air in your lungs.  <br><br>Surprise, it’s a wrap-up! Every shop in this guide is fair game for the Outdoor Adorer and will be sure to have something perfect for adventures outside.    </p>
  </div>
       
        <div class="grid__item large--one-third medium--one-third small--one-half gift-guide-brand">
          <a href="https://www.bioliteenergy.com" target="_blank">
            <img src="https://s3-us-west-2.amazonaws.com/bioliteemail/December+2017/Better+With+Friends+2017/BWF_Holiday2017_brandimages_biolite.jpg" class="gift-guide-brand-image" alt="BioLite" title="BioLite " />
          </a>
       </div>
       
        <div class="grid__item large--one-third medium--one-third small--one-half gift-guide-brand">
          <a href="https://www.peakdesign.com" target="_blank">
            <img src="https://s3-us-west-2.amazonaws.com/bioliteemail/December+2017/Better+With+Friends+2017/BWF_Holiday2017_brandimages_peak.jpg" class="gift-guide-brand-image" alt="Peak Designs" title="Peak Designs" />
          </a>
       </div>
       
        <div class="grid__item large--one-third medium--one-third small--one-half gift-guide-brand">
          <a href="https://www.gnarbox.com/" target="_blank">
            <img src="https://s3-us-west-2.amazonaws.com/bioliteemail/December+2017/Better+With+Friends+2017/BWF_Holiday2017_brandimages_gnarbox.jpg" class="gift-guide-brand-image" alt="Gnarbox" title="Gnarbox " />
          </a>
       </div>
       
         <div class="grid__item large--one-third medium--one-third small--one-half gift-guide-brand">
          <a href="https://www.rumpl.com/" target="_blank">
            <img src="https://s3-us-west-2.amazonaws.com/bioliteemail/December+2017/Better+With+Friends+2017/BWF_Holiday2017_brandimages_rumpl.jpg" class="gift-guide-brand-image" alt="Rumpl" title="Rumpl " />
          </a>
       </div>
       
        <div class="grid__item large--one-third medium--one-third small--one-half gift-guide-brand">
          <a href="https://www.shopmoment.com/" target="_blank">
            <img src="https://s3-us-west-2.amazonaws.com/bioliteemail/December+2017/Better+With+Friends+2017/BWF_Holiday2017_brandimages_moment.jpg" class="gift-guide-brand-image" alt="Moment" title="Moment " />
          </a>
       </div>
       
        <div class="grid__item large--one-third medium--one-third small--one-half gift-guide-brand">
          <a href="https://kammok.com/" target="_blank">
            <img src="https://s3-us-west-2.amazonaws.com/bioliteemail/December+2017/Better+With+Friends+2017/BWF_Holiday2017_brandimages_kammok.jpg" class="gift-guide-brand-image" alt="Kammok" title="Kammok " />
          </a>
       </div>
       
        <div class="grid__item large--one-third medium--one-third small--one-half gift-guide-brand">
          <a href="https://pickybars.com/" target="_blank">
            <img src="https://s3-us-west-2.amazonaws.com/bioliteemail/December+2017/Better+With+Friends+2017/BWF_Holiday2017_brandimages_pickybars.jpg" class="gift-guide-brand-image" alt="Picky Bars" title="Picky Bars " />
          </a>
       </div>
       
          <div class="grid__item large--one-third medium--one-third small--one-half gift-guide-brand">
          <a href="https://www.outdoortechnology.com/" target="_blank">
            <img src="https://s3-us-west-2.amazonaws.com/bioliteemail/December+2017/Better+With+Friends+2017/BWF_Holiday2017_brandimages_outdoortech.jpg" class="gift-guide-brand-image" alt="Outdoor Tech" title="Outdoor Tech " />
          </a>
       </div>
       
        
       
       
       </div>
     </div>
  </div>

<div class="gift-guide-footer-wrapper mt50">
<div class="wrapper text-center mt70 pt50">
<h3 class="gge white baseline large--pt80 medium--pt30 small--pt30" style="color:white;"><!--And remember – code GOODFRIENDS unlocks 20% off any of these sites – but not for long--><br><br>Happy Holidays From Our Friends To Yours</h3>

</div>
</div>





     



