
<section class="section-xlarge">
  <div class="wrapper">
  <div class="grid__item large--one-whole">
    <h2 class="text-center pb40">BioLite Privacy Policy</h2>
        </div>
    
     <div class="grid__item large--six-eighths push--large--one-eighth rte">

     <h4 class="bold alt pt40">Effective Date: April 30, 2020 </h4>
          <p class="light">BioLite (“BioLite” or “we”) believes that advanced technologies, built on sustainable business practices, have the power to change the world.  We equip you with technologies that address the health and environmental challenges of smoky open-fire cooking and kerosene lighting.   In doing so, we respect the privacy of our website visitors, customers, and distributors, and we are committed to protecting it.  BioLite has developed this online Privacy Statement and Cookie Policy (the “Privacy Policy”)   to demonstrate its commitment to protecting the personal and private information of those using our websites and mobile application. For the purposes of European data protection laws, BioLite is the controller of your personal information. This Privacy Policy describes:   </p>


      <ul>
          <li>what personal information we, and third parties acting on our behalf, collect online through our website and mobile sites, available at <a href="https://www.bioliteenergy.com">https://www.bioliteenergy.com</a> and <a href="https://global.bioliteenergy.com">https://global.bioliteenergy.com</a>  (our “websites” and our “mobile sites,” collectively, the “Sites”), and our Mobile Application (“App”) (collectively, our “Sites and App”)  including such information collected when you visit the Sites and App, sign up online, or apply for a job at BioLite,  communicate with us electronically, purchase products from our Sites and App, or respond to our surveys or questionnaires;</li>
          <li>how will use, maintain, store, share, and disclose such information;</li>
<li>your choices regarding the collection, use, and disclosure of such information; and,</li>
<li>the security measures that we have implemented to protect such information.</li>
          </ul>


        

    

          <p class="light">Please read this policy carefully to understand our practices regarding our treatment of personal information.  Unless otherwise prohibited by law, by using our Sites and App, you accept our practices concerning such information, including our use of cookies and other tracking technologies, and agree to the terms of this online Privacy Policy, which forms part of our Terms of Use.  To read our Terms of Use, click [<a href="https://www.bioliteenergy.com/pages/terms-conditions">here</a>]. </p>

          <p class="light">If you do not agree with this Privacy Policy or our information practices, please do not use our Sites and App, or any subdomain of the Sites. By using our Sites and App, you agree to this Privacy Policy.  This policy may change from time to time (see “Changes To Our Privacy Policy” below).  We may revise this Privacy Policy from time to time. We will post any changes on this page, and update the “Last Updated” date at the bottom, so please check back periodically to stay aware of any modifications.</p>

<h4 class="bold alt pt40"> What Types of Information Do We Collect About You?</h4>
 <p class="light">We collect personal information from and about users of our Sites and App, including customers on our online storefront, resellers, and BioLite affiliates: </p>
 <ul>
 <li>Directly from you when you provide it to us.</li>
<li>Automatically when you use our Sites or App.</li>
<li>From our trusted third party partners and service providers. </li>
</ul>

<strong class="pb10 pt10">Information You Provide to Us</strong>
 <p class="light">When you use our Sites and App, purchase our products, register for an account, or communicate with us, we may collect personal information about you including:</p>

 <p class="light"><strong>Purchase information:</strong> We may collect the following information when you purchase an item from our Sites and App:  your name, billing and shipping address, email address, computer’s IP address, phone number, credit card information and any other information necessary to process your order or contact you regarding issues with your order. </p>

  <p class="light"><strong>Survey or Questionnaire Information:</strong> We may collect information directly from you if you choose to complete our surveys or questionnaires (either online or paper), including your name and e-mail address and/or demographic information such as your age, location and interests. </p>

  <p class="light"><strong>Emails and Other Communication Information:</strong> We may also collect information from you if you respond to our email inquiries.  More specifically, we may send you marketing, research and promotional emails, and we may request additional information from you, such as your age, location, interests and places that you have traveled to go camping.  Please see the section below entitled “<strong>What Are Your Rights?</strong>” for information on how to unsubscribe from our marketing, research and promotional emails.  </p>

    <p class="light"><strong>Account Information:</strong> To create an account, you must provide your name, email address, and password.  Your account may be used to retain information about you such as items placed in your shopping cart and your shipping and billing information. </p>
<br><br>
    <strong class="pb10 pt40">Automatic Data Collection </strong>

        <p class="light">When you interact with the Sites and App, we strive to make your experience easy and meaningful.  We may use or engage others to use cookies and web beacons to understand visitor activity on our Sites and App, and to hold certain information about your visits to help improve your experience while using the Sites and App.</p>

  <p class="light"><strong>Cookies:</strong> A cookie is a text file sent by a web server and placed on your computer by your browser.  You can instruct your browser to refuse all cookies or indicate when a cookie is being sent. However, if you do not accept cookies, part of the Sites and App may function differently and not as well and you may not be able to use some portions of our Sites and App. To find out more about cookies, including how to see what cookies have been set and how to delete them, please visit <a href="https://www.allaboutcookies.org/">www.allaboutcookies.org</a>. The types of cookies we use are:  </p>

  <ul>
  <li><span style="text-decoration: underline">Session Cookies.</span>  Session cookies differ from persistent cookies primarily in that session cookies are temporary and expire and are normally typically deleted when you close your browser.  We use session cookies in connection with our Sites and App, specifically for security purposes, to enhance the user experience, process online transactions and requests, remember your region and language preferences, verify your identity as you move through the Sites and App and track your activities on the Sites and App. </li>

  <li><span style="text-decoration: underline">Persistent Cookies.</span>  Persistent cookies, remain stored on your computer after you close your browser until they are deleted either because they expire or you delete them.  We may use persistent cookies to track aggregate and statistical information about user activity and to ensure that you are directed to the correct regional version of the Sites and App. </li>
  </ul>

    <p class="light"><strong>Third Party Cookies:</strong>  We also may engage third parties to provide analytics services about your use of and interaction with our Sites or App, including, without limitation, Google Analytics, to track and analyze Site or App data, which may include personal information.  We use the data collected by such third parties to help us administer and improve the quality of the Sites and App, to analyze usage of the Sites and App, compile reports on our Sites’ or App’s activity, provide other services related to our Sites’ or App’s activity and usage, and to improve BioLite’s marketing efforts.  We do not have access to or control over these third party cookies nor does this Privacy Policy cover such third parties’ use of data. Google Analytics features are based on Display Advertising (e.g., Remarketing, Google Display Network Impression Reporting, the DoubleClick Campaign Manager integration, or Google Analytics Demographics and Interest Reporting) and will be transmitted to and stored by Google and subject to Google’s <a href="https://policies.google.com/technologies/partner-sites">privacy policies</a>.   To learn more about Google’s partner services and to learn how to opt out of tracking of analytics by Google, <a href="https://policies.google.com/technologies/partner-sites">click here</a>.    Other third party cookies used on our Sites and App include DoubleClick (Google), Klaviyo, Adsrvr, Tapad. Adnxs, Turn and B1img. </p>

     <p class="light"><strong>Social Media Widgets:</strong> Our Sites and App includes social media features, such as the Facebook, Instagram, Youtube, and Twitter widgets.  These features may collect information about you such as your IP address and which page you are visiting on our Sites and App. They may set a cookie or employ other tracking technologies. Social media features and widgets may be hosted the following third parties Facebook and Youtube. Your interactions with those features are governed by the privacy policies of the companies that provide them. </p>

<p class="light"><strong>Clear Gifs (Web Beacons/Web Bugs):</strong> We or the third parties we engage to track and analyze Site and App data (Google Ads, Facebook, Hotjar, Google Analytics, Klaviyo, Shopify)  may employ clear gifs (a.k.a. Web Beacons/Web Bugs) to help us better manage content on the Sites and App.  Clear gifs are tiny graphics with a unique identifier, similar in function to cookies, and are used to track the online movements of Web users.  In contrast to cookies, which are stored on your computer’s hard drive, clear gifs are embedded invisibly on Web pages. </p>

<p class="light">None of these cookies are strictly necessary to access our Sites and App. You may reset your browser to refuse all cookies or to allow your browser to alert you when a cookie is set, however, certain parts of the Sites and App may function differently and not as well and you may not be able to use some portions of our Sites and App. Unless you have adjusted your browser setting so that it will refuse cookies, our Sites and App will issue cookies when you logon to the Sites and App. For more information about how to manage your cookies preferences, you should use the “help” menu of your web browser or explore the customer support sections of your web browser. Please note that you need to configure each browser on each device that you use if you wish to opt-out or block some or all cookies. If you do not wish to receive advertising cookies, you may wish to visit the Network Advertising Initiative (NAI) website by clicking <a href="https://optout.networkadvertising.org/?c=1">here</a> and the Digital Advertising Alliance (DAA) website <a href="https://optout.aboutads.info/?c=2&lang=EN">here</a>. </strong>

<h4 class="bold alt pt40"> What Sources Are Used To Collect Personal Information?</h4>

<p class="light">We collect information about all visitors to our Sites and App through: 1) <strong>direct input</strong>, ie: making a purchase or filling out a form, 2) <strong>cookies or web beacons</strong>, 3) other <strong>3rd party applications</strong>.</p>

<ol>
<li><strong>Direct Input:</strong>  We collect personal information from you when you make a purchase, fill out a questionnaire, opt-in to our email list, create a user account, or any other process that requires you to input your information.</li>
<li><strong>Cookies & Web Beacons:</strong>  We automatically collect personal information from your devices, such as your desktop web browser or mobile phone through the use of cookies or web beacons when you browse our Sites and App or interact with our digital advertisements.  We may also collect personal information based on websites you access, your browsing history and cart additions, or from your other activities on the Sites and App.  Please see the section about entitled “<strong>Automatic Data Collection</strong>” for additional information.
</li>
<li><strong>3rd Party Apps:</strong>  Some 3rd party applications also process your information using cookies and web beacons. These apps may improve user experience on our Sites and App. See section entitled “<strong>With Whom Do We Share Your Personal Information?</strong>” for a full list of 3rd party data processors.
</li>
</ol>

<h4 class="bold alt pt40"> How Do We Use Your Personal Information?</h4>
<p class="light">Depending on how you interact with the Sites and App, we may use the information that we collect about you, including personal information, for the following purposes:</p>

	 <div class="">
<table class="">
  <thead>
    <tr>
      <th class="text-left">Purpose</th>
      <th class="text-left">Legal Basis (for individuals located in the EEA/UK)</th>

    </tr>
  </thead>
  <tbody>
     <tr>
      <td class="text-left pr20" style="vertical-align:top">To provide you with the Sites and App and its contents, and any other information, products, or services that you request from us</td>
      <td class="text-left" style="vertical-align:top">We have a legitimate interest to properly manage and administer our relationship with you and to ensure that we are effective and efficient as we can be</td>
    </tr>

     <tr class="pt30" style="border-top:1px dashed #c7c7c7">
      <td class="text-left pr20" style="vertical-align:top">To engage in customer loyalty programs</td>
      <td class="text-left" style="vertical-align:top">We may also need to fulfil our contractual obligations to you</td>
    </tr>

     <tr class="pt30" style="border-top:1px dashed #c7c7c7">
      <td class="text-left pr20" style="vertical-align:top">To fulfill and process your order or any other purpose for which you provide personal information</td>
      <td class="text-left" style="vertical-align:top">We have a legitimate interest to respond to your requests and enquiries for ongoing business administration</td>
    </tr>

     <tr class="pt30" style="border-top:1px dashed #c7c7c7">
      <td class="text-left pr20" style="vertical-align:top">To respond to requests or inquiries from users, to communicate with users about their use of our products, and for other customer-service-related purposes</td>
      <td class="text-left" style="vertical-align:top">We have a legitimate interest to respond to your requests and enquiries for ongoing business administration</td>
    </tr>

      <tr class="pt30" style="border-top:1px dashed #c7c7c7">
      <td class="text-left pr20" style="vertical-align:top">To send BioLite marketing, research and promotional e-mails to users, such as contests & giveaways, and social media advertising</td>
      <td class="text-left" style="vertical-align:top">If applicable law requires that we receive your consent before we send you certain types of marketing communications, we will only send you those types of communications after receiving your consent.<br><br>
If you wish to stop receiving marketing or market research communications from us you can unsubscribe via the link at the bottom of the relevant marketing e-mail or contact us using the contact details below.<br><br>
We have a legitimate interest to carry out direct marketing.</td>
    </tr>

        <tr class="pt30" style="border-top:1px dashed #c7c7c7">
      <td class="text-left pr20" style="vertical-align:top">To carry-out and/or enforce our rights arising from any contracts entered into between you and us, including for order fulfillment, delivery, and billing collection</td>
      <td class="text-left" style="vertical-align:top">To comply with our legal or regulatory obligations.<br><br>
We have a legitimate interest to comply with our non-EU legal and regulatory obligations.</td>
    </tr>

         <tr class="pt30" style="border-top:1px dashed #c7c7c7">
      <td class="text-left pr20" style="vertical-align:top">To improve our Sites and App and our products and to better understand how users access our Sites and App and use our products, on an aggregated and individualized basis.</td>
      <td class="text-left" style="vertical-align:top">We have a legitimate interest to understand how users access our Sites and App in order to properly manage and administer our relationship with you </td>
    </tr>
  
 
  </tbody>

  
</table>

	 </div>

	 <p class="bold">For individuals in the EEA/UK: Your Right to Object – Please note that you have a right to object to the processing of your personal information where that processing is carried out for our legitimate interest or direct marketing.
</p>

<h4 class="bold alt pt40"> With Whom Do We Share Your Personal Information?</h4>
<p class="light">We may disclose personal information to the following entities and for the following reasons:</p>

<ul>
	<li><strong>Service Providers:</strong> We may share your personal information with third party vendors, service providers, contractors, or agents that provide support services to us or perform functions on our behalf, such as the companies that host our Sites and App; deliver, ship or fulfill orders for our products, provide payment processing or other e-commerce services, provide email marketing services, administer surveys, contests and promotions on our behalf, or help us market our products and services. We provide those companies with information so that they may provide services for us or perform functions on our behalf, and we do not authorize these companies to use your personal information for other purposes. These 3rd parties include, but are not limited to:</li>

	<ul>
	<li>Shopify</li>
<li>Facebook Ads Manager</li>
<li>Google Ads</li>
<li>Bing Ads</li>
<li>Aftership</li>
<li>MaxMind</li>
<li>Avalara</li>
<li>BazaarVoice</li>
<li>Klaviyo</li>
<li>KNetShop</li>
<li>NetSuite</li>
<li>With Reach</li>
</ul>

<li><strong>In Response to Legal Process:</strong>  We may disclose the information we collect from you if permitted or required by law, to comply with state, federal, and international laws, a judicial proceeding, court order or other legal process, such as in response to a subpoena, search warrant, or government or regulatory request.</li>

<li><strong>Business Transfers:</strong>  To a buyer or other successor in the event of a merger, divestiture, restructuring, reorganization, dissolution, or other sale or transfer of some or all of BioLite’s assets, whether as a going concern or as part of bankruptcy, liquidation, or similar proceeding, in which personal information held by BioLite about our App users is among the assets transferred.</li>

<li><strong>Marketing.</strong> To third parties to market their products or services to you if you have consented to or not opted out of these disclosures.  We contractually require these third parties to keep personal information confidential and use it only for the purposes for which we disclose it to them.  </li>

<li><strong>To Protect BioLite and Others.</strong>  We may disclose the information we collect from you where we believe it is necessary to investigate, prevent, or take action regarding illegal activities, suspected fraud, situations involving potential threats to the safety of any person, or to enforce our Terms of Use, product warranty and/or this Privacy Policy, or to protect BioLite in litigation. </li>

<li><strong>To Enforce Our Rights.</strong> We may disclose your personal information to enforce our rights arising from any contracts entered into between you and us, including terms, or sale, and for billing and collection.</li>
<li><strong>To Fulfill the Purpose of Collection.</strong> We may disclose your personal information to fulfill the purpose for which you provide it, for any purpose disclosed by us when you provide the personal information, and for any other purpose to which you consent.</li>

<li><strong>Social Media:</strong> We have a presence on various social media platforms, such as Facebook, Twitter, and YouTube. These platforms provide us with anonymized and aggregated demographic and use information, including page impressions, “Likes,” traffic links and page views, which we use to improve our marketing efforts. We also offer visitors to our Sites and App the ability to indicate that they "Like" BioLite’s Sites and App and/or our products on Facebook.  The visitor will be asked to log onto his or her Facebook account before any such action is taken.  The “liked” item then appears on the visitor’s Facebook page. Please note that BioLite does not store Facebook log-in information.  </li>
</ul>

<h4 class="bold alt pt40"> What Are Your Rights?</h4>
<p class="light">You have a number of rights which apply to our use of your personal information.  If you no longer want to receive marketing, research and promotional email messages from us, you may unsubscribe through the link in the email or by sending us an email at <a href="mailto:support@bioliteenergy.com">support@biolitebioliteenergy.com</a>.  The availability of additional rights depends upon our lawful basis for processing your personal information and your rights may also be subject to certain conditions and restrictions, including those to safeguard the public interest and our own legitimate interests.  We may ask you for additional information to confirm your identity and for security purposes before processing your request. In the event that we cannot satisfy a request with regards to your personal information, we will endeavor to provide you with an explanation, subject to any legal or regulatory restrictions.</p>

<strong class="pb10 pt40">Rights for Individuals in the EEA/UK </strong>
<p class="light">Where you are located in the EEA or the UK, or another jurisdiction that has adopted laws affording equivalent protections to those in Europe, you may have the right to:</p>

<ul><li>obtain access to your personal information together with information about how and on what basis that personal information is processed;</li>

<li>the correction of your personal information where incorrect, out of date or incomplete;
request that we erase your personal information</li>
<li>request that we restrict the processing of your personal information (i.e., we would need to secure and retain the data for your benefit but not otherwise use it);</li>
<li>object to us using or holding your personal information if we have no legitimate reason to do so and to opt-out of any marketing communications that we may send you;</li>

<li>ask for a copy of your personal information to be provided to you, or a third party (otherwise known as data portability); </li>
<li>withdraw your consent at any time (to the extent our processing activity is based on your consent);
lodge a complaint with your local data protection/supervisory authority.</li></ul>

<strong class="pb10 pt40">Rights Under California Law </strong>
<p class="light">If you are a resident of California, you may have rights under the California Consumer Privacy Act of 2018 (“CCPA”), as described in this section of our Privacy Policy.  Individuals who are California residents and whose information is covered by the relevant provisions of the CCPA may have the following additional privacy rights:</p>

<ul><li>to request disclosure of personal information we collect and share about you during the 12-month period preceding our receipt of the request, including:</li>

<ul>	
<li>	the categories of personal information we’ve collected about you</li>
<li>the categories of sources from which we collected the personal information</li>
<li>the business or commercial purposes for which we collected or sold the personal information</li>
<li>the categories of third parties with which we shared the personal information</li>
<li>the categories of personal information that we have shared with service providers who provide services to us</li>
<li>the specific pieces of personal information we collected</li>
</ul>
<li>to request deletion of personal information we have collected about you, </li>
</ul>


</ul>
<p class="light">Under the CCPA, California consumers also have the right to request that their information not be sold for value. Currently, we do not engage in the sale or disclosure of your information to third parties for monetary or in-kind compensation.  However, if this practice changes in the future, we will provide updated information via this Privacy Policy and provide instructions on this page to submit a request to stop selling your personal information</p>

<p class="light">To exercise your CCPA rights to request access or deletion of personal information that BioLite collects or shares about you, please  contact BioLite at <a href="mailto:privacy@bioliteenergy.com">privacy@bioliteenergy.com</a> or 1-800-351-9660.  </p>

<p class="light">For requests for access or deletion, we will respond to you or your authorized agent’s request in writing, or orally if requested, as soon as practicable and generally not more than within 45 days after receipt of your request.  We may extend this period to 90 days and, in the event that we do extend the period, we will explain to you or your authorized agent why we did so.  </p>

<p class="light">If you are legally entitled to such rights, you may designate an agent to submit a request on your behalf.  The agent can be a natural person or a business entity that is registered with the California Secretary of State.  If you would like to designate an agent to act on your behalf, you and the agent will need to comply with our agent verification process.  You will be required to verify your identity by providing us with certain personal information, depending on the nature of the information your require, which we will endeavor to match with information we maintain about you.  Additionally, we will require that you provide us with written confirmation that you have authorized the agent to act on your behalf, and the scope of that authorization.  The agent will also be required to provide us with proof of the agency relationship, which may be a declaration attesting to the agent’s identity and authorization by you to act on their behalf, signed under penalty of perjury. If the agent is a business entity, it will also need to submit evidence that it is registered and in good standing with the California Secretary of State.  Information to identify and verify your agent can be submitted through the same mechanism and at the same time that you submit information to verify your identity. Please note that this subsection does not apply when an agent is authorized to act on your behalf pursuant to a valid power of attorney.  Any such requests will be processed in accordance with California law pertaining to powers of attorney.  </p>

<p class="light">To respond to your requests, we will ask you for at least two pieces of personal information and, for requests for specific pieces of personal information, we will ask you for at least three pieces of personal information. The information we require may vary depending on your relationship to us, and may include your full legal name, residential address, email, phone, date of birth and last four digits of your social security number, as well information we may have on file about you. If you are requesting on behalf of another consumer, we may request additional information from you and/or the consumer to verify their identity.  In all cases, we endeavor to match the information we receive for the purpose of verification to information we maintain about you. If we are unable to verify your identity using this process we will provide you with a response explaining so and what additional action you may take to ensure we can successfully verify your request.</p>

<p class="light">There may be some types of personal information that can be associated with a household (a group of people living together in a single home). Requests for access or deletion of household Personal Information must be made by each member of the household. We will verify each member of the household using the verification criteria explained below. If we are unable to verify the identity of each household member with the degree of certainty required, we will not be able to respond to the request.  We will notify you to explain the basis of our denial.  </p>

<p class="light">You have a right not to be discriminated against for the exercise of the privacy rights conferred by the CCPA.  If you exercise any of the rights explained in this Privacy Notice, we will continue to treat you fairly and not discriminate against you on the basis that you have exercised such rights.  </p>


<h4 class="bold alt pt40"> Security</h4>

<p class="light">We have implemented reasonable and appropriate administrative, technical, and physical measures designed to secure the personal information we collect from accidental loss and from unauthorized access, use, alteration, or disclosure.  Such measures include, where appropriate, https, SSL, and 128bit encryption, to protect our Sites and App and the information we collect from loss, misuse, and unauthorized access, disclosure, alteration, and destruction.  </p>

<p class="light">The safety and security of your information also depends on you.  Where we have given you (or where you have chosen) a password for access to certain parts of our Sites or App, you are responsible for keeping this password confidential.  We ask you not to share your password with anyone.  </p>

<p class="light">While we use these precautions to safeguard your personal information, please be aware that no security measures are perfect or impenetrable.  Although we do our best to protect your personal information, we cannot guarantee or warrant its security.  Please use caution when submitting any personal or other sensitive information to us online.</p>


<h4 class="bold alt pt40"> Retention</h4>

<p class="light">We will retain your personal information for as long as it is necessary and relevant to our business. The criteria used to determine the retention periods include: (i) how long the personal data is needed to provide the services and operate the business; (ii) the type of personal data collected; and (iii) whether we are subject to a legal, contractual or similar obligation to retain the personal information (e.g., governmental orders to preserve personal information relevant to an investigation, or information that must be retained for the purposes of litigation or disputes). </p>

<h4 class="bold alt pt40"> Third-Party Website Links </h4>

<p class="light">Our Sites and App may contain links to other third-party websites operated and maintained by third parties that we do not own or control.  Those websites are governed by their own privacy policies, and not this Privacy Policy.  Any information you provide to a third-party web or mobile site or app will be governed by the terms of each site’s or app’s privacy statement.  We encourage you to investigate and ask questions before disclosing any information to the operators of third-party sites or apps, including social media platforms.  We have no responsibility or liability whatsoever for the content, actions, or policies of third-party sites.  The inclusion of third-party sites on our Sites or App in no way constitutes an endorsement of the content, actions or policies of the sites of others.</p>

<h4 class="bold alt pt40"> Children’s Information </h4>

<p class="light">Our Sites and App is not intended for children under 16 years of age, and we do not knowingly collect personal information from children under 13.  If you are a parent or guardian and you are aware that your child has provided us with personal information, please contact us at: <a href="mailto:privacy@bioliteenergy.com">privacy@bioliteenergy.com</a>. If we become aware that we have collected or received personal information from a child under 13 without verification of parental consent, we will delete that information from our servers.  If you believe we might have any information from or about a child under 13, please contact us.</p>

<h4 class="bold alt pt40"> International Transfers of Personal Information </h4>

<p class="light">Our Sites are hosted in the United States and subject to United States law. If you are accessing the site from the EEA, the UK or other regions with laws governing data collection and use that may differ from U.S. law, then please note that you are transferring your personal information to the United States. By providing your personal information you consent to that transfer of your personal information to recipients as described in this Privacy Policy which are located outside of Europe and which your country may not consider to provide adequate privacy protections. You may withdraw your consent at any time. The withdrawal of consent shall not affect the lawfulness of processing based on consent before its withdrawal. </p>

<h4 class="bold alt pt40"> Changes To Our Privacy Policy  </h4>

<p class="light">We may update our Privacy Policy from time to time.  If we make material changes to how we treat our users’ personal information, we will post the new Privacy Policy on this page with a notice that the Privacy Policy has been updated.</p>

<p class="light">The date the Privacy Policy was last revised is identified at the bottom of this page.  You are responsible for ensuring we have an up-to-date active and deliverable email address and/or phone number for you and for periodically visiting this Privacy Policy to check for any changes.  Your continued use of our Site and the App after the effective date of any modification to the Privacy Policy will be deemed to be your agreement to the changed terms.</p>

<h4 class="bold alt pt40"> Contact Information  </h4>

<p class="light">If you have ask questions or comments on this Privacy Policy or our privacy practices, or if you would like to exercise your privacy rights as described above, you may contact us at: <a href="mailto:privacy@bioliteenergy.com">privacy@bioliteenergy.com</a>.</p>

<p class="light">The date the Privacy Policy was last revised is identified at the bottom of this page.  You are responsible for ensuring we have an up-to-date active and deliverable email address and/or phone number for you and for periodically visiting this Privacy Policy to check for any changes.  Your continued use of our Site and the App after the effective date of any modification to the Privacy Policy will be deemed to be your agreement to the changed terms.</p>

<p class="light">You may also write to us at PO Box 25525, Brooklyn, New York 11201 or call us at: 1-800-351-9660</p>

<p class="light">Please describe your request or concern in as much detail as possible and include your full name, email and/or postal address.  We will respond to your request or investigate your concern properly.</p>
















        </div>
      </div>
</section>


