{% include 'hero' %}


     <div id="blog-full">

<div class="wrapper wrapper--large wrapper">
<h5 class="light gray-warm text-center mt50">Gear up for your off grid adventures this Holiday with these exclusive offers from BioLite + The Blaze. These special offers make great gifts for anyone looking to cook, charge, and light life off the grid. No codes required, just select from the Blaze Bundles below:</h5>
</div>
<h6 class="light gray-warm text-center mt20">

<ol>
<li style="list-style: none;"><a href="#deal1" style="color: #d70200;">CampStove Bundle + Fuel Starter Kit</a>  </li>
<li style="list-style: none;"><a href="#deal2" style="color: #d70200;">Energy Bundle Blaze Edition</a> </li>
<li style="list-style: none;"><a href="#deal3" style="color: #d70200;">PowerLight Mini 4 Pack</a> </li>
<li style="list-style: none;"><a href="#deal4" style="color: #d70200;">PizzaDome Bundle</a> </li>
<li style="list-style: none;"><a href="#deal5" style="color: #d70200;">CampStove: The Blaze Special</a> </li>
</ol>

</h6>
<p class="text-center mb50"><em>Remember, this Shop is for Blaze Viewers only – you won’t find this offer anywhere else on the site</em></p>

<!-- #deal1 BUNDLE -->
<section id="product-overview" class="single-product-features single-product-features--tall" style="background-image: url('large-camsptove-with-phone-and-twigs.jpg');">
<section class="interstitial section-xlarge mb30">
<div class="wrapper table">
<div class="interstitial__content table-cell text-center"><a name="deal1"></a>
<h3 class="mt0">Blaze Deal #1 - CampStove Bundle + Fuel Starter Kit</h3>
</div>
<div class="interstitial__overlay interstitial__overlay--gray"></div>
</div>
</section>
<div class="wrapper wrapper--large wrapper">
<section id="product-overview" class="single-product-features single-product-features--tall" style="background-image:url('large-camsptove-with-phone-and-twigs.jpg'); padding-bottom:10px;">
   <div class="wrapper wrapper--large wrapper--max_height">
     <!-- THUMBNAILS AND IMAGES -->
     <div class="grid__item large--five-eighths medium--one-whole table" id="product-thumbnails">

      
        <!-- HERO HOME -->
<ul id="product-carousels">
  
  <li class="carousel">
    <div class="hero__viewport hero-carousel">
      <ul class="slides">
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/Flagship_Bundle_large.jpg?v=1461952087" alt="" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/CampStove_1_updated_2825bd4a-b0ea-4572-974d-e40a614acf7c_large.jpg?v=1461952087" alt="" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/KettlePot_3_01aa28ba-e66b-4a62-bda7-b37cf3ea6c8f_large.jpg?v=1461952087" alt="" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/Grill_2_f020a224-10b3-4438-b264-97d7e6771bde_large.jpg?v=1461952087" alt="" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/StickSnapper_openingBottle_large.jpg?v=1461952093" alt="" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/BiofuelPellets_open_6c20cd29-baa1-49a8-b254-0439393f3459_large.jpg?v=1461952124" alt="" />
        </li>
        
      </ul>
    </div>
  </li>
</ul>

        <div class="product-single__mini-slider">
  
    
    <ul id="product-color-images-container">
      <ul id="product-single__image" class="product-single__image" data-control-target>
        
        <li><img src="//cdn.shopify.com/s/files/1/0666/9741/products/Flagship_Bundle_large.jpg?v=1461952087" alt=""></li>
        
        <li><img src="//cdn.shopify.com/s/files/1/0666/9741/products/CampStove_1_updated_2825bd4a-b0ea-4572-974d-e40a614acf7c_large.jpg?v=1461952087" alt=""></li>
        
        <li><img src="//cdn.shopify.com/s/files/1/0666/9741/products/KettlePot_3_01aa28ba-e66b-4a62-bda7-b37cf3ea6c8f_large.jpg?v=1461952087" alt=""></li>
        
        <li><img src="//cdn.shopify.com/s/files/1/0666/9741/products/Grill_2_f020a224-10b3-4438-b264-97d7e6771bde_large.jpg?v=1461952087" alt=""></li>
        
        <li><img src="//cdn.shopify.com/s/files/1/0666/9741/products/StickSnapper_openingBottle_large.jpg?v=1461952093" alt=""></li>
        
        <li><img src="//cdn.shopify.com/s/files/1/0666/9741/products/BiofuelPellets_open_6c20cd29-baa1-49a8-b254-0439393f3459_large.jpg?v=1461952124" alt=""></li>
        
      </ul>
      <ul class="product-single__thumbnails" data-control-nav data-control-targets="#product-single__image">
        
          <li class="grid__item">
            <img src="//cdn.shopify.com/s/files/1/0666/9741/products/Flagship_Bundle_compact.jpg?v=1461952087" alt="[Blaze Special] Flagship Bundle">
          </li>
        
          <li class="grid__item">
            <img src="//cdn.shopify.com/s/files/1/0666/9741/products/CampStove_1_updated_2825bd4a-b0ea-4572-974d-e40a614acf7c_compact.jpg?v=1461952087" alt="[Blaze Special] Flagship Bundle">
          </li>
        
          <li class="grid__item">
            <img src="//cdn.shopify.com/s/files/1/0666/9741/products/KettlePot_3_01aa28ba-e66b-4a62-bda7-b37cf3ea6c8f_compact.jpg?v=1461952087" alt="[Blaze Special] Flagship Bundle">
          </li>
        
          <li class="grid__item">
            <img src="//cdn.shopify.com/s/files/1/0666/9741/products/Grill_2_f020a224-10b3-4438-b264-97d7e6771bde_compact.jpg?v=1461952087" alt="[Blaze Special] Flagship Bundle">
          </li>
        
          <li class="grid__item">
            <img src="//cdn.shopify.com/s/files/1/0666/9741/products/StickSnapper_openingBottle_compact.jpg?v=1461952093" alt="[Blaze Special] Flagship Bundle">
          </li>
        
          <li class="grid__item">
            <img src="//cdn.shopify.com/s/files/1/0666/9741/products/BiofuelPellets_open_6c20cd29-baa1-49a8-b254-0439393f3459_compact.jpg?v=1461952124" alt="[Blaze Special] Flagship Bundle">
          </li>
        
      
      </ul>
    </ul>
    
  
</div>

      
      
      <a href="#" class="mobile-video" data-control-modal="#hero-video--flagship-bundle">
        <div class="">
          <i class="fa fa-r fa-play btn-circle-tab"></i>
          <strong>Watch:</strong>
          <p class="light">Turn Fire into Electricity with the BioLite CampStove for wood-fired meals and on-demand power.</p>
        </div>
      </a>
      
     </div>
     <!-- Content -->
     <div class="grid__item large--three-eighths medium--one-whole table" id="product-content">
           <h6 class="mb20">Turn Fire into Electricity with the BioLite CampStove for wood-fired meals and on-demand power.</h6>
          
           <p class="light">
             <strong>#1 Best Seller at the BioLite Shop.</strong> Experience a complete off-grid kitchen with the award-winning CampStove and cooking accessories. Transform the heat from your fire into usable electricity via BioLite's patented technology, perfect for outdoor trips and power outages alike. 4-pack of pellets included in this Blaze Special are foodsafe and made in the USA. Want to find your own fuel? Use the sticksnapper to right-size twigs or pop open a brew (it doubles as a bottle opener).            </p>
           
           <div class="top-review-container">
<h6 class="light alt mt20">CampStove, FlexLight, KettlePot, Portable Grill <span class="primary-blaze semibold"> + 4 BioFuel Pellets &amp; StickSnapper.</span><br /><br /> <span class="text-center semibold" style="font-size: 16pt;">Blaze Viewers Save: <span class="primary-blaze semibold">$73.65</span></span></h6>
</div>
        
       
        
    <div class="add-to-cart-container"><button type="submit" name="add" id="AddToCart" class="btn btn-red mt20 cart-item--add" data-product-variant="31532186254"> <span id="AddToCartText">Add To My Cart</span> </button></div>
<div class="price-container">
<select name="id" id="productSelect" class="product-single__variants">
<option selected="selected" value="31532186254" data-locale="Default">$199.95 USD</option>
</select>
<span id="ProductPrice" itemprop="price" class="h4 primary-blaze-warm"> <span class="money">$199.95</span> </span> </div>
         
      

       
     </div>
   </div>
  </section>
</div>
</section>
<div class="blog-full">
<div class="wrapper wrapper--large wrapper mt30">
<h6 class="light">Learn More About CampStove Bundle + Fuel Starter Kit</h6>
<hr class="mb20" />
<div class="list-toggle mb20">
<div class="list-toggle__title" data-control-sibling="" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>Watch The Video</span></div>
<div class="list-toggle__content"><iframe width="800" height="450" src="https://www.youtube.com/embed/Dwy5PAE--QU" style="margin: 10px auto;" frameborder="0" allowfullscreen=""></iframe></div>
</div>
<div class="list-toggle mb20">
<div class="list-toggle__title" data-control-sibling="" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>Read The Reviews</span></div>
<div class="list-toggle__content">
<div class="wrapper">
       <section class="product-featurette section-large pt0--mobile" itemscope itemtype="http://schema.org/Product">
         <header class="product-reviews__header text-center grid__item large--one-whole">
         </header>
         
<link itemprop="availability" href="http://schema.org/InStock">
<meta itemprop='excludedLocales' content='[]'/>
<meta itemprop="priceCurrency" content="USD">

<meta itemprop='productID' content='386285383' />
<meta itemprop='productAddToCartText' content='Add to Cart' />
<meta itemProp='quantity' content="1"/>
  
    
      <meta itemprop='variantPrice' location='Default' content='12995' data-variant-id='904918443' />
      
    
  
    
      <meta itemprop='variantPrice' location='currency-AUD' content='20600' data-variant-id='16461247171' />
      
    
  
    
      <meta itemprop='variantPrice' location='currency-JPY' content='14803' data-variant-id='16461247555' />
      
    
  
    
      <meta itemprop='variantPrice' location='currency-GBP' content='18256' data-variant-id='16461247747' />
      
    
  
    
      <meta itemprop='variantPrice' location='currency-KRW' content='16285' data-variant-id='16461248323' />
      
    
  
    
      <meta itemprop='variantPrice' location='currency-EUR' content='17030' data-variant-id='16461248515' />
      
    
  
    
      <meta itemprop='variantPrice' location='currency-CHF' content='18522' data-variant-id='17056484867' />
      
    
  

         <select name="id" id="productSelect" class="product-single__variants">
           
  
  
    
  
  
  
    
      <option  value="16461247171" data-color="default" data-locale="currency-AUD"><span class=money>$206.00 USD</span></option>
    
  
  
  
    
      <option  value="16461247555" data-color="default" data-locale="currency-JPY"><span class=money>$148.03 USD</span></option>
    
  
  
  
    
      <option  value="16461247747" data-color="default" data-locale="currency-GBP"><span class=money>$182.56 USD</span></option>
    
  
  
  
    
      <option  value="16461248323" data-color="default" data-locale="currency-KRW"><span class=money>$162.85 USD</span></option>
    
  
  
  
    
      <option  value="16461248515" data-color="default" data-locale="currency-EUR"><span class=money>$170.30 USD</span></option>
    
  
  
  
    
      <option  value="17056484867" data-color="default" data-locale="currency-CHF"><span class=money>$185.22 USD</span></option>
    
  
  

         </select>
         

         <div class="product-featurette__content grid__item large--two-thirds table">
           <div id="product-rating">
             <div id="shopify-product-reviews" data-id="386285383" class="show-rating"><style scoped>
  
  .spr-container {
    padding: 24px;
    border-color: #ececec;
     
  }
  .spr-review, .spr-form {
    border-color: #ececec;
  }
</style>

<div class="spr-container">
  <div class="spr-header">
    <h2 class="spr-header-title">Customer Reviews</h2>

    <div class="spr-summary" itemscope itemtype="http://data-vocabulary.org/Review-aggregate">
      <meta itemprop="itemreviewed" content="BioLite CampStove" />
      <meta itemprop="votes" content="125" />
      
      <span itemprop="rating" itemscope itemtype="http://data-vocabulary.org/Rating" class="spr-starrating spr-summary-starrating">
        <meta itemprop="average" content="4.856" />
        <meta itemprop="best" content="5" />
        <meta itemprop="worst" content="1" />
        <i class='spr-icon spr-icon-star' style=''></i><i class='spr-icon spr-icon-star' style=''></i><i class='spr-icon spr-icon-star' style=''></i><i class='spr-icon spr-icon-star' style=''></i><i class='spr-icon spr-icon-star' style=''></i>
      </span>
      <span class="spr-summary-caption">
        
          
          <span class='spr-summary-actions-togglereviews'>Based on 125 reviews</span>
        
      </span>
      <span class="spr-summary-actions">
        <a href='#' class='spr-summary-actions-newreview' onclick='SPR.toggleForm(386285383);return false'>Write a review</a>
      </span>
    </div>
  </div>

  <div class="spr-content">
    <div class='spr-form' id='form_386285383' style='display: none'></div>
    <div class='spr-reviews' id='reviews_386285383' ></div>
  </div>

</div></div>
           </div>
         </div>
       </section>
     </div></div>
</div>
<div class="list-toggle mb20">
<div class="list-toggle__title" data-control-sibling="" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>See Full Tech Specs</span></div>
<div class="list-toggle__content">
<div class="wrapper">
     <div id="product-specs-new" class="wrapper wrapper--large wrapper--max_height">


       <div class="large--one-third grid__item mt30">

          <div class="row-tight">
              <div class="spec-title">Fuel</div>
              <div class="spec-desc light"><span>Renewable Biomass <br/> (twigs, pinecone, wood pellets, etc.)</span></div>
            </div>


            <div class="row-medium">
              <div class="spec-title">Weight</div>
              <div class="spec-desc light"><span><strong>CampStove:</strong> 33 oz (935 g)<br><strong>KettlePot:</strong> 16 oz (465 g)<br><strong>Grill: </strong>30 oz (850 g)</span></div>
            </div>

            <div class="row">
              <div class="spec-title">Charging Time</div>
              <div class="spec-desc light"><span>20 minutes of charging provides 60 minutes of talk time. Charging times vary by device and by strength of fire</span></div>
         </div>

         <div class="row-tight">
           <div class="spec-title">Lumens (FlexLight)</div>
           <div class="spec-desc light"><span>100 Lm</span></div>
         </div>
           <div class="row-tight">
           <div class="spec-title">Pellets </div>
           <div class="spec-desc light"><span>Premium blend of hardwoods made in the USA</span></div>
         </div>



</div>

       <div class="large--one-third grid__item mt30">

           <div class="row-tight">
              <div class="spec-title">Fire Quality</div>
              <div class="spec-desc light"><span>1.6 oz (46 grams) of wood to boil 1 liter of water</span></div>
            </div>

            <div class="row-medium">
              <div class="spec-title">Boil Time</div>
              <div class="spec-desc light"><span>4.5 minutes to boil 1 liter of water. Boiling times vary by strength of fire</span></div>
            </div>
 			<div class="row">
              <div class="spec-title">Dimensions</div>
              <div class="spec-desc light"><span><strong>CampStove: </strong>Height 8.25 inches (209.6 mm) <br/> Width 5 inches (127 mm)<br><strong>KettlePot: </strong> 10.20 x 5.20" (25.91 x 13.21 cm)<br><strong>Grill: </strong>9.5 x 12 x 3.5 in (24.13 x 30.48 x 26.67 cm)</span></div>
            </div>



      </div>


       <div class="large--one-third grid__item mt30">
           <div class="row-tight">
              <div class="spec-title">USB Power Output</div>
              <div class="spec-desc light"><span>Max Continuous: 2W @5V <br/> Peak: 4W @5V</span></div>
            </div>
            <div class="row-medium">
              <div class="spec-title">Compatible Devices</div>
              <div class="spec-desc light"><span>Powers most USB-chargeable devices including smart phones</span></div>
            </div>
           <div class="row">
              <div class="spec-title">In The Box</div>
              <div class="spec-desc light"><span>Stuff Sack <br/> Instructions <br/> USB Cord <br/> CampStove <br/> Firelighter<br>KettlePot with stuff sack<br>Portable Grill with cover<br>BioFuel Pellets with Firestarter<br>StickSnapper</span></div>
            </div>

      </div>


   </div>
     </div>
</div>
</div>
<hr class="mt20 mb50" />
</div>
</div>

<!-- END #deal1 BUNDLE -->

<!-- #deal2 BUNDLE -->
<section id="product-overview" class="single-product-features single-product-features--tall" style="background-image: url('large-camsptove-with-phone-and-twigs.jpg');">
<section class="interstitial section-xlarge mb30">
<div class="wrapper table">
<div class="interstitial__content table-cell text-center"><a name="deal2"></a>
<h3 class="mt0">Blaze Deal #2 - Energy Bundle Blaze Edition </h3>
</div>
<div class="interstitial__overlay interstitial__overlay--gray"></div>
</div>
</section>
<div class="wrapper wrapper--large wrapper">
<section id="product-overview" class="single-product-features single-product-features--tall" style="background-image:url('large-camsptove-with-phone-and-twigs.jpg'); padding-bottom:10px;">
   <div class="wrapper wrapper--large wrapper--max_height">
     <!-- THUMBNAILS AND IMAGES -->
<div class="grid__item large--five-eighths medium--one-whole table" id="product-thumbnails">

      
        <!-- HERO HOME -->
<ul id="product-carousels">
  
  <li class="carousel">
    <div class="hero__viewport hero-carousel">
      <ul class="slides">
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/EnergyBundle_sept2016_update_large.jpg?v=1474988406" alt="" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/CampStove_1_updated_a7d0c750-1922-417c-aac2-10f648f7331f_large.jpg?v=1474988406" alt="" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/NanoGrid_2_e525b575-962c-449f-b753-d3280a2cf06f_large.jpeg?v=1474988406" alt="" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/SolarPanel5_product3_ebc2e45f-ae7c-4e52-a058-a2e84b266e0b_large.jpg?v=1474988406" alt="" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/KettlePot_3_83602e8f-c73f-4169-9ca8-02153e51e912_large.jpg?v=1474988406" alt="" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/Grill_2_4953518d-d055-4295-a5d7-07fd42629030_large.jpeg?v=1474988406" alt="" />
        </li>
        
      </ul>
    </div>
  </li>
</ul>

        <div class="product-single__mini-slider">
  
    
    <ul id="product-color-images-container">
      <ul id="product-single__image02" class="product-single__image" data-control-target>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/EnergyBundle_sept2016_update_large.jpg?v=1474988406" alt="" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/CampStove_1_updated_a7d0c750-1922-417c-aac2-10f648f7331f_large.jpg?v=1474988406" alt="" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/NanoGrid_2_e525b575-962c-449f-b753-d3280a2cf06f_large.jpeg?v=1474988406" alt="" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/SolarPanel5_product3_ebc2e45f-ae7c-4e52-a058-a2e84b266e0b_large.jpg?v=1474988406" alt="" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/KettlePot_3_83602e8f-c73f-4169-9ca8-02153e51e912_large.jpg?v=1474988406" alt="" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/Grill_2_4953518d-d055-4295-a5d7-07fd42629030_large.jpeg?v=1474988406" alt="" />
        </li>
        
      </ul>
      <ul class="product-single__thumbnails" data-control-nav data-control-targets="#product-single__image02">
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/EnergyBundle_sept2016_update_compact.jpg?v=1474988406" alt="" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/CampStove_1_updated_a7d0c750-1922-417c-aac2-10f648f7331f_compact.jpg?v=1474988406" alt="" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/NanoGrid_2_e525b575-962c-449f-b753-d3280a2cf06f_compact.jpeg?v=1474988406" alt="" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/SolarPanel5_product3_ebc2e45f-ae7c-4e52-a058-a2e84b266e0b_compact.jpg?v=1474988406" alt="" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/KettlePot_3_83602e8f-c73f-4169-9ca8-02153e51e912_compact.jpg?v=1474988406" alt="" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/Grill_2_4953518d-d055-4295-a5d7-07fd42629030_compact.jpeg?v=1474988406" alt="" />
        </li>        
     
      </ul>
    </ul>
    
  
</div>

      
      
      <a href="#" class="mobile-video" data-control-modal="#hero-video--emergency-light-power-bundle">
        <div class="">
          <i class="fa fa-r fa-play btn-circle-tab"></i>
          <strong>Watch:</strong>
          <p class="light">A self-sufficient ecosystem to cook, charge, and light completely of-grid. </p>
        </div>
      </a>
      
     </div>
     <!-- Content -->
     <div class="grid__item large--three-eighths medium--one-whole table" id="product-content">
           <h6 class="mb20">A self-sufficient ecosystem to cook, charge, and light completely of-grid.</h6>
          
           <p class="light">
             <strong>Biggest Savings.</strong> Harness the energy around you and be ready for anything. Fire up meals using nothing but the sticks around you with the BioLite CampStove and cooking accessories; light large spaces efficiently and easily with the PowerLight + SiteLight combo; turn the sun's rays into 5 watts of usable power with the SolarPanel5+ (and check out the sundial and kickstand for optimized setup). Perfect for your off-grid cabin in the woods, emergency kit, or next outdoor adventure.            </p>
           
           <div class="top-review-container">
<h6 class="light alt mt20">CampStove, KettlePot, Portable Grill, FlexLight &amp; NanoGrid <span class="primary-blaze semibold"> + SolarPanel 5.</span><br /><br /> <span class="text-center semibold" style="font-size: 16pt;">Blaze Viewers Save: <span class="primary-blaze semibold">$99.80</span></span></h6>
</div>
        
       
        
    <div class="add-to-cart-container"><button type="submit" name="add" id="AddToCart" class="btn btn-red mt20 cart-item--add" data-product-variant="31524424846"> <span id="AddToCartText">Add To My Cart</span> </button></div>
<div class="price-container">
<select name="id" id="productSelect" class="product-single__variants">
<option selected="selected" value="31524424846" data-locale="Default">$279.95 USD</option>
</select>
<span id="ProductPrice" itemprop="price" class="h4 primary-blaze-warm"> <span class="money">$279.95</span> </span> </div>
         
      

       
     </div>
   </div>
  </section>
</div>
</section>
<div class="blog-full">
<div class="wrapper wrapper--large wrapper mt30">
<h6 class="light">Learn More About The Energy Bundle Blaze Edition</h6>
<hr class="mb20" />

<div class="list-toggle mb20">
<div class="list-toggle__title" data-control-sibling="" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>See Full Tech Specs</span></div>
<div class="list-toggle__content">
<div class="wrapper">
     <div id="product-specs-new" class="wrapper wrapper--large wrapper--max_height">


      <div class="large--one-third grid__item mt30">
           <div class="row-tight">
           <div class="spec-title">Weight</div>
           <div class="spec-desc light"><span>12oz (340g)</span></div>
         </div>
         <div class="row">
           <div class="spec-title">Dimensions</div>
           <div class="spec-desc light">10.12"(257mm)x8.19"(208mm)<br />
Panel + Charge Out Depth: 0.94"(24mm)<br />
Panel Only depth: 0.26"(6.6mm)<br /></div>
 	        </div> 
         <div class="row-tight">
           <div class="spec-title">Power Output</div>
           <div class="spec-desc light"><span>5 Watts per Hour (peak sun)</span></div>
         </div>
      </div>
       
       <div class="large--one-third grid__item mt30">
         <div class="row-tight">
           <div class="spec-title">Outputs</div>
           <div class="spec-desc light"><span>USB Out</span></div>
         </div>
          <div class="row">
           <div class="spec-title">SiteLight</div>
           <div class="spec-desc light"><span>10 ft cord length<br>
           150 Lm per light<br>
           1.83 oz (52 g) per light<br>
           Burn Time: 36h LO/8h HI<br> </span></div>
          

         </div>
                  <div class="row-tight">
           <div class="spec-title">Cell Type</div>
           <div class="spec-desc light"><span>Monocrystalline</span></div>
         </div>
             
         
             </div>
 
        <div class="large--one-third grid__item mt30">
        
         
      
                  <div class="row-tight">
           <div class="spec-title">In The Box</div>
           <div class="spec-desc light"><span>SolarPanel 5, USB Cord, SiteLight, Instructions</span></div>
         </div>
               
   </div>


   </div>
     </div>
</div>
</div>

<hr class="mt20 mb50" />
</div>
</div>
<!-- END #deal2 BUNDLE -->

<!-- #deal3 BUNDLE -->
<section id="product-overview" class="single-product-features single-product-features--tall" style="background-image: url('large-camsptove-with-phone-and-twigs.jpg');">
<section class="interstitial section-xlarge mb30" >
<div class="wrapper table">
<div class="interstitial__content table-cell text-center"><a name="deal3"></a>
<h3 class="mt0">Blaze Deal #3 - PowerLight Mini 4 Pack</h3>
</div>
<div class="interstitial__overlay interstitial__overlay--gray"></div>
</div>
</section>
<div class="wrapper wrapper--large wrapper">
<section id="product-overview" class="single-product-features single-product-features--tall" style="background-image:url('large-camsptove-with-phone-and-twigs.jpg'); padding-bottom:10px;">
   <div class="wrapper wrapper--large wrapper--max_height">
     <!-- THUMBNAILS AND IMAGES -->
<div class="grid__item large--five-eighths medium--one-whole table" id="product-thumbnails">

      
        <!-- HERO HOME -->
<ul id="product-carousels">
  
  <li class="carousel">
    <div class="hero__viewport hero-carousel">
      <ul class="slides">
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/PowerLightMini_1_large_015e4910-2aef-4af1-8259-ab6d795541c4_large.jpg?v=1467065494" alt="" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/PowerLightMini_2_810020a2-4a42-4a34-bd3d-3c45bf174f0a_large.jpeg?v=1467065494" alt="" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/PowerLightMini_3_yellow_1170x1170_ebed1965-4fdc-45c3-a9f6-ed4528026155_large.jpg?v=1467065494" alt="" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/PowerLightMini_4_Red_1170x1170_40964ff7-999e-4faa-828a-54ae382b29d7_large.jpg?v=1467065494" alt="" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/PowerLightMini_5_Gray_1170x1170_49270641-d517-4e44-8462-30bfb6bad64c_large.jpg?v=1467065504" alt="" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/PowerLightMini_4pack_components_large.jpg?v=1467065982" alt="" />
        </li>
        
      </ul>
    </div>
  </li>
</ul>

        <div class="product-single__mini-slider">
  
    
    <ul id="product-color-images-container">
      <ul id="product-single__image03" class="product-single__image" data-control-target>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/PowerLightMini_1_large_015e4910-2aef-4af1-8259-ab6d795541c4_large.jpg?v=1467065494" alt="" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/PowerLightMini_2_810020a2-4a42-4a34-bd3d-3c45bf174f0a_large.jpeg?v=1467065494" alt="" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/PowerLightMini_3_yellow_1170x1170_ebed1965-4fdc-45c3-a9f6-ed4528026155_large.jpg?v=1467065494" alt="" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/PowerLightMini_4_Red_1170x1170_40964ff7-999e-4faa-828a-54ae382b29d7_large.jpg?v=1467065494" alt="" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/PowerLightMini_5_Gray_1170x1170_49270641-d517-4e44-8462-30bfb6bad64c_large.jpg?v=1467065504" alt="" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/PowerLightMini_4pack_components_large.jpg?v=1467065982" alt="" />
        </li>        
      </ul>
      <ul class="product-single__thumbnails" data-control-nav data-control-targets="#product-single__image03">
        
          <li class="grid__item">
         <img src="//cdn.shopify.com/s/files/1/0666/9741/products/PowerLightMini_1_large_015e4910-2aef-4af1-8259-ab6d795541c4_compact.jpg?v=1467065494" alt="" />
          </li>
        
          <li class="grid__item">
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/PowerLightMini_2_810020a2-4a42-4a34-bd3d-3c45bf174f0a_compact.jpeg?v=1467065494" alt="" />
        </li>
        
          <li class="grid__item">
         <img src="//cdn.shopify.com/s/files/1/0666/9741/products/PowerLightMini_3_yellow_1170x1170_ebed1965-4fdc-45c3-a9f6-ed4528026155_compact.jpg?v=1467065494" alt="" />
        </li>
        
          <li class="grid__item">
         <img src="//cdn.shopify.com/s/files/1/0666/9741/products/PowerLightMini_4_Red_1170x1170_40964ff7-999e-4faa-828a-54ae382b29d7_compact.jpg?v=1467065494" alt="" />
        </li>
        
          <li class="grid__item">
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/PowerLightMini_5_Gray_1170x1170_49270641-d517-4e44-8462-30bfb6bad64c_compact.jpg?v=1467065504" alt="" />
        </li>
        
          <li class="grid__item">
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/PowerLightMini_4pack_components_compact.jpg?v=1467065982" alt="" />
        </li>        
        
     
      </ul>
    </ul>
    
  
</div>

      
      
      <a href="#" class="mobile-video" data-control-modal="#hero-video--grilling-bundle">
        <div class="">
          <i class="fa fa-r fa-play btn-circle-tab"></i>
          <strong>Watch:</strong>
          <p class="light">[Blaze Special] PowerLight Mini 4 Pack</p>
        </div>
      </a>
      
     </div>
     <!-- Content -->
     <div class="grid__item large--three-eighths medium--one-whole table" id="product-content">
           <h6 class="mb20">A self-sufficient ecosystem to cook, charge, and light completely of-grid.</h6>
          
           <p class="light">
             <strong>GREAT Stocking Stuffer.</strong> Go hands free with this ultraslim clippable lantern that moves with you for on-the-go light and power. Slip it onto a pocket or strap and avoid harsh glares with BioLite edge-lighting, helping you see and be seen. A 1350mAh USB rechargeable battery provides up to 52 hours of light or a backup boost to your phone. It's a headlamp, lantern, and bikelight (mount included) all in one highly compact form.
           </p>
           
           <div class="top-review-container">
<h6 class="light alt mt20">4 PowerLight Minis<br /><br /> <span class="text-center semibold" style="font-size: 16pt;">Blaze Viewers Save: <span class="primary-blaze semibold">$44.85</span></span></h6>
</div>
        
       
        
    <div class="add-to-cart-container"><button type="submit" name="add" id="AddToCart" class="btn btn-red mt20 cart-item--add" data-product-variant="31532039118"> <span id="AddToCartText">Add To My Cart</span> </button></div>
<div class="price-container">
<select name="id" id="productSelect" class="product-single__variants">
<option selected="selected" value="31532039118" data-locale="Default">$134.95 USD</option>
</select>
<span id="ProductPrice" itemprop="price" class="h4 primary-blaze-warm"> <span class="money">$134.95</span> </span> </div>
         
      

       
     </div>
   </div>
  </section>
</div>
</section>
<div class="blog-full">
<div class="wrapper wrapper--large wrapper mt30">
<h6 class="light">Learn More About The PowerLight Mini 4 Pack</h6>
<hr class="mb20" />
<div class="list-toggle mb20">
<div class="list-toggle__title" data-control-sibling="" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>Watch The Video</span></div>
<div class="list-toggle__content"><iframe width="800" height="450" src="https://www.youtube.com/embed/CQUNH_GGMk0" style="margin: 10px auto;" frameborder="0" allowfullscreen=""></iframe></div>
</div>
<div class="list-toggle mb20">
<div class="list-toggle__title" data-control-sibling="" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>Read The Reviews</span></div>
<div class="list-toggle__content">
<div class="wrapper">
       <section class="product-featurette section-large pt0--mobile" itemscope itemtype="http://schema.org/Product">
         <header class="product-reviews__header text-center grid__item large--one-whole">
         </header>
         
<link itemprop="availability" href="http://schema.org/InStock">
<meta itemprop='excludedLocales' content='[]'/>
<meta itemprop="priceCurrency" content="USD">

<meta itemprop='productID' content='386285883' />
<meta itemprop='productAddToCartText' content='Add to Cart' />
<meta itemProp='quantity' content="1"/>
  
    
      <meta itemprop='variantPrice' location='Default' content='29995' data-variant-id='904920027' />
      
    
  
    
      <meta itemprop='variantPrice' location='currency-AUD' content='53414' data-variant-id='16461242499' />
      
    
  
    
      <meta itemprop='variantPrice' location='currency-JPY' content='43485' data-variant-id='16461243651' />
      
    
  
    
      <meta itemprop='variantPrice' location='currency-GBP' content='49669' data-variant-id='16461244547' />
      
    
  
    
      <meta itemprop='variantPrice' location='currency-KRW' content='37765' data-variant-id='16461245379' />
      
    
  
    
      <meta itemprop='variantPrice' location='currency-EUR' content='45314' data-variant-id='16461245891' />
      
    
  
    
      <meta itemprop='variantPrice' location='currency-CHF' content='46461' data-variant-id='17056477123' />
      
    
  

         <select name="id" id="productSelect" class="product-single__variants">
           
  
  
    
  
  
  
    
      <option  value="16461242499" data-color="default" data-locale="currency-AUD"><span class=money>$534.14 USD</span></option>
    
  
  
  
    
      <option  value="16461243651" data-color="default" data-locale="currency-JPY"><span class=money>$434.85 USD</span></option>
    
  
  
  
    
      <option  value="16461244547" data-color="default" data-locale="currency-GBP"><span class=money>$496.69 USD</span></option>
    
  
  
  
    
      <option  value="16461245379" data-color="default" data-locale="currency-KRW"><span class=money>$377.65 USD</span></option>
    
  
  
  
    
      <option  value="16461245891" data-color="default" data-locale="currency-EUR"><span class=money>$453.14 USD</span></option>
    
  
  
  
    
      <option  value="17056477123" data-color="default" data-locale="currency-CHF"><span class=money>$464.61 USD</span></option>
    
  
  

         </select>
         

         <div class="product-featurette__content grid__item large--two-thirds table">
           <div id="product-rating">
             <div id="shopify-product-reviews" data-id="386285883" class="show-rating"><style scoped>
  
  .spr-container {
    padding: 24px;
    border-color: #ececec;
     
  }
  .spr-review, .spr-form {
    border-color: #ececec;
  }
</style>

<div class="spr-container">
  <div class="spr-header">
    <h2 class="spr-header-title">Customer Reviews</h2>

    <div class="spr-summary" itemscope itemtype="http://data-vocabulary.org/Review-aggregate">
      <meta itemprop="itemreviewed" content="BioLite BaseCamp" />
      <meta itemprop="votes" content="23" />
      
      <span itemprop="rating" itemscope itemtype="http://data-vocabulary.org/Rating" class="spr-starrating spr-summary-starrating">
        <meta itemprop="average" content="4.739130434782608" />
        <meta itemprop="best" content="5" />
        <meta itemprop="worst" content="1" />
        <i class='spr-icon spr-icon-star' style=''></i><i class='spr-icon spr-icon-star' style=''></i><i class='spr-icon spr-icon-star' style=''></i><i class='spr-icon spr-icon-star' style=''></i><i class='spr-icon spr-icon-star' style=''></i>
      </span>
      <span class="spr-summary-caption">
        
          
          <span class='spr-summary-actions-togglereviews'>Based on 23 reviews</span>
        
      </span>
      <span class="spr-summary-actions">
        <a href='#' class='spr-summary-actions-newreview' onclick='SPR.toggleForm(386285883);return false'>Write a review</a>
      </span>
    </div>
  </div>

  <div class="spr-content">
    <div class='spr-form' id='form_386285883' style='display: none'></div>
    <div class='spr-reviews' id='reviews_386285883' ></div>
  </div>

</div></div>
           </div>
         </div>
       </section>
     </div></div>
</div>

<div class="list-toggle mb20">
<div class="list-toggle__title" data-control-sibling="" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>See Full Tech Specs</span></div>
<div class="list-toggle__content">
<div class="wrapper">
     <div id="product-specs-new" class="wrapper wrapper--large wrapper--max_height">


  <div class="large--one-third grid__item mt30">
     
            <div class="row-medium">
              <div class="spec-title">Cooktop</div>
              <div class="spec-desc light"><span>13.25” diameter (33.66 cm)<br> 138 in² cooking area (350.52 cm²)</span></div>
            </div>
            
            <div class="row-medium">
              <div class="spec-title">Charging Time</div>
              <div class="spec-desc light"><span>30 min of charging = 5 hours talk time, 5 hours video, 20 hours of audio (average smartphone)</span></div>
            </div>
            
            <div class="row">
              <div class="spec-title">Battery</div>
              <div class="spec-desc light"><span>Lithium ion, 2200mAh</span></div>
            </div>
           
          
       </div>
       <div class="large--one-third grid__item mt30">
          <div class="row-medium">
              <div class="spec-title">Weight</div>
              <div class="spec-desc light"><span>17.92 lbs, 8.16 kg</span></div>
            </div>
            <div class="row-medium">
              <div class="spec-title">Fuel</div>
              <div class="spec-desc light"><span>Solid biomass (twigs, firewood, wood chunks etc)</span></div>
            </div>
            <div class="row">
              <div class="spec-title">USB Power Output</div>
              <div class="spec-desc light"><span>5W@5V, charging times vary by strength of fire</span></div>
            </div>
      
        
           
       
       </div>
       <div class="large--one-third grid__item mt30">
          
            
            <div class="row-medium">
              <div class="spec-title">Compatible Devices</div>
              <div class="spec-desc light"><span>Powers most USB-chargeable devices including smartphones</span></div>
            </div>
            <div class="row-medium">
              <div class="spec-title">Materials</div>
              <div class="spec-desc light"><span>Stainless steel, cast iron, high-temperature plastic</span></div>
            </div>
            <div class="row">
              <div class="spec-title">In The Box</div>
              <div class="spec-desc light"><span>BioLite BaseCamp<br>Firestarters<br>Fuel Rack<br>Ash Tray<br>Gooseneck USB light<br>Instructions</span></div>
            </div>
       </div>


   </div>
     </div>
</div>
</div>

<hr class="mt20 mb50" />
</div>
</div>
<!-- END #deal3 BUNDLE -->
       
<!-- #deal4 BUNDLE -->
<section id="product-overview" class="single-product-features single-product-features--tall" style="background-image: url('large-camsptove-with-phone-and-twigs.jpg');">
<section class="interstitial section-xlarge mb30" >
<div class="wrapper table">
<div class="interstitial__content table-cell text-center"><a name="deal4"></a>
<h3 class="mt0">Blaze Deal #4 - PizzaDome Bundle </h3>
</div>
<div class="interstitial__overlay interstitial__overlay--gray"></div>
</div>
</section>
<div class="wrapper wrapper--large wrapper">
<section id="product-overview" class="single-product-features single-product-features--tall" style="background-image:url('large-camsptove-with-phone-and-twigs.jpg'); padding-bottom:10px;">
   <div class="wrapper wrapper--large wrapper--max_height">
     <!-- THUMBNAILS AND IMAGES -->
<div class="grid__item large--five-eighths medium--one-whole table" id="product-thumbnails">

      
        <!-- HERO HOME -->
<ul id="product-carousels">
  
  <li class="carousel">
    <div class="hero__viewport hero-carousel">
      <ul class="slides">
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/PizzaDome_full_grande_ce7a99bc-edf4-406a-8d6b-146609006031_large.jpg?v=1466541100" alt="" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/PizzaDome_full_with_pizza_grande_c9547309-fa12-4d33-b01b-84f3a219d107_large.jpg?v=1466541100" alt="" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/BioLite_BaseCamp_packed_large_0d630a57-4b12-449e-918e-1dad9a39c806_large.jpeg?v=1466541100" alt="" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/PizzaDome_inside_the_box_forbundle_large.jpg?v=1466541100" alt="" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/BaseCamp_powerpack_closeUp_076dc6a8-e0c7-481d-98cf-a456c177966a_large.jpg?v=1466603222" alt="" />
        </li>
        
      </ul>
    </div>
  </li>
</ul>

        <div class="product-single__mini-slider">
  
    
    <ul id="product-color-images-container">
      <ul id="product-single__image04" class="product-single__image" data-control-target>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/PizzaDome_full_grande_ce7a99bc-edf4-406a-8d6b-146609006031_large.jpg?v=1466541100" alt="" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/PizzaDome_full_with_pizza_grande_c9547309-fa12-4d33-b01b-84f3a219d107_large.jpg?v=1466541100" alt="" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/BioLite_BaseCamp_packed_large_0d630a57-4b12-449e-918e-1dad9a39c806_large.jpeg?v=1466541100" alt="" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/PizzaDome_inside_the_box_forbundle_large.jpg?v=1466541100" alt="" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/BaseCamp_powerpack_closeUp_076dc6a8-e0c7-481d-98cf-a456c177966a_large.jpg?v=1466603222" alt="" />
        </li>
        
      </ul>
      <ul class="product-single__thumbnails" data-control-nav data-control-targets="#product-single__image04">
        
          <li class="grid__item">
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/PizzaDome_full_grande_ce7a99bc-edf4-406a-8d6b-146609006031_compact.jpg?v=1466541100" alt="" />
        </li>
        
          <li class="grid__item">          
            <img src="//cdn.shopify.com/s/files/1/0666/9741/products/PizzaDome_full_with_pizza_grande_c9547309-fa12-4d33-b01b-84f3a219d107_compact.jpg?v=1466541100" alt="" />
        </li>
        
           <li class="grid__item">      
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/BioLite_BaseCamp_packed_large_0d630a57-4b12-449e-918e-1dad9a39c806_compact.jpeg?v=1466541100" alt="" />
        </li>
        
          <li class="grid__item">       
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/PizzaDome_inside_the_box_forbundle_compact.jpg?v=1466541100" alt="" />
        </li>
        
          <li class="grid__item">
            <img src="//cdn.shopify.com/s/files/1/0666/9741/products/BaseCamp_powerpack_closeUp_076dc6a8-e0c7-481d-98cf-a456c177966a_compact.jpg?v=1466603222" alt="" />
        </li>
        
      
      </ul>
    </ul>
    
  
</div>

      
      
      <a href="#" class="mobile-video" data-control-modal="#hero-video--blaze-special-kettlecharge-with-free-flexlight">
        <div class="">
          <i class="fa fa-r fa-play btn-circle-tab"></i>
          <strong>Watch:</strong>
          <p class="light">[Blaze Special] PizzaDome Bundle</p>
        </div>
      </a>
      
     </div>
     <!-- Content -->
     <div class="grid__item large--three-eighths medium--one-whole table" id="product-content">
           <h6 class="mb20">Make wood-fired pizza. Anywhere. </h6>
          
       <p class="light"><strong>Limited Supply Available.</strong> The BioLite BaseCamp pairs up with the NEW PizzaDome System to cook pizzas, flatbreads, and other favorites. The dome's integrated thermometer monitors temps while the foodsafe cermaic stone keeps foods crisp and evenly cooked. A modular system, you can use the dome separately as a traditional lid for concentrated heat and faster cooktimes. <strong>High sellout risk: limited quantities reserved for Blaze Viewers!</strong>
           </p>
           
           <div class="top-review-container">
<h6 class="light alt mt20">BaseCamp <span class="primary-blaze semibold"> + 1 FREE PizzaDome.</span><br /><br /> <span class="text-center semibold" style="font-size: 16pt;">Blaze Viewers Save: <span class="primary-blaze semibold">$99.95</span></span></h6>
</div>
        
       
        
    <div class="add-to-cart-container"><button type="submit" name="add" id="AddToCart" class="btn btn-red mt20 cart-item--add" data-product-variant="31532042510"> <span id="AddToCartText">Add To My Cart</span> </button></div>
<div class="price-container">
<select name="id" id="productSelect" class="product-single__variants">
<option selected="selected" value="31532042510" data-locale="Default">$269.95 USD</option>
</select>
<span id="ProductPrice" itemprop="price" class="h4 primary-blaze-warm"> <span class="money">$269.95</span> </span> </div>
         
      

       
     </div>
   </div>
  </section>
</div>
</section>
<div class="blog-full">
<div class="wrapper wrapper--large wrapper mt30">
<h6 class="light">Learn More About The PizzaDome Bundle</h6>
<hr class="mb20" />
<div class="list-toggle mb20">
<div class="list-toggle__title" data-control-sibling="" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>Watch The Video</span></div>
<div class="list-toggle__content"><iframe width="800" height="450" src="https://www.youtube.com/embed/KJDX9TPImiA" style="margin: 10px auto;" frameborder="0" allowfullscreen=""></iframe></div>
</div>

<div class="list-toggle mb20">
<div class="list-toggle__title" data-control-sibling="" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>See Full Tech Specs</span></div>
<div class="list-toggle__content">
<div class="wrapper">
     <div id="product-specs-new" class="wrapper wrapper--large wrapper--max_height">

       <div class="large--one-third grid__item mt30">

<div class="row-tight">
              <div class="spec-title">USB Power Output</div>
              <div class="spec-desc light">10 W (5V, 2A)</div>
            </div>
            
            <div class="row">
              <div class="spec-title">Charge Time</div>
              <div class="spec-desc light"><span>15 min charge = 5 hours talk, 5 hours video, 20 hours of audio (output varies by sdivength of heat source)</span></div>
            </div>
            
            <div class="row">
              <div class="spec-title">Height</div>
              <div class="spec-desc light"><span>Handle folded: 2.91" (7.4 cm); Module up: 7.32" (18.6 cm)</span></div>
            </div>

       </div>
       
       <div class="large--one-third grid__item mt30">
            <div class="row-tight">
              <div class="spec-title">Weight</div>
              <div class="spec-desc light"><span>2 lbs (32 oz)/ 907 g</span></div>
            </div>
         <div class="row">
              <div class="spec-title">Compatible Devices</div>
              <div class="spec-desc light"><span>Powers most USB-chargeable devices including tablets</span></div>
            </div>
            
            <div class="row">
              <div class="spec-title">Battery</div>
              <div class="spec-desc light"><span>Safe lithium iron phosphate (LiFeP04), 1250mAh</span></div>
            </div>
         </div>

 
        <div class="large--one-third grid__item mt30">
 
                         <div class="row-tight">
              <div class="spec-title">Max Fill</div>
              <div class="spec-desc light"><span>750 ml</span></div>
            </div>
            <div class="row">
              <div class="spec-title">Materials</div>
              <div class="spec-desc light"><span>Stainless steel, aluminum, high-temperature plastic</span></div>
            </div>
            <div class="row">
              <div class="spec-title">Lumens (FlexLight)</div>
              <div class="spec-desc light"><span>100 Lm</span></div>
            </div>
            <div class="row">
              <div class="spec-title">In The Box</div>
              <div class="spec-desc light"><span>BioLite KettleCharge, Heat-Resistant Flexible USB Extender, FlexLight Instructions</span></div>
            </div>
             </div>


   </div>
     </div>
</div>
</div>

<hr class="mt20 mb50" />
</div>
</div>
<!-- END #deal4 BUNDLE -->

<!-- #deal5 BUNDLE -->
<section id="product-overview" class="single-product-features single-product-features--tall" style="background-image: url('large-camsptove-with-phone-and-twigs.jpg');">
<section class="interstitial section-xlarge mb30" >
<div class="wrapper table">
<div class="interstitial__content table-cell text-center"><a name="deal5"></a>
<h3 class="mt0">Blaze Deal #5 - CampStove: The Blaze Special </h3>
</div>
<div class="interstitial__overlay interstitial__overlay--gray"></div>
</div>
</section>
<div class="wrapper wrapper--large wrapper">
<section id="product-overview" class="single-product-features single-product-features--tall" style="background-image:url('large-camsptove-with-phone-and-twigs.jpg'); padding-bottom:10px;">
   <div class="wrapper wrapper--large wrapper--max_height">
     <!-- THUMBNAILS AND IMAGES -->
<div class="grid__item large--five-eighths medium--one-whole table" id="product-thumbnails">

      
        <!-- HERO HOME -->
<ul id="product-carousels">
  
  <li class="carousel">
    <div class="hero__viewport hero-carousel">
      <ul class="slides">
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/CampStove_1_updated_d48f0013-c917-4636-9d51-1e68d875c252_large.jpg?v=1458138103" alt="" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/CampStove_2_large.jpeg?v=1458138103" alt="" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/CampStove_3_large.jpeg?v=1458138103" alt="" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/CampStove_4_cf767844-4513-43ee-9b37-367d8170b146_large.jpeg?v=1458138103" alt="" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/FlexLight_3_8e389bda-ec8d-437d-a816-9b3e2372fc2d_large.jpg?v=1458138104" alt="" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/FlexLight_large.jpg?v=1458138107" alt="" />
        </li>
        
      </ul>
    </div>
  </li>
</ul>

        <div class="product-single__mini-slider">
  
    
    <ul id="product-color-images-container">
      <ul id="product-single__image05" class="product-single__image" data-control-target>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/CampStove_1_updated_d48f0013-c917-4636-9d51-1e68d875c252_large.jpg?v=1458138103" alt="" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/CampStove_2_large.jpeg?v=1458138103" alt="" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/CampStove_3_large.jpeg?v=1458138103" alt="" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/CampStove_4_cf767844-4513-43ee-9b37-367d8170b146_large.jpeg?v=1458138103" alt="" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/FlexLight_3_8e389bda-ec8d-437d-a816-9b3e2372fc2d_large.jpg?v=1458138104" alt="" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/FlexLight_large.jpg?v=1458138107" alt="" />
        </li>        
      </ul>
      <ul class="product-single__thumbnails" data-control-nav data-control-targets="#product-single__image05">
        
          <li class="grid__item">
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/CampStove_1_updated_d48f0013-c917-4636-9d51-1e68d875c252_compact.jpg?v=1458138103" alt="" />
        </li>
        
			<li class="grid__item">          
  <img src="//cdn.shopify.com/s/files/1/0666/9741/products/CampStove_2_compact.jpeg?v=1458138103" alt="" />
        </li>
        
		<li class="grid__item">
  <img src="//cdn.shopify.com/s/files/1/0666/9741/products/CampStove_3_compact.jpeg?v=1458138103" alt="" />
        </li>
        
		<li class="grid__item">
  <img src="//cdn.shopify.com/s/files/1/0666/9741/products/CampStove_4_cf767844-4513-43ee-9b37-367d8170b146_compact.jpeg?v=1458138103" alt="" />
        </li>
        
		<li class="grid__item">
  <img src="//cdn.shopify.com/s/files/1/0666/9741/products/FlexLight_3_8e389bda-ec8d-437d-a816-9b3e2372fc2d_compact.jpg?v=1458138104" alt="" />
        </li>
        
		<li class="grid__item">
  <img src="//cdn.shopify.com/s/files/1/0666/9741/products/FlexLight_compact.jpg?v=1458138107" alt="" />
        </li>        
       
      </ul>
    </ul>
    
  
</div>

      
      
      <a href="#" class="mobile-video" data-control-modal="#hero-video--blaze-special-biolite-nanogrid-lightup-system">
        <div class="">
          <i class="fa fa-r fa-play btn-circle-tab"></i>
          <strong>Watch:</strong>
          <p class="light">[Blaze Special] CampStove: The Blaze Special</p>
        </div>
      </a>
      
     </div>
     <!-- Content -->
     <div class="grid__item large--three-eighths medium--one-whole table" id="product-content">
           <h6 class="mb20">The original at a very special price</h6>
          
       <p class="light"><strong>The Stove That Started It All.</strong> Looking to try out BioLite? Look no further. Seen on the streets during Hurricane Sandy, the CampStove was catapulted into the spotlight has a portable way to cook meals and charge devices all at the same time. Pick up the stove and enjoy smokeless flames in minutes using nothing but the sticks around you. <strong>FREE FlexLight included.</strong>
           </p>
           
           <div class="top-review-container">
<h6 class="light alt mt20">CampStove <span class="primary-blaze semibold"> + 1 FREE FlexLight.</span><br /><br /> <span class="text-center semibold" style="font-size: 16pt;">Blaze Viewers Save: <span class="primary-blaze semibold">$24.00</span></span></span></h6>
</div>
        
       
        
    <div class="add-to-cart-container"><button type="submit" name="add" id="AddToCart" class="btn btn-red mt20 cart-item--add" data-product-variant="31532070862"> <span id="AddToCartText">Add To My Cart</span> </button></div>
<div class="price-container">
<select name="id" id="productSelect" class="product-single__variants">
<option selected="selected" value="31532070862" data-locale="Default">$105.95 USD</option>
</select>
<span id="ProductPrice" itemprop="price" class="h4 primary-blaze-warm"> <span class="money">$105.95</span> </span> </div>
         
      

       
     </div>
   </div>
  </section>
</div>
</section>
<div class="blog-full">
<div class="wrapper wrapper--large wrapper mt30">
<h6 class="light">Learn More About The CampStove: The Blaze Special</h6>
<hr class="mb20" />
<div class="list-toggle mb20">
<div class="list-toggle__title" data-control-sibling="" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>Watch The Video</span></div>
<div class="list-toggle__content"><iframe width="800" height="450" src="https://www.youtube.com/embed/dHpO6SbAdoM" style="margin: 10px auto;" frameborder="0" allowfullscreen=""></iframe></div>
</div>

<div class="list-toggle mb20">
<div class="list-toggle__title" data-control-sibling="" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>Read The Reviews</span></div>
<div class="list-toggle__content">
<div class="wrapper">
       <section class="product-featurette section-large pt0--mobile" itemscope itemtype="http://schema.org/Product">
         
         
<link itemprop="availability" href="http://schema.org/InStock">
<meta itemprop='excludedLocales' content=''/>
<meta itemprop="priceCurrency" content="USD">

<meta itemprop='productID' content='427051895' />
<meta itemprop='productAddToCartText' content='Add to Cart' />
<meta itemProp='quantity' content="1"/>
  
    
      <meta itemprop='variantPrice' location='Default' content='9995' data-variant-id='1080149311' />
      
        <meta itemprop='comparePrice' location='Default' content='10990' data-variant-id='1080149311' />
      
    
  
    
      <meta itemprop='variantPrice' location='currency-AUD' content='13732' data-variant-id='16461259587' />
      
        <meta itemprop='comparePrice' location='currency-AUD' content='15255' data-variant-id='16461259587' />
      
    
  
    
      <meta itemprop='variantPrice' location='currency-JPY' content='10362' data-variant-id='16461259779' />
      
        <meta itemprop='comparePrice' location='currency-JPY' content='11288' data-variant-id='16461259779' />
      
    
  
    
      <meta itemprop='variantPrice' location='currency-GBP' content='12412' data-variant-id='16461260035' />
      
        <meta itemprop='comparePrice' location='currency-GBP' content='13135' data-variant-id='16461260035' />
      
    
  
    
      <meta itemprop='variantPrice' location='currency-KRW' content='9331' data-variant-id='16461260227' />
      
        <meta itemprop='comparePrice' location='currency-KRW' content='9507' data-variant-id='16461260227' />
      
    
  
    
      <meta itemprop='variantPrice' location='currency-EUR' content='12487' data-variant-id='16461260547' />
      
        <meta itemprop='comparePrice' location='currency-EUR' content='13617' data-variant-id='16461260547' />
      
    
  
    
      <meta itemprop='variantPrice' location='currency-CHF' content='13348' data-variant-id='17056520579' />
      
        <meta itemprop='comparePrice' location='currency-CHF' content='14797' data-variant-id='17056520579' />
      
    
  

         <select name="id" id="productSelect" class="product-single__variants">
           
  
  
    
  
  
  
    
      <option  value="16461259587" data-color="default" data-locale="currency-AUD"><span class=money>$137.32 USD</span></option>
    
  
  
  
    
      <option  value="16461259779" data-color="default" data-locale="currency-JPY"><span class=money>$103.62 USD</span></option>
    
  
  
  
    
      <option  value="16461260035" data-color="default" data-locale="currency-GBP"><span class=money>$124.12 USD</span></option>
    
  
  
  
    
      <option  value="16461260227" data-color="default" data-locale="currency-KRW"><span class=money>$93.31 USD</span></option>
    
  
  
  
    
      <option  value="16461260547" data-color="default" data-locale="currency-EUR"><span class=money>$124.87 USD</span></option>
    
  
  
  
    
      <option  value="17056520579" data-color="default" data-locale="currency-CHF"><span class=money>$133.48 USD</span></option>
    
  
  

         </select>
         

         <div class="product-featurette__content grid__item large--two-thirds table">
           <div id="product-rating">
             <div id="shopify-product-reviews" data-id="427051895" class="show-rating"><style scoped>
  
  .spr-container {
    padding: 24px;
    border-color: #ececec;
     
  }
  .spr-review, .spr-form {
    border-color: #ececec;
  }
</style>

<div class="spr-container">
  <div class="spr-header">
    <h2 class="spr-header-title">Customer Reviews</h2>

    <div class="spr-summary" itemscope itemtype="http://data-vocabulary.org/Review-aggregate">
      <meta itemprop="itemreviewed" content="BioLite NanoGrid" />
      <meta itemprop="votes" content="89" />
      
      <span itemprop="rating" itemscope itemtype="http://data-vocabulary.org/Rating" class="spr-starrating spr-summary-starrating">
        <meta itemprop="average" content="4.932584269662922" />
        <meta itemprop="best" content="5" />
        <meta itemprop="worst" content="1" />
        <i class='spr-icon spr-icon-star' style=''></i><i class='spr-icon spr-icon-star' style=''></i><i class='spr-icon spr-icon-star' style=''></i><i class='spr-icon spr-icon-star' style=''></i><i class='spr-icon spr-icon-star' style=''></i>
      </span>
      <span class="spr-summary-caption">
        
          
          <span class='spr-summary-actions-togglereviews'>Based on 89 reviews</span>
        
      </span>
      <span class="spr-summary-actions">
        <a href='#' class='spr-summary-actions-newreview' onclick='SPR.toggleForm(427051895);return false'>Write a review</a>
      </span>
    </div>
  </div>

  <div class="spr-content">
    <div class='spr-form' id='form_427051895' style='display: none'></div>
    <div class='spr-reviews' id='reviews_427051895' ></div>
  </div>

</div></div>
           </div>
         </div>
       </section>
     </div></div>
</div>

<div class="list-toggle mb20">
<div class="list-toggle__title" data-control-sibling="" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>See Full Tech Specs</span></div>
<div class="list-toggle__content">
<div class="wrapper">
     <div id="product-specs-new" class="wrapper wrapper--large wrapper--max_height">

      
       <div class="large--one-third grid__item mt30">
           <div class="row">
              <div class="spec-title">Battery</div>
              <div class="spec-desc light"><span>4400 mAh lithium-ion<br>16 Wh storage</span></div>
            </div>
         
         <div class="row">
     
           <div class="spec-title">Lumens</div>
              <div class="spec-desc light"><span>PowerLight<br>250 Lm torch; 200 Lm lantern <br>
              <br/>SiteLight<br>150 Lm per light</span></div>
            </div>
            
       <div class="row">
              <div class="spec-title">Burn Time</div>
              <!--<div class="spec-desc light"><img src="https://cdn.shopify.com/s/files/1/0666/9741/files/NanoGrid_burnTimes_final.svg?13166565332115529284" alt="NanoGrid burn times"></div>-->
         <div class="spec-desc light"><span>PowerLight Only <br>72h LO/6.5h HI<br><br>PowerLight + SiteLights<br> 22h LO/4h HI</span></div>

            </div>
        
            </div>  

       
       <div class="large--one-third grid__item mt30">
 		     <div class="row">
              <div class="spec-title">Outputs</div>
              <div class="spec-desc light"><span>PowerLight<br>USB charge out; 2.5mm connector <br>
              <br/>SiteLight<br>2.5 mm connector</span></div>
            </div>   
         

         <div class="row">
              <div class="spec-title">Dimensions</div>
              <div class="spec-desc light"><span>PowerLight:<br>2.22 x 5.27 x 1.15 in (5.64 x 13.39 x 2.92 cm) <br>
              <br/>SiteLight:<br>2.55 x 1.06 x 2.55 in (6.48 x 2.69 x 6.48 cm)</span></div>
            </div>
            <div class="row">
              <div class="spec-title">Weight</div>
              <div class="spec-desc light"><span>PowerLight<br>7.05 oz (210 g) <br>
              <br/>SiteLight<br>1.83 oz (52 g) per light</span></div>
            </div>

            </div>

 
        <div class="large--one-third grid__item mt30">
           <div class="row">
              <div class="spec-title">Cord Length</div>
              <div class="spec-desc light"><span>SiteLight<br>10 ft per light</span></div>
            </div>

             <div class="row">
              <div class="spec-title">Light Range</div>
              <div class="spec-desc light"><img src="https://cdn.shopify.com/s/files/1/0666/9741/files/Light_Range_v2.svg?18042130059601173863" alt="NanoGrid light range"></div>
            </div>
            
            <div class="row">
              <div class="spec-title">In the Box</div>
              <div class="spec-desc light"><span>PowerLight<br> 2 SiteLights<br>USB cable<br>Instructions</span></div>
            </div>           </div> 
       
       

   </div>
     </div>
</div>
</div>

<hr class="mt20 mb50" />
</div>
</div>
<!-- END #deal5 BUNDLE -->


<section class="interstitial section-xlarge mt50" style="background-image: url('https://cdn.shopify.com/s/files/1/0666/9741/files/interstitial-bottom.jpg?9381155204790498037');">
<div class="wrapper table">
<div class="interstitial__content table-cell text-center">
<h3 class="mt0">Thanks for visiting the BioLite + Blaze Gift Shop</h3>
<h6 class="light pb70">Remember, you can only take advantage of these special deals from this page.</h6>
</div>
<div class="interstitial__overlay interstitial__overlay--red"></div>
</div>
</section>
</div>