

<div class="landing-section-hero" style="background-color:#dfe5f0;">

  <div class="vertical-horizontal-center">
          <img class="landing-main-logo" src="https://cdn.shopify.com/s/files/1/0666/9741/files/FYF_logo_white-01.svg?8871701853513739362" alt="Find Your Frontier" >    
  </div>
  
  <div class="hero-video__video-wrapper">
   <video autoplay="autoplay" class="hero-video__video"
         poster="https://s3-us-west-2.amazonaws.com/biolitewebsite/find-your-frontier/find-your-frontier-hero.files/html5video/TopOfMountain_timeRemapped_r5.jpg" 
         title="Find Your Frontier" loop="loop" onended="var v=this;setTimeout(function(){v.play()},300)">
<source src="https://s3-us-west-2.amazonaws.com/biolitewebsite/find-your-frontier/find-your-frontier-hero.files/html5video/TopOfMountain_timeRemapped_r5.m4v" type="video/mp4" />
<source src="https://s3-us-west-2.amazonaws.com/biolitewebsite/find-your-frontier/find-your-frontier-hero.files/html5video/TopOfMountain_timeRemapped_r5.webm" type="video/webm" />
<source src="https://s3-us-west-2.amazonaws.com/biolitewebsite/find-your-frontier/find-your-frontier-hero.files/html5video/TopOfMountain_timeRemapped_r5.mp4" />
<object type="application/x-shockwave-flash" data="https://s3-us-west-2.amazonaws.com/biolitewebsite/find-your-frontier/find-your-frontier-hero.files/html5video/flashfox.swf" width="1600" height="701" style="position:relative;">
<param name="movie" value="https://s3-us-west-2.amazonaws.com/biolitewebsite/find-your-frontier/find-your-frontier-hero.files/html5video/flashfox.swf" />
<param name="allowFullScreen" value="true" />
<param name="flashVars" 
       value="autoplay=true&controls=false&fullScreenEnabled=false&posterOnEnd=true&loop=false&poster=https://s3-us-west-2.amazonaws.com/biolitewebsite/find-your-frontier/find-your-frontier-hero.files/html5video/TopOfMountain_timeRemapped_r4.jpg&src=TopOfMountain_timeRemapped_r4.m4v" />
 <embed src="TopOfMountain_timeRemapped_r4.files/html5video/flashfox.swf" width="1600" height="701" style="position:relative;" 
        flashVars="autoplay=true&controls=false&fullScreenEnabled=false&posterOnEnd=true&loop=false&poster=https://s3-us-west-2.amazonaws.com/biolitewebsite/find-your-frontier/find-your-frontier-hero.files/html5video/TopOfMountain_timeRemapped_r4.jpg&src=TopOfMountain_timeRemapped_r5.m4v"	
        allowFullScreen="true" wmode="transparent" type="application/x-shockwave-flash" pluginspage="http://www.adobe.com/go/getflashplayer_en" />
<img alt="TopOfMountain_timeRemapped" src="https://s3-us-west-2.amazonaws.com/biolitewebsite/find-your-frontier/find-your-frontier-hero.files/html5video/TopOfMountain_timeRemapped_r5.jpg" style="position:absolute;left:0;" width="100%" title="Video playback is not supported by your browser" />
</object>
</video>
<script src="https://s3-us-west-2.amazonaws.com/biolitewebsite/find-your-frontier/find-your-frontier-hero.files/html5video/html5ext.js" type="text/javascript"></script>
  </div>

</div>



<div class="landing-section frontier-1">

       <div class="grid__item large--one-half">

         <div class="frontier-intro-paragraph gray-warm">  
           
The sweaty high-five. The swearing under your breath. The rush of accomplishment when you pull yourself up, out, over.<br> <br>It's a universal feeling, yet it may look different for all of us. Maybe it's a new trail to hike, a more aggressive route to paddle, or getting a pal out into the outdoors for the first time. Whatever your frontier, we want you to get out there and find it. And we're going to spend the whole damn summer celebrating it. 
 
         <br><br>
           <span style="color:#bd5532;"><strong>How will you #FindYourFrontier this summer?</strong></span>
         </div>

  </div>
  
        <div class="grid__item large--one-half">
          
      <div class="one-third-height firsts-color">
        <div class="vertical-center fff-main-icon">
        <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/firsts-icon-01.svg?4482414681135571623" alt="Firsts" title="Firsts" />
        </div>
        <div class="vertical-center fff-category">
       <span class="fff-title white">FIRSTS </span>
       <span class="fff-subtitle">Try a new sport, camp in unfamiliar territory, or bring someone else outside for their first time.  </span>
          </div>
          </div>
          
          
               <div class="one-third-height furthers-color">
                    <div class="vertical-center fff-main-icon">
        <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/furthers_icon-01.svg?4482414681135571623" alt="Furthers" title="Furthers" />
        </div>
               <div class="vertical-center fff-category">
           <span class="fff-title white">FURTHERS </span>
       <span class="fff-subtitle">Stay off grid an additional day, attempt a more difficult route, or push yourself to hike those extra miles.  </span>
          </div>
           </div>
          
          
         
          
          <div class="one-third-height fears-color">
               <div class="vertical-center fff-main-icon">
        <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/fears_icon-01.svg?4482414681135571623" alt="Fears" title="Fears" />
        </div>
        <div class="vertical-center fff-category">
       <span class="fff-title white">FEARS </span>
       <span class="fff-subtitle">Confront what scares or intimidates you and make a plan to conquer it. </span>
          </div>
          </div>
     
  </div>
  
</div>

    <div class="clearfix"></div>

<div class="fff-quote-section" style="background-color:#f3f3f3;">
    <span class="fff-quote">
  <ul>
    
  <li class="quote-section-background-1">
    <div class="grid__item large--one-half">
    </div>
    <div class="grid__item large--one-half quote-section-content" >
    <span class="fff-mini-title furthers" style="text-align:left">
      <span class="frontier-flag-icon"><img src="https://cdn.shopify.com/s/files/1/0666/9741/files/flag-icon-orange-01.svg?13945687066115546282"></span>FIRSTS </span>
    <span class="fff-quote-text" style="text-align:left">I'm going to climb unclimbed peaks in Eastern Greenland </span>
    <span class="fff-quote-text-name" style="text-align:left">-Chris </span>
    </div>
      </li>
      
 <li class="quote-section-background-2">
    <div class="grid__item large--one-half quote-section-content" >
    <span class="fff-mini-title furthers" style="text-align:left">
      <span class="frontier-flag-icon"><img src="https://cdn.shopify.com/s/files/1/0666/9741/files/flag-icon-orange-01.svg?13945687066115546282"></span>FURTHERS </span>

    <span class="fff-quote-text" style="text-align:left">This summer I pledge to hike 100 miles of the Pacific Crest Trai. </span>
    <span class="fff-quote-text-name" style="text-align:left">-Britney </span>
   </div> 
   <div class="grid__item large--one-half">
    </div>
      </li>
    
      <li class="quote-section-background-3">
    <div class="grid__item large--one-half">
    </div>
    <div class="grid__item large--one-half quote-section-content" >
 <span class="fff-mini-title furthers" style="text-align:left">      
        <span class="frontier-flag-icon"><img src="https://cdn.shopify.com/s/files/1/0666/9741/files/flag-icon-orange-01.svg?13945687066115546282"></span>FEARS </span>

    <span class="fff-quote-text" style="text-align:left">I capsized as a kid and I've been freaked to be in a kayak ever since – this year I'm doing the Main Salmon.  </span>
    <span class="fff-quote-text-name" style="text-align:left">-Erica </span>
    </div>
      </li>
      
 <li class="quote-section-background-4 fears-color" style="background-color:rgba(255,255,255, 1);">
             <div class="grid__item large quote-section-content fears-color" style="background-color:rgba(255,255,255, 1);" >

    <div class="vertical-center fff-could-be-you fears-color" style="background-color:rgba(255,255,255, 1);" >

       <span class="fff-mini-title-submission furthers" style="text-align:left">THIS COULD BE YOU!</span>
    <span class="fff-quote-text furthers" style="text-align:left">We’re featuring new community pledges each week </span>

   </div> 
   </div>
      </li>
  
 
  </ul>
  </span>
</div>

          <a name="pledge"></a>
<div class="landing-section frontier-2">
 
  <div class="wrapper--full">   
        <div class="vertical-center">
<div class="grid__item large--one-half fff-form">
<span class="fff-title white" style="padding-left:0">JOIN US THIS SUMMER </span>


  <div class="grid" style="margin-left: -15px;">
<div class="grid__item fyf-form-wrapper">
  
  
[powr-form-builder id=1765055b_1497448113]
  
</div>
</div>
  
  </div>
   
 <div class="grid__item large--one-half fff-social">
   <span class="fff-title white">PHOTOS </span>
   <span class="fff-subtitle " style="color:#fff"> Tag @biolite #FindYourFrontier on Instagram for the chance to win BioLite gear and be featured in our weekly #FrontierFriday posts. </span>
   
      <span class="fff-title pt50 white">VIDEOS </span>
   <span class="fff-subtitle" style="color:#fff">We’re compiling a frontier recap video at the end of the summer. Send your clips to <a href="mailto:stories@bioliteenergy.com?Subject=Find%20Your%20Frontier" target="_top" style="color:#fff;text-decoration:underline">stories@bioliteenergy.com</a>. (Smartphone clips are fine just remember to film landscape!).  </span>
   </div>  

    </div>    
    
  </div> 
  
</div>

<a name="resources"></a>


<section class="section-large text-center frontier-story">
  <div class="wrapper--max">   
  <span class="homeheader-title white pt30 pb30">DON'T KNOW WHERE TO START? WE'VE GOT YOU.</span>
    
           <div class="grid__item large--one-third text-center">
<a href="/blogs/lab/10-adventure-worthy-campsites-to-visit-this-summer"><img class="community-image" src="https://cdn.shopify.com/s/files/1/0666/9741/files/FrontierLocations_hipcamp.jpg?17453223850667869100" alt="10 Frontier Locations To Visit This Summer" ></a>
<div class="community-image-holding">
<span class="frontier-flag-more-stories"><img src="https://cdn.shopify.com/s/files/1/0666/9741/files/flag-icon-white-01.svg?7407699648164922683"></span>
  <span class="frontier-story-byline">By Hipcamp</span>
  <span class="frontier-story-title">10 Frontier Locations To Visit This Summer</span>
   <span class="community-link"> 
     <a href="/blogs/lab/10-adventure-worthy-campsites-to-visit-this-summer">Read Story</a>
  </span>
      </div>      
     
      </div>
    
               <div class="grid__item large--one-third text-center">
<a href="/blogs/lab/prepare-for-your-frontier-wilderness-safety-tips"><img class="community-image" src="https://cdn.shopify.com/s/files/1/0666/9741/files/FrontierLocations_kammok.jpg?17453223850667869100" alt="Safety & Preparedness Tips For Your Frontier" ></a>
<div class="community-image-holding">
<span class="frontier-flag-more-stories"><img src="https://cdn.shopify.com/s/files/1/0666/9741/files/flag-icon-white-01.svg?7407699648164922683"></span>

  <span class="frontier-story-byline">By Kammok</span>
  <span class="frontier-story-title">Safety &amp; Preparedness Tips For Your Frontier</span>
   <span class="community-link"> 
     <a href="/blogs/lab/prepare-for-your-frontier-wilderness-safety-tips">Read Story</a>
  </span>
      </div>      
     
      </div>
    
               <div class="grid__item large--one-third text-center">
<a href="/blogs/lab/adventuring-outside-your-comfort-zone"><img class="community-image" src="https://cdn.shopify.com/s/files/1/0666/9741/files/FrontierLocations_biolite.jpg?17453223850667869100" alt="Advice For Adventuring Outside Your Comfort Zone" ></a>
<div class="community-image-holding">
<span class="frontier-flag-more-stories"><img src="https://cdn.shopify.com/s/files/1/0666/9741/files/flag-icon-white-01.svg?7407699648164922683"></span>

  <span class="frontier-story-byline">By BioLite</span>
  <span class="frontier-story-title">Advice For Adventuring Outside Your Comfort Zone</span>
   <span class="community-link"> 
     <a href="/blogs/lab/adventuring-outside-your-comfort-zone">Read Story</a>
  </span>
      </div>      
     
      </div>
    
                   <div class="grid__item large--one-third text-center">
<a href="/blogs/lab/find-your-frontier-fathers-day-special"><img class="community-image" src="https://cdn.shopify.com/s/files/1/0666/9741/files/FrontierLocations_michael-w.jpg?17453223850667869100" alt="Find Your Frontier: Father’s Day Edition" ></a>
<div class="community-image-holding">
<span class="frontier-flag-more-stories"><img src="https://cdn.shopify.com/s/files/1/0666/9741/files/flag-icon-white-01.svg?7407699648164922683"></span>

  <span class="frontier-story-byline">By Michael W.</span>
  <span class="frontier-story-title">Find Your Frontier: Father’s Day Edition</span>
   <span class="community-link"> 
     <a href="/blogs/lab/find-your-frontier-fathers-day-special">Read Story</a>
  </span>
      </div>      
      </div>
    
                       <div class="grid__item large--one-third text-center">
<a href="/blogs/lab/documenting-your-frontier"><img class="community-image" src="https://cdn.shopify.com/s/files/1/0666/9741/files/FYF_peakDesign.jpg?6086448410272629131" alt="Documenting Your Frontier By Peak Design" ></a>
<div class="community-image-holding">
<span class="frontier-flag-more-stories"><img src="https://cdn.shopify.com/s/files/1/0666/9741/files/flag-icon-white-01.svg?7407699648164922683"></span>

  <span class="frontier-story-byline">By Peak Design</span>
  <span class="frontier-story-title">Documenting Your Frontier</span>
   <span class="community-link"> 
     <a href="/blogs/lab/documenting-your-frontier">Read Story</a>
  </span>
      </div>      
      </div>
    
<div class="grid__item large--one-third text-center">
<a href="/blogs/lab/how-to-find-your-outdoor-adventure-community"><img class="community-image" src="https://cdn.shopify.com/s/files/1/0666/9741/files/FYF_shoestring.jpg?6086448410272629131" alt="Documenting Your Frontier By Peak Design" ></a>
<div class="community-image-holding">
<span class="frontier-flag-more-stories"><img src="https://cdn.shopify.com/s/files/1/0666/9741/files/flag-icon-white-01.svg?7407699648164922683"></span>

  <span class="frontier-story-byline">By Shoestring Adventures</span>
  <span class="frontier-story-title">How to Find Your Frontier Adventure Community</span>
   <span class="community-link"> 
     <a href="/blogs/lab/how-to-find-your-outdoor-adventure-community">Read Story</a>
  </span>
      </div>      
      </div>
    
    
 <div class="grid__item large--one-third text-center">
<a href="/blogs/lab/guided-by-light-in-the-northern-sky"><img class="community-image" src="https://cdn.shopify.com/s/files/1/0666/9741/files/FYF_brinlee.jpg?2513714921636277797" alt="Find Frontiers On The Edge Of The Earth" ></a>
<div class="community-image-holding">
<span class="frontier-flag-more-stories"><img src="https://cdn.shopify.com/s/files/1/0666/9741/files/flag-icon-white-01.svg?7407699648164922683"></span>

  <span class="frontier-story-byline">By Chris Brinlee Jr.</span>
  <span class="frontier-story-title">Find Frontiers On The Edge Of The Earth</span>
   <span class="community-link"> 
     <a href="/blogs/lab/guided-by-light-in-the-northern-sky">Read Story</a>
  </span>
      </div>      
      </div>
    
     <div class="grid__item large--one-third text-center">
<a href="/blogs/lab/fuel-your-frontier"><img class="community-image" src="https://cdn.shopify.com/s/files/1/0666/9741/files/FYF_freshOffTheGrid.jpg?2513714921636277797" alt="How To Build A Camp Kitchen" ></a>
<div class="community-image-holding">
<span class="frontier-flag-more-stories"><img src="https://cdn.shopify.com/s/files/1/0666/9741/files/flag-icon-white-01.svg?7407699648164922683"></span>

  <span class="frontier-story-byline">By Fresh Off The Grid</span>
  <span class="frontier-story-title">How To Build A Camp Kitchen</span>
   <span class="community-link"> 
     <a href="/blogs/lab/fuel-your-frontier">Read Story</a>
  </span>
      </div>      
      </div>
    
    
         <div class="grid__item large--one-third text-center">
<a href="/blogs/lab/frontier-gear-check"><img class="community-image" src="https://cdn.shopify.com/s/files/1/0666/9741/files/FYF_frontierGearCheck.jpg?14289829660967888802" alt="Frontier Gear Check" ></a>
<div class="community-image-holding">
<span class="frontier-flag-more-stories"><img src="https://cdn.shopify.com/s/files/1/0666/9741/files/flag-icon-white-01.svg?7407699648164922683"></span>

  <span class="frontier-story-byline">By Johnie Gall</span>
  <span class="frontier-story-title">How To Keep Your Gear In Check</span>
   <span class="community-link"> 
     <a href="/blogs/lab/frontier-gear-check">Read Story</a>
  </span>
      </div>      
      </div>
    


  </div>
</section>


