<div class="visitor-wrapper">


<section class="section-tight">
  <div class="wrapper">
   <div class="large--three-fifths grid__item visitor-left">
  <h1 class="primary semibold tight-title pt30 ">Hey! Welcome <br>to BioLite</h1>
              <h4 class="warm-gray light mt0 mb0 outside-subtitle">Take $10 off your first order with code <strong>GOCAMPING</strong> at checkout.</h4>

                <a href="#" data-control-modal="#hero-video--fineprint" title="Exclusions may apply. See the fine print."> <p class="fineprint warm-gray mb30 mt5">Exclusions may apply. See the<span style="text-decoration:underline"> fine print.</span></p> </a>
   <div id="hero-video" class="modal">

     <header class="modal__header">
      <div class="modal--close">
        <i class="fa fa-circle-border fa-circle-border--medium fa-times"></i>
      </div>
    </header>

    <div id="hero-video--fineprint" class="modal">
   <header class="modal__header">

     <div class="modal--close">
       <i class="fa fa-circle-border fa-circle-border--medium fa-times"></i>
     </div>
   </header>
   <div class="modal__content modal__content--video">
     <p class="light text-center pl30 pr30 pt40">Offer valid on biolitenergy.com purchases of £75 and above only. Cannot be combined with any other offer or used on any previous orders, shipping, or tax charges. Non-transferable and can not be redeemed as cash. Exclusions may apply. Offer expires in November 16, 2016.</p>   </div>
  </div>
  </div>

              <a href="/products?utm_source=google&utm_medium=cpc&utm_campaign=retargeting&utm_content=shop" class="btn btn-primary mt5" title="Explore the Shop"> <span>Explore the Shop</span> </a>


 </div>
  <div class="large--two-fifths grid__item visitor-right">
                   <h4 class="primary semibold tight-title">Welcome to BioLite</h4>
                   <p class="light warm-gray mt10">We're stoked you're here. Take a <a href="/products?utm_source=google&utm_medium=cpc&utm_campaign=retargeting&utm_content=look" style="color:#20A09D;" title="look around">look around</a> and if you like what you see, we've got $10 waiting for you at checkout. Just use code <strong>GOCAMPING</strong> and you're good to go. Thank you for helping us bring energy everywhere.</p>
                                   <p class="light semibold pt50 pb50 mobile-paragraph-tight">Want some backstory on BioLite? Read on below...</p>

 </div>

  </div>
</section>

</div>


<div class="wrapper--full mt60 mb60">
  <div class="road-to-impact">


<div class="impact-row">

<section class="product-cards product-cards--mission">
  <div class="product-card product-card">
    <div class="product-card__inner" style="background-image:url('https://cdn.shopify.com/s/files/1/0666/9741/files/backstory_card1.jpg?11912970540456275902');">
  <div class="product-card__content text-center">

        <h3 class="mt0 mb0 semibold white">Mission</h3>
         <h6 class="light white mt0">What is energy povery and what we're doing about it</h6>

    	<a href="/pages/mission?utm_source=google&utm_medium=cpc&utm_campaign=retargeting&utm_content=mission" class="btn btn-primary mt10" title="Read More"> <span>Read More</span> </a>
        </div>
      <div class="product-card__overlay"></div>
    </div>

  </div>


   <div class="product-card product-card">
    <div class="product-card__inner" style="background-image:url('https://cdn.shopify.com/s/files/1/0666/9741/files/backstory_card2.jpg?5923577186064820253');">
  <div class="product-card__content text-center">

        <h3 class="mt0 mb0 semibold white">Origins</h3>
         <h6 class="light white mt0">Two guys playing with fire</h6>

    	<a href="/pages/our-story?utm_source=google&utm_medium=cpc&utm_campaign=retargeting&utm_content=origins" class="btn btn-primary mt10" title="Read More"> <span>Read More</span> </a>
        </div>
      <div class="product-card__overlay"></div>
    </div>

  </div>
</section>
    </div>




     <!-- ROW 2 -->
<div class="impact-row">
<section class="product-cards product-cards--mission ">


   <div class="product-card product-card">
    <div class="product-card__inner" style="background-image:url('https://cdn.shopify.com/s/files/1/0666/9741/files/backstory_card3.jpg?5923577186064820253');">
  <div class="product-card__content text-center">

        <h3 class="mt0 mb0 semibold white">Blog</h3>
         <h6 class="light white mt0">Stories of adventure and impact all over the world</h6>

    	<a href="/pages/blog?utm_source=google&utm_medium=cpc&utm_campaign=retargeting&utm_content=blog" class="btn btn-primary mt10" title="Read More"> <span>Read More</span> </a>
        </div>
      <div class="product-card__overlay"></div>
    </div>

  </div>


  <div class="product-card product-card">
    <div class="product-card__inner" style="background-image:url('https://cdn.shopify.com/s/files/1/0666/9741/files/backstory_card4.jpg?5923577186064820253');">
  <div class="product-card__content text-center">

        <h3 class="mt0 mb0 semibold white">Gear</h3>
         <h6 class="light white mt0">Products that cook, charge, and light your life off grid</h6>

    	<a href="/products?utm_source=google&utm_medium=cpc&utm_campaign=retargeting&utm_content=gear" class="btn btn-primary mt10" title="Read More"> <span>Read More</span> </a>
        </div>
      <div class="product-card__overlay"></div>
    </div>

  </div>

</section>
    </div>




  </div>

</div>








