<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.0/jquery.matchHeight-min.js" type="text/javascript"></script>
{{ 'wow.min.js' | asset_url | script_tag }}


<script>
$(function() {
	$('.card-layout').matchHeight(false);

});
	</script>

<script src="js/wow.min.js"></script>
              <script>
              new WOW().init();
              </script>


<section id="shop">
<div class="billboard-tight" id="billboard-bwf">
    <div class="flexhero">
      <div class="main-billboard">
		<div class="main-billboard-content">
        <span class="billboard-tight-main holiday-text orange">better with friends</span>
        <span class="billboard-tight-subhead medium-grey">Today only, use the code below to unlock major deals across 7 sites. </span>
<span class="bwf-promo-code">PROMO HAS ENDED</span>
          <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/BWF_Hero_0616285b-b30e-4f45-bfae-6bee8683da71.jpg?7658916323823338139" alt="Better With Friends" title="Better With Friends" />

          <div class="scroll-down"><span class="scroll-down-msg holiday-text orange">SHOP THE DEALS</span><i class="icomoon icon-downArrow scroll-down-bouncy-arrow"></i></div>

         </div>
      </div>
  </div>
</div>
</section>


<a name="brands">
<section class="section-large">
  <div class="wrapper--max">   

    
<div class="grid__item large--one-third medium--one-half small--one-whole text-center wow fadeInUp">
  <div class="card-layout">
    <a href="/products"><img class="bwf-brands-image" src="https://cdn.shopify.com/s/files/1/0666/9741/files/BIolite_lifestyle.jpg?741120292127840872" alt="BioLite" >
    <div class="bwf-deal-bar">20% Off Select Items*</div>
      <span class="bwf-brand-icon"><img src="https://cdn.shopify.com/s/files/1/0666/9741/files/bwf_biolite_logo.png?1479346188716101124"></span></a>
    <span class="betterwithfriends-story-title">Stoves, lights, and solar panels for life outside</span>

    <span> 
                <a href="/products" class="btn btn-outline-orange bwf-shop-button" title="Shop Now">
                  <span>Shop BioLite</span>
                </a>
    </span>
    
    
    


    

</div>   
</div>
    
    
    <div class="grid__item large--one-third medium--one-half small--one-whole text-center wow fadeInUp">
  <div class="card-layout">
<a href="https://www.rumpl.com/collections/all" target="_blank"><img class="bwf-brands-image" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Rumpl_lifestyle_ba57e969-04f5-4bfc-afcd-7081463bc936.jpg?6619908150783288356" alt="Rumpl" >
      <div class="bwf-deal-bar">25% Off All Products</div>

<span class="bwf-brand-icon"><img src="https://cdn.shopify.com/s/files/1/0666/9741/files/rumpl_logo.png?8040404875332794941"></span></a>
  <span class="betterwithfriends-story-title">Versatile blankets for everywhere</span>
   <span> 
                <a href="https://www.rumpl.com/collections/all" target="_blank" class="btn btn-outline-orange" title="Shop Now">
                  <span>Shop Rumpl</span>
                </a>
    </span>
</div>   
</div>
    
    <div class="grid__item large--one-third medium--one-half small--one-whole text-center wow fadeInUp">
  <div class="card-layout">
<a href="https://store.sunski.com/" target="_blank"><img class="bwf-brands-image" src="https://cdn.shopify.com/s/files/1/0666/9741/files/sunski_lifestyle.jpg?11618723332455325664" alt="Sunski" >
      <div class="bwf-deal-bar">25% Off All Products*</div>

<span class="bwf-brand-icon"><img src="https://cdn.shopify.com/s/files/1/0666/9741/files/sunski_logo_a8babcf2-4d51-406b-81ad-ed1c92609d40.png?11618723332455325664"></span></a>
  <span class="betterwithfriends-story-title">Affordable, polarized sunglasses</span>
   <span> 
                <a href="https://store.sunski.com/" target="_blank" class="btn btn-outline-orange" title="Shop Now">
                  <span>Shop Sunski</span>
                </a>
    </span>
</div>   
</div>
    
        <div class="grid__item large--one-third medium--one-half small--one-whole text-center wow fadeInUp">
  <div class="card-layout">
<a href="https://www.kleankanteen.com/collections/all" target="_blank"><img class="bwf-brands-image" src="https://cdn.shopify.com/s/files/1/0666/9741/files/kleenKanteene_lifestyle.jpg?11618723332455325664" alt="Klean Kanteen" >
      <div class="bwf-deal-bar">25% Off All Products*</div>

<span class="bwf-brand-icon"><img src="https://cdn.shopify.com/s/files/1/0666/9741/files/kleanKanteen_logo.png?11618723332455325664"></span></a>
  <span class="betterwithfriends-story-title">Re-usable insulated water bottles, mugs, tumblers &amp; more</span>
   <span> 
                <a href="https://www.kleankanteen.com/collections/all" target="_blank" class="btn btn-outline-orange" title="Shop Now">
                  <span>Shop Klean Kanteen</span>
                </a>
    </span>
</div>   
</div>
    
 
        <div class="grid__item large--one-third medium--one-half small--one-whole text-center wow fadeInUp">
  <div class="card-layout">
<a href="https://www.tentsile.com/" target="_blank"><img class="bwf-brands-image" src="https://cdn.shopify.com/s/files/1/0666/9741/files/tentsile_lifestyle.jpg?11618723332455325664" alt="Tentsile" >
      <div class="bwf-deal-bar">Up To 30% Off Select Products*</div>

<span class="bwf-brand-icon"><img src="https://cdn.shopify.com/s/files/1/0666/9741/files/tentsile_logo_3ee19425-ce4f-49b8-8df9-1fcdf17f3e89.png?11618723332455325664"></span></a>
  <span class="betterwithfriends-story-title">Innovative portable tree tents</span>
   <span> 
                <a href="https://www.tentsile.com/" target="_blank" class="btn btn-outline-orange" title="Shop Now">
                  <span>Shop Tentsile</span>
                </a>
    </span>
</div>   
</div>   
    
           <div class="grid__item large--one-third medium--one-half small--one-whole text-center wow fadeInUp">
  <div class="card-layout">
<a href="https://www.peakdesign.com/" target="_blank"><img class="bwf-brands-image" src="https://cdn.shopify.com/s/files/1/0666/9741/files/peak_lifestyle.jpg?11618723332455325664" alt="Peak Design" >
      <div class="bwf-deal-bar">10% Off All Products*</div>

<span class="bwf-brand-icon"><img src="https://cdn.shopify.com/s/files/1/0666/9741/files/peakDesign_logo.png?11618723332455325664"></span></a>
  <span class="betterwithfriends-story-title">Professional-grade bags &amp; camera accessories</span>
   <span> 
                <a href="https://www.peakdesign.com/" target="_blank" class="btn btn-outline-orange" title="Shop Now">
                  <span>Shop Peak Design</span>
                </a>
    </span>
</div>   
</div>
    
    
             <div class="grid__item large--one-third medium--one-half small--one-whole text-center wow fadeInUp pb50">
  <div class="card-layout">
<a href="https://autocamp.com/" target="_blank"><img class="bwf-brands-image" src="https://cdn.shopify.com/s/files/1/0666/9741/files/autocamp_lifesty.jpg?11618723332455325664" alt="Autocamp" >
      <div class="bwf-deal-bar">15% Off AutoCamp Yosemite In March/April*</div>

<span class="bwf-brand-icon"><img src="https://cdn.shopify.com/s/files/1/0666/9741/files/autocamp_logo.png?11618723332455325664"></span></a>
  <span class="betterwithfriends-story-title">Custom Designed Airstreams Just Outside of Yosemite National Park</span>
   <span> 
                <a href="https://autocamp.com/" target="_blank" class="btn btn-outline-orange" title="Shop Now">
                  <span>Shop AutoCamp</span>
                </a>
    </span>
</div>   
</div>
    
    
 <div class="grid__item large--two-thirds medium--one-whole small--one-whole text-center wow fadeInUp pb50">
  <div class="card-layout bwf-impact-block" style="position:relative">
<div class="vertical-horizontal-center-80">
  <i class="icomoon icon-impact-new bwf-impact-icon"></i>
    <h3 class="alt holiday-text white text-center">GIFTS THAT GIVE BACK</h3>
    <p class="light white text-center">Each of the brands above are doing their part to get us outside and connect us to the land that we love. Whether it's donating 1% of profits to environmental non-profits, implementing sustainable business practices to offset emissions, or planting trees for every product sold, feel good knowing that these gifts give back to the great outdoors. Learn more about each brand's mission below:
</p>
   
     <div class="bwf-impact-logos">

  <div class="grid__item large--one-eighth medium--one-quarter small--one-quarter text-center">
    <a href="https://www.bioliteenergy.com/pages/mission" target="_blank"> <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/biolite_white.png?11291050822849582239"></a>
  </div>
   <div class="grid__item large--one-eighth medium--one-quarter small--one-quarter text-center">
    <a href="https://www.rumpl.com/pages/rumpl-gives-back" target="_blank"> <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/rumple_white.png?11291050822849582239"></a>
  </div>
   <div class="grid__item large--one-eighth medium--one-quarter small--one-quarter text-center">
    <a href="https://www.sunski.com/about.html" target="_blank"> <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/sunski_white.png?11291050822849582239"></a>
  </div>
   <div class="grid__item large--one-eighth medium--one-quarter small--one-quarter text-center">
    <a href="https://www.kleankanteen.com/pages/better-business" target="_blank"> <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/kleenKanteen_white.png?11291050822849582239"></a>
  </div>
   <div class="grid__item large--one-eighth medium--one-quarter small--one-quarter text-center">
    <a href="https://www.tentsile.com/pages/about-us" target="_blank"> <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/tentsile_white.png?11291050822849582239"></a>
  </div>
   <div class="grid__item large--one-eighth medium--one-quarter small--one-quarter text-center">
    <a href="https://www.peakdesign.com/pages/mission/" target="_blank"> <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/peak_white.png?11291050822849582239"></a>
  </div>
   <div class="grid__item large--one-eighth medium--one-quarter small--one-quarter text-center">
    <a href="https://autocamp.com/guides/help-autocamp-support-yosemite-fire-relief/" target="_blank"> <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/autocamp_white_21912736-af44-4af0-a128-ef982bdf8307.png?2678506176161333948"></a>
  </div>
  </div>
  
    <div class="grid__item large--one-whole text-center pt30">
      <h5 class="alt white">*Exclusions &amp; Restrictions Apply. <a href="#BWFfineprint" style="text-decoration:underline;color:white">See Full Discount Details</a></h5>
  </div>
  
         
        <div class="remodal" data-remodal-id="BWFfineprint" role="dialog" aria-labelledby="modalAll" data-remodal-options="closeOnOutsideClick: true">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
    <div class="grid__item remodal-background-content text-left">
      
     <h3 class="primary mt20 mb0">Better With Friends Terms &amp; Conditions</h3>
       <p class="light mb20"><strong>BIOLITE:</strong>  Offer valid on qualifying purchases only. Cannot be combined with any other offer, coupon, or used on any previous orders, shipping, or tax charges. Non-transferable and cannot be redeemed as cash. To redeem offer, add products to the shopping cart and enter code: "FRIENDS" at checkout. Offer expires Tuesday December 11, 2018 11:59 PM EST.</p>
       <p class="light mb20"><strong>TENTSILE:</strong>  This discount only applies to selected products.  Check out tentsile.com to see the range.</p>
     <p class="light mb20"><strong>KLEAN KANTEEN:</strong>  Applies to US orders only.</p>
      <p class="light mb20"><strong>SUNSKI:</strong> Discount may only be used once per customer.</p>
       <p class="light mb20"><strong>PEAK DESIGN:</strong>  Code applies to all products except bundle items and gift cards. Cannot be used with other promos or discounts.</p>
       <p class="light mb20"><strong>AUTOCAMP:</strong>  Promo code is subject to availability and black out dates. Cannot be applied to existing reservations or combined with any other offers.</p>
      </div>
</div>
  
  
  

    
    </div> 
</div>   
</div>
 
</div>
</section>

<div class="clearfix"></div>
  
<div class="footer-wrapper text-center">
  <div class="give-back-wrapper">
    <span class="impact-msg holiday-text-filled">HURRY - CODE EXPIRES AT MIDNIGHT TONIGHT</span>  
  </div>


</div>

