<div class="seemax-mission-page">
  <!-- Add actual Image URL from Shopify below -->
  <section class="hero-section background-image-section" style="background-image:url(https://cdn.shopify.com/s/files/1/0838/4957/files/hero-2_r2.jpg?v=1618423839)">
    <div class="hero-section-overlay"></div>
    <div class="wrapper">
      <div class="hero-section-text">
                <h3>We are on a mission</h3>
        <h1>to empower people &amp; protect our planet</h1>
        <h3> through access to renewable energy</h3>
      </div>
    </div>
  </section>

  <section class="impact-tracker-section">
    <div class="wrapper">
      <div class="impact-counter-intro">
        <h5>BIOLITE IMPACT TRACKER</h5>
        <h6>LAST UPDATED April 2022</h6>
        <h5><a href="https://biolitemedia.s3.amazonaws.com/Impact2022/2021_BioLite_Impact_Report.pdf" target="_blank">Download Full Impact Report</a></h5>
      </div>
      <div class="impact-counter-container">
        <div class="single-impact-counter">
          <div class="impact-counter-icon">
            <img src="https://cdn.shopify.com/s/files/1/0838/4957/files/person.svg?v=1618424692" alt="People Reached">
          </div>
          <div class="impact-counter-text">
            <!-- data-count is the number it will count up to. Dont add commas  -->
            <h2 data-count="3612951" id="impact-numbers-1" class="impact-counter-numbers">0</h2>
            <h5>people reached in Africa and Asia</h5>
          </div>
        </div>
        <div class="single-impact-counter">
          <div class="impact-counter-icon">
            <img src="https://cdn.shopify.com/s/files/1/0838/4957/files/bolt.svg?v=1618424692" alt="Electricity Generated">
          </div>
          <div class="impact-counter-text">
            <!-- data-count is the number it will count up to. Dont add commas  -->
            <h2 data-count="4812600" id="impact-numbers-2" class="impact-counter-numbers">0</h2>
            <h5>kilowatt hours of electricity generated</h5>
          </div>
        </div>
        <div class="single-impact-counter">
          <div class="impact-counter-icon">
            <img src="https://cdn.shopify.com/s/files/1/0838/4957/files/carbon.svg?v=1618424692" alt="Carbon Offset">
          </div>
          <div class="impact-counter-text">
            <!-- data-count is the number it will count up to. Dont add commas  -->
            <h2 data-count="718964 " id="impact-numbers-3" class="impact-counter-numbers">0</h2>
            <h5>tons of CO2 offset by our products</h5>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="why-we-exist-section">
    <div class="wrapper">
      <div class="exist-globe-background">
        <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/exist-globe.svg?v=1620912279" alt="why we exist globe">
      </div>
      <div class="exist-intro">
        <h5>WHY ENERGY</h5>
        <h2>Energy Keeps Us Safe, Productive & connected</h2>
        <p>
          However, the world’s current harnessing and consumption of energy is 
          <span>unavailable to many and  unsustainable for all of us.</span>
          
          
        </p>
      </div>
      <div class="exist-body">
                <h2>Our Vision</h2>

        <p>
          This planet’s future will be shared by all of us - and we're 
           here to <span>make that future bright for everyone.</span>
          <br><br><br>
          Our vision is to provide 20 million people with access to clean energy and to avoid 3 million tons of CO2e by the year 2025.
        </p>
      </div>
    </div>
  </section>

  <section class="what-we-make-section">
    <div class="wrapper">
      <div class="what-we-make-intro section-vert-list-container">
        <h5>What We Make</h5>
        <h2>Our Energy Ecosystem</h2>
        <p>
          BioLite creates affordable, durable products that harness surrounding energy to 
          <span>cook</span>, <span>charge</span>, and <span>light</span> 
          daily life for off-grid households.  
        <p>
        <div class="section-vert-list">
          <!-- Choose The Slide Number (out of the total number of slides) to be the first in this category -->
          <!-- Update data-slide with that slides number in the order of all slides -->
          <div class="section-vert-category weMakeCategory" data-slide="1">
          <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/make-lighting-icon.svg?v=1620912549" alt="lighting icon">
            <div class="section-vert-category-text">
              Lighting
            </div>
          </div>
          <!-- Choose The Slide Number (out of the total number of slides) to be the first in this category -->
          <!-- Update data-slide with that slides number in the order of all slides -->
          <div class="section-vert-category weMakeCategory" data-slide="3">
          <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/make-lighting-icon.svg?v=1620912549" alt="health icon">
            <div class="section-vert-category-text">
              Cooking
            </div>
          </div>
          <!-- Choose The Slide Number (out of the total number of slides) to be the first in this category -->
          <!-- Update data-slide with that slides number in the order of all slides -->
          <div class="section-vert-category weMakeCategory" data-slide="1">
            <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/make-charging-icon.svg?v=1620912489" alt="charging icon">
            <div class="section-vert-category-text">
              Charging
            </div>
          </div>
        </div>
      </div>
      
      <div class="what-we-make-slider">
        <!-- Start of Slider Container -->
        <div class="what-we-make-slider-container">
          <!-- This Container is split in half. -->
          <!-- Update the Product Half and Lifestyle Half Below -->
          <!-- Keep Image Sizes consistent or slider frame will look off -->
          <div class="what-we-make-dual-slide-container">
            <div class="we-make-product-half whatWeMakeSliderContainer">  
              <!-- Start of Slide #1 Product Half -->
              <div class="we-make-product-half-slide">
                <img class="make-slider-products" src="https://cdn.shopify.com/s/files/1/0666/9741/files/what-we-make-prods-1.png?v=1618236979" alt="SolarHome 5000">
                <div class="make-slider-text-area">
                  <div class="make-slider-text">
                    PRODUCT: <span>SolarHome 5000</span>
                  </div>
                  <div class="make-slider-text">
                    Function:
                    <img class="make-slider-icon" src="https://cdn.shopify.com/s/files/1/0666/9741/files/make-cooking-icon.svg?v=1620912520" alt="health icon">
                    <img class="make-slider-icon slider-icon-light" src="https://cdn.shopify.com/s/files/1/0666/9741/files/make-lighting-icon.svg?v=1620912549" alt="lighting icon">
                  </div>
                </div>
              </div>
              <!-- End of Slide #1 Product Half -->
              <!-- Start of Slide #2 Product Half -->
              <div class="we-make-product-half-slide">
                <img class="make-slider-products" src="https://cdn.shopify.com/s/files/1/0666/9741/files/SH620.png?v=1618236941" alt="SolarHome 620">
                <div class="make-slider-text-area">
                  <div class="make-slider-text">
                    PRODUCT: <span>SolarHome 620</span>
                  </div>
                  <div class="make-slider-text">
                    Function:
                    <img class="make-slider-icon" src="https://cdn.shopify.com/s/files/1/0666/9741/files/make-charging-icon.svg?v=1620912489" alt="charging icon">
                    <img class="make-slider-icon" src="https://cdn.shopify.com/s/files/1/0666/9741/files/make-cooking-icon.svg?v=1620912520" alt="health icon">
                  </div>
                </div>
              </div>
              <!-- End of Slide #2 Product Half -->
              <!-- Start of Slide #3 Product Half -->
              <div class="we-make-product-half-slide">
                <img class="make-slider-products" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Homestove.png?v=1618236941" alt="HomeStove">
                <div class="make-slider-text-area">
                  <div class="make-slider-text">
                    PRODUCT: <span>HomeStove</span>
                  </div>
                  <div class="make-slider-text">
                    Function:
                    <img class="make-slider-icon" src="https://cdn.shopify.com/s/files/1/0666/9741/files/make-cooking-icon.svg?v=1620912520" alt="charging icon">
                    <img class="make-slider-icon slider-icon-light" src="https://cdn.shopify.com/s/files/1/0666/9741/files/make-charging-icon.svg?v=1620912489" alt="lighting icon">
                  </div>
                </div>
              </div>
              <!-- End of Slide #3 Product Half -->
              
                 <!-- Start of Slide #4 Product Half -->
              <div class="we-make-product-half-slide">
                <img class="make-slider-products" src="https://cdn.shopify.com/s/files/1/0666/9741/files/JikoMalkia.png?v=1618236941" alt="JikoMalkia">
                <div class="make-slider-text-area">
                  <div class="make-slider-text">
                    PRODUCT: <span>JikoMalkia</span>
                  </div>
                  <div class="make-slider-text">
                    Function:
                    <img class="make-slider-icon" src="https://cdn.shopify.com/s/files/1/0666/9741/files/make-cooking-icon.svg?v=1620912520" alt="charging icon">
                    
                  </div>
                </div>
              </div>
              <!-- End of Slide #4 Product Half -->
              
                 <!-- Start of Slide #5 Product Half -->
              <div class="we-make-product-half-slide">
                <img class="make-slider-products" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Sunlight100.png?v=1618236941" alt="SunLight">
                <div class="make-slider-text-area">
                  <div class="make-slider-text">
                    PRODUCT: <span>SunLight</span>
                  </div>
                  <div class="make-slider-text">
                    Function:
                    <img class="make-slider-icon" src="https://cdn.shopify.com/s/files/1/0666/9741/files/make-lighting-icon.svg?v=1620912549" alt="lighting icon">
                  </div>
                </div>
              </div>
              <!-- End of Slide #5 Product Half -->
            </div>
            
            <div dir="rtl" class="we-make-image-half lifestyleImageSlider">  
              <!-- Start of Slide #1 Lifestyle Half -->
              <img class="make-slider-lifestyle" src="https://cdn.shopify.com/s/files/1/0666/9741/files/what-we-make-1.jpg?v=1618236962" alt="SolarHome 5000">
              <!-- End of Slide #1 Lifestyle Half -->
              <!-- Start of Slide #2 Lifestyle Half -->
              <img class="make-slider-lifestyle" src="https://cdn.shopify.com/s/files/1/0666/9741/files/sh620_lifestyle.png?v=1618236941" alt="SolarHome 620">
              <!-- End of Slide #2 Lifestyle Half -->
              <!-- Start of Slide #3 Lifestyle Half -->
              <img class="make-slider-lifestyle" src="https://cdn.shopify.com/s/files/1/0666/9741/files/homestove_lifestyle.png?v=1618236941" alt="HomeStove">
              <!-- End of Slide #3 Lifestyle Half -->
               <!-- Start of Slide #4 Lifestyle Half -->
              <img class="make-slider-lifestyle" src="https://cdn.shopify.com/s/files/1/0666/9741/files/jiko_lifestyle.png?v=1618236941" alt="JikoMalkia">
              <!-- End of Slide #4 Lifestyle Half -->
               <!-- Start of Slide #5 Lifestyle Half -->
              <img class="make-slider-lifestyle" src="https://cdn.shopify.com/s/files/1/0666/9741/files/sunlight_lifestyle.png?v=1618236941" alt="SunLight">
              <!-- End of Slide #5 Lifestyle Half -->
            </div>

          </div>
        </div>
        <!-- End of Slider Container -->
        <div class="slider-nav-container">
          <div class="slider-nav-arrow sliderPrevNavArrow"></div>
          <div class="slider-nav-progress-bar sliderNavProgressBar"></div>
          <div class="slider-nav-arrow slider-next-arrow sliderNextNavArrow"></div>
        </div>
      </div>
    </div>
  </section>

  <section class="where-we-operate-section">
    <div class="wrapper">
      <div class="where-we-operate-map">
        <!-- Put this in the actual code for Shopify -->
        {% render 'seemax-africa-map' %}
        <div class="where-we-operate-map-key">
          <div class="single-map-key">
            <div class="map-key-square map-key-checks"></div>
            <span>Countries where energy poverty exists</span>
          </div>
          <div class="single-map-key">
            <div class="map-key-square"></div>
            <span>Countries where BIOLITE OPERATES</span>
          </div>
          <div class="operate-next-section-link">
            <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/next-section-arrow.svg?v=1620912633" alt="next icon">
            <a href="#energy-poverty">
              What is Energy Poverty?
            </a>
          </div>
        </div>
      </div>

      <div class="where-we-operate-intro">
        <h5>Where we operate</h5>
        <h2>Bringing Energy Everywhere</h2>
        <p>
          Headquartered in Nairobi Kenya, the BioLite Emerging Markets (EM) Team works closely with key partners across 23 countries to provide last-mile distribution, training, and financing to remote customers. 
        </p>
        <div class="where-we-operate-list">
          <!-- Start Single List Item -->
          <div class="operate-list-single-item">
            <div class="operate-list-single-title">
              <img class="operate-list-icon" src="https://cdn.shopify.com/s/files/1/0666/9741/files/where-we-operate-map-icon.svg?v=1620913093" alt="map icon">
              Nairobi, Kenya
            </div>
            <div class="operate-list-single-subtitle">
              BIOLITE AFRICA HQ
            </div>
          </div>
          <!-- End Single List Item -->

          <!-- Start Single List Item -->
          <div class="operate-list-single-item">
            <div class="operate-list-single-title">
              <img class="operate-list-icon" src="https://cdn.shopify.com/s/files/1/0666/9741/files/person2-01.svg?v=1620912678" alt="person icon">
              46
            </div>
            <div class="operate-list-single-subtitle">
              BIOLITE AFRICA EMPLOYEES
            </div>
          </div>
          <!-- End Single List Item -->

          <!-- Start Single List Item -->
          <div class="operate-list-single-item">
            <div class="operate-list-single-title">
              <img class="operate-list-icon" src="https://cdn.shopify.com/s/files/1/0666/9741/files/person2-01.svg?v=1620912678" alt="person icon">
              3000+
            </div>
            <div class="operate-list-single-subtitle">
              PARTNER FIELD AGENTS
            </div>
          </div>
          <!-- End Single List Item -->

          <!-- Start Single List Item -->
          <div class="operate-list-single-item">
            <div class="operate-list-single-title">
              <img class="operate-list-icon" src="https://cdn.shopify.com/s/files/1/0838/4957/files/world.svg?v=1618424692" alt="world icon">
              11
            </div>
            <div class="operate-list-single-subtitle">
              LANGAUGES SPOKEN BY AGENTS
            </div>
          </div>
          <!-- End Single List Item -->
          
        </div>
      </div>
    
    </div>
  </section>
  
  <section id="energy-poverty" class="what-is-energy-poverty-section">
    <div class="background-map">
      <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/what-is-map-2x.jpg?v=1620913029" alt="Light Map">
    </div>
    <div class="lights-overlay lightsOverlay"></div>
    <div class="wrapper">
      <div class="energy-poverty-intro section-vert-list-container">
        <h5>WHAT IS ENERGY POVERTY</h5>
        <h2>Access To Electricity Is Limited for Over 1.2 Billion People</h2>
        <p>
        This forces households to rely on dangerous and expensive 
        energy sources that dramatically impact every day life:
        </p>
        <div class="section-vert-list">
          <!-- Start Popup Container -->
          <div class="poverty-popup-container">
            <!-- Start Energy Poverty Popup #1 -->
            <div class="single-poverty-pop-up">
              <div class="poverty-popup-close povertyPopupClose">&times;</div>
              <div class="poverty-popup-image">
                <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/CarryingFuel2_r2.jpg?v=1618416171" alt="Time and Finance">
              </div>
              <div class="poverty-popup-text">
                <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/time-icon.svg?v=1620912897" alt="Time and Finance icon">
                Families spend disproportionately large amounts
                of time and income collecting wood and paying for kerosene. 
              </div>
            </div>
            <!-- End Energy Poverty Popup #1 -->
            <!-- Start Energy Poverty Popup #2 -->
            <div class="single-poverty-pop-up">
              <div class="poverty-popup-close povertyPopupClose">&times;</div>
              <div class="poverty-popup-image">
              <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/Electricity_1.jpg?v=1618416345" alt="Connectivity">
              </div>
              <div class="poverty-popup-text">
              <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/Connectivity_Icon.svg?v=1620911708" alt="connectivity icon">
                A transformative tool for economic development and communication, 
                mobile phones are hindered by being unable to charge at home.
              </div>
            </div>
            <!-- End Energy Poverty Popup #2 -->
            
               <!-- Start Energy Poverty Popup #3 -->
            <div class="single-poverty-pop-up">
              <div class="poverty-popup-close povertyPopupClose">&times;</div>
              <div class="poverty-popup-image">
              <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/Kerosene_Lighting_India.jpg?v=1618416345" alt="Lighting">
              </div>
              <div class="poverty-popup-text">
              <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/Lighting_Icon.svg?v=1620911844" alt="lighting icon">
                With limited resources for illumination, hours for family, study, and work are cut short when the sun goes down.
              </div>
            </div>
            <!-- End Energy Poverty Popup #3 -->
            
               <!-- Start Energy Poverty Popup #4 -->
            <div class="single-poverty-pop-up">
              <div class="poverty-popup-close povertyPopupClose">&times;</div>
              <div class="poverty-popup-image">
              <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/Health_1.jpg?v=1618416345" alt="Health">
              </div>
              <div class="poverty-popup-text">
              <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/Health_Icon.svg?v=1620911748" alt="health icon">
                Open fire cooking causes over 4 million deaths per year. 
                Conditions like heart disease and COPD are directly linked to the toxic smoke inhaled by the billions of people still cooking over biomass fires.
              </div>
            </div>
            <!-- End Energy Poverty Popup #4 -->
            
               <!-- Start Energy Poverty Popup #5 -->
            <div class="single-poverty-pop-up">
              <div class="poverty-popup-close povertyPopupClose">&times;</div>
              <div class="poverty-popup-image">
              <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/Climate2.jpg?v=1618416345" alt="Climate">
              </div>
              <div class="poverty-popup-text">
              <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/Climate_Icon.svg?v=1620911632" alt="connectivity icon">
                Open fires also release significant amounts of CO2 and produce a staggering 25% of global black carbon emissions. 
                This is more than all the world’s cars and trucks combined.
              </div>
            </div>
            <!-- End Energy Poverty Popup #5 -->
            
          </div>
          <!-- End Popup Container -->
          <div class="section-vert-category povertyPopupTrigger" data-pop-up-trigger="1">
          <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/Time_Icon.svg?v=1620912022" alt="Time and Finance icon">
            <div class="section-vert-category-text">
              TIME & FINANCES
            </div>
          </div>
          <div class="section-vert-category povertyPopupTrigger" data-pop-up-trigger="2">
          <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/connectivity-icon.svg?v=1620912180" alt="connectivity icon">
            <div class="section-vert-category-text">
              CONNECTIVITY
            </div>
          </div>
          <div class="section-vert-category povertyPopupTrigger" data-pop-up-trigger="3">
            <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/lighting-icon.svg?v=1620912425" alt="lighting icon">
            <div class="section-vert-category-text">
              LIGHTING
            </div>
          </div>
          <div class="section-vert-category povertyPopupTrigger" data-pop-up-trigger="4">
            <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/health-icon.svg?v=1620912312" alt="health icon">
            <div class="section-vert-category-text">
              HEALTH
            </div>
          </div>
          <div class="section-vert-category povertyPopupTrigger" data-pop-up-trigger="5">
            <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/climate-icon.svg?v=1620912143" alt="climate icon">
            <div class="section-vert-category-text">
              Climate
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="our-impact-section">
    <div class="wrapper">
      <div class="impact-intro-half">
        <div class="impact-intro-text">
          <h5>THE IMPACT</h5>
          <h2>What Energy Changes</h2>
          <p>
            Beyond an immediate task, energy access creates a cascade of impact on how customers spend their time and money. 
          </p>
          <!--<div class="mission-button">
            <span>READ MORE ON OUR BLOG</span>
            <a href="/blog" class="c-block-fill"></a>  
          </div>-->
        </div>
        <div class="single-impact-persona">
          <div class="impact-persona-text impactPersona2Text">
            <h6>BIOLITE CUSTOMER</h6>
            <h2>ABDI</h2>
            <h6>EDUCATION IMPACT</h6>
            <h2>350 HOURS</h2>
            <p>
              per year of additional study time through extended lighting at night 
            </p>
          </div>
          <div class="impact-persona-image impactPersona2">
            {% render 'seemax-persona-elements-2' %}
          </div>
        </div>
      </div>
      <div class="impact-content-half">
        <!-- Add the class "single-impact-persona-reversed" to swap image and text position -->
        <div class="single-impact-persona single-impact-persona-reversed">
          <div class="impact-persona-text impactPersona1Text">
            <h6>BIOLITE CUSTOMER</h6>
            <h2>TERESA</h2>
            <h6>FINANCIAL IMPACT</h6>
            <h2>$173/YEAR</h2>
            <p>
              saved annually on fuel by replacing traditional cooking methods with BioLite Stoves
            </p>
          </div>
          <div class="impact-persona-image impactPersona1">
            {% render 'seemax-persona-elements' %}
          </div>
        </div>

        <div class="single-impact-persona">
          <div class="impact-persona-text impactPersona3Text">
            <h6>BIOLITE CUSTOMER</h6>
            <h2>MARY</h2>
            <h6>TIME IMPACT</h6>
            <h2>51 MIN/DAY</h2>
            <p>
              saved because she’s collecting less fuel for cooking, now using a BioLite JikoMalkia Stove.
            </p>
          </div>
          <div class="impact-persona-image impactPersona3">
            {% render 'seemax-persona-elements-3' %}
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="biolite-tv-section">
    <div class="biolite-tv-black-back c-block-fill"></div>
    <div class="wrapper">
      <div class="biolite-tv-intro">
        <div class="biolite-tv-intro-text">
          <h5>WATCH: BIOLITE TV</h5>
          <h2>Impact In Motion</h2>
          <p>
            Join us on our journey to bring energy everywhere in our short-form docuseries. 
            From roadside restauranteurs to smallshare farmers, meet the customers we work with and the team working tirelessly to solve some of the worlds biggest challenges.

          </p>
        </div>
      </div>
      <div class="biolite-tv-video-frame">
        <!-- This is where the iframe loads -->
      	<div id="biolitetv"></div>
	    <div class="biolite-tv-video-preview-image-container bioliteTvVideoPreviewImageContainer">
		<!-- Images go in reverse order from 4 to 1 -->
          <div 
            class="biolite-tv-video-preview-image bioliteTvVideoPreviewImage" 
            data-preview-image="4" 
           >
              <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/MobileMoney_page_thumb_24acfed6-f91a-4960-a815-be58be258fc3.jpg?v=1618272124" alt="Mobile Money">
          </div>
          <div 
            class="biolite-tv-video-preview-image bioliteTvVideoPreviewImage" 
            data-preview-image="3" 
           >
              <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/ForestTrees_page_thumb_670e6584-0e63-4aef-9d82-07c71654945f.jpg?v=1618272124" alt="Forest For The Trees">
          </div>
          <div 
            class="biolite-tv-video-preview-image bioliteTvVideoPreviewImage" 
            data-preview-image="2" 
           >
              <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/GridInSky_page_thumb_62f025fc-bfb5-401e-b00b-4066869e8dac.jpg?v=1618272125" alt="Grid In The Sky">
          </div>
          <div 
            class="biolite-tv-video-preview-image bioliteTvVideoPreviewImage" 
            data-preview-image="1" 
           >
              <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/video-still-1.jpg?v=1618272124" alt="The Power Of Home">
          </div>         
        </div>
        <img class="biolite-tv-play-button tvPlayButton" data-video-active="" src="https://cdn.shopify.com/s/files/1/0666/9741/files/play-button.svg?v=1620912861" alt="play button"> 
      </div>
	  <div class="biolite-tv-card-container-back bioliteTvCardContainerBack"></div>
      <div class="biolite-tv-card-container bioliteTvCardContainer">
        <!-- Start Biolite TV Card #1 -->
        <div 
          class="single-biolite-tv-card firstSingleBioliteTVCard "
          data-video-link="akFjpLHDKGE" 
          data-preview-image-trigger="1"
        >
          <div class="tv-card-column">
            <div class="tv-card-title-single-group tvCardTitleSingleGroup">
              <h5>The Power Of Home</h5>
            </div>
            <div class="tv-card-details-single-group">
              <img class="tv-icon-teal tvIconTeal" src="https://cdn.shopify.com/s/files/1/0666/9741/files/tv-map-icon-teal.svg?v=1620912931" alt="video still 1">
              <img class="tv-icon-white tvIconWhite" src="https://cdn.shopify.com/s/files/1/0666/9741/files/tv-map-icon-white.svg?v=1620912974" alt="video still 1">
              <h6>TITLE</h6>
            </div>
          </div>
          <div class="tv-card-column tv-card-column-2">
            <div class="tv-card-title-single-group tvCardTitleSingleGroup">
              <h5>4:07</h5>
            </div>
            <div class="tv-card-details-single-group">
              <img class="tv-icon-teal tvIconTeal" src="https://cdn.shopify.com/s/files/1/0666/9741/files/tv-map-icon-teal.svg?v=1620912931" alt="video still 1">
              <img class="tv-icon-white tvIconWhite" src="https://cdn.shopify.com/s/files/1/0666/9741/files/tv-map-icon-white.svg?v=1620912974" alt="video still 1">
              <h6>RUNTIME</h6>
            </div>
          </div>
          <p>
             In the Kakamega region of western Kenya, Kennedy Yamame 
            is bringing light, power, and music to the community he grew up in. 
          </p>
        </div>
        <!-- End Biolite TV Card #1 -->
        <!-- Start Biolite TV Card #2 -->
        <!-- data-video-link is the unique ID from the youtube video -->
        <div 
          class="single-biolite-tv-card" 
          data-video-link="vmvU-VpEFiE" 
          data-preview-image-trigger="2"
        >
          <div class="tv-card-column">
            <div class="tv-card-title-single-group tvCardTitleSingleGroup">
              <h5>Grid In The Sky</h5>
            </div>
            <div class="tv-card-details-single-group">
              <img class="tv-icon-teal tvIconTeal" src="https://cdn.shopify.com/s/files/1/0666/9741/files/tv-map-icon-teal.svg?v=1620912931" alt="video still 1">
              <img class="tv-icon-white tvIconWhite" src="https://cdn.shopify.com/s/files/1/0666/9741/files/tv-map-icon-white.svg?v=1620912974" alt="video still 1">
              <h6>TITLE</h6>
            </div>
          </div>
          <div class="tv-card-column tv-card-column-2">
            <div class="tv-card-title-single-group tvCardTitleSingleGroup">
              <h5>4:51</h5>
            </div>
            <div class="tv-card-details-single-group">
              <img class="tv-icon-teal tvIconTeal" src="https://cdn.shopify.com/s/files/1/0666/9741/files/tv-map-icon-teal.svg?v=1620912931" alt="video still 1">
              <img class="tv-icon-white tvIconWhite" src="https://cdn.shopify.com/s/files/1/0666/9741/files/tv-map-icon-white.svg?v=1620912974" alt="video still 1">
              <h6>RUNTIME</h6>
            </div>
          </div>
          <p>
            A traditional electrical grid will take up to 40 years to 
            complete in east Africa – that’s simply too long.  
          </p>
        </div>
        <!-- End Biolite TV Card #2 -->
        <!-- Start Biolite TV Card #3 -->
        <!-- data-video-link is the unique ID from the youtube video -->        
        <div 
          class="single-biolite-tv-card" 
          data-video-link="fgKK0CXkVvk" 
          data-preview-image-trigger="3"
        >
          <div class="tv-card-column">
            <div class="tv-card-title-single-group tvCardTitleSingleGroup">
              <h5>Forest For The Trees</h5>
            </div>
            <div class="tv-card-details-single-group">
              <img class="tv-icon-teal tvIconTeal" src="https://cdn.shopify.com/s/files/1/0666/9741/files/tv-map-icon-teal.svg?v=1620912931" alt="video still 1">
              <img class="tv-icon-white tvIconWhite" src="https://cdn.shopify.com/s/files/1/0666/9741/files/tv-map-icon-white.svg?v=1620912974" alt="video still 1">
              <h6>TITLE</h6>
            </div>
          </div>
          <div class="tv-card-column tv-card-column-2">
            <div class="tv-card-title-single-group tvCardTitleSingleGroup">
              <h5>5:10</h5>
            </div>
            <div class="tv-card-details-single-group">
              <img class="tv-icon-teal tvIconTeal" src="https://cdn.shopify.com/s/files/1/0666/9741/files/tv-map-icon-teal.svg?v=1620912931" alt="video still 1">
              <img class="tv-icon-white tvIconWhite" src="https://cdn.shopify.com/s/files/1/0666/9741/files/tv-map-icon-white.svg?v=1620912974" alt="video still 1">
              <h6>RUNTIME</h6>
            </div>
          </div>
          <p>
            Kenya is losing its forests; one of the fastest ways to 
            curb that is to address open-fire wood cooking. 
          </p>
        </div>
        <!-- End Biolite TV Card #3 -->
        <!-- Start Biolite TV Card #4 -->
        <!-- data-video-link is the unique ID from the youtube video -->        
        <div 
          class="single-biolite-tv-card" 
          data-video-link="2IXT1l6nkNI" 
          data-preview-image-trigger="4"
        >
          <div class="tv-card-column">
            <div class="tv-card-title-single-group tvCardTitleSingleGroup">
              <h5>Mobile Money</h5>
            </div>
            <div class="tv-card-details-single-group">
              <img class="tv-icon-teal tvIconTeal" src="https://cdn.shopify.com/s/files/1/0666/9741/files/tv-map-icon-teal.svg?v=1620912931" alt="video still 1">
              <img class="tv-icon-white tvIconWhite" src="https://cdn.shopify.com/s/files/1/0666/9741/files/tv-map-icon-white.svg?v=1620912974" alt="video still 1">
              <h6>TITLE</h6>
            </div>
          </div>
          <div class="tv-card-column tv-card-column-2">
            <div class="tv-card-title-single-group tvCardTitleSingleGroup">
              <h5>4:39</h5>
            </div>
            <div class="tv-card-details-single-group">
              <img class="tv-icon-teal tvIconTeal" src="https://cdn.shopify.com/s/files/1/0666/9741/files/tv-map-icon-teal.svg?v=1620912931" alt="video still 1">
              <img class="tv-icon-white tvIconWhite" src="https://cdn.shopify.com/s/files/1/0666/9741/files/tv-map-icon-white.svg?v=1620912974" alt="video still 1">
              <h6>RUNTIME</h6>
            </div>
          </div>
          <p>
           Trading talktime has evolved into a thriving 
            digital economy where cashless transactions empower rural households. 
          </p>
        </div>
        <!-- End Biolite TV Card #4 -->
      </div>
    </div>
  </section>
  <section class="your-impact-section">
    <div class="wrapper">
      <div class="your-impact-intro">
        <div class="your-impact-intro-text">
          <h5>BUSINESS MODEL</h5>
          <h2>YOUR IMPACT</h2>
          <p>
           Your purchase of BioLite products helps us invest in the team, engineering, and programs required to design solutions for the entire business. We call it Parallel Innovation - you make it possible.
          </p>
        </div>
      </div>
      <div class="your-impact-images">
        <div class="your-impact-left-image">
          <img src="https://cdn.shopify.com/s/files/1/0838/4957/files/your-impact-image-1_r3.png?v=1618423284" alt="Outdoor Recreation">
        </div>
        <div class="your-impact-right-image">
          <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/your-impact-image-2.jpg?v=1620913133" alt="Emerging Markets">
        </div>
        <div class="your-impact-logo">
          <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/your-impact-logo.svg?v=1620913156" alt="Your Impact Logo">
        </div>
      </div>
    </div>
  </section>
  <section class="impact-footer-section" style="background-image:url(https://cdn.shopify.com/s/files/1/0666/9741/files/impact-footer-back-full.jpg?v=1620912358)">
    <div class="wrapper">
      <div class="impact-footer-intro-text">
        <h2>Ready To Bring Energy Everywhere?</h2>
        <p>
          Check out the BioLite Shop today for your off-grid life. Every purchase makes an impact. 
        </p>
        <div class="mission-button">
          <span>visit the shop</span>
          <a href="/products"></a>
        </div>
      </div>
    </div>
  </section>
</div>