<section class="section-xlarge text-center pt50 pb50">
<div class="wrapper">   

  <div class="grid__item large ">
      <span class="impact-title primary">Inquiry Received</span>
      <p class="light warm-gray pb20">Thank you for your submission. A BioLite team member will be in touch within 1-2 business days if your inquiry requires a response. </p>
  </div>
  
  </div>

  
</section>

 



      


      


      

  
