<div class="referral-wrapper">


<section class="section-tight">
  <div class="wrapper">
   <div class="large--three-fifths grid__item referral-left">
    <!--<img src ="https://cdn.shopify.com/s/files/1/0666/9741/files/placeholder_logo.jpg?4723327929433794991" style="height:200px;" class="mt20 mb20">-->
  <h1 class="primary semibold tight-title pt30 ">Refer A Friend. <br>Fuel Adventure.</h1>
              <h4 class="warm-gray light mt0 mb30">Share BioLite. Get $20. Everybody Wins.</h4>
  
  

   <p class="light">Sign up for your own custom referral link. Share it with friends, family, co-workers (you get the idea) and it’ll give them $20 off their first order. When they buy something from your link, you get $20 to the BioLite shop.</p>
  <p class="light semibold">Easy as that.</p>
 </div>
 
  <div class="large--two-fifths grid__item referral-right">
                   <iframe id="refcandy-candyjar" data-id="nslq83g4ccgyjd5oqy51zmef0" data-height="700" data-width="100%" frameborder=0></iframe>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//portal.referralcandy.com/assets/widgets/refcandy-candyjar.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","refcandy-candyjar-js");</script>
 </div>

  </div>
</section>

</div>


          
             
             
             
           
   
