
<section class="section-xlarge">
  <div class="wrapper">
      <div class="grid__item push--large--one-fifth large--three-fifths text-center mb30">
        <h2 class="bold primary mb0">BioLite Brand Guidelines</h2>
        <p class="light">Below is a list of resources available for BioLite's creative and retail partners. Looking for something not listed below? Get in touch with the <a href="mailto:brand@bioliteenergy.com?subject=Question%20for%20the%20BioLite%20Brand%20Team&body=" style="color:#008fa1;font-weight:600;">BioLite Brand Team</a>.</p>
      
        <a href="https://biolitemisc.s3-us-west-2.amazonaws.com/032021_BioLite_BrandGuidelines.pdf" target="_blank" class="btn btn-primary mt20 mb20" title="Shop Deal">
                  <span>Download Brand Guidelines </span>
                </a>
    </div>
    
    <div class="clearfix"></div>
    
          <div class="grid__item large--one-third medium--one-half small--one-half text-center brand-guidelines-block-padder">
            <div class="brand-guidelines-block">
            <a href="https://www.dropbox.com/sh/sqvle9jyqjcg799/AACq8BwNC8Fyp1yW2295l4Kea?dl=0"><i class="icomoon icon-bioliteicon icons-brand-guidelines"></i>   
            <h4 class="alt primary mb0">Logos</h4></a>
            </div>
    </div>
    
              <div class="grid__item large--one-third medium--one-half small--one-half text-center brand-guidelines-block-padder">
              <div class="brand-guidelines-block">
            <a href="https://www.dropbox.com/sh/uvledbl7vwb2te9/AACZNjiesgmU2iedw5C4hIHpa?dl=0"><i class="icomoon icon-font icons-brand-guidelines"></i>   
            <h4 class="alt primary mb0">Fonts</h4></a>
                </div>
    </div>
    
              <div class="grid__item large--one-third medium--one-half small--one-half text-center brand-guidelines-block-padder">
            <div class="brand-guidelines-block">
                <a href="https://biolitemisc.s3-us-west-2.amazonaws.com/032021_BioLite_BrandGuidelines.pdf#page=14"><i class="icomoon icon-swatches icons-brand-guidelines"></i>  
            <h4 class="alt primary mb0">Colors</h4></a> 
              </div>
    </div>
    
            <div class="grid__item large--one-third medium--one-half small--one-half text-center brand-guidelines-block-padder">
            <div class="brand-guidelines-block">
              <a href="https://docs.google.com/spreadsheets/d/1jwWYcho2C63JHvRS5cADZkOxKGvtBRtZHWkBuHcyVzE/edit?usp=sharing"><i class="icomoon icon-description icons-brand-guidelines"></i>  
            <h4 class="alt primary mb0">Product Descriptions</h4></a> 
              </div>
    </div>
    
          <div class="grid__item large--one-third medium--one-half small--one-half text-center brand-guidelines-block-padder">
            <div class="brand-guidelines-block">
            <a href="https://www.dropbox.com/sh/1a9kfg4a15zgxjb/AADZm80efssc5AHuC3ceXXdBa?dl=0"><i class="icomoon icon-gopro icons-brand-guidelines"></i>  
            <h4 class="alt primary mb0">Product Imagery</h4></a> 
              </div>
    </div>
    
           <div class="grid__item large--one-third medium--one-half small--one-half text-center brand-guidelines-block-padder">
            <div class="brand-guidelines-block">
             <a href="https://www.dropbox.com/sh/1a9kfg4a15zgxjb/AADZm80efssc5AHuC3ceXXdBa?dl=0"><i class="icomoon icon-arrow-circle-01 icons-brand-guidelines"></i>   
            <h4 class="alt primary mb0">View All Assets</h4></a>
              </div>
    </div>
   

  </div>
</section>


