 <section class="hero hero--small">
    <div class="hero__viewport">
      <div class="hero__inner hero__inner--light">
        <div class="hero__body wrapper table">
          <div class="table-cell text-center">
                  <h6 class="mt10 mb10"><img class="logo-small mt0" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Blaze_logo.png?8195364763012967554" width="250" alt="The Blaze" title="The Blaze"></h6>
              <h3 class="white light baseline">A Limited Edition Collaboration with The Blaze</h3>
            
             <h1 class="light baseline">BioLite Holiday Shop</h1>
  
            
          </div>
        </div>
      </div>
      <div class="hero__image" style="background-image: url('https://cdn.shopify.com/s/files/1/0666/9741/files/Blaze_hero_v2.jpg?16842155373139452726');"></div>
    </div>
  </section>


     <div id="blog-full">

<div class="wrapper wrapper--large wrapper">
<h5 class="blaze-lead-in text-center mt50">Gear up for your off grid adventures this Holiday with these exclusive offers from BioLite + The Blaze. 
  These special offers make great gifts for anyone looking to cook, charge, and light life off the grid. No codes required, just select from the Blaze Bundles below. <strong>Remember, this Shop is for Blaze Viewers only – 
  you won’t find this offer anywhere else on the site.</strong></h5>
</div>

     <ul class="blaze-products text-center mt10 ">

<li><a href="#deal1" style="color: #d70200;" title="CampStove Bundle + Fuel Starter Kit">CampStove Bundle + Fuel Starter Kit</a>  </li>
<li><a href="#deal2" style="color: #d70200;" title="Energy Bundle Blaze Edition">Energy Bundle Blaze Edition</a> </li>
<li><a href="#deal3" style="color: #d70200;" title="PowerLight Mini 4 Pack">PowerLight Mini 4 Pack</a> </li>
<li><a href="#deal4" style="color: #d70200;" title="PizzaDome Bundle">PizzaDome Bundle</a> </li>
<li ><a href="#deal5" style="color: #d70200;" title="CampStove: The Blaze Special">CampStove: The Blaze Special</a> </li>
</ul>
       
<div class="text-center">
<h6 class="alt text-center mb0" style="color: #444444;">Scroll to See Deals</h6>
<i class="icomoon icon-downArrow text-center" style="font-size:22px;color:#d70200;"></i>
       </div>



<!-- #deal1 BUNDLE -->
<section id="product-overview" class="single-product-features single-product-features--tall" style="background-image: url('large-camsptove-with-phone-and-twigs.jpg');">
<section class="interstitial section-xlarge mb30">
<div class="wrapper table">
<div class="interstitial__content table-cell text-center"><a name="deal1" title="deal"></a>
<h3 class="mt0">CampStove Bundle + Fuel Starter Kit</h3>
</div>
<div class="interstitial__overlay interstitial__overlay--gray"></div>
</div>
</section>

  
  <div class="wrapper wrapper--large wrapper">
<section id="product-overview" class="single-product-features single-product-features--tall" style="background-image:url('large-camsptove-with-phone-and-twigs.jpg'); padding-bottom:10px;">
   <div class="wrapper wrapper--large wrapper--max_height">
     <!-- THUMBNAILS AND IMAGES -->
     <div class="grid__item large--five-eighths medium--one-whole table" id="product-thumbnails">

      
        <!-- HERO HOME -->
<ul id="product-carousels">
  
  <li class="carousel">
    <div class="hero__viewport hero-carousel">
      <ul class="slides">
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/Flagship_Bundle_large.jpg?v=1461952087" alt="Flagship Bundle" title="Flagship Bundle" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/CampStove_1_updated_2825bd4a-b0ea-4572-974d-e40a614acf7c_large.jpg?v=1461952087" alt="CampStove" title="CampStove" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/KettlePot_3_01aa28ba-e66b-4a62-bda7-b37cf3ea6c8f_large.jpg?v=1461952087" alt="KettlePot" title="KettlePot" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/Grill_2_f020a224-10b3-4438-b264-97d7e6771bde_large.jpg?v=1461952087" alt="Grill" title="Grill" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/StickSnapper_openingBottle_large.jpg?v=1461952093" alt="Stick Snapper" title="Stick Snapper" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/BiofuelPellets_open_6c20cd29-baa1-49a8-b254-0439393f3459_large.jpg?v=1461952124" alt="Biofuel Pellets" title="Biofuel Pellets" />
        </li>
        
      </ul>
    </div>
  </li>
</ul>

        <div class="product-single__mini-slider">
  
    
    <ul id="product-color-images-container">
      <ul id="product-single__image" class="product-single__image" data-control-target>
        
        <li><img src="//cdn.shopify.com/s/files/1/0666/9741/products/Flagship_Bundle_large.jpg?v=1461952087" alt="Flagship Bundle" title="Flagship Bundle"></li>
        
        <li><img src="//cdn.shopify.com/s/files/1/0666/9741/products/CampStove_1_updated_2825bd4a-b0ea-4572-974d-e40a614acf7c_large.jpg?v=1461952087" alt="CampStove" title="CampStove"></li>
        
        <li><img src="//cdn.shopify.com/s/files/1/0666/9741/products/KettlePot_3_01aa28ba-e66b-4a62-bda7-b37cf3ea6c8f_large.jpg?v=1461952087" alt="Kettle Pot" title="Kettle Pot"></li>
        
        <li><img src="//cdn.shopify.com/s/files/1/0666/9741/products/Grill_2_f020a224-10b3-4438-b264-97d7e6771bde_large.jpg?v=1461952087" alt="Grill" title="Grill"></li>
        
        <li><img src="//cdn.shopify.com/s/files/1/0666/9741/products/StickSnapper_openingBottle_large.jpg?v=1461952093" alt="Stick Snapper" title="Stick Snapper"></li>
        
        <li><img src="//cdn.shopify.com/s/files/1/0666/9741/products/BiofuelPellets_open_6c20cd29-baa1-49a8-b254-0439393f3459_large.jpg?v=1461952124" alt="Biofuel Pellets" title="Biofuel Pellets"></li>
        
      </ul>
      <ul class="product-single__thumbnails" data-control-nav data-control-targets="#product-single__image">
        
          <li class="grid__item">
            <img src="//cdn.shopify.com/s/files/1/0666/9741/products/Flagship_Bundle_compact.jpg?v=1461952087" alt="[Blaze Special] Flagship Bundle" title="[Blaze Special] Flagship Bundle">
          </li>
        
          <li class="grid__item">
            <img src="//cdn.shopify.com/s/files/1/0666/9741/products/CampStove_1_updated_2825bd4a-b0ea-4572-974d-e40a614acf7c_compact.jpg?v=1461952087" alt="[Blaze Special] Flagship Bundle" title="[Blaze Special] Flagship Bundle">
          </li>
        
          <li class="grid__item">
            <img src="//cdn.shopify.com/s/files/1/0666/9741/products/KettlePot_3_01aa28ba-e66b-4a62-bda7-b37cf3ea6c8f_compact.jpg?v=1461952087" alt="[Blaze Special] Flagship Bundle" title="[Blaze Special] Flagship Bundle">
          </li>
        
          <li class="grid__item">
            <img src="//cdn.shopify.com/s/files/1/0666/9741/products/Grill_2_f020a224-10b3-4438-b264-97d7e6771bde_compact.jpg?v=1461952087" alt="[Blaze Special] Flagship Bundle" title="[Blaze Special] Flagship Bundle">
          </li>
        
          <li class="grid__item">
            <img src="//cdn.shopify.com/s/files/1/0666/9741/products/StickSnapper_openingBottle_compact.jpg?v=1461952093" alt="[Blaze Special] Flagship Bundle" title="[Blaze Special] Flagship Bundle">
          </li>
        
          <li class="grid__item">
            <img src="//cdn.shopify.com/s/files/1/0666/9741/products/BiofuelPellets_open_6c20cd29-baa1-49a8-b254-0439393f3459_compact.jpg?v=1461952124" alt="[Blaze Special] Flagship Bundle" title="[Blaze Special] Flagship Bundle">
          </li>
        
      
      </ul>
    </ul>
    
  
</div>

   
      
     </div>
     <!-- Content -->
     <div class="grid__item large--three-eighths medium--one-whole table" id="product-content">
           <h6 class="mb20">Turn Fire into Electricity with the BioLite CampStove for wood-fired meals and on-demand power.</h6>
          
           <p class="light">
             <strong>#1 Best Seller at the BioLite Shop.</strong> Experience a complete off-grid kitchen with the award-winning CampStove and cooking accessories. Transform the heat from your fire into usable electricity via BioLite's patented technology, perfect for outdoor trips and power outages alike. 4-pack of pellets included in this Blaze Special are foodsafe and made in the USA. Want to find your own fuel? Use the sticksnapper to right-size twigs or pop open a brew (it doubles as a bottle opener).            </p>
           
           <div class="top-review-container">
<h6 class="light alt mt20">CampStove, FlexLight, KettlePot, Portable Grill <span class="primary-blaze semibold"> + 4 BioFuel Pellets &amp; StickSnapper.</span><br /><br /> <span class="text-center semibold" style="font-size: 16pt;">Blaze Viewers Save: <span class="primary-blaze semibold">$73.65</span></span></h6>
</div>
        
       
        
    <div class="add-to-cart-container"><button type="submit" name="add" id="AddToCart" class="btn btn-red mt20 cart-item--add" data-product-variant="31532186254"> <span id="AddToCartText">Add To My Cart</span> </button></div>
<div class="price-container">
<select name="id" id="productSelect" class="product-single__variants">
<option selected="selected" value="31532186254" data-locale="Default">$174.95 USD</option>
</select>
<span id="ProductPrice" itemprop="price" class="h4 primary-blaze-warm"> <span class="money">$174.95</span> </span> </div>
         
      

       
     </div>
   </div>
  </section>
</div>
</section>
<div class="blog-full">
<div class="wrapper wrapper--large wrapper mt30">
<h6 class="light">Learn More About CampStove Bundle + Fuel Starter Kit</h6>
<hr class="mb20" />
<div class="list-toggle mb20">
<div class="list-toggle__title" data-control-sibling="" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>Watch The Video</span></div>
<div class="list-toggle__content"><iframe width="800" height="450" src="https://www.youtube.com/embed/Dwy5PAE--QU" style="margin: 10px auto;" frameborder="0" allowfullscreen=""></iframe></div>
</div>
<div class="list-toggle mb20">
<div class="list-toggle__title" data-control-sibling="" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>Read The Reviews</span></div>
<div class="list-toggle__content">
<div class="wrapper">
       <section class="product-featurette section-large pt0--mobile" itemscope itemtype="http://schema.org/Product">
         <header class="product-reviews__header text-center grid__item large--one-whole">
         </header>
         
<link itemprop="availability" href="http://schema.org/InStock">
<meta itemprop='excludedLocales' content='[]'/>
<meta itemprop="priceCurrency" content="USD">

<meta itemprop='productID' content='386285383' />
<meta itemprop='productAddToCartText' content='Add to Cart' />
<meta itemProp='quantity' content="1"/>
  
    
      <meta itemprop='variantPrice' location='Default' content='12995' data-variant-id='904918443' />
      
    
  
    
      <meta itemprop='variantPrice' location='currency-AUD' content='20600' data-variant-id='16461247171' />
      
    
  
    
      <meta itemprop='variantPrice' location='currency-JPY' content='14803' data-variant-id='16461247555' />
      
    
  
    
      <meta itemprop='variantPrice' location='currency-GBP' content='18256' data-variant-id='16461247747' />
      
    
  
    
      <meta itemprop='variantPrice' location='currency-KRW' content='16285' data-variant-id='16461248323' />
      
    
  
    
      <meta itemprop='variantPrice' location='currency-EUR' content='17030' data-variant-id='16461248515' />
      
    
  
    
      <meta itemprop='variantPrice' location='currency-CHF' content='18522' data-variant-id='17056484867' />
      
    
  

         <select name="id" id="productSelect" class="product-single__variants">
           
  
  
    
  
  
  
    
      <option  value="16461247171" data-color="default" data-locale="currency-AUD"><span class=money>$206.00 USD</span></option>
    
  
  
  
    
      <option  value="16461247555" data-color="default" data-locale="currency-JPY"><span class=money>$148.03 USD</span></option>
    
  
  
  
    
      <option  value="16461247747" data-color="default" data-locale="currency-GBP"><span class=money>$182.56 USD</span></option>
    
  
  
  
    
      <option  value="16461248323" data-color="default" data-locale="currency-KRW"><span class=money>$162.85 USD</span></option>
    
  
  
  
    
      <option  value="16461248515" data-color="default" data-locale="currency-EUR"><span class=money>$170.30 USD</span></option>
    
  
  
  
    
      <option  value="17056484867" data-color="default" data-locale="currency-CHF"><span class=money>$185.22 USD</span></option>
    
  
  

         </select>
         

         <div class="product-featurette__content grid__item large--two-thirds table">
           <div id="product-rating">
             <div id="shopify-product-reviews" data-id="386285383" class="show-rating"><style scoped>
  
  .spr-container {
    padding: 24px;
    border-color: #ececec;
     
  }
  .spr-review, .spr-form {
    border-color: #ececec;
  }
</style>

<div class="spr-container">
  <div class="spr-header">
    <h2 class="spr-header-title">Customer Reviews</h2>

    <div class="spr-summary" itemscope itemtype="http://data-vocabulary.org/Review-aggregate">
      <meta itemprop="itemreviewed" content="BioLite CampStove" />
      <meta itemprop="votes" content="125" />
      
      <span itemprop="rating" itemscope itemtype="http://data-vocabulary.org/Rating" class="spr-starrating spr-summary-starrating">
        <meta itemprop="average" content="4.856" />
        <meta itemprop="best" content="5" />
        <meta itemprop="worst" content="1" />
        <i class='spr-icon spr-icon-star' style=''></i><i class='spr-icon spr-icon-star' style=''></i><i class='spr-icon spr-icon-star' style=''></i><i class='spr-icon spr-icon-star' style=''></i><i class='spr-icon spr-icon-star' style=''></i>
      </span>
      <span class="spr-summary-caption">
        
          
          <span class='spr-summary-actions-togglereviews'>Based on 125 reviews</span>
        
      </span>
      <span class="spr-summary-actions">
        <a href='#' class='spr-summary-actions-newreview' onclick='SPR.toggleForm(386285383);return false' title="Write a review">Write a review</a>
      </span>
    </div>
  </div>

  <div class="spr-content">
    <div class='spr-form' id='form_386285383' style='display: none'></div>
    <div class='spr-reviews' id='reviews_386285383' ></div>
  </div>

</div></div>
           </div>
         </div>
       </section>
     </div></div>
</div>
<div class="list-toggle mb20">
<div class="list-toggle__title" data-control-sibling="" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>See Full Tech Specs</span></div>
<div class="list-toggle__content">
<div class="wrapper">
     <div id="product-specs-new" class="wrapper wrapper--large wrapper--max_height">


       <div class="large--one-third grid__item mt30">

          <div class="row-tight">
              <div class="spec-title">Fuel</div>
              <div class="spec-desc light"><span>Renewable Biomass <br/> (twigs, pinecone, wood pellets, etc.)</span></div>
            </div>


            <div class="row-medium">
              <div class="spec-title">Weight</div>
              <div class="spec-desc light"><span><strong>CampStove:</strong> 33 oz (935 g)<br><strong>KettlePot:</strong> 16 oz (465 g)<br><strong>Grill: </strong>30 oz (850 g)</span></div>
            </div>

            <div class="row">
              <div class="spec-title">Charging Time</div>
              <div class="spec-desc light"><span>20 minutes of charging provides 60 minutes of talk time. Charging times vary by device and by strength of fire</span></div>
         </div>

         <div class="row-tight">
           <div class="spec-title">Lumens (FlexLight)</div>
           <div class="spec-desc light"><span>100 Lm</span></div>
         </div>
           <div class="row-tight">
           <div class="spec-title">Pellets </div>
           <div class="spec-desc light"><span>Premium blend of hardwoods made in the USA</span></div>
         </div>



</div>

       <div class="large--one-third grid__item mt30">

           <div class="row-tight">
              <div class="spec-title">Fire Quality</div>
              <div class="spec-desc light"><span>1.6 oz (46 grams) of wood to boil 1 liter of water</span></div>
            </div>

            <div class="row-medium">
              <div class="spec-title">Boil Time</div>
              <div class="spec-desc light"><span>4.5 minutes to boil 1 liter of water. Boiling times vary by strength of fire</span></div>
            </div>
 			<div class="row">
              <div class="spec-title">Dimensions</div>
              <div class="spec-desc light"><span><strong>CampStove: </strong>Height 8.25 inches (209.6 mm) <br/> Width 5 inches (127 mm)<br><strong>KettlePot: </strong> 10.20 x 5.20" (25.91 x 13.21 cm)<br><strong>Grill: </strong>9.5 x 12 x 3.5 in (24.13 x 30.48 x 26.67 cm)</span></div>
            </div>



      </div>


       <div class="large--one-third grid__item mt30">
           <div class="row-tight">
              <div class="spec-title">USB Power Output</div>
              <div class="spec-desc light"><span>Max Continuous: 2W @5V <br/> Peak: 4W @5V</span></div>
            </div>
            <div class="row-medium">
              <div class="spec-title">Compatible Devices</div>
              <div class="spec-desc light"><span>Powers most USB-chargeable devices including smart phones</span></div>
            </div>
           <div class="row">
              <div class="spec-title">In The Box</div>
              <div class="spec-desc light"><span>Stuff Sack <br/> Instructions <br/> USB Cord <br/> CampStove <br/> Firelighter<br>KettlePot with stuff sack<br>Portable Grill with cover<br>BioFuel Pellets with Firestarter<br>StickSnapper</span></div>
            </div>

      </div>


   </div>
     </div>
</div>
</div>
<hr class="mt20 mb50" />
</div>
</div>

<!-- END #deal1 BUNDLE -->

<!-- #deal2 BUNDLE -->
<section id="product-overview" class="single-product-features single-product-features--tall" style="background-image: url('large-camsptove-with-phone-and-twigs.jpg');">
<section class="interstitial section-xlarge mb30">
<div class="wrapper table">
<div class="interstitial__content table-cell text-center"><a name="deal2" title="Deal"></a>
<h3 class="mt0">Energy Bundle Blaze Edition </h3>
</div>
<div class="interstitial__overlay interstitial__overlay--gray"></div>
</div>
</section>
<div class="wrapper wrapper--large wrapper">
<section id="product-overview" class="single-product-features single-product-features--tall" style="background-image:url('large-camsptove-with-phone-and-twigs.jpg'); padding-bottom:10px;">
   <div class="wrapper wrapper--large wrapper--max_height">
     <!-- THUMBNAILS AND IMAGES -->
<div class="grid__item large--five-eighths medium--one-whole table" id="product-thumbnails">

      
        <!-- HERO HOME -->
<ul id="product-carousels">
  
  <li class="carousel">
    <div class="hero__viewport hero-carousel">
      <ul class="slides">
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/EnergyBundle_sept2016_update_large.jpg?v=1474988406" alt="Energy Bundle" title="Energy Bundle" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/CampStove_1_updated_a7d0c750-1922-417c-aac2-10f648f7331f_large.jpg?v=1474988406" alt="Camp Stove" title="Camp Stove" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/NanoGrid_2_e525b575-962c-449f-b753-d3280a2cf06f_large.jpeg?v=1474988406" alt="Nano Grid" title="Nano Grid" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/SolarPanel5_product3_ebc2e45f-ae7c-4e52-a058-a2e84b266e0b_large.jpg?v=1474988406" alt="Solar Panel" title="Solar Panel" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/KettlePot_3_83602e8f-c73f-4169-9ca8-02153e51e912_large.jpg?v=1474988406" alt="Kettle Pot" title="Kettle Pot" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/Grill_2_4953518d-d055-4295-a5d7-07fd42629030_large.jpeg?v=1474988406" alt="Grill" title="Grill" />
        </li>
        
      </ul>
    </div>
  </li>
</ul>

        <div class="product-single__mini-slider">
  
    
    <ul id="product-color-images-container">
      <ul id="product-single__image02" class="product-single__image" data-control-target>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/EnergyBundle_sept2016_update_large.jpg?v=1474988406" alt="EnergyBundle" title="EnergyBundle" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/CampStove_1_updated_a7d0c750-1922-417c-aac2-10f648f7331f_large.jpg?v=1474988406" alt="CampStove" title="CampStove" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/NanoGrid_2_e525b575-962c-449f-b753-d3280a2cf06f_large.jpeg?v=1474988406" alt="Nano Grid" title="Nano Grid" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/SolarPanel5_product3_ebc2e45f-ae7c-4e52-a058-a2e84b266e0b_large.jpg?v=1474988406" alt="SolarPanel" title="SolarPanel" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/KettlePot_3_83602e8f-c73f-4169-9ca8-02153e51e912_large.jpg?v=1474988406" alt="Kettle Pot" title="Kettle Pot" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/Grill_2_4953518d-d055-4295-a5d7-07fd42629030_large.jpeg?v=1474988406" alt="Grill" title="Grill" />
        </li>
        
      </ul>
      <ul class="product-single__thumbnails" data-control-nav data-control-targets="#product-single__image02">
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/EnergyBundle_sept2016_update_compact.jpg?v=1474988406" alt="Energy Bundle" title="Energy Bundle" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/CampStove_1_updated_a7d0c750-1922-417c-aac2-10f648f7331f_compact.jpg?v=1474988406" alt="CampStove" title="CampStove" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/NanoGrid_2_e525b575-962c-449f-b753-d3280a2cf06f_compact.jpeg?v=1474988406" alt="Nano Grid" title="Nano Grid" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/SolarPanel5_product3_ebc2e45f-ae7c-4e52-a058-a2e84b266e0b_compact.jpg?v=1474988406" alt="Solar Panel" title="Solar Panel" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/KettlePot_3_83602e8f-c73f-4169-9ca8-02153e51e912_compact.jpg?v=1474988406" alt="Kettle Pot" title="Kettle Pot" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/Grill_2_4953518d-d055-4295-a5d7-07fd42629030_compact.jpeg?v=1474988406" alt="Grill" title="Grill" />
        </li>        
     
      </ul>
    </ul>
    
  
</div>


     </div>
     <!-- Content -->
     <div class="grid__item large--three-eighths medium--one-whole table" id="product-content">
           <h6 class="mb20">A self-sufficient ecosystem to cook, charge, and light completely of-grid.</h6>
          
           <p class="light">
             <strong>Biggest Savings.</strong> Harness the energy around you and be ready for anything. Fire up meals using nothing but the sticks around you with the BioLite CampStove and cooking accessories; light large spaces efficiently and easily with the PowerLight + SiteLight combo; turn the sun's rays into 5 watts of usable power with the SolarPanel 5 (and check out the sundial and kickstand for optimized setup). Perfect for your off-grid cabin in the woods, emergency kit, or next outdoor adventure.            </p>
           
           <div class="top-review-container">
<h6 class="light alt mt20">CampStove, KettlePot, Portable Grill, FlexLight &amp; NanoGrid <span class="primary-blaze semibold"> + SolarPanel 5.</span><br /><br /> <span class="text-center semibold" style="font-size: 16pt;">Blaze Viewers Save: <span class="primary-blaze semibold">$99.80</span></span></h6>
</div>
        
       
        
    <div class="add-to-cart-container"><button type="submit" name="add" id="AddToCart" class="btn btn-red mt20 cart-item--add" data-product-variant="31524424846"> <span id="AddToCartText">Add To My Cart</span> </button></div>
<div class="price-container">
<select name="id" id="productSelect" class="product-single__variants">
<option selected="selected" value="31524424846" data-locale="Default">$244.95 USD</option>
</select>
<span id="ProductPrice" itemprop="price" class="h4 primary-blaze-warm"> <span class="money">$244.95</span> </span> </div>
         
      

       
     </div>
   </div>
  </section>
</div>
</section>
<div class="blog-full">
<div class="wrapper wrapper--large wrapper mt30">
<h6 class="light">Learn More About The Energy Bundle Blaze Edition</h6>
<hr class="mb20" />

<div class="list-toggle mb20">
<div class="list-toggle__title" data-control-sibling="" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>See Full Tech Specs</span></div>
<div class="list-toggle__content">
<div class="wrapper">
 <section id="product-compare-bundle" class="product-compare-bundle product-compare-bundle--{{ product.handle | remove: 'biolite-'  }} mobile-wrapper-content">
	 <div class="product-compare-bundle wrapper wrapper--full_height wrapper--large">
<table class="compare-table-bundle table-with-footer">
  <thead>
    <tr style="background-color:#fff;">
       <th class="border-bottom pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="//cdn.shopify.com/s/files/1/0666/9741/products/FlexLight_3_large.jpeg?v=1455122487" width="150" alt="Flex Light" title="Flex Light" />
<div class="bundle-number mb10 ">
        <span class="inside-count">1</span>
      </div>         
         <span class="mt20"><strong><a href="http://www.bioliteenergy.com/products/biolite-campstove" style="color:#262729" target="_blank" title="CampStove + FlexLight">CampStove + FlexLight</a></strong></span>
      </th>
      <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="//cdn.shopify.com/s/files/1/0666/9741/products/NanoGrid_2_a34badab-aa85-4620-b5cf-5179ec7922fe_large.jpeg?v=1455122510" width="150" alt="Nano Grid" title="Nano Grid" />
<div class="bundle-number mb10 ">
        <span class="inside-count">2</span>
      </div>  
        <span class="mt20"><strong><a href="http://www.bioliteenergy.com/products/biolite-powerlight" style="color:#262729" target="_blank" title="PowerLight">PowerLight</a><br></strong></span>
      </th>
      <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="//cdn.shopify.com/s/files/1/0666/9741/products/SolarPanel5_product1_large.jpeg?v=1455122397" width="150" alt="SolarPanel" title="SolarPanel" />
<div class="bundle-number mb10 ">
        <span class="inside-count">3</span>
      </div>  
        <span class="mt20"><strong><a href="http://www.bioliteenergy.com/products/solarpanel-5" style="color:#262729" target="_blank"  title="Solar Panel">SolarPanel 5</a><br></strong></span>
      </th>
      <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="//cdn.shopify.com/s/files/1/0666/9741/products/Grill_4_large.jpeg?v=1455122574" width="150" alt="Grill" title="Grill" />
<div class="bundle-number mb10 ">
        <span class="inside-count">4</span>
      </div>  
        <span class="mt20"><strong><a href="http://www.bioliteenergy.com/products/biolite-portable-grill" style="color:#262729" target="_blank" title="Portable Grill">Portable Grill</a></strong></span>
      </th>
       <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="//cdn.shopify.com/s/files/1/0666/9741/products/KettlePot_2_large.jpeg?v=1455122565"  width="150" alt="KettlePot" title="KettlePot" />
<div class="bundle-number mb10 ">
        <span class="inside-count">5</span>
      </div>  
         <span class="mt20"><strong><a href="http://www.bioliteenergy.com/products/biolite-kettlepot" style="color:#262729" target="_blank" title="Kettle Pot">KettlePot</a></strong></span>
      </th>
      <th class="border-bottom  pb20">
        <img style="display:block; margin-left: auto; margin-right:auto;" class="mb20" src="//cdn.shopify.com/s/files/1/0666/9741/products/SiteLight_1_large.jpeg?v=1455122503"  width="150" alt="SiteLight" title="SiteLight" />
<div class="bundle-number mb10 ">
        <span class="inside-count">6</span>
      </div>  
        <span class="mt20"><strong><a href="http://www.bioliteenergy.com/products/biolite-sitelight" style="color:#262729" target="_blank" title="SiteLight">SiteLight</a></strong></span>
      </th>   
     
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>A smokeless campfire that can cook meals and boil water in minutes</td>
      <td>250 Lm torch; 200 Lm lantern</td>
      <td>5 watts of real time power</td>
      <td>Cook your favorite meals over wood</td>
      <td>A true grab-and-go system - pours like a kettle and cooks like a pot </td>
      <td>Compact, overhead string lighting</td>



      
    </tr>
    <tr>
      <td>Generate usable electricity for charging lights phones, and other devices</td>
      <td>4400 mAh battery for charging up to 4 phones</td>
      <td>IPX4 Rated</td>
      <td>Cooking area: 55 sq inches</td>
      <td>Doubles as a carry case for CampStove</td>
      <td>150 lumens per light</td>


      
    </tr>
    <tr>
      <td>Burns renewable biomass - twigs, pinecone, wood pellets</td>
      <td>Burn time (hours): 72 LO/ 6.5 HI</td>
	  <td>Dimensions: 10.12 x 8.19 in (257 x 208 mm) </td>
	  <td>Folded Size: 9.5 x 12 x 3.5 in (24.13 x 30.48 x 8.89 cm)</td>
      <td>Max fill: 1.5 liters</td>
      <td>10 ft (3 m) of cord per light</td>




    </tr>
    <tr>
      <td>Weight: 2.06 lbs (33 oz)</td>
      <td>Weight: 7.05 oz (210 g)</td>
	  <td>Weight: 12 oz (340 g)</td>
      <td>Weight: 1.88 lbs (850 g)</td>
      <td>Weight: 1.03 lbs (465 g)</td>
      <td>Weight: 1.83 oz (52 g) per light</td>



    </tr>
  
 
  </tbody>

</table>


<!-- Mobile Tables -->
       
       <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="//cdn.shopify.com/s/files/1/0666/9741/products/FlexLight_3_large.jpeg?v=1455122487" alt="Flex Light" title="Flex Light" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">1</span>
      </div> 
         <span class=""><strong>CampStove + FlexLight</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>A smokeless campfire that can cook meals and boil water in minutes</td>
    </tr>
    <tr>
      <td>Generate usable electricity for charging lights phones, and other devices</td>
    </tr>
    <tr>
      <td>Burns renewable biomass - twigs, pinecone, wood pellets</td>
    </tr>
    <tr>
      <td>Weight: 2.06 lbs (33 oz)</td>
    </tr>
    
    
   
  </tbody>

</table>

       
       
<table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="//cdn.shopify.com/s/files/1/0666/9741/products/NanoGrid_2_a34badab-aa85-4620-b5cf-5179ec7922fe_large.jpeg?v=1455122510" alt="Nano Grid" title="Nano Grid" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">2</span>
      </div> 
         <span class=""><strong>PowerLight</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>250 Lm torch; 200 Lm lantern</td>
    </tr>
    <tr>
      <td>4400 mAh battery for charging up to 4 phones</td>
    </tr>
    <tr>
      <td>Burn time (hours): 72 LO/ 6.5 HI</td>
    </tr>
    <tr>
      <td>Weight: 7.05 oz (210 g)</td>
    </tr>
    
    
   
  </tbody>

</table>
       

       
       <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="//cdn.shopify.com/s/files/1/0666/9741/products/SolarPanel5_product1_large.jpeg?v=1455122397" alt="Solar Panel" title="Solar Panel" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">3</span>
      </div> 
         <span class=""><strong>SolarPanel 5</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>5 watts of real time power</td>
    </tr>
    <tr>
      <td>IPX4 Rated</td>
    </tr>
    <tr>
	  <td>Dimensions: 10.12 x 8.19 in (257 x 208 mm) </td>
    </tr>
    <tr>
	  <td>Weight:  12oz (340g)</td>
    </tr>
    
    
   
  </tbody>

</table>
       
       
              <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="//cdn.shopify.com/s/files/1/0666/9741/products/Grill_4_large.jpeg?v=1455122574" alt="Grill" title="Grill" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">4</span>
      </div> 
         <span class=""><strong>Portable Grill</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Cook your favorite meals over wood</td>
    </tr>
    <tr>
      <td>Cooking area: 55 sq inches</td>
    </tr>
    <tr>
	  <td>Folded Size: 9.5 x 12 x 3.5 in (24.13 x 30.48 x 8.89 cm)</td>
    </tr>
    <tr>
      <td>Weight: 1.88 lbs (850 g)</td>
    </tr>
    
    
   
  </tbody>

</table>

       
       
       
              
              <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="//cdn.shopify.com/s/files/1/0666/9741/products/KettlePot_2_large.jpeg?v=1455122565" alt="Kettle Pot" title="Kettle Pot" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">5</span>
      </div> 
         <span class=""><strong>KettlePot</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>A true grab-and-go system - ours like a kettle and cooks like a pot </td>
    </tr>
    <tr>
      <td>Doubles as a carry case for CampStove</td>
    </tr>
    <tr>
      <td>Max fill: 1.5 liters</td>
    </tr>
    <tr>
      <td>Weight: 1.03 lbs (465 g)</td>
    </tr>
    
    
   
  </tbody>

</table>
       
       
       
                     <table class="table-with-footer-bundle compare-table-bundle-mobile">
  <thead>
    <tr style="background-color:#fff;">
      <th colspan="2" class="border-bottom">
        <img style="display:block; margin-left: auto; margin-right:auto;" src="//cdn.shopify.com/s/files/1/0666/9741/products/SiteLight_1_large.jpeg?v=1455122503" alt="Site Light" title="Site Light" />
        <div class="bundle-number mb10 ">
        <span class="inside-count">6</span>
      </div> 
         <span class=""><strong>SiteLight</strong></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Compact, overhead string lighting</td>
    </tr>
   
    <tr>
      <td>150 lumens per light</td>
    </tr>
    <tr>
      <td>10 ft (3 m) of cord per light</td>
    </tr>
   
    <tr>
      <td>Weight: 1.83 oz (52 g) per light</td>
    </tr>
    
    
    
   
  </tbody>

</table>

       
       



	 </div>
 </section>
     </div>
</div>
</div>

<hr class="mt20 mb50" />
</div>
</div>
<!-- END #deal2 BUNDLE -->

<!-- #deal3 BUNDLE -->
<section id="product-overview" class="single-product-features single-product-features--tall" style="background-image: url('large-camsptove-with-phone-and-twigs.jpg');">
<section class="interstitial section-xlarge mb30" >
<div class="wrapper table">
<div class="interstitial__content table-cell text-center"><a name="deal3" title="Deal"></a>
<h3 class="mt0">PowerLight Mini 4 Pack</h3>
</div>
<div class="interstitial__overlay interstitial__overlay--gray"></div>
</div>
</section>
<div class="wrapper wrapper--large wrapper">
<section id="product-overview" class="single-product-features single-product-features--tall" style="background-image:url('large-camsptove-with-phone-and-twigs.jpg'); padding-bottom:10px;">
   <div class="wrapper wrapper--large wrapper--max_height">
     <!-- THUMBNAILS AND IMAGES -->
<div class="grid__item large--five-eighths medium--one-whole table" id="product-thumbnails">

      
        <!-- HERO HOME -->
<ul id="product-carousels">
  
  <li class="carousel">
    <div class="hero__viewport hero-carousel">
      <ul class="slides">
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/PowerLightMini_1_large_015e4910-2aef-4af1-8259-ab6d795541c4_large.jpg?v=1467065494" alt="PowerLight Mini 1" title="PowerLight Mini 1" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/PowerLightMini_2_810020a2-4a42-4a34-bd3d-3c45bf174f0a_large.jpeg?v=1467065494" alt="PowerLight Mini 2" title="PowerLight Mini 2" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/PowerLightMini_3_yellow_1170x1170_ebed1965-4fdc-45c3-a9f6-ed4528026155_large.jpg?v=1467065494" alt="PowerLight Mini 3" title="PowerLight Mini 3" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/PowerLightMini_4_Red_1170x1170_40964ff7-999e-4faa-828a-54ae382b29d7_large.jpg?v=1467065494" alt="PowerLight Mini 4" title="PowerLight Mini 4" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/PowerLightMini_5_Gray_1170x1170_49270641-d517-4e44-8462-30bfb6bad64c_large.jpg?v=1467065504" alt="PowerLight Mini 5" title="PowerLight Mini 5" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/PowerLightMini_4pack_components_large.jpg?v=1467065982" alt="PowerLight Mini Pack" title="PowerLight Mini Pack" />
        </li>
        
      </ul>
    </div>
  </li>
</ul>

        <div class="product-single__mini-slider">
  
    
    <ul id="product-color-images-container">
      <ul id="product-single__image03" class="product-single__image" data-control-target>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/PowerLightMini_1_large_015e4910-2aef-4af1-8259-ab6d795541c4_large.jpg?v=1467065494" alt="PowerLight Mini 1" title="PowerLight Mini 1" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/PowerLightMini_2_810020a2-4a42-4a34-bd3d-3c45bf174f0a_large.jpeg?v=1467065494" alt="PowerLight Mini 2" title="PowerLight Mini 2" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/PowerLightMini_3_yellow_1170x1170_ebed1965-4fdc-45c3-a9f6-ed4528026155_large.jpg?v=1467065494" alt="PowerLight Mini 3" title="PowerLight Mini 3"/>
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/PowerLightMini_4_Red_1170x1170_40964ff7-999e-4faa-828a-54ae382b29d7_large.jpg?v=1467065494" alt="PowerLight Mini 4" title="PowerLight Mini 5"/>
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/PowerLightMini_5_Gray_1170x1170_49270641-d517-4e44-8462-30bfb6bad64c_large.jpg?v=1467065504" alt="PowerLight Mini 5" title="PowerLight Mini 5"/>
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/PowerLightMini_4pack_components_large.jpg?v=1467065982" alt="PowerLight Mini Pack" title="PowerLight Mini Pack"/>
        </li>        
      </ul>
      <ul class="product-single__thumbnails" data-control-nav data-control-targets="#product-single__image03">
        
          <li class="grid__item">
         <img src="//cdn.shopify.com/s/files/1/0666/9741/products/PowerLightMini_1_large_015e4910-2aef-4af1-8259-ab6d795541c4_compact.jpg?v=1467065494" alt="PowerLight Mini 1" title="PowerLight Mini 1" />
          </li>
        
          <li class="grid__item">
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/PowerLightMini_2_810020a2-4a42-4a34-bd3d-3c45bf174f0a_compact.jpeg?v=1467065494" alt="PowerLight Mini 2" title="PowerLight Mini 2"/>
        </li>
        
          <li class="grid__item">
         <img src="//cdn.shopify.com/s/files/1/0666/9741/products/PowerLightMini_3_yellow_1170x1170_ebed1965-4fdc-45c3-a9f6-ed4528026155_compact.jpg?v=1467065494" alt="PowerLight Mini 3" title="PowerLight Mini 3" />
        </li>
        
          <li class="grid__item">
         <img src="//cdn.shopify.com/s/files/1/0666/9741/products/PowerLightMini_4_Red_1170x1170_40964ff7-999e-4faa-828a-54ae382b29d7_compact.jpg?v=1467065494" alt="PowerLight Mini 4" title="PowerLight Mini 4"/>
        </li>
        
          <li class="grid__item">
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/PowerLightMini_5_Gray_1170x1170_49270641-d517-4e44-8462-30bfb6bad64c_compact.jpg?v=1467065504" alt="PowerLight Mini 5" title="PowerLight Mini 5"/>
        </li>
        
          <li class="grid__item">
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/PowerLightMini_4pack_components_compact.jpg?v=1467065982" alt="PowerLight Mini Pack" title="PowerLight Mini Pack"/>
        </li>        
        
     
      </ul>
    </ul>
    
  
</div>

  
      
     </div>
     <!-- Content -->
     <div class="grid__item large--three-eighths medium--one-whole table" id="product-content">
           <h6 class="mb20">A little light for everyone</h6>
          
           <p class="light">
             <strong>GREAT Stocking Stuffer.</strong> Go hands free with this ultraslim clippable lantern that moves with you for on-the-go light and power. Slip it onto a pocket or strap and avoid harsh glares with BioLite edge-lighting, helping you see and be seen. A 1350mAh USB rechargeable battery provides up to 52 hours of light or a backup boost to your phone. It's a headlamp, lantern, battery, and bikelight (mount included) all in one highly compact form.
           </p>
           
           <div class="top-review-container">
<h6 class="light alt mt20">Buy 3 PowerLight Minis and Get 1 FREE<br /><br /> <span class="text-center semibold" style="font-size: 16pt;">Blaze Viewers Save: <span class="primary-blaze semibold">$44.85</span></span></h6>
</div>
        
       
        
    <div class="add-to-cart-container"><button type="submit" name="add" id="AddToCart" class="btn btn-red mt20 cart-item--add" data-product-variant="31532039118"> <span id="AddToCartText">Add To My Cart</span> </button></div>
<div class="price-container">
<select name="id" id="productSelect" class="product-single__variants">
<option selected="selected" value="31532039118" data-locale="Default">$124.95 USD</option>
</select>
<span id="ProductPrice" itemprop="price" class="h4 primary-blaze-warm"> <span class="money">$124.95</span> </span> </div>
         
      

       
     </div>
   </div>
  </section>
</div>
</section>
<div class="blog-full">
<div class="wrapper wrapper--large wrapper mt30">
<h6 class="light">Learn More About The PowerLight Mini 4 Pack</h6>
<hr class="mb20" />
<div class="list-toggle mb20">
<div class="list-toggle__title" data-control-sibling="" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>Watch The Video</span></div>
<div class="list-toggle__content"><iframe width="800" height="450" src="https://www.youtube.com/embed/riYgmRdBpKo" style="margin: 10px auto;" frameborder="0" allowfullscreen=""></iframe></div>
</div>


<div class="list-toggle mb20">
<div class="list-toggle__title" data-control-sibling="" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>See Full Tech Specs</span></div>
<div class="list-toggle__content">
   <div class="wrapper">
     <div id="product-specs-new" class="wrapper wrapper--large wrapper--max_height">
       <div class="large--one-third grid__item">
         <div class="row-tight">
           <div class="spec-title">Lumens</div>
           <div class="spec-desc light"><span>135 Lm</span></div>
         </div>
 		
         <div class="row-tight">
           <div class="spec-title">Water Resistance</div>
           <div class="spec-desc light"><span>IPX4</span></div>
         </div>
           <div class="row">
           <div class="spec-title">Inputs and Outputs</div>
           <div class="spec-desc light"><span>Micro USB In/USB Charge Out</span></div>
         </div>
         

        
       </div>
       <div class="large--one-third grid__item">
         <div class="row-tight">
           <div class="spec-title">Burn Time (hours)</div>
           <div class="spec-desc light"><span>52 LO/5 HI</span></div>
         </div>
          <div class="row-tight">
           <div class="spec-title">Battery</div>
           <div class="spec-desc light"><span>1350 mAh Li-on, USB Rechargeable</span></div>
         </div>
         <div class="row">
           <div class="spec-title">Lighting Modes</div>
           <div class="spec-desc light"><span>White Lantern, Red Night Vision, Red/White Strobe, White Point</span></div>
         </div>
       

         
          
       </div>
       <div class="large--one-third grid__item">
         <div class="row-tight">
           <div class="spec-title">Weight</div>
           <div class="spec-desc light"><span>2.82 oz (80 g)</span></div>
         </div>
         <div class="row-tight">
           <div class="spec-title">Dimensions</div>
           <div class="spec-desc light"><span>3.35 x 2.01 x 0.59" (85 x 51 x 15 mm)</span></div>
         </div>
       

         <div class="row">
           <div class="spec-title">In The Box</div>
           <div class="spec-desc light"><span>PowerLight Mini<br> Micro USB Cord<br> Bike Mount (30mm Diameter)<br> Instructions</span></div>
         </div>
         
         <div class="row">
           <div class="spec-title">Warranty</div>
           <div class="spec-desc light"><span>1-year limited warranty on all BioLite products</span></div>
         </div>
       </div>
     </div>
   </div>
</div>
</div>

<hr class="mt20 mb50" />
</div>
</div>
<!-- END #deal3 BUNDLE -->
       
<!-- #deal4 BUNDLE -->
<section id="product-overview" class="single-product-features single-product-features--tall" style="background-image: url('large-camsptove-with-phone-and-twigs.jpg');">
<section class="interstitial section-xlarge mb30" >
<div class="wrapper table">
<div class="interstitial__content table-cell text-center"><a name="deal4" title="Deal"></a>
<h3 class="mt0">PizzaDome Bundle </h3>
</div>
<div class="interstitial__overlay interstitial__overlay--gray"></div>
</div>
</section>
<div class="wrapper wrapper--large wrapper">
<section id="product-overview" class="single-product-features single-product-features--tall" style="background-image:url('large-camsptove-with-phone-and-twigs.jpg'); padding-bottom:10px;">
   <div class="wrapper wrapper--large wrapper--max_height">
     <!-- THUMBNAILS AND IMAGES -->
<div class="grid__item large--five-eighths medium--one-whole table" id="product-thumbnails">

      
        <!-- HERO HOME -->
<ul id="product-carousels">
  
  <li class="carousel">
    <div class="hero__viewport hero-carousel">
      <ul class="slides">
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/PizzaDome_full_grande_ce7a99bc-edf4-406a-8d6b-146609006031_large.jpg?v=1466541100" alt="Pizza Dome" title="Pizza Dome" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/PizzaDome_full_with_pizza_grande_c9547309-fa12-4d33-b01b-84f3a219d107_large.jpg?v=1466541100" alt="Pizza Dome" title="Pizza Dome"/>
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/BioLite_BaseCamp_packed_large_0d630a57-4b12-449e-918e-1dad9a39c806_large.jpeg?v=1466541100" alt="BioLite BaseCamp" title="BioLite BaseCamp" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/PizzaDome_inside_the_box_forbundle_large.jpg?v=1466541100" alt="PizzaDome Inside The Box" title="PizzaDome Inside The Box" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/BaseCamp_powerpack_closeUp_076dc6a8-e0c7-481d-98cf-a456c177966a_large.jpg?v=1466603222" alt="BaseCamp Powerpack" title="BaseCamp Powerpack" />
        </li>
        
      </ul>
    </div>
  </li>
</ul>

        <div class="product-single__mini-slider">
  
    
    <ul id="product-color-images-container">
      <ul id="product-single__image04" class="product-single__image" data-control-target>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/PizzaDome_full_grande_ce7a99bc-edf4-406a-8d6b-146609006031_large.jpg?v=1466541100" alt="Pizza Dome" title="Pizza Dome" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/PizzaDome_full_with_pizza_grande_c9547309-fa12-4d33-b01b-84f3a219d107_large.jpg?v=1466541100" alt="PizzaDome Full With Pizza" title="PizzaDome Full With Pizza" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/BioLite_BaseCamp_packed_large_0d630a57-4b12-449e-918e-1dad9a39c806_large.jpeg?v=1466541100" alt="BioLite BaseCamp" title="BioLite BaseCamp" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/PizzaDome_inside_the_box_forbundle_large.jpg?v=1466541100" alt="PizzaDome Inside The Box" title="PizzaDome Inside The Box" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/BaseCamp_powerpack_closeUp_076dc6a8-e0c7-481d-98cf-a456c177966a_large.jpg?v=1466603222" alt="BaseCamp Powerpack" title="BaseCamp Powerpack" />
        </li>
        
      </ul>
      <ul class="product-single__thumbnails" data-control-nav data-control-targets="#product-single__image04">
        
          <li class="grid__item">
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/PizzaDome_full_grande_ce7a99bc-edf4-406a-8d6b-146609006031_compact.jpg?v=1466541100" alt="PizzaDome" title="PizzaDome" />
        </li>
        
          <li class="grid__item">          
            <img src="//cdn.shopify.com/s/files/1/0666/9741/products/PizzaDome_full_with_pizza_grande_c9547309-fa12-4d33-b01b-84f3a219d107_compact.jpg?v=1466541100" alt="PizzaDome Full With Pizza" title="PizzaDome Full With Pizza" />
        </li>
        
           <li class="grid__item">      
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/BioLite_BaseCamp_packed_large_0d630a57-4b12-449e-918e-1dad9a39c806_compact.jpeg?v=1466541100" alt="BioLite BaseCamp" title="BioLite BaseCamp" />
        </li>
        
          <li class="grid__item">       
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/PizzaDome_inside_the_box_forbundle_compact.jpg?v=1466541100" alt="PizzaDome Inside The Box Bundle" title="PizzaDome Inside The Box Bundle" />
        </li>
        
          <li class="grid__item">
            <img src="//cdn.shopify.com/s/files/1/0666/9741/products/BaseCamp_powerpack_closeUp_076dc6a8-e0c7-481d-98cf-a456c177966a_compact.jpg?v=1466603222" alt="BaseCamp Powerpack closeUp" title="BaseCamp Powerpack closeUp" />
        </li>
        
      
      </ul>
    </ul>
    
  
</div>

      
      
     </div>
     <!-- Content -->
     <div class="grid__item large--three-eighths medium--one-whole table" id="product-content">
           <h6 class="mb20">Make wood-fired pizza. Anywhere. </h6>
          
       <p class="light"><strong>Limited Supply Available.</strong> The BioLite BaseCamp pairs up with the NEW PizzaDome System to cook pizzas, flatbreads, and other favorites. The dome's integrated thermometer monitors temps while the foodsafe cermaic stone keeps foods crisp and evenly cooked. A modular system, you can use the dome separately as a traditional lid for concentrated heat and faster cooktimes. <strong>High sellout risk: limited quantities reserved for Blaze Viewers!</strong>
           </p>
           
           <div class="top-review-container">
<h6 class="light alt mt20">BaseCamp <span class="primary-blaze semibold"> + 1 FREE PizzaDome.</span><br /><br /> <span class="text-center semibold" style="font-size: 16pt;">Blaze Viewers Save: <span class="primary-blaze semibold">$99.95</span></span></h6>
</div>
        
       
        
    <div class="add-to-cart-container"><button type="submit" name="add" id="AddToCart" class="btn btn-red mt20 cart-item--add" data-product-variant="31532042510"> <span id="AddToCartText">Add To My Cart</span> </button></div>
<div class="price-container">
<select name="id" id="productSelect" class="product-single__variants">
<option selected="selected" value="31532042510" data-locale="Default">$254.95 USD</option>
</select>
<span id="ProductPrice" itemprop="price" class="h4 primary-blaze-warm"> <span class="money">$254.95</span> </span> </div>
         
      

       
     </div>
   </div>
  </section>
</div>
</section>
<div class="blog-full">
<div class="wrapper wrapper--large wrapper mt30">
<h6 class="light">Learn More About The PizzaDome Bundle</h6>
<hr class="mb20" />


<div class="list-toggle mb20">
<div class="list-toggle__title" data-control-sibling="" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>See Full Tech Specs</span></div>
<div class="list-toggle__content">
   <div class="wrapper">
     <div id="product-specs-new" class="wrapper wrapper--large wrapper--max_height">
       <div class="large--one-third grid__item">
     
            <div class="row-medium">
              <div class="spec-title">BaseCamp Cooktop</div>
              <div class="spec-desc light"><span>13.25” diameter (33.66 cm)<br> 138 in² cooking area (350.52 cm²)</span></div>
            </div>
            
            <div class="row-medium">
              <div class="spec-title">Charging Time</div>
              <div class="spec-desc light"><span>30 min of charging = 5 hours talk time, 5 hours video, 20 hours of audio (average smartphone)</span></div>
            </div>
            
            <div class="row">
              <div class="spec-title">Battery</div>
              <div class="spec-desc light"><span>Lithium ion, 2200mAh</span></div>
            </div>
           
          
       </div>
       <div class="large--one-third grid__item">
          <div class="row-medium">
              <div class="spec-title">Weight</div>
            <div class="spec-desc light"><span><strong>BaseCamp:</strong> 17.92 lbs (8.16 kg)</span><br />
            							<span><strong>PizzaDome:</strong> 4.4 lbs (2.0 kg)</span></div>
            </div>
            <div class="row-medium">
              <div class="spec-title">Fuel</div>
              <div class="spec-desc light"><span>Solid biomass (twigs, firewood, wood chunks etc)</span></div>
            </div>
            <div class="row">
              <div class="spec-title">USB Power Output</div>
              <div class="spec-desc light"><span>5W@5V, charging times vary by strength of fire</span></div>
            </div>
      
        
           
       
       </div>
       <div class="large--one-third grid__item">
          
            
            <div class="row-medium">
              <div class="spec-title">Compatible Devices</div>
              <div class="spec-desc light"><span>Powers most USB-chargeable devices including smartphones</span></div>
            </div>
            <div class="row-medium">
              <div class="spec-title">Materials</div>
              <div class="spec-desc light"><span>Stainless steel, cast iron, high-temperature plastic</span></div>
            </div>
            <div class="row">
              <div class="spec-title">In The Box</div>
              <div class="spec-desc light"><span>BioLite BaseCamp<br>PizzaDome Lid<br>Ceramic Pizza Stone<br>Triangle Base<br>Firestarter<br>Fuel Rack and Ash Tray<br>Gooseneck USB light<br>Instructions</span></div>
            </div>
       </div>
     </div>
   </div>
</div>
</div>

<hr class="mt20 mb50" />
</div>
</div>
<!-- END #deal4 BUNDLE -->

<!-- #deal5 BUNDLE -->
<section id="product-overview" class="single-product-features single-product-features--tall" style="background-image: url('large-camsptove-with-phone-and-twigs.jpg');">
<section class="interstitial section-xlarge mb30" >
<div class="wrapper table">
<div class="interstitial__content table-cell text-center"><a name="deal5" title="Deal"></a>
<h3 class="mt0">CampStove: The Blaze Special </h3>
</div>
<div class="interstitial__overlay interstitial__overlay--gray"></div>
</div>
</section>
<div class="wrapper wrapper--large wrapper">
<section id="product-overview" class="single-product-features single-product-features--tall" style="background-image:url('large-camsptove-with-phone-and-twigs.jpg'); padding-bottom:10px;">
   <div class="wrapper wrapper--large wrapper--max_height">
     <!-- THUMBNAILS AND IMAGES -->
<div class="grid__item large--five-eighths medium--one-whole table" id="product-thumbnails">

      
        <!-- HERO HOME -->
<ul id="product-carousels">
  
  <li class="carousel">
    <div class="hero__viewport hero-carousel">
      <ul class="slides">
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/CampStove_1_updated_d48f0013-c917-4636-9d51-1e68d875c252_large.jpg?v=1458138103" alt="CampStove 1" title="CampStove 1" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/CampStove_2_large.jpeg?v=1458138103" alt="CampStove 2" title="CampStove 2" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/CampStove_3_large.jpeg?v=1458138103" alt="CampStove 3" title="CampStove 3" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/CampStove_4_cf767844-4513-43ee-9b37-367d8170b146_large.jpeg?v=1458138103" alt="CampStove 4" title="CampStove 4" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/FlexLight_3_8e389bda-ec8d-437d-a816-9b3e2372fc2d_large.jpg?v=1458138104" alt="CampStove 5" title="CampStove 5" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/FlexLight_large.jpg?v=1458138107" alt="FlexLight" title="FlexLight" />
        </li>
        
      </ul>
    </div>
  </li>
</ul>

        <div class="product-single__mini-slider">
  
    
    <ul id="product-color-images-container">
      <ul id="product-single__image05" class="product-single__image" data-control-target>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/CampStove_1_updated_d48f0013-c917-4636-9d51-1e68d875c252_large.jpg?v=1458138103" alt="CampStove 1" title="CampStove 1" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/CampStove_2_large.jpeg?v=1458138103" alt="CampStove 2" title="CampStove 2" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/CampStove_3_large.jpeg?v=1458138103" alt="CampStove 3" title="CampStove 3" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/CampStove_4_cf767844-4513-43ee-9b37-367d8170b146_large.jpeg?v=1458138103" alt="CampStove 4" title="CampStove 4" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/FlexLight_3_8e389bda-ec8d-437d-a816-9b3e2372fc2d_large.jpg?v=1458138104" alt="FlexLight" title="FlexLight" />
        </li>
        
        <li>
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/FlexLight_large.jpg?v=1458138107" alt="FlexLight" title="FlexLight"/>
        </li>        
      </ul>
      <ul class="product-single__thumbnails" data-control-nav data-control-targets="#product-single__image05">
        
          <li class="grid__item">
          <img src="//cdn.shopify.com/s/files/1/0666/9741/products/CampStove_1_updated_d48f0013-c917-4636-9d51-1e68d875c252_compact.jpg?v=1458138103" alt="CampStove" title="CampStove" />
        </li>
        
			<li class="grid__item">          
  <img src="//cdn.shopify.com/s/files/1/0666/9741/products/CampStove_2_compact.jpeg?v=1458138103" alt="CampStove" title="CampStove" />
        </li>
        
		<li class="grid__item">
  <img src="//cdn.shopify.com/s/files/1/0666/9741/products/CampStove_3_compact.jpeg?v=1458138103" alt="CampStove" title="CampStove" />
        </li>
        
		<li class="grid__item">
  <img src="//cdn.shopify.com/s/files/1/0666/9741/products/CampStove_4_cf767844-4513-43ee-9b37-367d8170b146_compact.jpeg?v=1458138103" alt="CampStove" title="CampStove" />
        </li>
        
		<li class="grid__item">
  <img src="//cdn.shopify.com/s/files/1/0666/9741/products/FlexLight_3_8e389bda-ec8d-437d-a816-9b3e2372fc2d_compact.jpg?v=1458138104" alt="FlexLight" title="FlexLight" />
        </li>
        
		<li class="grid__item">
  <img src="//cdn.shopify.com/s/files/1/0666/9741/products/FlexLight_compact.jpg?v=1458138107" alt="FlexLight"  title="FlexLight" />
        </li>        
       
      </ul>
    </ul>
    
  
</div>


      
     </div>
     <!-- Content -->
     <div class="grid__item large--three-eighths medium--one-whole table" id="product-content">
           <h6 class="mb20">The original at a very special price</h6>
          
       <p class="light"><strong>The Stove That Started It All.</strong> Looking to try out BioLite? Look no further. Seen on the streets during Hurricane Sandy, the CampStove was catapulted into the spotlight as a portable way to cook meals and charge devices all at the same time. Pick up the stove and enjoy smokeless flames in minutes using nothing but the sticks around you. <strong>FREE FlexLight included.</strong>
           </p>
           
           <div class="top-review-container">
<h6 class="light alt mt20">CampStove <span class="primary-blaze semibold"> + 1 FREE FlexLight.</span><br /><br /> <span class="text-center semibold" style="font-size: 16pt;">Blaze Viewers Save: <span class="primary-blaze semibold">$24.00</span></span></span></h6>
</div>
        
       
        
    <div class="add-to-cart-container"><button type="submit" name="add" id="AddToCart" class="btn btn-red mt20 cart-item--add" data-product-variant="31532070862"> <span id="AddToCartText">Add To My Cart</span> </button></div>
<div class="price-container">
<select name="id" id="productSelect" class="product-single__variants">
<option selected="selected" value="31532070862" data-locale="Default">$99.95 USD</option>
</select>
<span id="ProductPrice" itemprop="price" class="h4 primary-blaze-warm"> <span class="money">$99.95</span> </span> </div>
         
      

       
     </div>
   </div>
  </section>
</div>
</section>
<div class="blog-full">
<div class="wrapper wrapper--large wrapper mt30">
<h6 class="light">Learn More About The CampStove: The Blaze Special</h6>
<hr class="mb20" />
<div class="list-toggle mb20">
<div class="list-toggle__title" data-control-sibling="" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>Watch The Video</span></div>
<div class="list-toggle__content"><iframe width="800" height="450" src="https://www.youtube.com/embed/lmxmEiLRbLI" style="margin: 10px auto;" frameborder="0" allowfullscreen=""></iframe></div>
</div>


<div class="list-toggle mb20">
<div class="list-toggle__title" data-control-sibling="" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>See Full Tech Specs</span></div>
<div class="list-toggle__content">
   <div class="wrapper">
     <div id="product-specs-new" class="wrapper wrapper--large wrapper--max_height">
       <div class="large--one-third grid__item">
          <div class="row-tight">
           <div class="spec-title">Fuel</div>
           <div class="spec-desc light"><span>Renewable biomass (twigs, pinecone, wood pellets)</span></div>
         </div>
         

         <div class="row-medium">
           <div class="spec-title">Weight</div>
           <div class="spec-desc light"><span>2.06 lbs (33 oz)</span></div>
         </div>

        
         <div class="row">
           <div class="spec-title">Charging Time</div>
           <div class="spec-desc light"><span>20 minutes of charging provides 60 minues of talk time. Charging times vary by device.</span></div>
         </div>
         
         
         <div class="row-tight">
           <div class="spec-title">Fire Quality</div>
           <div class="spec-desc light"><span>1.6 oz (46 grams) of wood to boil 1 liter of water</span></div>
         </div>
       </div>
       
       
       <div class="large--one-third grid__item">
         <div class="row-tight">
           <div class="spec-title">Fire Power Output</div>
           <div class="spec-desc light"><span>3.4 kW (LO), 5.5 kW (HI)</span></div>
         </div>
         <div class="row-medium">
           <div class="spec-title">Boil Time</div>
           <div class="spec-desc light"><span>4.5 minutes to boil 1 liter of water. Boiling times vary by strength of fire</span></div>
         </div>
         <div class="row">
           <div class="spec-title">Packed Size</div>
           <div class="spec-desc light"><span>Height: 8.25 inches (209.6 mm)  Width: 5 inches (127 mm)</span></div>
         </div>

         <div class="row">
           <div class="spec-title">Compatible Devices</div>
           <div class="spec-desc light"><span>Powers most USB-chargeable devices including smart phones</span></div>
         </div>
       </div>
       
       
       <div class="large--one-third grid__item">
         <div class="row-tight">
           <div class="spec-title">Lumens (FlexLight)</div>
           <div class="spec-desc light"><span>100 Lm</span></div>
         </div>
         
         <div class="row-tight">
           <div class="spec-title">USB Power Output</div>
           <div class="spec-desc light"><span>Max Continuous: 2W @5V <br/> Peak: 4W @5V</span></div>
         </div>

         <div class="row">
           <div class="spec-title">In The Box</div>
           <div class="spec-desc light"><span>CampStove<br>Stuff Sack <br/> Instructions <br/> USB Cord <br/> Firelighter</span></div>
         </div>
       </div>
       
       
     </div>
   </div>
</div>
</div>

<hr class="mt20 mb50" />
</div>
</div>
<!-- END #deal5 BUNDLE -->


<section class="interstitial section-xlarge mt50" style="background-image: url('https://cdn.shopify.com/s/files/1/0666/9741/files/interstitial-bottom.jpg?9381155204790498037');">
<div class="wrapper table">
<div class="interstitial__content table-cell text-center">
<h3 class="mt0">Thanks for visiting the BioLite + Blaze Gift Shop</h3>
<h6 class="light pb70">Remember, you can only take advantage of these special deals from this page.</h6>
</div>
<div class="interstitial__overlay interstitial__overlay--red"></div>
</div>
</section>
</div>