<div class="landing-section-hero" style="background-color:#000;">
  <div class="keep-scrolling">   
    <span class="scrolling-msg">Scroll To Explore Features</span>
   <i class="icomoon icon-downArrow keep-scrolling-arrow"></i>
  </div>

  
  <div class="landing-main-wrapper">
  <span class="landing-main">This Is CampStove 2</span>
  <span class="landing-lead-in hide-on-mobile-480">Burn sticks, cook your meals, and charge your gear: our award-winning wood-burning stove is back and better than ever, now incorporating four years of customer feedback.</span>
  <span class="landing-new-features">
      <ul>
        <li>50% More Power</li>
        <li>NEW On-Board Battery</li>
        <li>Updated LED Interface</li>
    </ul>
  </span>
    <div class="clearfix"></div>
     
       <!-- <i class="icomoon icon-playbutton-01 landing-play-button"></i>
          <span class="landing-play">WATCH: Introducing CampStove 2</span>-->
    <div class="landing-feature-video">   
    <a href="#" class=" btn btn-white landing-feature-main-button" data-control-modal="#hero-video--campstove2" title="Shop Now">
     <span><i class="icomoon icon-playTriangle-01" style="font-size:12px;padding-right:7px;"></i>WATCH: Meet CampStove 2</span></a>
      
      <a href="/products/campstove-2" class=" btn btn-outline-white" title="Shop Now">
     <span>Buy Now</span></a>
    </div>
    
    
    
    <div id="hero-video" class="modal">
       
     <header class="modal__header">
     
    </header>
                        
    <div id="hero-video--campstove2" class="modal">
   <header class="modal__header">
     
     <div class="modal--close">
       <i class="fa fa-circle-border fa-circle-border--medium fa-times"></i>
     </div>
   </header>
  <div class="modal__content modal__content--video">
                <iframe src="https://www.youtube.com/embed/YF6dR8fSGvU?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                </div> 
        </div>
  </div>
    
  </div>
 
  <video autoplay="autoplay" class="hide-on-mobile-480" style="width:100%;position:relative;" 
         poster="https://s3-us-west-2.amazonaws.com/biolitewebsite/campstove2-landing/meet-campstove-2.files/html5video/Meet-CampStove-2.jpg" 
         title="Meet CampStove 2" loop="loop" onended="var v=this;setTimeout(function(){v.play()},300)">
<source src="https://s3-us-west-2.amazonaws.com/biolitewebsite/campstove2-landing/meet-campstove-2.files/html5video/Meet-CampStove-2.m4v" type="video/mp4" />
<source src="https://s3-us-west-2.amazonaws.com/biolitewebsite/campstove2-landing/meet-campstove-2.files/html5video/Meet-CampStove-2.webm" type="video/webm" />
<source src="https://s3-us-west-2.amazonaws.com/biolitewebsite/campstove2-landing/meet-campstove-2.files/html5video/Meet-CampStove-2.mp4" />
<object type="application/x-shockwave-flash" data="https://s3-us-west-2.amazonaws.com/biolitewebsite/campstove2-landing/meet-campstove-2.files/html5video/flashfox.swf" width="1920" height="984" style="position:relative;">
<param name="movie" value="https://s3-us-west-2.amazonaws.com/biolitewebsite/campstove2-landing/meet-campstove-2.files/html5video/flashfox.swf" />
<param name="allowFullScreen" value="true" />
<param name="flashVars" 
       value="autoplay=true&controls=false&fullScreenEnabled=false&posterOnEnd=true&loop=false&poster=https://s3-us-west-2.amazonaws.com/biolitewebsite/campstove2-landing/meet-campstove-2.files/html5video/Meet-CampStove-2.jpg&src=Meet-CampStove-2.m4v" />
 <embed src="meet-campstove-2.files/html5video/flashfox.swf" width="1920" height="984" style="position:relative;" 
        flashVars="autoplay=true&controls=false&fullScreenEnabled=false&posterOnEnd=true&loop=false&poster=https://s3-us-west-2.amazonaws.com/biolitewebsite/campstove2-landing/meet-campstove-2.files/html5video/Meet-CampStove-2.jpg&src=Meet-CampStove-2.m4v"	
        allowFullScreen="true" wmode="transparent" type="application/x-shockwave-flash" pluginspage="http://www.adobe.com/go/getflashplayer_en" />
<img alt="Meet-CampStove-2" src="https://s3-us-west-2.amazonaws.com/biolitewebsite/campstove2-landing/meet-campstove-2.files/html5video/Meet-CampStove-2.jpg" style="position:absolute;left:0;" width="100%" title="Video playback is not supported by your browser" />
</object>
</video>
<script src="https://s3-us-west-2.amazonaws.com/biolitewebsite/campstove2-landing/meet-campstove-2.files/html5video/html5ext.js" type="text/javascript"></script>


</div>
<div class="clearfix"></div>

<div class="landing-section better-charging" style="background-color:#f3f3f3;">
    <nav class="nav-horizontal nav-horizontal--products" data-sticky>
    <div class="wrapper wrapper_height meet-campstove-sticky">
      <div class="grid__item grid__item large--one-third">
        <span class="meet-campstove-sticky-title">CampStove 2</span>
        
      </div>
       <div class="grid__item grid__item large--one-third mobile-hide">
      </div>
      <div class="grid__item grid__item large--one-third" style="text-align:right">
        <span class="meet-campstove-buy-button"> <a href="/products/campstove-2"> Buy Now <i class="icomoon icon-arrowThick-01" style="font-size:14px;padding-left:5px;position:relative;top:2px;"></i></a></span> 
      </div>
</div>
   
  </nav>
  <div class="wrapper--max"> 
     <div class="grid__item large--two-thirds vh85">
    <img src="https://s3-us-west-2.amazonaws.com/biolitewebsite/campstove2-landing/CampStove2_chargingExperience.png" class="image-center" alt="CampStove 2 Better Charging Experience" >
  </div>
    
  <div class="grid__item large--one-third col-padding-right">
    <h2 class="landing-section-header gray-warm">A Better Charging Experience</h2>
    <span class="landing-section-desc gray-warm">As gear gets hungrier, the CampStove 2 is ready to keep up. 
      Updated thermoelectric technology produces <strong>50% more power</strong> while the new <strong>2600 mAh on-board battery</strong> (a full phone charge) stores your energy for whenever you need it. </span>
       
  <div class="grid__item large--one-quarter">
    <img src="https://s3-us-west-2.amazonaws.com/biolitewebsite/campstove2-landing/charge-phone.svg" class="mb20" alt="Charge Phones" >
      <span class="camp-kitchen-captions gray-warm text-center hide-on-mobile-480">Phones</span>
    </div>
    
     <div class="grid__item large--one-quarter">
    <img src="https://s3-us-west-2.amazonaws.com/biolitewebsite/campstove2-landing/charge-actioncam-.svg" class="mb20" alt="Charge Action Cameras" >
      <span class="camp-kitchen-captions gray-warm text-center hide-on-mobile-480">Action Cams</span>
    </div>
    
      <div class="grid__item large--one-quarter">
    <img src="https://s3-us-west-2.amazonaws.com/biolitewebsite/campstove2-landing/charge-gps.svg" class="mb20" alt="Charge GPSs" >
      <span class="camp-kitchen-captions gray-warm text-center hide-on-mobile-480">GPSs</span>
    </div>
    
     
    
      <div class="grid__item large--one-quarter">
    <img src="https://s3-us-west-2.amazonaws.com/biolitewebsite/campstove2-landing/charge-biolitegear.svg" class="mb20" alt="Charge BioLite Gear" >
      <span class="camp-kitchen-captions gray-warm text-center hide-on-mobile-480">BioLite Gear</span>
    </div>
    
    </div>      
  </div>
</div>

<div class="landing-section" style="background-color:#252729;">
 
    <div class="wrapper--max col-flex"> 
      
       <div class="grid__item large--one-third col-flex-bottom col-padding-left">
    <h2 class="landing-section-header white">The Same Wood-Burning Magic</h2>
    <span class="landing-section-desc white">51 carefully calibrated jets inject oxygen into your flames for complete combustion. The result? The warm feel of a campfire without any of the smoke. </span>
  
         <div class="tech-components-wrapper">

         <div class="tech-components">
       <i class="icomoon icon-cook tech-components-icon" style="color:#e74034"></i>
       <span class="tech-components-caption" style="color:#e74034">Fire</span>
         </div>
      <div class="tech-components">
       <i class="icomoon icon-fan2 tech-components-icon" style="color:#00b2b0"></i>
       <span class="tech-components-caption" style="color:#00b2b0">Air</span>
         </div>
         <div class="tech-components">
       <i class="icomoon icon-charge tech-components-icon" style="color:#f8bf1d"></i>
       <span class="tech-components-caption" style="color:#f8bf1d">Electricity</span>
         </div>
         </div>
      </div>
      
     <div class="grid__item large--two-thirds col-flex-top vh90">
    <img src="https://s3-us-west-2.amazonaws.com/biolitewebsite/campstove2-landing/gif-test.gif" class="image-center" alt="CampStove 2 Better Charging Experience" >
  </div>
    
  </div>

</div>

<div class="landing-section camp-kitchen">
  <div class="wrapper--max"> 
     <div class="grid__item large--one-half">
  </div>
    
  <div class="grid__item large--one-half col-padding-right">
    <h2 class="landing-section-header white">A Complete Camp Kitchen</h2>
    <span class="landing-section-desc white">Ditch the rationing anxiety of gas canisters rediscover the fun and satisfaction of cooking with wood. Pair the CampStove 2 with BioLite cookware including the brand new CoffeePress and bring epic meals to the outdoors. </span>
  
    <div class="grid__item large--one-fifth camp-kitchen-bundles grid-center">
    <img src="https://s3-us-west-2.amazonaws.com/biolitewebsite/campstove2-landing/campstove2-illustration.svg" class="camp-kitchen-bundles-illlustration" alt="CampStove 2" >
      <span class="camp-kitchen-captions white text-center">CampStove 2</span>
    </div>
    
    <div class="grid__item large--one-fifth full-width-mobile camp-kitchen-bundles text-center">
      <i class="icomoon icon-plus-filled add-accessories-plus"></i>
    <!--<span class="camp-kitchen-captions white text-center hide-on-mobile">Add Accessories</span>-->
    </div>
    
    <div class="grid__item large--one-fifth camp-kitchen-bundles">
    <img src="https://s3-us-west-2.amazonaws.com/biolitewebsite/campstove2-landing/portablegrill-illustration.svg" class="camp-kitchen-bundles-illlustration" alt="Portable Grill" >
      <span class="camp-kitchen-captions white text-center">Portable Grill</span>
    </div>
    
    
    <div class="grid__item large--one-fifth camp-kitchen-bundles">
    <img src="https://s3-us-west-2.amazonaws.com/biolitewebsite/campstove2-landing/kettlepot-illustration.svg" class="camp-kitchen-bundles-illlustration" alt="KettlePot" >
      <span class="camp-kitchen-captions white text-center">KettlePot</span>
    </div>
    
    
    <div class="grid__item large--one-fifth camp-kitchen-bundles">
    <img src="https://s3-us-west-2.amazonaws.com/biolitewebsite/campstove2-landing/coffeepress-illustration.svg" class="camp-kitchen-bundles-illlustration" alt="CoffeePress" >
      <span class="camp-kitchen-captions white text-center">CoffeePress</span>
    </div>
    
    
    </div>      
  </div>
</div>

<div class="quick-specs" style="background-color:#00b2b0;">
  <div class="wrapper--max"> 
    <div class="grid__item large">
    <h4 class="landing-section-header white text-center">CampStove 2 Quick Specs</h4>
    </div>
        <div class="grid__item large--one-sixth text-center">
          <i class="icomoon icon-chargeUSB quick-specs-icons"></i>
          <span class="quick-specs-header">Power Out</span>
          <span class="quick-specs-subhead">3 watts via USB<br> TEG generated</span>
    </div>
    <div class="grid__item large--one-sixth text-center">
          <i class="icomoon icon-weight quick-specs-icons"></i>
          <span class="quick-specs-header">Weight</span>
          <span class="quick-specs-subhead">2.06 lbs, 935 g <br>(same as CampStove 1)</span>
    </div>
    <div class="grid__item large--one-sixth text-center">
          <i class="icomoon icon-clean-01 quick-specs-icons"></i>
          <span class="quick-specs-header">Boil Time</span>
          <span class="quick-specs-subhead">4.5 minutes for every <br>liter of water boiled</span>
    </div>
    
     <div class="grid__item large--one-sixth text-center">
          <i class="icomoon icon-battery quick-specs-icons"></i>
          <span class="quick-specs-header">Battery</span>
          <span class="quick-specs-subhead">2600 mAh<br>(1 full phone charge) </span>
    </div>
    <div class="grid__item large--one-sixth text-center">
          <i class="icomoon icon-pack-new2 quick-specs-icons"></i>
          <span class="quick-specs-header">Packed Size</span>
          <span class="quick-specs-subhead">8.25 x 5 in<br> (210 x 127 mm)</span>
    </div>
    <div class="grid__item large--one-sixth text-center">
          <i class="icomoon icon-twigs quick-specs-icons"></i>
          <span class="quick-specs-header">Fuel</span>
          <span class="quick-specs-subhead">Renewable biomass<br>sticks, pellets, pinecones</span>
    </div>

  </div>
</div>
<div class="landing-section moab-slideshow" style="background-color:#f3f3f3;">
 
    <div class="wrapper--max"> 

    <div class="grid__item large">
    <h3 class="landing-section-header warm-gray text-center">We traveled to Arches National Park in Moab, Utah for the CampStove 2's inaugural burn.</h3>
  </div> 
     <div class="grid__item large">
     <div id="Glide" class="moab-slide-show-container glide">
   
<div class="glide__arrows">
        <button class="glide__arrow prev" data-glide-dir="<"><i class="icomoon icon-LeftArrow_slider world-icon" style="color:#525252;font-size:28px !important;"></i></button>
        <button class="glide__arrow next" data-glide-dir=">"><i class="icomoon icon-RightArrow_slider world-icon" style="color:#525252;font-size:28px !important;"></i></button>
    </div>  
   
   <div class="glide__wrapper">
        <ul class="glide__track">
            
<li class="glide__slide">
          <img src="https://s3-us-west-2.amazonaws.com/biolitewebsite/campstove2-landing/CS2_lifestyle_3.jpg" alt="" title="CampStove 2 At Arches National Park" />
</li>
<li class="glide__slide">
<img src="https://s3-us-west-2.amazonaws.com/biolitewebsite/campstove2-landing/slideshow-2.jpg" alt="" title="CampStove 2 At Arches National Park" /></li>    
          <li class="glide__slide">
<img src="https://s3-us-west-2.amazonaws.com/biolitewebsite/campstove2-landing/slideshow-3.jpg" alt="" title="CampStove 2 At Arches National Park" /></li>    
          <li class="glide__slide">
<img src="https://s3-us-west-2.amazonaws.com/biolitewebsite/campstove2-landing/slideshow-4.jpg" alt="" title="CampStove 2 At Arches National Park" /></li>    
          <li class="glide__slide">
<img src="https://s3-us-west-2.amazonaws.com/biolitewebsite/campstove2-landing/slideshow-5.jpg" alt="" title="CampStove 2 At Arches National Park" /></li>    
          <li class="glide__slide">
<img src="https://s3-us-west-2.amazonaws.com/biolitewebsite/campstove2-landing/slideshow-6.jpg" alt="" title="CampStove 2 At Arches National Park" /></li>    
          <li class="glide__slide">
<img src="https://s3-us-west-2.amazonaws.com/biolitewebsite/campstove2-landing/slideshow-7.jpg" alt="" title="CampStove 2 At Arches National Park" /></li>    
          <li class="glide__slide">
<img src="https://s3-us-west-2.amazonaws.com/biolitewebsite/campstove2-landing/slideshow-8.jpg" alt="" title="CampStove 2 At Arches National Park" /></li>    
          <li class="glide__slide">
<img src="https://s3-us-west-2.amazonaws.com/biolitewebsite/campstove2-landing/slideshow-9.jpg" alt="" title="CampStove 2 At Arches National Park" /></li>    
         

 </ul>
    </div>
       <div class="glide__bullets"></div>
   
   </div>
<script>
    $("#Glide").glide({
        type: "carousel"
    });
</script>
  </div>
  
  </div> 

</div>

<div class="quick-specs" style="background-color:#f3f3f3;">
  <div class="wrapper--max"> 
    <div class="grid__item large">
    <h4 class="landing-section-header gray-warm text-center mb30">Ready To Buy?</h4>
    </div>
        <div class="grid__item large text-center">
            
          <a href="/products/campstove-2" class="btn-large btn-large-primary closing-feature-main-button" title="Shop Now">
     <span>Shop CampStove 2</span></a>
          
              <a href="/products/campstove-2" class="btn-large btn-large-primary" title="Shop Now">
                <span> Shop CampStove 2 Bundle</span></a>
          <span class="button-caption">Save 20%</span>
   
    
    </div>
    
    
  

  </div>
</div>






                                
   

    




		