<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=926192344114382";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

  <section class="hero hero--product">
    <div class="hero__viewport">
      <div class="hero__inner hero__inner--light">
        <div class="hero__body wrapper table">
          <div class="table-cell text-center">

         <div class="badge-hero"><img src="https://cdn.shopify.com/s/files/1/0666/9741/files/OffGridPledge_badge_r10.png?5546355412963418907" style="vertical-align: top;" border="0" alt="Off Grid Weekend" title="Off Grid Weekend" /></div>


            
          </div>
        </div>
      </div>
      <div class="hero__image" style="background-image:url('https://cdn.shopify.com/s/files/1/0666/9741/files/Mosaic_r2.jpg?4396327103740094265')"></div>
    </div>
  </section>


<section class="section-tight">

        {% comment %}
        Regular page content goes here.
        {% endcomment %}
      <div class="rte">
        {{ page.content }}
      </div>
  
</section>



