 <script>new WOW().init();</script>

<script type="text/javascript">
  
  window.onload = function() {
  document.getElementById('deal').style.display = 'none';
};
  
function dealReveal() {
    var x = document.getElementById("deal");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
</script>

<div class="landing-section-hero backcountrybites-hero text-center wow fadeIn" data-wow-delay="0.8s">
  <div class="backcountry-hero-section">
        <span class="backcountry-hero-header white wow fadeIn" data-wow-delay="1.2s">Gourmet For Far Away</span> 
    <span class="backcountry-hero-subheader white wow fadeIn" data-wow-delay="1.2s"><img src="https://cdn.shopify.com/s/files/1/0666/9741/files/bb_logo.svg?17066277872300483271" alt="Backcountry Bites" title="Backcountry Bites" /></span> 
      <footer class="backcountry-hero-cta wow fadeInDown" data-wow-delay="2.2s">
         <a href="#" data-control-modal="#hero-video--backcountry-video"  class="btn btn-white mr10" title="Shop Now">
                  <span>  <i class="icomoon icon-play3 playicon"></i>Watch The Video </span>
                </a>       
              </footer>
  </div> 
  <i class="icomoon icon-downArrow bouncy-arrow"></i>
</div>

      <div id="hero-video-product" class="modal">
       
     <header class="modal__header">
    </header>
    <div id="hero-video--backcountry-video" class="modal">
   <header class="modal__header">
     <div class="modal--close">
       <i class="icomoon icon-close-circle modal-close-button"></i>
     </div>
   </header>
  <div class="modal__content modal__content--video">
                <iframe src="https://www.youtube.com/embed/ocIJmfk7WRI?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                </div> 
  </div>
  </div>
<div class="clearfix"></div>


 <div class="backcountrybites-how-it-works text-center">
        <div class="landing-section-wrapper text-center">
     <span class="backcountry-main-title white wow fadeIn" data-wow-delay="0.2s">How It Works</span>

   <div class="backcountrybites-how-it-works-col grid__item large--one-third medium--one-third small--one-whole wow fadeIn" data-wow-delay="0.4s">
      <span class="backcountrybites-how-it-works-icon white"><img src="https://cdn.shopify.com/s/files/1/0666/9741/files/backcountryBites_icons-01.svg?15717692109337877667" alt="Set Your Location" title="Set Your Location" /></span>
     <span class="backcountrybites-how-it-works-title white">Set Your Location</span>
     <span class="backcountrybites-how-it-works-subtitle white">Remote beach? Middle of the desert? No problem. Just set your drop zone in the app. </span>
   </div>
   
   <div class="backcountrybites-how-it-works-col grid__item large--one-third medium--one-third small--one-whole wow fadeIn" data-wow-delay="0.5s">
      <span class="backcountrybites-how-it-works-icon white"><img src="https://cdn.shopify.com/s/files/1/0666/9741/files/backcountryBites_icons-02.svg?15717692109337877667" alt="Meet Your Chute" title="Meet Your Chute" /></span>
     <span class="backcountrybites-how-it-works-title white">Meet Your Chute</span>
     <span class="backcountrybites-how-it-works-subtitle white">Our drones are loaded up with your meal and dispatched to your location.</span>
   </div>
   
   <div class="backcountrybites-how-it-works-col grid__item large--one-third medium--one-third small--one-whole wow fadeIn" data-wow-delay="0.6s">
      <span class="backcountrybites-how-it-works-icon white"><img src="https://cdn.shopify.com/s/files/1/0666/9741/files/backcountryBites_icons-03.svg?15717692109337877667" alt="Fire Up and Eat" title="Fire Up and Eat" /></span>
     <span class="backcountrybites-how-it-works-title white">Fire Up &amp; Eat</span>
     <span class="backcountrybites-how-it-works-subtitle white">Meal selection is curated by outdoor chefs to be grilled perfectly over a BioLite flame.</span>
   </div>
          
   </div>
</div>
  


<div class="landing-section backcountry-app">
     <div class="landing-section-wrapper">
  <div class="grid__item large--one-half medium--one-whole small--one-whole">
      
    
    <div class="backcountry-app-phone-demo" data-wow-delay="0.5s">
   <video autoplay="autoplay" class="backcountry-app-phone-demo-vid"
         poster="https://s3-us-west-2.amazonaws.com/biolitewebsite/backcountrybites/backcountryBites.files/html5video/backcountryBitesDemo.jpg" 
         title="BioLite SunLight Party Mode" loop="loop" onended="var v=this;setTimeout(function(){v.play()},300)">
<source src="https://s3-us-west-2.amazonaws.com/biolitewebsite/backcountrybites/backcountryBites.files/html5video/backcountryBitesDemo.jpg" type="video/mp4" />
<source src="https://s3-us-west-2.amazonaws.com/biolitewebsite/backcountrybites/backcountryBites.files/html5video/backcountryBitesDemo.webm" type="video/webm" />
</video>
<script src="https://s3-us-west-2.amazonaws.com/biolitewebsite/backcountrybites/backcountryBites.files/html5video/html5ext.js" type="text/javascript"></script>
  </div>
    
    
     <img class="backcountry-app-phone wow fadeIn" data-wow-delay="0.2s" src="https://cdn.shopify.com/s/files/1/0666/9741/files/phone_app.png?16934780061068631522" alt="Backcountry Bites In The App Store" title="Backcountry Bites In The App Store" />
  </div>

   <div class="grid__item large--one-half medium--one-whole small--one-whole">
       <div class="vertical-center medium--positionreset small--positionreset medium--text-center small--text-center sidekick-text backcountry-sidekick-text">
  <span class="sunlight-title primary medium--text-center small--text-center wow fadeInLeft">Epic Meals Everywhere</span> 
         <span class="medium--text-center small--text-center sunlight-description wow fadeInLeft">Set A Beacon, Get Some Bacon</span>

         <div class="sunlight-icon-feature-list small--positionreset">
          
          <span class="sunlight-icon-feature no-border-mobile medium--text-center  small--text-center sunlight-description wow fadeInLeft" data-wow-delay="0.3s" style="border-bottom: 1px solid #f3f3f3;">
            <img class="backcountry-icon-feature-icon" src="https://cdn.shopify.com/s/files/1/0666/9741/files/backcountryBites_icons-04.svg?4623303820027205388"/>Fresh Ingredients With No Weight On Your Back</span> 
           <span class="sunlight-icon-feature no-border-mobile  medium--text-center small--text-center sunlight-description wow fadeInLeft" data-wow-delay="0.4s" style="border-bottom: 1px solid #f3f3f3;">
             <img class="backcountry-icon-feature-icon" src="https://cdn.shopify.com/s/files/1/0666/9741/files/impact-health.svg?2545038651831288045"/>Calibrated Calories By Experet Chefs To Fuel Your Hike</span> 
          <span class="sunlight-icon-feature no-border-mobile  medium--text-center small--text-center sunlight-description wow fadeInLeft" data-wow-delay="0.5s" style="border-bottom: 1px solid #f3f3f3;">
            <img class="backcountry-icon-feature-icon" src="https://cdn.shopify.com/s/files/1/0666/9741/files/cleanflames.svg?2545038651831288045"/>Designed Exclusively For Use With BioLite CampStove System</span>
           <span class="sunlight-icon-feature medium--text-center  small--text-center sunlight-description wow fadeInLeft" data-wow-delay="0.6s">
             <img class="backcountry-icon-feature-icon" src="https://cdn.shopify.com/s/files/1/0666/9741/files/download-01.svg?2545038651831288045"/>Free App Sets Drone Drop-Off For Flex Delivery<br>
           <a href="#deal" onclick="dealReveal()"><img class="pt30 pr10 mobile-text-center hide-on-mobile"  src="https://cdn.shopify.com/s/files/1/0666/9741/files/iOS_appStore_download.png?9069070817626020306"  height="65" alt="Download on the Apple App Store"></a>
			<a href="#deal" onclick="dealReveal()" ><img class="pt30 mobile-text-center hide-on-mobile"  src="https://cdn.shopify.com/s/files/1/0666/9741/files/googlePlay_logo.png?18343300157132881387"  height="65" alt="Download on the Google Play Store"></a>
           </span> 
         </div>
     </div>
  </div>
  </div>
</div>



  

<div class="clearfix"></div>

<div class="landing-section backcountry-lets-get-cooking">
  <div class="backcountry-lets-get-cooking-text">
    <span class="sunlight-title large--white small--dark-gray medium--text-center small--text-center wow fadeInLeft">Let's Get Cooking</span>          
    <span class="medium--text-center large--white small--dark-gray small--text-center sunlight-description wow fadeInLeft">Getting started with Backcountry Bites takes just a few clicks. The outdoor's only food delivery service awaits. </span>

         <footer class="backcountry-hero-cta wow fadeInDown" data-wow-delay="0.2s">
          <a href="#deal" onclick="dealReveal()" class="btn btn-primary mr10" title="Start My Free Trial"><span>Start My Free Trial Today </span></a>
              </footer>
  </div>

</div>

<div class="landing-section backcountry-deal wow fadeIn" data-wow-delay="0.2s" id="deal">
          <div class="landing-section-wrapper">

   <div class="grid__item large--one-half medium--one-half small--one-whole">
     <div class="vertical-center medium--positionreset small--positionreset medium--text-center small--text-center deal-text">
   <span class="sunlight-title primary medium--text-center small--text-center">Yeah It's An April Fools</span>    
         <span class="medium--text-center small--text-center sunlight-description"><a href="/products/campstove-2-bundle">But here’s no joke: you can still create epic meals in the outdoors. 
           Here’s a very real offer to get you fired up for spring camping: <span class="backcountry-deal-detail">15% Off The CampStove 2 Bundle.<span class="desktop-break">
            <span style="text-decoration:underline;">PROMO HAS ENDED</span></span></span></a> </span>
       
       <p class="caption" style="text-decoration:underline"><a href="#" data-control-modal="#hero-video--fineprint">Terms &amp; Conditions</a></p>
      
       <span class="medium--text-center small--text-center sunlight-description pt30">
         Get your friends in on the fools - share via:
       </span>
       
       <span class="sunlight-icon-feature no-border-mobile  medium--text-center small--text-center sunlight-description backcountry-sharing">
         <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A//www.bioliteenergy.com/pages/backcountry-bites"><img class="sunlight-icon-feature-icon" src="https://cdn.shopify.com/s/files/1/0666/9741/files/BL__facebook.svg?5208880882340915073"/>Facebook</a></span>
       
       <span class="sunlight-icon-feature no-border-mobile  medium--text-center small--text-center sunlight-description backcountry-sharing">
         <a href="https://twitter.com/home?status=Introducing%20Backcountry%20Bites%20%40biolitestove's%20new%20off-grid%20meal%20delivery%20service%20made%20for%20adventurers.%20Sign%20up%20for%20a%20free%20trial%20today%3A%20https%3A//www.bioliteenergy.com/pages/backcountry-bites"><img class="sunlight-icon-feature-icon" src="https://cdn.shopify.com/s/files/1/0666/9741/files/BL__twitter.svg?5208880882340915073"/>Twitter</a></span>
       
       <span class="sunlight-icon-feature no-border-mobile  medium--text-center small--text-center sunlight-description backcountry-sharing">
         <a href="mailto:?&subject=Start Your Free Trial of Backcountry Bites&body=Have%20you%20heard%20of%20Backcountry%20Bites?%20It's%20BioLite's%20new%20off-grid%20meal%20delivery%20service%20made%20for%20adventurers.%20I%20thought%20you'd%20be%20interested%20in%20checking%20it%20out.%20Sign%20up%20for%20the%20free%20trial%20today%20%26%20kick%20off%20spring%20camping%20season%20with%20some%20epic%20meals.%20"> <img class="sunlight-icon-feature-icon" src="https://cdn.shopify.com/s/files/1/0666/9741/files/1-14_email.svg?5208880882340915073"/>Email</a></span>
       
        <span class="medium--text-center small--text-center sunlight-description pt50 pb20">
        Looking for inspiration? Here are a few recipes to get you fired up:
       </span>
       
       <div class="grid__item large--one-third medium--one-third small--one-whole backcountry-recipe-videos">
        <iframe width="100%"src="https://www.youtube.com/embed/5i-TtoT3JUk?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
       </div>
       
        <div class="grid__item large--one-third medium--one-third small--one-whole backcountry-recipe-videos">
        <iframe width="100%"src="https://www.youtube.com/embed/mvxaEHJ0rDc?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
       </div>
       
        <div class="grid__item large--one-third medium--one-third small--one-whole backcountry-recipe-videos">
        <iframe width="100%"src="https://www.youtube.com/embed/FrcFWNbep4g?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
       </div>
       
       
     </div>
  </div>
            
               <div class="grid__item large--one-half medium--one-half small--one-whole">
                 <a href="/products/campstove-2-bundle"><img class="backcountry-deal-img" src="https://s3-us-west-2.amazonaws.com/biolitewebsite/shop-product-images/CampStove2Bundle_shop.png" alt="CampStove 2 Bundle" title="CampStove 2 Bundle" /></a>
           <footer class="text-center">
         <a href="/products/campstove-2-bundle" class="btn-large btn-large-primary mr10" title="Shop CampStove 2 Bundle">
                  <span> Shop CampStove 2 Bundle </span>
                </a>       
              </footer> 
            </div>
            
  </div>
     <div id="hero-video" class="modal">
       
     <header class="modal__header">
     
    </header>
                        
    <div id="hero-video--fineprint" class="modal">
   <header class="modal__header">
     
     <div class="modal--close">
       <i class="fa fa-circle-border fa-circle-border--medium fa-times"></i>
     </div>
   </header>
   <div class="modal__content modal__content--video text-center">
        
     <div class="grid__item large--one-whole mt30 pr30 pl30">
          <h3 class="primary mt60 mb0">Terms &amp; Conditions</h3>
          <p class="light mb20">*Cannot be combined with any other offer, coupon, or used on any previous orders, shipping, or tax charges. Offer is non-transferable and value cannot be redeemed as cash. To activate offer, enter code: 'APRILFOOLS' at checkout to reveal discount. Offer eligible on the CampStove 2 Bundle only. This offer ends 4/2/2018 11:59PM ET.</p>
</div>
     
 
      
      </div>
  </div>
  </div>
  
</div>


