


  <header id="side-nav" class="firepit-side-menu">
    <nav>
      <ul>
        <li><a href="#this-is-firepit"><span></span></a></li>
        <li><a href="#fire-evolved"><span></span></a></li>
        <li><a href="#harder-working-fire"><span></span></a></li>
        <li><a href="#dual-fuel"><span></span></a></li>
        <li><a href="#features"><span></span></a></li>
        <li><a href="#photos"><span></span></a></li>
       <li><a href="#shop"><span>SHOP</span></a></li>
      </ul>
    </nav>
  </header>

<main>
<section id="this-is-firepit">
<div id="firepit-hero" class="landing-section-hero firepit-hero text-center wow fadeIn">
  <div class="sunlight-hero-section">
    <span class="sunlight-hero-header white wow fadeIn" data-wow-delay="1.2s">See Fire. Not Smoke.</span> 
    <span class="sunlight-hero-subheader white wow fadeIn" data-wow-delay="1.2s">This Is The BioLite FirePit</span> 
      <footer class="sunlight-hero-cta wow fadeInDown" data-wow-delay="2.2s">
         <a href="#" data-control-modal="#hero-video--firepit-video"  class="btn btn-orange mr10" title="Shop Now">
                  <span>Watch The Video </span>
                </a>       
        <a href="#shop" class="btn btn-outline-orange " title="Shop Now">
                  <span>Shop FirePit </span>
                </a>
              </footer>
  </div> 
  <i class="icomoon icon-downArrow bouncy-arrow"></i>
</div>
</section>

      <div id="hero-video-product" class="modal">
       
     <header class="modal__header">
    </header>
    <div id="hero-video--firepit-video" class="modal">
   <header class="modal__header">
     <div class="modal--close">
       <i class="icomoon icon-close-circle modal-close-button"></i>
     </div>
   </header>
  <div class="modal__content modal__content--video">
                <iframe src="https://www.youtube.com/embed/1vGKgBDfL5g?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                </div> 
  </div>
  </div>
<div class="clearfix"></div>

<section id="fire-evolved">

<div class="landing-section choose-your-hue-wrapper"> 
  
  <div class="fire-evolved-title text-center">
       <span class="sunlight-title text-center white wow fadeInDown">This Is Fire, Evolved</span>
   <span class="offwhite text-center sunlight-description wow fadeInDown">Upgrade Your Outdoor Campfire</span>
    </div>
 
    <div class="grid__item text-center fire-evolved-bullets-1">
  <img class="firepit-icon-feature-icon wow fadeIn" data-wow-delay="0.3s" alt="Way Less Smoke" src="https://cdn.shopify.com/s/files/1/0666/9741/files/FirePit_Landing_Page_icons-01.svg?12829321736861560472"/>
      <span class="white text-center firepit-description wow fadeIn" data-wow-delay="0.3s">Way Less Smoke</span>
      <span class="white text-center firepit-subtext wow fadeIn" data-wow-delay="0.3s">than conventional outdoor fire pits</span>
      
      
      <img class="firepit-icon-feature-icon wow fadeIn" data-wow-delay="0.4s" alt="X-Ray Mesh Body" src="https://cdn.shopify.com/s/files/1/0666/9741/files/FirePit_Landing_Page_icons-02.svg?12829321736861560472"/>
      <span class="white text-center firepit-description wow fadeIn" data-wow-delay="0.4s">X-Ray Mesh Body</span>
            <span class="white text-center firepit-subtext wow fadeIn" data-wow-delay="0.4s">provides full view of your fire</span>

 </div>

      <div class="grid__item text-center fire-evolved-bullets-2">
          <img class="firepit-icon-feature-icon wow fadeIn" data-wow-delay="0.5s" alt="Dual Fuel Capability" src="https://cdn.shopify.com/s/files/1/0666/9741/files/FirePit_Landing_Page_icons-03.svg?12829321736861560472"/>
        <span class="white text-center firepit-description wow fadeIn" data-wow-delay="0.5s">Dual Fuel Capability</span>
         <span class="white text-center firepit-subtext wow fadeIn" data-wow-delay="0.5s">allows you to burn wood or charcoal</span>

        
  <img class="firepit-icon-feature-icon wow fadeIn" data-wow-delay="0.6s" alt="Packable Design" src="https://cdn.shopify.com/s/files/1/0666/9741/files/FirePit_Landing_Page_icons-04.svg?12829321736861560472"/>
        <span class="white text-center firepit-description wow fadeIn" data-wow-delay="0.6s">Packable Design</span>
        <span class="white text-center firepit-subtext wow fadeIn" data-wow-delay="0.6s">is ready for beach, backyard &amp; beyond</span>

    </div>
      

  
  <div id="firepit-video" class="hero-video__video-wrapper">
   <video autoplay="autoplay" class="hero-video__video" poster="https://s3-us-west-2.amazonaws.com/biolitewebsite/firepit/FirePit_slowmo.files/html5video/SlowMo_Final.jpg" 
         title="BioLite FirePit" muted="mute" loop="loop" onended="var v=this;setTimeout(function(){v.play()},300)">
<source src="https://s3-us-west-2.amazonaws.com/biolitewebsite/firepit/FirePit_slowmo.files/html5video/SlowMo_Final3.m4v" type="video/mp4" />
<source src="https://s3-us-west-2.amazonaws.com/biolitewebsite/firepit/FirePit_slowmo.files/html5video/SlowMo_Final3.webm" type="video/webm" />
</video>
<script src="https://s3-us-west-2.amazonaws.com/biolitewebsite/firepit/FirePit_slowmo.files/html5video/html5ext.js" type="text/javascript"></script>
  </div>
  
</div>
</section>



<div class="clearfix"></div>
       

<section id="harder-working-fire">

<div class="landing-section firepit-harder-working-fire wow fadeIn">
  
         <div class="vertical-center medium--positionreset small--positionreset medium--text-center small--text-center">

          <div class="firepit-harder-working-fire-main">  
      <span class="sunlight-title text-left white pb20 wow fadeIn" data-wow-delay="0.2s">A Harder Working Fire</span> 
            
                  <div class="firepit-tech-list wow fadeIn" data-wow-delay="0.4s">
            <div class="grid__item large--one-twelfth ">
        <i class="icomoon icon-number-01 firepit-list-numbers"></i></div> 
        <div class="grid__item push--large--one-twelfth large--nine-twelfths"><span class="firepit-subtext large--text-left medium--text-center small--text-center white">A 4-speed internal fan controls the airflow central to BioLite's proprietary combustion technology</span></div>
            </div>
            
                  <div class="firepit-tech-list wow fadeIn" data-wow-delay="0.5s">
                  <div class="grid__item large--one-twelfth ">
        <i class="icomoon icon-number-02 firepit-list-numbers"></i></div> 
         <div class="grid__item push--large--one-twelfth large--nine-twelfths"><span class="firepit-subtext large--text-left medium--text-center small--text-center white">From that fan, 51 air jets across the burn chamber inject the fire with oxygen along precise locations</span></div>
            </div>
            
                  <div class="firepit-tech-list wow fadeIn" data-wow-delay="0.6s">
                  <div class="grid__item large--one-twelfth ">
        <i class="icomoon icon-number-03 firepit-list-numbers"></i></div> 
         <div class="grid__item push--large--one-twelfth large--nine-twelfths"><span class="firepit-subtext large--text-left medium--text-center small--text-center white">This creates a more uniform mixture of temps and gases, burning smoke before it has a chance to escape the fire</span></div>
                                </div>
            
             <div class="wow fadeInDown" data-wow-delay="1.5s">
            <span class="firepit-subtext-title large--text-left medium--text-center small--text-center white pt40">What does this mean? </span>
             <span class="firepit-subtext large--text-left medium--text-center small--text-center white">You get more fire per log and none of the smoke. See for yourself: </span><br>

             <a href="#" data-control-modal="#hero-video--firepit-sparksmokeless">
               <i class="icomoon icon-youtube firepit-play-button"></i><span class="firepit-subtext text-left white" style="font-weight:600;text-decoration:underline;">FirePit Uncut: Spark To Smokeless In 30 Seconds</span></a>
            </div>
            
      <div id="hero-video-product" class="modal">
       
     <header class="modal__header">
    </header>
    <div id="hero-video--firepit-sparksmokeless" class="modal">
   <header class="modal__header">
     <div class="modal--close">
       <i class="icomoon icon-close-circle modal-close-button"></i>
     </div>
   </header>
  <div class="modal__content modal__content--video">
                <iframe src="https://www.youtube.com/embed/HXzR7MJWmmk?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                </div> 
  </div>
  </div>
            

    </div>
             </div>


            
    <div class="firepit-illustration-wrapper">
    <img class="firepit-illustration wow fadeIn" data-wow-delay="0.2s" src="https://cdn.shopify.com/s/files/1/0666/9741/files/InsideTheTech_gif_839a5abe-9984-48fe-b805-996d8f481161.gif?10231821549604588420"/>
    <img class="firepit-illustration-callouts wow fadeIn" data-wow-delay="0.4s" src="https://cdn.shopify.com/s/files/1/0666/9741/files/1-firepit.png?7376846101042380718"/>
     <img class="firepit-illustration-callouts wow fadeIn" data-wow-delay="0.5s" src="https://cdn.shopify.com/s/files/1/0666/9741/files/InsideTheTech_3_revised_af419fca-a53b-413a-a1e5-3acf19a5c467.png?12561402501751527993"/>
    <img class="firepit-illustration-callouts wow fadeIn" data-wow-delay="0.6s" src="https://cdn.shopify.com/s/files/1/0666/9741/files/2-firepit.png?2075697288862522311"/>
            </div>
    
  
  
</div>  
  </section>

<div class="clearfix"></div>

  <section id="dual-fuel">

<div class="landing-section firepit-grill-slider wow fadeIn" data-wow-delay="0.2s" data-section-name="dual-fuel-capability" id="" data-speed="8">
   <div class="firepit-grill-slider-header">
  <span class="sunlight-title text-center dark-grey">Dual Fuel Capability</span> 
 <span class="sunlight-description text-center dark-grey">Transform your FirePit into a Hibachi-style grill with the included grate.</span>
  </div>
  <div id="firepit-slider">
 <img class="firepit-slider-img" src="https://cdn.shopify.com/s/files/1/0666/9741/files/GrillModes-2.png?13154855070643403658" />
 <img  class="firepit-slider-img" src="https://cdn.shopify.com/s/files/1/0666/9741/files/GrillModes-1.png?13154855070643403658" />
</div>
  
  <div class="firepit-wood-mode">
         	<img class="firepit-mode-arrow" src="https://cdn.shopify.com/s/files/1/0666/9741/files/left-arrow-01.svg?14990709102829756305" />
     	<img class="firepit-mode-illustration" src="https://cdn.shopify.com/s/files/1/0666/9741/files/FuelModes_illustration_wood-01.svg?15266406380978122234" />
     <span class="firepit-subtext-title dark-grey">Wood Mode (Bottom Rack).</span>
  </div>
  
    <div class="firepit-charcoal-mode large--text-right  medium--text-center small--text-center">
         	<img class="firepit-mode-arrow-right" src="https://cdn.shopify.com/s/files/1/0666/9741/files/right-arrow-01.svg?331638085658201036" />
     	<img class="firepit-mode-illustration" src="https://cdn.shopify.com/s/files/1/0666/9741/files/FuelModes_illustration_charcoal-01.svg?331638085658201036" />
     <span class="firepit-subtext-title dark-grey">Charcoal Mode (Top Rack).</span>
  </div>
  
   <script>
     $(function(){
  $("#firepit-slider").twentytwenty({
        no_overlay: true 
  });
});
  </script>
  
</div>
  </section>

  <section id="features">

  <div class="landing-section text-center" style="background-color:#e6e6e6;">
    <div class="vertical-horizontal-center small--positionreset sunlight-quick-specs-title wow fadeIn" data-wow-delay="0.5s">
      FirePit Feature Rundown
  </div>
  
  <div class="sunlight-spec-bloc wow fadeInUp" data-wow-delay="0.4s">
       <img class="sunlight-spec-illustration" src="https://cdn.shopify.com/s/files/1/0666/9741/files/FirePit_Landing_Page_Illustrations_r2-01.svg?9474009756711244987" alt="FirePit Fits 4 Pieces Of Cord Wood" title="FirePit Fits 4 Pieces Of Cord Wood" />
         <span class="sunlight-spec-title">Fits Up To 4 Pieces Standard 16" Firewood</span>
  </div>
   <div class="sunlight-spec-bloc wow fadeInUp" data-wow-delay="0.5s">
       <img class="sunlight-spec-illustration" src="https://cdn.shopify.com/s/files/1/0666/9741/files/FirePit_Landing_Page_Illustrations_r2-03.svg?9474009756711244987" alt="4 Fan Speeds" title="4 Fan Speeds" />
         <span class="sunlight-spec-title">4 Fan Speeds Control Flame &amp; Heat Output </span>
  </div>
   <div class="sunlight-spec-bloc wow fadeInUp" data-wow-delay="0.6s">
       <img class="sunlight-spec-illustration" src="https://cdn.shopify.com/s/files/1/0666/9741/files/FirePit_Landing_Page_Illustrations-06.svg?13961634795523798297" alt="Easy Carry Handles and Folding Legs" title="Easy Carry Handles and Folding Legs" />
         <span class="sunlight-spec-title">19 lbs, Easy Carry Handles &amp; Folding Legs </span>
  </div>
   <div class="sunlight-spec-bloc wow fadeInUp" data-wow-delay="0.7s">
       <img class="sunlight-spec-illustration" src="https://cdn.shopify.com/s/files/1/0666/9741/files/FirePit_Landing_Page_Illustrations-02.svg?13961634795523798297" alt="Grill Surface Measures 18 x 7.25" title="Grill Surface Measures 18 x 7.25" />
         <span class="sunlight-spec-title">Grill Surface Measures 18 x 7.25"</span>
  </div>
   <div class="sunlight-spec-bloc wow fadeInUp" data-wow-delay="0.8s">
        <img class="firepit-spec-illustration-small" src="https://cdn.shopify.com/s/files/1/0666/9741/files/FirePit_Landing_Page_Illustrations-04.svg?13961634795523798297" alt="Optional Bluetooth Aiflow Control Via Free App" title="Optional Bluetooth Aiflow Control Via Free App" />
<a href="https://itunes.apple.com/us/app/biolite-energy/id1146531562?ls=1&mt=8" target="_blank"><img class="firepit-spec-illustration-smallest"  src="https://cdn.shopify.com/s/files/1/0666/9741/files/iOS_appStore_download.png?9069070817626020306" alt="Download on the Apple App Store"></a>
<a href="https://play.google.com/store/apps/details?id=com.bioliteenergy.baselantern&hl=en" target="_blank"><img class="firepit-spec-illustration-smallest"  src="https://cdn.shopify.com/s/files/1/0666/9741/files/googlePlay_logo.png?18343300157132881387" alt="Download on Google Play"></a>
  
     <span class="sunlight-spec-title">Optional Bluetooth Airflow Control Via Free App</span>
  </div>
   <div class="sunlight-spec-bloc wow fadeInUp" data-wow-delay="0.8s"> 
       <img class="sunlight-spec-illustration" src="https://cdn.shopify.com/s/files/1/0666/9741/files/FirePit_Landing_Page_Illustrations_r2-05.svg?9474009756711244987" alt="Recharge Airflow Via USB Or Solar Carry Cover" title="Recharge Airflow Via USB Or Solar Carry Cover" />
         <span class="sunlight-spec-title">Recharge Via USB Or Solar Carry Cover*</span>
     <span class="spec-title-caption">Sold Separately</span>
  </div>
  
</div>
  </section>

<div class="clearfix"></div>

  <section id="photos">

<div class="landing-section" style="background-color:#000;" data-section-name="firepit-in-action" id="firepit-see-in-action" data-speed="8">
    <div class="grid__item sunlight-slideshow wow fadeIn">
       <span class="sunlight-title white">See FirePit In Action</span> 
    </div>  
  
  <div id="Glide" class="glide wow fadeIn" data-wow-delay="0.5s">
<div class="glide__arrows">
        <button class="glide__arrow prev" data-glide-dir="<"><i class="icomoon icon-leftArrowFilled slideshow-arrow-icon"></i></button>
        <button class="glide__arrow next" data-glide-dir=">"><i class="icomoon icon-rightArrowFilled slideshow-arrow-icon"></i></button>
    </div>  
   <div class="glide__wrapper">
        <ul class="glide__track">
<li class="glide__slide "><img class="firepit-slideshow-1" src="https://cdn.shopify.com/s/files/1/0666/9741/files/FirePit_slideshow_8_3072aa5b-0787-4dc2-a6f1-e5acdc22ec68.jpg?16285947077837262111" alt="BioLite FirePit" title="BioLite FirePit" /></li>
<li class="glide__slide "><img class="firepit-slideshow-12" src="https://cdn.shopify.com/s/files/1/0666/9741/files/FirePit_slideshow_12.jpg?17813729224982040208" alt="BioLite FirePit" title="BioLite FirePit" /></li>
 <li class="glide__slide"><img class="firepit-slideshow-2" src="https://cdn.shopify.com/s/files/1/0666/9741/files/FirePit_slideshow_5.jpg?15103043605384961040" alt="BioLite FirePit" title="BioLite FirePit" /></li>
<li class="glide__slide"><img class="firepit-slideshow-3" src="https://cdn.shopify.com/s/files/1/0666/9741/files/FirePit_slideshow_2.jpg?15103043605384961040" alt="BioLite FirePit" title="BioLite FirePit" /></li>
<li class="glide__slide"><img class="firepit-slideshow-4" src="https://cdn.shopify.com/s/files/1/0666/9741/files/FirePit_slideshow_6.jpg?15103043605384961040" alt="BioLite FirePit" title="BioLite FirePit" /></li>
<li class="glide__slide"> <img class="firepit-slideshow-5" src="https://cdn.shopify.com/s/files/1/0666/9741/files/FirePit_slideshow_3.jpg?15103043605384961040" alt="BioLite FirePit" title="BioLite FirePit" /></li>
<li class="glide__slide"><img class="firepit-slideshow-6" src="https://cdn.shopify.com/s/files/1/0666/9741/files/FirePit_slideshow_4.jpg?15103043605384961040" alt="BioLite FirePit" title="BioLite FirePit" /></li>
 <li class="glide__slide"><img class="firepit-slideshow-6" src="https://cdn.shopify.com/s/files/1/0666/9741/files/FirePit_slideshow_11.jpg?17813729224982040208" alt="BioLite FirePit" title="BioLite FirePit" /></li>
<li class="glide__slide"><img class="firepit-slideshow-10" src="https://cdn.shopify.com/s/files/1/0666/9741/files/FirePit_slideshow_10.jpg?16285947077837262111" alt="BioLite FirePit" title="BioLite FirePit" /></li>
<li class="glide__slide"><img class="firepit-slideshow-7" src="https://cdn.shopify.com/s/files/1/0666/9741/files/FirePit_slideshow_1.jpg?15103043605384961040" alt="BioLite FirePit" title="BioLite FirePit" /></li>


 </ul>
    </div>
       <div class="glide__bullets"></div>
   
   </div>
<script>
    $("#Glide").glide({
        type: "carousel"
    });
</script>
  
</div>
  </section>
  
  
<div class="clearfix"></div>
  <section id="shop">

<div class="wrapper--full" style="background-color:#f3f3f3;outline: none;" id="shopFirePit" data-section-name="shop-firepit" id="" data-speed="8"> 
<div class="grid__item large pb50 large--pt50">

<section id="product-grid" class="product-grid section-large" itemtype="http://schema.org/SomeProducts">

  
    <div class="product-grid-item grid__item large--one-third wow fadeIn medium--one-half small--one-whole firepit-shop" data-wow-delay="0.2s">
    <div class="product-grid-item-padder">
    <div class="product-grid-item__inner">
      <a href="/products/firepit" title="FirePit">
      <div class="product-grid-item__thumb">
        <img src="https://s3-us-west-2.amazonaws.com/biolitewebsite/shop-product-images/FirePit_shop.png" alt="" title="BioLite FirePit" />
        </div>
      </a>
          </div>
    <footer class="product-grid-item__footer">
      <div class="fake-you-save"></div>
       <!--<div class="you-save">
       <span class="right-side rounded_money"> Save $10 </span>
      </div>-->
      <a href="/products/firepit" title="BioLite FirePit">
        <h5 class="product-grid-item__title">BioLite FirePit</h5>
      </a>
      <div class="price-and-cart-add">
     <span id="ProductPrice" class="product-grid-item__price h5">$199.95</span>
      </div>
    </footer>
    <div class="sunlight-product-buttons">
       <button type="submit" name="add" id="" class="btn-tight cart-item--add" data-product-variant="12471708287075" data-otv-current-product-add>
       <span id="AddToCartText" data-otv-current-product-add-text>Add To Cart</span>
                </button>
      <a href="/products/firepit" class="btn btn-tight-outline sunlight-product-buttons-2" title="Shop Now"><span>Full Description</span> </a>
      </div>
    </div>
  </div>
  
    
  <div class="product-grid-item grid__item large--one-third wow fadeIn medium--one-half small--one-whole">
    <div class="product-grid-item-padder">
    <div class="product-grid-item__inner">
      <a href="/products/solar-carry-cover" title="Solar Carry Cover">
      <div class="product-grid-item__thumb">
        <img src="https://s3-us-west-2.amazonaws.com/biolitewebsite/shop-product-images/FirePit%2BSolarCover_shop.png" alt="" title="Solar Carry Cover" />
        </div>
      </a>
          </div>
    <footer class="product-grid-item__footer">
      <div class="fake-you-save"></div>
      <a href="/products/solar-carry-cover" title="Solar Carry Cover">
        <h5 class="product-grid-item__title">Solar Carry Cover</h5>
      </a>
      <div class="price-and-cart-add">
     <span id="ProductPrice" class="product-grid-item__price h5">$59.95</span>
      </div>
    </footer>
    <div class="sunlight-product-buttons">
       <button type="submit" name="add" id="" class="btn-tight cart-item--add" data-product-variant="46282767566" data-otv-current-product-add>
       <span id="AddToCartText" data-otv-current-product-add-text>Add To Cart</span>
                </button>
      <a href="/products/solar-carry-cover" class="btn btn-tight-outline sunlight-product-buttons-2" title="Shop Now"><span>Full Description</span> </a>
      </div>
    </div>
  </div>
    

</section>
  
</div> 
  
    <div class="clearfix"></div>

  
  <div class="wrapper--full text-center" id="firepitReviews" data-section-name="firepit-reviews" id="" data-speed="8">
       <span class="homeheader-section-title ">The Reviews Are Coming In</span>

      <div id="Glide2" class="glide wow fadeIn" data-wow-delay="0.2s">
        <div class="glide__arrows">
        <button class="glide__arrow prev" data-glide-dir="<"><i class="icomoon icon-leftArrowFilled reviews-arrow-icon"></i></button>
        <button class="glide__arrow next" data-glide-dir=">"><i class="icomoon icon-rightArrowFilled reviews-arrow-icon"></i></button>
    </div> 
 
   <div class="glide__wrapper">
        <ul class="glide__track">
          
          <li class="glide__slide">
              <div class="grid__item large--one-whole firepit-review-wrapper">
      <div class="grid__item large--one-quarter medium--one-whole small--one-whole firepit-review-rating">
          <img class="firepit-review-stars" src="https://cdn.shopify.com/s/files/1/0666/9741/files/5-star.svg?999038729261386766" alt="" title="BioLite FirePit" />
        <span class="firepit-review-rating-name">Kevin S</span>
       </div>
       <div class="grid__item large--three-quarters firepit-review-detail">
      <img class="firepit-review-quote" src="https://cdn.shopify.com/s/files/1/0666/9741/files/quote-01.svg?4242110342869455380" alt="" title="BioLite FirePit Customer Review" />

         <span class="firepit-review-detail-content">Everyone I know loves this thing. It's easy to tote around, creates delicious flavors in meat and veggies and keeps you warm while not using up a crazy amount of wood.  
 </span>
       </div>  
</div>
</li>

          
<li class="glide__slide">
              <div class="grid__item large--one-whole firepit-review-wrapper">
      <div class="grid__item large--one-quarter medium--one-whole small--one-whole firepit-review-rating">
          <img class="firepit-review-stars" src="https://cdn.shopify.com/s/files/1/0666/9741/files/5-star.svg?999038729261386766" alt="" title="BioLite FirePit" />
        <span class="firepit-review-rating-name">Scouter in VT</span>
       </div>
       <div class="grid__item large--three-quarters firepit-review-detail">
      <img class="firepit-review-quote" src="https://cdn.shopify.com/s/files/1/0666/9741/files/quote-01.svg?4242110342869455380" alt="" title="BioLite FirePit Customer Review" />
         <span class="firepit-review-detail-content">Everything is well-thought-out and well-made. 
           For example, the top rack slides off to one side, so you can baste your food without getting too hot, but the rack has a stopper so it doesn't fall off. 
           The fan lasts a long time and the phone app makes it easy to turn off remotely. </span>
       </div>  
</div>
    
          </li>
          
          <li class="glide__slide">
              <div class="grid__item large--one-whole firepit-review-wrapper">
      <div class="grid__item large--one-quarter medium--one-whole small--one-whole firepit-review-rating">
          <img class="firepit-review-stars" src="https://cdn.shopify.com/s/files/1/0666/9741/files/5-star.svg?999038729261386766" alt="" title="BioLite FirePit" />
        <span class="firepit-review-rating-name">Todd O</span>
       </div>
       <div class="grid__item large--three-quarters firepit-review-detail">
      <img class="firepit-review-quote" src="https://cdn.shopify.com/s/files/1/0666/9741/files/quote-01.svg?4242110342869455380" alt="" title="BioLite FirePit Customer Review" />

         <span class="firepit-review-detail-content">We purchased on Kickstarter and have used it on several camp trips so far. 
           Works really, really well as a bbq grill, and love that after dinner we can easily use the coals to start our camp fire. The no smoke is legit. </span>
       </div>  
</div>
    
          </li>
          
                    <li class="glide__slide">
              <div class="grid__item large--one-whole firepit-review-wrapper">
      <div class="grid__item large--one-quarter medium--one-whole small--one-whole firepit-review-rating">
          <img class="firepit-review-stars" src="https://cdn.shopify.com/s/files/1/0666/9741/files/5-star.svg?999038729261386766" alt="" title="BioLite FirePit" />
        <span class="firepit-review-rating-name">Garrett B</span>
       </div>
       <div class="grid__item large--three-quarters firepit-review-detail">
      <img class="firepit-review-quote" src="https://cdn.shopify.com/s/files/1/0666/9741/files/quote-01.svg?4242110342869455380" alt="" title="BioLite FirePit Customer Review" />

         <span class="firepit-review-detail-content">I love campfires. At least, I thought I loved them.

I was instantly hooked because they promised to fix the only thing I didn't like about a campfire - the smoke.  

I've used this about a half dozen times so far. I have to say that I don't want to go back to an open pit campfire again. </span>
       </div>  
</div>
    
          </li>

          
                              <li class="glide__slide">
              <div class="grid__item large--one-whole firepit-review-wrapper">
      <div class="grid__item large--one-quarter medium--one-whole small--one-whole firepit-review-rating">
          <img class="firepit-review-stars" src="https://cdn.shopify.com/s/files/1/0666/9741/files/5-star.svg?999038729261386766" alt="" title="BioLite FirePit" />
        <span class="firepit-review-rating-name">Eric S</span>
       </div>
       <div class="grid__item large--three-quarters  firepit-review-detail">
      <img class="firepit-review-quote" src="https://cdn.shopify.com/s/files/1/0666/9741/files/quote-01.svg?4242110342869455380" alt="" title="BioLite FirePit Customer Review" />

         <span class="firepit-review-detail-content">Great for cooking. I've used my FirePit twice now. Both times for cooking. 
           The fans make a huge difference in how long it takes the charcoal to ash over and be ready for cooking. Easily cuts the time in half if not more. 
 </span>
       </div>  
</div>
    
          </li>
          
  


 </ul>
    </div>
       <div class="glide__bullets"></div>
   
   </div>

    
    <!--<footer class="text-center mt30 mb30">
         <a href="/products/firepit#product-reviews" class="btn-large btn-large-primary" title="See All Reviews">
                  <span>See All Reviews </span>
                </a>       
       
              </footer>-->
    
    
  </div>
  
  <script>
    $("#Glide2").glide({
        type: "slider",
      	autoplay: "7000",
      	autoheight  : "true", 
    });
</script>
    
  {{ 'menuspy.js' | asset_url | script_tag }}

    <script>
    var elm = document.querySelector('#side-nav');
    var ms = new MenuSpy(elm);
  </script>
  
  
</div>
  </section>
</main>

<div id="firepit-footer" class="footer-wrapper mt30">
<div class="wrapper">
      <div class="grid__item large text-center">
    <span class="impact-msg white">Order Your BioLite FirePit</span>

  </div>
   <div class="clearfix"></div>


    <div class="grid__item push--large--one-fifth large--three-fifths text-center">
<br>
      </p>
      
      <a href="/products/firepit" class="btn btn-primary mt0" title="Shop Now">
                  <span>Shop FirePit</span>
                </a>
      
        <a href="/products/firepit#product-reviews" class="btn btn-outline-white mt0 ml10" title="See All Reviews">
                  <span>See All Reviews</span>
                </a>
  </div>
  
     

</div>
</div>

<div class="clearfix"></div>
