<section class="section-xxlarge text-center pt50 pb50 mt50 mb50">
<div class="wrapper">   

  <div class="grid__item large ">
      <span class="impact-title primary">Submission Received</span>
      <p class="light warm-gray pb20">Thanks for getting in touch, here's what happens next: </p>
  </div>
  <div class="grid__item large ">
    <p class="light">Shortly, you’ll receive a confirmation email with your Case Number. Please allow two business days for a response from the BioLite team. <br>Looking for some faster info? Check out our newly revamped <a href="/pages/faq" style="color:#35a8a6;font-weight:600;">FAQs</a> with quick answers to common questions about shipping, order status, product instruction, and more.</p>
  
  </div>

  <div class="grid__item large ">
    <span><h6><a href="/pages/faq" style="color:#35a8a6;">View FAQs</a> | <a href="/pages/return-shipping" style="color:#35a8a6;">View Shipping & Returns</a> | <a href="/pages/product-manuals" style="color:#35a8a6;">View Instruction Videos</a></h6></span></div></div>
  
</section>

 



      


      


      

  
