{% include 'hero' %}


<div class="clearfix"></div>

  <div class="wrapper wrapper--max_height mt50 mb50">


 <div class="grid__item large--five-eighths medium--one-whole small--one-whole large--pr40">

<h2><strong>Become A BioLite Pro</strong></h2>

<p class="light">The BioLite Pro Purchase Program is a private discount program for 
  qualified <strong>active retail store employees</strong> and <strong>Outdoor Industry Association brand partners</strong>. Approval 
  into the program is not guaranteed and rules are subject to change. 
  <br><br>
  <strong>We do not accept applications from Adventure travel guides or companies, Outdoor Education, Volunteers, Government or other organizations outside the Outdoor Industry at this time.</strong> 


</p>
   
   
   <p class="light"><strong>How To Apply:</strong></p>   
   
   <p class="light">
     Please email us directly at <a target="_blank" href="mailto:pro@bioliteenergy.com?subject=BioLite%20Pro%20Deal%20Application%20-%20 ENTER%20YOUR%20NAME%20HERE&body=First%20Name%3A%0D%0ALast%20Name%3A%0D%0ACompany%3A%0D%0AJob%3A%0D%0AShipping%20Address%3A%0D%0AContact%20Email%3A%0D%0AContact%20Phone%3A%0D%0A----%0D%0AAttach%20(2)%20forms%20of%20employment%20verification%20(Current%20paystub%20*blackout%20sensitive%20information%2C%20business%20card%2C%20name%20tag%20or%20other%20industry%20ID)%20via%20PDF%20or%20JPG" style="text-decoration:underline;color:#35a8a6;font-weight:600;">Pro@bioliteenergy.com</a> 
     with the following information to support your application with the subject line “BioLite Pro Deal Application - (ENTER YOUR NAME HERE)”: 
   
   <ol>
     <li>First Name</li>
<li>Last name</li>
<li>Company name</li>
<li>Job role</li>
<li>Shipping address</li>
<li>Contact email address</li>
     <li>Contact phone number</li>
<li>(2) forms of employment verification (Current paystub *blackout sensitive information, business card, name tag or other industry ID) via PDF or JPG </li>
   </ol>
   
   
   </p>

   

<footer class="grid__item">

<a class="btn-large btn-large-primary mt10" href="https://www.biolitepro.com/account/login" target="_blank" title="Account Log In" rel="noopener noreferrer">Already A Member? Log In</a>

  <p class="light mt40"><strong>Pro membership is annual from your application date. If your account has expired, you will need to re-apply for the new season and to access our newest Pro Online Environment.


</p>
  
</footer>
</div>




<div class="grid__item push--large--one-eighth large--two-eighths medium--one-whole small--one-whole small--pt30">
<h4 class="alt">Pro Details</h4>

<div class="grid__item large--one-whole medium--one-half small--one-half">
<a class="bold primary" href="/pages/prodeal-terms" title="FAQ" target="_blank" rel="noopener noreferrer">Pro Terms & Conditions</a>
</div>
<div class="grid__item large--one-whole medium--one-half small--one-half">
<a class="bold primary" href="/pages/mission" title="Our Mission">Our Mission</a>
</div>
<div class="grid__item large--one-whole  medium--one-half small--one-half">
<a class="bold primary" href="mailto:pro@bioliteenergy.com" target="_blank" title="Contact BioLite Pro" rel="noopener noreferrer">Contact Us</a>
</div>
</div>
</div>


<hr class="pt30 pb10">

  <div class="wrapper wrapper--max_height">


<div class="grid__item large--one-whole medium--one-whole small--one-whole">

<p><strong>*Eligibility Requirements and Qualifications</strong></p>
  <p class="light pb20">Listed below are the categories of industry professionals BioLite supports in its Pro Deal Program. Purchases made for anyone other than approved users will result in immediate dismissal. By completing the application you acknowledge and agree to adhere to the responsibilities outlined in our terms and conditions. <span>By applying to this program, you're agreeing to BioLite Pro Deal</span> <a href="http://www.biolitestove.com/pages/prodeal-terms" target="_blank" rel="noopener noreferrer"><strong>Terms and Conditions</strong></a>.<span> </span> </p>
<div class="list-toggle mb20">
<div class="list-toggle__title" data-control-sibling=""  data-control-toggle-icons="icomoon icon-quantity-plus, icomoon icon-quantity-minus"><span class="pro-deal-toggles"><i class="icomoon icon-quantity-plus toggle-list-icon"></i>Retail Store Employee</span></div>
<div class="list-toggle__content">
<p class="light gray-medium">To qualify, you must currently be working for a 
  retailer that sells BioLite products in the USA or Canada with two (2) forms of employment verification (Current paystub *blackout sensitive information, business card, name tag or other industry ID) via PDF or JPG.</p>
</div>
</div>
<div class="list-toggle mb20"> 
<div class="list-toggle__title" data-control-sibling="" data-control-toggle-icons="icomoon icon-quantity-plus, icomoon icon-quantity-minus"><span class="pro-deal-toggles"><i class="icomoon icon-quantity-plus toggle-list-icon"></i>Outdoor Industry</span></div>
<div class="list-toggle__content">
<p class="light gray-medium">Individual industry Pro Deal accounts are available to full-time employees of companies in the outdoor industry that offer reciprocal pro purchase privileges to BioLite. You will qualify if you provide both a current paycheck stub (please black out all sensitive information) and copy of your business card with your company email address. 
 </p>
</div>
</div>


</div>

</div>
<hr class="pt30 pb10">


