<section class="section-tight text-center pt60" style='background-image: url("https://cdn.shopify.com/s/files/1/0666/9741/files/giftGuide_header_r3.png?15124926410816654310");background-color: rgba(51, 51, 57, 1);background-repeat:no-repeat;background-position:center;'>
  <span class="gift-guide-text">		
    <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/giftGuide_header_text-02-01.svg?7280038787233874112" alt="Give Good Energy Gift Guide" title="Give Good Energy Gift Guide">
</span>        
  
  <span class="energy-reason holiday-gray">Who in your life could use some Good Energy? </span>
 


   <div class="wrapper text-center mt20 mb20" style="padding:0px; margin:0 auto;">   
     <a name="top" title="Top"></a>
     <ul class="personality-types">
     
  	<li id=""><a href="#adventurecouple" title="THE ADVENTURE COUPLE">THE ADVENTURE COUPLE</a></li> 
    <li id=""><a href="#citydweller" title="THE CITY DWELLER">THE CITY DWELLER</a></li> 
    <li id=""><a href="#changemaker" title="THE CHANGEMAKER">THE CHANGEMAKER</a></li> 
    <li id=""><a href="#explorer" title="THE EXPLORER">THE EXPLORER</a></li>
    <li id=""><a href="#outdoorfamily" title="THE OUTDOOR FAMILY">THE OUTDOOR FAMILY</a></li> 
    <li id=""><a href="#indoorkid" title="THE INDOOR KID">THE INDOOR KID</a></li> 
    <li id=""><a href="#feeder" title="THE FEEDER">THE FEEDER</a></li> 
     </ul>   
 </div>


</section>



<!--ADVENTURE COUPLE-->
<a name="adventurecouple" title="Adventure couple"></a>
<section class="section-tight" style="background-color:#f3f3f3;">
  <div class="adventurecouple-filler">&nbsp;</div>

 <div class="wrapper" style="padding:0px;">   
      <div class="grid__item large--five-eighths gift-picture adventurecouple">
      <div class="gift-guide-desc" style="margin: 70px 120px 0px 80px; padding:70px 100px 50px 50px;">
        
 		 		<span class="gift-title-light">THE</span><span class="gift-title">ADVENTURE</span><span class="gift-title-light">COUPLE</span>
        <p class="gift-guide-mainText">
          These are the folks whose photos inspire both joy and a little bit of jealously. Whether they’re newlyweds or have been married for years, 
          this couple is always looking for the next big thrill. Help them keep that going with an epic time outside. 
          Pick up an <strong><a href="/products/energy-bundle?utm_source=giftGuide&utm_medium=shop&utm_campaign=holidayGiftGuide&utm_content=EnergyBundle" title="Energy Bundle">Energy Bundle</a></strong> and give them everything they need to spend a week together away from the world. 

        </p>
</div>  
</div>
  <div class="grid__item large--three-eighths gift-details pl20 pr20" style="background-color:#fff">
         <a href="/products/energy-bundle?utm_source=giftGuide&utm_medium=shop&utm_campaign=holidayGiftGuide&utm_content=EnergyBundle" title="Energy Bundle">
		<img src="https://s3-us-west-2.amazonaws.com/biolitewebsite/shop-product-images/EnergyBundle_Shop.png" alt="Energy Bundle" title="Energy Bundle" class="gift-product">
           </a>
        <div class="shop-container text-center" style="background-color:#3a5c90;">
         <a href="/products/energy-bundle?utm_source=giftGuide&utm_medium=shop&utm_campaign=holidayGiftGuide&utm_content=EnergyBundle" title="Shop Energy Bundle">

          <div class="grid__item large--two-fifths text-center" style="border-right:1px solid #fff;">
			 <span class="gift-guide-price" style="color:#fff;">$299.95 USD</span> 
          </div>
          <div class="grid__item large--three-fifths text-center">
			<span class="gift-guide-shop" style="color:#fff;">Shop Energy Bundle</span>
          </div>
          </a>
          </div>
      <span class="freebie-text" style="color:#3a5c90;">Another Way to Give Good Energy:</span> 
	
          <p class="gift-guide-freebieText">Tell them to take a hike – literally. Give them a list of lesser-known hikes near their hometown. 
            Studies show that couples who are active together show increased feelings of happiness – plus a personalized gift (even if it’s just a list!) goes a long way.</p>

</div>
</div>
  
    <div class="adventurecouple-filler">&nbsp;</div>

</section>


<!--CITY DWELLER**********FLEX***********-->
  <a name="citydweller" title="City dweller"></a>

<section class="section-tight" style="background-color:#f3f3f3">

   <div class="citydweller-filler">&nbsp;</div>

  <div class="wrapper gift-guide-wrapper" style="padding:0px;">   
      
    <div class="grid__item large--three-eighths gift-details pl20 pr20" style="background-color:#fff">
         <a href="/products/powerlight-mini?utm_source=giftGuide&utm_medium=shop&utm_campaign=holidayGiftGuide&utm_content=PowerLightMini" title="PowerLight Mini">
		<img src="https://cdn.shopify.com/s/files/1/0666/9741/files/PLMini_giftGuide_r2.png?5508377778650467988" alt="PowerLight Mini" title="PowerLight Mini" class="gift-product">
           </a>
        <div class="shop-container text-center" style="background-color:#828942;">
         <a href="/products/powerlight-mini?utm_source=giftGuide&utm_medium=shop&utm_campaign=holidayGiftGuide&utm_content=PowerLightMini" title="Shop PowerLight Mini">

          <div class="grid__item large--two-fifths text-center" style="border-right:1px solid #fff;">
			 <span class="gift-guide-price" style="color:#fff;">$44.95 USD</span> 
          </div>
          <div class="grid__item large--three-fifths text-center">
			<span class="gift-guide-shop" style="color:#fff;">Shop PowerLight Mini</span>
          </div>
          </a>
          </div>
      <span class="freebie-text" style="color:#828942;">Another Way to Give Good Energy:</span> 

      <p class="gift-guide-freebieText">A subscription to Stay Wild Magazine, a free magazine that can provide all the inspiration and tips they need to plan their upcoming adventures. </p>

</div>
   <div class="grid__item large--five-eighths gift-picture citydweller">
      <div class="gift-guide-desc" style="margin: 45px 20px 0px 220px; padding:50px 70px 50px 50px;">
       <span class="gift-title-light" style="color:#828942;">THE</span><span class="gift-title" style="color:#828942;">CITY</span><span class="gift-title-light" style="color:#828942;">DWELLER</span>

        <p class="gift-guide-mainText">
          
          They might be living in the hustle and bustle of a big city, but they're happiest when they’re in the mountains or near some water. 
          They have a found a way to live between two vastly different environments, 
          but could always use a little help getting back to fresh air more frequently.
          The <strong><a href="/products/powerlight-mini?utm_source=giftGuide&utm_medium=shop&utm_campaign=holidayGiftGuide&utm_content=PowerLightMini" title="PowerLight Mini">PowerLight Mini</a></strong> is a compact lantern that can serve as their bike light during the week and their camping light on the weekend, moving through city and outdoors easily. 
     </p>
</div>  
</div>
 
</div>
     <div class="citydweller-filler">&nbsp;</div>

</section>

<!--CHANGEMAKER-->
<a name="changemaker" title="Change maker"></a>


<section class="section-tight" style="background-color:#f3f3f3;">
     <div class="changemaker-filler">&nbsp;</div>

 <div class="wrapper" style="padding:0px;">   
      <div class="grid__item large--five-eighths gift-picture changemaker">
      <div class="gift-guide-desc" style="margin: 40px 220px 0px 60px; padding:50px 50px 30px 50px;">
        
       <span class="gift-title-light" style="color:#9193b3;">THE</span><span class="gift-title" style="color:#9193b3;">CHANGEMAKER</span>

      
        <p class="gift-guide-mainText">
          They dedicate themselves to making the world a better place. 
          You’re inspired by them constantly but you also know that all that work they put in can be a little draining – 
          so let’s show them some love. Give them the gear to get outdoors and recharge. Pick up the <strong><a href="/products/powerlight-bundle?utm_source=giftGuide&utm_medium=shop&utm_campaign=holidayGiftGuide&utm_content=PowerLighBundle" title="PowerLight Bundle">PowerLight Bundle</a></strong> and share the story of 
          how the SiteLights were directly <a href="#" data-control-modal="#hero-video--fineprint" title="inspired by our designer’s visit to India."><strong>inspired by our designer’s visit</strong></a> to India.           
         </p>
        
        
           <div id="hero-video" class="modal">
       
     <header class="modal__header">
     
    </header>
                        
    <div id="hero-video--fineprint" class="modal">
   <header class="modal__header">
     
     <div class="modal--close">
       <i class="fa fa-circle-border fa-circle-border--medium fa-times"></i>
     </div>
   </header>
   <div class="modal__content modal__content--video text-center">
        
<iframe width="560" height="315" src="https://www.youtube.com/embed/QW6HL5qE-Bg?start=93" frameborder="0" allowfullscreen></iframe> 
      
      </div>
  </div>
  </div>
        
</div>  
</div>
  <div class="grid__item large--three-eighths gift-details pr20 pl20" style="background-color:#fff">
         <a href="/products/powerlight-bundle?utm_source=giftGuide&utm_medium=shop&utm_campaign=holidayGiftGuide&utm_content=PowerLighBundle" title="PowerLight Bundle">
		<img src="https://cdn.shopify.com/s/files/1/0666/9741/files/PowerLightBundle_giftGuide.png?6704022127063416547" alt="PowerLight Bundle" title="PowerLight Bundle" class="gift-product">
           </a>
        <div class="shop-container text-center" style="background-color:#9193b3;">
         <a href="/products/powerlight-bundle?utm_source=giftGuide&utm_medium=shop&utm_campaign=holidayGiftGuide&utm_content=PowerLighBundle" title="PowerLight Bundle">

          <div class="grid__item large--two-fifths text-center" style="border-right:1px solid #fff;">
			 <span class="gift-guide-price" style="color:#fff;">$79.95 USD</span> 
          </div>
          <div class="grid__item large--three-fifths text-center">
			<span class="gift-guide-shop" style="color:#fff;">PowerLight Bundle</span>
          </div>
          </a>
          </div>
      <span class="freebie-text" style="color:#9193b3;">Another Way to Give Good Energy:</span> 

          <p class="gift-guide-freebieText">Offer to attend or participate in an event they care about – maybe it’s running a 5k or baking something for a fundraiser. 
            It’ll mean a lot to them to show you support what they care about.</p>

</div>
</div>
       <div class="changemaker-filler">&nbsp;</div>

</section>


<!--EXPLORER**********FLEX***********-->
<a name="explorer" title="Explorer"></a>

<section class="section-tight" style="background-color:#f3f3f3;">
       <div class="explorer-filler">&nbsp;</div>

 <div class="wrapper gift-guide-wrapper" style="padding:0px;">   
      
    <div class="grid__item large--three-eighths gift-details pl20 pr20" style="background-color:#fff">
         <a href="/products/solarpanel-5-plus?utm_source=giftGuide&utm_medium=shop&utm_campaign=holidayGiftGuide&utm_content=SolarPanel5+" title="SolarPanel 5+">
		<img src="https://s3-us-west-2.amazonaws.com/biolitewebsite/shop-product-images/SolarPanel5%2B_shop.png" alt="SolarPanel 5+" title="SolarPanel 5+" class="gift-product">
           </a>
        <div class="shop-container text-center" style="background-color:#c29472;">
         <a href="/products/solarpanel-5-plus?utm_source=giftGuide&utm_medium=shop&utm_campaign=holidayGiftGuide&utm_content=SolarPanel5+" title="Shop SolarPanel 5+">

          <div class="grid__item large--two-fifths text-center" style="border-right:1px solid #fff;">
			 <span class="gift-guide-price" style="color:#fff;">$79.95 USD</span> 
          </div>
          <div class="grid__item large--three-fifths text-center">
			<span class="gift-guide-shop" style="color:#fff;">Shop SolarPanel 5+</span>
          </div>
          </a>
          </div>
      <span class="freebie-text" style="color:#c29472;">Another Way to Give Good Energy:</span> 

      <p class="gift-guide-freebieText">Some of the best wanderers we know keep a journal; get (or make) them a journal but ask friends and family to pre-fill some of the pages with notes and quotes. 
        Sometimes travel can get lonely and a warm word from someone you know can go a really long way.  </p>

</div>
   <div class="grid__item large--five-eighths gift-picture explorer">
      <div class="gift-guide-desc" style="margin: 25px 30px 0px 30px; padding:50px 70px 30px 50px;">
       <span class="gift-title-light" style="color:#c29472;">THE</span><span class="gift-title" style="color:#c29472;">EXPLORER</span>

        <p class="gift-guide-mainText">
         This person can never stay in one place for very long; their travels are a key part of what makes them interesting, understanding, and a great friend in your life. 
          Whether they’re backpacking in Peru or roadtripping across the U.S., they are always on the go. Chances are there will always be a little bit of sun wherever 
          they’re headed so give them the <strong><a href="/products/solarpanel-5-plus?utm_source=giftGuide&utm_medium=shop&utm_campaign=holidayGiftGuide&utm_content=SolarPanel5+" title="Shop SolarPanel 5+">SolarPanel 5+</a></strong> to keep their gear charged. Plus, orienting the panel to the tracking of the sun 
          is a simple way to find your true north and head in the right direction. 
        </p>
</div>  
</div>
 
</div>
 <div class="explorer-filler">&nbsp;</div>

</section>

<!--OUTDOOR FAMILY-->
<a name="outdoorfamily" title="Outdoor family"></a>


<section class="section-tight" style="background-color:#f3f3f3">
         <div class="outdoorfamily-filler">&nbsp;</div>

 <div class="wrapper" style="padding:0px;">   
      <div class="grid__item large--five-eighths gift-picture outdoorfamily">
      <div class="gift-guide-desc" style="margin: 30px 40px 0px 40px; padding:50px 50px 30px 50px;">
        
       <span class="gift-title-light" style="color:#a5b6d6;">THE</span><span class="gift-title" style="color:#a5b6d6;">OUTDOOR</span><span class="gift-title-light" style="color:#a5b6d6;">FAMILY</span>

      
        <p class="gift-guide-mainText">These are your outdoor friends who may have taken a brief hiatus from outside adventure to bring a few fine folks 
          into the world – now that they're past the newborn stage, they’re eager to bring a love of the outdoors back into the family dynamic. 
          Set them up with the <strong><a href="/products/biolite-bundle?utm_source=giftGuide&utm_medium=shop&utm_campaign=holidayGiftGuide&utm_content=CampStoveBundle" title="CampStove Bundle">CampStove Bundle,</a></strong> a complete camp kitchen that gets the whole gang involved: kids can collect sticks for fuel, 
          parents can cook up warm meals, and everyone can roast marshmallows after dinner. </p>
</div>  
</div>
  <div class="grid__item large--three-eighths gift-details pr20 pl20" style="background-color:#fff">
         <a href="/products/biolite-bundle?utm_source=giftGuide&utm_medium=shop&utm_campaign=holidayGiftGuide&utm_content=CampStoveBundle" title="CampStove Bundle">
		<img src="https://s3-us-west-2.amazonaws.com/biolitewebsite/shop-product-images/CampStoveBunde-shop.png" alt="CampStove Bundle" title="CampStove Bundle" class="gift-product">
           </a>
        <div class="shop-container text-center" style="background-color:#a5b6d6;">
         <a href="/products/biolite-bundle?utm_source=giftGuide&utm_medium=shop&utm_campaign=holidayGiftGuide&utm_content=CampStoveBundle" title="CampStove Bundle">

          <div class="grid__item large--two-fifths text-center" style="border-right:1px solid #fff;">
			 <span class="gift-guide-price" style="color:#fff;">$199.95 USD</span> 
          </div>
          <div class="grid__item large--three-fifths text-center">
			<span class="gift-guide-shop" style="color:#fff;">CampStove Bundle</span>
          </div>
          </a>
          </div>
      <span class="freebie-text" style="color:#a5b6d6;">Another Way to Give Good Energy:</span> 

    <p class="gift-guide-freebieText">Turn them onto the <a href="https://www.instagram.com/bornwildproject/?hl=en" target="_blank" title="Born Wild Project">Born Wild Project:</a> 
            this series documents families who are dedicated to raising their kids with a sense of adventure 
            and a love and respect for the outdoors. A great source of inspiration, advice, and motivation.</p>

</div>
</div>
           <div class="outdoorfamily-filler">&nbsp;</div>

</section>


<!--INDOOR KID**********FLEX***********-->
<a name="indoorkid" title="Indoor kid"></a>

<section class="section-tight" style="background-color:#f3f3f3;">
             <div class="indoorkid-filler">&nbsp;</div>

 <div class="wrapper gift-guide-wrapper" style="padding:0px;">   
      
    <div class="grid__item large--three-eighths gift-details pl20 pr20" style="background-color:#fff">
         <a href="/products/biolite-campstove?utm_source=giftGuide&utm_medium=shop&utm_campaign=holidayGiftGuide&utm_content=CampStove" title="CampStove">
		<img src="https://s3-us-west-2.amazonaws.com/biolitewebsite/shop-product-images/CampStove_shop.png" alt="CampStove" title="CampStove" class="gift-product">
           </a>
        <div class="shop-container text-center" style="background-color:#b89600;">
         <a href="/products/biolite-campstove?utm_source=giftGuide&utm_medium=shop&utm_campaign=holidayGiftGuide&utm_content=CampStove" title="CampStove">

          <div class="grid__item large--two-fifths text-center" style="border-right:1px solid #fff;">
			 <span class="gift-guide-price" style="color:#fff;">$129.95 USD</span> 
          </div>
          <div class="grid__item large--three-fifths text-center">
			<span class="gift-guide-shop" style="color:#fff;">Shop CampStove</span>
          </div>
          </a>
          </div>
      <span class="freebie-text" style="color:#b89600;">Another Way to Give Good Energy:</span> 

      <p class="gift-guide-freebieText">Make a card that says “Good for One Night Under The Stars” and offer to take them out on their first-ever overnight outside. 
        Take care of details like sleeping pads and tasty meals to show them 
        that camping can be refreshing and restoring.   </p>

</div>
   <div class="grid__item large--five-eighths gift-picture indoorkid">
      <div class="gift-guide-desc" style="margin: 25px 40px 0px 110px; padding:50px 70px 30px 50px;">
       <span class="gift-title-light" style="color:#b89600;">THE</span><span class="gift-title" style="color:#b89600;">INDOOR</span><span class="gift-title-light" style="color:#b89600;">KID</span>

        <p class="gift-guide-mainText">
        We use “kid” generously: this might be a 10 year-old addicted to his iPad or a 35 year old who never camped a day in their life. 
          We’re not judging them, we just think they could use a little fresh air. Give them The <strong><a href="/products/biolite-campstove?utm_source=giftGuide&utm_medium=shop&utm_campaign=holidayGiftGuide&utm_content=CampStove" title="CampStove">CampStove</a></strong> to pique their interest 
          (and promise that they can keep their phone charged on that first trip). Get them excited by letting them know you’ll be cooking a big outdoor meal together on this bad boy.

        </p>
</div>  
</div>
 
</div>
               <div class="indoorkid-filler">&nbsp;</div>

</section>

<!--FEEDER-->
<a name="feeder" title="Feeder"></a>


<section class="section-tight " style="background-color:#f3f3f3">
               <div class="chef-filler">&nbsp;</div>

 <div class="wrapper" style="padding:0px;">   
      <div class="grid__item large--five-eighths gift-picture chef">
      <div class="gift-guide-desc" style="margin: 20px 80px 0px 40px; padding:50px 50px 30px 50px;">
        
       <span class="gift-title-light" style="color:#166060;">THE</span><span class="gift-title" style="color:#166060;">FEEDER</span>

      
        <p class="gift-guide-mainText">You are never hungry around this person – they show their love by creating thoughtful, 
          delicious meals for friends and family, wherever you may be. 
          Whether they're in the backcountry or the backyard, they're constantly putting a plate of food in front of you 
          that is the best thing you've ever tasted. Celebrate their joy of cooking with the <strong><a href="/products/basecamp-pizzadome-bundle?utm_source=giftGuide&utm_medium=shop&utm_campaign=holidayGiftGuide&utm_content=PizzaDomeBundle" title="BaseCamp PizzaDome Bundle">BaseCamp PizzaDome Bundle,</a></strong> 
          a gourmand's dream: grill up your favorite meats or create wood-fired pizza in the middle of the woods. Seriously.  </p>
</div>  
</div>
  <div class="grid__item large--three-eighths gift-details pr20 pl20" style="background-color:#fff">
         <a href="/products/basecamp-pizzadome-bundle?utm_source=giftGuide&utm_medium=shop&utm_campaign=holidayGiftGuide&utm_content=PizzaDomeBundle" title="PizzaDome Bundle">
		<img src="https://s3-us-west-2.amazonaws.com/biolitewebsite/shop-product-images/PizzaDomeBundle_shop.png" alt="PizzaDome Bundle" title="PizzaDome Bundle" class="gift-product">
           </a>
        <div class="shop-container text-center" style="background-color:#166060;">
         <a href="/products/basecamp-pizzadome-bundle?utm_source=giftGuide&utm_medium=shop&utm_campaign=holidayGiftGuide&utm_content=PizzaDomeBundle" title="PizzaDome Bundle">

          <div class="grid__item large--two-fifths text-center" style="border-right:1px solid #fff;">
			 <span class="gift-guide-price" style="color:#fff;">$269.90 USD</span> 
          </div>
          <div class="grid__item large--three-fifths text-center">
			<span class="gift-guide-shop" style="color:#fff;">PizzaDome Bundle</span>
          </div>
          </a>
          </div>
      <span class="freebie-text" style="color:#166060;">Another Way to Give Good Energy:</span> 

          <p class="gift-guide-freebieText">Hand pick your favorite pizza recipes from famous pizza restaurants and compile them into a cookbook. 
            That way this friend will have a list of pizzas to start cooking right away.

</p>

</div>
</div>
                 <div class="chef-filler">&nbsp;</div>

</section>

<section class="section-tight text-center pt60">

  <div class="blog-divider"></div>
  
<a href="#top" class="btn btn-outline-primary mt20 mb20" title="Back To Top"> <span>Back To Top</span> </a>


  <span class="energy-reason holiday-gray pr20 pl20">Who else could use Good Energy in your life this holiday season? Tweet us 
    <a href="http://twitter.com/biolitestove" title="@BioLiteStove">@BioLiteStove</a> for personalized recommendations on how you can send good energy freebies or gear their way. </span>
 



</section>


