 <script>new WOW().init();</script>



  <header id="side-nav" class="firepit-side-menu">
    <nav>
      <ul>
        <li><a href="#gameday"><span></span></a></li>
        <li><a href="#tailgating-20"><span></span></a></li>
        <li><a href="#step-up-your-setup"><span></span></a></li>
        <li><a href="#cookout-to-hangout"><span></span></a></li>
        <li><a href="#features"><span></span></a></li>
        <li><a href="#photos"><span></span></a></li>
       <li><a href="#shop"><span>SHOP</span></a></li>
      </ul>
    </nav>
  </header>

<main>

  <section id="gameday">
<div class="parallax">
  
  <div class="tailgate-scoreboard-wrapper wow fadeInUp">
  <div class="grid__item large--one-whole tailgate-scoreboard-padder">
     <div class="grid__item large--three-fifths medium--three-fifths text-center tailgate-scoreboard-header wow fadeInUp" data-wow-delay="0.4s"> 
       <div class="grid__item large--one-whole">
            <svg version="1.1" class="scoreboard-gameday wow" id="gameday-blink" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 329.07 61.63" xml:space="preserve">
             <path class="gameday-blink-flicker wow" data-wow-delay="2.8s" d="M90.69,24.36a1.87,1.87,0,1,1-1.87-1.87A1.87,1.87,0,0,1,90.69,24.36Z" style="fill:#ffcd03"/>
  <path class="gameday-blink-flicker wow" d="M225.1,35.41A1.87,1.87,0,1,0,227,37.28,1.87,1.87,0,0,0,225.1,35.41Z" style="fill:#ffcd03"/>
  <path d="M105.83,30.82A1.87,1.87,0,1,1,104,29,1.87,1.87,0,0,1,105.83,30.82ZM104,22.49a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,104,22.49Zm0,12.92a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,104,35.41ZM81.25,29a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,81.25,29ZM104,9.57a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,104,9.57ZM104,16a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,104,16Zm7.57,0a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,111.53,16ZM88.82,41.87a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,88.82,41.87Zm0,6.46a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,88.82,48.33ZM81.25,9.57a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,81.25,9.57ZM88.82,29a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,88.82,29Zm0-12.92a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,88.82,16Zm0,19.38a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,88.82,35.41ZM104,48.33a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,104,48.33Zm0-6.46a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,104,41.87Zm30.29-32.3a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,134.25,9.57Zm0,6.46a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,134.25,16Zm15.14,32.3a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,149.39,48.33ZM134.25,22.49a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,134.25,22.49ZM119.11,29A1.87,1.87,0,1,0,121,30.82,1.87,1.87,0,0,0,119.11,29Zm30.28,12.92a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,149.39,41.87Zm0-6.46a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,149.39,35.41ZM126.68,16a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,126.68,16ZM134.25,29a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,134.25,29Zm-15.14-6.46A1.87,1.87,0,1,0,121,24.36,1.87,1.87,0,0,0,119.11,22.49Zm15.14,25.84a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,134.25,48.33Zm0-12.92a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,134.25,35.41Zm0,6.46a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,134.25,41.87ZM28.25,29a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,28.25,29Zm0,19.38a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,28.25,48.33ZM149.39,29a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,149.39,29ZM20.68,48.33a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,20.68,48.33Zm0-38.76a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,20.68,9.57ZM35.82,29a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,35.82,29Zm0,19.38a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,35.82,48.33ZM28.25,9.57a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,28.25,9.57ZM13.11,35.41A1.87,1.87,0,1,0,15,37.28,1.87,1.87,0,0,0,13.11,35.41Zm0,6.46A1.87,1.87,0,1,0,15,43.74,1.87,1.87,0,0,0,13.11,41.87ZM316,13.3a1.87,1.87,0,1,0-1.87-1.86A1.86,1.86,0,0,0,316,13.3ZM35.82,9.57a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,35.82,9.57ZM13.11,22.49A1.87,1.87,0,1,0,15,24.36,1.87,1.87,0,0,0,13.11,22.49Zm0-6.46A1.87,1.87,0,1,0,15,17.9,1.87,1.87,0,0,0,13.11,16Zm0,12.92A1.87,1.87,0,1,0,15,30.82,1.87,1.87,0,0,0,13.11,29Zm30.28,0a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,43.39,29ZM58.54,16A1.87,1.87,0,1,0,60.4,17.9,1.87,1.87,0,0,0,58.54,16Zm0,12.92a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,58.54,29Zm7.57,0A1.87,1.87,0,1,0,68,30.82,1.87,1.87,0,0,0,66.11,29Zm-7.57-6.46a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,58.54,22.49ZM73.68,29a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,73.68,29ZM66.11,9.57A1.87,1.87,0,1,0,68,11.44,1.87,1.87,0,0,0,66.11,9.57ZM43.39,41.87a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,43.39,41.87ZM73.68,9.57a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,73.68,9.57ZM43.39,16a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,43.39,16Zm0,19.38a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,43.39,35.41Zm15.15,0a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,58.54,35.41Zm0,6.46a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,58.54,41.87Zm0,6.46A1.87,1.87,0,1,0,60.4,50.2,1.87,1.87,0,0,0,58.54,48.33ZM270.53,29a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,270.53,29Zm-15.14,0a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,255.39,29Zm0-19.38a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,255.39,9.57Zm-7.57,0a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,247.82,9.57Zm0,19.38a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,247.82,29Zm22.71,19.38a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,270.53,48.33ZM263,29a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,263,29Zm0-19.38a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,263,9.57ZM240.24,16a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,240.24,16ZM225.1,16A1.87,1.87,0,1,0,227,17.9,1.87,1.87,0,0,0,225.1,16Zm45.43,25.84a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,270.53,41.87Zm-30.29,6.46a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,240.24,48.33Zm0-12.92a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,240.24,35.41Zm0-6.46a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,240.24,29Zm0-6.46a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,240.24,22.49Zm0,19.38a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,240.24,41.87Zm60.57-6.46a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,300.81,35.41Zm0,12.92a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,300.81,48.33Zm0-6.46a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,300.81,41.87ZM308.38,29a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,308.38,29ZM316,22.49a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,316,22.49ZM316,16a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,316,16Zm-45.43,0a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,270.53,16Zm15.14,6.46a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,285.67,22.49ZM293.24,29a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,293.24,29Zm-22.71-6.46a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,270.53,22.49Zm0,12.92a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,270.53,35.41ZM285.67,9.57a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,285.67,9.57Zm0,6.46a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,285.67,16ZM172.1,48.33A1.87,1.87,0,1,0,174,50.2,1.87,1.87,0,0,0,172.1,48.33ZM149.39,22.49a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,149.39,22.49ZM164.53,29a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,164.53,29Zm30.29,12.92a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,194.82,41.87ZM172.1,9.57A1.87,1.87,0,1,0,174,11.44,1.87,1.87,0,0,0,172.1,9.57Zm22.72,38.76a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,194.82,48.33Zm-15.15,0a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,179.67,48.33Zm0-38.76a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,179.67,9.57Zm-15.14,0a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,164.53,9.57ZM225.1,22.49A1.87,1.87,0,1,0,227,24.36,1.87,1.87,0,0,0,225.1,22.49ZM157,48.33a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,157,48.33ZM149.39,16a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,149.39,16Zm0-6.46a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,149.39,9.57Zm7.57,0a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,157,9.57ZM157,29a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,157,29Zm7.57,19.38a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,164.53,48.33Zm53-38.76a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,217.53,9.57Zm0,38.76a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,217.53,48.33ZM210,9.57a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,210,9.57Zm0,38.76a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,210,48.33ZM225.1,29A1.87,1.87,0,1,0,227,30.82,1.87,1.87,0,0,0,225.1,29Zm0,12.92A1.87,1.87,0,1,0,227,43.74,1.87,1.87,0,0,0,225.1,41.87ZM202.39,9.57a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,202.39,9.57Zm-7.57,25.84a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,194.82,35.41Zm0-12.92a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,194.82,22.49Zm0,6.46a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,194.82,29Zm0-12.92a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,194.82,16Zm7.57,32.3a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,202.39,48.33ZM194.82,9.57a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,194.82,9.57Z" style="fill:#ffcd03"/><g style="opacity:0.1"><path d="M128.54,56.66a1.87,1.87,0,1,1-1.86-1.87A1.86,1.86,0,0,1,128.54,56.66ZM119.11,3.11A1.87,1.87,0,1,0,121,5,1.87,1.87,0,0,0,119.11,3.11ZM104,3.11A1.87,1.87,0,1,0,105.83,5,1.87,1.87,0,0,0,104,3.11Zm7.57,32.3a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,111.53,35.41Zm0,12.92a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,111.53,48.33Zm0,6.46a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,111.53,54.79Zm0-12.92a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,111.53,41.87Zm0-32.3a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,111.53,9.57Zm0,19.38a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,111.53,29Zm7.58,6.46A1.87,1.87,0,1,0,121,37.28,1.87,1.87,0,0,0,119.11,35.41Zm-7.58-32.3A1.87,1.87,0,1,0,113.4,5,1.87,1.87,0,0,0,111.53,3.11Zm7.58,6.46A1.87,1.87,0,1,0,121,11.44,1.87,1.87,0,0,0,119.11,9.57Zm0,6.46A1.87,1.87,0,1,0,121,17.9,1.87,1.87,0,0,0,119.11,16Zm0,38.76A1.87,1.87,0,1,0,121,56.66,1.87,1.87,0,0,0,119.11,54.79Zm0-12.92A1.87,1.87,0,1,0,121,43.74,1.87,1.87,0,0,0,119.11,41.87Zm0,6.46A1.87,1.87,0,1,0,121,50.2,1.87,1.87,0,0,0,119.11,48.33Zm-7.58-25.84a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,111.53,22.49ZM88.82,3.11A1.87,1.87,0,1,0,90.69,5,1.87,1.87,0,0,0,88.82,3.11ZM104,54.79a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,104,54.79Zm-15.14,0a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,88.82,54.79Zm7.57,0a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,96.39,54.79ZM81.25,22.49a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,81.25,22.49ZM96.39,48.33a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,96.39,48.33ZM81.25,16a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,81.25,16Zm0-12.92A1.87,1.87,0,1,0,83.11,5,1.87,1.87,0,0,0,81.25,3.11Zm7.57,6.46a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,88.82,9.57Zm7.57,32.3a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,96.39,41.87Zm0-32.3a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,96.39,9.57Zm0-6.46A1.87,1.87,0,1,0,98.26,5,1.87,1.87,0,0,0,96.39,3.11Zm0,12.92a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,96.39,16Zm0,19.38a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,96.39,35.41Zm0-6.46a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,96.39,29Zm0-6.46a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,96.39,22.49Zm68.14,19.38a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,164.53,41.87ZM157,35.41a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,157,35.41Zm0,6.46a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,157,41.87Zm0-38.76A1.87,1.87,0,1,0,158.83,5,1.87,1.87,0,0,0,157,3.11ZM157,16a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,157,16Zm0,6.46a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,157,22.49Zm-7.57,32.3a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,149.39,54.79Zm0-51.68A1.87,1.87,0,1,0,151.25,5,1.87,1.87,0,0,0,149.39,3.11Zm-7.57,0A1.87,1.87,0,1,0,143.68,5,1.87,1.87,0,0,0,141.82,3.11ZM157,54.79a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,157,54.79Zm7.57-51.68A1.87,1.87,0,1,0,166.4,5,1.87,1.87,0,0,0,164.53,3.11Zm0,12.92a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,164.53,16Zm0,38.76a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,164.53,54.79Zm7.57,0A1.87,1.87,0,1,0,174,56.66,1.87,1.87,0,0,0,172.1,54.79ZM81.25,35.41a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,81.25,35.41Zm83.28-12.92a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,164.53,22.49Zm0,12.92a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,164.53,35.41ZM141.82,22.49a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,141.82,22.49ZM126.68,9.57a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,126.68,9.57Zm45.42,32.3A1.87,1.87,0,1,0,174,43.74,1.87,1.87,0,0,0,172.1,41.87ZM134.25,3.11A1.87,1.87,0,1,0,136.11,5,1.87,1.87,0,0,0,134.25,3.11Zm-7.57,19.38a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,126.68,22.49Zm7.57,32.3a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,134.25,54.79Zm-7.57-12.92a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,126.68,41.87Zm15.14-32.3a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,141.82,9.57ZM126.68,35.41a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,126.68,35.41Zm0-6.46a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,126.68,29Zm0,19.38a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,126.68,48.33Zm15.14,6.46a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,141.82,54.79Zm0-25.84a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,141.82,29Zm0-12.92a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,141.82,16Zm0,32.3a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,141.82,48.33Zm0-6.46a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,141.82,41.87Zm0-6.46a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,141.82,35.41ZM126.68,3.11A1.87,1.87,0,1,0,128.54,5,1.87,1.87,0,0,0,126.68,3.11Zm-106,0A1.87,1.87,0,1,0,22.55,5,1.87,1.87,0,0,0,20.68,3.11Zm7.57,38.76a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,28.25,41.87Zm0,12.92a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,28.25,54.79Zm0-32.3a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,28.25,22.49Zm0,12.92a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,28.25,35.41ZM20.68,16a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,20.68,16ZM35.82,3.11A1.87,1.87,0,1,0,37.69,5,1.87,1.87,0,0,0,35.82,3.11ZM20.68,22.49a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,20.68,22.49ZM28.25,16a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,28.25,16Zm7.57,6.46a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,35.82,22.49Zm0-6.46a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,35.82,16Zm0,19.38a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,35.82,35.41ZM28.25,3.11A1.87,1.87,0,1,0,30.12,5,1.87,1.87,0,0,0,28.25,3.11Zm-7.57,32.3a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,20.68,35.41Zm15.14,6.46a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,35.82,41.87Zm0,12.92a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,35.82,54.79ZM20.68,29a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,20.68,29ZM5.54,16A1.87,1.87,0,1,0,7.4,17.9,1.87,1.87,0,0,0,5.54,16ZM5.54,29A1.87,1.87,0,1,0,7.4,30.82,1.87,1.87,0,0,0,5.54,29Zm0,12.92A1.87,1.87,0,1,0,7.4,43.74,1.87,1.87,0,0,0,5.54,41.87Zm0-19.38A1.87,1.87,0,1,0,7.4,24.36,1.87,1.87,0,0,0,5.54,22.49Zm0,12.92A1.87,1.87,0,1,0,7.4,37.28,1.87,1.87,0,0,0,5.54,35.41Zm318-28.57A1.87,1.87,0,1,0,321.66,5,1.86,1.86,0,0,0,323.53,6.84ZM5.54,48.33A1.87,1.87,0,1,0,7.4,50.2,1.87,1.87,0,0,0,5.54,48.33Zm0,6.46A1.87,1.87,0,1,0,7.4,56.66,1.87,1.87,0,0,0,5.54,54.79ZM20.68,41.87a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,20.68,41.87ZM13.11,9.57A1.87,1.87,0,1,0,15,11.44,1.87,1.87,0,0,0,13.11,9.57Zm-7.57,0A1.87,1.87,0,1,0,7.4,11.44,1.87,1.87,0,0,0,5.54,9.57ZM20.68,54.79a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,20.68,54.79ZM13.11,3.11A1.87,1.87,0,1,0,15,5,1.87,1.87,0,0,0,13.11,3.11Zm0,45.22A1.87,1.87,0,1,0,15,50.2,1.87,1.87,0,0,0,13.11,48.33ZM5.54,3.11A1.87,1.87,0,1,0,7.4,5,1.87,1.87,0,0,0,5.54,3.11Zm7.57,51.68A1.87,1.87,0,1,0,15,56.66,1.87,1.87,0,0,0,13.11,54.79ZM51,9.57a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,51,9.57ZM66.11,54.79A1.87,1.87,0,1,0,68,56.66,1.87,1.87,0,0,0,66.11,54.79Zm0-38.76A1.87,1.87,0,1,0,68,17.9,1.87,1.87,0,0,0,66.11,16Zm7.57,38.76a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,73.68,54.79Zm-7.57-32.3A1.87,1.87,0,1,0,68,24.36,1.87,1.87,0,0,0,66.11,22.49Zm0,12.92A1.87,1.87,0,1,0,68,37.28,1.87,1.87,0,0,0,66.11,35.41Zm0,12.92A1.87,1.87,0,1,0,68,50.2,1.87,1.87,0,0,0,66.11,48.33Zm7.57,0a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,73.68,48.33Zm-7.57-6.46A1.87,1.87,0,1,0,68,43.74,1.87,1.87,0,0,0,66.11,41.87Zm0-38.76A1.87,1.87,0,1,0,68,5,1.87,1.87,0,0,0,66.11,3.11Zm7.57,0A1.87,1.87,0,1,0,75.54,5,1.87,1.87,0,0,0,73.68,3.11Zm0,38.76a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,73.68,41.87Zm7.57,6.46a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,81.25,48.33Zm0,6.46a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,81.25,54.79ZM73.68,35.41a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,73.68,35.41Zm0-12.92a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,73.68,22.49Zm0-6.46a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,73.68,16ZM58.54,3.11A1.87,1.87,0,1,0,60.4,5,1.87,1.87,0,0,0,58.54,3.11ZM51,35.41a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,51,35.41Zm0,12.92a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,51,48.33Zm0-6.46a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,51,41.87ZM43.39,3.11A1.87,1.87,0,1,0,45.26,5,1.87,1.87,0,0,0,43.39,3.11ZM51,54.79a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,51,54.79Zm-7.58-6.46a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,43.39,48.33Zm0-38.76a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,43.39,9.57Zm0,12.92a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,43.39,22.49ZM51,29a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,51,29Zm7.57,25.84a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,58.54,54.79ZM51,3.11A1.87,1.87,0,1,0,52.83,5,1.87,1.87,0,0,0,51,3.11Zm7.57,6.46a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,58.54,9.57Zm22.71,32.3a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,81.25,41.87ZM51,22.49a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,51,22.49Zm-7.58,32.3a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,43.39,54.79ZM51,16a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,51,16ZM300.81,9.57a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,300.81,9.57ZM278.1,16A1.87,1.87,0,1,0,280,17.9,1.87,1.87,0,0,0,278.1,16Zm0,6.46A1.87,1.87,0,1,0,280,24.36,1.87,1.87,0,0,0,278.1,22.49Zm-22.71,32.3a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,255.39,54.79ZM278.1,29A1.87,1.87,0,1,0,280,30.82,1.87,1.87,0,0,0,278.1,29Zm15.14,19.38a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,293.24,48.33ZM278.1,3.11A1.87,1.87,0,1,0,280,5,1.87,1.87,0,0,0,278.1,3.11Zm0,45.22A1.87,1.87,0,1,0,280,50.2,1.87,1.87,0,0,0,278.1,48.33Zm0-6.46A1.87,1.87,0,1,0,280,43.74,1.87,1.87,0,0,0,278.1,41.87Zm7.57,12.92a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,285.67,54.79Zm0-25.84a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,285.67,29Zm0-25.84A1.87,1.87,0,1,0,287.54,5,1.87,1.87,0,0,0,285.67,3.11Zm7.57,51.68a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,293.24,54.79Zm-7.57-6.46a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,285.67,48.33Zm-7.57,6.46A1.87,1.87,0,1,0,280,56.66,1.87,1.87,0,0,0,278.1,54.79Zm7.57-12.92a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,285.67,41.87Zm0-6.46a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,285.67,35.41Zm-7.57,0A1.87,1.87,0,1,0,280,37.28,1.87,1.87,0,0,0,278.1,35.41ZM255.39,3.11A1.87,1.87,0,1,0,257.25,5,1.87,1.87,0,0,0,255.39,3.11Zm0,19.38a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,255.39,22.49Zm0-6.46a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,255.39,16ZM263,48.33a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,263,48.33Zm0,6.46a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,263,54.79Zm-7.57-6.46a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,255.39,48.33Zm0-12.92a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,255.39,35.41Zm0,6.46a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,255.39,41.87ZM270.53,3.11A1.87,1.87,0,1,0,272.39,5,1.87,1.87,0,0,0,270.53,3.11Zm-7.57,0A1.87,1.87,0,1,0,264.82,5,1.87,1.87,0,0,0,263,3.11Zm7.57,51.68a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,270.53,54.79Zm0-45.22a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,270.53,9.57ZM263,41.87a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,263,41.87Zm0-6.46a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,263,35.41Zm0-12.92a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,263,22.49ZM263,16a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,263,16ZM278.1,9.57A1.87,1.87,0,1,0,280,11.44,1.87,1.87,0,0,0,278.1,9.57ZM316,29a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,316,29Zm7.57,25.84a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,323.53,54.79ZM316,3.11A1.87,1.87,0,1,0,317.82,5,1.87,1.87,0,0,0,316,3.11Zm0,38.76a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,316,41.87Zm0-6.46a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,316,35.41Zm-7.58-32.3A1.87,1.87,0,1,0,310.25,5,1.87,1.87,0,0,0,308.38,3.11Zm0,6.46a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,308.38,9.57ZM316,48.33a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,316,48.33Zm0,6.46a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,316,54.79Zm7.57-6.46a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,323.53,48.33Zm0-38.76a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,323.53,9.57Zm0,12.92a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,323.53,22.49Zm0-6.46a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,323.53,16Zm0,25.84a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,323.53,41.87Zm0-12.92a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,323.53,29Zm0,6.46a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,323.53,35.41Zm-15.15,0a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,308.38,35.41Zm0-19.38a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,308.38,16Zm-7.57,38.76a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,300.81,54.79ZM293.24,9.57a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,293.24,9.57Zm7.57,12.92a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,300.81,22.49Zm0,6.46a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,300.81,29ZM293.24,16a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,293.24,16Zm0,19.38a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,293.24,35.41Zm0-12.92a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,293.24,22.49Zm0-19.38A1.87,1.87,0,1,0,295.11,5,1.87,1.87,0,0,0,293.24,3.11Zm15.14,38.76a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,308.38,41.87ZM172.1,35.41A1.87,1.87,0,1,0,174,37.28,1.87,1.87,0,0,0,172.1,35.41ZM308.38,22.49a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,308.38,22.49Zm0,32.3a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,308.38,54.79ZM300.81,3.11A1.87,1.87,0,1,0,302.68,5,1.87,1.87,0,0,0,300.81,3.11Zm0,12.92a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,300.81,16Zm7.57,32.3a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,308.38,48.33Zm-15.14-6.46a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,293.24,41.87ZM202.39,54.79a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,202.39,54.79Zm-7.57,0a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,194.82,54.79Zm-7.57-32.3a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,187.25,22.49Zm15.14,19.38a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,202.39,41.87ZM187.25,9.57a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,187.25,9.57Zm0,6.46a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,187.25,16Zm0-12.92A1.87,1.87,0,1,0,189.11,5,1.87,1.87,0,0,0,187.25,3.11Zm15.14,32.3a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,202.39,35.41ZM210,29a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,210,29Zm0,12.92a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,210,41.87Zm0-6.46a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,210,35.41Zm0,19.38a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,210,54.79ZM202.39,3.11A1.87,1.87,0,1,0,204.25,5,1.87,1.87,0,0,0,202.39,3.11Zm0,25.84a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,202.39,29Zm0-6.46a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,202.39,22.49Zm0-6.46a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,202.39,16ZM194.82,3.11A1.87,1.87,0,1,0,196.68,5,1.87,1.87,0,0,0,194.82,3.11Zm-22.72,0A1.87,1.87,0,1,0,174,5,1.87,1.87,0,0,0,172.1,3.11Zm7.57,51.68a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,179.67,54.79Zm0-12.92a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,179.67,41.87Zm0-6.46a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,179.67,35.41ZM172.1,22.49A1.87,1.87,0,1,0,174,24.36,1.87,1.87,0,0,0,172.1,22.49Zm0,6.46A1.87,1.87,0,1,0,174,30.82,1.87,1.87,0,0,0,172.1,29Zm0-12.92A1.87,1.87,0,1,0,174,17.9,1.87,1.87,0,0,0,172.1,16ZM179.67,29a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,179.67,29Zm0-12.92a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,179.67,16Zm7.58,25.84a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,187.25,41.87Zm0-6.46a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,187.25,35.41Zm0,12.92a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,187.25,48.33Zm0-19.38a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,187.25,29Zm0,25.84a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,187.25,54.79Zm-7.58-32.3a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,179.67,22.49Zm0-19.38A1.87,1.87,0,1,0,181.54,5,1.87,1.87,0,0,0,179.67,3.11Zm53,25.84a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,232.67,29Zm0-25.84A1.87,1.87,0,1,0,234.54,5,1.87,1.87,0,0,0,232.67,3.11Zm7.57,6.46a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,240.24,9.57ZM232.67,16a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,232.67,16Zm7.57,38.76a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,240.24,54.79ZM232.67,9.57a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,232.67,9.57Zm0,12.92a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,232.67,22.49Zm0,12.92a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,232.67,35.41Zm15.15-32.3A1.87,1.87,0,1,0,249.68,5,1.87,1.87,0,0,0,247.82,3.11Zm0,51.68a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,247.82,54.79Zm0-32.3a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,247.82,22.49Zm0-6.46a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,247.82,16ZM240.24,3.11A1.87,1.87,0,1,0,242.11,5,1.87,1.87,0,0,0,240.24,3.11Zm7.58,32.3a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,247.82,35.41Zm-15.15,6.46a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,232.67,41.87Zm15.15,0a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,247.82,41.87Zm0,6.46a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,247.82,48.33ZM210,16a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,210,16Zm7.57,19.38a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,217.53,35.41Zm0-12.92a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,217.53,22.49Zm0,19.38a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,217.53,41.87Zm0-12.92a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,217.53,29ZM210,22.49a1.87,1.87,0,1,0,1.86,1.87A1.87,1.87,0,0,0,210,22.49Zm7.57,32.3a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,217.53,54.79ZM210,3.11A1.87,1.87,0,1,0,211.82,5,1.87,1.87,0,0,0,210,3.11ZM225.1,54.79A1.87,1.87,0,1,0,227,56.66,1.87,1.87,0,0,0,225.1,54.79Zm0-45.22A1.87,1.87,0,1,0,227,11.44,1.87,1.87,0,0,0,225.1,9.57ZM217.53,16a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,217.53,16Zm15.14,38.76a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,232.67,54.79ZM225.1,3.11A1.87,1.87,0,1,0,227,5,1.87,1.87,0,0,0,225.1,3.11Zm-7.57,0A1.87,1.87,0,1,0,219.4,5,1.87,1.87,0,0,0,217.53,3.11Zm7.57,45.22A1.87,1.87,0,1,0,227,50.2,1.87,1.87,0,0,0,225.1,48.33Zm7.57,0a1.87,1.87,0,1,0,1.87,1.87A1.87,1.87,0,0,0,232.67,48.33Z" style="fill:#fdb913"/></g>
  </svg>   
              
         
         <span class="tailgate-scoreboard-title white text-center">Upgrade Your Tailgate With FirePit</span> 
       </div>
       <div class="grid__item large--one-half medium--one-half small--one-half text-center"> 
<a href="#" data-control-modal="#hero-video--tailgate-video" title="Watch Video"><svg version="1.1" class="scoreboard-buttons wow" id="gameday-blink" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 90.69 91.06" xml:space="preserve">
	<g style="opacity:0.1"><path d="M39.64,64.91a1.87,1.87,0,1,1-1.87-1.86A1.87,1.87,0,0,1,39.64,64.91Zm-1.87,4.6a1.87,1.87,0,1,0,1.87,1.86A1.86,1.86,0,0,0,37.77,69.51ZM30.2,24.29a1.87,1.87,0,1,0,1.87,1.86A1.86,1.86,0,0,0,30.2,24.29Zm0-12.92a1.87,1.87,0,1,0,1.87,1.86A1.86,1.86,0,0,0,30.2,11.37ZM37.77,76a1.87,1.87,0,1,0,1.87,1.86A1.86,1.86,0,0,0,37.77,76ZM30.2,17.83a1.87,1.87,0,1,0,1.87,1.86A1.86,1.86,0,0,0,30.2,17.83Zm0,38.76a1.87,1.87,0,1,0,1.87,1.86A1.86,1.86,0,0,0,30.2,56.59Zm0-6.46A1.87,1.87,0,1,0,32.07,52,1.86,1.86,0,0,0,30.2,50.13Zm0-6.46a1.87,1.87,0,1,0,1.87,1.86A1.86,1.86,0,0,0,30.2,43.67Zm0-12.92a1.87,1.87,0,1,0,1.87,1.86A1.86,1.86,0,0,0,30.2,30.75Zm0,6.46a1.87,1.87,0,1,0,1.87,1.86A1.86,1.86,0,0,0,30.2,37.21Zm7.57-12.92a1.87,1.87,0,1,0,1.87,1.86A1.86,1.86,0,0,0,37.77,24.29Zm7.58,25.84A1.87,1.87,0,1,0,47.21,52,1.87,1.87,0,0,0,45.35,50.13Zm-7.58,6.46a1.87,1.87,0,1,0,1.87,1.86A1.86,1.86,0,0,0,37.77,56.59Zm7.58,12.92a1.87,1.87,0,1,0,1.86,1.86A1.87,1.87,0,0,0,45.35,69.51ZM37.77,11.37a1.87,1.87,0,1,0,1.87,1.86A1.86,1.86,0,0,0,37.77,11.37Zm7.58,51.68a1.87,1.87,0,1,0,1.86,1.86A1.87,1.87,0,0,0,45.35,63.05Zm0-6.46a1.87,1.87,0,1,0,1.86,1.86A1.87,1.87,0,0,0,45.35,56.59ZM37.77,17.83a1.87,1.87,0,1,0,1.87,1.86A1.86,1.86,0,0,0,37.77,17.83Zm0,32.3A1.87,1.87,0,1,0,39.64,52,1.86,1.86,0,0,0,37.77,50.13ZM30.2,63.05a1.87,1.87,0,1,0,1.87,1.86A1.86,1.86,0,0,0,30.2,63.05Zm7.57-19.38a1.87,1.87,0,1,0,1.87,1.86A1.86,1.86,0,0,0,37.77,43.67Zm0-6.46a1.87,1.87,0,1,0,1.87,1.86A1.86,1.86,0,0,0,37.77,37.21Zm0-6.46a1.87,1.87,0,1,0,1.87,1.86A1.86,1.86,0,0,0,37.77,30.75ZM45.35,76a1.87,1.87,0,1,0,1.86,1.86A1.87,1.87,0,0,0,45.35,76ZM15.06,37.21a1.87,1.87,0,1,0,1.87,1.86A1.86,1.86,0,0,0,15.06,37.21ZM30.2,69.51a1.87,1.87,0,1,0,1.87,1.86A1.86,1.86,0,0,0,30.2,69.51ZM15.06,30.75a1.87,1.87,0,1,0,1.87,1.86A1.86,1.86,0,0,0,15.06,30.75Zm0-12.92a1.87,1.87,0,1,0,1.87,1.86A1.86,1.86,0,0,0,15.06,17.83Zm0,32.3A1.87,1.87,0,1,0,16.93,52,1.86,1.86,0,0,0,15.06,50.13Zm0-25.84a1.87,1.87,0,1,0,1.87,1.86A1.86,1.86,0,0,0,15.06,24.29Zm0,19.38a1.87,1.87,0,1,0,1.87,1.86A1.86,1.86,0,0,0,15.06,43.67ZM75.63,15.1a1.87,1.87,0,1,0-1.86-1.87A1.87,1.87,0,0,0,75.63,15.1ZM15.06,76a1.87,1.87,0,1,0,1.87,1.86A1.86,1.86,0,0,0,15.06,76Zm0-12.92a1.87,1.87,0,1,0,1.87,1.86A1.86,1.86,0,0,0,15.06,63.05Zm0-6.46a1.87,1.87,0,1,0,1.87,1.86A1.86,1.86,0,0,0,15.06,56.59Zm0,12.92a1.87,1.87,0,1,0,1.87,1.86A1.86,1.86,0,0,0,15.06,69.51Zm0-58.14a1.87,1.87,0,1,0,1.87,1.86A1.86,1.86,0,0,0,15.06,11.37Zm7.57,6.46a1.87,1.87,0,1,0,1.87,1.86A1.86,1.86,0,0,0,22.63,17.83Zm0,6.46a1.87,1.87,0,1,0,1.87,1.86A1.86,1.86,0,0,0,22.63,24.29Zm0,6.46a1.87,1.87,0,1,0,1.87,1.86A1.86,1.86,0,0,0,22.63,30.75ZM30.2,76a1.87,1.87,0,1,0,1.87,1.86A1.86,1.86,0,0,0,30.2,76Zm-7.57-64.6a1.87,1.87,0,1,0,1.87,1.86A1.86,1.86,0,0,0,22.63,11.37Zm0,45.22a1.87,1.87,0,1,0,1.87,1.86A1.86,1.86,0,0,0,22.63,56.59Zm0,6.46a1.87,1.87,0,1,0,1.87,1.86A1.86,1.86,0,0,0,22.63,63.05Zm0,6.46a1.87,1.87,0,1,0,1.87,1.86A1.86,1.86,0,0,0,22.63,69.51Zm0,6.46a1.87,1.87,0,1,0,1.87,1.86A1.86,1.86,0,0,0,22.63,76Zm0-38.76a1.87,1.87,0,1,0,1.87,1.86A1.86,1.86,0,0,0,22.63,37.21Zm0,12.92A1.87,1.87,0,1,0,24.5,52,1.86,1.86,0,0,0,22.63,50.13Zm0-6.46a1.87,1.87,0,1,0,1.87,1.86A1.86,1.86,0,0,0,22.63,43.67Zm45.43,0a1.87,1.87,0,1,0,1.86,1.86A1.87,1.87,0,0,0,68.06,43.67Zm0-6.46a1.87,1.87,0,1,0,1.86,1.86A1.87,1.87,0,0,0,68.06,37.21Zm0,19.38a1.87,1.87,0,1,0,1.86,1.86A1.87,1.87,0,0,0,68.06,56.59Zm0-6.46A1.87,1.87,0,1,0,69.92,52,1.87,1.87,0,0,0,68.06,50.13Zm0-25.84a1.87,1.87,0,1,0,1.86,1.86A1.87,1.87,0,0,0,68.06,24.29Zm0,6.46a1.87,1.87,0,1,0,1.86,1.86A1.87,1.87,0,0,0,68.06,30.75Zm0,38.76a1.87,1.87,0,1,0,1.86,1.86A1.87,1.87,0,0,0,68.06,69.51ZM60.49,11.37a1.87,1.87,0,1,0,1.86,1.86A1.87,1.87,0,0,0,60.49,11.37Zm0,6.46a1.87,1.87,0,1,0,1.86,1.86A1.87,1.87,0,0,0,60.49,17.83Zm0,6.46a1.87,1.87,0,1,0,1.86,1.86A1.87,1.87,0,0,0,60.49,24.29Zm7.57-6.46a1.87,1.87,0,1,0,1.86,1.86A1.87,1.87,0,0,0,68.06,17.83Zm0,58.14a1.87,1.87,0,1,0,1.86,1.86A1.87,1.87,0,0,0,68.06,76Zm0-12.92a1.87,1.87,0,1,0,1.86,1.86A1.87,1.87,0,0,0,68.06,63.05Zm7.57-32.3a1.87,1.87,0,1,0,1.86,1.86A1.86,1.86,0,0,0,75.63,30.75Zm0,6.46a1.87,1.87,0,1,0,1.86,1.86A1.86,1.86,0,0,0,75.63,37.21Zm0,6.46a1.87,1.87,0,1,0,1.86,1.86A1.86,1.86,0,0,0,75.63,43.67Zm0-25.84a1.87,1.87,0,1,0,1.86,1.86A1.86,1.86,0,0,0,75.63,17.83ZM45.35,43.67a1.87,1.87,0,1,0,1.86,1.86A1.87,1.87,0,0,0,45.35,43.67ZM75.63,76a1.87,1.87,0,1,0,1.86,1.86A1.86,1.86,0,0,0,75.63,76Zm0-6.46a1.87,1.87,0,1,0,1.86,1.86A1.86,1.86,0,0,0,75.63,69.51ZM68.06,11.37a1.87,1.87,0,1,0,1.86,1.86A1.87,1.87,0,0,0,68.06,11.37Zm7.57,51.68a1.87,1.87,0,1,0,1.86,1.86A1.86,1.86,0,0,0,75.63,63.05Zm0-12.92A1.87,1.87,0,1,0,77.49,52,1.86,1.86,0,0,0,75.63,50.13Zm0,6.46a1.87,1.87,0,1,0,1.86,1.86A1.86,1.86,0,0,0,75.63,56.59Zm0-32.3a1.87,1.87,0,1,0,1.86,1.86A1.86,1.86,0,0,0,75.63,24.29ZM52.92,56.59a1.87,1.87,0,1,0,1.86,1.86A1.87,1.87,0,0,0,52.92,56.59Zm0,6.46a1.87,1.87,0,1,0,1.86,1.86A1.87,1.87,0,0,0,52.92,63.05Zm0,6.46a1.87,1.87,0,1,0,1.86,1.86A1.87,1.87,0,0,0,52.92,69.51Zm0-19.38A1.87,1.87,0,1,0,54.78,52,1.87,1.87,0,0,0,52.92,50.13Zm0,25.84a1.87,1.87,0,1,0,1.86,1.86A1.87,1.87,0,0,0,52.92,76Zm0-32.3a1.87,1.87,0,1,0,1.86,1.86A1.87,1.87,0,0,0,52.92,43.67ZM45.35,30.75a1.87,1.87,0,1,0,1.86,1.86A1.87,1.87,0,0,0,45.35,30.75Zm0-19.38a1.87,1.87,0,1,0,1.86,1.86A1.87,1.87,0,0,0,45.35,11.37Zm7.57,25.84a1.87,1.87,0,1,0,1.86,1.86A1.87,1.87,0,0,0,52.92,37.21Zm-7.57,0a1.87,1.87,0,1,0,1.86,1.86A1.87,1.87,0,0,0,45.35,37.21Zm0-19.38a1.87,1.87,0,1,0,1.86,1.86A1.87,1.87,0,0,0,45.35,17.83Zm0,6.46a1.87,1.87,0,1,0,1.86,1.86A1.87,1.87,0,0,0,45.35,24.29Zm7.57,6.46a1.87,1.87,0,1,0,1.86,1.86A1.87,1.87,0,0,0,52.92,30.75Zm7.57,19.38A1.87,1.87,0,1,0,62.35,52,1.87,1.87,0,0,0,60.49,50.13Zm0,6.46a1.87,1.87,0,1,0,1.86,1.86A1.87,1.87,0,0,0,60.49,56.59Zm0-12.92a1.87,1.87,0,1,0,1.86,1.86A1.87,1.87,0,0,0,60.49,43.67Zm0-6.46a1.87,1.87,0,1,0,1.86,1.86A1.87,1.87,0,0,0,60.49,37.21Zm0,25.84a1.87,1.87,0,1,0,1.86,1.86A1.87,1.87,0,0,0,60.49,63.05Zm0,6.46a1.87,1.87,0,1,0,1.86,1.86A1.87,1.87,0,0,0,60.49,69.51ZM52.92,24.29a1.87,1.87,0,1,0,1.86,1.86A1.87,1.87,0,0,0,52.92,24.29Zm0-6.46a1.87,1.87,0,1,0,1.86,1.86A1.87,1.87,0,0,0,52.92,17.83Zm7.57,12.92a1.87,1.87,0,1,0,1.86,1.86A1.87,1.87,0,0,0,60.49,30.75Zm0,45.22a1.87,1.87,0,1,0,1.86,1.86A1.87,1.87,0,0,0,60.49,76Zm-7.57-64.6a1.87,1.87,0,1,0,1.86,1.86A1.87,1.87,0,0,0,52.92,11.37Z" style="fill:#00b2b0"/></g>
	<path class="gameday-blink-flicker wow" data-wow-delay="0.5s" d="M32.07,39.07a1.87,1.87,0,1,1-1.87-1.86A1.87,1.87,0,0,1,32.07,39.07Zm-1.87,4.6a1.87,1.87,0,1,0,1.87,1.86A1.86,1.86,0,0,0,30.2,43.67Zm0,6.46A1.87,1.87,0,1,0,32.07,52,1.86,1.86,0,0,0,30.2,50.13Zm0,6.46a1.87,1.87,0,1,0,1.87,1.86A1.86,1.86,0,0,0,30.2,56.59Zm0,6.46a1.87,1.87,0,1,0,1.87,1.86A1.86,1.86,0,0,0,30.2,63.05Zm0,6.46a1.87,1.87,0,1,0,1.87,1.86A1.86,1.86,0,0,0,30.2,69.51Zm7.57-32.3a1.87,1.87,0,1,0,1.87,1.86A1.86,1.86,0,0,0,37.77,37.21Zm0,6.46a1.87,1.87,0,1,0,1.87,1.86A1.86,1.86,0,0,0,37.77,43.67Zm0,6.46A1.87,1.87,0,1,0,39.64,52,1.86,1.86,0,0,0,37.77,50.13Zm0,6.46a1.87,1.87,0,1,0,1.87,1.86A1.86,1.86,0,0,0,37.77,56.59Zm0,6.46a1.87,1.87,0,1,0,1.87,1.86A1.86,1.86,0,0,0,37.77,63.05Zm7.58-25.84a1.87,1.87,0,1,0,1.86,1.86A1.87,1.87,0,0,0,45.35,37.21Zm0,6.46a1.87,1.87,0,1,0,1.86,1.86A1.87,1.87,0,0,0,45.35,43.67Zm0,6.46A1.87,1.87,0,1,0,47.21,52,1.87,1.87,0,0,0,45.35,50.13Zm0,6.46a1.87,1.87,0,1,0,1.86,1.86A1.87,1.87,0,0,0,45.35,56.59Zm7.57-19.38a1.87,1.87,0,1,0,1.86,1.86A1.87,1.87,0,0,0,52.92,37.21Zm0,6.46a1.87,1.87,0,1,0,1.86,1.86A1.87,1.87,0,0,0,52.92,43.67Zm0,6.46A1.87,1.87,0,1,0,54.78,52,1.87,1.87,0,0,0,52.92,50.13Zm7.57-6.46a1.87,1.87,0,1,0,1.86,1.86A1.87,1.87,0,0,0,60.49,43.67ZM30.2,24.29a1.87,1.87,0,1,0,1.87,1.86A1.86,1.86,0,0,0,30.2,24.29Zm7.57,0a1.87,1.87,0,1,0,1.87,1.86A1.86,1.86,0,0,0,37.77,24.29ZM30.2,30.75a1.87,1.87,0,1,0,1.87,1.86A1.86,1.86,0,0,0,30.2,30.75Zm7.57,0a1.87,1.87,0,1,0,1.87,1.86A1.86,1.86,0,0,0,37.77,30.75Zm7.58,0a1.87,1.87,0,1,0,1.86,1.86A1.87,1.87,0,0,0,45.35,30.75ZM30.2,17.83a1.87,1.87,0,1,0,1.87,1.86A1.86,1.86,0,0,0,30.2,17.83Z" style="fill:#00b2b0"/></svg>     
         </a> 
          <a href="#" data-control-modal="#hero-video--tailgate-video"  class="btn-tight btn-tight-primary mt10"  title="Watch The Video">
                  <span>Watch The Video </span>
                </a>  
       
       </div>
       
        <div class="grid__item large--one-half medium--one-half small--one-half text-center"> 
        <img class="scoreboard-buttons" src="https://cdn.shopify.com/s/files/1/0666/9741/files/scoreboard_shop-01.svg?7809094743157275781" />
         <a href="#shop" class="btn-tight btn-tight-primary mt10"  title="Shop FirePit">
                  <span>Shop FirePit </span>
                </a> 
       </div>
       
         <div class="grid__item large--one-whole tailgate-scoreboard-footer">
           <span class="tailgate-scoreboard-btn white">  <i class="icomoon icon-downArrow tailgate-arrow"></i>Explore FirePit For Tailgating  <i class="icomoon icon-downArrow tailgate-arrow"></i></span>
       </div>
    </div>
    
         <div class="grid__item large--two-fifths medium--two-fifths small--one-whole scoreboard-bg wow fadeInUp" data-wow-delay="0.4s"> 
    </div>
    </div>
       
            <div id="hero-video-product" class="modal">
       
     <header class="modal__header">
    </header>
    <div id="hero-video--tailgate-video" class="modal">
   <header class="modal__header">
     <div class="modal--close">
       <i class="icomoon icon-close-circle modal-close-button"></i>
     </div>
   </header>
  <div class="modal__content modal__content--video">
                <iframe src="https://www.youtube.com/embed/kF_Dgatq0qg?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                </div> 
  </div>
  </div>
    
  </div>
  
  

<section id="tailgating-20">
 <div class="landing-section go-inside-tailgate">
    <div class="tailgate-scene-overlay">
   <div class="tailgate-scene-copy">
       <span class="sunlight-title primary medium--text-center small--text-center wow fadeInLeft">This Is Tailgating 2.0</span> 

         <span class="medium--text-center small--text-center sunlight-description dark-grey wow fadeInLeft">FirePit combines the appeal of a bonfire with the cooking capabilities of a classic charcoal grill.
</span>

         <div class="sunlight-icon-feature-list small--positionreset  wow fadeIn" data-wow-delay="0.8s">
           
           <div class="tailgate-overview">
             <div class="grid__item large--one-eighth medium--text-center small--text-center ">
             <img class="tailgate-icon-feature-icon" alt="Easy Transport, Easy Setup" src="https://cdn.shopify.com/s/files/1/0666/9741/files/tailgating_icons-03.svg?14146901178845626474"/>
             </div>
        <div class="grid__item large--seven-eighths">     
      <span class="tailgate-feature-title dark-grey">Easy Transport, Easy Setup</span>
      <span class="tailgate-feature-desc dark-grey">Packs down easily into your trunk and airflow system catches coals fast</span>
             </div>   
           </div>

  <hr class="white-divider">
               <div class="tailgate-overview">
             <div class="grid__item large--one-eighth medium--text-center small--text-center">
             <img class="tailgate-icon-feature-icon" alt="Cookout-To-Hangout" src="https://cdn.shopify.com/s/files/1/0666/9741/files/tailgating_icons-02.svg?14146901178845626474"/>
             </div>
        <div class="grid__item large--seven-eighths">     
      <span class="tailgate-feature-title dark-grey">Cookout-To-Hangout</span>
      <span class="tailgate-feature-desc dark-grey">Move from charcoal grilling to a wood-burning bonfire with 360° flames  </span>
             </div>   
           </div>
           
          
<hr class="white-divider">
            <div class="tailgate-overview">
             <div class="grid__item large--one-eighth medium--text-center small--text-center">
             <img class="tailgate-icon-feature-icon" alt="Group Grilling" src="https://cdn.shopify.com/s/files/1/0666/9741/files/tailgating_icons-04.svg?14146901178845626474"/>
             </div>
        <div class="grid__item large--seven-eighths">     
      <span class="tailgate-feature-title dark-grey">Group Grilling</span>
      <span class="tailgate-feature-desc dark-grey">Cooking surface fits up to 8 burgers and 20 brats  </span>
             </div>   
           </div>
           
             <hr class="white-divider">
             <div class="tailgate-overview">
             <div class="grid__item large--one-eighth medium--text-center small--text-center">
             <img class="tailgate-icon-feature-icon" alt="No Smoke = No Shuffle" src="https://cdn.shopify.com/s/files/1/0666/9741/files/tailgating_icons-01.svg?14146901178845626474"/>
             </div>
        <div class="grid__item large--seven-eighths">     
      <span class="tailgate-feature-title dark-grey">No Smoke = No Shuffle</span>
      <span class="tailgate-feature-desc dark-grey">We burn the smoke so you can stay seated. No more chef in the corner.  </span>
             </div>   
           </div>
           
      
           </div>
       
         </div>

     <a href="#" data-control-modal="#hero-video--360" title="FirePit 360"><img class="tailgate-360icon wow fadeInUp" data-wow-delay="1.5s" src="https://cdn.shopify.com/s/files/1/0666/9741/files/seeMeIn360_icon-01.svg?5785931748314007453" /></a>
         <img class="tailgate-illustration" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Tailgating_scene_illustration_r3-01.svg?14126743407738523898" />
  <a href="#" data-control-modal="#hero-video--360" title="FirePit 360"><img class="tailgate-firepit" src="https://cdn.shopify.com/s/files/1/0666/9741/files/firepit_photoreal.png?6171752507086829375" /></a>
   
           <div id="hero-video" class="modal">
       
     <header class="modal__header">
     
    </header>
                        
    <div id="hero-video--360" class="modal">
   <header class="modal__header">
     
     <div class="modal--close">
       <i class="icomoon icon-close-circle modal-close-button"></i>
     </div>
   </header>
   <div class="modal__content firepit-360-modal modal__content--video text-center">
        
    <div class="grid__item large--one-whole text-center mt30 pr30 pl30">
              {% include 'firepit-360' %}

</div>

      
      </div>
  </div>
  </div>
      
        </div> 

   
   
</div>
   </section>
<div class="clearfix"></div>
   
  </section>

 
</div>  
  </section>
  
  <section id="step-up-your-setup">

<div class="landing-section tailgate-truck wow fadeIn" data-wow-delay="0.2s">
  <div class="tailgate-truck-header">
  <span class="sunlight-title text-center text-shadow white">Step Up Your Setup</span> 
 <span class="sunlight-description text-center text-shadow white">No more lugging around clunky grills. FirePit travels light and uses the same fuel you're already bringing.</span>
    
    <div class="tailgate-truck-feature-1 text-center wow fadeIn" data-wow-delay="0.4s">
        <div class="grid__item large--one-whole medium--one-whole small--one-whole">
         <span class="tailgate-feature-title-truck-blue text-center ">Packable Design</span>
          <span class="tailgate-truck-subtext text-center medium--text-center small--text-center dark-grey">At 19 lbs, the <strong>FirePit folds up compactly</strong> and slides in next to your cooler. Pair with the optional Solar Carry Cover for charging and convenient carry. </span></div>
    </div> 
    
     <div class="tailgate-truck-feature-2 wow fadeIn" data-wow-delay="0.6s">
        <div class="grid__item large--one-whole medium--one-whole small--one-whole">
         <span class="tailgate-feature-title-truck-purple text-center">Dual Fuel Capability</span>
          <span class="tailgate-truck-subtext text-center medium--text-center small--text-center dark-grey">FirePit accommodates <strong>wood</strong> or <strong>charcoal</strong> and switching between the two is as simple as lowering the fuel rack. Enjoy hibachi-style grilling and a bonfire in one. </span></div>
    </div>
    
    
   
    
    
  </div>
            
   
</div>  
  </section>

<div class="clearfix"></div>

  <section id="cookout-to-hangout">

<div class="landing-section cookout-to-hangout wow fadeIn" data-wow-delay="0.2s" data-section-name="dual-fuel-capability" id="" data-speed="8">
   <div class="tailgate-grill-slider-header">
  <span class="sunlight-title text-center text-shadow white wow fadeIn" data-wow-delay="0.5s">Cookout To Hangout</span> 
 <span class="sunlight-description text-center text-shadow white wow fadeIn" data-wow-delay="0.5s">FirePit is engineered with gameday in mind. Start with charcoal and a few burgers then throw some logs on for warmth as night descends.</span>
  </div>
  <div id="firepit-slider">
  <img  class="firepit-slider-img tailgate-slider-wood" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Cookout-Hangout_Wood_971f9e71-af46-451c-a53c-12eabf3e2f07.png?10780692969378211648" />
 <img class="firepit-slider-img tailgate-slider-charcoal" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Cookout-Hangout_Charcoal_f52cfc65-8214-44ba-82ab-8545dba263bc.png?10780692969378211648" />
</div>
  

  <div class ="tailgate-timeline wow fadeIn">
  <img src="https://cdn.shopify.com/s/files/1/0666/9741/files/cookout-hangout-timeline-01.svg?3922413574204452080" />
  </div>
  


  
   <script>
     $(function(){
  $("#firepit-slider").twentytwenty({
    default_offset_pct: 0.2,
    no_overlay: true 
  });
});
  </script>
  
</div>
  </section>

  <section id="features">

  <div class="landing-section tailgating-features text-center" style="background-color:#e6e6e6;">
    <div class="vertical-horizontal-center small--positionreset sunlight-quick-specs-title wow fadeIn" data-wow-delay="0.5s">
      FirePit Feature Rundown
  </div>
  
  <div class="sunlight-spec-bloc wow fadeInUp" data-wow-delay="0.4s">
       <img class="sunlight-spec-illustration" src="https://cdn.shopify.com/s/files/1/0666/9741/files/FirePit_Landing_Page_Illustrations_r2-01.svg?9474009756711244987" alt="FirePit Fits 4 Pieces Of Cord Wood" title="FirePit Fits 4 Pieces Of Cord Wood" />
         <span class="sunlight-spec-title">Fits Up To 4 Pieces Standard 16" Firewood</span>
  </div>
   <div class="sunlight-spec-bloc wow fadeInUp" data-wow-delay="0.5s">
       <img class="sunlight-spec-illustration" src="https://cdn.shopify.com/s/files/1/0666/9741/files/FirePit_Landing_Page_Illustrations_r2-03.svg?9474009756711244987" alt="4 Fan Speeds" title="4 Fan Speeds" />
         <span class="sunlight-spec-title">4 Fan Speeds Control Flame &amp; Heat Output </span>
  </div>
   <div class="sunlight-spec-bloc wow fadeInUp" data-wow-delay="0.6s">
       <img class="sunlight-spec-illustration" src="https://cdn.shopify.com/s/files/1/0666/9741/files/FirePit_Landing_Page_Illustrations-06.svg?13961634795523798297" alt="Easy Carry Handles and Folding Legs" title="Easy Carry Handles and Folding Legs" />
         <span class="sunlight-spec-title">19 lbs, Easy Carry Handles &amp; Folding Legs </span>
  </div>
   <div class="sunlight-spec-bloc wow fadeInUp" data-wow-delay="0.7s">
       <img class="sunlight-spec-illustration" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Tailgating_Landing_Page_Illustrations-02.svg?15953524316408016840" alt="10,400 Powerpack Can Be Used As Battery Bank" title="Grill Surface Measures 18 x 7.25" />
         <span class="sunlight-spec-title">10,400 Powerpack Doubles As Battery Bank</span>
  </div>
   <div class="sunlight-spec-bloc wow fadeInUp" data-wow-delay="0.8s">
        <img class="firepit-spec-illustration-small" src="https://cdn.shopify.com/s/files/1/0666/9741/files/FirePit_Landing_Page_Illustrations-04.svg?13961634795523798297" alt="Optional Bluetooth Aiflow Control Via Free App" title="Optional Bluetooth Aiflow Control Via Free App" />
<a href="https://itunes.apple.com/us/app/biolite-energy/id1146531562?ls=1&mt=8" target="_blank"><img class="firepit-spec-illustration-smallest"  src="https://cdn.shopify.com/s/files/1/0666/9741/files/iOS_appStore_download.png?9069070817626020306" alt="Download on the Apple App Store"></a>
<a href="https://play.google.com/store/apps/details?id=com.bioliteenergy.baselantern&hl=en" target="_blank"><img class="firepit-spec-illustration-smallest"  src="https://cdn.shopify.com/s/files/1/0666/9741/files/googlePlay_logo.png?18343300157132881387" alt="Download on Google Play"></a>
  
     <span class="sunlight-spec-title">Optional Bluetooth Airflow Control Via Free App</span>
  </div>
   <div class="sunlight-spec-bloc wow fadeInUp" data-wow-delay="0.8s"> 
       <img class="sunlight-spec-illustration" src="https://cdn.shopify.com/s/files/1/0666/9741/files/FirePit_Landing_Page_Illustrations_r2-05.svg?9474009756711244987" alt="Recharge Airflow Via USB Or Solar Carry Cover" title="Recharge Airflow Via USB Or Solar Carry Cover" />
         <span class="sunlight-spec-title">Recharge Via USB Or Solar Carry Cover*</span>
     <span class="spec-title-caption">Sold Separately</span>
  </div>
  
</div>
  </section>

<div class="clearfix"></div>

  <section id="photos">

<div class="landing-section tailgating-photos" style="background-color:#000;" data-section-name="firepit-in-action" id="firepit-see-in-action" data-speed="8">
    <div class="grid__item sunlight-slideshow wow fadeIn">
       <span class="sunlight-title white">See FirePit In Action</span> 
    </div>  
  
  <div id="Glide" class="glide wow fadeIn" data-wow-delay="0.5s">
<div class="glide__arrows">
        <button class="glide__arrow prev" data-glide-dir="<"><i class="icomoon icon-leftArrowFilled slideshow-arrow-icon"></i></button>
        <button class="glide__arrow next" data-glide-dir=">"><i class="icomoon icon-rightArrowFilled slideshow-arrow-icon"></i></button>
    </div>  
   <div class="glide__wrapper">
        <ul class="glide__track">
<li class="glide__slide "><img class="" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Tailgating_slideshow_1.jpg?15582459402777072358" alt="BioLite FirePit" title="BioLite FirePit" /></li>
<li class="glide__slide "><img class="" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Tailgating_slideshow_2.jpg?2474580878029166111" alt="BioLite FirePit" title="BioLite FirePit" /></li>
<li class="glide__slide "><img class="" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Tailgating_slideshow_3.jpg?2474580878029166111" alt="BioLite FirePit" title="BioLite FirePit" /></li>
<li class="glide__slide "><img class="" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Tailgating_slideshow_5.jpg?2474580878029166111" alt="BioLite FirePit" title="BioLite FirePit" /></li>
<li class="glide__slide "><img class="" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Tailgating_slideshow_6.jpg?2474580878029166111" alt="BioLite FirePit" title="BioLite FirePit" /></li>
<li class="glide__slide "><img class="" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Tailgating_slideshow_7.jpg?2474580878029166111" alt="BioLite FirePit" title="BioLite FirePit" /></li>



 </ul>
    </div>
       <div class="glide__bullets"></div>
   
   </div>
<script>
    $("#Glide").glide({
        type: "carousel"
    });
</script>
  
</div>
  </section>
  
  
<div class="clearfix"></div>
    <section id="shop">

<div class="wrapper--full" style="background-color:#f3f3f3;outline: none;" id="shopSunLight">   
<div class="grid__item large pb50 large--pt50">
 <!--<div class="grid__item shop-sunlight-family wow fadeIn">
       <span class="sunlight-title white">Shop The SunLight Family</span> 
    </div> -->
<section id="product-grid" class="product-grid section-large" itemtype="http://schema.org/SomeProducts">

  
    <div class="product-grid-item grid__item large--one-third wow fadeIn medium--one-half small--one-whole" data-wow-delay="0.2s">
    <div class="product-grid-item-padder">
    <div class="product-grid-item__inner">
      <a href="/products/firepit" title="FirePit">
      <div class="product-grid-item__thumb">
        <img src="https://s3-us-west-2.amazonaws.com/biolitewebsite/shop-product-images/FirePit_shop.png" alt="" title="BioLite FirePit" />
        </div>
      </a>
          </div>
    <footer class="product-grid-item__footer">
      <div class="fake-you-save"></div>
       <!--<div class="you-save">
       <span class="right-side rounded_money"> Save $10 </span>
      </div>-->
      <a href="/products/firepit" title="BioLite FirePit">
        <h5 class="product-grid-item__title">BioLite FirePit</h5>
      </a>
      <div class="price-and-cart-add">
     <span id="ProductPrice" class="product-grid-item__price h5">$199.95</span>
      </div>
    </footer>
    <div class="sunlight-product-buttons">
       <button type="submit" name="add" id="" class="btn-tight cart-item--add" data-product-variant="12471708287075" data-otv-current-product-add>
       <span id="AddToCartText" data-otv-current-product-add-text>Add To Cart</span>
                </button>
      <a href="/products/firepit" class="btn btn-tight-outline sunlight-product-buttons-2" title="Shop Now"><span>Full Description</span> </a>
      </div>
    </div>
  </div>
  
    
  <div class="product-grid-item grid__item large--one-third wow fadeIn medium--one-half small--one-whole"  data-wow-delay="0.3s">
   <div class="product-grid-item-padder">
    <div class="product-grid-item__inner">
      <a href="/products/solar-carry-cover" title="Solar Carry Cover">
      <div class="product-grid-item__thumb">
        <img src="https://s3-us-west-2.amazonaws.com/biolitewebsite/shop-product-images/FirePit%2BSolarCover_shop.png" alt="" title="Solar Carry Cover" />
        </div>
      </a>
          </div>
    <footer class="product-grid-item__footer">
      <div class="fake-you-save"></div>
      <a href="/products/solar-carry-cover" title="Solar Carry Cover">
        <h5 class="product-grid-item__title">Solar Carry Cover</h5>
      </a>
      <div class="price-and-cart-add">
     <span id="ProductPrice" class="product-grid-item__price h5">$59.95</span>
      </div>
    </footer>
    <div class="sunlight-product-buttons">
       <button type="submit" name="add" id="" class="btn-tight cart-item--add" data-product-variant="46282767566" data-otv-current-product-add>
       <span id="AddToCartText" data-otv-current-product-add-text>Add To Cart</span>
                </button>
      <a href="/products/solar-carry-cover" class="btn btn-tight-outline sunlight-product-buttons-2" title="Shop Now"><span>Full Description</span> </a>
      </div>
    </div>
  </div>
  

  
        <div class="product-grid-item grid__item large--one-third wow fadeIn medium--one-half small--one-whole" data-wow-delay="0.4s">
   <div class="product-grid-item-padder">
    <div class="product-grid-item__inner">
      <a href="/products/firepit?variant=46280264014" title="FirePit + Solar Carry Cover">
      <div class="product-grid-item__thumb">
        <img src="https://s3-us-west-2.amazonaws.com/biolitewebsite/shop-product-images/FirePit%2BsolarCover_shop.png" alt="" title="FirePit + Solar Carry Cover" />
        </div>
      </a>
          </div>
    <footer class="product-grid-item__footer">
       <div class="you-save">
       <span class="right-side rounded_money">Save $10</span>
      </div>
      <a href="/products/firepit?variant=46280264014" title="FirePit + Solar Carry Cover">
        <h5 class="product-grid-item__title">FirePit + Solar Carry Cover</h5>
      </a>
      <div class="price-and-cart-add">
   <div class="price-and-cart-add">
 <span id="ProductPrice" itemprop="price" class="product-grid-item__price h5" style="color:#35a8a6;font-weight:600;">$249.90</span>
  <div class="compare-at"> <span class="product-price-compare-strike">$259.90</span></div>        
</div>      </div>
    </footer>
    <div class="sunlight-product-buttons">
       <button type="submit" name="add" id="" class="btn-tight cart-item--add" data-product-variant="12485530648675" data-otv-current-product-add>
       <span id="AddToCartText" data-otv-current-product-add-text>Add To Cart</span>
                </button>
      <a href="/products/firepit?variant=46280264014" class="btn btn-tight-outline sunlight-product-buttons-2" title="Shop Now"><span>Full Description</span> </a>
      </div>
    </div>
  </div>
  
  
    <div class="grid__item push--large--one-fifth large--three-fifths medium--one-whole small--one-whole preppack-footer-video medium--text-center small--text-center wow fadeIn" data-wow-delay="0.7s" >
    <div class="grid__item large--one-half medium--one-half small--one-whole ">
<div class='embed-container'><iframe src="https://www.youtube.com/embed/DiHTc7jBMh8?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>      
      
    </div>
    
    <div class="grid__item large--one-half medium--one-half small--one-whole preppack-footer-content">
     <span class="solarhome-box-callout-title primary medium--text-left small--text-center">Meet A Better Burger</span> 
      <span class="solarhome-box-callout-subtitle dark-grey medium--text-left small--text-center">Looking to try something new at the next game? We’ve got three burgers you can prep at home and fire up in the lot. </span> 
    </div>
    
  </div>
  
  
</section>
</div>
  

  
</div>
  </section>

<div class="clearfix"></div>



    
  {{ 'menuspy.js' | asset_url | script_tag }}

    <script>
    var elm = document.querySelector('#side-nav');
    var ms = new MenuSpy(elm);
  </script>
  
  
</div>
  </section>
</main>


<div id="tailgating-footer" class="landing-section-hero tailgating-footer text-center wow fadeIn">
  
  <div class="tailgating-footer-section wow fadeIn" data-wow-delay="0.2s">
    <span class="sunlight-title white wow text-center fadeIn" data-wow-delay="0.5s">Looking For More Tailgating Recs?</span> 
      <footer class="wow text-center fadeInDown" data-wow-delay="0.5s">
         <a href="/products#tailgating" class="btn btn-primary mt10" title="Shop Now">
                  <span>Shop The Tailgate Collection </span>
                </a>       
        
              </footer>
  </div>

  
 <div id="tailgate-video" class="hero-video__video-wrapper">
   <video autoplay="autoplay" class="hero-video__video" poster="https://s3-us-west-2.amazonaws.com/biolitewebsite/firepit-tailgating.files/html5video/FirePitTailgating_hero_cinemagraph.jpg" 
         title="BioLite FirePit" muted="mute" loop="loop" onended="var v=this;setTimeout(function(){v.play()},300)">
<source src="https://s3-us-west-2.amazonaws.com/biolitewebsite/firepit-tailgating.files/html5video/FirePitTailgating_hero_cinemagraph.m4v" type="video/mp4" />
<source src="https://s3-us-west-2.amazonaws.com/biolitewebsite/firepit-tailgating.files/html5video/FirePitTailgating_hero_cinemagraph.webm" type="video/webm" />
</video>
<script src="https://s3-us-west-2.amazonaws.com/biolitewebsite/firepit/FirePit_slowmo.files/html5video/html5ext.js" type="text/javascript"></script>
  </div>
  
</div>







<div class="clearfix"></div>
