 <script>new WOW().init();</script>
<script type="text/javascript" src="https://s3-us-west-2.amazonaws.com/biolitewebsite/misc/jquery.scrollify.js"></script>
 <script type="text/javascript">
       $(function() {
          $.scrollify({
            section : ".landing-section,.solarhome-hero-parallax,.solarhome-footer-parallax",
            standardScrollElements: "",
			interstitialSection:".no-scroll,.nav-wrap,.footer-default,.footer-social,.wrapper--full,.landing-section-mini",
            scrollSpeed: 900,
    		overflowScroll: false,
          });
        });
      </script>


<div class="solarhome-hero-parallax" data-section-name="this-is-solarhome-620" id="" data-speed="8">
     <div class="solarhome-hero-section medium--text-center small--text-center">
    <span class="shs-hero-header white wow fadeIn  medium--text-center small--text-center" data-wow-delay="0.6s">Turn Any Space Into An Electrified Home</span> 
    <span class="shs-hero-subheader white wow fadeIn  medium--text-center small--text-center" data-wow-delay="0.6s">This Is The BioLite SolarHome 620</span> 
      <footer class="shs-hero-cta wow fadeInDown  medium--text-center small--text-center" data-wow-delay="1.5s">
         <a href="#" data-control-modal="#hero-video--shs-video"  class="btn btn-white mr10" title="Shop Now">
                  <span>Watch The Video </span>
                </a>       
        <a href="#shopSolarHome-620" class="btn btn-outline-white " title="Shop Now">
                  <span>Shop SolarHome 620 </span>
                </a>
              </footer>
            <div id="hero-video-product" class="modal">
       
     <header class="modal__header">
    </header>
    <div id="hero-video--shs-video" class="modal">
   <header class="modal__header">
     <div class="modal--close">
       <i class="icomoon icon-close-circle modal-close-button"></i>
     </div>
   </header>
  <div class="modal__content modal__content--video">
                <iframe src="https://www.youtube.com/embed/say6ILpMZA8?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                </div> 
  </div>
  </div>
  </div>
  <div class="bouncy-comeinside wow fadeIn medium--text-center small--text-center " data-wow-delay="2s"><a href="#comeInside"><span class="come-inside-text">Come On Inside</span><i class="icomoon icon-downArrow downArrow"></i></a></div>
</div>



 <div class="landing-section go-inside-solarhome" data-section-name="go-inside-solarhome" id="comeInside">

   <div class="solarhome-overview wow shsOverviewBG" data-wow-delay="0.5s">
 
  <div class="solarhome-overview-illustration wow shsIllustration" data-wow-delay="0s">
<img class="" src="https://cdn.shopify.com/s/files/1/0666/9741/files/SHS620_house_outline-01.svg?479977929691695634">
  </div>
     
      <div class="solarhome-overview-illustration-fill wow shsIllustrationFill" data-wow-delay="0.5s">
<img class="" src="https://cdn.shopify.com/s/files/1/0666/9741/files/SHS620_house_fill-01.svg?479977929691695634">

  </div>
     
     <div class="solarhome-overview-quads-1 wow fadeIn" data-wow-delay="0.8s">
       <div class="grid__item large--one-sixth medium--one-sixth small--one-third"><img class="solarhome-overview-quads-product" src="https://cdn.shopify.com/s/files/1/0666/9741/files/SHS_components-04.svg?5527679996539652820"></div>
    <div class="grid__item large--five-sixths medium--five-sixths small--two-thirds solarhome-overview-quads-content">
       <i class="icomoon icon-number-01 solarhome-overview-numbering dark-gray"></i>
       <span class="solarhome-overview-quads-title primary">6W Solar Panel</span> 
        <span class="solarhome-overview-quads-desc dark-gray">Charge up system in a day of sun</span>
       </div>
       </div>
     
     <div class="solarhome-overview-quads-1 wow fadeIn" data-wow-delay="0.9s">
       <div class="grid__item large--one-sixth medium--one-sixth small--one-third"><img class="solarhome-overview-quads-product" src="https://cdn.shopify.com/s/files/1/0666/9741/files/SHS_components-01.svg?5527679996539652820"></div>
    <div class="grid__item large--five-sixths medium--five-sixths small--two-thirds solarhome-overview-quads-content">
       <i class="icomoon icon-number-02 solarhome-overview-numbering dark-gray"></i>
       <span class="solarhome-overview-quads-title primary">20Wh Control Box</span> 
        <span class="solarhome-overview-quads-desc dark-gray">Central hub of power, system feedback &amp; music</span>
       </div>
       </div>
     
     <div class="solarhome-overview-quads-1 wow fadeIn" data-wow-delay="1s">
       <div class="grid__item large--one-sixth medium--one-sixth small--one-third"><img class="solarhome-overview-quads-product" src="https://cdn.shopify.com/s/files/1/0666/9741/files/SHS_components-02.svg?5527679996539652820"></div>
    <div class="grid__item large--five-sixths medium--five-sixths small--two-thirds solarhome-overview-quads-content">
       <i class="icomoon icon-number-03 solarhome-overview-numbering dark-gray"></i>
       <span class="solarhome-overview-quads-title primary">100 Lm Hanging Lights x3</span> 
        <span class="solarhome-overview-quads-desc dark-gray">Daisy-chainable, each with its own switch</span>
       </div>
       </div>
     
     <div class="solarhome-overview-quads-1 wow fadeIn" data-wow-delay="1.1s">
       <div class="grid__item large--one-sixth medium--one-sixth small--one-third"><img class="solarhome-overview-quads-product" src="https://cdn.shopify.com/s/files/1/0666/9741/files/SHS_components-03.svg?5527679996539652820"></div>
    <div class="grid__item large--five-sixths medium--five-sixths small--two-thirds solarhome-overview-quads-content">
       <i class="icomoon icon-number-04 solarhome-overview-numbering dark-gray"></i>
       <span class="solarhome-overview-quads-title primary">Motion Light</span> 
        <span class="solarhome-overview-quads-desc dark-gray">Third hanging light includes optional motion sensor</span>
       </div>
       </div>
</div>
</div>
<div class="clearfix"></div>

<nav class="nav-horizontal nav-horizontal--products" data-sticky>
    <div class="sunlight-sticky-wrapper">
      <div class="grid__item grid__item--p0 nav-horizontal__title">
        <span class="shs-nav-top"><a href="#">Top<i class="icomoon icon-arrowThick2-01 shs-nav-top-icon"></i>
</a></span>
      </div>
      <div class="grid__item nav-horizontal__menu">

      </div>

        <div class="grid__item nav-horizontal__action">
          <a href="#shopSolarHome-620"
            class="btn btn-icon btn-icon--full btn-icon--right btn-darkorange btn-full ml0 mt0"
             title="Add to My Cart">
            <span style="font-weight:600;">Shop SolarHome 620</span>
             <i class=""></i>

          </a>
        </div>
    </div>
  </nav>
<div class="clearfix"></div>

 <div class="landing-section solarhome-panel-feature" data-section-name="solarpanel">
  <svg version="1.1" id="sun-clouds-solarhome" class="wow fadeIn" data-wow-delay="1s" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 2000 386.02" xml:space="preserve">
<path class="sunFill" fill="#fdb913" d="M81.27,46.69v-13a1.91,1.91,0,1,1,3.82,0v13a1.91,1.91,0,1,1-3.82,0Zm26.66,12.15a1.91,1.91,0,0,0,1.35-.56l9.18-9.17a1.91,1.91,0,1,0-2.7-2.71l-9.18,9.18a1.91,1.91,0,0,0,1.35,3.26Zm23.24,20.9h-13a1.91,1.91,0,0,0,0,3.82h13a1.91,1.91,0,1,0,0-3.82ZM109.28,105a1.91,1.91,0,0,0-2.7,2.7l9.18,9.17a1.91,1.91,0,1,0,2.7-2.7Zm-26.1,9.68a1.91,1.91,0,0,0-1.91,1.91v13a1.91,1.91,0,1,0,3.82,0v-13A1.92,1.92,0,0,0,83.18,114.71ZM57.07,105l-9.18,9.17a1.9,1.9,0,0,0,0,2.7,1.91,1.91,0,0,0,2.7,0l9.18-9.17a1.91,1.91,0,1,0-2.7-2.7Zm-7-23.38a1.91,1.91,0,0,0-1.91-1.91h-13a1.91,1.91,0,0,0,0,3.82h13A1.9,1.9,0,0,0,50.08,81.65Zm7-23.37a1.92,1.92,0,0,0,2.71,0,1.91,1.91,0,0,0,0-2.7L50.59,46.4a1.91,1.91,0,1,0-2.7,2.71Zm53,23.64A26.93,26.93,0,1,1,83.18,55,26.95,26.95,0,0,1,110.11,81.92Zm-3.83,0A23.11,23.11,0,1,0,83.18,105,23.11,23.11,0,0,0,106.28,81.92Z"/>
<path class="rayBottom_1 wow" fill="#fdb913" data-wow-delay="0s" d="M101.59,124.44a1.91,1.91,0,0,1-1.65-.94L96.7,118a1.91,1.91,0,0,1,3.29-1.94l3.24,5.48a1.91,1.91,0,0,1-.67,2.62A1.88,1.88,0,0,1,101.59,124.44Z"/>
<path class="rayBottom_2 wow" fill="#fdb913" data-wow-delay="0.2s" d="M118.72,153.39a1.91,1.91,0,0,1-1.65-.94l-5.71-9.65a1.91,1.91,0,0,1,3.29-1.94l5.71,9.65a1.9,1.9,0,0,1-1.64,2.88Z"/>
<path class="rayBottom_3 wow" fill="#fdb913" data-wow-delay="0.4s" d="M135.85,182.34a1.9,1.9,0,0,1-1.65-.94l-5.71-9.65a1.91,1.91,0,0,1,3.29-1.94l5.71,9.65a1.9,1.9,0,0,1-.67,2.61A1.92,1.92,0,0,1,135.85,182.34Z"/>
<path class="rayBottom_4 wow" fill="#fdb913" data-wow-delay="0.6s" d="M150.51,207.12a1.91,1.91,0,0,1-1.65-.94l-3.24-5.48a1.91,1.91,0,1,1,3.29-1.94l3.24,5.48a1.9,1.9,0,0,1-.67,2.61A1.92,1.92,0,0,1,150.51,207.12Z"/>
<path class="rayTop_1 wow" fill="#fdb913" data-wow-delay="0s" d="M122.67,99.61a1.94,1.94,0,0,1-.92-.24l-5.59-3.05A1.91,1.91,0,1,1,118,93l5.59,3a1.91,1.91,0,0,1-.92,3.59Z"/>
<path class="rayTop_2 wow" fill="#fdb913" data-wow-delay="0.2s" d="M154.57,117a1.91,1.91,0,0,1-.92-.24L143,111a1.91,1.91,0,0,1,1.83-3.36l10.63,5.81a1.91,1.91,0,0,1-.91,3.59Z"/>
<path class="rayTop_3 wow" fill="#fdb913" data-wow-delay="0.4s" d="M186.46,134.43a1.88,1.88,0,0,1-.91-.24l-10.63-5.8a1.91,1.91,0,0,1,1.83-3.36l10.63,5.81a1.91,1.91,0,0,1-.92,3.59Z"/>
<path class="rayTop_4 wow" fill="#fdb913" data-wow-delay="0.6s" d="M213.32,149.08a1.93,1.93,0,0,1-.92-.23l-5.59-3a1.91,1.91,0,0,1,1.83-3.36l5.6,3.05a1.91,1.91,0,0,1-.92,3.59Z"/>
</svg>  
    
    <div class="solarhome-panel-copy wow fadeIn" data-wow-delay=".6s">
      <span class="sunlight-title dark-gray">Power Up</span> 
        <span class="sunlight-description dark-gray">Easy to install 6 watt panel sets up in minutes and charges system to full in 7 hours of direct sun.</span>
    </div>
    
</div>

 <div class="landing-section solarhome-box-feature" data-section-name="control-box">
    <div class="solarhome-box-main">
      <span class="sunlight-title white text-center">Control Your Energy</span> 
        <span class="sunlight-description white text-center">Use the sun for light, charging, or entertainment</span>
    </div>
   
    <div class="solarhome-box-callout-light wow fadeInLeft" data-wow-delay="0.2s">
      <!--<i class="icomoon icon-powerlight   solarhome-box-callout-icon white hide-on-mobile"></i>-->
      <span class="solarhome-box-callout-title white">See More</span> 
      <span class="solarhome-box-callout-subtitle white">100 lumens wall light with lo-med-hi brightness for sconce-like lighting</span> 
    </div>
    <div class="solarhome-box-callout-radio wow fadeInLeft" data-wow-delay="0.4s">
      <!--<i class="icomoon icon-play-music-01  solarhome-box-callout-icon white hide-on-mobile"></i>-->
      <span class="solarhome-box-callout-title white">Play Radio &amp; MP3s</span> 
      <span class="solarhome-box-callout-subtitle white">Access FM radio with built-in antenna or store songs on micro SD for your own playlist</span> 
    </div>
   <div class="solarhome-box-callout-lcd wow fadeInRight" data-wow-delay="0.6s">
      <!--<i class="icomoon icon-monitor-sun-01  solarhome-box-callout-icon white hide-on-mobile"></i>-->
      <span class="solarhome-box-callout-title white">Get Feedback</span> 
      <span class="solarhome-box-callout-subtitle white">Monitor your sun intake, power available, and control your tunes with LCD display</span> 
    </div>
    <div class="solarhome-box-callout-usb wow fadeInRight" data-wow-delay="0.8s">
      <!--<i class="icomoon icon-2-USB  solarhome-box-callout-icon white hide-on-mobile"></i>-->
      <span class="solarhome-box-callout-title white">Charge Gear</span> 
      <span class="solarhome-box-callout-subtitle white">2 USB ports for filling up phones, powerbanks, and other gear</span> 
    </div>
   
    <div class="solarhome-box-interactive">
     <img class="solarhome-box" src="https://cdn.shopify.com/s/files/1/0666/9741/files/ControlBox_r3.png?867431411908940666" alt="" title="" />
      <div class="solarhome-box-glow-hover"><img class="solarhome-box-glow" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Glow.png?17842027570040195710" alt="" title="" /></div>
     <div class="solarhome-box-usb-hover"><img class="solarhome-box-usb" src="https://cdn.shopify.com/s/files/1/0666/9741/files/2USB_ports-01.svg?10895427927254275041" alt="" title="" /></div>
      <div class="solarhome-box-lcd-hover"><img class="solarhome-box-glow" src="https://cdn.shopify.com/s/files/1/0666/9741/files/LCD_display_gif.gif?14408631686863670404" alt="" title="" /></div>
     <div class="solarhome-box-radio-hover">
 <svg version="1.1" id="" class="solarhome-box-glow" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1400 1326" xml:space="preserve">
<path class="musicNote_1 wow" data-wow-delay="0s" d="M355.2,673.8a2,2,0,0,0-1.07-.1l-41.7,8a1.94,1.94,0,0,0-1.57,1.9v53.93l-.26-.19a13.41,13.41,0,0,0-8.34-2.08c-6.5.46-11.48,5.13-11.1,10.42a8.79,8.79,0,0,0,4.08,6.69,13,13,0,0,0,7.3,2.11h1c6.43-.45,11.36-5,11.11-10.25v-59l38.45-7.4v54.93a13.28,13.28,0,0,0-8.56-2.28c-6.5.45-11.5,5.13-11.11,10.42a8.79,8.79,0,0,0,4.12,6.69,13,13,0,0,0,7.3,2.11h1c6.46-.49,11.4-5.08,11.19-10.3V675.72A1.92,1.92,0,0,0,355.2,673.8Zm-51.9,76.79a9.41,9.41,0,0,1-5.91-1.43,5,5,0,0,1-2.42-3.75c-.22-3.16,3.15-6,7.52-6.29h.77a9.25,9.25,0,0,1,5.14,1.46,5,5,0,0,1,2.42,3.75C311,747.46,307.67,750.28,303.3,750.59Zm42.32-4.8h0a9.41,9.41,0,0,1-5.91-1.43,5,5,0,0,1-2.41-3.75c-.22-3.16,3.15-6,7.52-6.29h.77c4,0,7.35,2.23,7.55,5.21S350,745.48,345.62,745.79Z" style="fill:#fff"/>
<path class="musicNote_2 wow" data-wow-delay="0.3s" d="M276,672.67a1.93,1.93,0,0,0-1.94,1.93v34.09a12,12,0,0,0-13.91,1.14,7.73,7.73,0,0,0-2.75,6.33c.31,4.39,4.69,7.72,10,7.72h.89a11.53,11.53,0,0,0,6.91-2.8,7.69,7.69,0,0,0,2.73-6.19V674.6A1.92,1.92,0,0,0,276,672.67ZM274.08,715a4,4,0,0,1-1.48,3.18A7.63,7.63,0,0,1,268,720c-3.48.24-6.55-1.63-6.72-4.1a4,4,0,0,1,1.48-3.18,7.7,7.7,0,0,1,4.61-1.82H268a7.6,7.6,0,0,1,4.18,1.18,4,4,0,0,1,1.91,2.94Z" style="fill:#fff"/>
<path class="musicNote_3 wow" data-wow-delay="0.6s"  d="M328.44,611.79a1.93,1.93,0,0,0-1.94,1.93v34.09A12,12,0,0,0,312.59,649a7.72,7.72,0,0,0-2.75,6.33c.31,4.39,4.69,7.72,10,7.72h.89a11.53,11.53,0,0,0,6.91-2.8,7.75,7.75,0,0,0,2.73-6.19V613.72A1.93,1.93,0,0,0,328.44,611.79Zm-1.93,42.32a4,4,0,0,1-1.48,3.18,7.65,7.65,0,0,1-4.6,1.82c-3.48.24-6.55-1.63-6.72-4.1a4,4,0,0,1,1.48-3.18A7.68,7.68,0,0,1,319.8,650h.63a7.46,7.46,0,0,1,4.18,1.18,4,4,0,0,1,1.91,2.94Z" style="fill:#fff"/>
</svg>

</div>



   </div>
</div>

 <div class="landing-section solarhome-lights-feature" data-section-name="hanging-lights">
    
           <div class="landing-section-wrapper">
   <div class="vertical-center medium--positionreset small--positionreset medium--text-center small--text-center hanging-lights-text">
  <span class="hanging-lights-title primary medium--text-center small--text-center wow fadeInLeft">Define Space With Lighting</span> 
         <div class="sunlight-icon-feature-list small--positionreset">
          <span class="white sunlight-icon-feature no-border-mobile  medium--text-center small--text-center sunlight-description wow fadeInLeft" data-wow-delay="0.2s" style="border-bottom: 1px dotted #3c3c3c;">
            <img class="sunlight-icon-feature-icon" src="https://cdn.shopify.com/s/files/1/0666/9741/files/SHS_landingPage_icon-02.svg?5413157446913353775"/>Overhead 100 lumen lights won't cast harsh shadows</span>
          <span class="white sunlight-icon-feature no-border-mobile medium--text-center  small--text-center sunlight-description wow fadeInLeft" data-wow-delay="0.3s" style="border-bottom: 1px dotted #3c3c3c;">
            <img class="sunlight-icon-feature-icon" src="https://cdn.shopify.com/s/files/1/0666/9741/files/SHS_landingPage_icon-01.svg?5413157446913353775"/>18 ft of cord per light for multi-room chaining</span> 
           <span class="white sunlight-icon-feature no-border-mobile  medium--text-center small--text-center sunlight-description wow fadeInLeft" data-wow-delay="0.4s" style="border-bottom: 1px dotted #3c3c3c;">
             <img class="sunlight-icon-feature-icon" src="https://cdn.shopify.com/s/files/1/0666/9741/files/SHS_landingPage_icon-03.svg?5413157446913353775"/>Individual switches access LO-MED-HI brightness for each light</span> 
               <span class="white sunlight-icon-feature no-border-mobile  medium--text-center small--text-center sunlight-description wow fadeInLeft" data-wow-delay="0.5s" style="border-bottom: 0px solid #3c3c3c;">
             <img class="sunlight-icon-feature-icon wow wobble" data-wow-delay="3.0s" src="https://cdn.shopify.com/s/files/1/0666/9741/files/SHS_landingPage_icon-04.svg?5413157446913353775"/>
                 Optional motion sensor provides quick burst for pathways or added security</span> 
         </div>
     </div>
             
             
      <div class="solarhome-hanginglights-interactive">
     <img class="solarhome-lights-main" src="https://cdn.shopify.com/s/files/1/0666/9741/files/HangingLights_r2.png?4708978596526416642" alt="" title="SolarHome 620 Hanging Lights" />
    <img class="solarhome-lights-glow-right wow fadeIn" data-wow-delay="0.5s" src="https://cdn.shopify.com/s/files/1/0666/9741/files/rightLight_glow_r2.png?4708978596526416642" alt="" title="" />
    <img class="solarhome-lights-glow-left wow fadeIn" data-wow-delay="0.8s" src="https://cdn.shopify.com/s/files/1/0666/9741/files/leftLight_glow_r2.png?4708978596526416642" alt="" title="" />
    <img class="solarhome-lights-glow-motion wow fadeIn" data-wow-delay="4s" src="https://cdn.shopify.com/s/files/1/0666/9741/files/motionLight_glow_r2.png?4708978596526416642" alt="" title="" />

   </div>        
             
   </div> 

</div>

<div class="landing-section solarhome-perfect-for-section text-center" data-section-name="use-it-for">
<div class="shs-spec-bloc bg--primary wow fadeInUp" data-wow-delay="0s">
  <span class="solarhome-perfect-for-main white">Easy Setup. <span class="desktop-break">Flexible Design.</span></span>
  <span class="solarhome-perfect-for-sub white">Unpack and power up in minutes – where will you take yours? <span class="hide-on-mobile"><br><br>Hover to see our favorite tips</span></span>
  </div>
  <div class="shs-spec-bloc wow fadeInUp" data-wow-delay="0.2s">
     <img class="sunlight-spec-illustration" src="https://cdn.shopify.com/s/files/1/0666/9741/files/PerfectFor_illustrations_r3-02.svg?6414490913744402940" alt="SolarHome 620 - Emergency" title="SolarHome 620 - Emergency" />
     <span class="solarhome-perfect-for-title primary">Emergency</span>
         <span class="solarhome-perfect-for-desc">Keep it under your sink at the ready for the next power outage.</span>

  </div>
 
  
   <div class="shs-spec-bloc wow fadeInUp" data-wow-delay="0.4s">
     <img class="sunlight-spec-illustration" src="https://cdn.shopify.com/s/files/1/0666/9741/files/PerfectFor_illustrations_r3-03.svg?6414490913744402940" alt="SolarHome 620 - Cabin" title="SolarHome 620 - Cabin" />
     <span class="solarhome-perfect-for-title primary">Cabin</span>
    <span class="solarhome-perfect-for-desc">Step away from the gas lamp and bring renewable light to your evenings.</span>
  </div>
 
  
   <div class="shs-spec-bloc wow fadeInUp" data-wow-delay="0.6s">
     <img class="sunlight-spec-illustration" src="https://cdn.shopify.com/s/files/1/0666/9741/files/PerfectFor_illustrations_r3-01.svg?6414490913744402940" alt="SolarHome 620 - Van" title="SolarHome 620 - Van" />
     <span class="solarhome-perfect-for-title primary">Van</span>
    <span class="solarhome-perfect-for-desc">Get your light and power without a massive solar buildout. </span>
  </div>
 
  
   <div class="shs-spec-bloc wow fadeInUp" data-wow-delay="0.8s">
     <img class="sunlight-spec-illustration" src="https://cdn.shopify.com/s/files/1/0666/9741/files/PerfectFor_illustrations_r3-04.svg?6414490913744402940" alt="SolarHome 620 - Shed" title="SolarHome 620 - Shed" />
     <span class="solarhome-perfect-for-title primary">Shed</span>
    <span class="solarhome-perfect-for-desc">No need to wire powerlines to your workstation in the backyard.</span>
  </div>
 
  
   <div class="shs-spec-bloc wow fadeInUp" data-wow-delay="1s">
     <img class="sunlight-spec-illustration" src="https://cdn.shopify.com/s/files/1/0666/9741/files/PerfectFor_illustrations_r3-05.svg?6414490913744402940" alt="SolarHome 620 - Tree House" title="SolarHome 620 - Tree House" />
     <span class="solarhome-perfect-for-title primary">Tree House</span>
    <span class="solarhome-perfect-for-desc">So easy a ten-year-old can set it up in just a few minutes.</span>
  </div>
 

 
  
</div>

<div class="landing-section" style="background-color:#000;" data-section-name="solarhome-images">
    <div class="grid__item shs-slideshow wow fadeIn">
       <span class="sunlight-title white">See SolarHome 620 In Action</span> 
    <span class="sunlight-description white"><i class="icomoon icon-location3 sunlight-location-icon"></i>Big Island, Hawaii</span> 
    </div>  
  
  <div id="Glide" class="glide wow fadeIn" data-wow-delay="0.5s">
<div class="glide__arrows">
        <button class="glide__arrow prev" data-glide-dir="<"><i class="icomoon icon-leftArrowFilled slideshow-arrow-icon"></i></button>
        <button class="glide__arrow next" data-glide-dir=">"><i class="icomoon icon-rightArrowFilled slideshow-arrow-icon"></i></button>
    </div>  
   <div class="glide__wrapper">
        <ul class="glide__track">
          
<li class="glide__slide "><img class="shs-slideshow-1" src="https://cdn.shopify.com/s/files/1/0666/9741/files/SolarHome620_lifestyle_5.jpg?7520650891426216966" alt="BioLite SolarHome 620 in Hawaii" title="BioLite SolarHome 620 in Hawaii" /></li>
<li class="glide__slide"><img class="sunlight-slideshow-2" src="https://cdn.shopify.com/s/files/1/0666/9741/files/SolarHome620_lifestyle_1.jpg?7520650891426216966" alt="BioLite SolarHome 620 in Hawaii" title="BioLite SolarHome 620 in Hawaii" /></li>
<li class="glide__slide"><img class="shs-slideshow-3" src="https://cdn.shopify.com/s/files/1/0666/9741/files/SolarHome620_lifestyle_6.jpg?7520650891426216966" alt="BioLite SolarHome 620 in Hawaii" title="BioLite SolarHome 620 in Hawaii" /></li>
<li class="glide__slide"><img class="sunlight-slideshow-4" src="https://cdn.shopify.com/s/files/1/0666/9741/files/SolarHome620_lifestyle_3.jpg?7520650891426216966" alt="BioLite SolarHome 620 in Hawaii" title="BioLite SolarHome 620 in Hawaii" /></li>
<li class="glide__slide"><img class="sunlight-slideshow-5" src="https://cdn.shopify.com/s/files/1/0666/9741/files/SHS_slideshow_7.jpg?7520650891426216966" alt="BioLite SolarHome 620 in Hawaii" title="BioLite SolarHome 620 in Hawaii" /></li>
<li class="glide__slide"><img class="sunlight-slideshow-6" src="https://cdn.shopify.com/s/files/1/0666/9741/files/SolarHome620_lifestyle_4.jpg?7520650891426216966" alt="BioLite SolarHome 620 in Hawaii" title="BioLite SolarHome 620 in Hawaii" /></li>

 </ul>
    </div>
       <div class="glide__bullets"></div>
   
   </div>
<script>
    $("#Glide").glide({
        type: "carousel"
    });
</script>
  
</div>

<div class="landing-section" style="background-color:#f3f3f3;" data-section-name="shop-solarhome" id="shopSolarHome-620">
   <div class="solarhome-buy">
  <div class="product-grid-item-padder">
    <div class="product-grid-item__inner">
      <a href="/products/solarhome-620" title="SolarHome 620">
        <img class="solarhome-buy-main" src="https://s3-us-west-2.amazonaws.com/biolitewebsite/shop-product-images/SolarHome620_shop.png" alt="" title="SolarHome 620" />
      </a>
          </div>
    <footer class="product-grid-item__footer">
    
      <a href="/products/solarhome-620" title="SolarHome 620">
        <h5 class="product-grid-item__title">SolarHome 620</h5>
      </a>
      <div class="price-and-cart-add">
     <span id="ProductPrice" class="product-grid-item__price h5">$149.95</span>
      </div>
    </footer>
    <div class="sunlight-product-buttons">
       <button type="submit" name="add" id="" class="btn-tight cart-item--add shs-product-buttons-1" data-product-variant="190823858190" data-otv-current-product-add>
       <span id="AddToCartText" data-otv-current-product-add-text>Add To Cart</span>
                </button>
      <a href="/products/solarhome-620" class="btn btn-tight-outline shs-product-buttons-2 ml10" title="Shop Now"><span>Full Description</span> </a>
      </div>
    </div>
  </div>
  
     <div class="solarhome-packaging">
       <span class="solarhome-packaging-title hide-on-mobile">Light. Charging. Music. <br>All in the size of a shoebox.</span>

  </div>

  
</div>

<div class="clearfix"></div>

<div class="solarhome-footer-parallax" data-section-name="global-impact" id="" data-speed="8" data-type="background">
     <div class="solarhome-footer-section">
    <span class="shs-hero-header white">Global Impact</span> 
    <span class="shs-hero-subheader white">Currently in use across 40,000 homes in western Kenya, SolarHome 620 is BioLite’s first crossover product – we’re all using the same gear.</span> 
     
  </div>
</div>





