<section class="hero hero--empty">
  <div class="wrapper">
    <h1 class="title-blog-single text-center">BaseLantern Safety Information</h1>
    <footer>
      <h6 class="light gray-light text-center"><i class="fa fa-calendar mr5"></i> November 30, 2016</h6>
    </footer>
  </div>
</section>

<section class="section">
  <div class="blog-main">
  <div class="wrapper">
    <div class="two-thirds blog-main text-center">
      <img src="//cdn.shopify.com/s/files/1/0666/9741/products/BaseLantern_4_large.jpg?v=1465646310" class="text-center" style="margin:0 auto;" alt="BaseLantern" title="BaseLantern">
      <h4 class="text-center" style="color:#fd0202;">Important safety notice for Kickstarter backers</h4>
    </div>

<div class="two-thirds blog-main">

      <div class="two-thirds ">
    <p>BioLite has issued a voluntary recall for all Kickstarter units due to a safety 
hazard with the battery recharging system. Please read on for the full
      recall notice and information on next steps for BaseLantern backers:</p>
  
  <div class="two-thirds mt40 mb40 ">
    <iframe src="https://cdn.shopify.com/s/files/1/0666/9741/files/BioLite_Recall_Alert.pdf?16941619772071229603" width="100%" height="940">
    </iframe></div>
  
  <p>If you have been affected by this recall and would like additional support
through the return process, please email us at the specially designated
    <a href="mailto:baselantern@bioliteenergy.com">BaseLantern@bioliteenergy.com</a> and a member of the BioLite Team will
    be happy to assist you in providing the information you need.</p>

<p>Safety is our top priority here at BioLite and we appreciate the support
  and patience of our community as we work quickly to rectify this situation.</p>

<p>To those with units in their posession: upgraded replacements are underway
and we aim to have those back out into the community by the holiday season.
Please return your unit back to BioLite with the provided mailing label so we
  can process your replacement quickly. </p>

  <p>Thank you.</p>

      </div>
    </div>
    </div>
  </div>
</section>
    