 <script>new WOW().init();</script>

<script type="text/javascript">

jQuery(document).ready(function( $ ) {
    $('.remodal-close').click(function() {
		var watchAllPlay = $("#watchAllPlay iframe").attr("src");
		$("#watchAllPlay iframe").attr("src","");
		$("#watchAllPlay iframe").attr("src",watchAllPlay);
      
      var watchIPlay = $("#watchIPlay iframe").attr("src");
		$("#watchIPlay iframe").attr("src","");
		$("#watchIPlay iframe").attr("src",watchIPlay);
      
      var watchIIPlay = $("#watchIIPlay iframe").attr("src");
		$("#watchIIPlay iframe").attr("src","");
		$("#watchIIPlay iframe").attr("src",watchIIPlay);
      
      var watchIIIPlay = $("#watchIIIPlay iframe").attr("src");
		$("#watchIIIPlay iframe").attr("src","");
		$("#watchIIIPlay iframe").attr("src",watchIIIPlay);

    });
$('.remodal-background').click(function() {
		var watchAllPlay = $("#watchAllPlay iframe").attr("src");
		$("#watchAllPlay iframe").attr("src","");
		$("#watchAllPlay iframe").attr("src",watchAllPlay);

    });
});

</script>



<main>
  
<section id="watch-the-series">
<div id="ctw-hero" class="landing-section ctw-hero text-center">
  

  <div class="ctw-clouds"><img src="https://cdn.shopify.com/s/files/1/0666/9741/files/CTW_clouds.png?17797305266329716244"></div>
  
 <div class="ctw-intro">
       <div class="ctw-logo-animation-wrapper wow fadeIn" data-wow-delay="0.5s">  
<svg version="1.1" id="ctw-logo-animation" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 536 99" xml:space="preserve">
<path d="M27.14,51.07a3.82,3.82,0,1,1-3.82-3.71A3.76,3.76,0,0,1,27.14,51.07Z" style="fill:#b4b4b4"/>
<path d="M51.91,51.07a3.82,3.82,0,1,1-3.82-3.71A3.76,3.76,0,0,1,51.91,51.07Z" style="fill:#b4b4b4"/>
<path  d="M76.68,51.07a3.82,3.82,0,1,1-3.82-3.71A3.76,3.76,0,0,1,76.68,51.07Z" style="fill:#b4b4b4"/>

<path d="M124.48,34.91c-8.78,0-15.92,6.84-15.92,15.26s7.14,15.27,15.92,15.27,15.91-6.85,15.91-15.27S133.25,34.91,124.48,34.91Zm0,27.84c-7.25,0-13.15-5.64-13.15-12.58s5.9-12.58,13.15-12.58,13.14,5.65,13.14,12.58S131.72,62.75,124.48,62.75Zm-1.39-30.94V24.15a1.39,1.39,0,0,1,2.77,0v7.66a1.39,1.39,0,0,1-2.77,0Zm-18.79.91a1.31,1.31,0,0,1,0-1.9,1.43,1.43,0,0,1,2,0l5.65,5.42a1.32,1.32,0,0,1,0,1.9,1.41,1.41,0,0,1-1,.4,1.45,1.45,0,0,1-1-.38Zm1,18.8h-8a1.35,1.35,0,1,1,0-2.69h8a1.35,1.35,0,1,1,0,2.69Zm6.6,10.69a1.32,1.32,0,0,1,0,1.9l-5.65,5.42a1.4,1.4,0,0,1-1,.39,1.38,1.38,0,0,1-1-.4,1.31,1.31,0,0,1,0-1.9L110,62.2A1.43,1.43,0,0,1,111.92,62.21Zm13.94,6.32V76.2a1.39,1.39,0,0,1-2.77,0V68.53a1.39,1.39,0,0,1,2.77,0Zm18.79-.91a1.31,1.31,0,0,1,0,1.9,1.41,1.41,0,0,1-2,0l-5.65-5.42a1.32,1.32,0,0,1,0-1.9,1.43,1.43,0,0,1,2,0ZM153,50.17a1.37,1.37,0,0,1-1.39,1.35h-8a1.35,1.35,0,1,1,0-2.69h8A1.36,1.36,0,0,1,153,50.17Zm-16-12a1.32,1.32,0,0,1,0-1.9l5.65-5.42a1.43,1.43,0,0,1,2,0,1.31,1.31,0,0,1,0,1.9L139,38.15a1.45,1.45,0,0,1-1,.38A1.41,1.41,0,0,1,137,38.13Z" style="fill:#b4b4b4"/>

<path d="M180.94,51.07a3.82,3.82,0,1,1-3.82-3.71A3.76,3.76,0,0,1,180.94,51.07Z" style="fill:#b4b4b4"/>
<path d="M205.71,51.07a3.82,3.82,0,1,1-3.82-3.71A3.76,3.76,0,0,1,205.71,51.07Z" style="fill:#b4b4b4"/>
<path  d="M230.49,51.07a3.83,3.83,0,1,1-3.83-3.71A3.77,3.77,0,0,1,230.49,51.07Z" style="fill:#b4b4b4"/>

<path d="M276.54,66.24l-1.35,2.54a.69.69,0,0,1-.62.37.78.78,0,0,1-.33-.07.67.67,0,0,1-.3-.92l1.35-2.54a.72.72,0,0,1,.95-.3A.67.67,0,0,1,276.54,66.24ZM289.8,39.82a.77.77,0,0,0,.32.07.7.7,0,0,0,.63-.37l1.17-2.19a.67.67,0,0,0-.3-.92.72.72,0,0,0-.95.29l-1.17,2.2A.67.67,0,0,0,289.8,39.82ZM288,41.65l-1.17,2.2a.66.66,0,0,0,.3.91.79.79,0,0,0,.32.08.71.71,0,0,0,.63-.37l1.17-2.2a.66.66,0,0,0-.3-.91A.7.7,0,0,0,288,41.65Zm1.71-9.36a.68.68,0,0,0-.45-.86,10.43,10.43,0,0,1-1.48-.6,10,10,0,0,1-1.35-.79.72.72,0,0,0-1,.15.67.67,0,0,0,.16.95,11.59,11.59,0,0,0,1.53.9,13.49,13.49,0,0,0,1.68.69.83.83,0,0,0,.22,0A.7.7,0,0,0,289.75,32.29Zm-7-4.73a.71.71,0,0,0,.68.53l.16,0a.68.68,0,0,0,.53-.82,1.18,1.18,0,0,1,.07-.86h0a1.18,1.18,0,0,1,.25-.3l0,0a2.93,2.93,0,0,1,1.74-.43.65.65,0,0,0,.45-.18.73.73,0,0,0,.44.25,9.07,9.07,0,0,1,2.26.64.8.8,0,0,0,.15,0,.5.5,0,0,0,.12.08l.38.18a9.88,9.88,0,0,1,2,1.29,6,6,0,0,1,1.39,1.59.72.72,0,0,0,.62.35.84.84,0,0,0,.34-.08.69.69,0,0,0,.28-.93,7.47,7.47,0,0,0-1.64-1.9l0,0,0,0-.11-.1-.07,0a12.21,12.21,0,0,0-2.09-1.33l-.43-.2a.53.53,0,0,0-.16,0,1.1,1.1,0,0,0-.14-.09,10.54,10.54,0,0,0-2.62-.74.68.68,0,0,0-.57.18.71.71,0,0,0-.55-.26,4.33,4.33,0,0,0-2.47.64h0a4.32,4.32,0,0,0-.39.34l-.08.09a2.47,2.47,0,0,0-.3.42h0l-.25.46a.66.66,0,0,0,0,.58A2.8,2.8,0,0,0,282.78,27.56ZM273.22,71a.69.69,0,0,0-.93.32,2.09,2.09,0,0,1-.14.17,1,1,0,0,1-.16.19l-.18.12a2.87,2.87,0,0,1-1.49.38.68.68,0,0,0-.69.68.69.69,0,0,0,.7.68h0a4.64,4.64,0,0,0,1.82-.38h.07l0,0h0a2.51,2.51,0,0,0,.68-.45l0,0a2.26,2.26,0,0,0,.46-.57l0,0a.06.06,0,0,0,0,0,.35.35,0,0,0,.05-.08A.66.66,0,0,0,273.22,71Zm-5.17-15a.69.69,0,0,0,.62-.37l1.17-2.19a.67.67,0,0,0-.3-.92.72.72,0,0,0-1,.29L267.42,55a.68.68,0,0,0,.31.92A.71.71,0,0,0,268.05,56Zm-2.95,4.87a.71.71,0,0,0,.32.07.69.69,0,0,0,.62-.37l1.17-2.19a.67.67,0,0,0-.3-.92.72.72,0,0,0-1,.29l-1.16,2.2A.67.67,0,0,0,265.1,60.86ZM269,72a9.39,9.39,0,0,1-2.12-.77l-.37-.18a12.45,12.45,0,0,1-1.74-1.14.66.66,0,0,0-.27-.12.62.62,0,0,0-.17-.25,5.6,5.6,0,0,1-1.37-1.72.81.81,0,0,0-.12-.18.71.71,0,0,0,0-.2,1.21,1.21,0,0,1,.06-.85.63.63,0,0,0-.07-.71h0a.7.7,0,0,0,.63-.37l1.17-2.19a.68.68,0,0,0-.31-.92.71.71,0,0,0-.94.29l-1.17,2.2a.65.65,0,0,0,.07.72.71.71,0,0,0-.65.36,2.48,2.48,0,0,0-.17,1.81.74.74,0,0,0,.16.27.84.84,0,0,0,.05.31,7.09,7.09,0,0,0,1.7,2.18.78.78,0,0,0,.32.15.73.73,0,0,0,.19.28,14.56,14.56,0,0,0,2,1.27l.28.14,0,0,.09,0,.29.14.08,0a10.37,10.37,0,0,0,2.09.72.39.39,0,0,0,.15,0,.71.71,0,0,0,.69-.53A.68.68,0,0,0,269,72Zm11.13-39.32a.72.72,0,0,0,.32.08.71.71,0,0,0,.62-.37l1.41-2.66a.66.66,0,0,0-.3-.91.71.71,0,0,0-.95.29l-1.41,2.65A.68.68,0,0,0,280.09,32.67Zm14.39-2.79a.7.7,0,0,0-.7.69,1,1,0,0,1-.11.49,1.32,1.32,0,0,1-.69.56.68.68,0,0,0-.38.89.8.8,0,0,0,.18.23L292.13,34a.66.66,0,0,0,.3.91.79.79,0,0,0,.32.08.72.72,0,0,0,.63-.37l1.17-2.2a.83.83,0,0,0,0-.15l.08-.08.25-.46h0a2.38,2.38,0,0,0,.27-1.12.71.71,0,0,0-.71-.68Zm2.12,37.55c-.47,1.72-2.08,3.4-4.41,4.6a11.23,11.23,0,0,1-5,1.4,3.74,3.74,0,0,1-3.4-1.56l-5.43-9-.11.2a.69.69,0,0,1-.62.37.61.61,0,0,1-.32-.08.67.67,0,0,1-.31-.91l.52-1-6.39-10.6a.7.7,0,0,1-.43.17.61.61,0,0,1-.32-.08.66.66,0,0,1-.3-.91l.25-.49L260.22,32.82a3.07,3.07,0,0,1-.28-2.45,8.73,8.73,0,0,1,4.33-4.73c3.57-2,7.2-1.94,8.46.14l5.48,9.07a.7.7,0,0,1,.75-.07.68.68,0,0,1,.31.92l-.26.48,6.34,10.52,0-.1a.72.72,0,0,1,1-.29.67.67,0,0,1,.3.92l-.46.86,10.1,16.73A3.19,3.19,0,0,1,296.6,67.43ZM267.45,30.9a6.58,6.58,0,0,0,3.18-3.27.91.91,0,0,0,0-.65c-.16-.26-.64-.42-1.32-.42a8.12,8.12,0,0,0-3.79,1.14A6.59,6.59,0,0,0,262.32,31a.88.88,0,0,0,0,.64C262.73,32.26,265,32.3,267.45,30.9ZM287.63,71l-3.71-6.6a4.07,4.07,0,0,0-1.73-1.63L280.68,62l5.21,8.64C286.07,71,286.71,71.12,287.63,71Zm6.55-5-21.89-36.3a9.33,9.33,0,0,1-2,2.14l3.84,6.81a.68.68,0,0,1-.28.93.81.81,0,0,1-.34.08.71.71,0,0,1-.62-.36l-3.75-6.67-.45.27A10.62,10.62,0,0,1,264,34.4l2.62,4.35.42-.22a3,3,0,0,1,4,1.13l4.22,7.5a.67.67,0,0,1-.28.92.68.68,0,0,1-.34.08.7.7,0,0,1-.62-.35l-4.22-7.49a1.53,1.53,0,0,0-2-.59l-.38.2,12,19.91,3.48,1.74a5.43,5.43,0,0,1,2.31,2.19l3.92,6.95a11.24,11.24,0,0,0,2-.79c.28-.15.53-.3.77-.45l-6.57-10.55a8.69,8.69,0,0,1-1.34-4.39.7.7,0,0,1,1.4,0,7.35,7.35,0,0,0,1.14,3.72l6.49,10.42a4.16,4.16,0,0,0,1.3-1.82A.91.91,0,0,0,294.18,66.06Z" style="fill:#b4b4b4"/>

<path d="M331.65,51.07a3.83,3.83,0,1,1-3.82-3.71A3.76,3.76,0,0,1,331.65,51.07Z" style="fill:#b4b4b4"/>
<path d="M356.42,51.07a3.83,3.83,0,1,1-3.82-3.71A3.76,3.76,0,0,1,356.42,51.07Z" style="fill:#b4b4b4"/>
<path  d="M381.19,51.07a3.83,3.83,0,1,1-3.82-3.71A3.76,3.76,0,0,1,381.19,51.07Z" style="fill:#b4b4b4"/>

<path d="M435.51,65.91V32.59l-.09-3.05a8.45,8.45,0,0,0-1.81-5,8.35,8.35,0,0,0-5.3-3,58.55,58.55,0,0,0-5.89-.37H419a58.56,58.56,0,0,0-5.86.37,8.29,8.29,0,0,0-7.11,8l-.1,3.16V65.87a16,16,0,0,0,.62,5.15,8.28,8.28,0,0,0,4.19,4.37,11.49,11.49,0,0,0,4.47,1.06c1.37.09,4.64.09,4.78.09h1.48c.14,0,3.41,0,4.78-.09a10.8,10.8,0,0,0,4.5-1.07A8.59,8.59,0,0,0,434.89,71,15.56,15.56,0,0,0,435.51,65.91Zm-3.06,4.16a6,6,0,0,1-2.85,3,8.43,8.43,0,0,1-3.54.83c-1.28.08-4.57.08-4.6.08H420s-3.33,0-4.61-.08a9.07,9.07,0,0,1-3.58-.85,5.64,5.64,0,0,1-2.8-3,13.61,13.61,0,0,1-.44-4.16V32.67l.1-3.18a6,6,0,0,1,1.25-3.4A5.74,5.74,0,0,1,413.61,24a54,54,0,0,1,5.41-.33h3.37a54.41,54.41,0,0,1,5.44.33,5.75,5.75,0,0,1,3.7,2.08,6,6,0,0,1,1.26,3.46l.09,3.08V65.94A13.21,13.21,0,0,1,432.45,70.07ZM415.36,50.31h10.38a3.53,3.53,0,0,0,3.57-3.47V31.35a3.52,3.52,0,0,0-3.57-3.46H415.36a3.52,3.52,0,0,0-3.57,3.46V46.84A3.53,3.53,0,0,0,415.36,50.31Zm-2.48-19a2.45,2.45,0,0,1,2.48-2.41h10.38a2.45,2.45,0,0,1,2.49,2.41V46.84a2.45,2.45,0,0,1-2.49,2.41H415.36a2.45,2.45,0,0,1-2.48-2.41Zm17.19,26.41a.54.54,0,0,0,.54-.53.53.53,0,0,0-.54-.52h-4.22V54.3a.55.55,0,0,0-1.09,0v2.41h-8.2V54.3a.54.54,0,0,0-1.08,0v2.41h-4.09a.54.54,0,0,0-.55.52.54.54,0,0,0,.55.53h4.09v3.35h-4.09a.53.53,0,1,0,0,1h4.09v3.35h-4.09a.54.54,0,0,0-.55.53.54.54,0,0,0,.55.52h4.09v2.3a.54.54,0,0,0,1.08,0v-2.3h8.2v2.32a.55.55,0,0,0,1.09,0V66.56H430a.54.54,0,0,0,.55-.52.54.54,0,0,0-.55-.53h-4.13V62.16h4.22a.53.53,0,1,0,0-1h-4.22V57.76Zm-5.31,7.75h-8.2V62.16h8.2Zm0-4.4h-8.2V57.76h8.2Zm-4.28-21.89.38.08V41a5.93,5.93,0,0,1-1.26,0,5.87,5.87,0,0,1-1.2-.22v1.47a6,6,0,0,0,2.46.07v1.12l.79-.14V42.18a4,4,0,0,0,1.85-1,2,2,0,0,0,.67-1.53,1.42,1.42,0,0,0-.23-.82,1.65,1.65,0,0,0-.69-.56,8.18,8.18,0,0,0-1.6-.46V36.21a6,6,0,0,1,1.84.12l.54-1.39a6,6,0,0,0-2.38-.11V34l-.79.14V35a4.12,4.12,0,0,0-1.82.94,1.93,1.93,0,0,0-.65,1.44,1.52,1.52,0,0,0,.47,1.18A3.52,3.52,0,0,0,420.48,39.22Zm1.17.25a2,2,0,0,1,.59.23.41.41,0,0,1,.19.36c0,.36-.26.62-.78.79Zm-.79-3.1v1.31a1.81,1.81,0,0,1-.56-.23.45.45,0,0,1-.18-.38C420.12,36.75,420.37,36.52,420.86,36.37Z" style="fill:#b4b4b4"/>

<path d="M470,51.07a3.83,3.83,0,1,1-3.83-3.71A3.77,3.77,0,0,1,470,51.07Z" style="fill:#b4b4b4"/>
<path d="M494.73,51.07a3.83,3.83,0,1,1-3.83-3.71A3.77,3.77,0,0,1,494.73,51.07Z" style="fill:#b4b4b4"/>
<path d="M519.5,51.07a3.83,3.83,0,1,1-3.83-3.71A3.77,3.77,0,0,1,519.5,51.07Z" style="fill:#b4b4b4"/>
</svg>
  </div>
  <h1 class="ctw-title wow fadeIn" data-wow-delay="0.5s">Connecting The Watts</h1>
  <h2 class="ctw-subtitle wow fadeIn" data-wow-delay="0.5s">Unpacking the Micro-Revolution of Energy in East Africa</h2>
   

  
  <p class="ctw-desc wow fadeIn" data-wow-delay="0.5s">
For half the planet, access to energy remains elusive, unreliable, and expensive.<br><br>
    In east Africa, where traditional structures fail or are slow to form, a decentralized network of energy has taken its place; a micro-revolution of practical solutions that start with the individual, <strong>just a few watts at a time.</strong> 
</p> 
  
  <span class="ctw-watch-all wow fadeIn" data-wow-delay="0.5s"><i class="icomoon icon-playTriangle-01 ctw-play-button-all"></i><a href="#watchAll">Watch All</a> or Choose An Episode Below</span>
  
    <div class="remodal" data-remodal-id="watchAll" role="dialog" aria-labelledby="modalAll" data-remodal-options="closeOnOutsideClick: false">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div id="watchAllPlay" class="embed-container"><iframe src="https://www.youtube.com/embed?listType=playlist&list=PLiesnnDt8JtVWcHXRh5Jicv68KCHal4uS&modestbranding=1&rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
</div>
   
   
  </div> 
 
  
  <div id="videos-link" class="ctw-videos">
  <div class="ctw-videos-wrapper wow fadeIn" data-wow-delay="0.6s">
    <a href="#watchPartI"><i class="icomoon icon-playbutton-01 ctw-play-button"></i>
    <img class="ctw-videos-thumb" src="https://cdn.shopify.com/s/files/1/0666/9741/files/GridInSky_page_thumb_9db96be8-4e39-4e2c-b4f9-bb94e27f1834.jpg?4960288041116172026">
    <span class="ctw-part-number">PART I</span>
    <span class="ctw-video-title">Grid In The Sky</span>
    <span class="ctw-video-subtitle">East Africa &amp; The Solar Revolution</span></a>
    
       <div class="learn-more-mobile list-toggle">
     <div class="list-toggle__title compare-toggle text-center" data-control-sibling="">
          <span class="ctw-videos-more-btn"><a href="#open-toggle"><i class="icomoon icon-downArrow learn-more-icon"></i>Learn More </a></span>
     </div>
     
     <div class="list-toggle__content">
           <div class="ctw-videos-more-detail wow fadeIn" data-wow-delay="0s"> 
     <div class="ctw-videos-more-detail-block">
     <span class="ctw-desc-title">Location</span>
     <span class="ctw-desc-learn">Kakamega, Kenya</span>
     </div>
 
   <div class="ctw-videos-more-detail-block">
     <span class="ctw-desc-title">Length</span>
     <span class="ctw-desc-learn">4:52</span>
     </div>
      <div class="ctw-videos-more-detail-block">
     <span class="ctw-desc-title">Description</span>
     <span class="ctw-desc-learn"> A traditional electrical grid will take up to 40 years to complete in east Africa – that’s simply too long. With the rise of affordable personal-scale solar microgrids, families are bypassing these outdated systems and dramatically improving daily life. Learn how the expediting of solar was catalyzed by cellphone ownership and meet a farmer who’s building her own grid to stay safe and run her business. 
</span>
     </div>
    </div>
       
             <div class="ctw-videos-more wow fadeIn" data-wow-delay="1s">
     <span class="ctw-share">SHARE:</span>
        <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A//www.bioliteenergy.com/pages/connecting-the-watts%23watch-the-series"><i class="icomoon icon-facebook-outline ctw-social-share"></i></a>
        <a target="_blank" href="https://twitter.com/home?status=Connecting%20The%20Watts%20-%20Unpacking%20The%20Micro-Revolution%20of%20Energy%20In%20East%20Africa%20by%20%40biolitestove%20https%3A//www.bioliteenergy.com/pages/connecting-the-watts%23watch-the-series"><i class="icomoon icon-twitter-outline ctw-social-share"></i></a>
        <a target="_blank" href="mailto:?&subject=Connecting The Watts Series&body=I%20thought%20you%20might%20be%20interested%20in%20BioLite's%20video%20series%20Connecting%20The%20Watts%20-%20Unpacking%20The%20Micro-Revolution%20of%20Energy%20In%20East%20Africa.%20https%3A//www.bioliteenergy.com/pages/connecting-the-watts%23watch-the-series%20"><i class="icomoon icon-email-contact-01 ctw-social-share"></i></a>
  </div>
    
     </div>

   </div>
   

  <div class="remodal" data-remodal-id="watchPartI"  data-remodal-options="closeOnOutsideClick: false">
  <button data-remodal-action="close" class="remodal-close"></button>
  <div id="watchIPlay" class='embed-container'><iframe src="https://www.youtube.com/embed/vmvU-VpEFiE?modestbranding=1&rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>

    
</div>
    
    </div>

  
    <div class="ctw-videos-wrapper wow fadeIn" data-wow-delay="0.7s">
      <a href="#watchPartII"> <i class="icomoon icon-playbutton-01 ctw-play-button"></i>
     <img class="ctw-videos-thumb" src="https://cdn.shopify.com/s/files/1/0666/9741/files/ForestTrees_page_thumb_3169d9b0-ea00-4937-ace5-c59531b6b1e0.jpg?4960288041116172026">
    <span class="ctw-part-number">PART II</span>
    <span class="ctw-video-title">Forest For The Trees</span>
    <span class="ctw-video-subtitle">Where Cooking &amp; Climate Connect</span></a>
      
             <div class="learn-more-mobile list-toggle">
     <div class="list-toggle__title compare-toggle text-center" data-control-sibling="">
          <span class="ctw-videos-more-btn"><a href="#open-toggle"><i class="icomoon icon-downArrow learn-more-icon"></i>Learn More </a></span>
     </div>
     
     <div class="list-toggle__content">
           <div class="ctw-videos-more-detail wow fadeIn" data-wow-delay="0s"> 
     <div class="ctw-videos-more-detail-block">
     <span class="ctw-desc-title">Location</span>
     <span class="ctw-desc-learn">Luanda Town, Kenya</span>
     </div>
 
   <div class="ctw-videos-more-detail-block">
     <span class="ctw-desc-title">Length</span>
     <span class="ctw-desc-learn">5:10</span>
     </div>
      <div class="ctw-videos-more-detail-block">
     <span class="ctw-desc-title">Description</span>
     <span class="ctw-desc-learn">Kenya is losing its forests; one of the fastest ways to curb that is to address open-fire wood cooking. While the world at large confronts global climate change, follow a team of traditional weather forecasters and Kenyan meteorologists as they work to educate and empower local farmers despite increasingly erratic weather patterns. 
</span>
     </div>
    </div>
       
             <div class="ctw-videos-more wow fadeIn" data-wow-delay="1s">
     <span class="ctw-share">SHARE:</span>
        <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A//www.bioliteenergy.com/pages/connecting-the-watts%23watch-the-series"><i class="icomoon icon-facebook-outline ctw-social-share"></i></a>
        <a target="_blank" href="https://twitter.com/home?status=Connecting%20The%20Watts%20-%20Unpacking%20The%20Micro-Revolution%20of%20Energy%20In%20East%20Africa%20by%20%40biolitestove%20https%3A//www.bioliteenergy.com/pages/connecting-the-watts%23watch-the-series"><i class="icomoon icon-twitter-outline ctw-social-share"></i></a>
        <a target="_blank" href="mailto:?&subject=Connecting The Watts Series&body=I%20thought%20you%20might%20be%20interested%20in%20BioLite's%20video%20series%20Connecting%20The%20Watts%20-%20Unpacking%20The%20Micro-Revolution%20of%20Energy%20In%20East%20Africa.%20https%3A//www.bioliteenergy.com/pages/connecting-the-watts%23watch-the-series%20"><i class="icomoon icon-email-contact-01 ctw-social-share"></i></a>
  </div>
    
     </div>

   </div>
      
        <div class="remodal" data-remodal-id="watchPartII"  data-remodal-options="closeOnOutsideClick: false">
  <button data-remodal-action="close" class="remodal-close"></button>
  <div id="watchIIPlay" class='embed-container'><iframe src="https://www.youtube.com/embed/fgKK0CXkVvk?modestbranding=1&rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
</div>
  </div>
    
      
    <div class="ctw-videos-wrapper  wow fadeIn" data-wow-delay="0.8s">
      <a href="#watchPartIII"><i class="icomoon icon-playbutton-01 ctw-play-button"></i>
      <img class="ctw-videos-thumb" src="https://cdn.shopify.com/s/files/1/0666/9741/files/MobileMoney_page_thumb_d25b87b1-0a2a-473c-992e-2762b2d07025.jpg?4960288041116172026">
    <span class="ctw-part-number">PART III</span>
    <span class="ctw-video-title">Mobile Money</span>
    <span class="ctw-video-subtitle">The Power Of Digital Currency</span></a>
      
             <div class="learn-more-mobile list-toggle">
     <div class="list-toggle__title compare-toggle text-center" data-control-sibling="">
          <span class="ctw-videos-more-btn"><a href="#open-toggle"><i class="icomoon icon-downArrow learn-more-icon"></i>Learn More </a></span>
     </div>
     
     <div class="list-toggle__content">
           <div class="ctw-videos-more-detail wow fadeIn" data-wow-delay="0s"> 
     <div class="ctw-videos-more-detail-block">
     <span class="ctw-desc-title">Location</span>
     <span class="ctw-desc-learn">Webuye Town, Kenya</span>
     </div>
 

   <div class="ctw-videos-more-detail-block">
     <span class="ctw-desc-title">Length</span>
     <span class="ctw-desc-learn">4:38</span>
     </div>
      <div class="ctw-videos-more-detail-block">
     <span class="ctw-desc-title">Description</span>
     <span class="ctw-desc-learn">What started as trading talktime has evolved into a thriving digital economy where cashless transactions enable the most rural households to participate in a broader market of exchange. However, as mobile phone ownership outpaces rates of electrification, east Africa faces an energy paradox, demanding solutions that can keep up. See first hand how mobile money helps this restaurant owner run every aspect of his work, from the customer bills to financing his kitchen.
</span>
     </div>
    </div>
       
             <div class="ctw-videos-more wow fadeIn" data-wow-delay="1s">
     <span class="ctw-share">SHARE:</span>
        <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A//www.bioliteenergy.com/pages/connecting-the-watts%23watch-the-series"><i class="icomoon icon-facebook-outline ctw-social-share"></i></a>
        <a target="_blank" href="https://twitter.com/home?status=Connecting%20The%20Watts%20-%20Unpacking%20The%20Micro-Revolution%20of%20Energy%20In%20East%20Africa%20by%20%40biolitestove%20https%3A//www.bioliteenergy.com/pages/connecting-the-watts%23watch-the-series"><i class="icomoon icon-twitter-outline ctw-social-share"></i></a>
        <a target="_blank" href="mailto:?&subject=Connecting The Watts Series&body=I%20thought%20you%20might%20be%20interested%20in%20BioLite's%20video%20series%20Connecting%20The%20Watts%20-%20Unpacking%20The%20Micro-Revolution%20of%20Energy%20In%20East%20Africa.%20https%3A//www.bioliteenergy.com/pages/connecting-the-watts%23watch-the-series%20"><i class="icomoon icon-email-contact-01 ctw-social-share"></i></a>
  </div>
    
     </div>

   </div>
      
        <div class="remodal" data-remodal-id="watchPartIII"  data-remodal-options="closeOnOutsideClick: false">
  <button data-remodal-action="close" class="remodal-close"></button>
  <div id="watchIIIPlay" class='embed-container'><iframe src="https://www.youtube.com/embed/2IXT1l6nkNI?modestbranding=1&rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
</div>
  </div>
  
  </div>
  
   
  <div class="ctw-videos-learn-more hide-on-mobile">
  <div class="ctw-videos-more wow fadeIn hide-on-mobile-480" data-wow-delay="1.5s">
     <span class="ctw-videos-more-btn"><a href="#videos-link"><i class="icomoon icon-downArrow learn-more-icon"></i>Learn More </a></span>
     
  </div>
  
   <div class="ctw-videos-more wow fadeIn hide-on-mobile" data-wow-delay="1.5s">
     <span class="ctw-videos-more-btn"><a href="#videos-link"><i class="icomoon icon-downArrow learn-more-icon"></i>Learn More </a></span>
     
  </div>
  
   <div class="ctw-videos-more wow fadeIn hide-on-mobile" data-wow-delay="1.5s">
     <span class="ctw-videos-more-btn"><a href="#videos-link"><i class="icomoon icon-downArrow learn-more-icon"></i>Learn More </a></span>
     
  </div>
  </div>
  
</div>
  
  

 
  
  
 <section id="learn-more hide-on-mobile-480">
<div id="ctw-learn-more hide-on-mobile-480" class="ctw-hero hide-on-mobile-480">
  <div class="ctw-learn-more hide-on-mobile-480">
    
    <div class="ctw-videos-more-detail hide-on-mobile-480 wow fadeIn" data-wow-delay="0s"> 
      <div class="ctw-videos-more-detail-block">
     <span class="ctw-desc-title">Location</span>
     <span class="ctw-desc-learn">Kakamega, Kenya</span>
     </div>
 
   <div class="ctw-videos-more-detail-block">
     <span class="ctw-desc-title">Length</span>
     <span class="ctw-desc-learn">4:52</span>
     </div>
      <div class="ctw-videos-more-detail-block">
     <span class="ctw-desc-title">Description</span>
     <span class="ctw-desc-learn"> A traditional electrical grid will take up to 40 years to complete in east Africa – that’s simply too long. With the rise of affordable personal-scale solar microgrids, families are bypassing these outdated systems and dramatically improving daily life. Learn how the expediting of solar was catalyzed by cellphone ownership and meet a farmer who’s building her own grid to stay safe and run her business. 
</span>
     </div>
    </div>
    
      <div class="ctw-videos-more-detail hide-on-mobile-480 wow fadeIn" data-wow-delay="0s"> 
     <div class="ctw-videos-more-detail-block">
     <span class="ctw-desc-title">Location</span>
     <span class="ctw-desc-learn">Luanda Town, Kenya</span>
     </div>
 
 
   <div class="ctw-videos-more-detail-block">
     <span class="ctw-desc-title">Length</span>
     <span class="ctw-desc-learn">5:10</span>
     </div>
      <div class="ctw-videos-more-detail-block">
     <span class="ctw-desc-title">Description</span>
     <span class="ctw-desc-learn">Kenya is losing its forests; one of the fastest ways to curb that is to address open-fire wood cooking. While the world at large confronts global climate change, follow a team of traditional weather forecasters and Kenyan meteorologists as they work to educate and empower local farmers despite increasingly erratic weather patterns. 
</span>
     </div>
    </div>
    
      <div class="ctw-videos-more-detail hide-on-mobile-480 wow fadeIn" data-wow-delay="0s"> 
     <div class="ctw-videos-more-detail-block">
     <span class="ctw-desc-title">Location</span>
     <span class="ctw-desc-learn">Webuye Town, Kenya</span>
     </div>
 

   <div class="ctw-videos-more-detail-block">
     <span class="ctw-desc-title">Length</span>
     <span class="ctw-desc-learn">4:38</span>
     </div>
      <div class="ctw-videos-more-detail-block">
     <span class="ctw-desc-title">Description</span>
     <span class="ctw-desc-learn">What started as trading talktime has evolved into a thriving digital economy where cashless transactions enable the most rural households to participate in a broader market of exchange. However, as mobile phone ownership outpaces rates of electrification, east Africa faces an energy paradox, demanding solutions that can keep up. See first hand how mobile money helps this restaurant owner run every aspect of his work, from the customer bills to financing his kitchen.
</span>
     </div>
    </div>
    
 
    
  </div>
  
    <div class="ctw-social-share-wrapper hide-on-mobile-480 text-center">
  
      <div class="ctw-videos-more wow fadeIn" data-wow-delay="1s">
     <span class="ctw-share">SHARE:</span>
        <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A//www.bioliteenergy.com/pages/connecting-the-watts%23watch-the-series"><i class="icomoon icon-facebook-outline ctw-social-share"></i></a>
        <a target="_blank" href="https://twitter.com/home?status=Connecting%20The%20Watts%20-%20Unpacking%20The%20Micro-Revolution%20of%20Energy%20In%20East%20Africa%20by%20%40biolitestove%20https%3A//www.bioliteenergy.com/pages/connecting-the-watts%23watch-the-series"><i class="icomoon icon-twitter-outline ctw-social-share"></i></a>
        <a target="_blank" href="mailto:?&subject=Connecting The Watts Series&body=I%20thought%20you%20might%20be%20interested%20in%20BioLite's%20video%20series%20Connecting%20The%20Watts%20-%20Unpacking%20The%20Micro-Revolution%20of%20Energy%20In%20East%20Africa.%20https%3A//www.bioliteenergy.com/pages/connecting-the-watts%23watch-the-series%20"><i class="icomoon icon-email-contact-01 ctw-social-share"></i></a>
  </div>
      
            <div class="ctw-videos-more wow fadeIn" data-wow-delay="1s">
     <span class="ctw-share">SHARE:</span>
        <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A//www.bioliteenergy.com/pages/connecting-the-watts%23watch-the-series"><i class="icomoon icon-facebook-outline ctw-social-share"></i></a>
        <a target="_blank" href="https://twitter.com/home?status=Connecting%20The%20Watts%20-%20Unpacking%20The%20Micro-Revolution%20of%20Energy%20In%20East%20Africa%20by%20%40biolitestove%20https%3A//www.bioliteenergy.com/pages/connecting-the-watts%23watch-the-series"><i class="icomoon icon-twitter-outline ctw-social-share"></i></a>
        <a target="_blank" href="mailto:?&subject=Connecting The Watts Series&body=I%20thought%20you%20might%20be%20interested%20in%20BioLite's%20video%20series%20Connecting%20The%20Watts%20-%20Unpacking%20The%20Micro-Revolution%20of%20Energy%20In%20East%20Africa.%20https%3A//www.bioliteenergy.com/pages/connecting-the-watts%23watch-the-series%20"><i class="icomoon icon-email-contact-01 ctw-social-share"></i></a>
  </div>
      
            <div class="ctw-videos-more wow fadeIn" data-wow-delay="1s">
     <span class="ctw-share">SHARE:</span>
        <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A//www.bioliteenergy.com/pages/connecting-the-watts%23watch-the-series"><i class="icomoon icon-facebook-outline ctw-social-share"></i></a>
        <a target="_blank" href="https://twitter.com/home?status=Connecting%20The%20Watts%20-%20Unpacking%20The%20Micro-Revolution%20of%20Energy%20In%20East%20Africa%20by%20%40biolitestove%20https%3A//www.bioliteenergy.com/pages/connecting-the-watts%23watch-the-series"><i class="icomoon icon-twitter-outline ctw-social-share"></i></a>
        <a target="_blank" href="mailto:?&subject=Connecting The Watts Series&body=I%20thought%20you%20might%20be%20interested%20in%20BioLite's%20video%20series%20Connecting%20The%20Watts%20-%20Unpacking%20The%20Micro-Revolution%20of%20Energy%20In%20East%20Africa.%20https%3A//www.bioliteenergy.com/pages/connecting-the-watts%23watch-the-series%20"><i class="icomoon icon-email-contact-01 ctw-social-share"></i></a>
  </div>
  

  </div>
  
  
    </div>
    
  </section>
  <div class="clearfix"></div>
  
  <div id="ctw-footer" class="landing-section ctw-footer text-center">
  <div class="grid__item large--one-whole">
<h3 class="bold white pt50 pb30" data-wow-delay=".5s">Want to Learn More?</h3>    
    </div>
    
    <div class="wrapper--medium">
    <div class="grid__item large--one-half ctw-footer-content large--pr20">
      <p class="light white">Read about BioLite’s role in the future of energy and how we built a business model that challenges what a social enterprise looks like.</p>
      <a href="/mission" class="btn btn-primary" title="Shop Now">
                  <span>Our Mission</span>
                </a>
    </div>
    
      
    <div class="grid__item large--one-half ctw-footer-content large--pl20">
      <p class="light white">Shop stoves, lights, and solar panels at the BioLite Online Shop. Every purchase helps us build long-term solutions for families living off-grid</p>
      <a href="/products" class="btn btn-primary" title="Shop Now">
                  <span>Shop BioLite</span>
                </a>
    </div>
    </div>

    
  </div>
  
  








</main>