<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.0/jquery.matchHeight-min.js" type="text/javascript"></script>
<script>
$(function() {
    $('.card-layout').matchHeight(false);

});
    </script>
<script>
$(document).ready(function() {
  $(window).scroll(function() {
    if ($(this).scrollTop() > 1380) {
      $('#bwf-2019-nav').css('opacity', 0);
    } else {
      $('#bwf-2019-nav').css('opacity', 1);
    }
  });
});
  
  
  jQuery(document).ready(function( $ ) {
    $('.remodal-close').click(function() {
		var watchAllPlay = $("#watchAllPlay iframe").attr("src");
		$("#watchAllPlay iframe").attr("src","");
		$("#watchAllPlay iframe").attr("src",watchAllPlay);
      
      var watchIPlay = $("#watchIPlay iframe").attr("src");
		$("#watchIPlay iframe").attr("src","");
		$("#watchIPlay iframe").attr("src",watchIPlay);
      
      var watchIIPlay = $("#watchIIPlay iframe").attr("src");
		$("#watchIIPlay iframe").attr("src","");
		$("#watchIIPlay iframe").attr("src",watchIIPlay);
      
      var watchIIIPlay = $("#watchIIIPlay iframe").attr("src");
		$("#watchIIIPlay iframe").attr("src","");
		$("#watchIIIPlay iframe").attr("src",watchIIIPlay);

    });
$('.remodal-background').click(function() {
		var watchAllPlay = $("#watchAllPlay iframe").attr("src");
		$("#watchAllPlay iframe").attr("src","");
		$("#watchAllPlay iframe").attr("src",watchAllPlay);

    });
});
</script>

{{ 'wow.min.js' | asset_url | script_tag }}




<script src="js/wow.min.js"></script>
              <script>
              new WOW().init();
              </script>


<div class="wrapper--max">  
<div id="bwf-2019-nav" class="grid__item large--two-eighths medium--one-whole small--one-whole">
  <div class="bwf-title-wrap">
    <span class="bwf-title-mobile">13 Brands. 1 Code. All Climate Neutral.</span>
  <span class="bwf-title dark-grey">13 Brands. 1 Code. All Climate Neutral.</span> 
  </div>
  <p class="bwf-subtitle medium-grey light"><strong>Better With Friends</strong> and better for the planet: All brands listed here undergo the 
    Climate Neutral Certification process. Shop eco-conscious gear and save big while you're doing it.
    
    <!--<br><br><strong>Use this code for up to 40% off TODAY ONLY:</strong>-->
  </p>
<span class="bwf-promo-code">PROMO IS OVER</span>
  

  
  <div class="bwf-section-wrap">
  <span class="bwf-section-title gray-medium">What's Climate Neutral?</span>
  <p class="bwf-subtitle gray-medium light">Climate Neutral is a non-profit dedicated to helping brands measure, reduce, and offset their carbon emissions.<br><br> Learn more in this <a href="#climateNeutral" style="color:#008fa1;font-weight:700">short video.</a> </p>
  </div>
  
      <div class="remodal" data-remodal-id="climateNeutral" role="dialog" aria-labelledby="modalAll" data-remodal-options="closeOnOutsideClick: false">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div id="watchAllPlay" class="embed-container">  <iframe title="vimeo-player" src="https://player.vimeo.com/video/461057910?h=e854278276" width="640" height="360" frameborder="0" allowfullscreen></iframe>
</div>
</div>

  </div>

  <div class="grid__item large--six-eighths push--large--two-eighths bwf-brands">
    
    <div class="grid__item large--one-quarter medium--one-half small--one-half text-center wow fadeInUp">
 <a href="https://www.bioliteenergy.com/products" target="_blank"> <div class="card-layout">
    <img class="bwf-brands-image" src="https://cdn.shopify.com/s/files/1/0666/9741/files/BioLite_27f801f3-53fd-4c6b-bc0e-381c39927e46.jpg?v=1650288627" alt="BioLite" >
    <div class="bwf-deal-bar">20% Off Sitewide</div>
      <span class="bwf-brand-icon"><img src="https://cdn.shopify.com/s/files/1/0666/9741/files/biolite.svg?v=1606863750" alt="BioLite"></span>
                </div></a></div>
    
    
      <div class="grid__item large--one-quarter medium--one-half small--one-half text-center wow fadeInUp">
 <a href="https://chicobag.com/" target="_blank"> <div class="card-layout">
    <img class="bwf-brands-image" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Chico_6a4c73d6-3d75-42a8-a50d-aa4490b06ecc.jpg?v=1650288627" alt="Chico" >
    <div class="bwf-deal-bar">25% Off Sitewide</div>
      <span class="bwf-brand-icon"><img src="https://assets-global.website-files.com/5cceeb9d9639c4228976aeac/5d88b7a06ef0a1428c76ff31_chico-35.png" alt="Chico"></span>
                </div></a></div>
    
    
      <div class="grid__item large--one-quarter medium--one-half small--one-half text-center wow fadeInUp">
 <a href="https://www.cotopaxi.com" target="_blank"> <div class="card-layout">
    <img class="bwf-brands-image" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Cotopaxi_28ea0788-17ae-430d-aa18-718fc12716fb.jpg?v=1650288741" alt="Cotopaxi" >
    <div class="bwf-deal-bar">Spend $100 and Get A MiiR Llama Bottle</div>
      <span class="bwf-brand-icon"><img src="https://cdn.shopify.com/s/files/1/0666/9741/files/Cotopaxi.jpg?v=1650288627" alt="Cotopaxi"></span>
                </div></a></div>
    
      <div class="grid__item large--one-quarter medium--one-half small--one-half text-center wow fadeInUp">
 <a href="https://juneshine.com" target="_blank"> <div class="card-layout">
    <img class="bwf-brands-image" src="https://cdn.shopify.com/s/files/1/0666/9741/files/June_Shine_ac8ab80f-6936-40ae-ac7b-a93e6ec4b7d8.jpg?v=1650288741" alt="June Shine" >
    <div class="bwf-deal-bar">10% Off Sitewide</div>
      <span class="bwf-brand-icon"><img src="https://cdn.shopify.com/s/files/1/0666/9741/files/June_Shine.jpg?v=1650288627" alt="June Shine"></span>
                </div></a></div>
    
     <div class="grid__item large--one-quarter medium--one-half small--one-half text-center wow fadeInUp">
 <a href="https://www.ibex.com" target="_blank"> <div class="card-layout">
    <img class="bwf-brands-image" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Ibex_b4ce5c4e-7e7d-497b-a6da-40f22b5be54d.jpg?v=1650288741" alt="Ibex" >
    <div class="bwf-deal-bar">10% Off + We Donate 10% To Conservation Alliance</div>
      <span class="bwf-brand-icon"><img src="https://cdn.shopify.com/s/files/1/0666/9741/files/Ibex.jpg?v=1650288627" alt="Ibex"></span>
                </div></a></div>
    
    
           <div class="grid__item large--one-quarter medium--one-half small--one-half text-center wow fadeInUp">
 <a href="https://kammok.com/" target="_blank"> <div class="card-layout">
    <img class="bwf-brands-image" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Kammok_efd39a80-57f3-4c2a-b634-52374249fa2b.jpg?v=1650288628" alt="Kammok" >
    <div class="bwf-deal-bar">20% off Roo Single Hammocks</div>
      <span class="bwf-brand-icon"><img src="https://cdn.shopify.com/s/files/1/0666/9741/files/kammok.svg?v=1606863619" alt="Kammok"></span>
                </div></a></div>
    
    
    
      <div class="grid__item large--one-quarter medium--one-half small--one-half text-center wow fadeInUp">
 <a href="https://www.kleankanteen.com/" target="_blank"> <div class="card-layout">
    <img class="bwf-brands-image" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Klean_Kanteen_3f224b02-77e3-44bb-a3f3-410cc40d6f81.jpg?v=1650288627" alt="Klean Kanteen" >
    <div class="bwf-deal-bar">25% off Sitewide</div>
      <span class="bwf-brand-icon"><img src="https://assets-global.website-files.com/5cceeb9d9639c4228976aeac/5ce42bc41925cd1ffbf64401_Brands_Master_kleanKanteen.svg" alt="Klean Kanteen"></span>
                </div></a></div>
    
    
       <div class="grid__item large--one-quarter medium--one-half small--one-half text-center wow fadeInUp">
 <a href="https://lifestraw.com" target="_blank"> <div class="card-layout">
    <img class="bwf-brands-image" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Lifestraw_9bf895b1-3efb-4d01-8045-e41a0d1c93ea.jpg?v=1650288741" alt="Lifestraw" >
    <div class="bwf-deal-bar">25% off outdoor and emergency</div>
      <span class="bwf-brand-icon"><img src="https://cdn.shopify.com/s/files/1/0666/9741/files/Lifestraw_7460895e-79ae-493d-b479-81e522eb96d0.jpg?v=1650288627" alt="Lifestraw"></span>
                </div></a></div>
    
    
     <div class="grid__item large--one-quarter medium--one-half small--one-half text-center wow fadeInUp">
 <a href="https://ombraz.com/" target="_blank"> <div class="card-layout">
 <img class="bwf-brands-image" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Ombraz_94010dd8-e7c8-4d67-b1c8-98e93bc4a4af.jpg?v=1650288741" alt="Ombraz" >
    <div class="bwf-deal-bar">25% off sitewide</div>
      <span class="bwf-brand-icon"><img src="https://cdn.shopify.com/s/files/1/0666/9741/files/Ombraz_3deb3eee-1765-4391-9ba5-f49032930dfc.jpg?v=1650288627" alt="Ombraz"></span>
  </div></a></div> 
    
    
     <div class="grid__item large--one-quarter medium--one-half small--one-half text-center wow fadeInUp">
 <a href="https://www.rumpl.com" target="_blank"> <div class="card-layout">
   <img class="bwf-brands-image" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Rumpl_fbd19dae-6256-4577-8f52-b7f8ea6004d2.jpg?v=1650288628" alt="Rumpl" >
    <div class="bwf-deal-bar">25% off select products</div>
      <span class="bwf-brand-icon"><img src="https://assets-global.website-files.com/5cceeb9d9639c4228976aeac/5ce42bc34b1342b3e235aa4f_Brands_Master_rumpl.svg" alt="Rumpl"></span>
  </div></a></div>
    
    <div class="grid__item large--one-quarter medium--one-half small--one-half text-center wow fadeInUp">
 <a href="https://www.sunski.com/" target="_blank"> <div class="card-layout">
    <img class="bwf-brands-image" src="https://cdn.shopify.com/s/files/1/0666/9741/files/Sunski_c53aa3a6-1b63-43d3-b06b-04de6e2c6d4b.jpg?v=1650288741" alt="Sunski" >
    <div class="bwf-deal-bar">40% off full send collection</div>
      <span class="bwf-brand-icon"><img src="https://assets-global.website-files.com/5cceeb9d9639c4228976aeac/5ce42bc37dafbd31e51814d3_Brands_Master_sunski.svg" alt="Sunski"></span>
  </div></a></div>  
    
    
  
        <div class="grid__item large--one-quarter medium--one-half small--one-half text-center wow fadeInUp">
 <a href="https://www.to-goware.com/" target="_blank"> <div class="card-layout">
    <img class="bwf-brands-image" src="https://cdn.shopify.com/s/files/1/0666/9741/files/To_go_0a0ab947-03fe-4afb-a1a0-03d8868b0e98.jpg?v=1650288741" alt="To Go Ware" >
    <div class="bwf-deal-bar">25% off sitewide</div>
      <span class="bwf-brand-icon"><img src="https://assets-global.website-files.com/5cceeb9d9639c4228976aeac/5db319c2bc53f8cbf6d2568c_Brands_Master__togoware.svg" alt="To Go Ware"></span>
  </div></a></div>
      
    <div class="grid__item large--one-quarter medium--one-half small--one-half text-center wow fadeInUp">
 <a href="https://westernrise.com/" target="_blank"> <div class="card-layout">
    <img class="bwf-brands-image" src="https://cdn.shopify.com/s/files/1/0666/9741/files/western_rise_20bf1d8b-355e-490e-81c0-24dc08dc76d6.jpg?v=1650288741" alt="Western Rise" >
    <div class="bwf-deal-bar">20% off sitewide</div>
      <span class="bwf-brand-icon"><img src="https://cdn.shopify.com/s/files/1/0666/9741/files/western_rise_574f24ad-38b9-469a-87fb-5a9972607213.jpg?v=1650288628" alt="Western Rise"></span>
  </div></a></div> 
    
    
    
    
  
    
    <div class="clearfix"></div>
   


  </div>
</div>
  
  




<div class="clearfix"></div>
  


