
<div class="wrapper">
  <div class="grid__item large--one-third ">
    <div class="nav-sidebar__header">
      <h4 class="alt light baseline">Categories</h4>
    </div>
    <div class="nav-sidebar__content">
      <ul class="faq-categories"  id="faq-categories">
        <li><a href="#shipping" title="Orders, Shipping, and Delivery">Orders, Shipping & Delivery</a></li>
		<li><a href="#product_info" title="Product Information">Product Information & Specs</a></li>
        <li><a href="#product_support" title="Product Support">Product Support</a></li>
        <li><a href="#emergingmarkets" title="Emerging Markets">Emerging Markets</a></li>
        <li><a href="#generalinquires" title="General Inquiries">General Inquiries</a></li>
      </ul>
    </div>
  </div>

  <!--********* Orders, Shipping, and Delivery***************-->

  <div class="grid__item large--two-thirds mt30"> <a name="orders_shipping_delivery" title="Orders, Shipping, and Delivery"></a>
    <h4 class="primary">Orders, Shipping & Delivery</h4>

   <div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>What's the status of my order?</span></div>
  	<div class="list-toggle__content">
      <br>
              <p><strong>Shipping:</strong> When your order is shipped from the warehouse, you will automatically receive an email confirmation with tracking info. Items typically ship 2 business days from order placement unless the item is backordered. In the event of a backorder, projected in-stock shipment dates are reflected on product pages (prior to purchase).
<br><br>
 <strong>Tracking Info:</strong> once you receive tracking info, your item is in the hands of the carrier and we strongly recommend contacting them directly for transit status. For orders shipped via USPS, please note USPS only guarantees scans upon arrival and therefore may not show updates in transit. Please allow up to 7 days for delivery before contacting BioLite regarding USPS orders. 
<br><br>
                <strong>Changes to order:</strong> If you have specific questions regarding your purchase such as credit card information, personal info changes, etc, please fill out the contact form. </p>           <br>
  	</div>
	</div>
    
       <div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>Only one of my items arrived in the mail – where’s the rest?</span></div>
  	<div class="list-toggle__content">
      <br>
      <p>For orders with multiple items,  they may ship in separate packages and may arrive on different dates by a day or two. If you have received a shipping confirmation email but have only received a portion of your order, it is likely that it is referring to only a partial shipment. Please refer to your <strong>original shipment email</strong> for full tracking information; click the tracking link and scroll down to see associated shipments.  </p>           <br>
  	</div>
	</div>

<div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>How do I qualify for free shipping?</span></div>
  	<div class="list-toggle__content">
    	<p>All orders over $55+ may qualify for Free Standard Ground Shipping. If you ordered a FirePit, BaseCamp or PizzaDome, there will be an oversize fee of $25 charged with your order. You can find this and other shipping info on our <a href="https://www.bioliteenergy.com/pages/return-shipping">Shipping Page.</a></p>
  	</div>
	</div>

<div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>Do you ship internationally?</span></div>
  	<div class="list-toggle__content">
      <p> Yes, we ship to most countries. To place an order, please confirm your  region by selecting the appropriate storefront in the top right corner of the BioLite website: 
<br><br>
        For <strong>United States</strong>, please select "US"
<br><br>For <strong>Canada</strong>, please select "CA"<br><br>
        For <strong>Europe</strong>, please select "EU"
        <br><br>
For <strong>United Kingdom</strong>, please select "UK" (All EU/UK orders ship duties/VAT paid)
        <br><br>
        For <strong>all other countries</strong>, please select "Rest of World" (Rest of World countries have the option to prepay duties and taxes if desired)   </p>
            	</div>
	</div>


<div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>What's BioLite's return and refund policy?</span></div>
  	<div class="list-toggle__content">
            <p>We want to ensure that you have a great experience with your BioLite products. Our support team is here to help you answer any questions and troubleshoot any issues.<br><br>1. Returns for refund are available only for customers that purchased directly from BioliteEnergy.com.<br><br>2. Customers can request a return within 30 days of the order being delivered.<br><br>3. We do not offer exchanges, only refunds on returns. Customers who wish to exchange may purchase their desired product as a separate order before or after we refund the original item return.<br><br>4. Products must be completely unused with the packaging, manuals and any accessories intact and included with the return shipment. Any used products or missing items will result in the return being declined. For damaged or defective products, please see our warranty policy.</p>
    </div>
	</div>

    
<div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>What's the HOLYFIT Guarantee?</span></div>
  	<div class="list-toggle__content">
    	<p>In 2019, BioLite is offering a special "HolyFit" Guarantee for customers who purchase the HeadLamp 330 at the BioLite Shop (BioLiteEnergy.com). With this guarantee you may remove the product from packaging and fully use it up to 30 days – run with it, camp with it, live with it! If you are not satisfied with the fit of your HeadLamp within that timeframe, return the unit and BioLite will refund your purchase. To request a return under the HolyFit Guarantee, please contact Customer Support for a prepaid return envelope (emailed via a PDF) and next steps. Refunds will be issued upon receipt of the original unit. Please note, HolyFit Guarantee does not cover abuse of product.</p>
  	</div>
	</div>   
    
    <div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>How does the FirePit Build-Your-Own-Bundle work?</span></div>
  	<div class="list-toggle__content">
    	<p>Add any 4 items from the FirePit Family to your cart and a 10% automatic discount will be applied to your order at checkout. Eligible items are: FirePit, FireMat, FirePoker, Solar Carry Cover, Griddle, Grill Lid, Prep & Grill Toolkit<br><br>Bundle Discount cannot be applied to pre-built kits (don't worry - these bundles already have the discounts included in their price).
</p>
  	</div>
	</div>  


  </div>


<!--*********Product Info & Specs***************-->

  <div class="grid__item large--two-thirds mt30"> <a name="product_info" title="Product Information"></a>
    <h4 class="primary">Product Information & Specs</h4>
    
<div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>Where do I find instruction manuals and videos?</span></div>
  	<div class="list-toggle__content">
      <p>Manuals for all of our products are available on our <a href="https://www.bioliteenergy.com/pages/product-manuals"  style="color:#35a8a6;">instructions page</a>. 
              <br><br>
              For select products like the HeadLamp 330, FirePit, and CampStove, detailed instruction videos along with helpful timestamps can be found on our <a href="https://www.youtube.com/playlist?list=PLiesnnDt8JtVA6s06PHok6AeAJyKVSSXS" target="_blank" style="color:#35a8a6;">YouTube Channel</a></p>    </div>
	</div>

<div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>Are there instruction videos I can watch?</span></div>
  	<div class="list-toggle__content">
    	<p>YES! You can check them out <a href="https://www.youtube.com/playlist?list=PLiesnnDt8JtVA6s06PHok6AeAJyKVSSXS">HERE.</a></p>
  	</div>
	</div>


<div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>What's BioLite's Warranty Policy?</span></div>
  	<div class="list-toggle__content">
            <p>BioLite offers a 1-year limited warranty. Please check out our <a href="https://www.bioliteenergy.com/pages/warranty" style="color:#35a8a6;">warranty page</a> for full details. We strongly recommend registering your products. This helps for faster response times with our Customer Service team when troubleshooting any issues or inquiries about your device.</p>
  	</div>
	</div>
    
    
<div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>Where can I find additional technical specifications such as measurements, wattage, etc?</span></div>
  	<div class="list-toggle__content">
      <p>Each product page has a "Tech Specs" tab towards the middle of the page, where you can discover the more technical aspects of your BioLite Gear such as: Lumens, wattage-output, dimensions, etc.</p>
  	
    </div>
	</div>    
    
  </div>
  
  
  <!--*********Product Support***************-->

  <div class="grid__item large--two-thirds mt30"> <a name="product_support" title="Product Support"></a>
    <h4 class="primary">Product Support</h4>
    <h5 class="primary">Stoves & Grills</h5>

 <div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>Which stove is right for me?</span></div>
  	<div class="list-toggle__content">
    	<p>BioLite offers three stoves, the CampStove 2, the FirePit, and the BaseCamp. The CampStove 2 and the BaseCamp house a thermoelectric generator inside their orange Power Packs.
          Long story short, they can charge your phone (and any other USB-compatible devices you want to charge). The BaseCamp is your best bet it you are cooking for a crowd. As our biggest stove,
          it can fit 8 burgers on its grill. It’s a great stove to take tailgating, take to the beach, or for a family camping trip. If it’s just you and a friend, the new CampStove 2
          is perfect for keeping you well charged and well fed - great for a camping trip.
The FirePit uses the same combustion technology as CampStove 2 and BaseCamp but does not have a thermoelectric generator. You can charge gear from the USB port on the power pack but the FirePit does not generate electricity
          from the heat of the fire. Read more in our blog post <a name="How To Choose The Right Stove" title= "How To Choose The Right Stove" style="text-decoration:underline" href="https://blog.bioliteenergy.com/blogs/clinic/how-to-choose-the-right-stove" target="_blank">How To Choose The Right Stove</a></p>
  	</div>
	</div>

    <div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>Do you have to use your phone and/or the Bluetooth to control FirePit?</span></div>
  	<div class="list-toggle__content">
    	<p>Nope, you can do everything manually via the button located on the side of the usb-rechargeable powerpack.

The optional Bluetooth app allows you to control the airflow settings remotely, which comes in handy if you're perfectly bundled around the fire and don't want to get up – but more importantly,
          it offers precise feedback on how much runtime is left in the battery so you can be in complete control of your clean-burning experience.  </p>
  	</div>
	</div>

     <div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>Does the FirePit create electricity?</span></div>
  	<div class="list-toggle__content">
    	<p>Nope.
If you are asking this, chances are you're familiar with our CampStove or BaseCamp (if so, welcome back!). Those stoves feature a thermoelectric generator that produces electricity from the heat of the fire. The FirePit does not – and that's on purpose.

If we included thermoelectrics in a design of this scale, the unit would cost upwards of $400-$600 and we didn't want to just do tech for tech's sake. Realizing that we wanted the system to still be self-reliant and self-charging, we opted for a solar cover as a companion to the unit. We really want this project to be affordable to as many folks as possible and this was the right energy solution for it.

The 10,400 mAh battery can offer up to 24 hours of airflow, so the intended use case is: you burn throughout a weekend and then toss the cover on for it to recharge during the week. You can also always recharge it in the car, at home, etc, and since this is more intended for beach, cabin, backyard, etc your access to an outlet is a bit more reliable than a backcountry trip (which is why the CampStove/BaseCamp have TEGs).

Lastly, the FirePit is designed to radiate heat, not concentrate it (which is why we have the x-ray mesh benefit), so its intended use and benefit puts it at odds with TEG optimization.  </p>
  	</div>
	</div>

<div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>How does the CampStove 2 work?</span></div>
  	<div class="list-toggle__content">
    	<p>The CampStove 2 burns biomass (sticks, twigs, pellets) to create a small portable fire that burns smokeless while generating usable electricity. Heat from the fire is converted into power via a thermoelectric generator; this runs an internal airflow system that injects the fire with oxygen, enabling your wood fuel to burn clean like gas. Surplus power is sent to the internal battery, enabling you can charge devices via usb either in real-time or whenever you need it (eg even when the fire isn't going). The smokeless flames combine the feel of a campfire with the burner functionality of a traditional camping stove.  </p>
  	</div>
	</div>

<div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>How long does the fire need to burn before the CampStove 2 can charge my device?</span></div>
  	<div class="list-toggle__content">
    	<p>Good news! The CampStove 2 features an on-board 2600mAh battery that you can pre-charge at home via micro USB. That means you can have access to a full phone charge even before you start your first fire. However, if you're out on the trail and you're looking to start charging from scratch, it'll take about 5-10 minutes to get some juice cranking. Use the new LED interface to your advantage: the left-hand orange column represents the strength of your fire. The more orange LEDs lit up, the more power you'll be producing.</p>
  	</div>
	</div>


<div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>How long does it take the CampStove 2 to charge my device?</span></div>
  	<div class="list-toggle__content">
    	<p>The CampStove 2 produces 3 watts of continuous power and features an on-board 2600mAh battery to store your energy. A full battery is enough to provide more than a full phone charge and will charge at the standard speed of a USB charger.</p>
  	</div>
	</div>

<div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>How long does the battery last in the CampStove 2?</span></div>
  	<div class="list-toggle__content">
    	<p>Our Power Packs contain batteries that are designed for years of use when maintained properly. When used regularly, the fire will charge the lithium ion battery for thousands of cycles of use – please contact BioLite if you think your battery needs to be changed beyond normal wear and tear.</p>
  	</div>
	</div>

<div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>How do I start a fire in the CampStove 2 or CookStove?</span></div>
  	<div class="list-toggle__content">
    	<p>Make sure your stove is on level ground away from any overhanging branches. Clear away dry brush on the ground around the stove. Have water handy in case of accident. Place dry sticks, pinecones, or pellets in Fuel Chamber; pack loosely and do not block air jets; right-size your fuel so that sticks do not extend beyond the burn chamber (if our air jets can't get to the fuel, we can't combust the smoke). Your stove comes with included FireStarter, we recommended breaking off a small piece and lighting it with a match and placing gently inside your burn chamber. Turn airflow on lowest setting by pressing button on powerpack twice (introducing too much air in the beginning may snuff out your fire). </p>
      <p> As your fire catches, begin to add larger pieces of fuel for a stronger, sustained fire. Avoid using only small twigs, as they will burn quickly requiring frequent refueling.</p>
  </div>
	</div>

<div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>Do I need to condition the new CampStove 2 PowerPack? </span></div>
  	<div class="list-toggle__content">
    	<p>Nope, but we recommend it to get a head start on your power supply. The new CampStove 2 features an on-board 2600mAh battery that will come partially charged in-package. We recommend charging up the full battery via micro-usb, but it's not required to operate your stove. </p>
  	</div>
	</div>

<div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>My CampStove 2 stopped charging my gear - what's up?</span></div>
  	<div class="list-toggle__content">
    	<p>Check the right (green) column of LEDs on the interface - is only one LED lit? If so, that means your CampStove 2 has shared most of its energy and is saving some reserves to keep the airflow system going. Keep your fire burning strong and the thermoelectric generator will start to fill the battery back up, indicated by the green LEDs starting to light up. </p>
      <p> Green LEDs all full and it's still not charging? Check your cord connection and if it's still not working, contact BioLite</p>
  	</div>
	</div>

<div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>How long does the battery last in my CookStove?</span></div>
  	<div class="list-toggle__content">
    	<p>When fully charged, the CookStove battery can power the fan for approximately 30 hours, the perfect amount of time for a few days off the grid.</p>
  	</div>
	</div>


<div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>Do I need to condition the battery of the CookStove?</span></div>
  	<div class="list-toggle__content">
    	<p>No, the battery of the CookStove does not need to be conditioned. The CookStove does not have a Thermoelectric Generator. It has an internal battery that is used to power the fan. Your CookStove will arrive with the battery partially charged, but we strongly recommend you fully charge the Battery Pack prior to your first outing.
1. Use the included USB cord and plug into an external power source. The port is located at the bottom of your Battery Pack.
2. The LEDs on left will light up and indicated battery levels. The top LED will flash to indicate charging has begun.
3. When all four LEDS are lit and the top light is solid, charging is complete. From an empty battery this will take about 2 hours.</p>
  	</div>
	</div>

<div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>How should I position the CampStove 2 or CookStove if it’s windy?</span></div>
  	<div class="list-toggle__content">
    	<p>If it’s windy, position the stove so the flame is blowing over the stainless steel fuel chamber away from the plastic power module.</p>
  	</div>
	</div>


<div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>What type of cookware should I use with the CookStove and CampStove?</span></div>
  	<div class="list-toggle__content">
    	<p>Choose pots and pans that are no more than 10' inches in diameter and no more than 8 pounds when fully loaded. Any metal cookware (aluminum, stainless steel, titanium) will work with your stove.
Be sure to also check out the BioLite KettlePot and BioLite Portable Grill, two accessories from BioLite specifically designed to work perfectly with the CampStove.</p>
  	</div>
	</div>

<div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>How long will it take to boil water in my CampStove 2 or CookStove?</span></div>
  	<div class="list-toggle__content">
    	<p>The time to boil will depend on the strength of the fire you’ve built. With a strong fire, 1 liter of water can reach a boil in less than 5 minutes.</p>
      <p>Perspective check: boil time is a popular benchmark among gas stoves because, when you're rationing fuel, every second counts. With BioLite Stoves, you have the freedom to use the sticks and twigs around you, allowing you to enjoy your time with your fire rather than worrying about fuel supply.</p>
  </div>
	</div>

<div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>When can I pack the Power Module inside the Fuel Chamber?</span></div>
  	<div class="list-toggle__content">
    	<p>For the CookStove, wait until the fuel chamber is cool before storing the power module inside. This is necessary to protect the plastic from heat. The CampStove has smart logic built in so that the fan stays on until it has cooled down sufficiently. When the fan turns off on its own, that is a good sign you can nest the product. </p>
  	</div>
	</div>


<div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>Do I need to condition the BaseCamp PowerPack?</span></div>
  	<div class="list-toggle__content">
    	<p>No, this step is not necessary with the BaseCamp Stove. The battery within the Power Pack arrives half-charged so the fan will kick on automatically when burning. During your first fire, Please allow three lights to light up on the battery LED display before charging devices.</p>
  	</div>
	</div>


<div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>How do I start the fire in the BaseCamp burn chamber?</span></div>
  	<div class="list-toggle__content">
    	<p>Ever started a small campfire? Then you’re off to a good start. We recommend using small pieces of kindling and some fire starters (included with BaseCamp) to get a nice flame going. Then, work your way up to bigger pieces of wood as your fire grows.</p>
  	</div>
	</div>

<div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>Does the BaseCamp work with non-BioLite cookware?</span></div>
  	<div class="list-toggle__content">
    	<p>Yes! You can use the BaseCamp with your own cookware, kettles and devices. It is not limited to the BioLite Product family.  </p>
  	</div>
	</div>


<div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>Can I use charcoal in the BioLite CampStove 2, CookStove or BaseCamp?</span></div>
  	<div class="list-toggle__content">
    	<p>You can, techincally speaking, but we do not recommend it as an ideal fuel source.
          Charcoal will glow like embers but will not promote complete combustion and you'll be left with a lot of leftover ash and mass at the end of your burn. If you are looking for a standby fuel to have on-hand for your CampStove, we recommend <a href="http://www.bioliteenergy.com/products/biofuel-pellets-value-pack" title="BioLite Wood Pellets">BioLite Foodsafe Fuel Pellets</a> which you can find easily at your local home improvement store. For your BaseCamp, a split piece of firewood works great. </p>
  	</div>
	</div>

<div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>What kind of fuel can I use?</span></div>
  	<div class="list-toggle__content">
    	<p>The BioLite BaseCamp, CampStove 2, and CookStove’s are designed to burn solid biomass only: sticks, twigs, firewood, pinecones, wood chunks, etc.
Like any fire, a good fuel source is the key to starting it correctly and keeping it going easily. You want to make sure you have good dry fuel.
We do not recommend using charcoal. The stoves are specifically optimized to burn wood. The force-draft fan-assisted technology creates a really strong biomass-fueled fire by creating very high temperatures and improving overall combustion. You can technically use charcoal but you'll be left with a lot of ash (way more than if you were using wood) at the end of your fire.</p>
  	</div>
	</div>

<div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>How should I stop the fire?</span></div>
  	<div class="list-toggle__content">
    	<p>Let the fire burn down to cold ash. In the CampStove 2 or CookStove you can expedite the process by putting the fan system on the highest setting. Dig a small hole for the ashes, and pour water over them before covering with dirt.</p>
  	</div>
	</div>




<div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>Can I use a BioLite stove in the rain?</span></div>
  	<div class="list-toggle__content">
    	<p>All of our stoves can be used in damp environments and light rain, but should not be used in heavy rain. Exposure to water can damage the stove's electronics located in the Power Pack. </p>
  	</div>
	</div>


<div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>Can I use my BioLite stove indoors?</span></div>
  	<div class="list-toggle__content">
    	<p>No. The stoves are intended for outdoor use only. </p>
  	</div>
	</div>

<div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>How do I clean my BioLite Stove?</span></div>
  	<div class="list-toggle__content">
    	<p>BaseCamp: You can use a damp rag to clean around the Power Pack. Do not attempt to detach it from the stove body. As with any electronic device, never pour water on it directly.
CampStove 2 & CookStove:
Power module: Remove the plastic power module from the fuel chamber and wipe it down with a damp cloth with soap and water. DO NOT submerge the power module in water or get it excessively wet.
Fuel chamber: Wipe out with a nylon brush as needed. The pot stand at the top of the fuel chamber can be wiped off with a damp cloth and dried well. The fuel chamber can also be washed in a dishwasher. Dry very thoroughly.</p>
  	</div>
	</div>
<br>
<h5 class="primary">Accessories</h5>
<br>
    
 <div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>How does the CoffeePress work?</span></div>
  	<div class="list-toggle__content">
    	<p>The CoffeePress is designed to turn your KettlePot into a french press quickly and easily. Boil up your water, stir in your coffee, let it steep 2-4 minutes, and then press down gently with your CoffeePress. Attach KettlePot top and enjoy!</p>
      <p>Note: do NOT boil water with CoffeePress inside your KettlePot; add it only after you've stirred in your coffee and have removed from flame.</p>
    </div>
	</div>

   <div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>Can the CoffeePress be used with other pots or cookware?</span></div>
  	<div class="list-toggle__content">
    	<p>The CoffeePress is designed specifically for the dimensions of the KettlePot and for use with the CampStove 2 or CookStove. </p>
   	</div>
	</div>

    <div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>Is the Portable Grill really portable? What is the size and weight?</span></div>
  	<div class="list-toggle__content">
    	<p>Yes, it's portable! With the legs folded, the BioLite Portable Grill packs down to 3.5 inches tall by 12 inches wide and weighs only 1.9 pounds. Combined with the CampStove, that puts your whole system around 4 pounds - as a frame of reference, most tabletop grills weigh anywhere from 8-20 pounds on their own, not including the charcoal or propane you'd need to carry.</p>
  	</div>
	</div>

<div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>How does the Portable Grill work?</span></div>
  	<div class="list-toggle__content">
    	<p>Sitting directly on top of the BioLite CampStove burn chamber, the Fuel Intake Lid from the BioLite Portable Grill allows you to directly feed the fire while continuing to cook your food. Close the lid and the flames are spread up through the grill body. The vortex flame of the CampStove creates three temperature zones (HI, MED, LO) satisfying any typical grilling need. You can see more about the component parts on the Portable Grill Product Page.</p>
  	</div>
	</div>

<div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>How do I add wood to the fire while I'm cooking on the Portable Grill?</span></div>
  	<div class="list-toggle__content">
    	<p>All you need to do is lift the lid (careful, it will be hot!) and put wood in the chimney. Close the lid and the flames will be spread throughout the grill body.</p>
  	</div>
	</div>


<div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>Can I put small pots and pans directly on top of the Portable Grill?</span></div>
  	<div class="list-toggle__content">
    	<p>The BioLite Portable Grill is designed to have only food placed directly on top of the grill. Pots and pans may cause damage to the grill, so proceed at your own discretion as it may void your warranty.</p>
  	</div>
	</div>


<div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>Can the Portable Grill be used with other fires or heat sources?</span></div>
  	<div class="list-toggle__content">
    	<p>No, the BioLite Portable Grill is intended for use with the BioLite CampStove only.
Improper usage can result in damage to the product or personal injury. (don't do it!)</p>
  	</div>
	</div>


<div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>Where do drippings go if I'm cooking meat?</span></div>
  	<div class="list-toggle__content">
    	<p>The BioLite Portable Grill is designed to sit directly in the CampStove Fuel Chamber - thanks to the sloped Grill Body, drippings run down and burn off in CampStove fire. As with any grill, please use caution when cooking fatty foods as these can result in flare ups.</p>
  	</div>
	</div>

<div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>My Grill isn't shiny any more. Is that normal?</span></div>
  	<div class="list-toggle__content">
    	<p>It is absolutely normal for discoloration to occur after using the BioLite Portable Grill. This is due to exposing the materials to extreme heat differentials; it will not affect the performance of the grill at all. To minimize oxidation, always dry the Grill thoroughly after cleaning and keep the Plastic Cover on when not in use.</p>
  	</div>
	</div>

<div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>How do I clean the Portable Grill?</span></div>
  	<div class="list-toggle__content">
    	<p>The Grill body, Flame Spreader, and Grill Grate can be cleaned with warm soap and water. Dry immediately after cleaning. If necessary, use a scouring sponge for stubborn grease. Store in dry area and keep Plastic Travel Cover on when not in use.</p>
  	</div>
	</div>

<div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>Can I use the KettlePot and Portable Grill at the same time?</span></div>
  	<div class="list-toggle__content">
    	<p>We don't recommend it. While both the KettlePot and Portable Grill are designed to work with the BioLite CampStove, they must be used separately for optimal operation. If you try to use both at the same time on the CampStove, you may end up not providing enough heat to either device. </p>
  	</div>
	</div>

<div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>Does the KettlePot attach to the CampStove and CookStove?</span></div>
  	<div class="list-toggle__content">
    	<p>The BioLite KettlePot is designed to sit on top of the CampStove and CookStove with a stablizing center ring, but does not physically attach to the stove itself. This facilitates easy removal and re-fueling when necessary</p>
  	</div>
	</div>


<div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>Can the KettlePot be used on other stoves?</span></div>
  	<div class="list-toggle__content">
    	<p>Yes. The KettlePot has been designed to work seamlessly with the BioLite CampStove, but it can be used with other stoves. Please assess the stability of your non-BioLite Stove before use. </p>
  	</div>
	</div>


<div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>What is the StickSnapper?</span></div>
  	<div class="list-toggle__content">
    	<p>The StickSnapper is a lightweight multi-tool to snap tough sticks and open bottles. It provides the perfect leverage to snap sticks in a cinch!</p>
  	</div>
	</div>


<div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>What are the benefits of using BioFuel Pellets?</span></div>
  	<div class="list-toggle__content">
    	<p>Our pellets are a premium blend of food-safe hardwoods. Hardwood burns much slower and more efficiently than other natural biofuels. It lasts longer, so you won’t have to be frequently adding sticks. A single bag provides 2 hours of cooking time with minimal refueling, the equivalent of 2 gas canisters.</p>
  	</div>
	</div>


<br>
<h5 class="primary">Lighting</h5>
<br>

<div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>What is the BioLite NanoGrid?</span></div>
  	<div class="list-toggle__content">
    	<p>The NanoGrid is BioLite's lighting line that you can mix and match to build your own custom off-grid light & power combination. The system is currently made up of three edge-lit rechargeable lanterns and three daisy-chainable stringlight designs:</p>
      <br />
      <p>Lanterns: The wearable <a href="http://www.bioliteenergy.com/products/powerlight-mini" title="BioLite PowerLight Mini">PowerLight Mini</a>, the combination flashlight/lantern <a href="http://www.bioliteenergy.com/products/powerlight" title="BioLite PowerLight Flashlight and Lantern"> PowerLight</a>, and the bluetooth enabled <a href="http://www.bioliteenergy.com/products/baselantern-xl" title="BioLite Bluetooth BaseLantern"> BaseLantern</a>, which takes the smartgrid off-grid. </p>
      <br />
      <p>Stringlights: Instant setup <a href="http://www.bioliteenergy.com/products/sitelight-mini" title="BioLite SiteLight Mini Outdoor Stringlights">SiteLight Mini</a>, the tasklight-perfect <a href="http://www.bioliteenergy.com/products/sitelight" title="Biolite SiteLight Outdoor Stringlight"> SiteLight</a>, and the <a href="http://www.bioliteenergy.com/products/sitelight-xl" title="Biolite SiteLight XL full moon outdoor stringlight"> SiteLight XL</a> which puts a full moon right in your pocket.</p>
      <br />
      <p>Everyone's campsite is different - the NanoGrid allows you to pick the right light for the job</p>
    </div>
	</div>
<div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>How big are the batteries for each BioLite lantern?</span></div>
  	<div class="list-toggle__content">
    	<p>PowerLight Mini: 1350 mAh (half a phone charge boost)</p>
      	<p>PowerLight: 4400 mAh (2+ phone charges)</p>
      	<p>BaseLantern: 7800 mAh (3-4 phone charges)</p>
      	<p>BaseLanternXL: 12000 mAh (6 phone charges)</p>

  </div>
	</div>

<div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>What is the run time for each BioLite lantern?</span></div>
  	<div class="list-toggle__content">
    	<p>PowerLight Mini: 52 hours LO | 5 hours HI | 135 Lumens</p>
      	<p>PowerLight: 72 hours LO | 6.5 hours HI | 200 Lumens (Lantern mode)</p>
      	<p>BaseLantern: 54 hours LO | 5 hours HI | 500 Lumens</p>
      	<p>BaseLanternXL: 78 hours LO | 7.5 hours HI | 500 Lumens</p>
  	</div>
	</div>

<div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>What can I do with the BaseLantern bluetooth app?</span></div>
  	<div class="list-toggle__content">
    	<p>The free BaseLantern bluetooth app, available for both iOS and Android, enables you to unlock a whole host of great features like real-time battery feedback, color spectrm control, sleep timers and alarms, and proximity activation. Our low-energy setting means you can run the app while using very little power from your phone.</p>
     <br />
      <p>Check out the video below for a brief walk-thru of the app:</p>
    <br />
      <iframe width="560" height="315" src="https://www.youtube.com/embed/QS8593KmVAM?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
  </div>
	</div>

<div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>How do I access Party Mode on my BaseLantern?</span></div>
  	<div class="list-toggle__content">
      <p>To access lantern effects like Party Mode where colors rotate seamlessly, you'll need to download the free <a href="http://www.bioliteenergy.com/pages/baselantern-app" title="BioLite BaseLantern App" target="_blank"> BioLite BaseLantern app</a>. From there, pair your BaseLantern and it'll take you to homebase. Tap on the "+" icon at the bottom of the screen and that's where you'll find Party Mode and other effects.</p>
     <br />
      <p>To see it on screen, check out the 0:45 mark in the video below</p>
    <br />
	<iframe width="560" height="315" src="https://www.youtube.com/embed/QS8593KmVAM" frameborder="0" allowfullscreen></iframe>
  </div>
	</div>

<div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>Can I pair the BaseLantern with more than one phone?</span></div>
  	<div class="list-toggle__content">
      <p>Yup, you can pair your BaseLantern with multiple phones (but note you can't control BaseLantern from multiple phones <em>at the same time</em>). However, if you're using a new phone that has not been previously paired, you'll need to re-name it on that device. </p>
   </div>
	</div>

<div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>Can my phone control multiple BaseLanterns?</span></div>
  	<div class="list-toggle__content">
      <p>Yes, but it will require toggling (eg disconnecting and re-pairing with another unit). If you're using multiple BaseLanterns at your campsite, we recommend re-naming your BaseLanterns according to their location at your site ("BaseLantern Picnic Table," "BaseLantern Tree," that sort of thing). That way you can easily identify and pair with the BaseLantern you're looking to control.</p>
   </div>
	</div>

 <div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>How big is the BaseLantern?</span></div>
  	<div class="list-toggle__content">
      <p> The BaseLantern and BaseLantern XL are the same size, 5.08 x 5.0 x 1.73 in -- that's roughly the size of a sandwich you pack for lunch.</p>
      <p> The BaseLantern puts out an impressive 500 lumens and houses an internal battery capable of powering your gear and lighting your site. The secret is in BioLite's edge-lighting technology which removes wasted space found in traditional lanterns.</p>
     <br />
      <p>Check out the video below for a brief walk-thru of how we use edge-lighting to create big light in a small form</p>
    <br />
      <iframe width="560" height="315" src="https://www.youtube.com/embed/1x0L_1zKaFc?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
  </div>
	</div>

<div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>What is the difference between the PowerLight and the PowerLight Mini?</span></div>
  	<div class="list-toggle__content">
      <p> The <a href="http://www.bioliteenergy.com/products/powerlight-mini" title="powerlight mini wearable lantern"> PowerLight mini </a> is a personal light designed for everyday carry, serving as a backup boost of power during your travels or a bikelight on your weekday commute. As a wearable lantern, it's a great headlamp alternative at the campsite.</p>
      <p> The <a href="http://www.bioliteenergy.com/products/powerlight" title= "powerlight USB flashlight and lantern"> PowerLight </a> is a 3-in-1 torch, lantern, and USB powerbank that offers great multi-functional utility at your campsite. Hang it like a bulb, angle it like a tasklight, or keep it in your pocket as your go-to flashligt.</p>
  </div>
	</div>



<div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>How many lighting modes does the PowerLight Mini have?</span></div>
  	<div class="list-toggle__content">
    	<p>The PowerLight Mini has 4 lighting modes;  White Lantern, Red Night Vision, Red/White Strobe, and White Point.</p>
  	</div>
	</div>

<div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>Can I use SiteLights with my PowerLight Mini?</span></div>
  	<div class="list-toggle__content">
    	<p>Yes, starting in 2017, all SiteLights will come with a USB adapter, meaning you can power it from any USB power-out, including the PowerLight Mini. However, please note that only PowerLight and BaseLantern will enable dimming capabilities with your SiteLights.</p>
  	</div>
	</div>

<div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>How do I mount the PowerLight Mini onto my bike?</span></div>
  	<div class="list-toggle__content">
    	<p>[1] ​Slide the black clamp onto the handlebar or seat post of your bike. Line the interior with the included rubber shims to customize the fit.
[2] ​When clamp is secure, use a phillips head screwdriver (not included) to attach the
rectangular mount to the clamp.
[3] ​The PowerLight Mini clip stand clips into the mount. To remove the PowerLight Mini from the
bike mount, push the lever.</p>
  	</div>
	</div>


<div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>My BioLite lantern cycles through lighting modes then shuts off – what's happening?</span></div>
  	<div class="list-toggle__content">
    	<p>Your light is in demo mode. Your light comes pre-programmed to quickly showcase all its lighting features so you can try it in-stores without running down the battery. To disable demo mode, press the power button down for ten seconds or plug your light into a USB charge-in source.
</p>
  	</div>
	</div>

 <div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>When I try to turn my lantern on it just flashes quickly and turns off – what's happening?</span></div>
  	<div class="list-toggle__content">
		<p>Your light is in Locked Mode: this mode is intended to prevent your light from accidentally turning on in your bag, say during a hike or transit, and wasting all your battery life. To disable Locked Mode, just press and hold the power button for 3-4 seconds. The lantern will flash quickly and you should be able to resume normal usage.</p>
      <p> If you cannot get out of Locked Mode, contact BioLite - we'll be happy to help.</p>
  	</div>
	</div>

<div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>How do I clean my light?</span></div>
  	<div class="list-toggle__content">
    	<p>You can use a damp rag to clean any dirt from the PowerLight Mini, PowerLight, or SiteLights. As with any electronic device, never pour water on it directly or submerge the product in water. </p>
  	</div>
	</div>

<br>
<h5 class="primary">Solar Panels & USB Power Banks</h5>
<br>    

<div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>What is the difference between the SolarPanel 5, 5+, and 10+ models?</span></div>
  	<div class="list-toggle__content">
      <p>Wattage and storage. The 5 and 5+ produce 5 watts of power on a single panel while the 10+ produces 10 watts across a folding dual-panel design. The "+" represents power storage, meaning that the 5+ and 10+ both integrate on-board batteries so you can store your energy from the sun for when you need it (say you want to charge up your gear at the end of the day when the sun is down). All models come with the Optimal Sun System designed to make your orientation to the sun super simple and intuitive.</p>
  </div>
	</div>

<div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>How big are the batteries inside the SolarPanel 5+ and 10+?</span></div>
  	<div class="list-toggle__content">
    	<p>SolarPanel 5+: 2200mAh (1 full phone charge)</p>
      <p>SolarPanel 10+: 3000mAh (1.5 full phone charges)</p>
  	</div>
	</div>


<div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>Will the SolarPanel 5/5+ charge if it is cloudy out?</span></div>
  	<div class="list-toggle__content">
    	<p>The SolarPanel 5 comes equipped with a unique function called auto-reconnect. If a cloud passes over the sun, disrupting your charge, the SolarPanel will automatically reconnect once the cloud goes away. If it is very cloudy out, with no sun, the Solar Panel will not charge. The SolarPanel 5+ will continue charging your device via its onboard battery, so if there is power in the battery, it will continue to charge in cloudy conditions.</p>
  	</div>
	</div>


<div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>Can the SolarPanel 5 or 5+ be daisy-chained?</span></div>
  	<div class="list-toggle__content">
    	<p>No, the SolarPanel 5 and the SolarPanel 5+ are not chainable. </p>
  	</div>
	</div>



<div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>I placed my SolarPanel on my car’s dashboard to capture sun, but it’s not generating power. Why?</span></div>
  	<div class="list-toggle__content">
    	<p>Glass blocks some solar energy. If there's a glass layer over a solar panel, it has to be a special variety known as low iron glass, and windshield glass is not the same. However, if you are trying to charge in your car, the more likely culprit is the heat inside the car. Solar panels get less efficient as they heat up (part of our reason for designing the panel to be very thin).  If it's in an enclosed space like a car with nowhere for the heat to escape, that could slow things down considerably.</p>
  	</div>
	</div>


<div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>How do I clean my SolarPanel?</span></div>
  	<div class="list-toggle__content">
    	<p> Simply wipe away the dirt with a damp cloth. The Solar Panel 5+ is weather resistant. Do not leave out in rain for prolonged period of time and do not submerge in water.</p>
  	</div>
	</div>


<div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>What's the best way to produce electricity on the KettleCharge?</span></div>
  	<div class="list-toggle__content">
    	<p>Fill the KettleCharge with cold water and place it over a strong concentrated flame. It's all about getting a strong heat transfer from your hot surface. Things like gas burners, backpacking stoves, or the BioLIte CampStove work excellently, while more dispersed surfaces like a hot plate or electric range work less well.</p>
  	</div>
	</div>

<div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>Can you charge the Power Handle via USB like the CampStove?</span></div>
  	<div class="list-toggle__content">
    	<p>Yes, you can, but this is not required. You should do this only if the battery in your KettleCharge's handle has been fully discharged and you do not see any LED lights being activated even when you place over a heat source. Plug the double-sided USB cord (found with your CampStove) into the power handle and your computer and charge for 15 minutes max.</p>
  	</div>
	</div>

<div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>Can I use the KettleCharge over a campfire?</span></div>
  	<div class="list-toggle__content">
    	<p>No. The KettleCharge is to be used over concentrated, controlled flames only. NEVER use over an open fire. Really, do not do it.</p>
  	</div>
	</div>

<div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>When does the KettleCharge begin to produce power?</span></div>
  	<div class="list-toggle__content">
    	<p>You'll be able to tell by the battery LEDs located on the left hand side of the power handle.
Fill it with water, place it over a strong flame, and electricity generation will begin within minutes.
If you do not see the LEDs activating and you have it over a strong flame with water inside the body, try re-conditioning the Power Handle with a double-sided USB cord for 15 minutes.</p>
  	</div>
	</div>

<div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>Does the water have to be boiling to produce power?</span></div>
  	<div class="list-toggle__content">
    	<p>Nope. The thermoelectric generator is working on of a difference in temperature between your flame and the water, so bringing the water to boil is not necessary for electricity production to begin. In fact, the KettleCharge can still produce the full 10W even when water is at a full boil as the temperature of the water is still much lower than the flame.</p>
  	</div>
	</div>


<div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>Should I let the water boil off if I just want electricity?</span></div>
  	<div class="list-toggle__content">
    	<p>We designed it so that when the water is boiling you can still generate 10W -- in fact, when you are starting with super cold water, the device may generate MORE than 10W in the beginning, but we wanted to make sure that we communicated a claim that was achievable with hot water since that's the purpose of a kettle. So, if you bring your water to a boil, you can keep it boiling for as long as you like (just don't go below the MIN FILL line) and generate 10W of continuous power.</p>
  	</div>
	</div>


<div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>What happens if I leave the KettleCharge on heat without water inside?</span></div>
  	<div class="list-toggle__content">
    	<p>Leaving the KettleCharge over a flame with no water will damage the product. We have a built in warning system to alert you to low water levels, so stay within earshot of the KettleCharge when in use. Always keep water above the MIN fill line to protect your KettleCharge.</p>
  	</div>
	</div>

<div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>How do you clean the KettleCharge?</span></div>
  	<div class="list-toggle__content">
    	<p>The KettleCharge is designed for use with water only. If using the KettleCharge frequently and you would like to descale your kettle, bring the KettleCharge to a boil with water and the juice of one lemon.
For the outside of your KettleCharge, wipe down with a damp rag. Never submerge in water.</p>
  	</div>
	</div>



<div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>My KettleCharge stopped working - what can I try?</span></div>
  	<div class="list-toggle__content">
    	<p>It may be that a low heat source has ‘tricked’ the unit to stay on for too long after the battery was fully discharged. The good news is, there's a way to fix it by reconditioning the battery located on the power handle:
1) Using a double-sided USB cord, plug the power handle into a charging USB port (your computer works great). If you're a CampStove user, this cord is the yellow cord you use to condition the power module; if you don't own a CampStove or lost the cord, I'm happy to send you one of these cords, please let me know.
2) Keep the power handle plugged in for 15 minutes. This should jumpstart the battery and bring it back to life; you should see the LEDs light up in a sequence. And just like any battery, you want to avoid overcharging -- unplug it at 15 minutes, try not to go beyond that.
3) After that, you should start to see the lights functioning again on the battery side of the LED panel. The unit should work normally, i.e. a button press should wake the unit up, it should respond to heat, etc.  The battery will start empty so only 1 battery LED will be showing initially. When you fill with water and place on a stove, the heat side should begin to light up as well -- and your KettleCharge is back in business.</p>
  	</div>
	</div>


  </div>



  <!--*********EMERGING MARKETS***************-->

  <div class="grid__item large--two-thirds mt30"> <a name="emergingmarkets" title="Emerging markets"></a>
    <h4 class="primary">Emerging Markets</h4>

   <div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>How do Emerging Markets and Outdoor Recreation work together?</span></div>
  	<div class="list-toggle__content">
    	<p>As you visit the product pages on our website, click on the Parallel Innovation banners to see more about how our core technologies are commercialized across both outdoor and emerging markets. Our product engineers work on both lines and are dedicated to bringing you the best experience possible. Currently the sales of our Outdoor Recreational division help us do the work we do with HomeStove in developing communities. If you've made a purchase on our site, you can know that you’re helping contribute to clean energy solutions around the world.</p>
  	</div>
	</div>


<div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>I’d like to become a HomeStove partner - what do I do?</span></div>
  	<div class="list-toggle__content">
    	<p>BioLite is currently conducting large-scale commercial trials for the HomeStove with predetermined partners in India and Sub-Saharan Africa. At this time we are not looking to retail the HomeStove or partner with additional organizations outside of these commitments, but we will be seeking future partners in the coming years as we scale our distribution in 2014 and beyond.
If you or your organization would be interested in partnering with us in the future, please take a moment to fill out this partner form so that we can include you in our database and update you in the months ahead.
For smaller distributors and program partners, we would still love to hear from you as we look to scale further in the coming years. Please fill out the above survey so that we can include you in our growing partnership database.</p>
  	</div>
	</div>


<div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>Can I donate a HomeStove?</span></div>
  	<div class="list-toggle__content">
    	<p>First off, thank you for your support and your interest in helping us bring clean cooking solutions to communities that need it most.
Check out this video on why we do not follow a donation model.</p>
  	</div>
	</div>



  </div>

  <!--*********GENERAL INQUIRIES***************-->

  <div class="grid__item large--two-thirds mt30"> <a name="generalinquires" title="General enquiries"></a>
    <h4 class="primary">General Inquiries</h4>

 <div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>How did BioLite start?</span></div>
  	<div class="list-toggle__content">
    	<p>BioLite started back in 2006 as a side project for founders Alec Drummond and Jonathan Cedar who were inspired to find a better way to design a camping stove. Frustrated by carrying bulky gas canisters and feeling like there was a disconnect between being in the outdoors and using fossil fuels, Jonathan and Alec wanted to find a way to cook with wood, but in a smarter, more efficient way.
In 2009, after 3 years of tinkering on the weekends, they had a fully functioning prototype of a wood-burning camping stove and took it to the Ethos Wood Combustion Conference. There, they quickly learned that their technology had the opportunity to achieve much greater impact than they realized; half the planet still cooks on smoky open fires leading to 4 million premature deaths annually. Using the core technology found in the CampStove, Alec and Jonathan bifurcated the business and developed an Emerging Markets division dedicated to designing solutions to alleviate global energy poverty. This took form in The BioLite HomeStove, a forced draft cookstove designed to replace these dangerous indoor fires.</p>
  	</div>
	</div>

<div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>A lot of BioLite products use ‘Thermoelectrics’ - What is that?</span></div>
  	<div class="list-toggle__content">
    	<p>BioLite uses a core technology called Thermoelectrics which captures waste heat and converts it into usable electricity.
The CampStove, BaseCamp, and HomeStove house a thermoelectric generator inside their orange Power Packs. The heat generated by their fires are converted into electricity which automatically recharges a small lithium ion starter battery, which, much like a car, kick-starts an internal fan. This fan creates airflow, which, in conjunction with our uniquely designed fuel chamber, creates an ultra-efficient and nearly smokeless fire. Surplus electricity generated goes to a USB outlet allowing you to charge small electronic devices.
The KettleCharge uses thermoelectrics as well, just with a slightly different configuration. The thermoelectric generator is located on the base of the Kettle and is activated by the presence of a concentrated flame under your KettleCharge. The water in your KettleCharge serves as a heat sink, drawing heat through the TEG and producing 10W of electricity.</p>
  	</div>
	</div>

<div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>I don’t really go camping- can BioLite work for me?</span></div>
  	<div class="list-toggle__content">
    	<p>BioLite is more than just camping – beyond the additions of tailgating or a portable bonfire, we’re also a great resource for emergency readiness. With BioLite, you can stay charged when power lines are down or purify water in a snap.</p>
  	</div>
	</div>

<div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>Where can I find instruction manuals?</span></div>
  	<div class="list-toggle__content">
    	<p>We have instruction manuals for all of our products. Please find them under the ‘Support’ menu on the bottom of our website or go to www.bioliteenergy.com/pages/product-manuals.</p>
  	</div>
	</div>

<div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>Can I order replacement parts?</span></div>
  	<div class="list-toggle__content">
    	<p>We do not offer separate component parts at this time. With proper care and maintenance, your BioLite product is designed to be used for years of use.
If you have any questions or issues with your BioLite products, please contact us at support@bioliteenergy.com. If you are within your warranty window you may be eligible for a full product replacement.</p>
  	</div>
	</div>

<div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>Is the HomeStove available for purchase?</span></div>
  	<div class="list-toggle__content">
    	<p>The HomeStove is currently not available for individual retail purchase.
Our HomeStove commercial distribution is focused on bringing it to families living in energy poverty across India and Sub-Saharan Africa. You can learn more about our work, and your impact through supporting BioLite, here.
In 2014 we launched the BioLite BaseCamp, a large-format stove and grill that shares the same body as the HomeStove but with a few key design changes optimizing it for outdoor recreation. This is available for purchase!</p>
  	</div>
	</div>

<div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>I have a BioLite story to share- where do I send it?</span></div>
  	<div class="list-toggle__content">
    	<p>We’d love to see it. There are two ways to get your BioLite story published:
Option 1 - Instagram
Already planning to post your pic to Instagram? Perfect, include the hashtags #BioLite or #EnergyEverywhere with our handle @biolitestove - you may see yourself in a future #ReGram from BioLite!
Option 2 - Email
Looking to share a longer form story? Please email us photos, links to video, recipes, etc. at stories@bioliteenergy.com. Don’t forget to give us the location and date (month, year) of where you were! This might make its way onto our website or into a BioLite Roundup published on our Facebook page.</p>
  	</div>
	</div>

<div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>I want to work at BioLite- what should I do next?</span></div>
  	<div class="list-toggle__content">
    	<p>Awesome! We’re always looking for smart people. Check out our Careers Page for openings and application directions.
And since you're already here, here's an insider tip: we really appreciate applicants who take some time to familiarize themselves with our website, our mission, and our latest news. </p>
  	</div>
	</div>


<div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>Is BioLite public? Can I purchase stock in the company?</span></div>
  	<div class="list-toggle__content">
    	<p>BioLite is a privately held company. You cannot purchase stock at this time. (But thanks for asking!)</p>
  	</div>
	</div>


<div class="list-toggle mb20">
      <div class="list-toggle__title" data-control-sibling="" tabIndex="0" data-control-toggle-icons="fa-plus-circle, fa-minus-circle"><i class="fa fa-plus-circle"></i> <span>I did not find the answer to my question, how can I reach you?</span></div>
  	<div class="list-toggle__content">
    	<p>We have lots of other FAQs in our expanded section (See left-hand bar) that can direct you to a variety of categories. We have answers for everything from how to properly clean a CampStove to how to share stories of your own with BioLite.
Please help us manage email volume by visiting the rest of our FAQ section before sending a message to the BioLite Support Team. If you have an inquiry that has not been addressed, we will be more than happy to answer.</p>
  	</div>
	</div>




  </div>
</div>
<section class="jumbotron mb50">
  <div class="wrapper text-center">
    <h3 class="alt baseline mb10">Still Have Questions?</h3>
    <h6 class="light baseline">If you didn't find answers in our FAQ section, send us a message!</h6>
    <a href="/pages/contact/#contactFormWrapper" class="btn btn-primary mt30" title="Contact us">  <span>Contact Us</span> </a> </div>
</section>
